### PROYECTO: AGRICULTURA Y SEGURIDAD ALIMENTARIA EN EL PERÚ

* En esta segunda parte del Proyecto se obtuvieron los datos con el API del Banco Central de Reserva del Perú y se importaron datos del Sistema Integrado de Estadística Agraria (SIEA) del Ministerio de Desarrollo Agrario y Riego del Perú. La información que se extrajo está relacionada con la producción agrícola y pecuaria por cada despartamento del Perú y por año, a fin de conocer la evolución de los pincipales cultivos agropecuarios que caracterizan al Perú.

In [1]:
# IMPORTANDO DATOS DEL 2019 DEL SISTEMA INTEGRADO DE ESTADÍSTICA AGRARIA (SIEA) - MINISTERIO DE DESARROLLO AGRARIO Y RIEGO

In [1]:
import pandas as pd
file = "PRODUCCION AGRICOLA POR DEPARTAMENTO 2019.csv"
produccion_agricola_dpto = pd.read_csv(file)
produccion_agricola_dpto.head()

,Regi�n,Acelga,Aj�,Ajo,Albahaca,Apio,Arracacha,Arroz cascara,Arveja grano seco,Arveja grano verde,...,Avena forrajera,Braquearia,Cebada forrajera,Grama azul,Grama chilena,Gramalote,Ma�z chala,Pasto elefante,Rye grass,Trebol
0,Amazonas,8,269,9,0,0,"7,134","468,946",62,"1,401",...,0,"2,233,755",0,"439,413","294,590","620,406",0,"1,914,433","207,465","322,697"
1,�ncash,402,602,319,0,549,0,"65,996","1,456","1,899",...,0,0,0,0,0,0,583,0,0,0
2,Apur�mac,0,79,435,107,0,0,0,"2,798","4,102",...,794,0,539,0,0,0,0,127,"88,135","117,614"
3,Arequipa,"2,014","2,622","56,700","2,125","5,966",0,"278,894",7,"14,419",...,350,0,447,0,0,0,"15,313",0,"1,179",0
4,Ayacucho,0,81,"1,725",0,915,0,91,"5,806","5,209",...,"7,562",0,95,0,0,0,0,0,0,0

In [10]:
# Verificar si hay valores nulos
produccion_agricola_dpto1=produccion_agricola_dpto.isnull()
produccion_agricola_dpto1

,Regi�n,Acelga,Aj�,Ajo,Albahaca,Apio,Arracacha,Arroz cascara,Arveja grano seco,Arveja grano verde,...,Avena forrajera,Braquearia,Cebada forrajera,Grama azul,Grama chilena,Gramalote,Ma�z chala,Pasto elefante,Rye grass,Trebol
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [11]:
# Exportar los datos en formato csv 
produccion_agricola_dpto1.to_csv('Data_produccion_agricola_dpto.csv', index = True)

In [ ]:
# EXTRACCIÓN DE DATOS USANDO API - BANCO CENTRAL DE RESERVA DEL PERÚ

In [ ]:
# DATOS DE PRODUCCIÓN AGRÍCOLA DE PAPA

In [12]:
url_base="https://estadisticas.bcrp.gob.pe/estadisticas/series/api/"
cod_ser="PN01777AM"
formato="/json"
per="/2003-1/2020-12"
url=url_base+cod_ser+formato+per
print(url)

https://estadisticas.bcrp.gob.pe/estadisticas/series/api/PN01777AM/json/2003-1/2020-12

In [13]:
import requests
response=requests.get(url)
print(response)

<Response [200]>

In [14]:
# extraer en formato json
response_json=response.json()
print(response_json)

{'config': {'title': 'ProducciÃ³n agropecuaria (miles de toneladas)', 'series': [{'name': 'ProducciÃ³n agropecuaria (miles de toneladas) - AgrÃ\xadcola - Papa', 'dec': '1'}]}, 'periods': [{'name': 'Ene.2007', 'values': ['190.592479']}, {'name': 'Feb.2007', 'values': ['241.405607']}, {'name': 'Mar.2007', 'values': ['330.847567']}, {'name': 'Abr.2007', 'values': ['657.989855']}, {'name': 'May.2007', 'values': ['651.058632']}, {'name': 'Jun.2007', 'values': ['309.096657']}, {'name': 'Jul.2007', 'values': ['108.062859']}, {'name': 'Ago.2007', 'values': ['126.916758']}, {'name': 'Sep.2007', 'values': ['152.834416']}, {'name': 'Oct.2007', 'values': ['201.72759']}, {'name': 'Nov.2007', 'values': ['211.677825']}, {'name': 'Dic.2007', 'values': ['200.81015']}, {'name': 'Ene.2008', 'values': ['198.085504']}, {'name': 'Feb.2008', 'values': ['246.014885']}, {'name': 'Mar.2008', 'values': ['351.198809']}, {'name': 'Abr.2008', 'values': ['679.367664']}, {'name': 'May.2008', 'values': ['708.072857']}, {'name': 'Jun.2008', 'values': ['362.020655']}, {'name': 'Jul.2008', 'values': ['145.549604']}, {'name': 'Ago.2008', 'values': ['145.72163']}, {'name': 'Sep.2008', 'values': ['155.958043']}, {'name': 'Oct.2008', 'values': ['204.541091']}, {'name': 'Nov.2008', 'values': ['206.019695']}, {'name': 'Dic.2008', 'values': ['194.540602']}, {'name': 'Ene.2009', 'values': ['161.889524']}, {'name': 'Feb.2009', 'values': ['213.390739']}, {'name': 'Mar.2009', 'values': ['374.276337']}, {'name': 'Abr.2009', 'values': ['696.600406']}, {'name': 'May.2009', 'values': ['820.36638']}, {'name': 'Jun.2009', 'values': ['372.007346']}, {'name': 'Jul.2009', 'values': ['177.429697']}, {'name': 'Ago.2009', 'values': ['177.420678']}, {'name': 'Sep.2009', 'values': ['167.731838']}, {'name': 'Oct.2009', 'values': ['181.347139']}, {'name': 'Nov.2009', 'values': ['214.412649']}, {'name': 'Dic.2009', 'values': ['208.415868']}, {'name': 'Ene.2010', 'values': ['201.858968']}, {'name': 'Feb.2010', 'values': ['226.140084']}, {'name': 'Mar.2010', 'values': ['350.433354']}, {'name': 'Abr.2010', 'values': ['728.840528']}, {'name': 'May.2010', 'values': ['813.790837']}, {'name': 'Jun.2010', 'values': ['329.734331']}, {'name': 'Jul.2010', 'values': ['169.821212']}, {'name': 'Ago.2010', 'values': ['116.908369']}, {'name': 'Sep.2010', 'values': ['160.537972']}, {'name': 'Oct.2010', 'values': ['199.09833']}, {'name': 'Nov.2010', 'values': ['264.613658']}, {'name': 'Dic.2010', 'values': ['243.68539']}, {'name': 'Ene.2011', 'values': ['196.582942']}, {'name': 'Feb.2011', 'values': ['242.952213']}, {'name': 'Mar.2011', 'values': ['333.079692']}, {'name': 'Abr.2011', 'values': ['747.552866']}, {'name': 'May.2011', 'values': ['887.218433']}, {'name': 'Jun.2011', 'values': ['438.659893']}, {'name': 'Jul.2011', 'values': ['210.063818']}, {'name': 'Ago.2011', 'values': ['149.501607']}, {'name': 'Sep.2011', 'values': ['150.505809']}, {'name': 'Oct.2011', 'values': ['204.345244']}, {'name': 'Nov.2011', 'values': ['239.39835']}, {'name': 'Dic.2011', 'values': ['272.59429']}, {'name': 'Ene.2012', 'values': ['206.01601']}, {'name': 'Feb.2012', 'values': ['251.801788']}, {'name': 'Mar.2012', 'values': ['350.095444']}, {'name': 'Abr.2012', 'values': ['775.806746']}, {'name': 'May.2012', 'values': ['1023.127995']}, {'name': 'Jun.2012', 'values': ['578.241494']}, {'name': 'Jul.2012', 'values': ['240.029204']}, {'name': 'Ago.2012', 'values': ['155.161428']}, {'name': 'Sep.2012', 'values': ['181.291668']}, {'name': 'Oct.2012', 'values': ['189.020733']}, {'name': 'Nov.2012', 'values': ['259.85514']}, {'name': 'Dic.2012', 'values': ['264.265004']}, {'name': 'Ene.2013', 'values': ['223.410309']}, {'name': 'Feb.2013', 'values': ['255.001073']}, {'name': 'Mar.2013', 'values': ['411.674025']}, {'name': 'Abr.2013', 'values': ['843.000028']}, {'name': 'May.2013', 'values': ['1058.692823']}, {'name': 'Jun.2013', 'values': ['487.566231']}, {'name': 'Jul.2013', 'values': ['195.990938']}, {'name': 'Ago.2013', 'values': ['142.389129']}, {'name': 'Sep.2013', 'values': ['173.630396']}, {'name': 'Oct.2013', 'values': ['216.923823']}, {'name': 'Nov.2013', 'values': ['266.60828']}, {'name': 'Dic.2013', 'values': ['302.38141']}, {'name': 'Ene.2014', 'values': ['234.44979']}, {'name': 'Feb.2014', 'values': ['264.328031']}, {'name': 'Mar.2014', 'values': ['403.147743']}, {'name': 'Abr.2014', 'values': ['869.301814']}, {'name': 'May.2014', 'values': ['1083.598144']}, {'name': 'Jun.2014', 'values': ['492.206212']}, {'name': 'Jul.2014', 'values': ['218.133366']}, {'name': 'Ago.2014', 'values': ['151.368398']}, {'name': 'Sep.2014', 'values': ['196.325214']}, {'name': 'Oct.2014', 'values': ['245.538125']}, {'name': 'Nov.2014', 'values': ['272.910958']}, {'name': 'Dic.2014', 'values': ['273.67964']}, {'name': 'Ene.2015', 'values': ['215.231469']}, {'name': 'Feb.2015', 'values': ['259.182028']}, {'name': 'Mar.2015', 'values': ['419.349664']}, {'name': 'Abr.2015', 'values': ['917.74557']}, {'name': 'May.2015', 'values': ['1113.671407']}, {'name': 'Jun.2015', 'values': ['517.500734']}, {'name': 'Jul.2015', 'values': ['244.373798']}, {'name': 'Ago.2015', 'values': ['144.660399']}, {'name': 'Sep.2015', 'values': ['185.583939']}, {'name': 'Oct.2015', 'values': ['240.201867']}, {'name': 'Nov.2015', 'values': ['235.761537']}, {'name': 'Dic.2015', 'values': ['222.667852']}, {'name': 'Ene.2016', 'values': ['193.400221']}, {'name': 'Feb.2016', 'values': ['262.80382']}, {'name': 'Mar.2016', 'values': ['403.283663']}, {'name': 'Abr.2016', 'values': ['885.896111']}, {'name': 'May.2016', 'values': ['984.612867']}, {'name': 'Jun.2016', 'values': ['540.705234']}, {'name': 'Jul.2016', 'values': ['223.162324']}, {'name': 'Ago.2016', 'values': ['154.03033']}, {'name': 'Sep.2016', 'values': ['133.488881']}, {'name': 'Oct.2016', 'values': ['264.180589']}, {'name': 'Nov.2016', 'values': ['236.083732']}, {'name': 'Dic.2016', 'values': ['232.59149']}, {'name': 'Ene.2017', 'values': ['223.852892']}, {'name': 'Feb.2017', 'values': ['275.023338']}, {'name': 'Mar.2017', 'values': ['387.35851']}, {'name': 'Abr.2017', 'values': ['854.067624']}, {'name': 'May.2017', 'values': ['986.393576']}, {'name': 'Jun.2017', 'values': ['629.639119']}, {'name': 'Jul.2017', 'values': ['259.328376']}, {'name': 'Ago.2017', 'values': ['154.792488']}, {'name': 'Sep.2017', 'values': ['200.91967']}, {'name': 'Oct.2017', 'values': ['221.601344']}, {'name': 'Nov.2017', 'values': ['289.200683']}, {'name': 'Dic.2017', 'values': ['294.116756']}, {'name': 'Ene.2018', 'values': ['241.92372']}, {'name': 'Feb.2018', 'values': ['271.233819']}, {'name': 'Mar.2018', 'values': ['466.281001']}, {'name': 'Abr.2018', 'values': ['966.305304']}, {'name': 'May.2018', 'values': ['1100.088892']}, {'name': 'Jun.2018', 'values': ['666.935541']}, {'name': 'Jul.2018', 'values': ['316.727756']}, {'name': 'Ago.2018', 'values': ['171.536823']}, {'name': 'Sep.2018', 'values': ['185.119884']}, {'name': 'Oct.2018', 'values': ['197.960948']}, {'name': 'Nov.2018', 'values': ['277.10096']}, {'name': 'Dic.2018', 'values': ['270.32084']}, {'name': 'Ene.2019', 'values': ['222.964748']}, {'name': 'Feb.2019', 'values': ['291.078819']}, {'name': 'Mar.2019', 'values': ['474.621046']}, {'name': 'Abr.2019', 'values': ['1039.36525']}, {'name': 'May.2019', 'values': ['1244.789915']}, {'name': 'Jun.2019', 'values': ['624.897285']}, {'name': 'Jul.2019', 'values': ['279.025109']}, {'name': 'Ago.2019', 'values': ['224.742039']}, {'name': 'Sep.2019', 'values': ['202.198978']}, {'name': 'Oct.2019', 'values': ['258.790718']}, {'name': 'Nov.2019', 'values': ['263.84472']}, {'name': 'Dic.2019', 'values': ['262.912393']}, {'name': 'Ene.2020', 'values': ['258.760178']}, {'name': 'Feb.2020', 'values': ['320.799965']}, {'name': 'Mar.2020', 'values': ['556.13051']}, {'name': 'Abr.2020', 'values': ['1172.56835']}, {'name': 'May.2020', 'values': ['1179.859492']}, {'name': 'Jun.2020', 'values': ['624.540025']}, {'name': 'Jul.2020', 'values': ['205.732602']}, {'name': 'Ago.2020', 'values': ['145.707901']}, {'name': 'Sep.2020', 'values': ['203.409835']}, {'name': 'Oct.2020', 'values': ['243.153725']}, {'name': 'Nov.2020', 'values': ['265.583378']}, {'name': 'Dic.2020', 'values': ['290.794963']}]}

In [15]:
for key in response_json.keys():
    print(key)

config
periods

In [16]:
print(response_json["config"])

{'title': 'ProducciÃ³n agropecuaria (miles de toneladas)', 'series': [{'name': 'ProducciÃ³n agropecuaria (miles de toneladas) - AgrÃ\xadcola - Papa', 'dec': '1'}]}

In [17]:
print(response_json["periods"])

[{'name': 'Ene.2007', 'values': ['190.592479']}, {'name': 'Feb.2007', 'values': ['241.405607']}, {'name': 'Mar.2007', 'values': ['330.847567']}, {'name': 'Abr.2007', 'values': ['657.989855']}, {'name': 'May.2007', 'values': ['651.058632']}, {'name': 'Jun.2007', 'values': ['309.096657']}, {'name': 'Jul.2007', 'values': ['108.062859']}, {'name': 'Ago.2007', 'values': ['126.916758']}, {'name': 'Sep.2007', 'values': ['152.834416']}, {'name': 'Oct.2007', 'values': ['201.72759']}, {'name': 'Nov.2007', 'values': ['211.677825']}, {'name': 'Dic.2007', 'values': ['200.81015']}, {'name': 'Ene.2008', 'values': ['198.085504']}, {'name': 'Feb.2008', 'values': ['246.014885']}, {'name': 'Mar.2008', 'values': ['351.198809']}, {'name': 'Abr.2008', 'values': ['679.367664']}, {'name': 'May.2008', 'values': ['708.072857']}, {'name': 'Jun.2008', 'values': ['362.020655']}, {'name': 'Jul.2008', 'values': ['145.549604']}, {'name': 'Ago.2008', 'values': ['145.72163']}, {'name': 'Sep.2008', 'values': ['155.958043']}, {'name': 'Oct.2008', 'values': ['204.541091']}, {'name': 'Nov.2008', 'values': ['206.019695']}, {'name': 'Dic.2008', 'values': ['194.540602']}, {'name': 'Ene.2009', 'values': ['161.889524']}, {'name': 'Feb.2009', 'values': ['213.390739']}, {'name': 'Mar.2009', 'values': ['374.276337']}, {'name': 'Abr.2009', 'values': ['696.600406']}, {'name': 'May.2009', 'values': ['820.36638']}, {'name': 'Jun.2009', 'values': ['372.007346']}, {'name': 'Jul.2009', 'values': ['177.429697']}, {'name': 'Ago.2009', 'values': ['177.420678']}, {'name': 'Sep.2009', 'values': ['167.731838']}, {'name': 'Oct.2009', 'values': ['181.347139']}, {'name': 'Nov.2009', 'values': ['214.412649']}, {'name': 'Dic.2009', 'values': ['208.415868']}, {'name': 'Ene.2010', 'values': ['201.858968']}, {'name': 'Feb.2010', 'values': ['226.140084']}, {'name': 'Mar.2010', 'values': ['350.433354']}, {'name': 'Abr.2010', 'values': ['728.840528']}, {'name': 'May.2010', 'values': ['813.790837']}, {'name': 'Jun.2010', 'values': ['329.734331']}, {'name': 'Jul.2010', 'values': ['169.821212']}, {'name': 'Ago.2010', 'values': ['116.908369']}, {'name': 'Sep.2010', 'values': ['160.537972']}, {'name': 'Oct.2010', 'values': ['199.09833']}, {'name': 'Nov.2010', 'values': ['264.613658']}, {'name': 'Dic.2010', 'values': ['243.68539']}, {'name': 'Ene.2011', 'values': ['196.582942']}, {'name': 'Feb.2011', 'values': ['242.952213']}, {'name': 'Mar.2011', 'values': ['333.079692']}, {'name': 'Abr.2011', 'values': ['747.552866']}, {'name': 'May.2011', 'values': ['887.218433']}, {'name': 'Jun.2011', 'values': ['438.659893']}, {'name': 'Jul.2011', 'values': ['210.063818']}, {'name': 'Ago.2011', 'values': ['149.501607']}, {'name': 'Sep.2011', 'values': ['150.505809']}, {'name': 'Oct.2011', 'values': ['204.345244']}, {'name': 'Nov.2011', 'values': ['239.39835']}, {'name': 'Dic.2011', 'values': ['272.59429']}, {'name': 'Ene.2012', 'values': ['206.01601']}, {'name': 'Feb.2012', 'values': ['251.801788']}, {'name': 'Mar.2012', 'values': ['350.095444']}, {'name': 'Abr.2012', 'values': ['775.806746']}, {'name': 'May.2012', 'values': ['1023.127995']}, {'name': 'Jun.2012', 'values': ['578.241494']}, {'name': 'Jul.2012', 'values': ['240.029204']}, {'name': 'Ago.2012', 'values': ['155.161428']}, {'name': 'Sep.2012', 'values': ['181.291668']}, {'name': 'Oct.2012', 'values': ['189.020733']}, {'name': 'Nov.2012', 'values': ['259.85514']}, {'name': 'Dic.2012', 'values': ['264.265004']}, {'name': 'Ene.2013', 'values': ['223.410309']}, {'name': 'Feb.2013', 'values': ['255.001073']}, {'name': 'Mar.2013', 'values': ['411.674025']}, {'name': 'Abr.2013', 'values': ['843.000028']}, {'name': 'May.2013', 'values': ['1058.692823']}, {'name': 'Jun.2013', 'values': ['487.566231']}, {'name': 'Jul.2013', 'values': ['195.990938']}, {'name': 'Ago.2013', 'values': ['142.389129']}, {'name': 'Sep.2013', 'values': ['173.630396']}, {'name': 'Oct.2013', 'values': ['216.923823']}, {'name': 'Nov.2013', 'values': ['266.60828']}, {'name': 'Dic.2013', 'values': ['302.38141']}, {'name': 'Ene.2014', 'values': ['234.44979']}, {'name': 'Feb.2014', 'values': ['264.328031']}, {'name': 'Mar.2014', 'values': ['403.147743']}, {'name': 'Abr.2014', 'values': ['869.301814']}, {'name': 'May.2014', 'values': ['1083.598144']}, {'name': 'Jun.2014', 'values': ['492.206212']}, {'name': 'Jul.2014', 'values': ['218.133366']}, {'name': 'Ago.2014', 'values': ['151.368398']}, {'name': 'Sep.2014', 'values': ['196.325214']}, {'name': 'Oct.2014', 'values': ['245.538125']}, {'name': 'Nov.2014', 'values': ['272.910958']}, {'name': 'Dic.2014', 'values': ['273.67964']}, {'name': 'Ene.2015', 'values': ['215.231469']}, {'name': 'Feb.2015', 'values': ['259.182028']}, {'name': 'Mar.2015', 'values': ['419.349664']}, {'name': 'Abr.2015', 'values': ['917.74557']}, {'name': 'May.2015', 'values': ['1113.671407']}, {'name': 'Jun.2015', 'values': ['517.500734']}, {'name': 'Jul.2015', 'values': ['244.373798']}, {'name': 'Ago.2015', 'values': ['144.660399']}, {'name': 'Sep.2015', 'values': ['185.583939']}, {'name': 'Oct.2015', 'values': ['240.201867']}, {'name': 'Nov.2015', 'values': ['235.761537']}, {'name': 'Dic.2015', 'values': ['222.667852']}, {'name': 'Ene.2016', 'values': ['193.400221']}, {'name': 'Feb.2016', 'values': ['262.80382']}, {'name': 'Mar.2016', 'values': ['403.283663']}, {'name': 'Abr.2016', 'values': ['885.896111']}, {'name': 'May.2016', 'values': ['984.612867']}, {'name': 'Jun.2016', 'values': ['540.705234']}, {'name': 'Jul.2016', 'values': ['223.162324']}, {'name': 'Ago.2016', 'values': ['154.03033']}, {'name': 'Sep.2016', 'values': ['133.488881']}, {'name': 'Oct.2016', 'values': ['264.180589']}, {'name': 'Nov.2016', 'values': ['236.083732']}, {'name': 'Dic.2016', 'values': ['232.59149']}, {'name': 'Ene.2017', 'values': ['223.852892']}, {'name': 'Feb.2017', 'values': ['275.023338']}, {'name': 'Mar.2017', 'values': ['387.35851']}, {'name': 'Abr.2017', 'values': ['854.067624']}, {'name': 'May.2017', 'values': ['986.393576']}, {'name': 'Jun.2017', 'values': ['629.639119']}, {'name': 'Jul.2017', 'values': ['259.328376']}, {'name': 'Ago.2017', 'values': ['154.792488']}, {'name': 'Sep.2017', 'values': ['200.91967']}, {'name': 'Oct.2017', 'values': ['221.601344']}, {'name': 'Nov.2017', 'values': ['289.200683']}, {'name': 'Dic.2017', 'values': ['294.116756']}, {'name': 'Ene.2018', 'values': ['241.92372']}, {'name': 'Feb.2018', 'values': ['271.233819']}, {'name': 'Mar.2018', 'values': ['466.281001']}, {'name': 'Abr.2018', 'values': ['966.305304']}, {'name': 'May.2018', 'values': ['1100.088892']}, {'name': 'Jun.2018', 'values': ['666.935541']}, {'name': 'Jul.2018', 'values': ['316.727756']}, {'name': 'Ago.2018', 'values': ['171.536823']}, {'name': 'Sep.2018', 'values': ['185.119884']}, {'name': 'Oct.2018', 'values': ['197.960948']}, {'name': 'Nov.2018', 'values': ['277.10096']}, {'name': 'Dic.2018', 'values': ['270.32084']}, {'name': 'Ene.2019', 'values': ['222.964748']}, {'name': 'Feb.2019', 'values': ['291.078819']}, {'name': 'Mar.2019', 'values': ['474.621046']}, {'name': 'Abr.2019', 'values': ['1039.36525']}, {'name': 'May.2019', 'values': ['1244.789915']}, {'name': 'Jun.2019', 'values': ['624.897285']}, {'name': 'Jul.2019', 'values': ['279.025109']}, {'name': 'Ago.2019', 'values': ['224.742039']}, {'name': 'Sep.2019', 'values': ['202.198978']}, {'name': 'Oct.2019', 'values': ['258.790718']}, {'name': 'Nov.2019', 'values': ['263.84472']}, {'name': 'Dic.2019', 'values': ['262.912393']}, {'name': 'Ene.2020', 'values': ['258.760178']}, {'name': 'Feb.2020', 'values': ['320.799965']}, {'name': 'Mar.2020', 'values': ['556.13051']}, {'name': 'Abr.2020', 'values': ['1172.56835']}, {'name': 'May.2020', 'values': ['1179.859492']}, {'name': 'Jun.2020', 'values': ['624.540025']}, {'name': 'Jul.2020', 'values': ['205.732602']}, {'name': 'Ago.2020', 'values': ['145.707901']}, {'name': 'Sep.2020', 'values': ['203.409835']}, {'name': 'Oct.2020', 'values': ['243.153725']}, {'name': 'Nov.2020', 'values': ['265.583378']}, {'name': 'Dic.2020', 'values': ['290.794963']}]

In [18]:
periodos=response_json.get("periods")
prod_papa=[]
for i in periodos:
    valores_list=i["values"]
    for w in valores_list:
        w=str(w)
        prod_papa.append(w)
        
print(prod_papa)

['190.592479', '241.405607', '330.847567', '657.989855', '651.058632', '309.096657', '108.062859', '126.916758', '152.834416', '201.72759', '211.677825', '200.81015', '198.085504', '246.014885', '351.198809', '679.367664', '708.072857', '362.020655', '145.549604', '145.72163', '155.958043', '204.541091', '206.019695', '194.540602', '161.889524', '213.390739', '374.276337', '696.600406', '820.36638', '372.007346', '177.429697', '177.420678', '167.731838', '181.347139', '214.412649', '208.415868', '201.858968', '226.140084', '350.433354', '728.840528', '813.790837', '329.734331', '169.821212', '116.908369', '160.537972', '199.09833', '264.613658', '243.68539', '196.582942', '242.952213', '333.079692', '747.552866', '887.218433', '438.659893', '210.063818', '149.501607', '150.505809', '204.345244', '239.39835', '272.59429', '206.01601', '251.801788', '350.095444', '775.806746', '1023.127995', '578.241494', '240.029204', '155.161428', '181.291668', '189.020733', '259.85514', '264.265004', '223.410309', '255.001073', '411.674025', '843.000028', '1058.692823', '487.566231', '195.990938', '142.389129', '173.630396', '216.923823', '266.60828', '302.38141', '234.44979', '264.328031', '403.147743', '869.301814', '1083.598144', '492.206212', '218.133366', '151.368398', '196.325214', '245.538125', '272.910958', '273.67964', '215.231469', '259.182028', '419.349664', '917.74557', '1113.671407', '517.500734', '244.373798', '144.660399', '185.583939', '240.201867', '235.761537', '222.667852', '193.400221', '262.80382', '403.283663', '885.896111', '984.612867', '540.705234', '223.162324', '154.03033', '133.488881', '264.180589', '236.083732', '232.59149', '223.852892', '275.023338', '387.35851', '854.067624', '986.393576', '629.639119', '259.328376', '154.792488', '200.91967', '221.601344', '289.200683', '294.116756', '241.92372', '271.233819', '466.281001', '966.305304', '1100.088892', '666.935541', '316.727756', '171.536823', '185.119884', '197.960948', '277.10096', '270.32084', '222.964748', '291.078819', '474.621046', '1039.36525', '1244.789915', '624.897285', '279.025109', '224.742039', '202.198978', '258.790718', '263.84472', '262.912393', '258.760178', '320.799965', '556.13051', '1172.56835', '1179.859492', '624.540025', '205.732602', '145.707901', '203.409835', '243.153725', '265.583378', '290.794963']

In [19]:
fechas=[]
for i in periodos:
    nombres=i["name"]
    fechas.append(nombres)
print(fechas)

['Ene.2007', 'Feb.2007', 'Mar.2007', 'Abr.2007', 'May.2007', 'Jun.2007', 'Jul.2007', 'Ago.2007', 'Sep.2007', 'Oct.2007', 'Nov.2007', 'Dic.2007', 'Ene.2008', 'Feb.2008', 'Mar.2008', 'Abr.2008', 'May.2008', 'Jun.2008', 'Jul.2008', 'Ago.2008', 'Sep.2008', 'Oct.2008', 'Nov.2008', 'Dic.2008', 'Ene.2009', 'Feb.2009', 'Mar.2009', 'Abr.2009', 'May.2009', 'Jun.2009', 'Jul.2009', 'Ago.2009', 'Sep.2009', 'Oct.2009', 'Nov.2009', 'Dic.2009', 'Ene.2010', 'Feb.2010', 'Mar.2010', 'Abr.2010', 'May.2010', 'Jun.2010', 'Jul.2010', 'Ago.2010', 'Sep.2010', 'Oct.2010', 'Nov.2010', 'Dic.2010', 'Ene.2011', 'Feb.2011', 'Mar.2011', 'Abr.2011', 'May.2011', 'Jun.2011', 'Jul.2011', 'Ago.2011', 'Sep.2011', 'Oct.2011', 'Nov.2011', 'Dic.2011', 'Ene.2012', 'Feb.2012', 'Mar.2012', 'Abr.2012', 'May.2012', 'Jun.2012', 'Jul.2012', 'Ago.2012', 'Sep.2012', 'Oct.2012', 'Nov.2012', 'Dic.2012', 'Ene.2013', 'Feb.2013', 'Mar.2013', 'Abr.2013', 'May.2013', 'Jun.2013', 'Jul.2013', 'Ago.2013', 'Sep.2013', 'Oct.2013', 'Nov.2013', 'Dic.2013', 'Ene.2014', 'Feb.2014', 'Mar.2014', 'Abr.2014', 'May.2014', 'Jun.2014', 'Jul.2014', 'Ago.2014', 'Sep.2014', 'Oct.2014', 'Nov.2014', 'Dic.2014', 'Ene.2015', 'Feb.2015', 'Mar.2015', 'Abr.2015', 'May.2015', 'Jun.2015', 'Jul.2015', 'Ago.2015', 'Sep.2015', 'Oct.2015', 'Nov.2015', 'Dic.2015', 'Ene.2016', 'Feb.2016', 'Mar.2016', 'Abr.2016', 'May.2016', 'Jun.2016', 'Jul.2016', 'Ago.2016', 'Sep.2016', 'Oct.2016', 'Nov.2016', 'Dic.2016', 'Ene.2017', 'Feb.2017', 'Mar.2017', 'Abr.2017', 'May.2017', 'Jun.2017', 'Jul.2017', 'Ago.2017', 'Sep.2017', 'Oct.2017', 'Nov.2017', 'Dic.2017', 'Ene.2018', 'Feb.2018', 'Mar.2018', 'Abr.2018', 'May.2018', 'Jun.2018', 'Jul.2018', 'Ago.2018', 'Sep.2018', 'Oct.2018', 'Nov.2018', 'Dic.2018', 'Ene.2019', 'Feb.2019', 'Mar.2019', 'Abr.2019', 'May.2019', 'Jun.2019', 'Jul.2019', 'Ago.2019', 'Sep.2019', 'Oct.2019', 'Nov.2019', 'Dic.2019', 'Ene.2020', 'Feb.2020', 'Mar.2020', 'Abr.2020', 'May.2020', 'Jun.2020', 'Jul.2020', 'Ago.2020', 'Sep.2020', 'Oct.2020', 'Nov.2020', 'Dic.2020']

In [21]:
diccionario1= {"Fechas":fechas, "Valores":prod_papa}
print(diccionario1)

{'Fechas': ['Ene.2007', 'Feb.2007', 'Mar.2007', 'Abr.2007', 'May.2007', 'Jun.2007', 'Jul.2007', 'Ago.2007', 'Sep.2007', 'Oct.2007', 'Nov.2007', 'Dic.2007', 'Ene.2008', 'Feb.2008', 'Mar.2008', 'Abr.2008', 'May.2008', 'Jun.2008', 'Jul.2008', 'Ago.2008', 'Sep.2008', 'Oct.2008', 'Nov.2008', 'Dic.2008', 'Ene.2009', 'Feb.2009', 'Mar.2009', 'Abr.2009', 'May.2009', 'Jun.2009', 'Jul.2009', 'Ago.2009', 'Sep.2009', 'Oct.2009', 'Nov.2009', 'Dic.2009', 'Ene.2010', 'Feb.2010', 'Mar.2010', 'Abr.2010', 'May.2010', 'Jun.2010', 'Jul.2010', 'Ago.2010', 'Sep.2010', 'Oct.2010', 'Nov.2010', 'Dic.2010', 'Ene.2011', 'Feb.2011', 'Mar.2011', 'Abr.2011', 'May.2011', 'Jun.2011', 'Jul.2011', 'Ago.2011', 'Sep.2011', 'Oct.2011', 'Nov.2011', 'Dic.2011', 'Ene.2012', 'Feb.2012', 'Mar.2012', 'Abr.2012', 'May.2012', 'Jun.2012', 'Jul.2012', 'Ago.2012', 'Sep.2012', 'Oct.2012', 'Nov.2012', 'Dic.2012', 'Ene.2013', 'Feb.2013', 'Mar.2013', 'Abr.2013', 'May.2013', 'Jun.2013', 'Jul.2013', 'Ago.2013', 'Sep.2013', 'Oct.2013', 'Nov.2013', 'Dic.2013', 'Ene.2014', 'Feb.2014', 'Mar.2014', 'Abr.2014', 'May.2014', 'Jun.2014', 'Jul.2014', 'Ago.2014', 'Sep.2014', 'Oct.2014', 'Nov.2014', 'Dic.2014', 'Ene.2015', 'Feb.2015', 'Mar.2015', 'Abr.2015', 'May.2015', 'Jun.2015', 'Jul.2015', 'Ago.2015', 'Sep.2015', 'Oct.2015', 'Nov.2015', 'Dic.2015', 'Ene.2016', 'Feb.2016', 'Mar.2016', 'Abr.2016', 'May.2016', 'Jun.2016', 'Jul.2016', 'Ago.2016', 'Sep.2016', 'Oct.2016', 'Nov.2016', 'Dic.2016', 'Ene.2017', 'Feb.2017', 'Mar.2017', 'Abr.2017', 'May.2017', 'Jun.2017', 'Jul.2017', 'Ago.2017', 'Sep.2017', 'Oct.2017', 'Nov.2017', 'Dic.2017', 'Ene.2018', 'Feb.2018', 'Mar.2018', 'Abr.2018', 'May.2018', 'Jun.2018', 'Jul.2018', 'Ago.2018', 'Sep.2018', 'Oct.2018', 'Nov.2018', 'Dic.2018', 'Ene.2019', 'Feb.2019', 'Mar.2019', 'Abr.2019', 'May.2019', 'Jun.2019', 'Jul.2019', 'Ago.2019', 'Sep.2019', 'Oct.2019', 'Nov.2019', 'Dic.2019', 'Ene.2020', 'Feb.2020', 'Mar.2020', 'Abr.2020', 'May.2020', 'Jun.2020', 'Jul.2020', 'Ago.2020', 'Sep.2020', 'Oct.2020', 'Nov.2020', 'Dic.2020'], 'Valores': ['190.592479', '241.405607', '330.847567', '657.989855', '651.058632', '309.096657', '108.062859', '126.916758', '152.834416', '201.72759', '211.677825', '200.81015', '198.085504', '246.014885', '351.198809', '679.367664', '708.072857', '362.020655', '145.549604', '145.72163', '155.958043', '204.541091', '206.019695', '194.540602', '161.889524', '213.390739', '374.276337', '696.600406', '820.36638', '372.007346', '177.429697', '177.420678', '167.731838', '181.347139', '214.412649', '208.415868', '201.858968', '226.140084', '350.433354', '728.840528', '813.790837', '329.734331', '169.821212', '116.908369', '160.537972', '199.09833', '264.613658', '243.68539', '196.582942', '242.952213', '333.079692', '747.552866', '887.218433', '438.659893', '210.063818', '149.501607', '150.505809', '204.345244', '239.39835', '272.59429', '206.01601', '251.801788', '350.095444', '775.806746', '1023.127995', '578.241494', '240.029204', '155.161428', '181.291668', '189.020733', '259.85514', '264.265004', '223.410309', '255.001073', '411.674025', '843.000028', '1058.692823', '487.566231', '195.990938', '142.389129', '173.630396', '216.923823', '266.60828', '302.38141', '234.44979', '264.328031', '403.147743', '869.301814', '1083.598144', '492.206212', '218.133366', '151.368398', '196.325214', '245.538125', '272.910958', '273.67964', '215.231469', '259.182028', '419.349664', '917.74557', '1113.671407', '517.500734', '244.373798', '144.660399', '185.583939', '240.201867', '235.761537', '222.667852', '193.400221', '262.80382', '403.283663', '885.896111', '984.612867', '540.705234', '223.162324', '154.03033', '133.488881', '264.180589', '236.083732', '232.59149', '223.852892', '275.023338', '387.35851', '854.067624', '986.393576', '629.639119', '259.328376', '154.792488', '200.91967', '221.601344', '289.200683', '294.116756', '241.92372', '271.233819', '466.281001', '966.305304', '1100.088892', '666.935541', '316.727756', '171.536823', '185.119884', '197.960948', '277.10096', '270.32084', '222.964748', '291.078819', '474.621046', '1039.36525', '1244.789915', '624.897285', '279.025109', '224.742039', '202.198978', '258.790718', '263.84472', '262.912393', '258.760178', '320.799965', '556.13051', '1172.56835', '1179.859492', '624.540025', '205.732602', '145.707901', '203.409835', '243.153725', '265.583378', '290.794963']}

In [22]:
df1=pd.DataFrame(diccionario1)
df1

       Fechas     Valores
0    Ene.2007  190.592479
1    Feb.2007  241.405607
2    Mar.2007  330.847567
3    Abr.2007  657.989855
4    May.2007  651.058632
..        ...         ...
163  Ago.2020  145.707901
164  Sep.2020  203.409835
165  Oct.2020  243.153725
166  Nov.2020  265.583378
167  Dic.2020  290.794963

[168 rows x 2 columns]

In [23]:
df1.rename(columns={'Valores':'Papa'}, inplace=True)
df1.head()

     Fechas        Papa
0  Ene.2007  190.592479
1  Feb.2007  241.405607
2  Mar.2007  330.847567
3  Abr.2007  657.989855
4  May.2007  651.058632

In [ ]:
# DATOS DE PRODUCCIÓN AGRÍCOLA DE ARROZ CÁSCARA

In [24]:
url_base="https://estadisticas.bcrp.gob.pe/estadisticas/series/api/"
cod_ser="PN01778AM"
formato="/json"
per="/2003-1/2020-12"
url=url_base+cod_ser+formato+per
print(url)

https://estadisticas.bcrp.gob.pe/estadisticas/series/api/PN01778AM/json/2003-1/2020-12

In [25]:
import requests
response=requests.get(url)
print(response)

<Response [200]>

In [26]:
# extraer en formato json
response_json=response.json()

In [27]:
for key in response_json.keys():
    print(key)

config
periods

In [28]:
print(response_json["config"])

{'title': 'ProducciÃ³n agropecuaria (miles de toneladas)', 'series': [{'name': 'ProducciÃ³n agropecuaria (miles de toneladas) - AgrÃ\xadcola - Arroz CÃ¡scara', 'dec': '1'}]}

In [29]:
# llamar a los valores
print(response_json["periods"])

[{'name': 'Ene.2007', 'values': ['153.07147']}, {'name': 'Feb.2007', 'values': ['100.276492']}, {'name': 'Mar.2007', 'values': ['179.56764']}, {'name': 'Abr.2007', 'values': ['191.46439']}, {'name': 'May.2007', 'values': ['511.391719']}, {'name': 'Jun.2007', 'values': ['540.48036']}, {'name': 'Jul.2007', 'values': ['183.30442']}, {'name': 'Ago.2007', 'values': ['83.733299']}, {'name': 'Sep.2007', 'values': ['93.173414']}, {'name': 'Oct.2007', 'values': ['95.50574']}, {'name': 'Nov.2007', 'values': ['130.544059']}, {'name': 'Dic.2007', 'values': ['172.62054']}, {'name': 'Ene.2008', 'values': ['187.777518']}, {'name': 'Feb.2008', 'values': ['97.501589']}, {'name': 'Mar.2008', 'values': ['180.16737']}, {'name': 'Abr.2008', 'values': ['257.630602']}, {'name': 'May.2008', 'values': ['461.056706']}, {'name': 'Jun.2008', 'values': ['612.408488']}, {'name': 'Jul.2008', 'values': ['254.777358']}, {'name': 'Ago.2008', 'values': ['98.667519']}, {'name': 'Sep.2008', 'values': ['100.4389']}, {'name': 'Oct.2008', 'values': ['111.849885']}, {'name': 'Nov.2008', 'values': ['162.382288']}, {'name': 'Dic.2008', 'values': ['269.321767']}, {'name': 'Ene.2009', 'values': ['148.721888']}, {'name': 'Feb.2009', 'values': ['135.778075']}, {'name': 'Mar.2009', 'values': ['209.959988']}, {'name': 'Abr.2009', 'values': ['421.937751']}, {'name': 'May.2009', 'values': ['691.660513']}, {'name': 'Jun.2009', 'values': ['430.942639']}, {'name': 'Jul.2009', 'values': ['234.46213']}, {'name': 'Ago.2009', 'values': ['98.4844']}, {'name': 'Sep.2009', 'values': ['104.374918']}, {'name': 'Oct.2009', 'values': ['125.992993']}, {'name': 'Nov.2009', 'values': ['188.006965']}, {'name': 'Dic.2009', 'values': ['200.834245']}, {'name': 'Ene.2010', 'values': ['154.322268']}, {'name': 'Feb.2010', 'values': ['119.600669']}, {'name': 'Mar.2010', 'values': ['262.672978']}, {'name': 'Abr.2010', 'values': ['354.093095']}, {'name': 'May.2010', 'values': ['525.794773']}, {'name': 'Jun.2010', 'values': ['519.206207']}, {'name': 'Jul.2010', 'values': ['219.066169']}, {'name': 'Ago.2010', 'values': ['98.252659']}, {'name': 'Sep.2010', 'values': ['106.405798']}, {'name': 'Oct.2010', 'values': ['110.150069']}, {'name': 'Nov.2010', 'values': ['123.883439']}, {'name': 'Dic.2010', 'values': ['237.925438']}, {'name': 'Ene.2011', 'values': ['164.246618']}, {'name': 'Feb.2011', 'values': ['115.895709']}, {'name': 'Mar.2011', 'values': ['235.86766']}, {'name': 'Abr.2011', 'values': ['389.701417']}, {'name': 'May.2011', 'values': ['268.359608']}, {'name': 'Jun.2011', 'values': ['325.567089']}, {'name': 'Jul.2011', 'values': ['433.46128']}, {'name': 'Ago.2011', 'values': ['158.04301']}, {'name': 'Sep.2011', 'values': ['106.735327']}, {'name': 'Oct.2011', 'values': ['132.553729']}, {'name': 'Nov.2011', 'values': ['122.262407']}, {'name': 'Dic.2011', 'values': ['171.764086']}, {'name': 'Ene.2012', 'values': ['244.092929']}, {'name': 'Feb.2012', 'values': ['130.919696']}, {'name': 'Mar.2012', 'values': ['201.307159']}, {'name': 'Abr.2012', 'values': ['262.649447']}, {'name': 'May.2012', 'values': ['526.57259']}, {'name': 'Jun.2012', 'values': ['597.643016']}, {'name': 'Jul.2012', 'values': ['350.0503']}, {'name': 'Ago.2012', 'values': ['93.75939']}, {'name': 'Sep.2012', 'values': ['100.580598']}, {'name': 'Oct.2012', 'values': ['138.762568']}, {'name': 'Nov.2012', 'values': ['133.100019']}, {'name': 'Dic.2012', 'values': ['263.892738']}, {'name': 'Ene.2013', 'values': ['200.447755']}, {'name': 'Feb.2013', 'values': ['135.352358']}, {'name': 'Mar.2013', 'values': ['285.147605']}, {'name': 'Abr.2013', 'values': ['241.13659']}, {'name': 'May.2013', 'values': ['496.505493']}, {'name': 'Jun.2013', 'values': ['733.256214']}, {'name': 'Jul.2013', 'values': ['295.99285']}, {'name': 'Ago.2013', 'values': ['82.966404']}, {'name': 'Sep.2013', 'values': ['117.609264']}, {'name': 'Oct.2013', 'values': ['137.763767']}, {'name': 'Nov.2013', 'values': ['106.00588']}, {'name': 'Dic.2013', 'values': ['213.062538']}, {'name': 'Ene.2014', 'values': ['207.580934']}, {'name': 'Feb.2014', 'values': ['152.878119']}, {'name': 'Mar.2014', 'values': ['250.585929']}, {'name': 'Abr.2014', 'values': ['321.172189']}, {'name': 'May.2014', 'values': ['426.865533']}, {'name': 'Jun.2014', 'values': ['453.931878']}, {'name': 'Jul.2014', 'values': ['335.572238']}, {'name': 'Ago.2014', 'values': ['133.248349']}, {'name': 'Sep.2014', 'values': ['111.326048']}, {'name': 'Oct.2014', 'values': ['135.037399']}, {'name': 'Nov.2014', 'values': ['127.478489']}, {'name': 'Dic.2014', 'values': ['240.935566']}, {'name': 'Ene.2015', 'values': ['212.020017']}, {'name': 'Feb.2015', 'values': ['134.75019']}, {'name': 'Mar.2015', 'values': ['226.497578']}, {'name': 'Abr.2015', 'values': ['273.342314']}, {'name': 'May.2015', 'values': ['465.079539']}, {'name': 'Jun.2015', 'values': ['677.343761']}, {'name': 'Jul.2015', 'values': ['415.070149']}, {'name': 'Ago.2015', 'values': ['107.255689']}, {'name': 'Sep.2015', 'values': ['131.010639']}, {'name': 'Oct.2015', 'values': ['138.432719']}, {'name': 'Nov.2015', 'values': ['113.338475']}, {'name': 'Dic.2015', 'values': ['257.26736']}, {'name': 'Ene.2016', 'values': ['222.281118']}, {'name': 'Feb.2016', 'values': ['176.201429']}, {'name': 'Mar.2016', 'values': ['251.001701']}, {'name': 'Abr.2016', 'values': ['369.568835']}, {'name': 'May.2016', 'values': ['483.528428']}, {'name': 'Jun.2016', 'values': ['566.318848']}, {'name': 'Jul.2016', 'values': ['278.79597']}, {'name': 'Ago.2016', 'values': ['100.378736']}, {'name': 'Sep.2016', 'values': ['139.389429']}, {'name': 'Oct.2016', 'values': ['149.437768']}, {'name': 'Nov.2016', 'values': ['177.38112']}, {'name': 'Dic.2016', 'values': ['251.4656']}, {'name': 'Ene.2017', 'values': ['170.516748']}, {'name': 'Feb.2017', 'values': ['131.551406']}, {'name': 'Mar.2017', 'values': ['231.793209']}, {'name': 'Abr.2017', 'values': ['244.042484']}, {'name': 'May.2017', 'values': ['259.680397']}, {'name': 'Jun.2017', 'values': ['629.685399']}, {'name': 'Jul.2017', 'values': ['480.90036']}, {'name': 'Ago.2017', 'values': ['121.229658']}, {'name': 'Sep.2017', 'values': ['153.666374']}, {'name': 'Oct.2017', 'values': ['174.724848']}, {'name': 'Nov.2017', 'values': ['143.61208']}, {'name': 'Dic.2017', 'values': ['297.363446']}, {'name': 'Ene.2018', 'values': ['199.623693']}, {'name': 'Feb.2018', 'values': ['149.474519']}, {'name': 'Mar.2018', 'values': ['238.548458']}, {'name': 'Abr.2018', 'values': ['380.168219']}, {'name': 'May.2018', 'values': ['520.309745']}, {'name': 'Jun.2018', 'values': ['666.454861']}, {'name': 'Jul.2018', 'values': ['476.495969']}, {'name': 'Ago.2018', 'values': ['144.666119']}, {'name': 'Sep.2018', 'values': ['147.67568']}, {'name': 'Oct.2018', 'values': ['150.126279']}, {'name': 'Nov.2018', 'values': ['175.71741']}, {'name': 'Dic.2018', 'values': ['308.63904']}, {'name': 'Ene.2019', 'values': ['148.505469']}, {'name': 'Feb.2019', 'values': ['144.062064']}, {'name': 'Mar.2019', 'values': ['294.213647']}, {'name': 'Abr.2019', 'values': ['407.392797']}, {'name': 'May.2019', 'values': ['434.124997']}, {'name': 'Jun.2019', 'values': ['567.105282']}, {'name': 'Jul.2019', 'values': ['347.38568']}, {'name': 'Ago.2019', 'values': ['124.664493']}, {'name': 'Sep.2019', 'values': ['145.105944']}, {'name': 'Oct.2019', 'values': ['134.788338']}, {'name': 'Nov.2019', 'values': ['157.51229']}, {'name': 'Dic.2019', 'values': ['286.108469']}, {'name': 'Ene.2020', 'values': ['215.015538']}, {'name': 'Feb.2020', 'values': ['193.72843']}, {'name': 'Mar.2020', 'values': ['307.380689']}, {'name': 'Abr.2020', 'values': ['360.610607']}, {'name': 'May.2020', 'values': ['627.635408']}, {'name': 'Jun.2020', 'values': ['623.371516']}, {'name': 'Jul.2020', 'values': ['251.522579']}, {'name': 'Ago.2020', 'values': ['144.80819']}, {'name': 'Sep.2020', 'values': ['143.375818']}, {'name': 'Oct.2020', 'values': ['153.211037']}, {'name': 'Nov.2020', 'values': ['155.846179']}, {'name': 'Dic.2020', 'values': ['260.130985']}]

In [30]:
periodos=response_json.get("periods")
prod_arroz=[]
for i in periodos:
    valores_list=i["values"]
    for w in valores_list:
        w=str(w)
        prod_arroz.append(w)
print(prod_arroz)

['153.07147', '100.276492', '179.56764', '191.46439', '511.391719', '540.48036', '183.30442', '83.733299', '93.173414', '95.50574', '130.544059', '172.62054', '187.777518', '97.501589', '180.16737', '257.630602', '461.056706', '612.408488', '254.777358', '98.667519', '100.4389', '111.849885', '162.382288', '269.321767', '148.721888', '135.778075', '209.959988', '421.937751', '691.660513', '430.942639', '234.46213', '98.4844', '104.374918', '125.992993', '188.006965', '200.834245', '154.322268', '119.600669', '262.672978', '354.093095', '525.794773', '519.206207', '219.066169', '98.252659', '106.405798', '110.150069', '123.883439', '237.925438', '164.246618', '115.895709', '235.86766', '389.701417', '268.359608', '325.567089', '433.46128', '158.04301', '106.735327', '132.553729', '122.262407', '171.764086', '244.092929', '130.919696', '201.307159', '262.649447', '526.57259', '597.643016', '350.0503', '93.75939', '100.580598', '138.762568', '133.100019', '263.892738', '200.447755', '135.352358', '285.147605', '241.13659', '496.505493', '733.256214', '295.99285', '82.966404', '117.609264', '137.763767', '106.00588', '213.062538', '207.580934', '152.878119', '250.585929', '321.172189', '426.865533', '453.931878', '335.572238', '133.248349', '111.326048', '135.037399', '127.478489', '240.935566', '212.020017', '134.75019', '226.497578', '273.342314', '465.079539', '677.343761', '415.070149', '107.255689', '131.010639', '138.432719', '113.338475', '257.26736', '222.281118', '176.201429', '251.001701', '369.568835', '483.528428', '566.318848', '278.79597', '100.378736', '139.389429', '149.437768', '177.38112', '251.4656', '170.516748', '131.551406', '231.793209', '244.042484', '259.680397', '629.685399', '480.90036', '121.229658', '153.666374', '174.724848', '143.61208', '297.363446', '199.623693', '149.474519', '238.548458', '380.168219', '520.309745', '666.454861', '476.495969', '144.666119', '147.67568', '150.126279', '175.71741', '308.63904', '148.505469', '144.062064', '294.213647', '407.392797', '434.124997', '567.105282', '347.38568', '124.664493', '145.105944', '134.788338', '157.51229', '286.108469', '215.015538', '193.72843', '307.380689', '360.610607', '627.635408', '623.371516', '251.522579', '144.80819', '143.375818', '153.211037', '155.846179', '260.130985']

In [31]:
fechas=[]
for i in periodos:
    nombres=i["name"]
    fechas.append(nombres)
print(fechas)

['Ene.2007', 'Feb.2007', 'Mar.2007', 'Abr.2007', 'May.2007', 'Jun.2007', 'Jul.2007', 'Ago.2007', 'Sep.2007', 'Oct.2007', 'Nov.2007', 'Dic.2007', 'Ene.2008', 'Feb.2008', 'Mar.2008', 'Abr.2008', 'May.2008', 'Jun.2008', 'Jul.2008', 'Ago.2008', 'Sep.2008', 'Oct.2008', 'Nov.2008', 'Dic.2008', 'Ene.2009', 'Feb.2009', 'Mar.2009', 'Abr.2009', 'May.2009', 'Jun.2009', 'Jul.2009', 'Ago.2009', 'Sep.2009', 'Oct.2009', 'Nov.2009', 'Dic.2009', 'Ene.2010', 'Feb.2010', 'Mar.2010', 'Abr.2010', 'May.2010', 'Jun.2010', 'Jul.2010', 'Ago.2010', 'Sep.2010', 'Oct.2010', 'Nov.2010', 'Dic.2010', 'Ene.2011', 'Feb.2011', 'Mar.2011', 'Abr.2011', 'May.2011', 'Jun.2011', 'Jul.2011', 'Ago.2011', 'Sep.2011', 'Oct.2011', 'Nov.2011', 'Dic.2011', 'Ene.2012', 'Feb.2012', 'Mar.2012', 'Abr.2012', 'May.2012', 'Jun.2012', 'Jul.2012', 'Ago.2012', 'Sep.2012', 'Oct.2012', 'Nov.2012', 'Dic.2012', 'Ene.2013', 'Feb.2013', 'Mar.2013', 'Abr.2013', 'May.2013', 'Jun.2013', 'Jul.2013', 'Ago.2013', 'Sep.2013', 'Oct.2013', 'Nov.2013', 'Dic.2013', 'Ene.2014', 'Feb.2014', 'Mar.2014', 'Abr.2014', 'May.2014', 'Jun.2014', 'Jul.2014', 'Ago.2014', 'Sep.2014', 'Oct.2014', 'Nov.2014', 'Dic.2014', 'Ene.2015', 'Feb.2015', 'Mar.2015', 'Abr.2015', 'May.2015', 'Jun.2015', 'Jul.2015', 'Ago.2015', 'Sep.2015', 'Oct.2015', 'Nov.2015', 'Dic.2015', 'Ene.2016', 'Feb.2016', 'Mar.2016', 'Abr.2016', 'May.2016', 'Jun.2016', 'Jul.2016', 'Ago.2016', 'Sep.2016', 'Oct.2016', 'Nov.2016', 'Dic.2016', 'Ene.2017', 'Feb.2017', 'Mar.2017', 'Abr.2017', 'May.2017', 'Jun.2017', 'Jul.2017', 'Ago.2017', 'Sep.2017', 'Oct.2017', 'Nov.2017', 'Dic.2017', 'Ene.2018', 'Feb.2018', 'Mar.2018', 'Abr.2018', 'May.2018', 'Jun.2018', 'Jul.2018', 'Ago.2018', 'Sep.2018', 'Oct.2018', 'Nov.2018', 'Dic.2018', 'Ene.2019', 'Feb.2019', 'Mar.2019', 'Abr.2019', 'May.2019', 'Jun.2019', 'Jul.2019', 'Ago.2019', 'Sep.2019', 'Oct.2019', 'Nov.2019', 'Dic.2019', 'Ene.2020', 'Feb.2020', 'Mar.2020', 'Abr.2020', 'May.2020', 'Jun.2020', 'Jul.2020', 'Ago.2020', 'Sep.2020', 'Oct.2020', 'Nov.2020', 'Dic.2020']

In [32]:
diccionario2= {"Fechas":fechas, "Valores":prod_arroz}
print(diccionario2)

{'Fechas': ['Ene.2007', 'Feb.2007', 'Mar.2007', 'Abr.2007', 'May.2007', 'Jun.2007', 'Jul.2007', 'Ago.2007', 'Sep.2007', 'Oct.2007', 'Nov.2007', 'Dic.2007', 'Ene.2008', 'Feb.2008', 'Mar.2008', 'Abr.2008', 'May.2008', 'Jun.2008', 'Jul.2008', 'Ago.2008', 'Sep.2008', 'Oct.2008', 'Nov.2008', 'Dic.2008', 'Ene.2009', 'Feb.2009', 'Mar.2009', 'Abr.2009', 'May.2009', 'Jun.2009', 'Jul.2009', 'Ago.2009', 'Sep.2009', 'Oct.2009', 'Nov.2009', 'Dic.2009', 'Ene.2010', 'Feb.2010', 'Mar.2010', 'Abr.2010', 'May.2010', 'Jun.2010', 'Jul.2010', 'Ago.2010', 'Sep.2010', 'Oct.2010', 'Nov.2010', 'Dic.2010', 'Ene.2011', 'Feb.2011', 'Mar.2011', 'Abr.2011', 'May.2011', 'Jun.2011', 'Jul.2011', 'Ago.2011', 'Sep.2011', 'Oct.2011', 'Nov.2011', 'Dic.2011', 'Ene.2012', 'Feb.2012', 'Mar.2012', 'Abr.2012', 'May.2012', 'Jun.2012', 'Jul.2012', 'Ago.2012', 'Sep.2012', 'Oct.2012', 'Nov.2012', 'Dic.2012', 'Ene.2013', 'Feb.2013', 'Mar.2013', 'Abr.2013', 'May.2013', 'Jun.2013', 'Jul.2013', 'Ago.2013', 'Sep.2013', 'Oct.2013', 'Nov.2013', 'Dic.2013', 'Ene.2014', 'Feb.2014', 'Mar.2014', 'Abr.2014', 'May.2014', 'Jun.2014', 'Jul.2014', 'Ago.2014', 'Sep.2014', 'Oct.2014', 'Nov.2014', 'Dic.2014', 'Ene.2015', 'Feb.2015', 'Mar.2015', 'Abr.2015', 'May.2015', 'Jun.2015', 'Jul.2015', 'Ago.2015', 'Sep.2015', 'Oct.2015', 'Nov.2015', 'Dic.2015', 'Ene.2016', 'Feb.2016', 'Mar.2016', 'Abr.2016', 'May.2016', 'Jun.2016', 'Jul.2016', 'Ago.2016', 'Sep.2016', 'Oct.2016', 'Nov.2016', 'Dic.2016', 'Ene.2017', 'Feb.2017', 'Mar.2017', 'Abr.2017', 'May.2017', 'Jun.2017', 'Jul.2017', 'Ago.2017', 'Sep.2017', 'Oct.2017', 'Nov.2017', 'Dic.2017', 'Ene.2018', 'Feb.2018', 'Mar.2018', 'Abr.2018', 'May.2018', 'Jun.2018', 'Jul.2018', 'Ago.2018', 'Sep.2018', 'Oct.2018', 'Nov.2018', 'Dic.2018', 'Ene.2019', 'Feb.2019', 'Mar.2019', 'Abr.2019', 'May.2019', 'Jun.2019', 'Jul.2019', 'Ago.2019', 'Sep.2019', 'Oct.2019', 'Nov.2019', 'Dic.2019', 'Ene.2020', 'Feb.2020', 'Mar.2020', 'Abr.2020', 'May.2020', 'Jun.2020', 'Jul.2020', 'Ago.2020', 'Sep.2020', 'Oct.2020', 'Nov.2020', 'Dic.2020'], 'Valores': ['153.07147', '100.276492', '179.56764', '191.46439', '511.391719', '540.48036', '183.30442', '83.733299', '93.173414', '95.50574', '130.544059', '172.62054', '187.777518', '97.501589', '180.16737', '257.630602', '461.056706', '612.408488', '254.777358', '98.667519', '100.4389', '111.849885', '162.382288', '269.321767', '148.721888', '135.778075', '209.959988', '421.937751', '691.660513', '430.942639', '234.46213', '98.4844', '104.374918', '125.992993', '188.006965', '200.834245', '154.322268', '119.600669', '262.672978', '354.093095', '525.794773', '519.206207', '219.066169', '98.252659', '106.405798', '110.150069', '123.883439', '237.925438', '164.246618', '115.895709', '235.86766', '389.701417', '268.359608', '325.567089', '433.46128', '158.04301', '106.735327', '132.553729', '122.262407', '171.764086', '244.092929', '130.919696', '201.307159', '262.649447', '526.57259', '597.643016', '350.0503', '93.75939', '100.580598', '138.762568', '133.100019', '263.892738', '200.447755', '135.352358', '285.147605', '241.13659', '496.505493', '733.256214', '295.99285', '82.966404', '117.609264', '137.763767', '106.00588', '213.062538', '207.580934', '152.878119', '250.585929', '321.172189', '426.865533', '453.931878', '335.572238', '133.248349', '111.326048', '135.037399', '127.478489', '240.935566', '212.020017', '134.75019', '226.497578', '273.342314', '465.079539', '677.343761', '415.070149', '107.255689', '131.010639', '138.432719', '113.338475', '257.26736', '222.281118', '176.201429', '251.001701', '369.568835', '483.528428', '566.318848', '278.79597', '100.378736', '139.389429', '149.437768', '177.38112', '251.4656', '170.516748', '131.551406', '231.793209', '244.042484', '259.680397', '629.685399', '480.90036', '121.229658', '153.666374', '174.724848', '143.61208', '297.363446', '199.623693', '149.474519', '238.548458', '380.168219', '520.309745', '666.454861', '476.495969', '144.666119', '147.67568', '150.126279', '175.71741', '308.63904', '148.505469', '144.062064', '294.213647', '407.392797', '434.124997', '567.105282', '347.38568', '124.664493', '145.105944', '134.788338', '157.51229', '286.108469', '215.015538', '193.72843', '307.380689', '360.610607', '627.635408', '623.371516', '251.522579', '144.80819', '143.375818', '153.211037', '155.846179', '260.130985']}

In [33]:
df2=pd.DataFrame(diccionario2)
df2

       Fechas     Valores
0    Ene.2007   153.07147
1    Feb.2007  100.276492
2    Mar.2007   179.56764
3    Abr.2007   191.46439
4    May.2007  511.391719
..        ...         ...
163  Ago.2020   144.80819
164  Sep.2020  143.375818
165  Oct.2020  153.211037
166  Nov.2020  155.846179
167  Dic.2020  260.130985

[168 rows x 2 columns]

In [34]:
df2.rename(columns={'Valores':'Arroz'}, inplace=True)
df2.head()

     Fechas       Arroz
0  Ene.2007   153.07147
1  Feb.2007  100.276492
2  Mar.2007   179.56764
3  Abr.2007   191.46439
4  May.2007  511.391719

In [ ]:
# DATOS DE PRODUCCIÓN AGRÍCOLA DE CEBOLLA

In [35]:
url_base="https://estadisticas.bcrp.gob.pe/estadisticas/series/api/"
cod_ser="PN01779AM"
formato="/json"
per="/2003-1/2020-12"
url=url_base+cod_ser+formato+per
print(url)

https://estadisticas.bcrp.gob.pe/estadisticas/series/api/PN01779AM/json/2003-1/2020-12

In [36]:
import requests
response=requests.get(url)
print(response)

<Response [200]>

In [37]:
# extraer en formato json
response_json=response.json()
print(response_json)

{'config': {'title': 'ProducciÃ³n agropecuaria (miles de toneladas)', 'series': [{'name': 'ProducciÃ³n agropecuaria (miles de toneladas) - AgrÃ\xadcola - Cebolla', 'dec': '1'}]}, 'periods': [{'name': 'Ene.2007', 'values': ['53.090134']}, {'name': 'Feb.2007', 'values': ['42.734335']}, {'name': 'Mar.2007', 'values': ['43.04086']}, {'name': 'Abr.2007', 'values': ['41.027424']}, {'name': 'May.2007', 'values': ['35.703073']}, {'name': 'Jun.2007', 'values': ['50.707824']}, {'name': 'Jul.2007', 'values': ['66.748382']}, {'name': 'Ago.2007', 'values': ['57.07454']}, {'name': 'Sep.2007', 'values': ['69.802515']}, {'name': 'Oct.2007', 'values': ['56.235939']}, {'name': 'Nov.2007', 'values': ['50.920179']}, {'name': 'Dic.2007', 'values': ['51.347234']}, {'name': 'Ene.2008', 'values': ['41.612065']}, {'name': 'Feb.2008', 'values': ['37.67698']}, {'name': 'Mar.2008', 'values': ['41.222018']}, {'name': 'Abr.2008', 'values': ['45.009046']}, {'name': 'May.2008', 'values': ['38.848789']}, {'name': 'Jun.2008', 'values': ['37.330138']}, {'name': 'Jul.2008', 'values': ['56.818317']}, {'name': 'Ago.2008', 'values': ['107.615908']}, {'name': 'Sep.2008', 'values': ['66.314779']}, {'name': 'Oct.2008', 'values': ['58.278925']}, {'name': 'Nov.2008', 'values': ['49.848915']}, {'name': 'Dic.2008', 'values': ['39.902094']}, {'name': 'Ene.2009', 'values': ['31.88996']}, {'name': 'Feb.2009', 'values': ['36.593019']}, {'name': 'Mar.2009', 'values': ['37.456745']}, {'name': 'Abr.2009', 'values': ['41.739925']}, {'name': 'May.2009', 'values': ['46.361065']}, {'name': 'Jun.2009', 'values': ['69.12252']}, {'name': 'Jul.2009', 'values': ['71.625128']}, {'name': 'Ago.2009', 'values': ['65.04765']}, {'name': 'Sep.2009', 'values': ['50.379792']}, {'name': 'Oct.2009', 'values': ['46.738911']}, {'name': 'Nov.2009', 'values': ['33.412349']}, {'name': 'Dic.2009', 'values': ['50.615873']}, {'name': 'Ene.2010', 'values': ['53.08096']}, {'name': 'Feb.2010', 'values': ['43.277611']}, {'name': 'Mar.2010', 'values': ['44.317169']}, {'name': 'Abr.2010', 'values': ['58.351038']}, {'name': 'May.2010', 'values': ['48.682859']}, {'name': 'Jun.2010', 'values': ['50.703248']}, {'name': 'Jul.2010', 'values': ['99.89533']}, {'name': 'Ago.2010', 'values': ['70.489197']}, {'name': 'Sep.2010', 'values': ['55.659233']}, {'name': 'Oct.2010', 'values': ['75.8816']}, {'name': 'Nov.2010', 'values': ['64.809668']}, {'name': 'Dic.2010', 'values': ['58.894448']}, {'name': 'Ene.2011', 'values': ['52.297378']}, {'name': 'Feb.2011', 'values': ['43.82546']}, {'name': 'Mar.2011', 'values': ['42.40711']}, {'name': 'Abr.2011', 'values': ['46.02911']}, {'name': 'May.2011', 'values': ['53.796259']}, {'name': 'Jun.2011', 'values': ['43.813328']}, {'name': 'Jul.2011', 'values': ['93.559968']}, {'name': 'Ago.2011', 'values': ['83.780362']}, {'name': 'Sep.2011', 'values': ['91.301884']}, {'name': 'Oct.2011', 'values': ['84.438459']}, {'name': 'Nov.2011', 'values': ['47.899679']}, {'name': 'Dic.2011', 'values': ['43.866669']}, {'name': 'Ene.2012', 'values': ['46.02599']}, {'name': 'Feb.2012', 'values': ['38.9509']}, {'name': 'Mar.2012', 'values': ['44.66256']}, {'name': 'Abr.2012', 'values': ['57.307387']}, {'name': 'May.2012', 'values': ['54.22822']}, {'name': 'Jun.2012', 'values': ['58.35778']}, {'name': 'Jul.2012', 'values': ['83.515848']}, {'name': 'Ago.2012', 'values': ['110.216393']}, {'name': 'Sep.2012', 'values': ['59.958529']}, {'name': 'Oct.2012', 'values': ['82.30274']}, {'name': 'Nov.2012', 'values': ['54.250016']}, {'name': 'Dic.2012', 'values': ['62.057721']}, {'name': 'Ene.2013', 'values': ['50.264573']}, {'name': 'Feb.2013', 'values': ['40.872183']}, {'name': 'Mar.2013', 'values': ['44.730225']}, {'name': 'Abr.2013', 'values': ['53.652637']}, {'name': 'May.2013', 'values': ['47.895997']}, {'name': 'Jun.2013', 'values': ['44.903893']}, {'name': 'Jul.2013', 'values': ['86.994273']}, {'name': 'Ago.2013', 'values': ['94.028089']}, {'name': 'Sep.2013', 'values': ['82.387849']}, {'name': 'Oct.2013', 'values': ['60.29672']}, {'name': 'Nov.2013', 'values': ['83.26536']}, {'name': 'Dic.2013', 'values': ['58.281659']}, {'name': 'Ene.2014', 'values': ['50.91731']}, {'name': 'Feb.2014', 'values': ['36.07884']}, {'name': 'Mar.2014', 'values': ['40.246009']}, {'name': 'Abr.2014', 'values': ['33.066879']}, {'name': 'May.2014', 'values': ['45.91109']}, {'name': 'Jun.2014', 'values': ['46.48042']}, {'name': 'Jul.2014', 'values': ['90.451981']}, {'name': 'Ago.2014', 'values': ['71.832904']}, {'name': 'Sep.2014', 'values': ['78.733034']}, {'name': 'Oct.2014', 'values': ['78.23566']}, {'name': 'Nov.2014', 'values': ['107.13847']}, {'name': 'Dic.2014', 'values': ['79.140663']}, {'name': 'Ene.2015', 'values': ['58.318559']}, {'name': 'Feb.2015', 'values': ['41.298817']}, {'name': 'Mar.2015', 'values': ['42.37014']}, {'name': 'Abr.2015', 'values': ['41.923619']}, {'name': 'May.2015', 'values': ['35.3335']}, {'name': 'Jun.2015', 'values': ['39.65203']}, {'name': 'Jul.2015', 'values': ['60.904388']}, {'name': 'Ago.2015', 'values': ['89.864903']}, {'name': 'Sep.2015', 'values': ['87.599204']}, {'name': 'Oct.2015', 'values': ['78.518286']}, {'name': 'Nov.2015', 'values': ['109.98624']}, {'name': 'Dic.2015', 'values': ['74.422601']}, {'name': 'Ene.2016', 'values': ['63.849139']}, {'name': 'Feb.2016', 'values': ['49.740039']}, {'name': 'Mar.2016', 'values': ['39.62606']}, {'name': 'Abr.2016', 'values': ['34.74272']}, {'name': 'May.2016', 'values': ['46.857809']}, {'name': 'Jun.2016', 'values': ['39.640196']}, {'name': 'Jul.2016', 'values': ['61.920018']}, {'name': 'Ago.2016', 'values': ['114.91761']}, {'name': 'Sep.2016', 'values': ['92.387322']}, {'name': 'Oct.2016', 'values': ['51.787837']}, {'name': 'Nov.2016', 'values': ['55.67189']}, {'name': 'Dic.2016', 'values': ['54.492766']}, {'name': 'Ene.2017', 'values': ['63.836884']}, {'name': 'Feb.2017', 'values': ['45.133208']}, {'name': 'Mar.2017', 'values': ['30.03661']}, {'name': 'Abr.2017', 'values': ['41.34735']}, {'name': 'May.2017', 'values': ['44.73271']}, {'name': 'Jun.2017', 'values': ['37.142305']}, {'name': 'Jul.2017', 'values': ['74.057721']}, {'name': 'Ago.2017', 'values': ['83.09932']}, {'name': 'Sep.2017', 'values': ['97.12251']}, {'name': 'Oct.2017', 'values': ['62.50571']}, {'name': 'Nov.2017', 'values': ['65.681464']}, {'name': 'Dic.2017', 'values': ['77.739955']}, {'name': 'Ene.2018', 'values': ['50.04204']}, {'name': 'Feb.2018', 'values': ['37.799885']}, {'name': 'Mar.2018', 'values': ['36.72612']}, {'name': 'Abr.2018', 'values': ['48.436509']}, {'name': 'May.2018', 'values': ['39.58735']}, {'name': 'Jun.2018', 'values': ['29.791779']}, {'name': 'Jul.2018', 'values': ['38.728959']}, {'name': 'Ago.2018', 'values': ['89.849999']}, {'name': 'Sep.2018', 'values': ['90.63474']}, {'name': 'Oct.2018', 'values': ['66.397329']}, {'name': 'Nov.2018', 'values': ['60.20284']}, {'name': 'Dic.2018', 'values': ['55.756836']}, {'name': 'Ene.2019', 'values': ['45.700988']}, {'name': 'Feb.2019', 'values': ['33.623688']}, {'name': 'Mar.2019', 'values': ['27.46229']}, {'name': 'Abr.2019', 'values': ['65.45033']}, {'name': 'May.2019', 'values': ['36.31819']}, {'name': 'Jun.2019', 'values': ['36.781832']}, {'name': 'Jul.2019', 'values': ['46.174548']}, {'name': 'Ago.2019', 'values': ['95.216333']}, {'name': 'Sep.2019', 'values': ['62.103418']}, {'name': 'Oct.2019', 'values': ['60.242443']}, {'name': 'Nov.2019', 'values': ['59.93219']}, {'name': 'Dic.2019', 'values': ['67.212051']}, {'name': 'Ene.2020', 'values': ['56.917305']}, {'name': 'Feb.2020', 'values': ['36.785162']}, {'name': 'Mar.2020', 'values': ['28.18023']}, {'name': 'Abr.2020', 'values': ['43.09576']}, {'name': 'May.2020', 'values': ['43.17377']}, {'name': 'Jun.2020', 'values': ['40.909219']}, {'name': 'Jul.2020', 'values': ['52.324263']}, {'name': 'Ago.2020', 'values': ['81.030754']}, {'name': 'Sep.2020', 'values': ['58.687276']}, {'name': 'Oct.2020', 'values': ['45.68893']}, {'name': 'Nov.2020', 'values': ['64.832729']}, {'name': 'Dic.2020', 'values': ['53.99377']}]}

In [38]:
for key in response_json.keys():
    print(key)

config
periods

In [39]:
print(response_json["config"])

{'title': 'ProducciÃ³n agropecuaria (miles de toneladas)', 'series': [{'name': 'ProducciÃ³n agropecuaria (miles de toneladas) - AgrÃ\xadcola - Cebolla', 'dec': '1'}]}

In [40]:
# llamar a los valores
print(response_json["periods"])

[{'name': 'Ene.2007', 'values': ['53.090134']}, {'name': 'Feb.2007', 'values': ['42.734335']}, {'name': 'Mar.2007', 'values': ['43.04086']}, {'name': 'Abr.2007', 'values': ['41.027424']}, {'name': 'May.2007', 'values': ['35.703073']}, {'name': 'Jun.2007', 'values': ['50.707824']}, {'name': 'Jul.2007', 'values': ['66.748382']}, {'name': 'Ago.2007', 'values': ['57.07454']}, {'name': 'Sep.2007', 'values': ['69.802515']}, {'name': 'Oct.2007', 'values': ['56.235939']}, {'name': 'Nov.2007', 'values': ['50.920179']}, {'name': 'Dic.2007', 'values': ['51.347234']}, {'name': 'Ene.2008', 'values': ['41.612065']}, {'name': 'Feb.2008', 'values': ['37.67698']}, {'name': 'Mar.2008', 'values': ['41.222018']}, {'name': 'Abr.2008', 'values': ['45.009046']}, {'name': 'May.2008', 'values': ['38.848789']}, {'name': 'Jun.2008', 'values': ['37.330138']}, {'name': 'Jul.2008', 'values': ['56.818317']}, {'name': 'Ago.2008', 'values': ['107.615908']}, {'name': 'Sep.2008', 'values': ['66.314779']}, {'name': 'Oct.2008', 'values': ['58.278925']}, {'name': 'Nov.2008', 'values': ['49.848915']}, {'name': 'Dic.2008', 'values': ['39.902094']}, {'name': 'Ene.2009', 'values': ['31.88996']}, {'name': 'Feb.2009', 'values': ['36.593019']}, {'name': 'Mar.2009', 'values': ['37.456745']}, {'name': 'Abr.2009', 'values': ['41.739925']}, {'name': 'May.2009', 'values': ['46.361065']}, {'name': 'Jun.2009', 'values': ['69.12252']}, {'name': 'Jul.2009', 'values': ['71.625128']}, {'name': 'Ago.2009', 'values': ['65.04765']}, {'name': 'Sep.2009', 'values': ['50.379792']}, {'name': 'Oct.2009', 'values': ['46.738911']}, {'name': 'Nov.2009', 'values': ['33.412349']}, {'name': 'Dic.2009', 'values': ['50.615873']}, {'name': 'Ene.2010', 'values': ['53.08096']}, {'name': 'Feb.2010', 'values': ['43.277611']}, {'name': 'Mar.2010', 'values': ['44.317169']}, {'name': 'Abr.2010', 'values': ['58.351038']}, {'name': 'May.2010', 'values': ['48.682859']}, {'name': 'Jun.2010', 'values': ['50.703248']}, {'name': 'Jul.2010', 'values': ['99.89533']}, {'name': 'Ago.2010', 'values': ['70.489197']}, {'name': 'Sep.2010', 'values': ['55.659233']}, {'name': 'Oct.2010', 'values': ['75.8816']}, {'name': 'Nov.2010', 'values': ['64.809668']}, {'name': 'Dic.2010', 'values': ['58.894448']}, {'name': 'Ene.2011', 'values': ['52.297378']}, {'name': 'Feb.2011', 'values': ['43.82546']}, {'name': 'Mar.2011', 'values': ['42.40711']}, {'name': 'Abr.2011', 'values': ['46.02911']}, {'name': 'May.2011', 'values': ['53.796259']}, {'name': 'Jun.2011', 'values': ['43.813328']}, {'name': 'Jul.2011', 'values': ['93.559968']}, {'name': 'Ago.2011', 'values': ['83.780362']}, {'name': 'Sep.2011', 'values': ['91.301884']}, {'name': 'Oct.2011', 'values': ['84.438459']}, {'name': 'Nov.2011', 'values': ['47.899679']}, {'name': 'Dic.2011', 'values': ['43.866669']}, {'name': 'Ene.2012', 'values': ['46.02599']}, {'name': 'Feb.2012', 'values': ['38.9509']}, {'name': 'Mar.2012', 'values': ['44.66256']}, {'name': 'Abr.2012', 'values': ['57.307387']}, {'name': 'May.2012', 'values': ['54.22822']}, {'name': 'Jun.2012', 'values': ['58.35778']}, {'name': 'Jul.2012', 'values': ['83.515848']}, {'name': 'Ago.2012', 'values': ['110.216393']}, {'name': 'Sep.2012', 'values': ['59.958529']}, {'name': 'Oct.2012', 'values': ['82.30274']}, {'name': 'Nov.2012', 'values': ['54.250016']}, {'name': 'Dic.2012', 'values': ['62.057721']}, {'name': 'Ene.2013', 'values': ['50.264573']}, {'name': 'Feb.2013', 'values': ['40.872183']}, {'name': 'Mar.2013', 'values': ['44.730225']}, {'name': 'Abr.2013', 'values': ['53.652637']}, {'name': 'May.2013', 'values': ['47.895997']}, {'name': 'Jun.2013', 'values': ['44.903893']}, {'name': 'Jul.2013', 'values': ['86.994273']}, {'name': 'Ago.2013', 'values': ['94.028089']}, {'name': 'Sep.2013', 'values': ['82.387849']}, {'name': 'Oct.2013', 'values': ['60.29672']}, {'name': 'Nov.2013', 'values': ['83.26536']}, {'name': 'Dic.2013', 'values': ['58.281659']}, {'name': 'Ene.2014', 'values': ['50.91731']}, {'name': 'Feb.2014', 'values': ['36.07884']}, {'name': 'Mar.2014', 'values': ['40.246009']}, {'name': 'Abr.2014', 'values': ['33.066879']}, {'name': 'May.2014', 'values': ['45.91109']}, {'name': 'Jun.2014', 'values': ['46.48042']}, {'name': 'Jul.2014', 'values': ['90.451981']}, {'name': 'Ago.2014', 'values': ['71.832904']}, {'name': 'Sep.2014', 'values': ['78.733034']}, {'name': 'Oct.2014', 'values': ['78.23566']}, {'name': 'Nov.2014', 'values': ['107.13847']}, {'name': 'Dic.2014', 'values': ['79.140663']}, {'name': 'Ene.2015', 'values': ['58.318559']}, {'name': 'Feb.2015', 'values': ['41.298817']}, {'name': 'Mar.2015', 'values': ['42.37014']}, {'name': 'Abr.2015', 'values': ['41.923619']}, {'name': 'May.2015', 'values': ['35.3335']}, {'name': 'Jun.2015', 'values': ['39.65203']}, {'name': 'Jul.2015', 'values': ['60.904388']}, {'name': 'Ago.2015', 'values': ['89.864903']}, {'name': 'Sep.2015', 'values': ['87.599204']}, {'name': 'Oct.2015', 'values': ['78.518286']}, {'name': 'Nov.2015', 'values': ['109.98624']}, {'name': 'Dic.2015', 'values': ['74.422601']}, {'name': 'Ene.2016', 'values': ['63.849139']}, {'name': 'Feb.2016', 'values': ['49.740039']}, {'name': 'Mar.2016', 'values': ['39.62606']}, {'name': 'Abr.2016', 'values': ['34.74272']}, {'name': 'May.2016', 'values': ['46.857809']}, {'name': 'Jun.2016', 'values': ['39.640196']}, {'name': 'Jul.2016', 'values': ['61.920018']}, {'name': 'Ago.2016', 'values': ['114.91761']}, {'name': 'Sep.2016', 'values': ['92.387322']}, {'name': 'Oct.2016', 'values': ['51.787837']}, {'name': 'Nov.2016', 'values': ['55.67189']}, {'name': 'Dic.2016', 'values': ['54.492766']}, {'name': 'Ene.2017', 'values': ['63.836884']}, {'name': 'Feb.2017', 'values': ['45.133208']}, {'name': 'Mar.2017', 'values': ['30.03661']}, {'name': 'Abr.2017', 'values': ['41.34735']}, {'name': 'May.2017', 'values': ['44.73271']}, {'name': 'Jun.2017', 'values': ['37.142305']}, {'name': 'Jul.2017', 'values': ['74.057721']}, {'name': 'Ago.2017', 'values': ['83.09932']}, {'name': 'Sep.2017', 'values': ['97.12251']}, {'name': 'Oct.2017', 'values': ['62.50571']}, {'name': 'Nov.2017', 'values': ['65.681464']}, {'name': 'Dic.2017', 'values': ['77.739955']}, {'name': 'Ene.2018', 'values': ['50.04204']}, {'name': 'Feb.2018', 'values': ['37.799885']}, {'name': 'Mar.2018', 'values': ['36.72612']}, {'name': 'Abr.2018', 'values': ['48.436509']}, {'name': 'May.2018', 'values': ['39.58735']}, {'name': 'Jun.2018', 'values': ['29.791779']}, {'name': 'Jul.2018', 'values': ['38.728959']}, {'name': 'Ago.2018', 'values': ['89.849999']}, {'name': 'Sep.2018', 'values': ['90.63474']}, {'name': 'Oct.2018', 'values': ['66.397329']}, {'name': 'Nov.2018', 'values': ['60.20284']}, {'name': 'Dic.2018', 'values': ['55.756836']}, {'name': 'Ene.2019', 'values': ['45.700988']}, {'name': 'Feb.2019', 'values': ['33.623688']}, {'name': 'Mar.2019', 'values': ['27.46229']}, {'name': 'Abr.2019', 'values': ['65.45033']}, {'name': 'May.2019', 'values': ['36.31819']}, {'name': 'Jun.2019', 'values': ['36.781832']}, {'name': 'Jul.2019', 'values': ['46.174548']}, {'name': 'Ago.2019', 'values': ['95.216333']}, {'name': 'Sep.2019', 'values': ['62.103418']}, {'name': 'Oct.2019', 'values': ['60.242443']}, {'name': 'Nov.2019', 'values': ['59.93219']}, {'name': 'Dic.2019', 'values': ['67.212051']}, {'name': 'Ene.2020', 'values': ['56.917305']}, {'name': 'Feb.2020', 'values': ['36.785162']}, {'name': 'Mar.2020', 'values': ['28.18023']}, {'name': 'Abr.2020', 'values': ['43.09576']}, {'name': 'May.2020', 'values': ['43.17377']}, {'name': 'Jun.2020', 'values': ['40.909219']}, {'name': 'Jul.2020', 'values': ['52.324263']}, {'name': 'Ago.2020', 'values': ['81.030754']}, {'name': 'Sep.2020', 'values': ['58.687276']}, {'name': 'Oct.2020', 'values': ['45.68893']}, {'name': 'Nov.2020', 'values': ['64.832729']}, {'name': 'Dic.2020', 'values': ['53.99377']}]

In [41]:
periodos=response_json.get("periods")
prod_cebolla=[]
for i in periodos:
    valores_list=i["values"]
    for w in valores_list:
        w=str(w)
        prod_cebolla.append(w)
print(prod_cebolla)

['53.090134', '42.734335', '43.04086', '41.027424', '35.703073', '50.707824', '66.748382', '57.07454', '69.802515', '56.235939', '50.920179', '51.347234', '41.612065', '37.67698', '41.222018', '45.009046', '38.848789', '37.330138', '56.818317', '107.615908', '66.314779', '58.278925', '49.848915', '39.902094', '31.88996', '36.593019', '37.456745', '41.739925', '46.361065', '69.12252', '71.625128', '65.04765', '50.379792', '46.738911', '33.412349', '50.615873', '53.08096', '43.277611', '44.317169', '58.351038', '48.682859', '50.703248', '99.89533', '70.489197', '55.659233', '75.8816', '64.809668', '58.894448', '52.297378', '43.82546', '42.40711', '46.02911', '53.796259', '43.813328', '93.559968', '83.780362', '91.301884', '84.438459', '47.899679', '43.866669', '46.02599', '38.9509', '44.66256', '57.307387', '54.22822', '58.35778', '83.515848', '110.216393', '59.958529', '82.30274', '54.250016', '62.057721', '50.264573', '40.872183', '44.730225', '53.652637', '47.895997', '44.903893', '86.994273', '94.028089', '82.387849', '60.29672', '83.26536', '58.281659', '50.91731', '36.07884', '40.246009', '33.066879', '45.91109', '46.48042', '90.451981', '71.832904', '78.733034', '78.23566', '107.13847', '79.140663', '58.318559', '41.298817', '42.37014', '41.923619', '35.3335', '39.65203', '60.904388', '89.864903', '87.599204', '78.518286', '109.98624', '74.422601', '63.849139', '49.740039', '39.62606', '34.74272', '46.857809', '39.640196', '61.920018', '114.91761', '92.387322', '51.787837', '55.67189', '54.492766', '63.836884', '45.133208', '30.03661', '41.34735', '44.73271', '37.142305', '74.057721', '83.09932', '97.12251', '62.50571', '65.681464', '77.739955', '50.04204', '37.799885', '36.72612', '48.436509', '39.58735', '29.791779', '38.728959', '89.849999', '90.63474', '66.397329', '60.20284', '55.756836', '45.700988', '33.623688', '27.46229', '65.45033', '36.31819', '36.781832', '46.174548', '95.216333', '62.103418', '60.242443', '59.93219', '67.212051', '56.917305', '36.785162', '28.18023', '43.09576', '43.17377', '40.909219', '52.324263', '81.030754', '58.687276', '45.68893', '64.832729', '53.99377']

In [42]:
fechas=[]
for i in periodos:
    nombres=i["name"]
    fechas.append(nombres)
print(fechas)

['Ene.2007', 'Feb.2007', 'Mar.2007', 'Abr.2007', 'May.2007', 'Jun.2007', 'Jul.2007', 'Ago.2007', 'Sep.2007', 'Oct.2007', 'Nov.2007', 'Dic.2007', 'Ene.2008', 'Feb.2008', 'Mar.2008', 'Abr.2008', 'May.2008', 'Jun.2008', 'Jul.2008', 'Ago.2008', 'Sep.2008', 'Oct.2008', 'Nov.2008', 'Dic.2008', 'Ene.2009', 'Feb.2009', 'Mar.2009', 'Abr.2009', 'May.2009', 'Jun.2009', 'Jul.2009', 'Ago.2009', 'Sep.2009', 'Oct.2009', 'Nov.2009', 'Dic.2009', 'Ene.2010', 'Feb.2010', 'Mar.2010', 'Abr.2010', 'May.2010', 'Jun.2010', 'Jul.2010', 'Ago.2010', 'Sep.2010', 'Oct.2010', 'Nov.2010', 'Dic.2010', 'Ene.2011', 'Feb.2011', 'Mar.2011', 'Abr.2011', 'May.2011', 'Jun.2011', 'Jul.2011', 'Ago.2011', 'Sep.2011', 'Oct.2011', 'Nov.2011', 'Dic.2011', 'Ene.2012', 'Feb.2012', 'Mar.2012', 'Abr.2012', 'May.2012', 'Jun.2012', 'Jul.2012', 'Ago.2012', 'Sep.2012', 'Oct.2012', 'Nov.2012', 'Dic.2012', 'Ene.2013', 'Feb.2013', 'Mar.2013', 'Abr.2013', 'May.2013', 'Jun.2013', 'Jul.2013', 'Ago.2013', 'Sep.2013', 'Oct.2013', 'Nov.2013', 'Dic.2013', 'Ene.2014', 'Feb.2014', 'Mar.2014', 'Abr.2014', 'May.2014', 'Jun.2014', 'Jul.2014', 'Ago.2014', 'Sep.2014', 'Oct.2014', 'Nov.2014', 'Dic.2014', 'Ene.2015', 'Feb.2015', 'Mar.2015', 'Abr.2015', 'May.2015', 'Jun.2015', 'Jul.2015', 'Ago.2015', 'Sep.2015', 'Oct.2015', 'Nov.2015', 'Dic.2015', 'Ene.2016', 'Feb.2016', 'Mar.2016', 'Abr.2016', 'May.2016', 'Jun.2016', 'Jul.2016', 'Ago.2016', 'Sep.2016', 'Oct.2016', 'Nov.2016', 'Dic.2016', 'Ene.2017', 'Feb.2017', 'Mar.2017', 'Abr.2017', 'May.2017', 'Jun.2017', 'Jul.2017', 'Ago.2017', 'Sep.2017', 'Oct.2017', 'Nov.2017', 'Dic.2017', 'Ene.2018', 'Feb.2018', 'Mar.2018', 'Abr.2018', 'May.2018', 'Jun.2018', 'Jul.2018', 'Ago.2018', 'Sep.2018', 'Oct.2018', 'Nov.2018', 'Dic.2018', 'Ene.2019', 'Feb.2019', 'Mar.2019', 'Abr.2019', 'May.2019', 'Jun.2019', 'Jul.2019', 'Ago.2019', 'Sep.2019', 'Oct.2019', 'Nov.2019', 'Dic.2019', 'Ene.2020', 'Feb.2020', 'Mar.2020', 'Abr.2020', 'May.2020', 'Jun.2020', 'Jul.2020', 'Ago.2020', 'Sep.2020', 'Oct.2020', 'Nov.2020', 'Dic.2020']

In [43]:
diccionario3= {"Fechas":fechas, "Valores":prod_cebolla}
print(diccionario3)

{'Fechas': ['Ene.2007', 'Feb.2007', 'Mar.2007', 'Abr.2007', 'May.2007', 'Jun.2007', 'Jul.2007', 'Ago.2007', 'Sep.2007', 'Oct.2007', 'Nov.2007', 'Dic.2007', 'Ene.2008', 'Feb.2008', 'Mar.2008', 'Abr.2008', 'May.2008', 'Jun.2008', 'Jul.2008', 'Ago.2008', 'Sep.2008', 'Oct.2008', 'Nov.2008', 'Dic.2008', 'Ene.2009', 'Feb.2009', 'Mar.2009', 'Abr.2009', 'May.2009', 'Jun.2009', 'Jul.2009', 'Ago.2009', 'Sep.2009', 'Oct.2009', 'Nov.2009', 'Dic.2009', 'Ene.2010', 'Feb.2010', 'Mar.2010', 'Abr.2010', 'May.2010', 'Jun.2010', 'Jul.2010', 'Ago.2010', 'Sep.2010', 'Oct.2010', 'Nov.2010', 'Dic.2010', 'Ene.2011', 'Feb.2011', 'Mar.2011', 'Abr.2011', 'May.2011', 'Jun.2011', 'Jul.2011', 'Ago.2011', 'Sep.2011', 'Oct.2011', 'Nov.2011', 'Dic.2011', 'Ene.2012', 'Feb.2012', 'Mar.2012', 'Abr.2012', 'May.2012', 'Jun.2012', 'Jul.2012', 'Ago.2012', 'Sep.2012', 'Oct.2012', 'Nov.2012', 'Dic.2012', 'Ene.2013', 'Feb.2013', 'Mar.2013', 'Abr.2013', 'May.2013', 'Jun.2013', 'Jul.2013', 'Ago.2013', 'Sep.2013', 'Oct.2013', 'Nov.2013', 'Dic.2013', 'Ene.2014', 'Feb.2014', 'Mar.2014', 'Abr.2014', 'May.2014', 'Jun.2014', 'Jul.2014', 'Ago.2014', 'Sep.2014', 'Oct.2014', 'Nov.2014', 'Dic.2014', 'Ene.2015', 'Feb.2015', 'Mar.2015', 'Abr.2015', 'May.2015', 'Jun.2015', 'Jul.2015', 'Ago.2015', 'Sep.2015', 'Oct.2015', 'Nov.2015', 'Dic.2015', 'Ene.2016', 'Feb.2016', 'Mar.2016', 'Abr.2016', 'May.2016', 'Jun.2016', 'Jul.2016', 'Ago.2016', 'Sep.2016', 'Oct.2016', 'Nov.2016', 'Dic.2016', 'Ene.2017', 'Feb.2017', 'Mar.2017', 'Abr.2017', 'May.2017', 'Jun.2017', 'Jul.2017', 'Ago.2017', 'Sep.2017', 'Oct.2017', 'Nov.2017', 'Dic.2017', 'Ene.2018', 'Feb.2018', 'Mar.2018', 'Abr.2018', 'May.2018', 'Jun.2018', 'Jul.2018', 'Ago.2018', 'Sep.2018', 'Oct.2018', 'Nov.2018', 'Dic.2018', 'Ene.2019', 'Feb.2019', 'Mar.2019', 'Abr.2019', 'May.2019', 'Jun.2019', 'Jul.2019', 'Ago.2019', 'Sep.2019', 'Oct.2019', 'Nov.2019', 'Dic.2019', 'Ene.2020', 'Feb.2020', 'Mar.2020', 'Abr.2020', 'May.2020', 'Jun.2020', 'Jul.2020', 'Ago.2020', 'Sep.2020', 'Oct.2020', 'Nov.2020', 'Dic.2020'], 'Valores': ['53.090134', '42.734335', '43.04086', '41.027424', '35.703073', '50.707824', '66.748382', '57.07454', '69.802515', '56.235939', '50.920179', '51.347234', '41.612065', '37.67698', '41.222018', '45.009046', '38.848789', '37.330138', '56.818317', '107.615908', '66.314779', '58.278925', '49.848915', '39.902094', '31.88996', '36.593019', '37.456745', '41.739925', '46.361065', '69.12252', '71.625128', '65.04765', '50.379792', '46.738911', '33.412349', '50.615873', '53.08096', '43.277611', '44.317169', '58.351038', '48.682859', '50.703248', '99.89533', '70.489197', '55.659233', '75.8816', '64.809668', '58.894448', '52.297378', '43.82546', '42.40711', '46.02911', '53.796259', '43.813328', '93.559968', '83.780362', '91.301884', '84.438459', '47.899679', '43.866669', '46.02599', '38.9509', '44.66256', '57.307387', '54.22822', '58.35778', '83.515848', '110.216393', '59.958529', '82.30274', '54.250016', '62.057721', '50.264573', '40.872183', '44.730225', '53.652637', '47.895997', '44.903893', '86.994273', '94.028089', '82.387849', '60.29672', '83.26536', '58.281659', '50.91731', '36.07884', '40.246009', '33.066879', '45.91109', '46.48042', '90.451981', '71.832904', '78.733034', '78.23566', '107.13847', '79.140663', '58.318559', '41.298817', '42.37014', '41.923619', '35.3335', '39.65203', '60.904388', '89.864903', '87.599204', '78.518286', '109.98624', '74.422601', '63.849139', '49.740039', '39.62606', '34.74272', '46.857809', '39.640196', '61.920018', '114.91761', '92.387322', '51.787837', '55.67189', '54.492766', '63.836884', '45.133208', '30.03661', '41.34735', '44.73271', '37.142305', '74.057721', '83.09932', '97.12251', '62.50571', '65.681464', '77.739955', '50.04204', '37.799885', '36.72612', '48.436509', '39.58735', '29.791779', '38.728959', '89.849999', '90.63474', '66.397329', '60.20284', '55.756836', '45.700988', '33.623688', '27.46229', '65.45033', '36.31819', '36.781832', '46.174548', '95.216333', '62.103418', '60.242443', '59.93219', '67.212051', '56.917305', '36.785162', '28.18023', '43.09576', '43.17377', '40.909219', '52.324263', '81.030754', '58.687276', '45.68893', '64.832729', '53.99377']}

In [44]:
df3=pd.DataFrame(diccionario3)
df3

       Fechas    Valores
0    Ene.2007  53.090134
1    Feb.2007  42.734335
2    Mar.2007   43.04086
3    Abr.2007  41.027424
4    May.2007  35.703073
..        ...        ...
163  Ago.2020  81.030754
164  Sep.2020  58.687276
165  Oct.2020   45.68893
166  Nov.2020  64.832729
167  Dic.2020   53.99377

[168 rows x 2 columns]

In [45]:
df3.rename(columns={'Valores':'Cebolla'}, inplace=True)
df3.head()

     Fechas    Cebolla
0  Ene.2007  53.090134
1  Feb.2007  42.734335
2  Mar.2007   43.04086
3  Abr.2007  41.027424
4  May.2007  35.703073

In [ ]:
# DATOS DE PRODUCCIÓN AGRÍCOLA DE MANDARINA

In [46]:
url_base="https://estadisticas.bcrp.gob.pe/estadisticas/series/api/"
cod_ser="PN01780AM"
formato="/json"
per="/2003-1/2020-12"
url=url_base+cod_ser+formato+per
print(url)

https://estadisticas.bcrp.gob.pe/estadisticas/series/api/PN01780AM/json/2003-1/2020-12

In [47]:
import requests
response=requests.get(url)
print(response)

<Response [200]>

In [48]:
# extraer en formato json
response_json=response.json()

In [49]:
for key in response_json.keys():
    print(key)

config
periods

In [50]:
print(response_json["config"])

{'title': 'ProducciÃ³n agropecuaria (miles de toneladas)', 'series': [{'name': 'ProducciÃ³n agropecuaria (miles de toneladas) - AgrÃ\xadcola - Mandarina', 'dec': '1'}]}

In [51]:
# llamar a los valores
print(response_json["periods"])

[{'name': 'Ene.2007', 'values': ['4.524879']}, {'name': 'Feb.2007', 'values': ['7.47609']}, {'name': 'Mar.2007', 'values': ['18.02925']}, {'name': 'Abr.2007', 'values': ['24.538329']}, {'name': 'May.2007', 'values': ['30.12295']}, {'name': 'Jun.2007', 'values': ['27.84297']}, {'name': 'Jul.2007', 'values': ['30.926139']}, {'name': 'Ago.2007', 'values': ['18.12845']}, {'name': 'Sep.2007', 'values': ['11.343189']}, {'name': 'Oct.2007', 'values': ['9.24295']}, {'name': 'Nov.2007', 'values': ['5.19028']}, {'name': 'Dic.2007', 'values': ['3.04437']}, {'name': 'Ene.2008', 'values': ['2.31944']}, {'name': 'Feb.2008', 'values': ['2.939979']}, {'name': 'Mar.2008', 'values': ['10.74546']}, {'name': 'Abr.2008', 'values': ['21.8285']}, {'name': 'May.2008', 'values': ['34.501679']}, {'name': 'Jun.2008', 'values': ['31.657928']}, {'name': 'Jul.2008', 'values': ['33.12492']}, {'name': 'Ago.2008', 'values': ['22.972109']}, {'name': 'Sep.2008', 'values': ['9.59386']}, {'name': 'Oct.2008', 'values': ['9.78915']}, {'name': 'Nov.2008', 'values': ['4.836629']}, {'name': 'Dic.2008', 'values': ['2.855719']}, {'name': 'Ene.2009', 'values': ['2.383759']}, {'name': 'Feb.2009', 'values': ['5.178659']}, {'name': 'Mar.2009', 'values': ['14.20665']}, {'name': 'Abr.2009', 'values': ['20.911728']}, {'name': 'May.2009', 'values': ['26.191158']}, {'name': 'Jun.2009', 'values': ['29.367887']}, {'name': 'Jul.2009', 'values': ['24.082836']}, {'name': 'Ago.2009', 'values': ['18.937419']}, {'name': 'Sep.2009', 'values': ['10.04299']}, {'name': 'Oct.2009', 'values': ['6.535059']}, {'name': 'Nov.2009', 'values': ['6.31415']}, {'name': 'Dic.2009', 'values': ['1.919598']}, {'name': 'Ene.2010', 'values': ['2.77934']}, {'name': 'Feb.2010', 'values': ['8.444099']}, {'name': 'Mar.2010', 'values': ['15.281949']}, {'name': 'Abr.2010', 'values': ['27.4883']}, {'name': 'May.2010', 'values': ['38.342817']}, {'name': 'Jun.2010', 'values': ['31.673876']}, {'name': 'Jul.2010', 'values': ['24.538125']}, {'name': 'Ago.2010', 'values': ['24.51739']}, {'name': 'Sep.2010', 'values': ['26.24276']}, {'name': 'Oct.2010', 'values': ['10.754809']}, {'name': 'Nov.2010', 'values': ['7.43749']}, {'name': 'Dic.2010', 'values': ['3.823019']}, {'name': 'Ene.2011', 'values': ['2.809739']}, {'name': 'Feb.2011', 'values': ['7.81292']}, {'name': 'Mar.2011', 'values': ['17.539456']}, {'name': 'Abr.2011', 'values': ['28.495809']}, {'name': 'May.2011', 'values': ['37.46777']}, {'name': 'Jun.2011', 'values': ['34.742639']}, {'name': 'Jul.2011', 'values': ['30.565479']}, {'name': 'Ago.2011', 'values': ['24.302689']}, {'name': 'Sep.2011', 'values': ['20.74577']}, {'name': 'Oct.2011', 'values': ['15.067529']}, {'name': 'Nov.2011', 'values': ['11.840489']}, {'name': 'Dic.2011', 'values': ['4.891979']}, {'name': 'Ene.2012', 'values': ['5.3042']}, {'name': 'Feb.2012', 'values': ['6.572807']}, {'name': 'Mar.2012', 'values': ['15.68122']}, {'name': 'Abr.2012', 'values': ['28.369798']}, {'name': 'May.2012', 'values': ['39.8858']}, {'name': 'Jun.2012', 'values': ['44.314879']}, {'name': 'Jul.2012', 'values': ['38.854996']}, {'name': 'Ago.2012', 'values': ['31.210639']}, {'name': 'Sep.2012', 'values': ['28.61586']}, {'name': 'Oct.2012', 'values': ['18.29868']}, {'name': 'Nov.2012', 'values': ['14.09676']}, {'name': 'Dic.2012', 'values': ['9.855549']}, {'name': 'Ene.2013', 'values': ['6.406']}, {'name': 'Feb.2013', 'values': ['7.895849']}, {'name': 'Mar.2013', 'values': ['17.193529']}, {'name': 'Abr.2013', 'values': ['31.044849']}, {'name': 'May.2013', 'values': ['42.925549']}, {'name': 'Jun.2013', 'values': ['48.872908']}, {'name': 'Jul.2013', 'values': ['47.589379']}, {'name': 'Ago.2013', 'values': ['34.830485']}, {'name': 'Sep.2013', 'values': ['26.673409']}, {'name': 'Oct.2013', 'values': ['18.72275']}, {'name': 'Nov.2013', 'values': ['23.166664']}, {'name': 'Dic.2013', 'values': ['8.56205']}, {'name': 'Ene.2014', 'values': ['7.59521']}, {'name': 'Feb.2014', 'values': ['10.634258']}, {'name': 'Mar.2014', 'values': ['19.92495']}, {'name': 'Abr.2014', 'values': ['38.350389']}, {'name': 'May.2014', 'values': ['58.762749']}, {'name': 'Jun.2014', 'values': ['53.619359']}, {'name': 'Jul.2014', 'values': ['39.98955']}, {'name': 'Ago.2014', 'values': ['32.516119']}, {'name': 'Sep.2014', 'values': ['22.00946']}, {'name': 'Oct.2014', 'values': ['20.298137']}, {'name': 'Nov.2014', 'values': ['23.267518']}, {'name': 'Dic.2014', 'values': ['12.636599']}, {'name': 'Ene.2015', 'values': ['7.407087']}, {'name': 'Feb.2015', 'values': ['12.37393']}, {'name': 'Mar.2015', 'values': ['21.238479']}, {'name': 'Abr.2015', 'values': ['40.11965']}, {'name': 'May.2015', 'values': ['57.251589']}, {'name': 'Jun.2015', 'values': ['66.061964']}, {'name': 'Jul.2015', 'values': ['42.31254']}, {'name': 'Ago.2015', 'values': ['30.741309']}, {'name': 'Sep.2015', 'values': ['24.301008']}, {'name': 'Oct.2015', 'values': ['23.067179']}, {'name': 'Nov.2015', 'values': ['22.956688']}, {'name': 'Dic.2015', 'values': ['10.080129']}, {'name': 'Ene.2016', 'values': ['5.834637']}, {'name': 'Feb.2016', 'values': ['11.644699']}, {'name': 'Mar.2016', 'values': ['23.64416']}, {'name': 'Abr.2016', 'values': ['42.656487']}, {'name': 'May.2016', 'values': ['59.401039']}, {'name': 'Jun.2016', 'values': ['70.10971']}, {'name': 'Jul.2016', 'values': ['62.351259']}, {'name': 'Ago.2016', 'values': ['34.70156']}, {'name': 'Sep.2016', 'values': ['32.339167']}, {'name': 'Oct.2016', 'values': ['27.046969']}, {'name': 'Nov.2016', 'values': ['25.08258']}, {'name': 'Dic.2016', 'values': ['9.04487899999998']}, {'name': 'Ene.2017', 'values': ['5.729939']}, {'name': 'Feb.2017', 'values': ['11.13528']}, {'name': 'Mar.2017', 'values': ['22.23967']}, {'name': 'Abr.2017', 'values': ['44.93703']}, {'name': 'May.2017', 'values': ['68.57283']}, {'name': 'Jun.2017', 'values': ['82.59869']}, {'name': 'Jul.2017', 'values': ['60.635669']}, {'name': 'Ago.2017', 'values': ['34.759309']}, {'name': 'Sep.2017', 'values': ['24.580295']}, {'name': 'Oct.2017', 'values': ['16.012629']}, {'name': 'Nov.2017', 'values': ['21.04855']}, {'name': 'Dic.2017', 'values': ['15.77483']}, {'name': 'Ene.2018', 'values': ['3.685209']}, {'name': 'Feb.2018', 'values': ['10.086859']}, {'name': 'Mar.2018', 'values': ['27.683808']}, {'name': 'Abr.2018', 'values': ['74.302518']}, {'name': 'May.2018', 'values': ['64.58905']}, {'name': 'Jun.2018', 'values': ['73.438567']}, {'name': 'Jul.2018', 'values': ['86.519009']}, {'name': 'Ago.2018', 'values': ['55.546359']}, {'name': 'Sep.2018', 'values': ['32.106339']}, {'name': 'Oct.2018', 'values': ['17.3373']}, {'name': 'Nov.2018', 'values': ['22.773268']}, {'name': 'Dic.2018', 'values': ['13.525677']}, {'name': 'Ene.2019', 'values': ['6.695686']}, {'name': 'Feb.2019', 'values': ['13.023489']}, {'name': 'Mar.2019', 'values': ['39.58521']}, {'name': 'Abr.2019', 'values': ['57.842358']}, {'name': 'May.2019', 'values': ['69.615437']}, {'name': 'Jun.2019', 'values': ['66.64858']}, {'name': 'Jul.2019', 'values': ['85.290678']}, {'name': 'Ago.2019', 'values': ['56.413009']}, {'name': 'Sep.2019', 'values': ['35.51511']}, {'name': 'Oct.2019', 'values': ['25.303919']}, {'name': 'Nov.2019', 'values': ['29.951289']}, {'name': 'Dic.2019', 'values': ['17.335538']}, {'name': 'Ene.2020', 'values': ['6.419939']}, {'name': 'Feb.2020', 'values': ['14.222219']}, {'name': 'Mar.2020', 'values': ['31.835769']}, {'name': 'Abr.2020', 'values': ['54.730459']}, {'name': 'May.2020', 'values': ['73.995698']}, {'name': 'Jun.2020', 'values': ['80.261799']}, {'name': 'Jul.2020', 'values': ['91.796523']}, {'name': 'Ago.2020', 'values': ['57.92838']}, {'name': 'Sep.2020', 'values': ['46.44269']}, {'name': 'Oct.2020', 'values': ['26.51045']}, {'name': 'Nov.2020', 'values': ['22.718089']}, {'name': 'Dic.2020', 'values': ['19.298049']}]

In [52]:
periodos=response_json.get("periods")
prod_mandarina=[]
for i in periodos:
    valores_list=i["values"]
    for w in valores_list:
        w=str(w)
        prod_mandarina.append(w)
        
print(prod_mandarina)

['4.524879', '7.47609', '18.02925', '24.538329', '30.12295', '27.84297', '30.926139', '18.12845', '11.343189', '9.24295', '5.19028', '3.04437', '2.31944', '2.939979', '10.74546', '21.8285', '34.501679', '31.657928', '33.12492', '22.972109', '9.59386', '9.78915', '4.836629', '2.855719', '2.383759', '5.178659', '14.20665', '20.911728', '26.191158', '29.367887', '24.082836', '18.937419', '10.04299', '6.535059', '6.31415', '1.919598', '2.77934', '8.444099', '15.281949', '27.4883', '38.342817', '31.673876', '24.538125', '24.51739', '26.24276', '10.754809', '7.43749', '3.823019', '2.809739', '7.81292', '17.539456', '28.495809', '37.46777', '34.742639', '30.565479', '24.302689', '20.74577', '15.067529', '11.840489', '4.891979', '5.3042', '6.572807', '15.68122', '28.369798', '39.8858', '44.314879', '38.854996', '31.210639', '28.61586', '18.29868', '14.09676', '9.855549', '6.406', '7.895849', '17.193529', '31.044849', '42.925549', '48.872908', '47.589379', '34.830485', '26.673409', '18.72275', '23.166664', '8.56205', '7.59521', '10.634258', '19.92495', '38.350389', '58.762749', '53.619359', '39.98955', '32.516119', '22.00946', '20.298137', '23.267518', '12.636599', '7.407087', '12.37393', '21.238479', '40.11965', '57.251589', '66.061964', '42.31254', '30.741309', '24.301008', '23.067179', '22.956688', '10.080129', '5.834637', '11.644699', '23.64416', '42.656487', '59.401039', '70.10971', '62.351259', '34.70156', '32.339167', '27.046969', '25.08258', '9.04487899999998', '5.729939', '11.13528', '22.23967', '44.93703', '68.57283', '82.59869', '60.635669', '34.759309', '24.580295', '16.012629', '21.04855', '15.77483', '3.685209', '10.086859', '27.683808', '74.302518', '64.58905', '73.438567', '86.519009', '55.546359', '32.106339', '17.3373', '22.773268', '13.525677', '6.695686', '13.023489', '39.58521', '57.842358', '69.615437', '66.64858', '85.290678', '56.413009', '35.51511', '25.303919', '29.951289', '17.335538', '6.419939', '14.222219', '31.835769', '54.730459', '73.995698', '80.261799', '91.796523', '57.92838', '46.44269', '26.51045', '22.718089', '19.298049']

In [53]:
fechas=[]
for i in periodos:
    nombres=i["name"]
    fechas.append(nombres)
print(fechas)

['Ene.2007', 'Feb.2007', 'Mar.2007', 'Abr.2007', 'May.2007', 'Jun.2007', 'Jul.2007', 'Ago.2007', 'Sep.2007', 'Oct.2007', 'Nov.2007', 'Dic.2007', 'Ene.2008', 'Feb.2008', 'Mar.2008', 'Abr.2008', 'May.2008', 'Jun.2008', 'Jul.2008', 'Ago.2008', 'Sep.2008', 'Oct.2008', 'Nov.2008', 'Dic.2008', 'Ene.2009', 'Feb.2009', 'Mar.2009', 'Abr.2009', 'May.2009', 'Jun.2009', 'Jul.2009', 'Ago.2009', 'Sep.2009', 'Oct.2009', 'Nov.2009', 'Dic.2009', 'Ene.2010', 'Feb.2010', 'Mar.2010', 'Abr.2010', 'May.2010', 'Jun.2010', 'Jul.2010', 'Ago.2010', 'Sep.2010', 'Oct.2010', 'Nov.2010', 'Dic.2010', 'Ene.2011', 'Feb.2011', 'Mar.2011', 'Abr.2011', 'May.2011', 'Jun.2011', 'Jul.2011', 'Ago.2011', 'Sep.2011', 'Oct.2011', 'Nov.2011', 'Dic.2011', 'Ene.2012', 'Feb.2012', 'Mar.2012', 'Abr.2012', 'May.2012', 'Jun.2012', 'Jul.2012', 'Ago.2012', 'Sep.2012', 'Oct.2012', 'Nov.2012', 'Dic.2012', 'Ene.2013', 'Feb.2013', 'Mar.2013', 'Abr.2013', 'May.2013', 'Jun.2013', 'Jul.2013', 'Ago.2013', 'Sep.2013', 'Oct.2013', 'Nov.2013', 'Dic.2013', 'Ene.2014', 'Feb.2014', 'Mar.2014', 'Abr.2014', 'May.2014', 'Jun.2014', 'Jul.2014', 'Ago.2014', 'Sep.2014', 'Oct.2014', 'Nov.2014', 'Dic.2014', 'Ene.2015', 'Feb.2015', 'Mar.2015', 'Abr.2015', 'May.2015', 'Jun.2015', 'Jul.2015', 'Ago.2015', 'Sep.2015', 'Oct.2015', 'Nov.2015', 'Dic.2015', 'Ene.2016', 'Feb.2016', 'Mar.2016', 'Abr.2016', 'May.2016', 'Jun.2016', 'Jul.2016', 'Ago.2016', 'Sep.2016', 'Oct.2016', 'Nov.2016', 'Dic.2016', 'Ene.2017', 'Feb.2017', 'Mar.2017', 'Abr.2017', 'May.2017', 'Jun.2017', 'Jul.2017', 'Ago.2017', 'Sep.2017', 'Oct.2017', 'Nov.2017', 'Dic.2017', 'Ene.2018', 'Feb.2018', 'Mar.2018', 'Abr.2018', 'May.2018', 'Jun.2018', 'Jul.2018', 'Ago.2018', 'Sep.2018', 'Oct.2018', 'Nov.2018', 'Dic.2018', 'Ene.2019', 'Feb.2019', 'Mar.2019', 'Abr.2019', 'May.2019', 'Jun.2019', 'Jul.2019', 'Ago.2019', 'Sep.2019', 'Oct.2019', 'Nov.2019', 'Dic.2019', 'Ene.2020', 'Feb.2020', 'Mar.2020', 'Abr.2020', 'May.2020', 'Jun.2020', 'Jul.2020', 'Ago.2020', 'Sep.2020', 'Oct.2020', 'Nov.2020', 'Dic.2020']

In [54]:
diccionario4= {"Fechas":fechas, "Valores":prod_mandarina}
print(diccionario4)

{'Fechas': ['Ene.2007', 'Feb.2007', 'Mar.2007', 'Abr.2007', 'May.2007', 'Jun.2007', 'Jul.2007', 'Ago.2007', 'Sep.2007', 'Oct.2007', 'Nov.2007', 'Dic.2007', 'Ene.2008', 'Feb.2008', 'Mar.2008', 'Abr.2008', 'May.2008', 'Jun.2008', 'Jul.2008', 'Ago.2008', 'Sep.2008', 'Oct.2008', 'Nov.2008', 'Dic.2008', 'Ene.2009', 'Feb.2009', 'Mar.2009', 'Abr.2009', 'May.2009', 'Jun.2009', 'Jul.2009', 'Ago.2009', 'Sep.2009', 'Oct.2009', 'Nov.2009', 'Dic.2009', 'Ene.2010', 'Feb.2010', 'Mar.2010', 'Abr.2010', 'May.2010', 'Jun.2010', 'Jul.2010', 'Ago.2010', 'Sep.2010', 'Oct.2010', 'Nov.2010', 'Dic.2010', 'Ene.2011', 'Feb.2011', 'Mar.2011', 'Abr.2011', 'May.2011', 'Jun.2011', 'Jul.2011', 'Ago.2011', 'Sep.2011', 'Oct.2011', 'Nov.2011', 'Dic.2011', 'Ene.2012', 'Feb.2012', 'Mar.2012', 'Abr.2012', 'May.2012', 'Jun.2012', 'Jul.2012', 'Ago.2012', 'Sep.2012', 'Oct.2012', 'Nov.2012', 'Dic.2012', 'Ene.2013', 'Feb.2013', 'Mar.2013', 'Abr.2013', 'May.2013', 'Jun.2013', 'Jul.2013', 'Ago.2013', 'Sep.2013', 'Oct.2013', 'Nov.2013', 'Dic.2013', 'Ene.2014', 'Feb.2014', 'Mar.2014', 'Abr.2014', 'May.2014', 'Jun.2014', 'Jul.2014', 'Ago.2014', 'Sep.2014', 'Oct.2014', 'Nov.2014', 'Dic.2014', 'Ene.2015', 'Feb.2015', 'Mar.2015', 'Abr.2015', 'May.2015', 'Jun.2015', 'Jul.2015', 'Ago.2015', 'Sep.2015', 'Oct.2015', 'Nov.2015', 'Dic.2015', 'Ene.2016', 'Feb.2016', 'Mar.2016', 'Abr.2016', 'May.2016', 'Jun.2016', 'Jul.2016', 'Ago.2016', 'Sep.2016', 'Oct.2016', 'Nov.2016', 'Dic.2016', 'Ene.2017', 'Feb.2017', 'Mar.2017', 'Abr.2017', 'May.2017', 'Jun.2017', 'Jul.2017', 'Ago.2017', 'Sep.2017', 'Oct.2017', 'Nov.2017', 'Dic.2017', 'Ene.2018', 'Feb.2018', 'Mar.2018', 'Abr.2018', 'May.2018', 'Jun.2018', 'Jul.2018', 'Ago.2018', 'Sep.2018', 'Oct.2018', 'Nov.2018', 'Dic.2018', 'Ene.2019', 'Feb.2019', 'Mar.2019', 'Abr.2019', 'May.2019', 'Jun.2019', 'Jul.2019', 'Ago.2019', 'Sep.2019', 'Oct.2019', 'Nov.2019', 'Dic.2019', 'Ene.2020', 'Feb.2020', 'Mar.2020', 'Abr.2020', 'May.2020', 'Jun.2020', 'Jul.2020', 'Ago.2020', 'Sep.2020', 'Oct.2020', 'Nov.2020', 'Dic.2020'], 'Valores': ['4.524879', '7.47609', '18.02925', '24.538329', '30.12295', '27.84297', '30.926139', '18.12845', '11.343189', '9.24295', '5.19028', '3.04437', '2.31944', '2.939979', '10.74546', '21.8285', '34.501679', '31.657928', '33.12492', '22.972109', '9.59386', '9.78915', '4.836629', '2.855719', '2.383759', '5.178659', '14.20665', '20.911728', '26.191158', '29.367887', '24.082836', '18.937419', '10.04299', '6.535059', '6.31415', '1.919598', '2.77934', '8.444099', '15.281949', '27.4883', '38.342817', '31.673876', '24.538125', '24.51739', '26.24276', '10.754809', '7.43749', '3.823019', '2.809739', '7.81292', '17.539456', '28.495809', '37.46777', '34.742639', '30.565479', '24.302689', '20.74577', '15.067529', '11.840489', '4.891979', '5.3042', '6.572807', '15.68122', '28.369798', '39.8858', '44.314879', '38.854996', '31.210639', '28.61586', '18.29868', '14.09676', '9.855549', '6.406', '7.895849', '17.193529', '31.044849', '42.925549', '48.872908', '47.589379', '34.830485', '26.673409', '18.72275', '23.166664', '8.56205', '7.59521', '10.634258', '19.92495', '38.350389', '58.762749', '53.619359', '39.98955', '32.516119', '22.00946', '20.298137', '23.267518', '12.636599', '7.407087', '12.37393', '21.238479', '40.11965', '57.251589', '66.061964', '42.31254', '30.741309', '24.301008', '23.067179', '22.956688', '10.080129', '5.834637', '11.644699', '23.64416', '42.656487', '59.401039', '70.10971', '62.351259', '34.70156', '32.339167', '27.046969', '25.08258', '9.04487899999998', '5.729939', '11.13528', '22.23967', '44.93703', '68.57283', '82.59869', '60.635669', '34.759309', '24.580295', '16.012629', '21.04855', '15.77483', '3.685209', '10.086859', '27.683808', '74.302518', '64.58905', '73.438567', '86.519009', '55.546359', '32.106339', '17.3373', '22.773268', '13.525677', '6.695686', '13.023489', '39.58521', '57.842358', '69.615437', '66.64858', '85.290678', '56.413009', '35.51511', '25.303919', '29.951289', '17.335538', '6.419939', '14.222219', '31.835769', '54.730459', '73.995698', '80.261799', '91.796523', '57.92838', '46.44269', '26.51045', '22.718089', '19.298049']}

In [55]:
df4=pd.DataFrame(diccionario4)
df4

       Fechas    Valores
0    Ene.2007   4.524879
1    Feb.2007    7.47609
2    Mar.2007   18.02925
3    Abr.2007  24.538329
4    May.2007   30.12295
..        ...        ...
163  Ago.2020   57.92838
164  Sep.2020   46.44269
165  Oct.2020   26.51045
166  Nov.2020  22.718089
167  Dic.2020  19.298049

[168 rows x 2 columns]

In [56]:
df4.rename(columns={'Valores':'Mandarina'}, inplace=True)
df4.head()

     Fechas  Mandarina
0  Ene.2007   4.524879
1  Feb.2007    7.47609
2  Mar.2007   18.02925
3  Abr.2007  24.538329
4  May.2007   30.12295

In [ ]:
# DATOS DE PRODUCCIÓN AGRÍCOLA DE NARANJA

In [57]:
url_base="https://estadisticas.bcrp.gob.pe/estadisticas/series/api/"
cod_ser="PN01781AM"
formato="/json"
per="/2003-1/2020-12"
url=url_base+cod_ser+formato+per
print(url)

https://estadisticas.bcrp.gob.pe/estadisticas/series/api/PN01781AM/json/2003-1/2020-12

In [58]:
import requests
response=requests.get(url)
print(response)

<Response [200]>

In [59]:
# extraer en formato json
response_json=response.json()
print(response_json)

{'config': {'title': 'ProducciÃ³n agropecuaria (miles de toneladas)', 'series': [{'name': 'ProducciÃ³n agropecuaria (miles de toneladas) - AgrÃ\xadcola - Naranja', 'dec': '1'}]}, 'periods': [{'name': 'Ene.2007', 'values': ['18.475969']}, {'name': 'Feb.2007', 'values': ['17.634188']}, {'name': 'Mar.2007', 'values': ['21.262089']}, {'name': 'Abr.2007', 'values': ['27.36261']}, {'name': 'May.2007', 'values': ['36.60221']}, {'name': 'Jun.2007', 'values': ['43.22685']}, {'name': 'Jul.2007', 'values': ['58.546029']}, {'name': 'Ago.2007', 'values': ['38.05475']}, {'name': 'Sep.2007', 'values': ['25.716229']}, {'name': 'Oct.2007', 'values': ['22.140859']}, {'name': 'Nov.2007', 'values': ['19.551787']}, {'name': 'Dic.2007', 'values': ['15.69299']}, {'name': 'Ene.2008', 'values': ['17.440831']}, {'name': 'Feb.2008', 'values': ['18.645993']}, {'name': 'Mar.2008', 'values': ['22.32534']}, {'name': 'Abr.2008', 'values': ['30.089004']}, {'name': 'May.2008', 'values': ['39.658229']}, {'name': 'Jun.2008', 'values': ['44.728871']}, {'name': 'Jul.2008', 'values': ['58.081022']}, {'name': 'Ago.2008', 'values': ['41.12828']}, {'name': 'Sep.2008', 'values': ['31.297879']}, {'name': 'Oct.2008', 'values': ['28.162838']}, {'name': 'Nov.2008', 'values': ['27.490439']}, {'name': 'Dic.2008', 'values': ['20.92843']}, {'name': 'Ene.2009', 'values': ['22.070807']}, {'name': 'Feb.2009', 'values': ['20.784079']}, {'name': 'Mar.2009', 'values': ['24.632274']}, {'name': 'Abr.2009', 'values': ['31.2279']}, {'name': 'May.2009', 'values': ['40.485227']}, {'name': 'Jun.2009', 'values': ['45.854018']}, {'name': 'Jul.2009', 'values': ['57.841088']}, {'name': 'Ago.2009', 'values': ['38.966523']}, {'name': 'Sep.2009', 'values': ['27.124653']}, {'name': 'Oct.2009', 'values': ['24.062379']}, {'name': 'Nov.2009', 'values': ['22.147973']}, {'name': 'Dic.2009', 'values': ['22.401198']}, {'name': 'Ene.2010', 'values': ['22.109014']}, {'name': 'Feb.2010', 'values': ['19.826825']}, {'name': 'Mar.2010', 'values': ['23.603526']}, {'name': 'Abr.2010', 'values': ['31.466907']}, {'name': 'May.2010', 'values': ['41.286558']}, {'name': 'Jun.2010', 'values': ['49.220426']}, {'name': 'Jul.2010', 'values': ['62.015802']}, {'name': 'Ago.2010', 'values': ['37.371165']}, {'name': 'Sep.2010', 'values': ['30.553138']}, {'name': 'Oct.2010', 'values': ['26.006257']}, {'name': 'Nov.2010', 'values': ['26.472059']}, {'name': 'Dic.2010', 'values': ['24.641759']}, {'name': 'Ene.2011', 'values': ['22.282896']}, {'name': 'Feb.2011', 'values': ['18.936421']}, {'name': 'Mar.2011', 'values': ['22.9117']}, {'name': 'Abr.2011', 'values': ['32.702976']}, {'name': 'May.2011', 'values': ['41.823917']}, {'name': 'Jun.2011', 'values': ['56.719927']}, {'name': 'Jul.2011', 'values': ['69.626075']}, {'name': 'Ago.2011', 'values': ['40.592237']}, {'name': 'Sep.2011', 'values': ['29.687576']}, {'name': 'Oct.2011', 'values': ['28.477669']}, {'name': 'Nov.2011', 'values': ['29.043617']}, {'name': 'Dic.2011', 'values': ['25.826186']}, {'name': 'Ene.2012', 'values': ['24.469678']}, {'name': 'Feb.2012', 'values': ['21.161587']}, {'name': 'Mar.2012', 'values': ['23.44881']}, {'name': 'Abr.2012', 'values': ['32.902402']}, {'name': 'May.2012', 'values': ['43.728318']}, {'name': 'Jun.2012', 'values': ['57.404455']}, {'name': 'Jul.2012', 'values': ['69.673354']}, {'name': 'Ago.2012', 'values': ['40.555256']}, {'name': 'Sep.2012', 'values': ['29.312777']}, {'name': 'Oct.2012', 'values': ['29.239268']}, {'name': 'Nov.2012', 'values': ['30.551302']}, {'name': 'Dic.2012', 'values': ['26.305968']}, {'name': 'Ene.2013', 'values': ['24.037169']}, {'name': 'Feb.2013', 'values': ['22.810068']}, {'name': 'Mar.2013', 'values': ['24.077662']}, {'name': 'Abr.2013', 'values': ['32.271214']}, {'name': 'May.2013', 'values': ['43.548852']}, {'name': 'Jun.2013', 'values': ['61.979662']}, {'name': 'Jul.2013', 'values': ['75.942925']}, {'name': 'Ago.2013', 'values': ['40.260196']}, {'name': 'Sep.2013', 'values': ['28.295337']}, {'name': 'Oct.2013', 'values': ['30.44825']}, {'name': 'Nov.2013', 'values': ['30.457189']}, {'name': 'Dic.2013', 'values': ['24.60711']}, {'name': 'Ene.2014', 'values': ['24.868719']}, {'name': 'Feb.2014', 'values': ['22.519202']}, {'name': 'Mar.2014', 'values': ['25.090103']}, {'name': 'Abr.2014', 'values': ['34.056381']}, {'name': 'May.2014', 'values': ['45.195832']}, {'name': 'Jun.2014', 'values': ['57.864659']}, {'name': 'Jul.2014', 'values': ['73.213626']}, {'name': 'Ago.2014', 'values': ['44.567444']}, {'name': 'Sep.2014', 'values': ['37.502717']}, {'name': 'Oct.2014', 'values': ['32.134099']}, {'name': 'Nov.2014', 'values': ['29.43115']}, {'name': 'Dic.2014', 'values': ['23.97929']}, {'name': 'Ene.2015', 'values': ['25.410797']}, {'name': 'Feb.2015', 'values': ['24.455608']}, {'name': 'Mar.2015', 'values': ['27.746841']}, {'name': 'Abr.2015', 'values': ['33.523404']}, {'name': 'May.2015', 'values': ['46.228787']}, {'name': 'Jun.2015', 'values': ['60.708869']}, {'name': 'Jul.2015', 'values': ['75.772037']}, {'name': 'Ago.2015', 'values': ['48.533389']}, {'name': 'Sep.2015', 'values': ['31.512202']}, {'name': 'Oct.2015', 'values': ['27.232493']}, {'name': 'Nov.2015', 'values': ['29.045568']}, {'name': 'Dic.2015', 'values': ['25.984314']}, {'name': 'Ene.2016', 'values': ['27.761139']}, {'name': 'Feb.2016', 'values': ['26.382066']}, {'name': 'Mar.2016', 'values': ['31.584347']}, {'name': 'Abr.2016', 'values': ['41.254125']}, {'name': 'May.2016', 'values': ['58.345413']}, {'name': 'Jun.2016', 'values': ['65.487549']}, {'name': 'Jul.2016', 'values': ['76.908288']}, {'name': 'Ago.2016', 'values': ['48.93394']}, {'name': 'Sep.2016', 'values': ['32.044588']}, {'name': 'Oct.2016', 'values': ['27.854849']}, {'name': 'Nov.2016', 'values': ['28.216746']}, {'name': 'Dic.2016', 'values': ['26.09595']}, {'name': 'Ene.2017', 'values': ['25.667409']}, {'name': 'Feb.2017', 'values': ['26.859719']}, {'name': 'Mar.2017', 'values': ['31.277257']}, {'name': 'Abr.2017', 'values': ['43.456781']}, {'name': 'May.2017', 'values': ['60.515838']}, {'name': 'Jun.2017', 'values': ['65.714705']}, {'name': 'Jul.2017', 'values': ['71.556865']}, {'name': 'Ago.2017', 'values': ['51.391456']}, {'name': 'Sep.2017', 'values': ['31.510145']}, {'name': 'Oct.2017', 'values': ['30.355327']}, {'name': 'Nov.2017', 'values': ['31.94906']}, {'name': 'Dic.2017', 'values': ['28.199763']}, {'name': 'Ene.2018', 'values': ['24.52787']}, {'name': 'Feb.2018', 'values': ['27.1533']}, {'name': 'Mar.2018', 'values': ['32.365326']}, {'name': 'Abr.2018', 'values': ['43.658345']}, {'name': 'May.2018', 'values': ['58.22574']}, {'name': 'Jun.2018', 'values': ['60.502701']}, {'name': 'Jul.2018', 'values': ['73.153196']}, {'name': 'Ago.2018', 'values': ['55.522238']}, {'name': 'Sep.2018', 'values': ['34.456834']}, {'name': 'Oct.2018', 'values': ['31.619257']}, {'name': 'Nov.2018', 'values': ['32.580819']}, {'name': 'Dic.2018', 'values': ['29.056829']}, {'name': 'Ene.2019', 'values': ['25.063899']}, {'name': 'Feb.2019', 'values': ['29.912705']}, {'name': 'Mar.2019', 'values': ['31.883828']}, {'name': 'Abr.2019', 'values': ['32.279854']}, {'name': 'May.2019', 'values': ['51.573903']}, {'name': 'Jun.2019', 'values': ['61.577924']}, {'name': 'Jul.2019', 'values': ['78.224338']}, {'name': 'Ago.2019', 'values': ['63.196859']}, {'name': 'Sep.2019', 'values': ['39.474151']}, {'name': 'Oct.2019', 'values': ['35.014889']}, {'name': 'Nov.2019', 'values': ['32.28766']}, {'name': 'Dic.2019', 'values': ['29.277618']}, {'name': 'Ene.2020', 'values': ['29.219118']}, {'name': 'Feb.2020', 'values': ['31.340116']}, {'name': 'Mar.2020', 'values': ['35.73582']}, {'name': 'Abr.2020', 'values': ['41.706578']}, {'name': 'May.2020', 'values': ['58.889888']}, {'name': 'Jun.2020', 'values': ['65.839776']}, {'name': 'Jul.2020', 'values': ['81.477575']}, {'name': 'Ago.2020', 'values': ['66.784617']}, {'name': 'Sep.2020', 'values': ['43.063419']}, {'name': 'Oct.2020', 'values': ['35.65643']}, {'name': 'Nov.2020', 'values': ['31.41702']}, {'name': 'Dic.2020', 'values': ['33.687479']}]}

In [60]:
for key in response_json.keys():
    print(key)

config
periods

In [61]:
print(response_json["config"])

{'title': 'ProducciÃ³n agropecuaria (miles de toneladas)', 'series': [{'name': 'ProducciÃ³n agropecuaria (miles de toneladas) - AgrÃ\xadcola - Naranja', 'dec': '1'}]}

In [62]:
# llamar a los valores
print(response_json["periods"])

[{'name': 'Ene.2007', 'values': ['18.475969']}, {'name': 'Feb.2007', 'values': ['17.634188']}, {'name': 'Mar.2007', 'values': ['21.262089']}, {'name': 'Abr.2007', 'values': ['27.36261']}, {'name': 'May.2007', 'values': ['36.60221']}, {'name': 'Jun.2007', 'values': ['43.22685']}, {'name': 'Jul.2007', 'values': ['58.546029']}, {'name': 'Ago.2007', 'values': ['38.05475']}, {'name': 'Sep.2007', 'values': ['25.716229']}, {'name': 'Oct.2007', 'values': ['22.140859']}, {'name': 'Nov.2007', 'values': ['19.551787']}, {'name': 'Dic.2007', 'values': ['15.69299']}, {'name': 'Ene.2008', 'values': ['17.440831']}, {'name': 'Feb.2008', 'values': ['18.645993']}, {'name': 'Mar.2008', 'values': ['22.32534']}, {'name': 'Abr.2008', 'values': ['30.089004']}, {'name': 'May.2008', 'values': ['39.658229']}, {'name': 'Jun.2008', 'values': ['44.728871']}, {'name': 'Jul.2008', 'values': ['58.081022']}, {'name': 'Ago.2008', 'values': ['41.12828']}, {'name': 'Sep.2008', 'values': ['31.297879']}, {'name': 'Oct.2008', 'values': ['28.162838']}, {'name': 'Nov.2008', 'values': ['27.490439']}, {'name': 'Dic.2008', 'values': ['20.92843']}, {'name': 'Ene.2009', 'values': ['22.070807']}, {'name': 'Feb.2009', 'values': ['20.784079']}, {'name': 'Mar.2009', 'values': ['24.632274']}, {'name': 'Abr.2009', 'values': ['31.2279']}, {'name': 'May.2009', 'values': ['40.485227']}, {'name': 'Jun.2009', 'values': ['45.854018']}, {'name': 'Jul.2009', 'values': ['57.841088']}, {'name': 'Ago.2009', 'values': ['38.966523']}, {'name': 'Sep.2009', 'values': ['27.124653']}, {'name': 'Oct.2009', 'values': ['24.062379']}, {'name': 'Nov.2009', 'values': ['22.147973']}, {'name': 'Dic.2009', 'values': ['22.401198']}, {'name': 'Ene.2010', 'values': ['22.109014']}, {'name': 'Feb.2010', 'values': ['19.826825']}, {'name': 'Mar.2010', 'values': ['23.603526']}, {'name': 'Abr.2010', 'values': ['31.466907']}, {'name': 'May.2010', 'values': ['41.286558']}, {'name': 'Jun.2010', 'values': ['49.220426']}, {'name': 'Jul.2010', 'values': ['62.015802']}, {'name': 'Ago.2010', 'values': ['37.371165']}, {'name': 'Sep.2010', 'values': ['30.553138']}, {'name': 'Oct.2010', 'values': ['26.006257']}, {'name': 'Nov.2010', 'values': ['26.472059']}, {'name': 'Dic.2010', 'values': ['24.641759']}, {'name': 'Ene.2011', 'values': ['22.282896']}, {'name': 'Feb.2011', 'values': ['18.936421']}, {'name': 'Mar.2011', 'values': ['22.9117']}, {'name': 'Abr.2011', 'values': ['32.702976']}, {'name': 'May.2011', 'values': ['41.823917']}, {'name': 'Jun.2011', 'values': ['56.719927']}, {'name': 'Jul.2011', 'values': ['69.626075']}, {'name': 'Ago.2011', 'values': ['40.592237']}, {'name': 'Sep.2011', 'values': ['29.687576']}, {'name': 'Oct.2011', 'values': ['28.477669']}, {'name': 'Nov.2011', 'values': ['29.043617']}, {'name': 'Dic.2011', 'values': ['25.826186']}, {'name': 'Ene.2012', 'values': ['24.469678']}, {'name': 'Feb.2012', 'values': ['21.161587']}, {'name': 'Mar.2012', 'values': ['23.44881']}, {'name': 'Abr.2012', 'values': ['32.902402']}, {'name': 'May.2012', 'values': ['43.728318']}, {'name': 'Jun.2012', 'values': ['57.404455']}, {'name': 'Jul.2012', 'values': ['69.673354']}, {'name': 'Ago.2012', 'values': ['40.555256']}, {'name': 'Sep.2012', 'values': ['29.312777']}, {'name': 'Oct.2012', 'values': ['29.239268']}, {'name': 'Nov.2012', 'values': ['30.551302']}, {'name': 'Dic.2012', 'values': ['26.305968']}, {'name': 'Ene.2013', 'values': ['24.037169']}, {'name': 'Feb.2013', 'values': ['22.810068']}, {'name': 'Mar.2013', 'values': ['24.077662']}, {'name': 'Abr.2013', 'values': ['32.271214']}, {'name': 'May.2013', 'values': ['43.548852']}, {'name': 'Jun.2013', 'values': ['61.979662']}, {'name': 'Jul.2013', 'values': ['75.942925']}, {'name': 'Ago.2013', 'values': ['40.260196']}, {'name': 'Sep.2013', 'values': ['28.295337']}, {'name': 'Oct.2013', 'values': ['30.44825']}, {'name': 'Nov.2013', 'values': ['30.457189']}, {'name': 'Dic.2013', 'values': ['24.60711']}, {'name': 'Ene.2014', 'values': ['24.868719']}, {'name': 'Feb.2014', 'values': ['22.519202']}, {'name': 'Mar.2014', 'values': ['25.090103']}, {'name': 'Abr.2014', 'values': ['34.056381']}, {'name': 'May.2014', 'values': ['45.195832']}, {'name': 'Jun.2014', 'values': ['57.864659']}, {'name': 'Jul.2014', 'values': ['73.213626']}, {'name': 'Ago.2014', 'values': ['44.567444']}, {'name': 'Sep.2014', 'values': ['37.502717']}, {'name': 'Oct.2014', 'values': ['32.134099']}, {'name': 'Nov.2014', 'values': ['29.43115']}, {'name': 'Dic.2014', 'values': ['23.97929']}, {'name': 'Ene.2015', 'values': ['25.410797']}, {'name': 'Feb.2015', 'values': ['24.455608']}, {'name': 'Mar.2015', 'values': ['27.746841']}, {'name': 'Abr.2015', 'values': ['33.523404']}, {'name': 'May.2015', 'values': ['46.228787']}, {'name': 'Jun.2015', 'values': ['60.708869']}, {'name': 'Jul.2015', 'values': ['75.772037']}, {'name': 'Ago.2015', 'values': ['48.533389']}, {'name': 'Sep.2015', 'values': ['31.512202']}, {'name': 'Oct.2015', 'values': ['27.232493']}, {'name': 'Nov.2015', 'values': ['29.045568']}, {'name': 'Dic.2015', 'values': ['25.984314']}, {'name': 'Ene.2016', 'values': ['27.761139']}, {'name': 'Feb.2016', 'values': ['26.382066']}, {'name': 'Mar.2016', 'values': ['31.584347']}, {'name': 'Abr.2016', 'values': ['41.254125']}, {'name': 'May.2016', 'values': ['58.345413']}, {'name': 'Jun.2016', 'values': ['65.487549']}, {'name': 'Jul.2016', 'values': ['76.908288']}, {'name': 'Ago.2016', 'values': ['48.93394']}, {'name': 'Sep.2016', 'values': ['32.044588']}, {'name': 'Oct.2016', 'values': ['27.854849']}, {'name': 'Nov.2016', 'values': ['28.216746']}, {'name': 'Dic.2016', 'values': ['26.09595']}, {'name': 'Ene.2017', 'values': ['25.667409']}, {'name': 'Feb.2017', 'values': ['26.859719']}, {'name': 'Mar.2017', 'values': ['31.277257']}, {'name': 'Abr.2017', 'values': ['43.456781']}, {'name': 'May.2017', 'values': ['60.515838']}, {'name': 'Jun.2017', 'values': ['65.714705']}, {'name': 'Jul.2017', 'values': ['71.556865']}, {'name': 'Ago.2017', 'values': ['51.391456']}, {'name': 'Sep.2017', 'values': ['31.510145']}, {'name': 'Oct.2017', 'values': ['30.355327']}, {'name': 'Nov.2017', 'values': ['31.94906']}, {'name': 'Dic.2017', 'values': ['28.199763']}, {'name': 'Ene.2018', 'values': ['24.52787']}, {'name': 'Feb.2018', 'values': ['27.1533']}, {'name': 'Mar.2018', 'values': ['32.365326']}, {'name': 'Abr.2018', 'values': ['43.658345']}, {'name': 'May.2018', 'values': ['58.22574']}, {'name': 'Jun.2018', 'values': ['60.502701']}, {'name': 'Jul.2018', 'values': ['73.153196']}, {'name': 'Ago.2018', 'values': ['55.522238']}, {'name': 'Sep.2018', 'values': ['34.456834']}, {'name': 'Oct.2018', 'values': ['31.619257']}, {'name': 'Nov.2018', 'values': ['32.580819']}, {'name': 'Dic.2018', 'values': ['29.056829']}, {'name': 'Ene.2019', 'values': ['25.063899']}, {'name': 'Feb.2019', 'values': ['29.912705']}, {'name': 'Mar.2019', 'values': ['31.883828']}, {'name': 'Abr.2019', 'values': ['32.279854']}, {'name': 'May.2019', 'values': ['51.573903']}, {'name': 'Jun.2019', 'values': ['61.577924']}, {'name': 'Jul.2019', 'values': ['78.224338']}, {'name': 'Ago.2019', 'values': ['63.196859']}, {'name': 'Sep.2019', 'values': ['39.474151']}, {'name': 'Oct.2019', 'values': ['35.014889']}, {'name': 'Nov.2019', 'values': ['32.28766']}, {'name': 'Dic.2019', 'values': ['29.277618']}, {'name': 'Ene.2020', 'values': ['29.219118']}, {'name': 'Feb.2020', 'values': ['31.340116']}, {'name': 'Mar.2020', 'values': ['35.73582']}, {'name': 'Abr.2020', 'values': ['41.706578']}, {'name': 'May.2020', 'values': ['58.889888']}, {'name': 'Jun.2020', 'values': ['65.839776']}, {'name': 'Jul.2020', 'values': ['81.477575']}, {'name': 'Ago.2020', 'values': ['66.784617']}, {'name': 'Sep.2020', 'values': ['43.063419']}, {'name': 'Oct.2020', 'values': ['35.65643']}, {'name': 'Nov.2020', 'values': ['31.41702']}, {'name': 'Dic.2020', 'values': ['33.687479']}]

In [63]:
periodos=response_json.get("periods")
prod_naranja=[]
for i in periodos:
    valores_list=i["values"]
    for w in valores_list:
        w=str(w)
        prod_naranja.append(w)
        
print(prod_naranja)

['18.475969', '17.634188', '21.262089', '27.36261', '36.60221', '43.22685', '58.546029', '38.05475', '25.716229', '22.140859', '19.551787', '15.69299', '17.440831', '18.645993', '22.32534', '30.089004', '39.658229', '44.728871', '58.081022', '41.12828', '31.297879', '28.162838', '27.490439', '20.92843', '22.070807', '20.784079', '24.632274', '31.2279', '40.485227', '45.854018', '57.841088', '38.966523', '27.124653', '24.062379', '22.147973', '22.401198', '22.109014', '19.826825', '23.603526', '31.466907', '41.286558', '49.220426', '62.015802', '37.371165', '30.553138', '26.006257', '26.472059', '24.641759', '22.282896', '18.936421', '22.9117', '32.702976', '41.823917', '56.719927', '69.626075', '40.592237', '29.687576', '28.477669', '29.043617', '25.826186', '24.469678', '21.161587', '23.44881', '32.902402', '43.728318', '57.404455', '69.673354', '40.555256', '29.312777', '29.239268', '30.551302', '26.305968', '24.037169', '22.810068', '24.077662', '32.271214', '43.548852', '61.979662', '75.942925', '40.260196', '28.295337', '30.44825', '30.457189', '24.60711', '24.868719', '22.519202', '25.090103', '34.056381', '45.195832', '57.864659', '73.213626', '44.567444', '37.502717', '32.134099', '29.43115', '23.97929', '25.410797', '24.455608', '27.746841', '33.523404', '46.228787', '60.708869', '75.772037', '48.533389', '31.512202', '27.232493', '29.045568', '25.984314', '27.761139', '26.382066', '31.584347', '41.254125', '58.345413', '65.487549', '76.908288', '48.93394', '32.044588', '27.854849', '28.216746', '26.09595', '25.667409', '26.859719', '31.277257', '43.456781', '60.515838', '65.714705', '71.556865', '51.391456', '31.510145', '30.355327', '31.94906', '28.199763', '24.52787', '27.1533', '32.365326', '43.658345', '58.22574', '60.502701', '73.153196', '55.522238', '34.456834', '31.619257', '32.580819', '29.056829', '25.063899', '29.912705', '31.883828', '32.279854', '51.573903', '61.577924', '78.224338', '63.196859', '39.474151', '35.014889', '32.28766', '29.277618', '29.219118', '31.340116', '35.73582', '41.706578', '58.889888', '65.839776', '81.477575', '66.784617', '43.063419', '35.65643', '31.41702', '33.687479']

In [64]:
fechas=[]
for i in periodos:
    nombres=i["name"]
    fechas.append(nombres)
print(fechas)

['Ene.2007', 'Feb.2007', 'Mar.2007', 'Abr.2007', 'May.2007', 'Jun.2007', 'Jul.2007', 'Ago.2007', 'Sep.2007', 'Oct.2007', 'Nov.2007', 'Dic.2007', 'Ene.2008', 'Feb.2008', 'Mar.2008', 'Abr.2008', 'May.2008', 'Jun.2008', 'Jul.2008', 'Ago.2008', 'Sep.2008', 'Oct.2008', 'Nov.2008', 'Dic.2008', 'Ene.2009', 'Feb.2009', 'Mar.2009', 'Abr.2009', 'May.2009', 'Jun.2009', 'Jul.2009', 'Ago.2009', 'Sep.2009', 'Oct.2009', 'Nov.2009', 'Dic.2009', 'Ene.2010', 'Feb.2010', 'Mar.2010', 'Abr.2010', 'May.2010', 'Jun.2010', 'Jul.2010', 'Ago.2010', 'Sep.2010', 'Oct.2010', 'Nov.2010', 'Dic.2010', 'Ene.2011', 'Feb.2011', 'Mar.2011', 'Abr.2011', 'May.2011', 'Jun.2011', 'Jul.2011', 'Ago.2011', 'Sep.2011', 'Oct.2011', 'Nov.2011', 'Dic.2011', 'Ene.2012', 'Feb.2012', 'Mar.2012', 'Abr.2012', 'May.2012', 'Jun.2012', 'Jul.2012', 'Ago.2012', 'Sep.2012', 'Oct.2012', 'Nov.2012', 'Dic.2012', 'Ene.2013', 'Feb.2013', 'Mar.2013', 'Abr.2013', 'May.2013', 'Jun.2013', 'Jul.2013', 'Ago.2013', 'Sep.2013', 'Oct.2013', 'Nov.2013', 'Dic.2013', 'Ene.2014', 'Feb.2014', 'Mar.2014', 'Abr.2014', 'May.2014', 'Jun.2014', 'Jul.2014', 'Ago.2014', 'Sep.2014', 'Oct.2014', 'Nov.2014', 'Dic.2014', 'Ene.2015', 'Feb.2015', 'Mar.2015', 'Abr.2015', 'May.2015', 'Jun.2015', 'Jul.2015', 'Ago.2015', 'Sep.2015', 'Oct.2015', 'Nov.2015', 'Dic.2015', 'Ene.2016', 'Feb.2016', 'Mar.2016', 'Abr.2016', 'May.2016', 'Jun.2016', 'Jul.2016', 'Ago.2016', 'Sep.2016', 'Oct.2016', 'Nov.2016', 'Dic.2016', 'Ene.2017', 'Feb.2017', 'Mar.2017', 'Abr.2017', 'May.2017', 'Jun.2017', 'Jul.2017', 'Ago.2017', 'Sep.2017', 'Oct.2017', 'Nov.2017', 'Dic.2017', 'Ene.2018', 'Feb.2018', 'Mar.2018', 'Abr.2018', 'May.2018', 'Jun.2018', 'Jul.2018', 'Ago.2018', 'Sep.2018', 'Oct.2018', 'Nov.2018', 'Dic.2018', 'Ene.2019', 'Feb.2019', 'Mar.2019', 'Abr.2019', 'May.2019', 'Jun.2019', 'Jul.2019', 'Ago.2019', 'Sep.2019', 'Oct.2019', 'Nov.2019', 'Dic.2019', 'Ene.2020', 'Feb.2020', 'Mar.2020', 'Abr.2020', 'May.2020', 'Jun.2020', 'Jul.2020', 'Ago.2020', 'Sep.2020', 'Oct.2020', 'Nov.2020', 'Dic.2020']

In [65]:
diccionario5= {"Fechas":fechas, "Valores":prod_naranja}
print(diccionario5)

{'Fechas': ['Ene.2007', 'Feb.2007', 'Mar.2007', 'Abr.2007', 'May.2007', 'Jun.2007', 'Jul.2007', 'Ago.2007', 'Sep.2007', 'Oct.2007', 'Nov.2007', 'Dic.2007', 'Ene.2008', 'Feb.2008', 'Mar.2008', 'Abr.2008', 'May.2008', 'Jun.2008', 'Jul.2008', 'Ago.2008', 'Sep.2008', 'Oct.2008', 'Nov.2008', 'Dic.2008', 'Ene.2009', 'Feb.2009', 'Mar.2009', 'Abr.2009', 'May.2009', 'Jun.2009', 'Jul.2009', 'Ago.2009', 'Sep.2009', 'Oct.2009', 'Nov.2009', 'Dic.2009', 'Ene.2010', 'Feb.2010', 'Mar.2010', 'Abr.2010', 'May.2010', 'Jun.2010', 'Jul.2010', 'Ago.2010', 'Sep.2010', 'Oct.2010', 'Nov.2010', 'Dic.2010', 'Ene.2011', 'Feb.2011', 'Mar.2011', 'Abr.2011', 'May.2011', 'Jun.2011', 'Jul.2011', 'Ago.2011', 'Sep.2011', 'Oct.2011', 'Nov.2011', 'Dic.2011', 'Ene.2012', 'Feb.2012', 'Mar.2012', 'Abr.2012', 'May.2012', 'Jun.2012', 'Jul.2012', 'Ago.2012', 'Sep.2012', 'Oct.2012', 'Nov.2012', 'Dic.2012', 'Ene.2013', 'Feb.2013', 'Mar.2013', 'Abr.2013', 'May.2013', 'Jun.2013', 'Jul.2013', 'Ago.2013', 'Sep.2013', 'Oct.2013', 'Nov.2013', 'Dic.2013', 'Ene.2014', 'Feb.2014', 'Mar.2014', 'Abr.2014', 'May.2014', 'Jun.2014', 'Jul.2014', 'Ago.2014', 'Sep.2014', 'Oct.2014', 'Nov.2014', 'Dic.2014', 'Ene.2015', 'Feb.2015', 'Mar.2015', 'Abr.2015', 'May.2015', 'Jun.2015', 'Jul.2015', 'Ago.2015', 'Sep.2015', 'Oct.2015', 'Nov.2015', 'Dic.2015', 'Ene.2016', 'Feb.2016', 'Mar.2016', 'Abr.2016', 'May.2016', 'Jun.2016', 'Jul.2016', 'Ago.2016', 'Sep.2016', 'Oct.2016', 'Nov.2016', 'Dic.2016', 'Ene.2017', 'Feb.2017', 'Mar.2017', 'Abr.2017', 'May.2017', 'Jun.2017', 'Jul.2017', 'Ago.2017', 'Sep.2017', 'Oct.2017', 'Nov.2017', 'Dic.2017', 'Ene.2018', 'Feb.2018', 'Mar.2018', 'Abr.2018', 'May.2018', 'Jun.2018', 'Jul.2018', 'Ago.2018', 'Sep.2018', 'Oct.2018', 'Nov.2018', 'Dic.2018', 'Ene.2019', 'Feb.2019', 'Mar.2019', 'Abr.2019', 'May.2019', 'Jun.2019', 'Jul.2019', 'Ago.2019', 'Sep.2019', 'Oct.2019', 'Nov.2019', 'Dic.2019', 'Ene.2020', 'Feb.2020', 'Mar.2020', 'Abr.2020', 'May.2020', 'Jun.2020', 'Jul.2020', 'Ago.2020', 'Sep.2020', 'Oct.2020', 'Nov.2020', 'Dic.2020'], 'Valores': ['18.475969', '17.634188', '21.262089', '27.36261', '36.60221', '43.22685', '58.546029', '38.05475', '25.716229', '22.140859', '19.551787', '15.69299', '17.440831', '18.645993', '22.32534', '30.089004', '39.658229', '44.728871', '58.081022', '41.12828', '31.297879', '28.162838', '27.490439', '20.92843', '22.070807', '20.784079', '24.632274', '31.2279', '40.485227', '45.854018', '57.841088', '38.966523', '27.124653', '24.062379', '22.147973', '22.401198', '22.109014', '19.826825', '23.603526', '31.466907', '41.286558', '49.220426', '62.015802', '37.371165', '30.553138', '26.006257', '26.472059', '24.641759', '22.282896', '18.936421', '22.9117', '32.702976', '41.823917', '56.719927', '69.626075', '40.592237', '29.687576', '28.477669', '29.043617', '25.826186', '24.469678', '21.161587', '23.44881', '32.902402', '43.728318', '57.404455', '69.673354', '40.555256', '29.312777', '29.239268', '30.551302', '26.305968', '24.037169', '22.810068', '24.077662', '32.271214', '43.548852', '61.979662', '75.942925', '40.260196', '28.295337', '30.44825', '30.457189', '24.60711', '24.868719', '22.519202', '25.090103', '34.056381', '45.195832', '57.864659', '73.213626', '44.567444', '37.502717', '32.134099', '29.43115', '23.97929', '25.410797', '24.455608', '27.746841', '33.523404', '46.228787', '60.708869', '75.772037', '48.533389', '31.512202', '27.232493', '29.045568', '25.984314', '27.761139', '26.382066', '31.584347', '41.254125', '58.345413', '65.487549', '76.908288', '48.93394', '32.044588', '27.854849', '28.216746', '26.09595', '25.667409', '26.859719', '31.277257', '43.456781', '60.515838', '65.714705', '71.556865', '51.391456', '31.510145', '30.355327', '31.94906', '28.199763', '24.52787', '27.1533', '32.365326', '43.658345', '58.22574', '60.502701', '73.153196', '55.522238', '34.456834', '31.619257', '32.580819', '29.056829', '25.063899', '29.912705', '31.883828', '32.279854', '51.573903', '61.577924', '78.224338', '63.196859', '39.474151', '35.014889', '32.28766', '29.277618', '29.219118', '31.340116', '35.73582', '41.706578', '58.889888', '65.839776', '81.477575', '66.784617', '43.063419', '35.65643', '31.41702', '33.687479']}

In [66]:
import pandas as pd
df5=pd.DataFrame(diccionario5)
df5.head()

     Fechas    Valores
0  Ene.2007  18.475969
1  Feb.2007  17.634188
2  Mar.2007  21.262089
3  Abr.2007   27.36261
4  May.2007   36.60221

In [67]:
df5.rename(columns={'Valores':'Naranja'}, inplace=True)
df5.head()

     Fechas    Naranja
0  Ene.2007  18.475969
1  Feb.2007  17.634188
2  Mar.2007  21.262089
3  Abr.2007   27.36261
4  May.2007   36.60221

In [ ]:
# DATOS DE PRODUCCIÓN AGRÍCOLA DE ALFALFA

In [68]:
url_base="https://estadisticas.bcrp.gob.pe/estadisticas/series/api/"
cod_ser="PN01782AM"
formato="/json"
per="/2003-1/2020-12"
url=url_base+cod_ser+formato+per
print(url)

https://estadisticas.bcrp.gob.pe/estadisticas/series/api/PN01782AM/json/2003-1/2020-12

In [69]:
import requests
response=requests.get(url)
print(response)

<Response [200]>

In [70]:
# extraer en formato json
response_json=response.json()
print(response_json)

{'config': {'title': 'ProducciÃ³n agropecuaria (miles de toneladas)', 'series': [{'name': 'ProducciÃ³n agropecuaria (miles de toneladas) - AgrÃ\xadcola - Alfalfa', 'dec': '1'}]}, 'periods': [{'name': 'Ene.2007', 'values': ['506.227757']}, {'name': 'Feb.2007', 'values': ['510.469859']}, {'name': 'Mar.2007', 'values': ['534.578727']}, {'name': 'Abr.2007', 'values': ['571.195966']}, {'name': 'May.2007', 'values': ['510.757404']}, {'name': 'Jun.2007', 'values': ['446.884277']}, {'name': 'Jul.2007', 'values': ['404.998677']}, {'name': 'Ago.2007', 'values': ['407.791956']}, {'name': 'Sep.2007', 'values': ['419.296356']}, {'name': 'Oct.2007', 'values': ['435.431273']}, {'name': 'Nov.2007', 'values': ['477.083831']}, {'name': 'Dic.2007', 'values': ['507.254256']}, {'name': 'Ene.2008', 'values': ['505.840183']}, {'name': 'Feb.2008', 'values': ['514.685929']}, {'name': 'Mar.2008', 'values': ['545.153674']}, {'name': 'Abr.2008', 'values': ['582.096935']}, {'name': 'May.2008', 'values': ['526.247899']}, {'name': 'Jun.2008', 'values': ['430.446446']}, {'name': 'Jul.2008', 'values': ['411.037479']}, {'name': 'Ago.2008', 'values': ['409.407033']}, {'name': 'Sep.2008', 'values': ['434.327802']}, {'name': 'Oct.2008', 'values': ['458.630195']}, {'name': 'Nov.2008', 'values': ['494.960403']}, {'name': 'Dic.2008', 'values': ['509.653465']}, {'name': 'Ene.2009', 'values': ['518.976542']}, {'name': 'Feb.2009', 'values': ['552.357535']}, {'name': 'Mar.2009', 'values': ['596.921563']}, {'name': 'Abr.2009', 'values': ['606.121']}, {'name': 'May.2009', 'values': ['537.864603']}, {'name': 'Jun.2009', 'values': ['466.158591']}, {'name': 'Jul.2009', 'values': ['440.5622']}, {'name': 'Ago.2009', 'values': ['427.864303']}, {'name': 'Sep.2009', 'values': ['450.724374']}, {'name': 'Oct.2009', 'values': ['475.109834']}, {'name': 'Nov.2009', 'values': ['509.672669']}, {'name': 'Dic.2009', 'values': ['530.743566']}, {'name': 'Ene.2010', 'values': ['541.974734']}, {'name': 'Feb.2010', 'values': ['563.482045']}, {'name': 'Mar.2010', 'values': ['629.928814']}, {'name': 'Abr.2010', 'values': ['623.980104']}, {'name': 'May.2010', 'values': ['563.261884']}, {'name': 'Jun.2010', 'values': ['488.149825']}, {'name': 'Jul.2010', 'values': ['441.965755']}, {'name': 'Ago.2010', 'values': ['439.539231']}, {'name': 'Sep.2010', 'values': ['456.571882']}, {'name': 'Oct.2010', 'values': ['473.091741']}, {'name': 'Nov.2010', 'values': ['496.645123']}, {'name': 'Dic.2010', 'values': ['522.283931']}, {'name': 'Ene.2011', 'values': ['546.177855']}, {'name': 'Feb.2011', 'values': ['579.393644']}, {'name': 'Mar.2011', 'values': ['653.570651']}, {'name': 'Abr.2011', 'values': ['679.182629']}, {'name': 'May.2011', 'values': ['587.390894']}, {'name': 'Jun.2011', 'values': ['501.22903']}, {'name': 'Jul.2011', 'values': ['454.71582']}, {'name': 'Ago.2011', 'values': ['449.01332']}, {'name': 'Sep.2011', 'values': ['457.020765']}, {'name': 'Oct.2011', 'values': ['460.773793']}, {'name': 'Nov.2011', 'values': ['499.927101']}, {'name': 'Dic.2011', 'values': ['529.781271']}, {'name': 'Ene.2012', 'values': ['553.265702']}, {'name': 'Feb.2012', 'values': ['590.013244']}, {'name': 'Mar.2012', 'values': ['688.970482']}, {'name': 'Abr.2012', 'values': ['706.300703']}, {'name': 'May.2012', 'values': ['616.45256']}, {'name': 'Jun.2012', 'values': ['523.270433']}, {'name': 'Jul.2012', 'values': ['461.313634']}, {'name': 'Ago.2012', 'values': ['479.230701']}, {'name': 'Sep.2012', 'values': ['481.92161']}, {'name': 'Oct.2012', 'values': ['498.981076']}, {'name': 'Nov.2012', 'values': ['525.046327']}, {'name': 'Dic.2012', 'values': ['571.60963']}, {'name': 'Ene.2013', 'values': ['601.600152']}, {'name': 'Feb.2013', 'values': ['627.170697']}, {'name': 'Mar.2013', 'values': ['760.682677']}, {'name': 'Abr.2013', 'values': ['753.027267']}, {'name': 'May.2013', 'values': ['642.362022']}, {'name': 'Jun.2013', 'values': ['539.490898']}, {'name': 'Jul.2013', 'values': ['475.730288']}, {'name': 'Ago.2013', 'values': ['480.843594']}, {'name': 'Sep.2013', 'values': ['484.345022']}, {'name': 'Oct.2013', 'values': ['516.617079']}, {'name': 'Nov.2013', 'values': ['529.987363']}, {'name': 'Dic.2013', 'values': ['562.353106']}, {'name': 'Ene.2014', 'values': ['586.296224']}, {'name': 'Feb.2014', 'values': ['608.418158']}, {'name': 'Mar.2014', 'values': ['754.954556']}, {'name': 'Abr.2014', 'values': ['756.270702']}, {'name': 'May.2014', 'values': ['610.918279']}, {'name': 'Jun.2014', 'values': ['500.250189']}, {'name': 'Jul.2014', 'values': ['427.939572']}, {'name': 'Ago.2014', 'values': ['436.528862']}, {'name': 'Sep.2014', 'values': ['446.629265']}, {'name': 'Oct.2014', 'values': ['467.606648']}, {'name': 'Nov.2014', 'values': ['484.440603']}, {'name': 'Dic.2014', 'values': ['524.838375']}, {'name': 'Ene.2015', 'values': ['560.074535']}, {'name': 'Feb.2015', 'values': ['634.244744']}, {'name': 'Mar.2015', 'values': ['817.247788']}, {'name': 'Abr.2015', 'values': ['792.362155']}, {'name': 'May.2015', 'values': ['642.506194']}, {'name': 'Jun.2015', 'values': ['516.23699']}, {'name': 'Jul.2015', 'values': ['460.87812']}, {'name': 'Ago.2015', 'values': ['444.918126']}, {'name': 'Sep.2015', 'values': ['457.988664']}, {'name': 'Oct.2015', 'values': ['466.015973']}, {'name': 'Nov.2015', 'values': ['483.487997']}, {'name': 'Dic.2015', 'values': ['545.804166']}, {'name': 'Ene.2016', 'values': ['519.893234']}, {'name': 'Feb.2016', 'values': ['600.823537']}, {'name': 'Mar.2016', 'values': ['739.7897']}, {'name': 'Abr.2016', 'values': ['831.168071']}, {'name': 'May.2016', 'values': ['683.76811']}, {'name': 'Jun.2016', 'values': ['514.646129']}, {'name': 'Jul.2016', 'values': ['446.262429']}, {'name': 'Ago.2016', 'values': ['457.958373']}, {'name': 'Sep.2016', 'values': ['450.634746']}, {'name': 'Oct.2016', 'values': ['456.506572']}, {'name': 'Nov.2016', 'values': ['442.301068']}, {'name': 'Dic.2016', 'values': ['492.943374']}, {'name': 'Ene.2017', 'values': ['467.561231']}, {'name': 'Feb.2017', 'values': ['560.679099']}, {'name': 'Mar.2017', 'values': ['737.70744']}, {'name': 'Abr.2017', 'values': ['856.811186']}, {'name': 'May.2017', 'values': ['733.717958']}, {'name': 'Jun.2017', 'values': ['532.754578']}, {'name': 'Jul.2017', 'values': ['416.706491']}, {'name': 'Ago.2017', 'values': ['414.339306']}, {'name': 'Sep.2017', 'values': ['418.184946']}, {'name': 'Oct.2017', 'values': ['432.798741']}, {'name': 'Nov.2017', 'values': ['428.000014']}, {'name': 'Dic.2017', 'values': ['487.628297']}, {'name': 'Ene.2018', 'values': ['466.758613']}, {'name': 'Feb.2018', 'values': ['576.377826']}, {'name': 'Mar.2018', 'values': ['752.28866']}, {'name': 'Abr.2018', 'values': ['876.344756']}, {'name': 'May.2018', 'values': ['759.53234']}, {'name': 'Jun.2018', 'values': ['523.533629']}, {'name': 'Jul.2018', 'values': ['407.152078']}, {'name': 'Ago.2018', 'values': ['393.960433']}, {'name': 'Sep.2018', 'values': ['413.019365']}, {'name': 'Oct.2018', 'values': ['420.692641']}, {'name': 'Nov.2018', 'values': ['435.814604']}, {'name': 'Dic.2018', 'values': ['496.611876']}, {'name': 'Ene.2019', 'values': ['504.491726']}, {'name': 'Feb.2019', 'values': ['610.512942']}, {'name': 'Mar.2019', 'values': ['812.471653']}, {'name': 'Abr.2019', 'values': ['947.501638']}, {'name': 'May.2019', 'values': ['784.085262']}, {'name': 'Jun.2019', 'values': ['537.554944']}, {'name': 'Jul.2019', 'values': ['412.713278']}, {'name': 'Ago.2019', 'values': ['407.136223']}, {'name': 'Sep.2019', 'values': ['415.505859']}, {'name': 'Oct.2019', 'values': ['433.755041']}, {'name': 'Nov.2019', 'values': ['451.194513']}, {'name': 'Dic.2019', 'values': ['531.126122']}, {'name': 'Ene.2020', 'values': ['507.928789']}, {'name': 'Feb.2020', 'values': ['616.049126']}, {'name': 'Mar.2020', 'values': ['868.963105']}, {'name': 'Abr.2020', 'values': ['1014.319743']}, {'name': 'May.2020', 'values': ['833.512662']}, {'name': 'Jun.2020', 'values': ['557.840327']}, {'name': 'Jul.2020', 'values': ['427.513605']}, {'name': 'Ago.2020', 'values': ['436.124709']}, {'name': 'Sep.2020', 'values': ['447.109245']}, {'name': 'Oct.2020', 'values': ['457.884519']}, {'name': 'Nov.2020', 'values': ['458.50668']}, {'name': 'Dic.2020', 'values': ['530.090722']}]}

In [71]:
for key in response_json.keys():
    print(key)

config
periods

In [72]:
print(response_json["config"])

{'title': 'ProducciÃ³n agropecuaria (miles de toneladas)', 'series': [{'name': 'ProducciÃ³n agropecuaria (miles de toneladas) - AgrÃ\xadcola - Alfalfa', 'dec': '1'}]}

In [73]:
# llamar a los valores
print(response_json["periods"])

[{'name': 'Ene.2007', 'values': ['506.227757']}, {'name': 'Feb.2007', 'values': ['510.469859']}, {'name': 'Mar.2007', 'values': ['534.578727']}, {'name': 'Abr.2007', 'values': ['571.195966']}, {'name': 'May.2007', 'values': ['510.757404']}, {'name': 'Jun.2007', 'values': ['446.884277']}, {'name': 'Jul.2007', 'values': ['404.998677']}, {'name': 'Ago.2007', 'values': ['407.791956']}, {'name': 'Sep.2007', 'values': ['419.296356']}, {'name': 'Oct.2007', 'values': ['435.431273']}, {'name': 'Nov.2007', 'values': ['477.083831']}, {'name': 'Dic.2007', 'values': ['507.254256']}, {'name': 'Ene.2008', 'values': ['505.840183']}, {'name': 'Feb.2008', 'values': ['514.685929']}, {'name': 'Mar.2008', 'values': ['545.153674']}, {'name': 'Abr.2008', 'values': ['582.096935']}, {'name': 'May.2008', 'values': ['526.247899']}, {'name': 'Jun.2008', 'values': ['430.446446']}, {'name': 'Jul.2008', 'values': ['411.037479']}, {'name': 'Ago.2008', 'values': ['409.407033']}, {'name': 'Sep.2008', 'values': ['434.327802']}, {'name': 'Oct.2008', 'values': ['458.630195']}, {'name': 'Nov.2008', 'values': ['494.960403']}, {'name': 'Dic.2008', 'values': ['509.653465']}, {'name': 'Ene.2009', 'values': ['518.976542']}, {'name': 'Feb.2009', 'values': ['552.357535']}, {'name': 'Mar.2009', 'values': ['596.921563']}, {'name': 'Abr.2009', 'values': ['606.121']}, {'name': 'May.2009', 'values': ['537.864603']}, {'name': 'Jun.2009', 'values': ['466.158591']}, {'name': 'Jul.2009', 'values': ['440.5622']}, {'name': 'Ago.2009', 'values': ['427.864303']}, {'name': 'Sep.2009', 'values': ['450.724374']}, {'name': 'Oct.2009', 'values': ['475.109834']}, {'name': 'Nov.2009', 'values': ['509.672669']}, {'name': 'Dic.2009', 'values': ['530.743566']}, {'name': 'Ene.2010', 'values': ['541.974734']}, {'name': 'Feb.2010', 'values': ['563.482045']}, {'name': 'Mar.2010', 'values': ['629.928814']}, {'name': 'Abr.2010', 'values': ['623.980104']}, {'name': 'May.2010', 'values': ['563.261884']}, {'name': 'Jun.2010', 'values': ['488.149825']}, {'name': 'Jul.2010', 'values': ['441.965755']}, {'name': 'Ago.2010', 'values': ['439.539231']}, {'name': 'Sep.2010', 'values': ['456.571882']}, {'name': 'Oct.2010', 'values': ['473.091741']}, {'name': 'Nov.2010', 'values': ['496.645123']}, {'name': 'Dic.2010', 'values': ['522.283931']}, {'name': 'Ene.2011', 'values': ['546.177855']}, {'name': 'Feb.2011', 'values': ['579.393644']}, {'name': 'Mar.2011', 'values': ['653.570651']}, {'name': 'Abr.2011', 'values': ['679.182629']}, {'name': 'May.2011', 'values': ['587.390894']}, {'name': 'Jun.2011', 'values': ['501.22903']}, {'name': 'Jul.2011', 'values': ['454.71582']}, {'name': 'Ago.2011', 'values': ['449.01332']}, {'name': 'Sep.2011', 'values': ['457.020765']}, {'name': 'Oct.2011', 'values': ['460.773793']}, {'name': 'Nov.2011', 'values': ['499.927101']}, {'name': 'Dic.2011', 'values': ['529.781271']}, {'name': 'Ene.2012', 'values': ['553.265702']}, {'name': 'Feb.2012', 'values': ['590.013244']}, {'name': 'Mar.2012', 'values': ['688.970482']}, {'name': 'Abr.2012', 'values': ['706.300703']}, {'name': 'May.2012', 'values': ['616.45256']}, {'name': 'Jun.2012', 'values': ['523.270433']}, {'name': 'Jul.2012', 'values': ['461.313634']}, {'name': 'Ago.2012', 'values': ['479.230701']}, {'name': 'Sep.2012', 'values': ['481.92161']}, {'name': 'Oct.2012', 'values': ['498.981076']}, {'name': 'Nov.2012', 'values': ['525.046327']}, {'name': 'Dic.2012', 'values': ['571.60963']}, {'name': 'Ene.2013', 'values': ['601.600152']}, {'name': 'Feb.2013', 'values': ['627.170697']}, {'name': 'Mar.2013', 'values': ['760.682677']}, {'name': 'Abr.2013', 'values': ['753.027267']}, {'name': 'May.2013', 'values': ['642.362022']}, {'name': 'Jun.2013', 'values': ['539.490898']}, {'name': 'Jul.2013', 'values': ['475.730288']}, {'name': 'Ago.2013', 'values': ['480.843594']}, {'name': 'Sep.2013', 'values': ['484.345022']}, {'name': 'Oct.2013', 'values': ['516.617079']}, {'name': 'Nov.2013', 'values': ['529.987363']}, {'name': 'Dic.2013', 'values': ['562.353106']}, {'name': 'Ene.2014', 'values': ['586.296224']}, {'name': 'Feb.2014', 'values': ['608.418158']}, {'name': 'Mar.2014', 'values': ['754.954556']}, {'name': 'Abr.2014', 'values': ['756.270702']}, {'name': 'May.2014', 'values': ['610.918279']}, {'name': 'Jun.2014', 'values': ['500.250189']}, {'name': 'Jul.2014', 'values': ['427.939572']}, {'name': 'Ago.2014', 'values': ['436.528862']}, {'name': 'Sep.2014', 'values': ['446.629265']}, {'name': 'Oct.2014', 'values': ['467.606648']}, {'name': 'Nov.2014', 'values': ['484.440603']}, {'name': 'Dic.2014', 'values': ['524.838375']}, {'name': 'Ene.2015', 'values': ['560.074535']}, {'name': 'Feb.2015', 'values': ['634.244744']}, {'name': 'Mar.2015', 'values': ['817.247788']}, {'name': 'Abr.2015', 'values': ['792.362155']}, {'name': 'May.2015', 'values': ['642.506194']}, {'name': 'Jun.2015', 'values': ['516.23699']}, {'name': 'Jul.2015', 'values': ['460.87812']}, {'name': 'Ago.2015', 'values': ['444.918126']}, {'name': 'Sep.2015', 'values': ['457.988664']}, {'name': 'Oct.2015', 'values': ['466.015973']}, {'name': 'Nov.2015', 'values': ['483.487997']}, {'name': 'Dic.2015', 'values': ['545.804166']}, {'name': 'Ene.2016', 'values': ['519.893234']}, {'name': 'Feb.2016', 'values': ['600.823537']}, {'name': 'Mar.2016', 'values': ['739.7897']}, {'name': 'Abr.2016', 'values': ['831.168071']}, {'name': 'May.2016', 'values': ['683.76811']}, {'name': 'Jun.2016', 'values': ['514.646129']}, {'name': 'Jul.2016', 'values': ['446.262429']}, {'name': 'Ago.2016', 'values': ['457.958373']}, {'name': 'Sep.2016', 'values': ['450.634746']}, {'name': 'Oct.2016', 'values': ['456.506572']}, {'name': 'Nov.2016', 'values': ['442.301068']}, {'name': 'Dic.2016', 'values': ['492.943374']}, {'name': 'Ene.2017', 'values': ['467.561231']}, {'name': 'Feb.2017', 'values': ['560.679099']}, {'name': 'Mar.2017', 'values': ['737.70744']}, {'name': 'Abr.2017', 'values': ['856.811186']}, {'name': 'May.2017', 'values': ['733.717958']}, {'name': 'Jun.2017', 'values': ['532.754578']}, {'name': 'Jul.2017', 'values': ['416.706491']}, {'name': 'Ago.2017', 'values': ['414.339306']}, {'name': 'Sep.2017', 'values': ['418.184946']}, {'name': 'Oct.2017', 'values': ['432.798741']}, {'name': 'Nov.2017', 'values': ['428.000014']}, {'name': 'Dic.2017', 'values': ['487.628297']}, {'name': 'Ene.2018', 'values': ['466.758613']}, {'name': 'Feb.2018', 'values': ['576.377826']}, {'name': 'Mar.2018', 'values': ['752.28866']}, {'name': 'Abr.2018', 'values': ['876.344756']}, {'name': 'May.2018', 'values': ['759.53234']}, {'name': 'Jun.2018', 'values': ['523.533629']}, {'name': 'Jul.2018', 'values': ['407.152078']}, {'name': 'Ago.2018', 'values': ['393.960433']}, {'name': 'Sep.2018', 'values': ['413.019365']}, {'name': 'Oct.2018', 'values': ['420.692641']}, {'name': 'Nov.2018', 'values': ['435.814604']}, {'name': 'Dic.2018', 'values': ['496.611876']}, {'name': 'Ene.2019', 'values': ['504.491726']}, {'name': 'Feb.2019', 'values': ['610.512942']}, {'name': 'Mar.2019', 'values': ['812.471653']}, {'name': 'Abr.2019', 'values': ['947.501638']}, {'name': 'May.2019', 'values': ['784.085262']}, {'name': 'Jun.2019', 'values': ['537.554944']}, {'name': 'Jul.2019', 'values': ['412.713278']}, {'name': 'Ago.2019', 'values': ['407.136223']}, {'name': 'Sep.2019', 'values': ['415.505859']}, {'name': 'Oct.2019', 'values': ['433.755041']}, {'name': 'Nov.2019', 'values': ['451.194513']}, {'name': 'Dic.2019', 'values': ['531.126122']}, {'name': 'Ene.2020', 'values': ['507.928789']}, {'name': 'Feb.2020', 'values': ['616.049126']}, {'name': 'Mar.2020', 'values': ['868.963105']}, {'name': 'Abr.2020', 'values': ['1014.319743']}, {'name': 'May.2020', 'values': ['833.512662']}, {'name': 'Jun.2020', 'values': ['557.840327']}, {'name': 'Jul.2020', 'values': ['427.513605']}, {'name': 'Ago.2020', 'values': ['436.124709']}, {'name': 'Sep.2020', 'values': ['447.109245']}, {'name': 'Oct.2020', 'values': ['457.884519']}, {'name': 'Nov.2020', 'values': ['458.50668']}, {'name': 'Dic.2020', 'values': ['530.090722']}]

In [74]:
periodos=response_json.get("periods")
prod_alfalfa=[]
for i in periodos:
    valores_list=i["values"]
    for w in valores_list:
        w=str(w)
        prod_alfalfa.append(w)
        
print(prod_alfalfa)

['506.227757', '510.469859', '534.578727', '571.195966', '510.757404', '446.884277', '404.998677', '407.791956', '419.296356', '435.431273', '477.083831', '507.254256', '505.840183', '514.685929', '545.153674', '582.096935', '526.247899', '430.446446', '411.037479', '409.407033', '434.327802', '458.630195', '494.960403', '509.653465', '518.976542', '552.357535', '596.921563', '606.121', '537.864603', '466.158591', '440.5622', '427.864303', '450.724374', '475.109834', '509.672669', '530.743566', '541.974734', '563.482045', '629.928814', '623.980104', '563.261884', '488.149825', '441.965755', '439.539231', '456.571882', '473.091741', '496.645123', '522.283931', '546.177855', '579.393644', '653.570651', '679.182629', '587.390894', '501.22903', '454.71582', '449.01332', '457.020765', '460.773793', '499.927101', '529.781271', '553.265702', '590.013244', '688.970482', '706.300703', '616.45256', '523.270433', '461.313634', '479.230701', '481.92161', '498.981076', '525.046327', '571.60963', '601.600152', '627.170697', '760.682677', '753.027267', '642.362022', '539.490898', '475.730288', '480.843594', '484.345022', '516.617079', '529.987363', '562.353106', '586.296224', '608.418158', '754.954556', '756.270702', '610.918279', '500.250189', '427.939572', '436.528862', '446.629265', '467.606648', '484.440603', '524.838375', '560.074535', '634.244744', '817.247788', '792.362155', '642.506194', '516.23699', '460.87812', '444.918126', '457.988664', '466.015973', '483.487997', '545.804166', '519.893234', '600.823537', '739.7897', '831.168071', '683.76811', '514.646129', '446.262429', '457.958373', '450.634746', '456.506572', '442.301068', '492.943374', '467.561231', '560.679099', '737.70744', '856.811186', '733.717958', '532.754578', '416.706491', '414.339306', '418.184946', '432.798741', '428.000014', '487.628297', '466.758613', '576.377826', '752.28866', '876.344756', '759.53234', '523.533629', '407.152078', '393.960433', '413.019365', '420.692641', '435.814604', '496.611876', '504.491726', '610.512942', '812.471653', '947.501638', '784.085262', '537.554944', '412.713278', '407.136223', '415.505859', '433.755041', '451.194513', '531.126122', '507.928789', '616.049126', '868.963105', '1014.319743', '833.512662', '557.840327', '427.513605', '436.124709', '447.109245', '457.884519', '458.50668', '530.090722']

In [75]:
fechas=[]
for i in periodos:
    nombres=i["name"]
    fechas.append(nombres)
print(fechas)

['Ene.2007', 'Feb.2007', 'Mar.2007', 'Abr.2007', 'May.2007', 'Jun.2007', 'Jul.2007', 'Ago.2007', 'Sep.2007', 'Oct.2007', 'Nov.2007', 'Dic.2007', 'Ene.2008', 'Feb.2008', 'Mar.2008', 'Abr.2008', 'May.2008', 'Jun.2008', 'Jul.2008', 'Ago.2008', 'Sep.2008', 'Oct.2008', 'Nov.2008', 'Dic.2008', 'Ene.2009', 'Feb.2009', 'Mar.2009', 'Abr.2009', 'May.2009', 'Jun.2009', 'Jul.2009', 'Ago.2009', 'Sep.2009', 'Oct.2009', 'Nov.2009', 'Dic.2009', 'Ene.2010', 'Feb.2010', 'Mar.2010', 'Abr.2010', 'May.2010', 'Jun.2010', 'Jul.2010', 'Ago.2010', 'Sep.2010', 'Oct.2010', 'Nov.2010', 'Dic.2010', 'Ene.2011', 'Feb.2011', 'Mar.2011', 'Abr.2011', 'May.2011', 'Jun.2011', 'Jul.2011', 'Ago.2011', 'Sep.2011', 'Oct.2011', 'Nov.2011', 'Dic.2011', 'Ene.2012', 'Feb.2012', 'Mar.2012', 'Abr.2012', 'May.2012', 'Jun.2012', 'Jul.2012', 'Ago.2012', 'Sep.2012', 'Oct.2012', 'Nov.2012', 'Dic.2012', 'Ene.2013', 'Feb.2013', 'Mar.2013', 'Abr.2013', 'May.2013', 'Jun.2013', 'Jul.2013', 'Ago.2013', 'Sep.2013', 'Oct.2013', 'Nov.2013', 'Dic.2013', 'Ene.2014', 'Feb.2014', 'Mar.2014', 'Abr.2014', 'May.2014', 'Jun.2014', 'Jul.2014', 'Ago.2014', 'Sep.2014', 'Oct.2014', 'Nov.2014', 'Dic.2014', 'Ene.2015', 'Feb.2015', 'Mar.2015', 'Abr.2015', 'May.2015', 'Jun.2015', 'Jul.2015', 'Ago.2015', 'Sep.2015', 'Oct.2015', 'Nov.2015', 'Dic.2015', 'Ene.2016', 'Feb.2016', 'Mar.2016', 'Abr.2016', 'May.2016', 'Jun.2016', 'Jul.2016', 'Ago.2016', 'Sep.2016', 'Oct.2016', 'Nov.2016', 'Dic.2016', 'Ene.2017', 'Feb.2017', 'Mar.2017', 'Abr.2017', 'May.2017', 'Jun.2017', 'Jul.2017', 'Ago.2017', 'Sep.2017', 'Oct.2017', 'Nov.2017', 'Dic.2017', 'Ene.2018', 'Feb.2018', 'Mar.2018', 'Abr.2018', 'May.2018', 'Jun.2018', 'Jul.2018', 'Ago.2018', 'Sep.2018', 'Oct.2018', 'Nov.2018', 'Dic.2018', 'Ene.2019', 'Feb.2019', 'Mar.2019', 'Abr.2019', 'May.2019', 'Jun.2019', 'Jul.2019', 'Ago.2019', 'Sep.2019', 'Oct.2019', 'Nov.2019', 'Dic.2019', 'Ene.2020', 'Feb.2020', 'Mar.2020', 'Abr.2020', 'May.2020', 'Jun.2020', 'Jul.2020', 'Ago.2020', 'Sep.2020', 'Oct.2020', 'Nov.2020', 'Dic.2020']

In [77]:
diccionario6= {"Fechas":fechas, "Valores":prod_alfalfa}
print(diccionario6)

{'Fechas': ['Ene.2007', 'Feb.2007', 'Mar.2007', 'Abr.2007', 'May.2007', 'Jun.2007', 'Jul.2007', 'Ago.2007', 'Sep.2007', 'Oct.2007', 'Nov.2007', 'Dic.2007', 'Ene.2008', 'Feb.2008', 'Mar.2008', 'Abr.2008', 'May.2008', 'Jun.2008', 'Jul.2008', 'Ago.2008', 'Sep.2008', 'Oct.2008', 'Nov.2008', 'Dic.2008', 'Ene.2009', 'Feb.2009', 'Mar.2009', 'Abr.2009', 'May.2009', 'Jun.2009', 'Jul.2009', 'Ago.2009', 'Sep.2009', 'Oct.2009', 'Nov.2009', 'Dic.2009', 'Ene.2010', 'Feb.2010', 'Mar.2010', 'Abr.2010', 'May.2010', 'Jun.2010', 'Jul.2010', 'Ago.2010', 'Sep.2010', 'Oct.2010', 'Nov.2010', 'Dic.2010', 'Ene.2011', 'Feb.2011', 'Mar.2011', 'Abr.2011', 'May.2011', 'Jun.2011', 'Jul.2011', 'Ago.2011', 'Sep.2011', 'Oct.2011', 'Nov.2011', 'Dic.2011', 'Ene.2012', 'Feb.2012', 'Mar.2012', 'Abr.2012', 'May.2012', 'Jun.2012', 'Jul.2012', 'Ago.2012', 'Sep.2012', 'Oct.2012', 'Nov.2012', 'Dic.2012', 'Ene.2013', 'Feb.2013', 'Mar.2013', 'Abr.2013', 'May.2013', 'Jun.2013', 'Jul.2013', 'Ago.2013', 'Sep.2013', 'Oct.2013', 'Nov.2013', 'Dic.2013', 'Ene.2014', 'Feb.2014', 'Mar.2014', 'Abr.2014', 'May.2014', 'Jun.2014', 'Jul.2014', 'Ago.2014', 'Sep.2014', 'Oct.2014', 'Nov.2014', 'Dic.2014', 'Ene.2015', 'Feb.2015', 'Mar.2015', 'Abr.2015', 'May.2015', 'Jun.2015', 'Jul.2015', 'Ago.2015', 'Sep.2015', 'Oct.2015', 'Nov.2015', 'Dic.2015', 'Ene.2016', 'Feb.2016', 'Mar.2016', 'Abr.2016', 'May.2016', 'Jun.2016', 'Jul.2016', 'Ago.2016', 'Sep.2016', 'Oct.2016', 'Nov.2016', 'Dic.2016', 'Ene.2017', 'Feb.2017', 'Mar.2017', 'Abr.2017', 'May.2017', 'Jun.2017', 'Jul.2017', 'Ago.2017', 'Sep.2017', 'Oct.2017', 'Nov.2017', 'Dic.2017', 'Ene.2018', 'Feb.2018', 'Mar.2018', 'Abr.2018', 'May.2018', 'Jun.2018', 'Jul.2018', 'Ago.2018', 'Sep.2018', 'Oct.2018', 'Nov.2018', 'Dic.2018', 'Ene.2019', 'Feb.2019', 'Mar.2019', 'Abr.2019', 'May.2019', 'Jun.2019', 'Jul.2019', 'Ago.2019', 'Sep.2019', 'Oct.2019', 'Nov.2019', 'Dic.2019', 'Ene.2020', 'Feb.2020', 'Mar.2020', 'Abr.2020', 'May.2020', 'Jun.2020', 'Jul.2020', 'Ago.2020', 'Sep.2020', 'Oct.2020', 'Nov.2020', 'Dic.2020'], 'Valores': ['506.227757', '510.469859', '534.578727', '571.195966', '510.757404', '446.884277', '404.998677', '407.791956', '419.296356', '435.431273', '477.083831', '507.254256', '505.840183', '514.685929', '545.153674', '582.096935', '526.247899', '430.446446', '411.037479', '409.407033', '434.327802', '458.630195', '494.960403', '509.653465', '518.976542', '552.357535', '596.921563', '606.121', '537.864603', '466.158591', '440.5622', '427.864303', '450.724374', '475.109834', '509.672669', '530.743566', '541.974734', '563.482045', '629.928814', '623.980104', '563.261884', '488.149825', '441.965755', '439.539231', '456.571882', '473.091741', '496.645123', '522.283931', '546.177855', '579.393644', '653.570651', '679.182629', '587.390894', '501.22903', '454.71582', '449.01332', '457.020765', '460.773793', '499.927101', '529.781271', '553.265702', '590.013244', '688.970482', '706.300703', '616.45256', '523.270433', '461.313634', '479.230701', '481.92161', '498.981076', '525.046327', '571.60963', '601.600152', '627.170697', '760.682677', '753.027267', '642.362022', '539.490898', '475.730288', '480.843594', '484.345022', '516.617079', '529.987363', '562.353106', '586.296224', '608.418158', '754.954556', '756.270702', '610.918279', '500.250189', '427.939572', '436.528862', '446.629265', '467.606648', '484.440603', '524.838375', '560.074535', '634.244744', '817.247788', '792.362155', '642.506194', '516.23699', '460.87812', '444.918126', '457.988664', '466.015973', '483.487997', '545.804166', '519.893234', '600.823537', '739.7897', '831.168071', '683.76811', '514.646129', '446.262429', '457.958373', '450.634746', '456.506572', '442.301068', '492.943374', '467.561231', '560.679099', '737.70744', '856.811186', '733.717958', '532.754578', '416.706491', '414.339306', '418.184946', '432.798741', '428.000014', '487.628297', '466.758613', '576.377826', '752.28866', '876.344756', '759.53234', '523.533629', '407.152078', '393.960433', '413.019365', '420.692641', '435.814604', '496.611876', '504.491726', '610.512942', '812.471653', '947.501638', '784.085262', '537.554944', '412.713278', '407.136223', '415.505859', '433.755041', '451.194513', '531.126122', '507.928789', '616.049126', '868.963105', '1014.319743', '833.512662', '557.840327', '427.513605', '436.124709', '447.109245', '457.884519', '458.50668', '530.090722']}

In [78]:
df6=pd.DataFrame(diccionario6)
df6

       Fechas     Valores
0    Ene.2007  506.227757
1    Feb.2007  510.469859
2    Mar.2007  534.578727
3    Abr.2007  571.195966
4    May.2007  510.757404
..        ...         ...
163  Ago.2020  436.124709
164  Sep.2020  447.109245
165  Oct.2020  457.884519
166  Nov.2020   458.50668
167  Dic.2020  530.090722

[168 rows x 2 columns]

In [79]:
df6.rename(columns={'Valores':'Alfalfa'}, inplace=True)
df6.head()

     Fechas     Alfalfa
0  Ene.2007  506.227757
1  Feb.2007  510.469859
2  Mar.2007  534.578727
3  Abr.2007  571.195966
4  May.2007  510.757404

In [ ]:
# DATOS DE PRODUCCIÓN AGRÍCOLA DE TOMATE

In [80]:
url_base="https://estadisticas.bcrp.gob.pe/estadisticas/series/api/"
cod_ser="PN01783AM"
formato="/json"
per="/2003-1/2020-12"
url=url_base+cod_ser+formato+per
print(url)

https://estadisticas.bcrp.gob.pe/estadisticas/series/api/PN01783AM/json/2003-1/2020-12

In [81]:
import requests
response=requests.get(url)
print(response)

<Response [200]>

In [82]:
# extraer en formato json
response_json=response.json()
print(response_json)

{'config': {'title': 'ProducciÃ³n agropecuaria (miles de toneladas)', 'series': [{'name': 'ProducciÃ³n agropecuaria (miles de toneladas) - AgrÃ\xadcola - Tomate', 'dec': '1'}]}, 'periods': [{'name': 'Ene.2007', 'values': ['21.07759']}, {'name': 'Feb.2007', 'values': ['19.876109']}, {'name': 'Mar.2007', 'values': ['15.60233']}, {'name': 'Abr.2007', 'values': ['13.049857']}, {'name': 'May.2007', 'values': ['9.775942']}, {'name': 'Jun.2007', 'values': ['10.02129']}, {'name': 'Jul.2007', 'values': ['9.136236']}, {'name': 'Ago.2007', 'values': ['8.817989']}, {'name': 'Sep.2007', 'values': ['8.366458']}, {'name': 'Oct.2007', 'values': ['14.381291']}, {'name': 'Nov.2007', 'values': ['13.99557']}, {'name': 'Dic.2007', 'values': ['29.15609']}, {'name': 'Ene.2008', 'values': ['19.765996']}, {'name': 'Feb.2008', 'values': ['21.494072']}, {'name': 'Mar.2008', 'values': ['29.641895']}, {'name': 'Abr.2008', 'values': ['16.694689']}, {'name': 'May.2008', 'values': ['11.816913']}, {'name': 'Jun.2008', 'values': ['10.903209']}, {'name': 'Jul.2008', 'values': ['10.546559']}, {'name': 'Ago.2008', 'values': ['11.280363']}, {'name': 'Sep.2008', 'values': ['13.484355']}, {'name': 'Oct.2008', 'values': ['14.277995']}, {'name': 'Nov.2008', 'values': ['25.358885']}, {'name': 'Dic.2008', 'values': ['25.420307']}, {'name': 'Ene.2009', 'values': ['34.586579']}, {'name': 'Feb.2009', 'values': ['27.768366']}, {'name': 'Mar.2009', 'values': ['12.665141']}, {'name': 'Abr.2009', 'values': ['14.293614']}, {'name': 'May.2009', 'values': ['14.147624']}, {'name': 'Jun.2009', 'values': ['12.847179']}, {'name': 'Jul.2009', 'values': ['13.710782']}, {'name': 'Ago.2009', 'values': ['12.501134']}, {'name': 'Sep.2009', 'values': ['9.233415']}, {'name': 'Oct.2009', 'values': ['9.406858']}, {'name': 'Nov.2009', 'values': ['24.874088']}, {'name': 'Dic.2009', 'values': ['35.55933']}, {'name': 'Ene.2010', 'values': ['37.60756']}, {'name': 'Feb.2010', 'values': ['20.513209']}, {'name': 'Mar.2010', 'values': ['12.014479']}, {'name': 'Abr.2010', 'values': ['9.71787']}, {'name': 'May.2010', 'values': ['11.073741']}, {'name': 'Jun.2010', 'values': ['11.76217']}, {'name': 'Jul.2010', 'values': ['10.284688']}, {'name': 'Ago.2010', 'values': ['13.629698']}, {'name': 'Sep.2010', 'values': ['12.420105']}, {'name': 'Oct.2010', 'values': ['15.78228']}, {'name': 'Nov.2010', 'values': ['28.907249']}, {'name': 'Dic.2010', 'values': ['41.183749']}, {'name': 'Ene.2011', 'values': ['29.22969']}, {'name': 'Feb.2011', 'values': ['16.27682']}, {'name': 'Mar.2011', 'values': ['13.325909']}, {'name': 'Abr.2011', 'values': ['10.23517']}, {'name': 'May.2011', 'values': ['9.497829']}, {'name': 'Jun.2011', 'values': ['10.92764']}, {'name': 'Jul.2011', 'values': ['10.699809']}, {'name': 'Ago.2011', 'values': ['8.854327']}, {'name': 'Sep.2011', 'values': ['10.380587']}, {'name': 'Oct.2011', 'values': ['13.865079']}, {'name': 'Nov.2011', 'values': ['24.602107']}, {'name': 'Dic.2011', 'values': ['28.106729']}, {'name': 'Ene.2012', 'values': ['38.52203']}, {'name': 'Feb.2012', 'values': ['25.97359']}, {'name': 'Mar.2012', 'values': ['17.201608']}, {'name': 'Abr.2012', 'values': ['9.917988']}, {'name': 'May.2012', 'values': ['13.734556']}, {'name': 'Jun.2012', 'values': ['13.059429']}, {'name': 'Jul.2012', 'values': ['12.288389']}, {'name': 'Ago.2012', 'values': ['12.194086']}, {'name': 'Sep.2012', 'values': ['11.556228']}, {'name': 'Oct.2012', 'values': ['13.152129']}, {'name': 'Nov.2012', 'values': ['21.306558']}, {'name': 'Dic.2012', 'values': ['40.449879']}, {'name': 'Ene.2013', 'values': ['41.057915']}, {'name': 'Feb.2013', 'values': ['37.713409']}, {'name': 'Mar.2013', 'values': ['24.669258']}, {'name': 'Abr.2013', 'values': ['14.968919']}, {'name': 'May.2013', 'values': ['15.896987']}, {'name': 'Jun.2013', 'values': ['21.300157']}, {'name': 'Jul.2013', 'values': ['13.948924']}, {'name': 'Ago.2013', 'values': ['15.010338']}, {'name': 'Sep.2013', 'values': ['13.511089']}, {'name': 'Oct.2013', 'values': ['11.610374']}, {'name': 'Nov.2013', 'values': ['10.695276']}, {'name': 'Dic.2013', 'values': ['31.587767']}, {'name': 'Ene.2014', 'values': ['48.329058']}, {'name': 'Feb.2014', 'values': ['44.009274']}, {'name': 'Mar.2014', 'values': ['15.727599']}, {'name': 'Abr.2014', 'values': ['13.635369']}, {'name': 'May.2014', 'values': ['12.44746']}, {'name': 'Jun.2014', 'values': ['14.500725']}, {'name': 'Jul.2014', 'values': ['15.272469']}, {'name': 'Ago.2014', 'values': ['14.134915']}, {'name': 'Sep.2014', 'values': ['16.312461']}, {'name': 'Oct.2014', 'values': ['16.587982']}, {'name': 'Nov.2014', 'values': ['16.895863']}, {'name': 'Dic.2014', 'values': ['38.09487']}, {'name': 'Ene.2015', 'values': ['24.641454']}, {'name': 'Feb.2015', 'values': ['28.536809']}, {'name': 'Mar.2015', 'values': ['25.841029']}, {'name': 'Abr.2015', 'values': ['14.527553']}, {'name': 'May.2015', 'values': ['12.322804']}, {'name': 'Jun.2015', 'values': ['13.56506']}, {'name': 'Jul.2015', 'values': ['13.87161']}, {'name': 'Ago.2015', 'values': ['17.179221']}, {'name': 'Sep.2015', 'values': ['15.056247']}, {'name': 'Oct.2015', 'values': ['12.028483']}, {'name': 'Nov.2015', 'values': ['36.156223']}, {'name': 'Dic.2015', 'values': ['22.560681']}, {'name': 'Ene.2016', 'values': ['25.18767']}, {'name': 'Feb.2016', 'values': ['25.184364']}, {'name': 'Mar.2016', 'values': ['16.229014']}, {'name': 'Abr.2016', 'values': ['13.045669']}, {'name': 'May.2016', 'values': ['14.077817']}, {'name': 'Jun.2016', 'values': ['13.958282']}, {'name': 'Jul.2016', 'values': ['14.022424']}, {'name': 'Ago.2016', 'values': ['18.871436']}, {'name': 'Sep.2016', 'values': ['17.030139']}, {'name': 'Oct.2016', 'values': ['13.105943']}, {'name': 'Nov.2016', 'values': ['26.076338']}, {'name': 'Dic.2016', 'values': ['36.108791']}, {'name': 'Ene.2017', 'values': ['28.185348']}, {'name': 'Feb.2017', 'values': ['21.14641']}, {'name': 'Mar.2017', 'values': ['18.04761']}, {'name': 'Abr.2017', 'values': ['13.239898']}, {'name': 'May.2017', 'values': ['13.994089']}, {'name': 'Jun.2017', 'values': ['13.602742']}, {'name': 'Jul.2017', 'values': ['13.70334']}, {'name': 'Ago.2017', 'values': ['13.435372']}, {'name': 'Sep.2017', 'values': ['13.49497']}, {'name': 'Oct.2017', 'values': ['15.921612']}, {'name': 'Nov.2017', 'values': ['34.43522']}, {'name': 'Dic.2017', 'values': ['21.4111']}, {'name': 'Ene.2018', 'values': ['28.758596']}, {'name': 'Feb.2018', 'values': ['34.1482']}, {'name': 'Mar.2018', 'values': ['24.037019']}, {'name': 'Abr.2018', 'values': ['12.830409']}, {'name': 'May.2018', 'values': ['11.979749']}, {'name': 'Jun.2018', 'values': ['11.031723']}, {'name': 'Jul.2018', 'values': ['13.283029']}, {'name': 'Ago.2018', 'values': ['11.84366']}, {'name': 'Sep.2018', 'values': ['10.950689']}, {'name': 'Oct.2018', 'values': ['23.142236']}, {'name': 'Nov.2018', 'values': ['42.71479']}, {'name': 'Dic.2018', 'values': ['28.729164']}, {'name': 'Ene.2019', 'values': ['26.885069']}, {'name': 'Feb.2019', 'values': ['22.9642']}, {'name': 'Mar.2019', 'values': ['14.83316']}, {'name': 'Abr.2019', 'values': ['8.95961']}, {'name': 'May.2019', 'values': ['9.497094']}, {'name': 'Jun.2019', 'values': ['11.309152']}, {'name': 'Jul.2019', 'values': ['10.027698']}, {'name': 'Ago.2019', 'values': ['15.545459']}, {'name': 'Sep.2019', 'values': ['10.227588']}, {'name': 'Oct.2019', 'values': ['25.45559']}, {'name': 'Nov.2019', 'values': ['20.969896']}, {'name': 'Dic.2019', 'values': ['25.163757']}, {'name': 'Ene.2020', 'values': ['33.35935']}, {'name': 'Feb.2020', 'values': ['17.838707']}, {'name': 'Mar.2020', 'values': ['18.104759']}, {'name': 'Abr.2020', 'values': ['10.886319']}, {'name': 'May.2020', 'values': ['10.91171']}, {'name': 'Jun.2020', 'values': ['7.86112']}, {'name': 'Jul.2020', 'values': ['9.16697']}, {'name': 'Ago.2020', 'values': ['12.641385']}, {'name': 'Sep.2020', 'values': ['12.138747']}, {'name': 'Oct.2020', 'values': ['15.525468']}, {'name': 'Nov.2020', 'values': ['32.77881']}, {'name': 'Dic.2020', 'values': ['22.912489']}]}

In [83]:
for key in response_json.keys():
    print(key)

config
periods

In [84]:
print(response_json["config"])

{'title': 'ProducciÃ³n agropecuaria (miles de toneladas)', 'series': [{'name': 'ProducciÃ³n agropecuaria (miles de toneladas) - AgrÃ\xadcola - Tomate', 'dec': '1'}]}

In [85]:
# llamar a los valores
print(response_json["periods"])

[{'name': 'Ene.2007', 'values': ['21.07759']}, {'name': 'Feb.2007', 'values': ['19.876109']}, {'name': 'Mar.2007', 'values': ['15.60233']}, {'name': 'Abr.2007', 'values': ['13.049857']}, {'name': 'May.2007', 'values': ['9.775942']}, {'name': 'Jun.2007', 'values': ['10.02129']}, {'name': 'Jul.2007', 'values': ['9.136236']}, {'name': 'Ago.2007', 'values': ['8.817989']}, {'name': 'Sep.2007', 'values': ['8.366458']}, {'name': 'Oct.2007', 'values': ['14.381291']}, {'name': 'Nov.2007', 'values': ['13.99557']}, {'name': 'Dic.2007', 'values': ['29.15609']}, {'name': 'Ene.2008', 'values': ['19.765996']}, {'name': 'Feb.2008', 'values': ['21.494072']}, {'name': 'Mar.2008', 'values': ['29.641895']}, {'name': 'Abr.2008', 'values': ['16.694689']}, {'name': 'May.2008', 'values': ['11.816913']}, {'name': 'Jun.2008', 'values': ['10.903209']}, {'name': 'Jul.2008', 'values': ['10.546559']}, {'name': 'Ago.2008', 'values': ['11.280363']}, {'name': 'Sep.2008', 'values': ['13.484355']}, {'name': 'Oct.2008', 'values': ['14.277995']}, {'name': 'Nov.2008', 'values': ['25.358885']}, {'name': 'Dic.2008', 'values': ['25.420307']}, {'name': 'Ene.2009', 'values': ['34.586579']}, {'name': 'Feb.2009', 'values': ['27.768366']}, {'name': 'Mar.2009', 'values': ['12.665141']}, {'name': 'Abr.2009', 'values': ['14.293614']}, {'name': 'May.2009', 'values': ['14.147624']}, {'name': 'Jun.2009', 'values': ['12.847179']}, {'name': 'Jul.2009', 'values': ['13.710782']}, {'name': 'Ago.2009', 'values': ['12.501134']}, {'name': 'Sep.2009', 'values': ['9.233415']}, {'name': 'Oct.2009', 'values': ['9.406858']}, {'name': 'Nov.2009', 'values': ['24.874088']}, {'name': 'Dic.2009', 'values': ['35.55933']}, {'name': 'Ene.2010', 'values': ['37.60756']}, {'name': 'Feb.2010', 'values': ['20.513209']}, {'name': 'Mar.2010', 'values': ['12.014479']}, {'name': 'Abr.2010', 'values': ['9.71787']}, {'name': 'May.2010', 'values': ['11.073741']}, {'name': 'Jun.2010', 'values': ['11.76217']}, {'name': 'Jul.2010', 'values': ['10.284688']}, {'name': 'Ago.2010', 'values': ['13.629698']}, {'name': 'Sep.2010', 'values': ['12.420105']}, {'name': 'Oct.2010', 'values': ['15.78228']}, {'name': 'Nov.2010', 'values': ['28.907249']}, {'name': 'Dic.2010', 'values': ['41.183749']}, {'name': 'Ene.2011', 'values': ['29.22969']}, {'name': 'Feb.2011', 'values': ['16.27682']}, {'name': 'Mar.2011', 'values': ['13.325909']}, {'name': 'Abr.2011', 'values': ['10.23517']}, {'name': 'May.2011', 'values': ['9.497829']}, {'name': 'Jun.2011', 'values': ['10.92764']}, {'name': 'Jul.2011', 'values': ['10.699809']}, {'name': 'Ago.2011', 'values': ['8.854327']}, {'name': 'Sep.2011', 'values': ['10.380587']}, {'name': 'Oct.2011', 'values': ['13.865079']}, {'name': 'Nov.2011', 'values': ['24.602107']}, {'name': 'Dic.2011', 'values': ['28.106729']}, {'name': 'Ene.2012', 'values': ['38.52203']}, {'name': 'Feb.2012', 'values': ['25.97359']}, {'name': 'Mar.2012', 'values': ['17.201608']}, {'name': 'Abr.2012', 'values': ['9.917988']}, {'name': 'May.2012', 'values': ['13.734556']}, {'name': 'Jun.2012', 'values': ['13.059429']}, {'name': 'Jul.2012', 'values': ['12.288389']}, {'name': 'Ago.2012', 'values': ['12.194086']}, {'name': 'Sep.2012', 'values': ['11.556228']}, {'name': 'Oct.2012', 'values': ['13.152129']}, {'name': 'Nov.2012', 'values': ['21.306558']}, {'name': 'Dic.2012', 'values': ['40.449879']}, {'name': 'Ene.2013', 'values': ['41.057915']}, {'name': 'Feb.2013', 'values': ['37.713409']}, {'name': 'Mar.2013', 'values': ['24.669258']}, {'name': 'Abr.2013', 'values': ['14.968919']}, {'name': 'May.2013', 'values': ['15.896987']}, {'name': 'Jun.2013', 'values': ['21.300157']}, {'name': 'Jul.2013', 'values': ['13.948924']}, {'name': 'Ago.2013', 'values': ['15.010338']}, {'name': 'Sep.2013', 'values': ['13.511089']}, {'name': 'Oct.2013', 'values': ['11.610374']}, {'name': 'Nov.2013', 'values': ['10.695276']}, {'name': 'Dic.2013', 'values': ['31.587767']}, {'name': 'Ene.2014', 'values': ['48.329058']}, {'name': 'Feb.2014', 'values': ['44.009274']}, {'name': 'Mar.2014', 'values': ['15.727599']}, {'name': 'Abr.2014', 'values': ['13.635369']}, {'name': 'May.2014', 'values': ['12.44746']}, {'name': 'Jun.2014', 'values': ['14.500725']}, {'name': 'Jul.2014', 'values': ['15.272469']}, {'name': 'Ago.2014', 'values': ['14.134915']}, {'name': 'Sep.2014', 'values': ['16.312461']}, {'name': 'Oct.2014', 'values': ['16.587982']}, {'name': 'Nov.2014', 'values': ['16.895863']}, {'name': 'Dic.2014', 'values': ['38.09487']}, {'name': 'Ene.2015', 'values': ['24.641454']}, {'name': 'Feb.2015', 'values': ['28.536809']}, {'name': 'Mar.2015', 'values': ['25.841029']}, {'name': 'Abr.2015', 'values': ['14.527553']}, {'name': 'May.2015', 'values': ['12.322804']}, {'name': 'Jun.2015', 'values': ['13.56506']}, {'name': 'Jul.2015', 'values': ['13.87161']}, {'name': 'Ago.2015', 'values': ['17.179221']}, {'name': 'Sep.2015', 'values': ['15.056247']}, {'name': 'Oct.2015', 'values': ['12.028483']}, {'name': 'Nov.2015', 'values': ['36.156223']}, {'name': 'Dic.2015', 'values': ['22.560681']}, {'name': 'Ene.2016', 'values': ['25.18767']}, {'name': 'Feb.2016', 'values': ['25.184364']}, {'name': 'Mar.2016', 'values': ['16.229014']}, {'name': 'Abr.2016', 'values': ['13.045669']}, {'name': 'May.2016', 'values': ['14.077817']}, {'name': 'Jun.2016', 'values': ['13.958282']}, {'name': 'Jul.2016', 'values': ['14.022424']}, {'name': 'Ago.2016', 'values': ['18.871436']}, {'name': 'Sep.2016', 'values': ['17.030139']}, {'name': 'Oct.2016', 'values': ['13.105943']}, {'name': 'Nov.2016', 'values': ['26.076338']}, {'name': 'Dic.2016', 'values': ['36.108791']}, {'name': 'Ene.2017', 'values': ['28.185348']}, {'name': 'Feb.2017', 'values': ['21.14641']}, {'name': 'Mar.2017', 'values': ['18.04761']}, {'name': 'Abr.2017', 'values': ['13.239898']}, {'name': 'May.2017', 'values': ['13.994089']}, {'name': 'Jun.2017', 'values': ['13.602742']}, {'name': 'Jul.2017', 'values': ['13.70334']}, {'name': 'Ago.2017', 'values': ['13.435372']}, {'name': 'Sep.2017', 'values': ['13.49497']}, {'name': 'Oct.2017', 'values': ['15.921612']}, {'name': 'Nov.2017', 'values': ['34.43522']}, {'name': 'Dic.2017', 'values': ['21.4111']}, {'name': 'Ene.2018', 'values': ['28.758596']}, {'name': 'Feb.2018', 'values': ['34.1482']}, {'name': 'Mar.2018', 'values': ['24.037019']}, {'name': 'Abr.2018', 'values': ['12.830409']}, {'name': 'May.2018', 'values': ['11.979749']}, {'name': 'Jun.2018', 'values': ['11.031723']}, {'name': 'Jul.2018', 'values': ['13.283029']}, {'name': 'Ago.2018', 'values': ['11.84366']}, {'name': 'Sep.2018', 'values': ['10.950689']}, {'name': 'Oct.2018', 'values': ['23.142236']}, {'name': 'Nov.2018', 'values': ['42.71479']}, {'name': 'Dic.2018', 'values': ['28.729164']}, {'name': 'Ene.2019', 'values': ['26.885069']}, {'name': 'Feb.2019', 'values': ['22.9642']}, {'name': 'Mar.2019', 'values': ['14.83316']}, {'name': 'Abr.2019', 'values': ['8.95961']}, {'name': 'May.2019', 'values': ['9.497094']}, {'name': 'Jun.2019', 'values': ['11.309152']}, {'name': 'Jul.2019', 'values': ['10.027698']}, {'name': 'Ago.2019', 'values': ['15.545459']}, {'name': 'Sep.2019', 'values': ['10.227588']}, {'name': 'Oct.2019', 'values': ['25.45559']}, {'name': 'Nov.2019', 'values': ['20.969896']}, {'name': 'Dic.2019', 'values': ['25.163757']}, {'name': 'Ene.2020', 'values': ['33.35935']}, {'name': 'Feb.2020', 'values': ['17.838707']}, {'name': 'Mar.2020', 'values': ['18.104759']}, {'name': 'Abr.2020', 'values': ['10.886319']}, {'name': 'May.2020', 'values': ['10.91171']}, {'name': 'Jun.2020', 'values': ['7.86112']}, {'name': 'Jul.2020', 'values': ['9.16697']}, {'name': 'Ago.2020', 'values': ['12.641385']}, {'name': 'Sep.2020', 'values': ['12.138747']}, {'name': 'Oct.2020', 'values': ['15.525468']}, {'name': 'Nov.2020', 'values': ['32.77881']}, {'name': 'Dic.2020', 'values': ['22.912489']}]

In [86]:
periodos=response_json.get("periods")
prod_tomate=[]
for i in periodos:
    valores_list=i["values"]
    for w in valores_list:
        w=str(w)
        prod_tomate.append(w)
        
print(prod_tomate)

['21.07759', '19.876109', '15.60233', '13.049857', '9.775942', '10.02129', '9.136236', '8.817989', '8.366458', '14.381291', '13.99557', '29.15609', '19.765996', '21.494072', '29.641895', '16.694689', '11.816913', '10.903209', '10.546559', '11.280363', '13.484355', '14.277995', '25.358885', '25.420307', '34.586579', '27.768366', '12.665141', '14.293614', '14.147624', '12.847179', '13.710782', '12.501134', '9.233415', '9.406858', '24.874088', '35.55933', '37.60756', '20.513209', '12.014479', '9.71787', '11.073741', '11.76217', '10.284688', '13.629698', '12.420105', '15.78228', '28.907249', '41.183749', '29.22969', '16.27682', '13.325909', '10.23517', '9.497829', '10.92764', '10.699809', '8.854327', '10.380587', '13.865079', '24.602107', '28.106729', '38.52203', '25.97359', '17.201608', '9.917988', '13.734556', '13.059429', '12.288389', '12.194086', '11.556228', '13.152129', '21.306558', '40.449879', '41.057915', '37.713409', '24.669258', '14.968919', '15.896987', '21.300157', '13.948924', '15.010338', '13.511089', '11.610374', '10.695276', '31.587767', '48.329058', '44.009274', '15.727599', '13.635369', '12.44746', '14.500725', '15.272469', '14.134915', '16.312461', '16.587982', '16.895863', '38.09487', '24.641454', '28.536809', '25.841029', '14.527553', '12.322804', '13.56506', '13.87161', '17.179221', '15.056247', '12.028483', '36.156223', '22.560681', '25.18767', '25.184364', '16.229014', '13.045669', '14.077817', '13.958282', '14.022424', '18.871436', '17.030139', '13.105943', '26.076338', '36.108791', '28.185348', '21.14641', '18.04761', '13.239898', '13.994089', '13.602742', '13.70334', '13.435372', '13.49497', '15.921612', '34.43522', '21.4111', '28.758596', '34.1482', '24.037019', '12.830409', '11.979749', '11.031723', '13.283029', '11.84366', '10.950689', '23.142236', '42.71479', '28.729164', '26.885069', '22.9642', '14.83316', '8.95961', '9.497094', '11.309152', '10.027698', '15.545459', '10.227588', '25.45559', '20.969896', '25.163757', '33.35935', '17.838707', '18.104759', '10.886319', '10.91171', '7.86112', '9.16697', '12.641385', '12.138747', '15.525468', '32.77881', '22.912489']

In [87]:
fechas=[]
for i in periodos:
    nombres=i["name"]
    fechas.append(nombres)
print(fechas)

['Ene.2007', 'Feb.2007', 'Mar.2007', 'Abr.2007', 'May.2007', 'Jun.2007', 'Jul.2007', 'Ago.2007', 'Sep.2007', 'Oct.2007', 'Nov.2007', 'Dic.2007', 'Ene.2008', 'Feb.2008', 'Mar.2008', 'Abr.2008', 'May.2008', 'Jun.2008', 'Jul.2008', 'Ago.2008', 'Sep.2008', 'Oct.2008', 'Nov.2008', 'Dic.2008', 'Ene.2009', 'Feb.2009', 'Mar.2009', 'Abr.2009', 'May.2009', 'Jun.2009', 'Jul.2009', 'Ago.2009', 'Sep.2009', 'Oct.2009', 'Nov.2009', 'Dic.2009', 'Ene.2010', 'Feb.2010', 'Mar.2010', 'Abr.2010', 'May.2010', 'Jun.2010', 'Jul.2010', 'Ago.2010', 'Sep.2010', 'Oct.2010', 'Nov.2010', 'Dic.2010', 'Ene.2011', 'Feb.2011', 'Mar.2011', 'Abr.2011', 'May.2011', 'Jun.2011', 'Jul.2011', 'Ago.2011', 'Sep.2011', 'Oct.2011', 'Nov.2011', 'Dic.2011', 'Ene.2012', 'Feb.2012', 'Mar.2012', 'Abr.2012', 'May.2012', 'Jun.2012', 'Jul.2012', 'Ago.2012', 'Sep.2012', 'Oct.2012', 'Nov.2012', 'Dic.2012', 'Ene.2013', 'Feb.2013', 'Mar.2013', 'Abr.2013', 'May.2013', 'Jun.2013', 'Jul.2013', 'Ago.2013', 'Sep.2013', 'Oct.2013', 'Nov.2013', 'Dic.2013', 'Ene.2014', 'Feb.2014', 'Mar.2014', 'Abr.2014', 'May.2014', 'Jun.2014', 'Jul.2014', 'Ago.2014', 'Sep.2014', 'Oct.2014', 'Nov.2014', 'Dic.2014', 'Ene.2015', 'Feb.2015', 'Mar.2015', 'Abr.2015', 'May.2015', 'Jun.2015', 'Jul.2015', 'Ago.2015', 'Sep.2015', 'Oct.2015', 'Nov.2015', 'Dic.2015', 'Ene.2016', 'Feb.2016', 'Mar.2016', 'Abr.2016', 'May.2016', 'Jun.2016', 'Jul.2016', 'Ago.2016', 'Sep.2016', 'Oct.2016', 'Nov.2016', 'Dic.2016', 'Ene.2017', 'Feb.2017', 'Mar.2017', 'Abr.2017', 'May.2017', 'Jun.2017', 'Jul.2017', 'Ago.2017', 'Sep.2017', 'Oct.2017', 'Nov.2017', 'Dic.2017', 'Ene.2018', 'Feb.2018', 'Mar.2018', 'Abr.2018', 'May.2018', 'Jun.2018', 'Jul.2018', 'Ago.2018', 'Sep.2018', 'Oct.2018', 'Nov.2018', 'Dic.2018', 'Ene.2019', 'Feb.2019', 'Mar.2019', 'Abr.2019', 'May.2019', 'Jun.2019', 'Jul.2019', 'Ago.2019', 'Sep.2019', 'Oct.2019', 'Nov.2019', 'Dic.2019', 'Ene.2020', 'Feb.2020', 'Mar.2020', 'Abr.2020', 'May.2020', 'Jun.2020', 'Jul.2020', 'Ago.2020', 'Sep.2020', 'Oct.2020', 'Nov.2020', 'Dic.2020']

In [88]:
diccionario7= {"Fechas":fechas, "Valores":prod_tomate}
print(diccionario7)

{'Fechas': ['Ene.2007', 'Feb.2007', 'Mar.2007', 'Abr.2007', 'May.2007', 'Jun.2007', 'Jul.2007', 'Ago.2007', 'Sep.2007', 'Oct.2007', 'Nov.2007', 'Dic.2007', 'Ene.2008', 'Feb.2008', 'Mar.2008', 'Abr.2008', 'May.2008', 'Jun.2008', 'Jul.2008', 'Ago.2008', 'Sep.2008', 'Oct.2008', 'Nov.2008', 'Dic.2008', 'Ene.2009', 'Feb.2009', 'Mar.2009', 'Abr.2009', 'May.2009', 'Jun.2009', 'Jul.2009', 'Ago.2009', 'Sep.2009', 'Oct.2009', 'Nov.2009', 'Dic.2009', 'Ene.2010', 'Feb.2010', 'Mar.2010', 'Abr.2010', 'May.2010', 'Jun.2010', 'Jul.2010', 'Ago.2010', 'Sep.2010', 'Oct.2010', 'Nov.2010', 'Dic.2010', 'Ene.2011', 'Feb.2011', 'Mar.2011', 'Abr.2011', 'May.2011', 'Jun.2011', 'Jul.2011', 'Ago.2011', 'Sep.2011', 'Oct.2011', 'Nov.2011', 'Dic.2011', 'Ene.2012', 'Feb.2012', 'Mar.2012', 'Abr.2012', 'May.2012', 'Jun.2012', 'Jul.2012', 'Ago.2012', 'Sep.2012', 'Oct.2012', 'Nov.2012', 'Dic.2012', 'Ene.2013', 'Feb.2013', 'Mar.2013', 'Abr.2013', 'May.2013', 'Jun.2013', 'Jul.2013', 'Ago.2013', 'Sep.2013', 'Oct.2013', 'Nov.2013', 'Dic.2013', 'Ene.2014', 'Feb.2014', 'Mar.2014', 'Abr.2014', 'May.2014', 'Jun.2014', 'Jul.2014', 'Ago.2014', 'Sep.2014', 'Oct.2014', 'Nov.2014', 'Dic.2014', 'Ene.2015', 'Feb.2015', 'Mar.2015', 'Abr.2015', 'May.2015', 'Jun.2015', 'Jul.2015', 'Ago.2015', 'Sep.2015', 'Oct.2015', 'Nov.2015', 'Dic.2015', 'Ene.2016', 'Feb.2016', 'Mar.2016', 'Abr.2016', 'May.2016', 'Jun.2016', 'Jul.2016', 'Ago.2016', 'Sep.2016', 'Oct.2016', 'Nov.2016', 'Dic.2016', 'Ene.2017', 'Feb.2017', 'Mar.2017', 'Abr.2017', 'May.2017', 'Jun.2017', 'Jul.2017', 'Ago.2017', 'Sep.2017', 'Oct.2017', 'Nov.2017', 'Dic.2017', 'Ene.2018', 'Feb.2018', 'Mar.2018', 'Abr.2018', 'May.2018', 'Jun.2018', 'Jul.2018', 'Ago.2018', 'Sep.2018', 'Oct.2018', 'Nov.2018', 'Dic.2018', 'Ene.2019', 'Feb.2019', 'Mar.2019', 'Abr.2019', 'May.2019', 'Jun.2019', 'Jul.2019', 'Ago.2019', 'Sep.2019', 'Oct.2019', 'Nov.2019', 'Dic.2019', 'Ene.2020', 'Feb.2020', 'Mar.2020', 'Abr.2020', 'May.2020', 'Jun.2020', 'Jul.2020', 'Ago.2020', 'Sep.2020', 'Oct.2020', 'Nov.2020', 'Dic.2020'], 'Valores': ['21.07759', '19.876109', '15.60233', '13.049857', '9.775942', '10.02129', '9.136236', '8.817989', '8.366458', '14.381291', '13.99557', '29.15609', '19.765996', '21.494072', '29.641895', '16.694689', '11.816913', '10.903209', '10.546559', '11.280363', '13.484355', '14.277995', '25.358885', '25.420307', '34.586579', '27.768366', '12.665141', '14.293614', '14.147624', '12.847179', '13.710782', '12.501134', '9.233415', '9.406858', '24.874088', '35.55933', '37.60756', '20.513209', '12.014479', '9.71787', '11.073741', '11.76217', '10.284688', '13.629698', '12.420105', '15.78228', '28.907249', '41.183749', '29.22969', '16.27682', '13.325909', '10.23517', '9.497829', '10.92764', '10.699809', '8.854327', '10.380587', '13.865079', '24.602107', '28.106729', '38.52203', '25.97359', '17.201608', '9.917988', '13.734556', '13.059429', '12.288389', '12.194086', '11.556228', '13.152129', '21.306558', '40.449879', '41.057915', '37.713409', '24.669258', '14.968919', '15.896987', '21.300157', '13.948924', '15.010338', '13.511089', '11.610374', '10.695276', '31.587767', '48.329058', '44.009274', '15.727599', '13.635369', '12.44746', '14.500725', '15.272469', '14.134915', '16.312461', '16.587982', '16.895863', '38.09487', '24.641454', '28.536809', '25.841029', '14.527553', '12.322804', '13.56506', '13.87161', '17.179221', '15.056247', '12.028483', '36.156223', '22.560681', '25.18767', '25.184364', '16.229014', '13.045669', '14.077817', '13.958282', '14.022424', '18.871436', '17.030139', '13.105943', '26.076338', '36.108791', '28.185348', '21.14641', '18.04761', '13.239898', '13.994089', '13.602742', '13.70334', '13.435372', '13.49497', '15.921612', '34.43522', '21.4111', '28.758596', '34.1482', '24.037019', '12.830409', '11.979749', '11.031723', '13.283029', '11.84366', '10.950689', '23.142236', '42.71479', '28.729164', '26.885069', '22.9642', '14.83316', '8.95961', '9.497094', '11.309152', '10.027698', '15.545459', '10.227588', '25.45559', '20.969896', '25.163757', '33.35935', '17.838707', '18.104759', '10.886319', '10.91171', '7.86112', '9.16697', '12.641385', '12.138747', '15.525468', '32.77881', '22.912489']}

In [89]:
df7=pd.DataFrame(diccionario7)
df7

       Fechas    Valores
0    Ene.2007   21.07759
1    Feb.2007  19.876109
2    Mar.2007   15.60233
3    Abr.2007  13.049857
4    May.2007   9.775942
..        ...        ...
163  Ago.2020  12.641385
164  Sep.2020  12.138747
165  Oct.2020  15.525468
166  Nov.2020   32.77881
167  Dic.2020  22.912489

[168 rows x 2 columns]

In [90]:
df7.rename(columns={'Valores':'Tomate'}, inplace=True)
df7.head()

     Fechas     Tomate
0  Ene.2007   21.07759
1  Feb.2007  19.876109
2  Mar.2007   15.60233
3  Abr.2007  13.049857
4  May.2007   9.775942

In [ ]:
# DATOS DE PRODUCCIÓN AGRÍCOLA DE PLÁTANO

In [91]:
url_base="https://estadisticas.bcrp.gob.pe/estadisticas/series/api/"
cod_ser="PN01784AM"
formato="/json"
per="/2003-1/2020-12"
url=url_base+cod_ser+formato+per
print(url)

https://estadisticas.bcrp.gob.pe/estadisticas/series/api/PN01784AM/json/2003-1/2020-12

In [92]:
import requests
response=requests.get(url)
print(response)

<Response [200]>

In [93]:
# extraer en formato json
response_json=response.json()
print(response_json)

{'config': {'title': 'ProducciÃ³n agropecuaria (miles de toneladas)', 'series': [{'name': 'ProducciÃ³n agropecuaria (miles de toneladas) - AgrÃ\xadcola - PlÃ¡tano', 'dec': '1'}]}, 'periods': [{'name': 'Ene.2007', 'values': ['147.371159']}, {'name': 'Feb.2007', 'values': ['152.182556']}, {'name': 'Mar.2007', 'values': ['160.790619']}, {'name': 'Abr.2007', 'values': ['157.293118']}, {'name': 'May.2007', 'values': ['164.338878']}, {'name': 'Jun.2007', 'values': ['158.463878']}, {'name': 'Jul.2007', 'values': ['148.97636']}, {'name': 'Ago.2007', 'values': ['143.624538']}, {'name': 'Sep.2007', 'values': ['145.816277']}, {'name': 'Oct.2007', 'values': ['150.99869']}, {'name': 'Nov.2007', 'values': ['150.163846']}, {'name': 'Dic.2007', 'values': ['154.491132']}, {'name': 'Ene.2008', 'values': ['151.758208']}, {'name': 'Feb.2008', 'values': ['146.51327']}, {'name': 'Mar.2008', 'values': ['151.741334']}, {'name': 'Abr.2008', 'values': ['150.074037']}, {'name': 'May.2008', 'values': ['151.470145']}, {'name': 'Jun.2008', 'values': ['149.906911']}, {'name': 'Jul.2008', 'values': ['144.316301']}, {'name': 'Ago.2008', 'values': ['143.187392']}, {'name': 'Sep.2008', 'values': ['146.158856']}, {'name': 'Oct.2008', 'values': ['149.385473']}, {'name': 'Nov.2008', 'values': ['154.719854']}, {'name': 'Dic.2008', 'values': ['153.696405']}, {'name': 'Ene.2009', 'values': ['150.376969']}, {'name': 'Feb.2009', 'values': ['154.888863']}, {'name': 'Mar.2009', 'values': ['158.415161']}, {'name': 'Abr.2009', 'values': ['159.722148']}, {'name': 'May.2009', 'values': ['157.630174']}, {'name': 'Jun.2009', 'values': ['154.815207']}, {'name': 'Jul.2009', 'values': ['149.056858']}, {'name': 'Ago.2009', 'values': ['150.576067']}, {'name': 'Sep.2009', 'values': ['151.947289']}, {'name': 'Oct.2009', 'values': ['157.103518']}, {'name': 'Nov.2009', 'values': ['161.39615']}, {'name': 'Dic.2009', 'values': ['160.659132']}, {'name': 'Ene.2010', 'values': ['161.846129']}, {'name': 'Feb.2010', 'values': ['166.674599']}, {'name': 'Mar.2010', 'values': ['167.885732']}, {'name': 'Abr.2010', 'values': ['165.936425']}, {'name': 'May.2010', 'values': ['168.286208']}, {'name': 'Jun.2010', 'values': ['162.252202']}, {'name': 'Jul.2010', 'values': ['162.080967']}, {'name': 'Ago.2010', 'values': ['158.663838']}, {'name': 'Sep.2010', 'values': ['164.9181']}, {'name': 'Oct.2010', 'values': ['169.030185']}, {'name': 'Nov.2010', 'values': ['176.43621']}, {'name': 'Dic.2010', 'values': ['183.273389']}, {'name': 'Ene.2011', 'values': ['173.638657']}, {'name': 'Feb.2011', 'values': ['165.984067']}, {'name': 'Mar.2011', 'values': ['160.789995']}, {'name': 'Abr.2011', 'values': ['163.594556']}, {'name': 'May.2011', 'values': ['162.707968']}, {'name': 'Jun.2011', 'values': ['160.551264']}, {'name': 'Jul.2011', 'values': ['158.092557']}, {'name': 'Ago.2011', 'values': ['159.771377']}, {'name': 'Sep.2011', 'values': ['161.949449']}, {'name': 'Oct.2011', 'values': ['163.192935']}, {'name': 'Nov.2011', 'values': ['169.600112']}, {'name': 'Dic.2011', 'values': ['168.177966']}, {'name': 'Ene.2012', 'values': ['178.198947']}, {'name': 'Feb.2012', 'values': ['173.610783']}, {'name': 'Mar.2012', 'values': ['168.867025']}, {'name': 'Abr.2012', 'values': ['172.376671']}, {'name': 'May.2012', 'values': ['174.436138']}, {'name': 'Jun.2012', 'values': ['173.959957']}, {'name': 'Jul.2012', 'values': ['171.630839']}, {'name': 'Ago.2012', 'values': ['168.938216']}, {'name': 'Sep.2012', 'values': ['170.086631']}, {'name': 'Oct.2012', 'values': ['174.341566']}, {'name': 'Nov.2012', 'values': ['175.755489']}, {'name': 'Dic.2012', 'values': ['179.887017']}, {'name': 'Ene.2013', 'values': ['177.91952']}, {'name': 'Feb.2013', 'values': ['174.917211']}, {'name': 'Mar.2013', 'values': ['173.731928']}, {'name': 'Abr.2013', 'values': ['174.173227']}, {'name': 'May.2013', 'values': ['175.739808']}, {'name': 'Jun.2013', 'values': ['177.224146']}, {'name': 'Jul.2013', 'values': ['175.434206']}, {'name': 'Ago.2013', 'values': ['175.035709']}, {'name': 'Sep.2013', 'values': ['170.021068']}, {'name': 'Oct.2013', 'values': ['176.444789']}, {'name': 'Nov.2013', 'values': ['178.698977']}, {'name': 'Dic.2013', 'values': ['182.130758']}, {'name': 'Ene.2014', 'values': ['180.56635']}, {'name': 'Feb.2014', 'values': ['178.80341']}, {'name': 'Mar.2014', 'values': ['178.328438']}, {'name': 'Abr.2014', 'values': ['175.681238']}, {'name': 'May.2014', 'values': ['177.698589']}, {'name': 'Jun.2014', 'values': ['177.523634']}, {'name': 'Jul.2014', 'values': ['173.066538']}, {'name': 'Ago.2014', 'values': ['170.90857']}, {'name': 'Sep.2014', 'values': ['172.848798']}, {'name': 'Oct.2014', 'values': ['175.890558']}, {'name': 'Nov.2014', 'values': ['182.518149']}, {'name': 'Dic.2014', 'values': ['182.004675']}, {'name': 'Ene.2015', 'values': ['176.102834']}, {'name': 'Feb.2015', 'values': ['176.122108']}, {'name': 'Mar.2015', 'values': ['178.600478']}, {'name': 'Abr.2015', 'values': ['169.434709']}, {'name': 'May.2015', 'values': ['170.571144']}, {'name': 'Jun.2015', 'values': ['166.899906']}, {'name': 'Jul.2015', 'values': ['166.179164']}, {'name': 'Ago.2015', 'values': ['165.824392']}, {'name': 'Sep.2015', 'values': ['174.193714']}, {'name': 'Oct.2015', 'values': ['169.798257']}, {'name': 'Nov.2015', 'values': ['165.662647']}, {'name': 'Dic.2015', 'values': ['176.953489']}, {'name': 'Ene.2016', 'values': ['178.135472']}, {'name': 'Feb.2016', 'values': ['176.454895']}, {'name': 'Mar.2016', 'values': ['172.719461']}, {'name': 'Abr.2016', 'values': ['170.726007']}, {'name': 'May.2016', 'values': ['166.722298']}, {'name': 'Jun.2016', 'values': ['164.785553']}, {'name': 'Jul.2016', 'values': ['168.611306']}, {'name': 'Ago.2016', 'values': ['164.855188']}, {'name': 'Sep.2016', 'values': ['171.553293']}, {'name': 'Oct.2016', 'values': ['175.797751']}, {'name': 'Nov.2016', 'values': ['180.438752']}, {'name': 'Dic.2016', 'values': ['183.194697']}, {'name': 'Ene.2017', 'values': ['179.551176']}, {'name': 'Feb.2017', 'values': ['169.845169']}, {'name': 'Mar.2017', 'values': ['157.363035']}, {'name': 'Abr.2017', 'values': ['158.037373']}, {'name': 'May.2017', 'values': ['158.463398']}, {'name': 'Jun.2017', 'values': ['157.847198']}, {'name': 'Jul.2017', 'values': ['154.879749']}, {'name': 'Ago.2017', 'values': ['157.550217']}, {'name': 'Sep.2017', 'values': ['168.212012']}, {'name': 'Oct.2017', 'values': ['170.761465']}, {'name': 'Nov.2017', 'values': ['171.756231']}, {'name': 'Dic.2017', 'values': ['176.780341']}, {'name': 'Ene.2018', 'values': ['182.152581']}, {'name': 'Feb.2018', 'values': ['181.32935']}, {'name': 'Mar.2018', 'values': ['182.527638']}, {'name': 'Abr.2018', 'values': ['179.486023']}, {'name': 'May.2018', 'values': ['183.22613']}, {'name': 'Jun.2018', 'values': ['178.788919']}, {'name': 'Jul.2018', 'values': ['180.015041']}, {'name': 'Ago.2018', 'values': ['177.379192']}, {'name': 'Sep.2018', 'values': ['183.302556']}, {'name': 'Oct.2018', 'values': ['182.370188']}, {'name': 'Nov.2018', 'values': ['186.201489']}, {'name': 'Dic.2018', 'values': ['198.097382']}, {'name': 'Ene.2019', 'values': ['192.74546']}, {'name': 'Feb.2019', 'values': ['196.863237']}, {'name': 'Mar.2019', 'values': ['192.465966']}, {'name': 'Abr.2019', 'values': ['185.81338']}, {'name': 'May.2019', 'values': ['187.157967']}, {'name': 'Jun.2019', 'values': ['184.969185']}, {'name': 'Jul.2019', 'values': ['183.16038']}, {'name': 'Ago.2019', 'values': ['177.995692']}, {'name': 'Sep.2019', 'values': ['184.76729']}, {'name': 'Oct.2019', 'values': ['182.483757']}, {'name': 'Nov.2019', 'values': ['191.223727']}, {'name': 'Dic.2019', 'values': ['192.525463']}, {'name': 'Ene.2020', 'values': ['198.109822']}, {'name': 'Feb.2020', 'values': ['195.849999']}, {'name': 'Mar.2020', 'values': ['191.929352']}, {'name': 'Abr.2020', 'values': ['188.815842']}, {'name': 'May.2020', 'values': ['191.924062']}, {'name': 'Jun.2020', 'values': ['187.130535']}, {'name': 'Jul.2020', 'values': ['187.256134']}, {'name': 'Ago.2020', 'values': ['183.448624']}, {'name': 'Sep.2020', 'values': ['191.069038']}, {'name': 'Oct.2020', 'values': ['196.060862']}, {'name': 'Nov.2020', 'values': ['200.900889']}, {'name': 'Dic.2020', 'values': ['202.01863']}]}

In [94]:
for key in response_json.keys():
    print(key)

config
periods

In [95]:
print(response_json["config"])

{'title': 'ProducciÃ³n agropecuaria (miles de toneladas)', 'series': [{'name': 'ProducciÃ³n agropecuaria (miles de toneladas) - AgrÃ\xadcola - PlÃ¡tano', 'dec': '1'}]}

In [96]:
# llamar a los valores
print(response_json["periods"])

[{'name': 'Ene.2007', 'values': ['147.371159']}, {'name': 'Feb.2007', 'values': ['152.182556']}, {'name': 'Mar.2007', 'values': ['160.790619']}, {'name': 'Abr.2007', 'values': ['157.293118']}, {'name': 'May.2007', 'values': ['164.338878']}, {'name': 'Jun.2007', 'values': ['158.463878']}, {'name': 'Jul.2007', 'values': ['148.97636']}, {'name': 'Ago.2007', 'values': ['143.624538']}, {'name': 'Sep.2007', 'values': ['145.816277']}, {'name': 'Oct.2007', 'values': ['150.99869']}, {'name': 'Nov.2007', 'values': ['150.163846']}, {'name': 'Dic.2007', 'values': ['154.491132']}, {'name': 'Ene.2008', 'values': ['151.758208']}, {'name': 'Feb.2008', 'values': ['146.51327']}, {'name': 'Mar.2008', 'values': ['151.741334']}, {'name': 'Abr.2008', 'values': ['150.074037']}, {'name': 'May.2008', 'values': ['151.470145']}, {'name': 'Jun.2008', 'values': ['149.906911']}, {'name': 'Jul.2008', 'values': ['144.316301']}, {'name': 'Ago.2008', 'values': ['143.187392']}, {'name': 'Sep.2008', 'values': ['146.158856']}, {'name': 'Oct.2008', 'values': ['149.385473']}, {'name': 'Nov.2008', 'values': ['154.719854']}, {'name': 'Dic.2008', 'values': ['153.696405']}, {'name': 'Ene.2009', 'values': ['150.376969']}, {'name': 'Feb.2009', 'values': ['154.888863']}, {'name': 'Mar.2009', 'values': ['158.415161']}, {'name': 'Abr.2009', 'values': ['159.722148']}, {'name': 'May.2009', 'values': ['157.630174']}, {'name': 'Jun.2009', 'values': ['154.815207']}, {'name': 'Jul.2009', 'values': ['149.056858']}, {'name': 'Ago.2009', 'values': ['150.576067']}, {'name': 'Sep.2009', 'values': ['151.947289']}, {'name': 'Oct.2009', 'values': ['157.103518']}, {'name': 'Nov.2009', 'values': ['161.39615']}, {'name': 'Dic.2009', 'values': ['160.659132']}, {'name': 'Ene.2010', 'values': ['161.846129']}, {'name': 'Feb.2010', 'values': ['166.674599']}, {'name': 'Mar.2010', 'values': ['167.885732']}, {'name': 'Abr.2010', 'values': ['165.936425']}, {'name': 'May.2010', 'values': ['168.286208']}, {'name': 'Jun.2010', 'values': ['162.252202']}, {'name': 'Jul.2010', 'values': ['162.080967']}, {'name': 'Ago.2010', 'values': ['158.663838']}, {'name': 'Sep.2010', 'values': ['164.9181']}, {'name': 'Oct.2010', 'values': ['169.030185']}, {'name': 'Nov.2010', 'values': ['176.43621']}, {'name': 'Dic.2010', 'values': ['183.273389']}, {'name': 'Ene.2011', 'values': ['173.638657']}, {'name': 'Feb.2011', 'values': ['165.984067']}, {'name': 'Mar.2011', 'values': ['160.789995']}, {'name': 'Abr.2011', 'values': ['163.594556']}, {'name': 'May.2011', 'values': ['162.707968']}, {'name': 'Jun.2011', 'values': ['160.551264']}, {'name': 'Jul.2011', 'values': ['158.092557']}, {'name': 'Ago.2011', 'values': ['159.771377']}, {'name': 'Sep.2011', 'values': ['161.949449']}, {'name': 'Oct.2011', 'values': ['163.192935']}, {'name': 'Nov.2011', 'values': ['169.600112']}, {'name': 'Dic.2011', 'values': ['168.177966']}, {'name': 'Ene.2012', 'values': ['178.198947']}, {'name': 'Feb.2012', 'values': ['173.610783']}, {'name': 'Mar.2012', 'values': ['168.867025']}, {'name': 'Abr.2012', 'values': ['172.376671']}, {'name': 'May.2012', 'values': ['174.436138']}, {'name': 'Jun.2012', 'values': ['173.959957']}, {'name': 'Jul.2012', 'values': ['171.630839']}, {'name': 'Ago.2012', 'values': ['168.938216']}, {'name': 'Sep.2012', 'values': ['170.086631']}, {'name': 'Oct.2012', 'values': ['174.341566']}, {'name': 'Nov.2012', 'values': ['175.755489']}, {'name': 'Dic.2012', 'values': ['179.887017']}, {'name': 'Ene.2013', 'values': ['177.91952']}, {'name': 'Feb.2013', 'values': ['174.917211']}, {'name': 'Mar.2013', 'values': ['173.731928']}, {'name': 'Abr.2013', 'values': ['174.173227']}, {'name': 'May.2013', 'values': ['175.739808']}, {'name': 'Jun.2013', 'values': ['177.224146']}, {'name': 'Jul.2013', 'values': ['175.434206']}, {'name': 'Ago.2013', 'values': ['175.035709']}, {'name': 'Sep.2013', 'values': ['170.021068']}, {'name': 'Oct.2013', 'values': ['176.444789']}, {'name': 'Nov.2013', 'values': ['178.698977']}, {'name': 'Dic.2013', 'values': ['182.130758']}, {'name': 'Ene.2014', 'values': ['180.56635']}, {'name': 'Feb.2014', 'values': ['178.80341']}, {'name': 'Mar.2014', 'values': ['178.328438']}, {'name': 'Abr.2014', 'values': ['175.681238']}, {'name': 'May.2014', 'values': ['177.698589']}, {'name': 'Jun.2014', 'values': ['177.523634']}, {'name': 'Jul.2014', 'values': ['173.066538']}, {'name': 'Ago.2014', 'values': ['170.90857']}, {'name': 'Sep.2014', 'values': ['172.848798']}, {'name': 'Oct.2014', 'values': ['175.890558']}, {'name': 'Nov.2014', 'values': ['182.518149']}, {'name': 'Dic.2014', 'values': ['182.004675']}, {'name': 'Ene.2015', 'values': ['176.102834']}, {'name': 'Feb.2015', 'values': ['176.122108']}, {'name': 'Mar.2015', 'values': ['178.600478']}, {'name': 'Abr.2015', 'values': ['169.434709']}, {'name': 'May.2015', 'values': ['170.571144']}, {'name': 'Jun.2015', 'values': ['166.899906']}, {'name': 'Jul.2015', 'values': ['166.179164']}, {'name': 'Ago.2015', 'values': ['165.824392']}, {'name': 'Sep.2015', 'values': ['174.193714']}, {'name': 'Oct.2015', 'values': ['169.798257']}, {'name': 'Nov.2015', 'values': ['165.662647']}, {'name': 'Dic.2015', 'values': ['176.953489']}, {'name': 'Ene.2016', 'values': ['178.135472']}, {'name': 'Feb.2016', 'values': ['176.454895']}, {'name': 'Mar.2016', 'values': ['172.719461']}, {'name': 'Abr.2016', 'values': ['170.726007']}, {'name': 'May.2016', 'values': ['166.722298']}, {'name': 'Jun.2016', 'values': ['164.785553']}, {'name': 'Jul.2016', 'values': ['168.611306']}, {'name': 'Ago.2016', 'values': ['164.855188']}, {'name': 'Sep.2016', 'values': ['171.553293']}, {'name': 'Oct.2016', 'values': ['175.797751']}, {'name': 'Nov.2016', 'values': ['180.438752']}, {'name': 'Dic.2016', 'values': ['183.194697']}, {'name': 'Ene.2017', 'values': ['179.551176']}, {'name': 'Feb.2017', 'values': ['169.845169']}, {'name': 'Mar.2017', 'values': ['157.363035']}, {'name': 'Abr.2017', 'values': ['158.037373']}, {'name': 'May.2017', 'values': ['158.463398']}, {'name': 'Jun.2017', 'values': ['157.847198']}, {'name': 'Jul.2017', 'values': ['154.879749']}, {'name': 'Ago.2017', 'values': ['157.550217']}, {'name': 'Sep.2017', 'values': ['168.212012']}, {'name': 'Oct.2017', 'values': ['170.761465']}, {'name': 'Nov.2017', 'values': ['171.756231']}, {'name': 'Dic.2017', 'values': ['176.780341']}, {'name': 'Ene.2018', 'values': ['182.152581']}, {'name': 'Feb.2018', 'values': ['181.32935']}, {'name': 'Mar.2018', 'values': ['182.527638']}, {'name': 'Abr.2018', 'values': ['179.486023']}, {'name': 'May.2018', 'values': ['183.22613']}, {'name': 'Jun.2018', 'values': ['178.788919']}, {'name': 'Jul.2018', 'values': ['180.015041']}, {'name': 'Ago.2018', 'values': ['177.379192']}, {'name': 'Sep.2018', 'values': ['183.302556']}, {'name': 'Oct.2018', 'values': ['182.370188']}, {'name': 'Nov.2018', 'values': ['186.201489']}, {'name': 'Dic.2018', 'values': ['198.097382']}, {'name': 'Ene.2019', 'values': ['192.74546']}, {'name': 'Feb.2019', 'values': ['196.863237']}, {'name': 'Mar.2019', 'values': ['192.465966']}, {'name': 'Abr.2019', 'values': ['185.81338']}, {'name': 'May.2019', 'values': ['187.157967']}, {'name': 'Jun.2019', 'values': ['184.969185']}, {'name': 'Jul.2019', 'values': ['183.16038']}, {'name': 'Ago.2019', 'values': ['177.995692']}, {'name': 'Sep.2019', 'values': ['184.76729']}, {'name': 'Oct.2019', 'values': ['182.483757']}, {'name': 'Nov.2019', 'values': ['191.223727']}, {'name': 'Dic.2019', 'values': ['192.525463']}, {'name': 'Ene.2020', 'values': ['198.109822']}, {'name': 'Feb.2020', 'values': ['195.849999']}, {'name': 'Mar.2020', 'values': ['191.929352']}, {'name': 'Abr.2020', 'values': ['188.815842']}, {'name': 'May.2020', 'values': ['191.924062']}, {'name': 'Jun.2020', 'values': ['187.130535']}, {'name': 'Jul.2020', 'values': ['187.256134']}, {'name': 'Ago.2020', 'values': ['183.448624']}, {'name': 'Sep.2020', 'values': ['191.069038']}, {'name': 'Oct.2020', 'values': ['196.060862']}, {'name': 'Nov.2020', 'values': ['200.900889']}, {'name': 'Dic.2020', 'values': ['202.01863']}]

In [97]:
print(response_json["periods"])

[{'name': 'Ene.2007', 'values': ['147.371159']}, {'name': 'Feb.2007', 'values': ['152.182556']}, {'name': 'Mar.2007', 'values': ['160.790619']}, {'name': 'Abr.2007', 'values': ['157.293118']}, {'name': 'May.2007', 'values': ['164.338878']}, {'name': 'Jun.2007', 'values': ['158.463878']}, {'name': 'Jul.2007', 'values': ['148.97636']}, {'name': 'Ago.2007', 'values': ['143.624538']}, {'name': 'Sep.2007', 'values': ['145.816277']}, {'name': 'Oct.2007', 'values': ['150.99869']}, {'name': 'Nov.2007', 'values': ['150.163846']}, {'name': 'Dic.2007', 'values': ['154.491132']}, {'name': 'Ene.2008', 'values': ['151.758208']}, {'name': 'Feb.2008', 'values': ['146.51327']}, {'name': 'Mar.2008', 'values': ['151.741334']}, {'name': 'Abr.2008', 'values': ['150.074037']}, {'name': 'May.2008', 'values': ['151.470145']}, {'name': 'Jun.2008', 'values': ['149.906911']}, {'name': 'Jul.2008', 'values': ['144.316301']}, {'name': 'Ago.2008', 'values': ['143.187392']}, {'name': 'Sep.2008', 'values': ['146.158856']}, {'name': 'Oct.2008', 'values': ['149.385473']}, {'name': 'Nov.2008', 'values': ['154.719854']}, {'name': 'Dic.2008', 'values': ['153.696405']}, {'name': 'Ene.2009', 'values': ['150.376969']}, {'name': 'Feb.2009', 'values': ['154.888863']}, {'name': 'Mar.2009', 'values': ['158.415161']}, {'name': 'Abr.2009', 'values': ['159.722148']}, {'name': 'May.2009', 'values': ['157.630174']}, {'name': 'Jun.2009', 'values': ['154.815207']}, {'name': 'Jul.2009', 'values': ['149.056858']}, {'name': 'Ago.2009', 'values': ['150.576067']}, {'name': 'Sep.2009', 'values': ['151.947289']}, {'name': 'Oct.2009', 'values': ['157.103518']}, {'name': 'Nov.2009', 'values': ['161.39615']}, {'name': 'Dic.2009', 'values': ['160.659132']}, {'name': 'Ene.2010', 'values': ['161.846129']}, {'name': 'Feb.2010', 'values': ['166.674599']}, {'name': 'Mar.2010', 'values': ['167.885732']}, {'name': 'Abr.2010', 'values': ['165.936425']}, {'name': 'May.2010', 'values': ['168.286208']}, {'name': 'Jun.2010', 'values': ['162.252202']}, {'name': 'Jul.2010', 'values': ['162.080967']}, {'name': 'Ago.2010', 'values': ['158.663838']}, {'name': 'Sep.2010', 'values': ['164.9181']}, {'name': 'Oct.2010', 'values': ['169.030185']}, {'name': 'Nov.2010', 'values': ['176.43621']}, {'name': 'Dic.2010', 'values': ['183.273389']}, {'name': 'Ene.2011', 'values': ['173.638657']}, {'name': 'Feb.2011', 'values': ['165.984067']}, {'name': 'Mar.2011', 'values': ['160.789995']}, {'name': 'Abr.2011', 'values': ['163.594556']}, {'name': 'May.2011', 'values': ['162.707968']}, {'name': 'Jun.2011', 'values': ['160.551264']}, {'name': 'Jul.2011', 'values': ['158.092557']}, {'name': 'Ago.2011', 'values': ['159.771377']}, {'name': 'Sep.2011', 'values': ['161.949449']}, {'name': 'Oct.2011', 'values': ['163.192935']}, {'name': 'Nov.2011', 'values': ['169.600112']}, {'name': 'Dic.2011', 'values': ['168.177966']}, {'name': 'Ene.2012', 'values': ['178.198947']}, {'name': 'Feb.2012', 'values': ['173.610783']}, {'name': 'Mar.2012', 'values': ['168.867025']}, {'name': 'Abr.2012', 'values': ['172.376671']}, {'name': 'May.2012', 'values': ['174.436138']}, {'name': 'Jun.2012', 'values': ['173.959957']}, {'name': 'Jul.2012', 'values': ['171.630839']}, {'name': 'Ago.2012', 'values': ['168.938216']}, {'name': 'Sep.2012', 'values': ['170.086631']}, {'name': 'Oct.2012', 'values': ['174.341566']}, {'name': 'Nov.2012', 'values': ['175.755489']}, {'name': 'Dic.2012', 'values': ['179.887017']}, {'name': 'Ene.2013', 'values': ['177.91952']}, {'name': 'Feb.2013', 'values': ['174.917211']}, {'name': 'Mar.2013', 'values': ['173.731928']}, {'name': 'Abr.2013', 'values': ['174.173227']}, {'name': 'May.2013', 'values': ['175.739808']}, {'name': 'Jun.2013', 'values': ['177.224146']}, {'name': 'Jul.2013', 'values': ['175.434206']}, {'name': 'Ago.2013', 'values': ['175.035709']}, {'name': 'Sep.2013', 'values': ['170.021068']}, {'name': 'Oct.2013', 'values': ['176.444789']}, {'name': 'Nov.2013', 'values': ['178.698977']}, {'name': 'Dic.2013', 'values': ['182.130758']}, {'name': 'Ene.2014', 'values': ['180.56635']}, {'name': 'Feb.2014', 'values': ['178.80341']}, {'name': 'Mar.2014', 'values': ['178.328438']}, {'name': 'Abr.2014', 'values': ['175.681238']}, {'name': 'May.2014', 'values': ['177.698589']}, {'name': 'Jun.2014', 'values': ['177.523634']}, {'name': 'Jul.2014', 'values': ['173.066538']}, {'name': 'Ago.2014', 'values': ['170.90857']}, {'name': 'Sep.2014', 'values': ['172.848798']}, {'name': 'Oct.2014', 'values': ['175.890558']}, {'name': 'Nov.2014', 'values': ['182.518149']}, {'name': 'Dic.2014', 'values': ['182.004675']}, {'name': 'Ene.2015', 'values': ['176.102834']}, {'name': 'Feb.2015', 'values': ['176.122108']}, {'name': 'Mar.2015', 'values': ['178.600478']}, {'name': 'Abr.2015', 'values': ['169.434709']}, {'name': 'May.2015', 'values': ['170.571144']}, {'name': 'Jun.2015', 'values': ['166.899906']}, {'name': 'Jul.2015', 'values': ['166.179164']}, {'name': 'Ago.2015', 'values': ['165.824392']}, {'name': 'Sep.2015', 'values': ['174.193714']}, {'name': 'Oct.2015', 'values': ['169.798257']}, {'name': 'Nov.2015', 'values': ['165.662647']}, {'name': 'Dic.2015', 'values': ['176.953489']}, {'name': 'Ene.2016', 'values': ['178.135472']}, {'name': 'Feb.2016', 'values': ['176.454895']}, {'name': 'Mar.2016', 'values': ['172.719461']}, {'name': 'Abr.2016', 'values': ['170.726007']}, {'name': 'May.2016', 'values': ['166.722298']}, {'name': 'Jun.2016', 'values': ['164.785553']}, {'name': 'Jul.2016', 'values': ['168.611306']}, {'name': 'Ago.2016', 'values': ['164.855188']}, {'name': 'Sep.2016', 'values': ['171.553293']}, {'name': 'Oct.2016', 'values': ['175.797751']}, {'name': 'Nov.2016', 'values': ['180.438752']}, {'name': 'Dic.2016', 'values': ['183.194697']}, {'name': 'Ene.2017', 'values': ['179.551176']}, {'name': 'Feb.2017', 'values': ['169.845169']}, {'name': 'Mar.2017', 'values': ['157.363035']}, {'name': 'Abr.2017', 'values': ['158.037373']}, {'name': 'May.2017', 'values': ['158.463398']}, {'name': 'Jun.2017', 'values': ['157.847198']}, {'name': 'Jul.2017', 'values': ['154.879749']}, {'name': 'Ago.2017', 'values': ['157.550217']}, {'name': 'Sep.2017', 'values': ['168.212012']}, {'name': 'Oct.2017', 'values': ['170.761465']}, {'name': 'Nov.2017', 'values': ['171.756231']}, {'name': 'Dic.2017', 'values': ['176.780341']}, {'name': 'Ene.2018', 'values': ['182.152581']}, {'name': 'Feb.2018', 'values': ['181.32935']}, {'name': 'Mar.2018', 'values': ['182.527638']}, {'name': 'Abr.2018', 'values': ['179.486023']}, {'name': 'May.2018', 'values': ['183.22613']}, {'name': 'Jun.2018', 'values': ['178.788919']}, {'name': 'Jul.2018', 'values': ['180.015041']}, {'name': 'Ago.2018', 'values': ['177.379192']}, {'name': 'Sep.2018', 'values': ['183.302556']}, {'name': 'Oct.2018', 'values': ['182.370188']}, {'name': 'Nov.2018', 'values': ['186.201489']}, {'name': 'Dic.2018', 'values': ['198.097382']}, {'name': 'Ene.2019', 'values': ['192.74546']}, {'name': 'Feb.2019', 'values': ['196.863237']}, {'name': 'Mar.2019', 'values': ['192.465966']}, {'name': 'Abr.2019', 'values': ['185.81338']}, {'name': 'May.2019', 'values': ['187.157967']}, {'name': 'Jun.2019', 'values': ['184.969185']}, {'name': 'Jul.2019', 'values': ['183.16038']}, {'name': 'Ago.2019', 'values': ['177.995692']}, {'name': 'Sep.2019', 'values': ['184.76729']}, {'name': 'Oct.2019', 'values': ['182.483757']}, {'name': 'Nov.2019', 'values': ['191.223727']}, {'name': 'Dic.2019', 'values': ['192.525463']}, {'name': 'Ene.2020', 'values': ['198.109822']}, {'name': 'Feb.2020', 'values': ['195.849999']}, {'name': 'Mar.2020', 'values': ['191.929352']}, {'name': 'Abr.2020', 'values': ['188.815842']}, {'name': 'May.2020', 'values': ['191.924062']}, {'name': 'Jun.2020', 'values': ['187.130535']}, {'name': 'Jul.2020', 'values': ['187.256134']}, {'name': 'Ago.2020', 'values': ['183.448624']}, {'name': 'Sep.2020', 'values': ['191.069038']}, {'name': 'Oct.2020', 'values': ['196.060862']}, {'name': 'Nov.2020', 'values': ['200.900889']}, {'name': 'Dic.2020', 'values': ['202.01863']}]

In [98]:
periodos=response_json.get("periods")
prod_plátano=[]
for i in periodos:
    valores_list=i["values"]
    for w in valores_list:
        w=str(w)
        prod_plátano.append(w)
        
print(prod_plátano)

['147.371159', '152.182556', '160.790619', '157.293118', '164.338878', '158.463878', '148.97636', '143.624538', '145.816277', '150.99869', '150.163846', '154.491132', '151.758208', '146.51327', '151.741334', '150.074037', '151.470145', '149.906911', '144.316301', '143.187392', '146.158856', '149.385473', '154.719854', '153.696405', '150.376969', '154.888863', '158.415161', '159.722148', '157.630174', '154.815207', '149.056858', '150.576067', '151.947289', '157.103518', '161.39615', '160.659132', '161.846129', '166.674599', '167.885732', '165.936425', '168.286208', '162.252202', '162.080967', '158.663838', '164.9181', '169.030185', '176.43621', '183.273389', '173.638657', '165.984067', '160.789995', '163.594556', '162.707968', '160.551264', '158.092557', '159.771377', '161.949449', '163.192935', '169.600112', '168.177966', '178.198947', '173.610783', '168.867025', '172.376671', '174.436138', '173.959957', '171.630839', '168.938216', '170.086631', '174.341566', '175.755489', '179.887017', '177.91952', '174.917211', '173.731928', '174.173227', '175.739808', '177.224146', '175.434206', '175.035709', '170.021068', '176.444789', '178.698977', '182.130758', '180.56635', '178.80341', '178.328438', '175.681238', '177.698589', '177.523634', '173.066538', '170.90857', '172.848798', '175.890558', '182.518149', '182.004675', '176.102834', '176.122108', '178.600478', '169.434709', '170.571144', '166.899906', '166.179164', '165.824392', '174.193714', '169.798257', '165.662647', '176.953489', '178.135472', '176.454895', '172.719461', '170.726007', '166.722298', '164.785553', '168.611306', '164.855188', '171.553293', '175.797751', '180.438752', '183.194697', '179.551176', '169.845169', '157.363035', '158.037373', '158.463398', '157.847198', '154.879749', '157.550217', '168.212012', '170.761465', '171.756231', '176.780341', '182.152581', '181.32935', '182.527638', '179.486023', '183.22613', '178.788919', '180.015041', '177.379192', '183.302556', '182.370188', '186.201489', '198.097382', '192.74546', '196.863237', '192.465966', '185.81338', '187.157967', '184.969185', '183.16038', '177.995692', '184.76729', '182.483757', '191.223727', '192.525463', '198.109822', '195.849999', '191.929352', '188.815842', '191.924062', '187.130535', '187.256134', '183.448624', '191.069038', '196.060862', '200.900889', '202.01863']

In [99]:
fechas=[]
for i in periodos:
    nombres=i["name"]
    fechas.append(nombres)
print(fechas)

['Ene.2007', 'Feb.2007', 'Mar.2007', 'Abr.2007', 'May.2007', 'Jun.2007', 'Jul.2007', 'Ago.2007', 'Sep.2007', 'Oct.2007', 'Nov.2007', 'Dic.2007', 'Ene.2008', 'Feb.2008', 'Mar.2008', 'Abr.2008', 'May.2008', 'Jun.2008', 'Jul.2008', 'Ago.2008', 'Sep.2008', 'Oct.2008', 'Nov.2008', 'Dic.2008', 'Ene.2009', 'Feb.2009', 'Mar.2009', 'Abr.2009', 'May.2009', 'Jun.2009', 'Jul.2009', 'Ago.2009', 'Sep.2009', 'Oct.2009', 'Nov.2009', 'Dic.2009', 'Ene.2010', 'Feb.2010', 'Mar.2010', 'Abr.2010', 'May.2010', 'Jun.2010', 'Jul.2010', 'Ago.2010', 'Sep.2010', 'Oct.2010', 'Nov.2010', 'Dic.2010', 'Ene.2011', 'Feb.2011', 'Mar.2011', 'Abr.2011', 'May.2011', 'Jun.2011', 'Jul.2011', 'Ago.2011', 'Sep.2011', 'Oct.2011', 'Nov.2011', 'Dic.2011', 'Ene.2012', 'Feb.2012', 'Mar.2012', 'Abr.2012', 'May.2012', 'Jun.2012', 'Jul.2012', 'Ago.2012', 'Sep.2012', 'Oct.2012', 'Nov.2012', 'Dic.2012', 'Ene.2013', 'Feb.2013', 'Mar.2013', 'Abr.2013', 'May.2013', 'Jun.2013', 'Jul.2013', 'Ago.2013', 'Sep.2013', 'Oct.2013', 'Nov.2013', 'Dic.2013', 'Ene.2014', 'Feb.2014', 'Mar.2014', 'Abr.2014', 'May.2014', 'Jun.2014', 'Jul.2014', 'Ago.2014', 'Sep.2014', 'Oct.2014', 'Nov.2014', 'Dic.2014', 'Ene.2015', 'Feb.2015', 'Mar.2015', 'Abr.2015', 'May.2015', 'Jun.2015', 'Jul.2015', 'Ago.2015', 'Sep.2015', 'Oct.2015', 'Nov.2015', 'Dic.2015', 'Ene.2016', 'Feb.2016', 'Mar.2016', 'Abr.2016', 'May.2016', 'Jun.2016', 'Jul.2016', 'Ago.2016', 'Sep.2016', 'Oct.2016', 'Nov.2016', 'Dic.2016', 'Ene.2017', 'Feb.2017', 'Mar.2017', 'Abr.2017', 'May.2017', 'Jun.2017', 'Jul.2017', 'Ago.2017', 'Sep.2017', 'Oct.2017', 'Nov.2017', 'Dic.2017', 'Ene.2018', 'Feb.2018', 'Mar.2018', 'Abr.2018', 'May.2018', 'Jun.2018', 'Jul.2018', 'Ago.2018', 'Sep.2018', 'Oct.2018', 'Nov.2018', 'Dic.2018', 'Ene.2019', 'Feb.2019', 'Mar.2019', 'Abr.2019', 'May.2019', 'Jun.2019', 'Jul.2019', 'Ago.2019', 'Sep.2019', 'Oct.2019', 'Nov.2019', 'Dic.2019', 'Ene.2020', 'Feb.2020', 'Mar.2020', 'Abr.2020', 'May.2020', 'Jun.2020', 'Jul.2020', 'Ago.2020', 'Sep.2020', 'Oct.2020', 'Nov.2020', 'Dic.2020']

In [100]:
diccionario8= {"Fechas":fechas, "Valores":prod_plátano}
print(diccionario8)

{'Fechas': ['Ene.2007', 'Feb.2007', 'Mar.2007', 'Abr.2007', 'May.2007', 'Jun.2007', 'Jul.2007', 'Ago.2007', 'Sep.2007', 'Oct.2007', 'Nov.2007', 'Dic.2007', 'Ene.2008', 'Feb.2008', 'Mar.2008', 'Abr.2008', 'May.2008', 'Jun.2008', 'Jul.2008', 'Ago.2008', 'Sep.2008', 'Oct.2008', 'Nov.2008', 'Dic.2008', 'Ene.2009', 'Feb.2009', 'Mar.2009', 'Abr.2009', 'May.2009', 'Jun.2009', 'Jul.2009', 'Ago.2009', 'Sep.2009', 'Oct.2009', 'Nov.2009', 'Dic.2009', 'Ene.2010', 'Feb.2010', 'Mar.2010', 'Abr.2010', 'May.2010', 'Jun.2010', 'Jul.2010', 'Ago.2010', 'Sep.2010', 'Oct.2010', 'Nov.2010', 'Dic.2010', 'Ene.2011', 'Feb.2011', 'Mar.2011', 'Abr.2011', 'May.2011', 'Jun.2011', 'Jul.2011', 'Ago.2011', 'Sep.2011', 'Oct.2011', 'Nov.2011', 'Dic.2011', 'Ene.2012', 'Feb.2012', 'Mar.2012', 'Abr.2012', 'May.2012', 'Jun.2012', 'Jul.2012', 'Ago.2012', 'Sep.2012', 'Oct.2012', 'Nov.2012', 'Dic.2012', 'Ene.2013', 'Feb.2013', 'Mar.2013', 'Abr.2013', 'May.2013', 'Jun.2013', 'Jul.2013', 'Ago.2013', 'Sep.2013', 'Oct.2013', 'Nov.2013', 'Dic.2013', 'Ene.2014', 'Feb.2014', 'Mar.2014', 'Abr.2014', 'May.2014', 'Jun.2014', 'Jul.2014', 'Ago.2014', 'Sep.2014', 'Oct.2014', 'Nov.2014', 'Dic.2014', 'Ene.2015', 'Feb.2015', 'Mar.2015', 'Abr.2015', 'May.2015', 'Jun.2015', 'Jul.2015', 'Ago.2015', 'Sep.2015', 'Oct.2015', 'Nov.2015', 'Dic.2015', 'Ene.2016', 'Feb.2016', 'Mar.2016', 'Abr.2016', 'May.2016', 'Jun.2016', 'Jul.2016', 'Ago.2016', 'Sep.2016', 'Oct.2016', 'Nov.2016', 'Dic.2016', 'Ene.2017', 'Feb.2017', 'Mar.2017', 'Abr.2017', 'May.2017', 'Jun.2017', 'Jul.2017', 'Ago.2017', 'Sep.2017', 'Oct.2017', 'Nov.2017', 'Dic.2017', 'Ene.2018', 'Feb.2018', 'Mar.2018', 'Abr.2018', 'May.2018', 'Jun.2018', 'Jul.2018', 'Ago.2018', 'Sep.2018', 'Oct.2018', 'Nov.2018', 'Dic.2018', 'Ene.2019', 'Feb.2019', 'Mar.2019', 'Abr.2019', 'May.2019', 'Jun.2019', 'Jul.2019', 'Ago.2019', 'Sep.2019', 'Oct.2019', 'Nov.2019', 'Dic.2019', 'Ene.2020', 'Feb.2020', 'Mar.2020', 'Abr.2020', 'May.2020', 'Jun.2020', 'Jul.2020', 'Ago.2020', 'Sep.2020', 'Oct.2020', 'Nov.2020', 'Dic.2020'], 'Valores': ['147.371159', '152.182556', '160.790619', '157.293118', '164.338878', '158.463878', '148.97636', '143.624538', '145.816277', '150.99869', '150.163846', '154.491132', '151.758208', '146.51327', '151.741334', '150.074037', '151.470145', '149.906911', '144.316301', '143.187392', '146.158856', '149.385473', '154.719854', '153.696405', '150.376969', '154.888863', '158.415161', '159.722148', '157.630174', '154.815207', '149.056858', '150.576067', '151.947289', '157.103518', '161.39615', '160.659132', '161.846129', '166.674599', '167.885732', '165.936425', '168.286208', '162.252202', '162.080967', '158.663838', '164.9181', '169.030185', '176.43621', '183.273389', '173.638657', '165.984067', '160.789995', '163.594556', '162.707968', '160.551264', '158.092557', '159.771377', '161.949449', '163.192935', '169.600112', '168.177966', '178.198947', '173.610783', '168.867025', '172.376671', '174.436138', '173.959957', '171.630839', '168.938216', '170.086631', '174.341566', '175.755489', '179.887017', '177.91952', '174.917211', '173.731928', '174.173227', '175.739808', '177.224146', '175.434206', '175.035709', '170.021068', '176.444789', '178.698977', '182.130758', '180.56635', '178.80341', '178.328438', '175.681238', '177.698589', '177.523634', '173.066538', '170.90857', '172.848798', '175.890558', '182.518149', '182.004675', '176.102834', '176.122108', '178.600478', '169.434709', '170.571144', '166.899906', '166.179164', '165.824392', '174.193714', '169.798257', '165.662647', '176.953489', '178.135472', '176.454895', '172.719461', '170.726007', '166.722298', '164.785553', '168.611306', '164.855188', '171.553293', '175.797751', '180.438752', '183.194697', '179.551176', '169.845169', '157.363035', '158.037373', '158.463398', '157.847198', '154.879749', '157.550217', '168.212012', '170.761465', '171.756231', '176.780341', '182.152581', '181.32935', '182.527638', '179.486023', '183.22613', '178.788919', '180.015041', '177.379192', '183.302556', '182.370188', '186.201489', '198.097382', '192.74546', '196.863237', '192.465966', '185.81338', '187.157967', '184.969185', '183.16038', '177.995692', '184.76729', '182.483757', '191.223727', '192.525463', '198.109822', '195.849999', '191.929352', '188.815842', '191.924062', '187.130535', '187.256134', '183.448624', '191.069038', '196.060862', '200.900889', '202.01863']}

In [101]:
df8=pd.DataFrame(diccionario8)
df8

       Fechas     Valores
0    Ene.2007  147.371159
1    Feb.2007  152.182556
2    Mar.2007  160.790619
3    Abr.2007  157.293118
4    May.2007  164.338878
..        ...         ...
163  Ago.2020  183.448624
164  Sep.2020  191.069038
165  Oct.2020  196.060862
166  Nov.2020  200.900889
167  Dic.2020   202.01863

[168 rows x 2 columns]

In [102]:
df8.rename(columns={'Valores':'Plátano'}, inplace=True)
df8.head()

     Fechas     Plátano
0  Ene.2007  147.371159
1  Feb.2007  152.182556
2  Mar.2007  160.790619
3  Abr.2007  157.293118
4  May.2007  164.338878

In [ ]:
# DATOS DE PRODUCCIÓN AGRÍCOLA DE YUCA

In [103]:
url_base="https://estadisticas.bcrp.gob.pe/estadisticas/series/api/"
cod_ser="PN01785AM"
formato="/json"
per="/2003-1/2020-12"
url=url_base+cod_ser+formato+per
print(url)

https://estadisticas.bcrp.gob.pe/estadisticas/series/api/PN01785AM/json/2003-1/2020-12

In [104]:
import requests
response=requests.get(url)
print(response)

<Response [200]>

In [105]:
# extraer en formato json
response_json=response.json()
print(response_json)

{'config': {'title': 'ProducciÃ³n agropecuaria (miles de toneladas)', 'series': [{'name': 'ProducciÃ³n agropecuaria (miles de toneladas) - AgrÃ\xadcola - Yuca', 'dec': '1'}]}, 'periods': [{'name': 'Ene.2007', 'values': ['86.6089']}, {'name': 'Feb.2007', 'values': ['94.842272']}, {'name': 'Mar.2007', 'values': ['84.385113']}, {'name': 'Abr.2007', 'values': ['84.254877']}, {'name': 'May.2007', 'values': ['86.391763']}, {'name': 'Jun.2007', 'values': ['85.22381']}, {'name': 'Jul.2007', 'values': ['86.899829']}, {'name': 'Ago.2007', 'values': ['94.595639']}, {'name': 'Sep.2007', 'values': ['104.28189']}, {'name': 'Oct.2007', 'values': ['104.218958']}, {'name': 'Nov.2007', 'values': ['89.78656']}, {'name': 'Dic.2007', 'values': ['90.219357']}, {'name': 'Ene.2008', 'values': ['96.01231']}, {'name': 'Feb.2008', 'values': ['91.793069']}, {'name': 'Mar.2008', 'values': ['86.137421']}, {'name': 'Abr.2008', 'values': ['82.486884']}, {'name': 'May.2008', 'values': ['88.79197']}, {'name': 'Jun.2008', 'values': ['87.029975']}, {'name': 'Jul.2008', 'values': ['93.470698']}, {'name': 'Ago.2008', 'values': ['105.463739']}, {'name': 'Sep.2008', 'values': ['110.541418']}, {'name': 'Oct.2008', 'values': ['111.5403']}, {'name': 'Nov.2008', 'values': ['112.889449']}, {'name': 'Dic.2008', 'values': ['105.660748']}, {'name': 'Ene.2009', 'values': ['86.455109']}, {'name': 'Feb.2009', 'values': ['90.340074']}, {'name': 'Mar.2009', 'values': ['88.169874']}, {'name': 'Abr.2009', 'values': ['88.022988']}, {'name': 'May.2009', 'values': ['92.560916']}, {'name': 'Jun.2009', 'values': ['93.09912']}, {'name': 'Jul.2009', 'values': ['93.509438']}, {'name': 'Ago.2009', 'values': ['101.484129']}, {'name': 'Sep.2009', 'values': ['105.659499']}, {'name': 'Oct.2009', 'values': ['108.877232']}, {'name': 'Nov.2009', 'values': ['110.754894']}, {'name': 'Dic.2009', 'values': ['107.083296']}, {'name': 'Ene.2010', 'values': ['90.447825']}, {'name': 'Feb.2010', 'values': ['93.25501']}, {'name': 'Mar.2010', 'values': ['89.421479']}, {'name': 'Abr.2010', 'values': ['96.55817']}, {'name': 'May.2010', 'values': ['98.411247']}, {'name': 'Jun.2010', 'values': ['97.369913']}, {'name': 'Jul.2010', 'values': ['104.96064']}, {'name': 'Ago.2010', 'values': ['107.619304']}, {'name': 'Sep.2010', 'values': ['114.990373']}, {'name': 'Oct.2010', 'values': ['120.750656']}, {'name': 'Nov.2010', 'values': ['117.253918']}, {'name': 'Dic.2010', 'values': ['109.082898']}, {'name': 'Ene.2011', 'values': ['88.051779']}, {'name': 'Feb.2011', 'values': ['92.772608']}, {'name': 'Mar.2011', 'values': ['79.052808']}, {'name': 'Abr.2011', 'values': ['90.05543']}, {'name': 'May.2011', 'values': ['92.554708']}, {'name': 'Jun.2011', 'values': ['92.12102']}, {'name': 'Jul.2011', 'values': ['89.923029']}, {'name': 'Ago.2011', 'values': ['90.589428']}, {'name': 'Sep.2011', 'values': ['99.26558']}, {'name': 'Oct.2011', 'values': ['100.978536']}, {'name': 'Nov.2011', 'values': ['94.929199']}, {'name': 'Dic.2011', 'values': ['105.298957']}, {'name': 'Ene.2012', 'values': ['91.637245']}, {'name': 'Feb.2012', 'values': ['83.486318']}, {'name': 'Mar.2012', 'values': ['80.454417']}, {'name': 'Abr.2012', 'values': ['89.601652']}, {'name': 'May.2012', 'values': ['102.887348']}, {'name': 'Jun.2012', 'values': ['103.102879']}, {'name': 'Jul.2012', 'values': ['93.061769']}, {'name': 'Ago.2012', 'values': ['88.781897']}, {'name': 'Sep.2012', 'values': ['88.472958']}, {'name': 'Oct.2012', 'values': ['92.174149']}, {'name': 'Nov.2012', 'values': ['101.192557']}, {'name': 'Dic.2012', 'values': ['103.635846']}, {'name': 'Ene.2013', 'values': ['83.713514']}, {'name': 'Feb.2013', 'values': ['88.944227']}, {'name': 'Mar.2013', 'values': ['83.976096']}, {'name': 'Abr.2013', 'values': ['91.051734']}, {'name': 'May.2013', 'values': ['98.875968']}, {'name': 'Jun.2013', 'values': ['107.937034']}, {'name': 'Jul.2013', 'values': ['102.640077']}, {'name': 'Ago.2013', 'values': ['100.831365']}, {'name': 'Sep.2013', 'values': ['103.512407']}, {'name': 'Oct.2013', 'values': ['105.78046']}, {'name': 'Nov.2013', 'values': ['104.73335']}, {'name': 'Dic.2013', 'values': ['113.377456']}, {'name': 'Ene.2014', 'values': ['87.960139']}, {'name': 'Feb.2014', 'values': ['85.623718']}, {'name': 'Mar.2014', 'values': ['82.40788']}, {'name': 'Abr.2014', 'values': ['94.087827']}, {'name': 'May.2014', 'values': ['103.697509']}, {'name': 'Jun.2014', 'values': ['100.601246']}, {'name': 'Jul.2014', 'values': ['97.970572']}, {'name': 'Ago.2014', 'values': ['102.949146']}, {'name': 'Sep.2014', 'values': ['104.037578']}, {'name': 'Oct.2014', 'values': ['110.054997']}, {'name': 'Nov.2014', 'values': ['113.419626']}, {'name': 'Dic.2014', 'values': ['113.115568']}, {'name': 'Ene.2015', 'values': ['107.969195']}, {'name': 'Feb.2015', 'values': ['95.894299']}, {'name': 'Mar.2015', 'values': ['87.395828']}, {'name': 'Abr.2015', 'values': ['94.606218']}, {'name': 'May.2015', 'values': ['102.917097']}, {'name': 'Jun.2015', 'values': ['113.531484']}, {'name': 'Jul.2015', 'values': ['98.481469']}, {'name': 'Ago.2015', 'values': ['103.100246']}, {'name': 'Sep.2015', 'values': ['99.682618']}, {'name': 'Oct.2015', 'values': ['102.964666']}, {'name': 'Nov.2015', 'values': ['112.392365']}, {'name': 'Dic.2015', 'values': ['111.100408']}, {'name': 'Ene.2016', 'values': ['91.329149']}, {'name': 'Feb.2016', 'values': ['92.751979']}, {'name': 'Mar.2016', 'values': ['90.450327']}, {'name': 'Abr.2016', 'values': ['100.590268']}, {'name': 'May.2016', 'values': ['108.168918']}, {'name': 'Jun.2016', 'values': ['109.346829']}, {'name': 'Jul.2016', 'values': ['88.609768']}, {'name': 'Ago.2016', 'values': ['91.727998']}, {'name': 'Sep.2016', 'values': ['88.363238']}, {'name': 'Oct.2016', 'values': ['102.29696']}, {'name': 'Nov.2016', 'values': ['106.501179']}, {'name': 'Dic.2016', 'values': ['110.818359']}, {'name': 'Ene.2017', 'values': ['94.868309']}, {'name': 'Feb.2017', 'values': ['94.899576']}, {'name': 'Mar.2017', 'values': ['89.770738']}, {'name': 'Abr.2017', 'values': ['89.610445']}, {'name': 'May.2017', 'values': ['98.908218']}, {'name': 'Jun.2017', 'values': ['99.020148']}, {'name': 'Jul.2017', 'values': ['91.187147']}, {'name': 'Ago.2017', 'values': ['96.160459']}, {'name': 'Sep.2017', 'values': ['101.861069']}, {'name': 'Oct.2017', 'values': ['111.204158']}, {'name': 'Nov.2017', 'values': ['116.443886']}, {'name': 'Dic.2017', 'values': ['112.514543']}, {'name': 'Ene.2018', 'values': ['96.187829']}, {'name': 'Feb.2018', 'values': ['98.048148']}, {'name': 'Mar.2018', 'values': ['98.370658']}, {'name': 'Abr.2018', 'values': ['101.977428']}, {'name': 'May.2018', 'values': ['106.603418']}, {'name': 'Jun.2018', 'values': ['102.362698']}, {'name': 'Jul.2018', 'values': ['95.334807']}, {'name': 'Ago.2018', 'values': ['100.686347']}, {'name': 'Sep.2018', 'values': ['99.113049']}, {'name': 'Oct.2018', 'values': ['110.689139']}, {'name': 'Nov.2018', 'values': ['115.522527']}, {'name': 'Dic.2018', 'values': ['114.84455']}, {'name': 'Ene.2019', 'values': ['98.124663']}, {'name': 'Feb.2019', 'values': ['96.056378']}, {'name': 'Mar.2019', 'values': ['100.319404']}, {'name': 'Abr.2019', 'values': ['106.97892']}, {'name': 'May.2019', 'values': ['113.122236']}, {'name': 'Jun.2019', 'values': ['108.197509']}, {'name': 'Jul.2019', 'values': ['98.030059']}, {'name': 'Ago.2019', 'values': ['100.047968']}, {'name': 'Sep.2019', 'values': ['98.751042']}, {'name': 'Oct.2019', 'values': ['115.288249']}, {'name': 'Nov.2019', 'values': ['119.633817']}, {'name': 'Dic.2019', 'values': ['122.364207']}, {'name': 'Ene.2020', 'values': ['107.760009']}, {'name': 'Feb.2020', 'values': ['102.404269']}, {'name': 'Mar.2020', 'values': ['104.759169']}, {'name': 'Abr.2020', 'values': ['101.545209']}, {'name': 'May.2020', 'values': ['119.398768']}, {'name': 'Jun.2020', 'values': ['110.421478']}, {'name': 'Jul.2020', 'values': ['108.663504']}, {'name': 'Ago.2020', 'values': ['115.575951']}, {'name': 'Sep.2020', 'values': ['110.45049']}, {'name': 'Oct.2020', 'values': ['121.401928']}, {'name': 'Nov.2020', 'values': ['127.811355']}, {'name': 'Dic.2020', 'values': ['122.295585']}]}

In [106]:
for key in response_json.keys():
    print(key)

config
periods

In [107]:
print(response_json["config"])

{'title': 'ProducciÃ³n agropecuaria (miles de toneladas)', 'series': [{'name': 'ProducciÃ³n agropecuaria (miles de toneladas) - AgrÃ\xadcola - Yuca', 'dec': '1'}]}

In [108]:
# llamar a los valores
print(response_json["periods"])

[{'name': 'Ene.2007', 'values': ['86.6089']}, {'name': 'Feb.2007', 'values': ['94.842272']}, {'name': 'Mar.2007', 'values': ['84.385113']}, {'name': 'Abr.2007', 'values': ['84.254877']}, {'name': 'May.2007', 'values': ['86.391763']}, {'name': 'Jun.2007', 'values': ['85.22381']}, {'name': 'Jul.2007', 'values': ['86.899829']}, {'name': 'Ago.2007', 'values': ['94.595639']}, {'name': 'Sep.2007', 'values': ['104.28189']}, {'name': 'Oct.2007', 'values': ['104.218958']}, {'name': 'Nov.2007', 'values': ['89.78656']}, {'name': 'Dic.2007', 'values': ['90.219357']}, {'name': 'Ene.2008', 'values': ['96.01231']}, {'name': 'Feb.2008', 'values': ['91.793069']}, {'name': 'Mar.2008', 'values': ['86.137421']}, {'name': 'Abr.2008', 'values': ['82.486884']}, {'name': 'May.2008', 'values': ['88.79197']}, {'name': 'Jun.2008', 'values': ['87.029975']}, {'name': 'Jul.2008', 'values': ['93.470698']}, {'name': 'Ago.2008', 'values': ['105.463739']}, {'name': 'Sep.2008', 'values': ['110.541418']}, {'name': 'Oct.2008', 'values': ['111.5403']}, {'name': 'Nov.2008', 'values': ['112.889449']}, {'name': 'Dic.2008', 'values': ['105.660748']}, {'name': 'Ene.2009', 'values': ['86.455109']}, {'name': 'Feb.2009', 'values': ['90.340074']}, {'name': 'Mar.2009', 'values': ['88.169874']}, {'name': 'Abr.2009', 'values': ['88.022988']}, {'name': 'May.2009', 'values': ['92.560916']}, {'name': 'Jun.2009', 'values': ['93.09912']}, {'name': 'Jul.2009', 'values': ['93.509438']}, {'name': 'Ago.2009', 'values': ['101.484129']}, {'name': 'Sep.2009', 'values': ['105.659499']}, {'name': 'Oct.2009', 'values': ['108.877232']}, {'name': 'Nov.2009', 'values': ['110.754894']}, {'name': 'Dic.2009', 'values': ['107.083296']}, {'name': 'Ene.2010', 'values': ['90.447825']}, {'name': 'Feb.2010', 'values': ['93.25501']}, {'name': 'Mar.2010', 'values': ['89.421479']}, {'name': 'Abr.2010', 'values': ['96.55817']}, {'name': 'May.2010', 'values': ['98.411247']}, {'name': 'Jun.2010', 'values': ['97.369913']}, {'name': 'Jul.2010', 'values': ['104.96064']}, {'name': 'Ago.2010', 'values': ['107.619304']}, {'name': 'Sep.2010', 'values': ['114.990373']}, {'name': 'Oct.2010', 'values': ['120.750656']}, {'name': 'Nov.2010', 'values': ['117.253918']}, {'name': 'Dic.2010', 'values': ['109.082898']}, {'name': 'Ene.2011', 'values': ['88.051779']}, {'name': 'Feb.2011', 'values': ['92.772608']}, {'name': 'Mar.2011', 'values': ['79.052808']}, {'name': 'Abr.2011', 'values': ['90.05543']}, {'name': 'May.2011', 'values': ['92.554708']}, {'name': 'Jun.2011', 'values': ['92.12102']}, {'name': 'Jul.2011', 'values': ['89.923029']}, {'name': 'Ago.2011', 'values': ['90.589428']}, {'name': 'Sep.2011', 'values': ['99.26558']}, {'name': 'Oct.2011', 'values': ['100.978536']}, {'name': 'Nov.2011', 'values': ['94.929199']}, {'name': 'Dic.2011', 'values': ['105.298957']}, {'name': 'Ene.2012', 'values': ['91.637245']}, {'name': 'Feb.2012', 'values': ['83.486318']}, {'name': 'Mar.2012', 'values': ['80.454417']}, {'name': 'Abr.2012', 'values': ['89.601652']}, {'name': 'May.2012', 'values': ['102.887348']}, {'name': 'Jun.2012', 'values': ['103.102879']}, {'name': 'Jul.2012', 'values': ['93.061769']}, {'name': 'Ago.2012', 'values': ['88.781897']}, {'name': 'Sep.2012', 'values': ['88.472958']}, {'name': 'Oct.2012', 'values': ['92.174149']}, {'name': 'Nov.2012', 'values': ['101.192557']}, {'name': 'Dic.2012', 'values': ['103.635846']}, {'name': 'Ene.2013', 'values': ['83.713514']}, {'name': 'Feb.2013', 'values': ['88.944227']}, {'name': 'Mar.2013', 'values': ['83.976096']}, {'name': 'Abr.2013', 'values': ['91.051734']}, {'name': 'May.2013', 'values': ['98.875968']}, {'name': 'Jun.2013', 'values': ['107.937034']}, {'name': 'Jul.2013', 'values': ['102.640077']}, {'name': 'Ago.2013', 'values': ['100.831365']}, {'name': 'Sep.2013', 'values': ['103.512407']}, {'name': 'Oct.2013', 'values': ['105.78046']}, {'name': 'Nov.2013', 'values': ['104.73335']}, {'name': 'Dic.2013', 'values': ['113.377456']}, {'name': 'Ene.2014', 'values': ['87.960139']}, {'name': 'Feb.2014', 'values': ['85.623718']}, {'name': 'Mar.2014', 'values': ['82.40788']}, {'name': 'Abr.2014', 'values': ['94.087827']}, {'name': 'May.2014', 'values': ['103.697509']}, {'name': 'Jun.2014', 'values': ['100.601246']}, {'name': 'Jul.2014', 'values': ['97.970572']}, {'name': 'Ago.2014', 'values': ['102.949146']}, {'name': 'Sep.2014', 'values': ['104.037578']}, {'name': 'Oct.2014', 'values': ['110.054997']}, {'name': 'Nov.2014', 'values': ['113.419626']}, {'name': 'Dic.2014', 'values': ['113.115568']}, {'name': 'Ene.2015', 'values': ['107.969195']}, {'name': 'Feb.2015', 'values': ['95.894299']}, {'name': 'Mar.2015', 'values': ['87.395828']}, {'name': 'Abr.2015', 'values': ['94.606218']}, {'name': 'May.2015', 'values': ['102.917097']}, {'name': 'Jun.2015', 'values': ['113.531484']}, {'name': 'Jul.2015', 'values': ['98.481469']}, {'name': 'Ago.2015', 'values': ['103.100246']}, {'name': 'Sep.2015', 'values': ['99.682618']}, {'name': 'Oct.2015', 'values': ['102.964666']}, {'name': 'Nov.2015', 'values': ['112.392365']}, {'name': 'Dic.2015', 'values': ['111.100408']}, {'name': 'Ene.2016', 'values': ['91.329149']}, {'name': 'Feb.2016', 'values': ['92.751979']}, {'name': 'Mar.2016', 'values': ['90.450327']}, {'name': 'Abr.2016', 'values': ['100.590268']}, {'name': 'May.2016', 'values': ['108.168918']}, {'name': 'Jun.2016', 'values': ['109.346829']}, {'name': 'Jul.2016', 'values': ['88.609768']}, {'name': 'Ago.2016', 'values': ['91.727998']}, {'name': 'Sep.2016', 'values': ['88.363238']}, {'name': 'Oct.2016', 'values': ['102.29696']}, {'name': 'Nov.2016', 'values': ['106.501179']}, {'name': 'Dic.2016', 'values': ['110.818359']}, {'name': 'Ene.2017', 'values': ['94.868309']}, {'name': 'Feb.2017', 'values': ['94.899576']}, {'name': 'Mar.2017', 'values': ['89.770738']}, {'name': 'Abr.2017', 'values': ['89.610445']}, {'name': 'May.2017', 'values': ['98.908218']}, {'name': 'Jun.2017', 'values': ['99.020148']}, {'name': 'Jul.2017', 'values': ['91.187147']}, {'name': 'Ago.2017', 'values': ['96.160459']}, {'name': 'Sep.2017', 'values': ['101.861069']}, {'name': 'Oct.2017', 'values': ['111.204158']}, {'name': 'Nov.2017', 'values': ['116.443886']}, {'name': 'Dic.2017', 'values': ['112.514543']}, {'name': 'Ene.2018', 'values': ['96.187829']}, {'name': 'Feb.2018', 'values': ['98.048148']}, {'name': 'Mar.2018', 'values': ['98.370658']}, {'name': 'Abr.2018', 'values': ['101.977428']}, {'name': 'May.2018', 'values': ['106.603418']}, {'name': 'Jun.2018', 'values': ['102.362698']}, {'name': 'Jul.2018', 'values': ['95.334807']}, {'name': 'Ago.2018', 'values': ['100.686347']}, {'name': 'Sep.2018', 'values': ['99.113049']}, {'name': 'Oct.2018', 'values': ['110.689139']}, {'name': 'Nov.2018', 'values': ['115.522527']}, {'name': 'Dic.2018', 'values': ['114.84455']}, {'name': 'Ene.2019', 'values': ['98.124663']}, {'name': 'Feb.2019', 'values': ['96.056378']}, {'name': 'Mar.2019', 'values': ['100.319404']}, {'name': 'Abr.2019', 'values': ['106.97892']}, {'name': 'May.2019', 'values': ['113.122236']}, {'name': 'Jun.2019', 'values': ['108.197509']}, {'name': 'Jul.2019', 'values': ['98.030059']}, {'name': 'Ago.2019', 'values': ['100.047968']}, {'name': 'Sep.2019', 'values': ['98.751042']}, {'name': 'Oct.2019', 'values': ['115.288249']}, {'name': 'Nov.2019', 'values': ['119.633817']}, {'name': 'Dic.2019', 'values': ['122.364207']}, {'name': 'Ene.2020', 'values': ['107.760009']}, {'name': 'Feb.2020', 'values': ['102.404269']}, {'name': 'Mar.2020', 'values': ['104.759169']}, {'name': 'Abr.2020', 'values': ['101.545209']}, {'name': 'May.2020', 'values': ['119.398768']}, {'name': 'Jun.2020', 'values': ['110.421478']}, {'name': 'Jul.2020', 'values': ['108.663504']}, {'name': 'Ago.2020', 'values': ['115.575951']}, {'name': 'Sep.2020', 'values': ['110.45049']}, {'name': 'Oct.2020', 'values': ['121.401928']}, {'name': 'Nov.2020', 'values': ['127.811355']}, {'name': 'Dic.2020', 'values': ['122.295585']}]

In [109]:
periodos=response_json.get("periods")
prod_yuca=[]
for i in periodos:
    valores_list=i["values"]
    for w in valores_list:
        w=str(w)
        prod_yuca.append(w)
        
print(prod_yuca)

['86.6089', '94.842272', '84.385113', '84.254877', '86.391763', '85.22381', '86.899829', '94.595639', '104.28189', '104.218958', '89.78656', '90.219357', '96.01231', '91.793069', '86.137421', '82.486884', '88.79197', '87.029975', '93.470698', '105.463739', '110.541418', '111.5403', '112.889449', '105.660748', '86.455109', '90.340074', '88.169874', '88.022988', '92.560916', '93.09912', '93.509438', '101.484129', '105.659499', '108.877232', '110.754894', '107.083296', '90.447825', '93.25501', '89.421479', '96.55817', '98.411247', '97.369913', '104.96064', '107.619304', '114.990373', '120.750656', '117.253918', '109.082898', '88.051779', '92.772608', '79.052808', '90.05543', '92.554708', '92.12102', '89.923029', '90.589428', '99.26558', '100.978536', '94.929199', '105.298957', '91.637245', '83.486318', '80.454417', '89.601652', '102.887348', '103.102879', '93.061769', '88.781897', '88.472958', '92.174149', '101.192557', '103.635846', '83.713514', '88.944227', '83.976096', '91.051734', '98.875968', '107.937034', '102.640077', '100.831365', '103.512407', '105.78046', '104.73335', '113.377456', '87.960139', '85.623718', '82.40788', '94.087827', '103.697509', '100.601246', '97.970572', '102.949146', '104.037578', '110.054997', '113.419626', '113.115568', '107.969195', '95.894299', '87.395828', '94.606218', '102.917097', '113.531484', '98.481469', '103.100246', '99.682618', '102.964666', '112.392365', '111.100408', '91.329149', '92.751979', '90.450327', '100.590268', '108.168918', '109.346829', '88.609768', '91.727998', '88.363238', '102.29696', '106.501179', '110.818359', '94.868309', '94.899576', '89.770738', '89.610445', '98.908218', '99.020148', '91.187147', '96.160459', '101.861069', '111.204158', '116.443886', '112.514543', '96.187829', '98.048148', '98.370658', '101.977428', '106.603418', '102.362698', '95.334807', '100.686347', '99.113049', '110.689139', '115.522527', '114.84455', '98.124663', '96.056378', '100.319404', '106.97892', '113.122236', '108.197509', '98.030059', '100.047968', '98.751042', '115.288249', '119.633817', '122.364207', '107.760009', '102.404269', '104.759169', '101.545209', '119.398768', '110.421478', '108.663504', '115.575951', '110.45049', '121.401928', '127.811355', '122.295585']

In [110]:
fechas=[]
for i in periodos:
    nombres=i["name"]
    fechas.append(nombres)
print(fechas)

['Ene.2007', 'Feb.2007', 'Mar.2007', 'Abr.2007', 'May.2007', 'Jun.2007', 'Jul.2007', 'Ago.2007', 'Sep.2007', 'Oct.2007', 'Nov.2007', 'Dic.2007', 'Ene.2008', 'Feb.2008', 'Mar.2008', 'Abr.2008', 'May.2008', 'Jun.2008', 'Jul.2008', 'Ago.2008', 'Sep.2008', 'Oct.2008', 'Nov.2008', 'Dic.2008', 'Ene.2009', 'Feb.2009', 'Mar.2009', 'Abr.2009', 'May.2009', 'Jun.2009', 'Jul.2009', 'Ago.2009', 'Sep.2009', 'Oct.2009', 'Nov.2009', 'Dic.2009', 'Ene.2010', 'Feb.2010', 'Mar.2010', 'Abr.2010', 'May.2010', 'Jun.2010', 'Jul.2010', 'Ago.2010', 'Sep.2010', 'Oct.2010', 'Nov.2010', 'Dic.2010', 'Ene.2011', 'Feb.2011', 'Mar.2011', 'Abr.2011', 'May.2011', 'Jun.2011', 'Jul.2011', 'Ago.2011', 'Sep.2011', 'Oct.2011', 'Nov.2011', 'Dic.2011', 'Ene.2012', 'Feb.2012', 'Mar.2012', 'Abr.2012', 'May.2012', 'Jun.2012', 'Jul.2012', 'Ago.2012', 'Sep.2012', 'Oct.2012', 'Nov.2012', 'Dic.2012', 'Ene.2013', 'Feb.2013', 'Mar.2013', 'Abr.2013', 'May.2013', 'Jun.2013', 'Jul.2013', 'Ago.2013', 'Sep.2013', 'Oct.2013', 'Nov.2013', 'Dic.2013', 'Ene.2014', 'Feb.2014', 'Mar.2014', 'Abr.2014', 'May.2014', 'Jun.2014', 'Jul.2014', 'Ago.2014', 'Sep.2014', 'Oct.2014', 'Nov.2014', 'Dic.2014', 'Ene.2015', 'Feb.2015', 'Mar.2015', 'Abr.2015', 'May.2015', 'Jun.2015', 'Jul.2015', 'Ago.2015', 'Sep.2015', 'Oct.2015', 'Nov.2015', 'Dic.2015', 'Ene.2016', 'Feb.2016', 'Mar.2016', 'Abr.2016', 'May.2016', 'Jun.2016', 'Jul.2016', 'Ago.2016', 'Sep.2016', 'Oct.2016', 'Nov.2016', 'Dic.2016', 'Ene.2017', 'Feb.2017', 'Mar.2017', 'Abr.2017', 'May.2017', 'Jun.2017', 'Jul.2017', 'Ago.2017', 'Sep.2017', 'Oct.2017', 'Nov.2017', 'Dic.2017', 'Ene.2018', 'Feb.2018', 'Mar.2018', 'Abr.2018', 'May.2018', 'Jun.2018', 'Jul.2018', 'Ago.2018', 'Sep.2018', 'Oct.2018', 'Nov.2018', 'Dic.2018', 'Ene.2019', 'Feb.2019', 'Mar.2019', 'Abr.2019', 'May.2019', 'Jun.2019', 'Jul.2019', 'Ago.2019', 'Sep.2019', 'Oct.2019', 'Nov.2019', 'Dic.2019', 'Ene.2020', 'Feb.2020', 'Mar.2020', 'Abr.2020', 'May.2020', 'Jun.2020', 'Jul.2020', 'Ago.2020', 'Sep.2020', 'Oct.2020', 'Nov.2020', 'Dic.2020']

In [111]:
diccionario9= {"Fechas":fechas, "Valores":prod_yuca}
print(diccionario9)

{'Fechas': ['Ene.2007', 'Feb.2007', 'Mar.2007', 'Abr.2007', 'May.2007', 'Jun.2007', 'Jul.2007', 'Ago.2007', 'Sep.2007', 'Oct.2007', 'Nov.2007', 'Dic.2007', 'Ene.2008', 'Feb.2008', 'Mar.2008', 'Abr.2008', 'May.2008', 'Jun.2008', 'Jul.2008', 'Ago.2008', 'Sep.2008', 'Oct.2008', 'Nov.2008', 'Dic.2008', 'Ene.2009', 'Feb.2009', 'Mar.2009', 'Abr.2009', 'May.2009', 'Jun.2009', 'Jul.2009', 'Ago.2009', 'Sep.2009', 'Oct.2009', 'Nov.2009', 'Dic.2009', 'Ene.2010', 'Feb.2010', 'Mar.2010', 'Abr.2010', 'May.2010', 'Jun.2010', 'Jul.2010', 'Ago.2010', 'Sep.2010', 'Oct.2010', 'Nov.2010', 'Dic.2010', 'Ene.2011', 'Feb.2011', 'Mar.2011', 'Abr.2011', 'May.2011', 'Jun.2011', 'Jul.2011', 'Ago.2011', 'Sep.2011', 'Oct.2011', 'Nov.2011', 'Dic.2011', 'Ene.2012', 'Feb.2012', 'Mar.2012', 'Abr.2012', 'May.2012', 'Jun.2012', 'Jul.2012', 'Ago.2012', 'Sep.2012', 'Oct.2012', 'Nov.2012', 'Dic.2012', 'Ene.2013', 'Feb.2013', 'Mar.2013', 'Abr.2013', 'May.2013', 'Jun.2013', 'Jul.2013', 'Ago.2013', 'Sep.2013', 'Oct.2013', 'Nov.2013', 'Dic.2013', 'Ene.2014', 'Feb.2014', 'Mar.2014', 'Abr.2014', 'May.2014', 'Jun.2014', 'Jul.2014', 'Ago.2014', 'Sep.2014', 'Oct.2014', 'Nov.2014', 'Dic.2014', 'Ene.2015', 'Feb.2015', 'Mar.2015', 'Abr.2015', 'May.2015', 'Jun.2015', 'Jul.2015', 'Ago.2015', 'Sep.2015', 'Oct.2015', 'Nov.2015', 'Dic.2015', 'Ene.2016', 'Feb.2016', 'Mar.2016', 'Abr.2016', 'May.2016', 'Jun.2016', 'Jul.2016', 'Ago.2016', 'Sep.2016', 'Oct.2016', 'Nov.2016', 'Dic.2016', 'Ene.2017', 'Feb.2017', 'Mar.2017', 'Abr.2017', 'May.2017', 'Jun.2017', 'Jul.2017', 'Ago.2017', 'Sep.2017', 'Oct.2017', 'Nov.2017', 'Dic.2017', 'Ene.2018', 'Feb.2018', 'Mar.2018', 'Abr.2018', 'May.2018', 'Jun.2018', 'Jul.2018', 'Ago.2018', 'Sep.2018', 'Oct.2018', 'Nov.2018', 'Dic.2018', 'Ene.2019', 'Feb.2019', 'Mar.2019', 'Abr.2019', 'May.2019', 'Jun.2019', 'Jul.2019', 'Ago.2019', 'Sep.2019', 'Oct.2019', 'Nov.2019', 'Dic.2019', 'Ene.2020', 'Feb.2020', 'Mar.2020', 'Abr.2020', 'May.2020', 'Jun.2020', 'Jul.2020', 'Ago.2020', 'Sep.2020', 'Oct.2020', 'Nov.2020', 'Dic.2020'], 'Valores': ['86.6089', '94.842272', '84.385113', '84.254877', '86.391763', '85.22381', '86.899829', '94.595639', '104.28189', '104.218958', '89.78656', '90.219357', '96.01231', '91.793069', '86.137421', '82.486884', '88.79197', '87.029975', '93.470698', '105.463739', '110.541418', '111.5403', '112.889449', '105.660748', '86.455109', '90.340074', '88.169874', '88.022988', '92.560916', '93.09912', '93.509438', '101.484129', '105.659499', '108.877232', '110.754894', '107.083296', '90.447825', '93.25501', '89.421479', '96.55817', '98.411247', '97.369913', '104.96064', '107.619304', '114.990373', '120.750656', '117.253918', '109.082898', '88.051779', '92.772608', '79.052808', '90.05543', '92.554708', '92.12102', '89.923029', '90.589428', '99.26558', '100.978536', '94.929199', '105.298957', '91.637245', '83.486318', '80.454417', '89.601652', '102.887348', '103.102879', '93.061769', '88.781897', '88.472958', '92.174149', '101.192557', '103.635846', '83.713514', '88.944227', '83.976096', '91.051734', '98.875968', '107.937034', '102.640077', '100.831365', '103.512407', '105.78046', '104.73335', '113.377456', '87.960139', '85.623718', '82.40788', '94.087827', '103.697509', '100.601246', '97.970572', '102.949146', '104.037578', '110.054997', '113.419626', '113.115568', '107.969195', '95.894299', '87.395828', '94.606218', '102.917097', '113.531484', '98.481469', '103.100246', '99.682618', '102.964666', '112.392365', '111.100408', '91.329149', '92.751979', '90.450327', '100.590268', '108.168918', '109.346829', '88.609768', '91.727998', '88.363238', '102.29696', '106.501179', '110.818359', '94.868309', '94.899576', '89.770738', '89.610445', '98.908218', '99.020148', '91.187147', '96.160459', '101.861069', '111.204158', '116.443886', '112.514543', '96.187829', '98.048148', '98.370658', '101.977428', '106.603418', '102.362698', '95.334807', '100.686347', '99.113049', '110.689139', '115.522527', '114.84455', '98.124663', '96.056378', '100.319404', '106.97892', '113.122236', '108.197509', '98.030059', '100.047968', '98.751042', '115.288249', '119.633817', '122.364207', '107.760009', '102.404269', '104.759169', '101.545209', '119.398768', '110.421478', '108.663504', '115.575951', '110.45049', '121.401928', '127.811355', '122.295585']}

In [112]:
df9=pd.DataFrame(diccionario9)
df9

       Fechas     Valores
0    Ene.2007     86.6089
1    Feb.2007   94.842272
2    Mar.2007   84.385113
3    Abr.2007   84.254877
4    May.2007   86.391763
..        ...         ...
163  Ago.2020  115.575951
164  Sep.2020   110.45049
165  Oct.2020  121.401928
166  Nov.2020  127.811355
167  Dic.2020  122.295585

[168 rows x 2 columns]

In [113]:
df9.rename(columns={'Valores':'Yuca'}, inplace=True)
df9.head()

     Fechas       Yuca
0  Ene.2007    86.6089
1  Feb.2007  94.842272
2  Mar.2007  84.385113
3  Abr.2007  84.254877
4  May.2007  86.391763

In [ ]:
# DATOS DE PRODUCCIÓN AGRÍCOLA DE LIMÓN

In [114]:
url_base="https://estadisticas.bcrp.gob.pe/estadisticas/series/api/"
cod_ser="PN01788AM"
formato="/json"
per="/2003-1/2020-12"
url=url_base+cod_ser+formato+per
print(url)

https://estadisticas.bcrp.gob.pe/estadisticas/series/api/PN01788AM/json/2003-1/2020-12

In [115]:
import requests
response=requests.get(url)
print(response)

<Response [200]>

In [116]:
# extraer en formato json
response_json=response.json()
print(response_json)

{'config': {'title': 'ProducciÃ³n agropecuaria (miles de toneladas)', 'series': [{'name': 'ProducciÃ³n agropecuaria (miles de toneladas) - AgrÃ\xadcola - LimÃ³n', 'dec': '1'}]}, 'periods': [{'name': 'Ene.2007', 'values': ['28.661039']}, {'name': 'Feb.2007', 'values': ['29.989099']}, {'name': 'Mar.2007', 'values': ['32.599127']}, {'name': 'Abr.2007', 'values': ['25.433921']}, {'name': 'May.2007', 'values': ['25.01862']}, {'name': 'Jun.2007', 'values': ['23.10334']}, {'name': 'Jul.2007', 'values': ['19.727049']}, {'name': 'Ago.2007', 'values': ['16.220798']}, {'name': 'Sep.2007', 'values': ['16.050238']}, {'name': 'Oct.2007', 'values': ['16.143333']}, {'name': 'Nov.2007', 'values': ['17.577909']}, {'name': 'Dic.2007', 'values': ['19.26316']}, {'name': 'Ene.2008', 'values': ['23.998663']}, {'name': 'Feb.2008', 'values': ['28.206915']}, {'name': 'Mar.2008', 'values': ['24.044217']}, {'name': 'Abr.2008', 'values': ['24.16222']}, {'name': 'May.2008', 'values': ['25.386548']}, {'name': 'Jun.2008', 'values': ['24.230937']}, {'name': 'Jul.2008', 'values': ['16.28756']}, {'name': 'Ago.2008', 'values': ['11.796285']}, {'name': 'Sep.2008', 'values': ['8.036268']}, {'name': 'Oct.2008', 'values': ['10.704411']}, {'name': 'Nov.2008', 'values': ['11.293792']}, {'name': 'Dic.2008', 'values': ['15.252455']}, {'name': 'Ene.2009', 'values': ['27.488759']}, {'name': 'Feb.2009', 'values': ['21.077864']}, {'name': 'Mar.2009', 'values': ['19.730959']}, {'name': 'Abr.2009', 'values': ['20.980035']}, {'name': 'May.2009', 'values': ['18.409979']}, {'name': 'Jun.2009', 'values': ['16.368161']}, {'name': 'Jul.2009', 'values': ['13.535691']}, {'name': 'Ago.2009', 'values': ['12.61328']}, {'name': 'Sep.2009', 'values': ['13.355339']}, {'name': 'Oct.2009', 'values': ['10.659016']}, {'name': 'Nov.2009', 'values': ['11.089882']}, {'name': 'Dic.2009', 'values': ['12.068958']}, {'name': 'Ene.2010', 'values': ['19.257527']}, {'name': 'Feb.2010', 'values': ['23.647523']}, {'name': 'Mar.2010', 'values': ['23.488996']}, {'name': 'Abr.2010', 'values': ['22.090524']}, {'name': 'May.2010', 'values': ['22.870949']}, {'name': 'Jun.2010', 'values': ['21.243336']}, {'name': 'Jul.2010', 'values': ['18.270045']}, {'name': 'Ago.2010', 'values': ['11.90475']}, {'name': 'Sep.2010', 'values': ['11.976158']}, {'name': 'Oct.2010', 'values': ['13.155586']}, {'name': 'Nov.2010', 'values': ['14.247438']}, {'name': 'Dic.2010', 'values': ['20.137564']}, {'name': 'Ene.2011', 'values': ['22.646319']}, {'name': 'Feb.2011', 'values': ['23.129858']}, {'name': 'Mar.2011', 'values': ['20.193118']}, {'name': 'Abr.2011', 'values': ['19.718005']}, {'name': 'May.2011', 'values': ['21.422707']}, {'name': 'Jun.2011', 'values': ['19.195765']}, {'name': 'Jul.2011', 'values': ['16.580991']}, {'name': 'Ago.2011', 'values': ['13.698532']}, {'name': 'Sep.2011', 'values': ['12.791205']}, {'name': 'Oct.2011', 'values': ['15.658375']}, {'name': 'Nov.2011', 'values': ['13.318938']}, {'name': 'Dic.2011', 'values': ['15.858536']}, {'name': 'Ene.2012', 'values': ['19.809725']}, {'name': 'Feb.2012', 'values': ['24.159105']}, {'name': 'Mar.2012', 'values': ['27.022297']}, {'name': 'Abr.2012', 'values': ['27.325109']}, {'name': 'May.2012', 'values': ['25.418989']}, {'name': 'Jun.2012', 'values': ['20.530628']}, {'name': 'Jul.2012', 'values': ['14.950369']}, {'name': 'Ago.2012', 'values': ['11.563846']}, {'name': 'Sep.2012', 'values': ['9.94607']}, {'name': 'Oct.2012', 'values': ['12.173038']}, {'name': 'Nov.2012', 'values': ['13.07622']}, {'name': 'Dic.2012', 'values': ['15.66453']}, {'name': 'Ene.2013', 'values': ['16.846258']}, {'name': 'Feb.2013', 'values': ['20.87043']}, {'name': 'Mar.2013', 'values': ['29.545038']}, {'name': 'Abr.2013', 'values': ['28.252496']}, {'name': 'May.2013', 'values': ['23.780247']}, {'name': 'Jun.2013', 'values': ['20.423108']}, {'name': 'Jul.2013', 'values': ['17.004274']}, {'name': 'Ago.2013', 'values': ['11.83185']}, {'name': 'Sep.2013', 'values': ['10.529508']}, {'name': 'Oct.2013', 'values': ['14.119704']}, {'name': 'Nov.2013', 'values': ['15.627619']}, {'name': 'Dic.2013', 'values': ['19.515799']}, {'name': 'Ene.2014', 'values': ['22.856927']}, {'name': 'Feb.2014', 'values': ['23.517376']}, {'name': 'Mar.2014', 'values': ['28.751786']}, {'name': 'Abr.2014', 'values': ['30.157251']}, {'name': 'May.2014', 'values': ['25.161674']}, {'name': 'Jun.2014', 'values': ['22.194048']}, {'name': 'Jul.2014', 'values': ['19.724254']}, {'name': 'Ago.2014', 'values': ['17.091978']}, {'name': 'Sep.2014', 'values': ['16.956297']}, {'name': 'Oct.2014', 'values': ['18.057525']}, {'name': 'Nov.2014', 'values': ['18.22518']}, {'name': 'Dic.2014', 'values': ['21.104955']}, {'name': 'Ene.2015', 'values': ['23.846909']}, {'name': 'Feb.2015', 'values': ['27.021611']}, {'name': 'Mar.2015', 'values': ['28.639148']}, {'name': 'Abr.2015', 'values': ['27.260669']}, {'name': 'May.2015', 'values': ['26.609447']}, {'name': 'Jun.2015', 'values': ['24.231057']}, {'name': 'Jul.2015', 'values': ['19.207852']}, {'name': 'Ago.2015', 'values': ['16.708577']}, {'name': 'Sep.2015', 'values': ['15.787757']}, {'name': 'Oct.2015', 'values': ['15.81336']}, {'name': 'Nov.2015', 'values': ['18.300059']}, {'name': 'Dic.2015', 'values': ['24.526302']}, {'name': 'Ene.2016', 'values': ['21.094768']}, {'name': 'Feb.2016', 'values': ['26.706989']}, {'name': 'Mar.2016', 'values': ['29.061824']}, {'name': 'Abr.2016', 'values': ['29.520529']}, {'name': 'May.2016', 'values': ['26.332557']}, {'name': 'Jun.2016', 'values': ['21.304841']}, {'name': 'Jul.2016', 'values': ['18.998359']}, {'name': 'Ago.2016', 'values': ['20.662574']}, {'name': 'Sep.2016', 'values': ['17.871017']}, {'name': 'Oct.2016', 'values': ['20.45944']}, {'name': 'Nov.2016', 'values': ['21.562916']}, {'name': 'Dic.2016', 'values': ['16.732052']}, {'name': 'Ene.2017', 'values': ['18.2823']}, {'name': 'Feb.2017', 'values': ['19.450744']}, {'name': 'Mar.2017', 'values': ['16.564243']}, {'name': 'Abr.2017', 'values': ['18.998172']}, {'name': 'May.2017', 'values': ['17.969425']}, {'name': 'Jun.2017', 'values': ['15.065521']}, {'name': 'Jul.2017', 'values': ['8.477714']}, {'name': 'Ago.2017', 'values': ['6.337252']}, {'name': 'Sep.2017', 'values': ['5.525762']}, {'name': 'Oct.2017', 'values': ['6.658376']}, {'name': 'Nov.2017', 'values': ['12.103626']}, {'name': 'Dic.2017', 'values': ['22.301327']}, {'name': 'Ene.2018', 'values': ['28.838732']}, {'name': 'Feb.2018', 'values': ['29.94314']}, {'name': 'Mar.2018', 'values': ['28.47946']}, {'name': 'Abr.2018', 'values': ['26.420552']}, {'name': 'May.2018', 'values': ['25.481106']}, {'name': 'Jun.2018', 'values': ['24.552586']}, {'name': 'Jul.2018', 'values': ['17.553836']}, {'name': 'Ago.2018', 'values': ['17.954404']}, {'name': 'Sep.2018', 'values': ['13.191157']}, {'name': 'Oct.2018', 'values': ['12.711646']}, {'name': 'Nov.2018', 'values': ['13.144501']}, {'name': 'Dic.2018', 'values': ['19.93478']}, {'name': 'Ene.2019', 'values': ['27.469209']}, {'name': 'Feb.2019', 'values': ['30.797587']}, {'name': 'Mar.2019', 'values': ['33.065895']}, {'name': 'Abr.2019', 'values': ['31.184771']}, {'name': 'May.2019', 'values': ['31.020776']}, {'name': 'Jun.2019', 'values': ['26.956079']}, {'name': 'Jul.2019', 'values': ['18.012755']}, {'name': 'Ago.2019', 'values': ['13.088366']}, {'name': 'Sep.2019', 'values': ['16.057974']}, {'name': 'Oct.2019', 'values': ['17.610149']}, {'name': 'Nov.2019', 'values': ['21.867791']}, {'name': 'Dic.2019', 'values': ['22.125842']}, {'name': 'Ene.2020', 'values': ['25.130706']}, {'name': 'Feb.2020', 'values': ['29.253931']}, {'name': 'Mar.2020', 'values': ['32.315684']}, {'name': 'Abr.2020', 'values': ['31.913378']}, {'name': 'May.2020', 'values': ['35.314801']}, {'name': 'Jun.2020', 'values': ['27.098432']}, {'name': 'Jul.2020', 'values': ['15.446179']}, {'name': 'Ago.2020', 'values': ['14.835724']}, {'name': 'Sep.2020', 'values': ['18.974893']}, {'name': 'Oct.2020', 'values': ['21.026255']}, {'name': 'Nov.2020', 'values': ['22.475967']}, {'name': 'Dic.2020', 'values': ['30.155492']}]}

In [117]:
for key in response_json.keys():
    print(key)

config
periods

In [118]:
print(response_json["config"])

{'title': 'ProducciÃ³n agropecuaria (miles de toneladas)', 'series': [{'name': 'ProducciÃ³n agropecuaria (miles de toneladas) - AgrÃ\xadcola - LimÃ³n', 'dec': '1'}]}

In [119]:
# llamar a los valores
print(response_json["periods"])

[{'name': 'Ene.2007', 'values': ['28.661039']}, {'name': 'Feb.2007', 'values': ['29.989099']}, {'name': 'Mar.2007', 'values': ['32.599127']}, {'name': 'Abr.2007', 'values': ['25.433921']}, {'name': 'May.2007', 'values': ['25.01862']}, {'name': 'Jun.2007', 'values': ['23.10334']}, {'name': 'Jul.2007', 'values': ['19.727049']}, {'name': 'Ago.2007', 'values': ['16.220798']}, {'name': 'Sep.2007', 'values': ['16.050238']}, {'name': 'Oct.2007', 'values': ['16.143333']}, {'name': 'Nov.2007', 'values': ['17.577909']}, {'name': 'Dic.2007', 'values': ['19.26316']}, {'name': 'Ene.2008', 'values': ['23.998663']}, {'name': 'Feb.2008', 'values': ['28.206915']}, {'name': 'Mar.2008', 'values': ['24.044217']}, {'name': 'Abr.2008', 'values': ['24.16222']}, {'name': 'May.2008', 'values': ['25.386548']}, {'name': 'Jun.2008', 'values': ['24.230937']}, {'name': 'Jul.2008', 'values': ['16.28756']}, {'name': 'Ago.2008', 'values': ['11.796285']}, {'name': 'Sep.2008', 'values': ['8.036268']}, {'name': 'Oct.2008', 'values': ['10.704411']}, {'name': 'Nov.2008', 'values': ['11.293792']}, {'name': 'Dic.2008', 'values': ['15.252455']}, {'name': 'Ene.2009', 'values': ['27.488759']}, {'name': 'Feb.2009', 'values': ['21.077864']}, {'name': 'Mar.2009', 'values': ['19.730959']}, {'name': 'Abr.2009', 'values': ['20.980035']}, {'name': 'May.2009', 'values': ['18.409979']}, {'name': 'Jun.2009', 'values': ['16.368161']}, {'name': 'Jul.2009', 'values': ['13.535691']}, {'name': 'Ago.2009', 'values': ['12.61328']}, {'name': 'Sep.2009', 'values': ['13.355339']}, {'name': 'Oct.2009', 'values': ['10.659016']}, {'name': 'Nov.2009', 'values': ['11.089882']}, {'name': 'Dic.2009', 'values': ['12.068958']}, {'name': 'Ene.2010', 'values': ['19.257527']}, {'name': 'Feb.2010', 'values': ['23.647523']}, {'name': 'Mar.2010', 'values': ['23.488996']}, {'name': 'Abr.2010', 'values': ['22.090524']}, {'name': 'May.2010', 'values': ['22.870949']}, {'name': 'Jun.2010', 'values': ['21.243336']}, {'name': 'Jul.2010', 'values': ['18.270045']}, {'name': 'Ago.2010', 'values': ['11.90475']}, {'name': 'Sep.2010', 'values': ['11.976158']}, {'name': 'Oct.2010', 'values': ['13.155586']}, {'name': 'Nov.2010', 'values': ['14.247438']}, {'name': 'Dic.2010', 'values': ['20.137564']}, {'name': 'Ene.2011', 'values': ['22.646319']}, {'name': 'Feb.2011', 'values': ['23.129858']}, {'name': 'Mar.2011', 'values': ['20.193118']}, {'name': 'Abr.2011', 'values': ['19.718005']}, {'name': 'May.2011', 'values': ['21.422707']}, {'name': 'Jun.2011', 'values': ['19.195765']}, {'name': 'Jul.2011', 'values': ['16.580991']}, {'name': 'Ago.2011', 'values': ['13.698532']}, {'name': 'Sep.2011', 'values': ['12.791205']}, {'name': 'Oct.2011', 'values': ['15.658375']}, {'name': 'Nov.2011', 'values': ['13.318938']}, {'name': 'Dic.2011', 'values': ['15.858536']}, {'name': 'Ene.2012', 'values': ['19.809725']}, {'name': 'Feb.2012', 'values': ['24.159105']}, {'name': 'Mar.2012', 'values': ['27.022297']}, {'name': 'Abr.2012', 'values': ['27.325109']}, {'name': 'May.2012', 'values': ['25.418989']}, {'name': 'Jun.2012', 'values': ['20.530628']}, {'name': 'Jul.2012', 'values': ['14.950369']}, {'name': 'Ago.2012', 'values': ['11.563846']}, {'name': 'Sep.2012', 'values': ['9.94607']}, {'name': 'Oct.2012', 'values': ['12.173038']}, {'name': 'Nov.2012', 'values': ['13.07622']}, {'name': 'Dic.2012', 'values': ['15.66453']}, {'name': 'Ene.2013', 'values': ['16.846258']}, {'name': 'Feb.2013', 'values': ['20.87043']}, {'name': 'Mar.2013', 'values': ['29.545038']}, {'name': 'Abr.2013', 'values': ['28.252496']}, {'name': 'May.2013', 'values': ['23.780247']}, {'name': 'Jun.2013', 'values': ['20.423108']}, {'name': 'Jul.2013', 'values': ['17.004274']}, {'name': 'Ago.2013', 'values': ['11.83185']}, {'name': 'Sep.2013', 'values': ['10.529508']}, {'name': 'Oct.2013', 'values': ['14.119704']}, {'name': 'Nov.2013', 'values': ['15.627619']}, {'name': 'Dic.2013', 'values': ['19.515799']}, {'name': 'Ene.2014', 'values': ['22.856927']}, {'name': 'Feb.2014', 'values': ['23.517376']}, {'name': 'Mar.2014', 'values': ['28.751786']}, {'name': 'Abr.2014', 'values': ['30.157251']}, {'name': 'May.2014', 'values': ['25.161674']}, {'name': 'Jun.2014', 'values': ['22.194048']}, {'name': 'Jul.2014', 'values': ['19.724254']}, {'name': 'Ago.2014', 'values': ['17.091978']}, {'name': 'Sep.2014', 'values': ['16.956297']}, {'name': 'Oct.2014', 'values': ['18.057525']}, {'name': 'Nov.2014', 'values': ['18.22518']}, {'name': 'Dic.2014', 'values': ['21.104955']}, {'name': 'Ene.2015', 'values': ['23.846909']}, {'name': 'Feb.2015', 'values': ['27.021611']}, {'name': 'Mar.2015', 'values': ['28.639148']}, {'name': 'Abr.2015', 'values': ['27.260669']}, {'name': 'May.2015', 'values': ['26.609447']}, {'name': 'Jun.2015', 'values': ['24.231057']}, {'name': 'Jul.2015', 'values': ['19.207852']}, {'name': 'Ago.2015', 'values': ['16.708577']}, {'name': 'Sep.2015', 'values': ['15.787757']}, {'name': 'Oct.2015', 'values': ['15.81336']}, {'name': 'Nov.2015', 'values': ['18.300059']}, {'name': 'Dic.2015', 'values': ['24.526302']}, {'name': 'Ene.2016', 'values': ['21.094768']}, {'name': 'Feb.2016', 'values': ['26.706989']}, {'name': 'Mar.2016', 'values': ['29.061824']}, {'name': 'Abr.2016', 'values': ['29.520529']}, {'name': 'May.2016', 'values': ['26.332557']}, {'name': 'Jun.2016', 'values': ['21.304841']}, {'name': 'Jul.2016', 'values': ['18.998359']}, {'name': 'Ago.2016', 'values': ['20.662574']}, {'name': 'Sep.2016', 'values': ['17.871017']}, {'name': 'Oct.2016', 'values': ['20.45944']}, {'name': 'Nov.2016', 'values': ['21.562916']}, {'name': 'Dic.2016', 'values': ['16.732052']}, {'name': 'Ene.2017', 'values': ['18.2823']}, {'name': 'Feb.2017', 'values': ['19.450744']}, {'name': 'Mar.2017', 'values': ['16.564243']}, {'name': 'Abr.2017', 'values': ['18.998172']}, {'name': 'May.2017', 'values': ['17.969425']}, {'name': 'Jun.2017', 'values': ['15.065521']}, {'name': 'Jul.2017', 'values': ['8.477714']}, {'name': 'Ago.2017', 'values': ['6.337252']}, {'name': 'Sep.2017', 'values': ['5.525762']}, {'name': 'Oct.2017', 'values': ['6.658376']}, {'name': 'Nov.2017', 'values': ['12.103626']}, {'name': 'Dic.2017', 'values': ['22.301327']}, {'name': 'Ene.2018', 'values': ['28.838732']}, {'name': 'Feb.2018', 'values': ['29.94314']}, {'name': 'Mar.2018', 'values': ['28.47946']}, {'name': 'Abr.2018', 'values': ['26.420552']}, {'name': 'May.2018', 'values': ['25.481106']}, {'name': 'Jun.2018', 'values': ['24.552586']}, {'name': 'Jul.2018', 'values': ['17.553836']}, {'name': 'Ago.2018', 'values': ['17.954404']}, {'name': 'Sep.2018', 'values': ['13.191157']}, {'name': 'Oct.2018', 'values': ['12.711646']}, {'name': 'Nov.2018', 'values': ['13.144501']}, {'name': 'Dic.2018', 'values': ['19.93478']}, {'name': 'Ene.2019', 'values': ['27.469209']}, {'name': 'Feb.2019', 'values': ['30.797587']}, {'name': 'Mar.2019', 'values': ['33.065895']}, {'name': 'Abr.2019', 'values': ['31.184771']}, {'name': 'May.2019', 'values': ['31.020776']}, {'name': 'Jun.2019', 'values': ['26.956079']}, {'name': 'Jul.2019', 'values': ['18.012755']}, {'name': 'Ago.2019', 'values': ['13.088366']}, {'name': 'Sep.2019', 'values': ['16.057974']}, {'name': 'Oct.2019', 'values': ['17.610149']}, {'name': 'Nov.2019', 'values': ['21.867791']}, {'name': 'Dic.2019', 'values': ['22.125842']}, {'name': 'Ene.2020', 'values': ['25.130706']}, {'name': 'Feb.2020', 'values': ['29.253931']}, {'name': 'Mar.2020', 'values': ['32.315684']}, {'name': 'Abr.2020', 'values': ['31.913378']}, {'name': 'May.2020', 'values': ['35.314801']}, {'name': 'Jun.2020', 'values': ['27.098432']}, {'name': 'Jul.2020', 'values': ['15.446179']}, {'name': 'Ago.2020', 'values': ['14.835724']}, {'name': 'Sep.2020', 'values': ['18.974893']}, {'name': 'Oct.2020', 'values': ['21.026255']}, {'name': 'Nov.2020', 'values': ['22.475967']}, {'name': 'Dic.2020', 'values': ['30.155492']}]

In [120]:
periodos=response_json.get("periods")
prod_limón=[]
for i in periodos:
    valores_list=i["values"]
    for w in valores_list:
        w=str(w)
        prod_limón.append(w)
        
print(prod_limón)

['28.661039', '29.989099', '32.599127', '25.433921', '25.01862', '23.10334', '19.727049', '16.220798', '16.050238', '16.143333', '17.577909', '19.26316', '23.998663', '28.206915', '24.044217', '24.16222', '25.386548', '24.230937', '16.28756', '11.796285', '8.036268', '10.704411', '11.293792', '15.252455', '27.488759', '21.077864', '19.730959', '20.980035', '18.409979', '16.368161', '13.535691', '12.61328', '13.355339', '10.659016', '11.089882', '12.068958', '19.257527', '23.647523', '23.488996', '22.090524', '22.870949', '21.243336', '18.270045', '11.90475', '11.976158', '13.155586', '14.247438', '20.137564', '22.646319', '23.129858', '20.193118', '19.718005', '21.422707', '19.195765', '16.580991', '13.698532', '12.791205', '15.658375', '13.318938', '15.858536', '19.809725', '24.159105', '27.022297', '27.325109', '25.418989', '20.530628', '14.950369', '11.563846', '9.94607', '12.173038', '13.07622', '15.66453', '16.846258', '20.87043', '29.545038', '28.252496', '23.780247', '20.423108', '17.004274', '11.83185', '10.529508', '14.119704', '15.627619', '19.515799', '22.856927', '23.517376', '28.751786', '30.157251', '25.161674', '22.194048', '19.724254', '17.091978', '16.956297', '18.057525', '18.22518', '21.104955', '23.846909', '27.021611', '28.639148', '27.260669', '26.609447', '24.231057', '19.207852', '16.708577', '15.787757', '15.81336', '18.300059', '24.526302', '21.094768', '26.706989', '29.061824', '29.520529', '26.332557', '21.304841', '18.998359', '20.662574', '17.871017', '20.45944', '21.562916', '16.732052', '18.2823', '19.450744', '16.564243', '18.998172', '17.969425', '15.065521', '8.477714', '6.337252', '5.525762', '6.658376', '12.103626', '22.301327', '28.838732', '29.94314', '28.47946', '26.420552', '25.481106', '24.552586', '17.553836', '17.954404', '13.191157', '12.711646', '13.144501', '19.93478', '27.469209', '30.797587', '33.065895', '31.184771', '31.020776', '26.956079', '18.012755', '13.088366', '16.057974', '17.610149', '21.867791', '22.125842', '25.130706', '29.253931', '32.315684', '31.913378', '35.314801', '27.098432', '15.446179', '14.835724', '18.974893', '21.026255', '22.475967', '30.155492']

In [121]:
fechas=[]
for i in periodos:
    nombres=i["name"]
    fechas.append(nombres)
print(fechas)

['Ene.2007', 'Feb.2007', 'Mar.2007', 'Abr.2007', 'May.2007', 'Jun.2007', 'Jul.2007', 'Ago.2007', 'Sep.2007', 'Oct.2007', 'Nov.2007', 'Dic.2007', 'Ene.2008', 'Feb.2008', 'Mar.2008', 'Abr.2008', 'May.2008', 'Jun.2008', 'Jul.2008', 'Ago.2008', 'Sep.2008', 'Oct.2008', 'Nov.2008', 'Dic.2008', 'Ene.2009', 'Feb.2009', 'Mar.2009', 'Abr.2009', 'May.2009', 'Jun.2009', 'Jul.2009', 'Ago.2009', 'Sep.2009', 'Oct.2009', 'Nov.2009', 'Dic.2009', 'Ene.2010', 'Feb.2010', 'Mar.2010', 'Abr.2010', 'May.2010', 'Jun.2010', 'Jul.2010', 'Ago.2010', 'Sep.2010', 'Oct.2010', 'Nov.2010', 'Dic.2010', 'Ene.2011', 'Feb.2011', 'Mar.2011', 'Abr.2011', 'May.2011', 'Jun.2011', 'Jul.2011', 'Ago.2011', 'Sep.2011', 'Oct.2011', 'Nov.2011', 'Dic.2011', 'Ene.2012', 'Feb.2012', 'Mar.2012', 'Abr.2012', 'May.2012', 'Jun.2012', 'Jul.2012', 'Ago.2012', 'Sep.2012', 'Oct.2012', 'Nov.2012', 'Dic.2012', 'Ene.2013', 'Feb.2013', 'Mar.2013', 'Abr.2013', 'May.2013', 'Jun.2013', 'Jul.2013', 'Ago.2013', 'Sep.2013', 'Oct.2013', 'Nov.2013', 'Dic.2013', 'Ene.2014', 'Feb.2014', 'Mar.2014', 'Abr.2014', 'May.2014', 'Jun.2014', 'Jul.2014', 'Ago.2014', 'Sep.2014', 'Oct.2014', 'Nov.2014', 'Dic.2014', 'Ene.2015', 'Feb.2015', 'Mar.2015', 'Abr.2015', 'May.2015', 'Jun.2015', 'Jul.2015', 'Ago.2015', 'Sep.2015', 'Oct.2015', 'Nov.2015', 'Dic.2015', 'Ene.2016', 'Feb.2016', 'Mar.2016', 'Abr.2016', 'May.2016', 'Jun.2016', 'Jul.2016', 'Ago.2016', 'Sep.2016', 'Oct.2016', 'Nov.2016', 'Dic.2016', 'Ene.2017', 'Feb.2017', 'Mar.2017', 'Abr.2017', 'May.2017', 'Jun.2017', 'Jul.2017', 'Ago.2017', 'Sep.2017', 'Oct.2017', 'Nov.2017', 'Dic.2017', 'Ene.2018', 'Feb.2018', 'Mar.2018', 'Abr.2018', 'May.2018', 'Jun.2018', 'Jul.2018', 'Ago.2018', 'Sep.2018', 'Oct.2018', 'Nov.2018', 'Dic.2018', 'Ene.2019', 'Feb.2019', 'Mar.2019', 'Abr.2019', 'May.2019', 'Jun.2019', 'Jul.2019', 'Ago.2019', 'Sep.2019', 'Oct.2019', 'Nov.2019', 'Dic.2019', 'Ene.2020', 'Feb.2020', 'Mar.2020', 'Abr.2020', 'May.2020', 'Jun.2020', 'Jul.2020', 'Ago.2020', 'Sep.2020', 'Oct.2020', 'Nov.2020', 'Dic.2020']

In [122]:
diccionario10= {"Fechas":fechas, "Valores":prod_limón}
print(diccionario10)

{'Fechas': ['Ene.2007', 'Feb.2007', 'Mar.2007', 'Abr.2007', 'May.2007', 'Jun.2007', 'Jul.2007', 'Ago.2007', 'Sep.2007', 'Oct.2007', 'Nov.2007', 'Dic.2007', 'Ene.2008', 'Feb.2008', 'Mar.2008', 'Abr.2008', 'May.2008', 'Jun.2008', 'Jul.2008', 'Ago.2008', 'Sep.2008', 'Oct.2008', 'Nov.2008', 'Dic.2008', 'Ene.2009', 'Feb.2009', 'Mar.2009', 'Abr.2009', 'May.2009', 'Jun.2009', 'Jul.2009', 'Ago.2009', 'Sep.2009', 'Oct.2009', 'Nov.2009', 'Dic.2009', 'Ene.2010', 'Feb.2010', 'Mar.2010', 'Abr.2010', 'May.2010', 'Jun.2010', 'Jul.2010', 'Ago.2010', 'Sep.2010', 'Oct.2010', 'Nov.2010', 'Dic.2010', 'Ene.2011', 'Feb.2011', 'Mar.2011', 'Abr.2011', 'May.2011', 'Jun.2011', 'Jul.2011', 'Ago.2011', 'Sep.2011', 'Oct.2011', 'Nov.2011', 'Dic.2011', 'Ene.2012', 'Feb.2012', 'Mar.2012', 'Abr.2012', 'May.2012', 'Jun.2012', 'Jul.2012', 'Ago.2012', 'Sep.2012', 'Oct.2012', 'Nov.2012', 'Dic.2012', 'Ene.2013', 'Feb.2013', 'Mar.2013', 'Abr.2013', 'May.2013', 'Jun.2013', 'Jul.2013', 'Ago.2013', 'Sep.2013', 'Oct.2013', 'Nov.2013', 'Dic.2013', 'Ene.2014', 'Feb.2014', 'Mar.2014', 'Abr.2014', 'May.2014', 'Jun.2014', 'Jul.2014', 'Ago.2014', 'Sep.2014', 'Oct.2014', 'Nov.2014', 'Dic.2014', 'Ene.2015', 'Feb.2015', 'Mar.2015', 'Abr.2015', 'May.2015', 'Jun.2015', 'Jul.2015', 'Ago.2015', 'Sep.2015', 'Oct.2015', 'Nov.2015', 'Dic.2015', 'Ene.2016', 'Feb.2016', 'Mar.2016', 'Abr.2016', 'May.2016', 'Jun.2016', 'Jul.2016', 'Ago.2016', 'Sep.2016', 'Oct.2016', 'Nov.2016', 'Dic.2016', 'Ene.2017', 'Feb.2017', 'Mar.2017', 'Abr.2017', 'May.2017', 'Jun.2017', 'Jul.2017', 'Ago.2017', 'Sep.2017', 'Oct.2017', 'Nov.2017', 'Dic.2017', 'Ene.2018', 'Feb.2018', 'Mar.2018', 'Abr.2018', 'May.2018', 'Jun.2018', 'Jul.2018', 'Ago.2018', 'Sep.2018', 'Oct.2018', 'Nov.2018', 'Dic.2018', 'Ene.2019', 'Feb.2019', 'Mar.2019', 'Abr.2019', 'May.2019', 'Jun.2019', 'Jul.2019', 'Ago.2019', 'Sep.2019', 'Oct.2019', 'Nov.2019', 'Dic.2019', 'Ene.2020', 'Feb.2020', 'Mar.2020', 'Abr.2020', 'May.2020', 'Jun.2020', 'Jul.2020', 'Ago.2020', 'Sep.2020', 'Oct.2020', 'Nov.2020', 'Dic.2020'], 'Valores': ['28.661039', '29.989099', '32.599127', '25.433921', '25.01862', '23.10334', '19.727049', '16.220798', '16.050238', '16.143333', '17.577909', '19.26316', '23.998663', '28.206915', '24.044217', '24.16222', '25.386548', '24.230937', '16.28756', '11.796285', '8.036268', '10.704411', '11.293792', '15.252455', '27.488759', '21.077864', '19.730959', '20.980035', '18.409979', '16.368161', '13.535691', '12.61328', '13.355339', '10.659016', '11.089882', '12.068958', '19.257527', '23.647523', '23.488996', '22.090524', '22.870949', '21.243336', '18.270045', '11.90475', '11.976158', '13.155586', '14.247438', '20.137564', '22.646319', '23.129858', '20.193118', '19.718005', '21.422707', '19.195765', '16.580991', '13.698532', '12.791205', '15.658375', '13.318938', '15.858536', '19.809725', '24.159105', '27.022297', '27.325109', '25.418989', '20.530628', '14.950369', '11.563846', '9.94607', '12.173038', '13.07622', '15.66453', '16.846258', '20.87043', '29.545038', '28.252496', '23.780247', '20.423108', '17.004274', '11.83185', '10.529508', '14.119704', '15.627619', '19.515799', '22.856927', '23.517376', '28.751786', '30.157251', '25.161674', '22.194048', '19.724254', '17.091978', '16.956297', '18.057525', '18.22518', '21.104955', '23.846909', '27.021611', '28.639148', '27.260669', '26.609447', '24.231057', '19.207852', '16.708577', '15.787757', '15.81336', '18.300059', '24.526302', '21.094768', '26.706989', '29.061824', '29.520529', '26.332557', '21.304841', '18.998359', '20.662574', '17.871017', '20.45944', '21.562916', '16.732052', '18.2823', '19.450744', '16.564243', '18.998172', '17.969425', '15.065521', '8.477714', '6.337252', '5.525762', '6.658376', '12.103626', '22.301327', '28.838732', '29.94314', '28.47946', '26.420552', '25.481106', '24.552586', '17.553836', '17.954404', '13.191157', '12.711646', '13.144501', '19.93478', '27.469209', '30.797587', '33.065895', '31.184771', '31.020776', '26.956079', '18.012755', '13.088366', '16.057974', '17.610149', '21.867791', '22.125842', '25.130706', '29.253931', '32.315684', '31.913378', '35.314801', '27.098432', '15.446179', '14.835724', '18.974893', '21.026255', '22.475967', '30.155492']}

In [123]:
df10=pd.DataFrame(diccionario10)
df10

       Fechas    Valores
0    Ene.2007  28.661039
1    Feb.2007  29.989099
2    Mar.2007  32.599127
3    Abr.2007  25.433921
4    May.2007   25.01862
..        ...        ...
163  Ago.2020  14.835724
164  Sep.2020  18.974893
165  Oct.2020  21.026255
166  Nov.2020  22.475967
167  Dic.2020  30.155492

[168 rows x 2 columns]

In [124]:
df10.rename(columns={'Valores':'Limón'}, inplace=True)
df10.head()

     Fechas      Limón
0  Ene.2007  28.661039
1  Feb.2007  29.989099
2  Mar.2007  32.599127
3  Abr.2007  25.433921
4  May.2007   25.01862

In [ ]:
# DATOS DE PRODUCCIÓN AGRÍCOLA DE CAFÉ

In [125]:
url_base="https://estadisticas.bcrp.gob.pe/estadisticas/series/api/"
cod_ser="PN01789AM"
formato="/json"
per="/2003-1/2020-12"
url=url_base+cod_ser+formato+per
print(url)

https://estadisticas.bcrp.gob.pe/estadisticas/series/api/PN01789AM/json/2003-1/2020-12

In [126]:
import requests
response=requests.get(url)
print(response)

<Response [200]>

In [127]:
# extraer en formato json
response_json=response.json()
print(response_json)

{'config': {'title': 'ProducciÃ³n agropecuaria (miles de toneladas)', 'series': [{'name': 'ProducciÃ³n agropecuaria (miles de toneladas) - AgrÃ\xadcola - CafÃ©', 'dec': '1'}]}, 'periods': [{'name': 'Ene.2007', 'values': ['0.45595']}, {'name': 'Feb.2007', 'values': ['5.09665']}, {'name': 'Mar.2007', 'values': ['17.748072']}, {'name': 'Abr.2007', 'values': ['39.014465']}, {'name': 'May.2007', 'values': ['52.576826']}, {'name': 'Jun.2007', 'values': ['49.370498']}, {'name': 'Jul.2007', 'values': ['33.474251']}, {'name': 'Ago.2007', 'values': ['15.858764']}, {'name': 'Sep.2007', 'values': ['8.245569']}, {'name': 'Oct.2007', 'values': ['3.945049']}, {'name': 'Nov.2007', 'values': ['0.11732']}, {'name': 'Dic.2007', 'values': ['0.08866']}, {'name': 'Ene.2008', 'values': ['1.776759']}, {'name': 'Feb.2008', 'values': ['7.60438']}, {'name': 'Mar.2008', 'values': ['19.334975']}, {'name': 'Abr.2008', 'values': ['45.26946']}, {'name': 'May.2008', 'values': ['68.289961']}, {'name': 'Jun.2008', 'values': ['69.945439']}, {'name': 'Jul.2008', 'values': ['39.761479']}, {'name': 'Ago.2008', 'values': ['15.243975']}, {'name': 'Sep.2008', 'values': ['3.945924']}, {'name': 'Oct.2008', 'values': ['2.359569']}, {'name': 'Nov.2008', 'values': ['0.147096']}, {'name': 'Dic.2008', 'values': ['0.100849']}, {'name': 'Ene.2009', 'values': ['1.435619']}, {'name': 'Feb.2009', 'values': ['4.331799']}, {'name': 'Mar.2009', 'values': ['20.613647']}, {'name': 'Abr.2009', 'values': ['41.313119']}, {'name': 'May.2009', 'values': ['57.401169']}, {'name': 'Jun.2009', 'values': ['61.058603']}, {'name': 'Jul.2009', 'values': ['36.353867']}, {'name': 'Ago.2009', 'values': ['13.847318']}, {'name': 'Sep.2009', 'values': ['4.258857']}, {'name': 'Oct.2009', 'values': ['2.523783']}, {'name': 'Nov.2009', 'values': ['0.236281']}, {'name': 'Dic.2009', 'values': ['0.10462']}, {'name': 'Ene.2010', 'values': ['1.377018']}, {'name': 'Feb.2010', 'values': ['5.21694']}, {'name': 'Mar.2010', 'values': ['21.040949']}, {'name': 'Abr.2010', 'values': ['47.33963']}, {'name': 'May.2010', 'values': ['65.02474']}, {'name': 'Jun.2010', 'values': ['66.789966']}, {'name': 'Jul.2010', 'values': ['46.63275']}, {'name': 'Ago.2010', 'values': ['17.289066']}, {'name': 'Sep.2010', 'values': ['5.288997']}, {'name': 'Oct.2010', 'values': ['2.432979']}, {'name': 'Nov.2010', 'values': ['0.467019']}, {'name': 'Dic.2010', 'values': ['0.299048']}, {'name': 'Ene.2011', 'values': ['0.639761']}, {'name': 'Feb.2011', 'values': ['4.747388']}, {'name': 'Mar.2011', 'values': ['22.752399']}, {'name': 'Abr.2011', 'values': ['57.944959']}, {'name': 'May.2011', 'values': ['77.091024']}, {'name': 'Jun.2011', 'values': ['85.094505']}, {'name': 'Jul.2011', 'values': ['53.172935']}, {'name': 'Ago.2011', 'values': ['19.397588']}, {'name': 'Sep.2011', 'values': ['6.013216']}, {'name': 'Oct.2011', 'values': ['3.572239']}, {'name': 'Nov.2011', 'values': ['0.641459']}, {'name': 'Dic.2011', 'values': ['0.479119']}, {'name': 'Ene.2012', 'values': ['0.90517']}, {'name': 'Feb.2012', 'values': ['5.98167']}, {'name': 'Mar.2012', 'values': ['21.401212']}, {'name': 'Abr.2012', 'values': ['54.432618']}, {'name': 'May.2012', 'values': ['79.396547']}, {'name': 'Jun.2012', 'values': ['76.83046']}, {'name': 'Jul.2012', 'values': ['45.89007']}, {'name': 'Ago.2012', 'values': ['22.258574']}, {'name': 'Sep.2012', 'values': ['8.106877']}, {'name': 'Oct.2012', 'values': ['3.565428']}, {'name': 'Nov.2012', 'values': ['0.840799']}, {'name': 'Dic.2012', 'values': ['0.554138']}, {'name': 'Ene.2013', 'values': ['0.831619']}, {'name': 'Feb.2013', 'values': ['4.772567']}, {'name': 'Mar.2013', 'values': ['17.982427']}, {'name': 'Abr.2013', 'values': ['44.293189']}, {'name': 'May.2013', 'values': ['63.227705']}, {'name': 'Jun.2013', 'values': ['64.720511']}, {'name': 'Jul.2013', 'values': ['36.343205']}, {'name': 'Ago.2013', 'values': ['16.058734']}, {'name': 'Sep.2013', 'values': ['4.538546']}, {'name': 'Oct.2013', 'values': ['2.162171']}, {'name': 'Nov.2013', 'values': ['0.441753']}, {'name': 'Dic.2013', 'values': ['0.522978']}, {'name': 'Ene.2014', 'values': ['0.2672']}, {'name': 'Feb.2014', 'values': ['2.69052']}, {'name': 'Mar.2014', 'values': ['16.01616']}, {'name': 'Abr.2014', 'values': ['38.311414']}, {'name': 'May.2014', 'values': ['52.666798']}, {'name': 'Jun.2014', 'values': ['59.558164']}, {'name': 'Jul.2014', 'values': ['31.716744']}, {'name': 'Ago.2014', 'values': ['13.434955']}, {'name': 'Sep.2014', 'values': ['5.52718']}, {'name': 'Oct.2014', 'values': ['1.75035']}, {'name': 'Nov.2014', 'values': ['0.02477']}, {'name': 'Dic.2014', 'values': ['0.08276']}, {'name': 'Ene.2015', 'values': ['0.39385']}, {'name': 'Feb.2015', 'values': ['4.086979']}, {'name': 'Mar.2015', 'values': ['17.373294']}, {'name': 'Abr.2015', 'values': ['44.439873']}, {'name': 'May.2015', 'values': ['62.228993']}, {'name': 'Jun.2015', 'values': ['64.736542']}, {'name': 'Jul.2015', 'values': ['34.424454']}, {'name': 'Ago.2015', 'values': ['15.847435']}, {'name': 'Sep.2015', 'values': ['6.426358']}, {'name': 'Oct.2015', 'values': ['1.627554']}, {'name': 'Nov.2015', 'values': ['0.156629000000009']}, {'name': 'Dic.2015', 'values': ['0.196458000000007']}, {'name': 'Ene.2016', 'values': ['0.3703']}, {'name': 'Feb.2016', 'values': ['4.804758']}, {'name': 'Mar.2016', 'values': ['14.640632']}, {'name': 'Abr.2016', 'values': ['50.940269']}, {'name': 'May.2016', 'values': ['67.122627']}, {'name': 'Jun.2016', 'values': ['70.391214']}, {'name': 'Jul.2016', 'values': ['42.267273']}, {'name': 'Ago.2016', 'values': ['20.547947']}, {'name': 'Sep.2016', 'values': ['7.485028']}, {'name': 'Oct.2016', 'values': ['2.04469899999998']}, {'name': 'Nov.2016', 'values': ['0.182549999999992']}, {'name': 'Dic.2016', 'values': ['0.181100000000015']}, {'name': 'Ene.2017', 'values': ['0.37474']}, {'name': 'Feb.2017', 'values': ['4.569835']}, {'name': 'Mar.2017', 'values': ['18.966701']}, {'name': 'Abr.2017', 'values': ['58.338177']}, {'name': 'May.2017', 'values': ['76.925586']}, {'name': 'Jun.2017', 'values': ['86.728858']}, {'name': 'Jul.2017', 'values': ['54.803766']}, {'name': 'Ago.2017', 'values': ['23.207107']}, {'name': 'Sep.2017', 'values': ['9.41684']}, {'name': 'Oct.2017', 'values': ['3.264248']}, {'name': 'Nov.2017', 'values': ['0.50635']}, {'name': 'Dic.2017', 'values': ['0.22816']}, {'name': 'Ene.2018', 'values': ['0.3758']}, {'name': 'Feb.2018', 'values': ['6.318199']}, {'name': 'Mar.2018', 'values': ['24.219365']}, {'name': 'Abr.2018', 'values': ['60.700057']}, {'name': 'May.2018', 'values': ['87.021987']}, {'name': 'Jun.2018', 'values': ['92.451526']}, {'name': 'Jul.2018', 'values': ['54.881377']}, {'name': 'Ago.2018', 'values': ['29.364834']}, {'name': 'Sep.2018', 'values': ['10.393698']}, {'name': 'Oct.2018', 'values': ['3.241329']}, {'name': 'Nov.2018', 'values': ['0.4196']}, {'name': 'Dic.2018', 'values': ['0.23422']}, {'name': 'Ene.2019', 'values': ['0.4721']}, {'name': 'Feb.2019', 'values': ['7.235939']}, {'name': 'Mar.2019', 'values': ['23.106201']}, {'name': 'Abr.2019', 'values': ['58.697454']}, {'name': 'May.2019', 'values': ['75.945853']}, {'name': 'Jun.2019', 'values': ['91.592383']}, {'name': 'Jul.2019', 'values': ['61.000966']}, {'name': 'Ago.2019', 'values': ['29.892406']}, {'name': 'Sep.2019', 'values': ['9.459399']}, {'name': 'Oct.2019', 'values': ['3.191187']}, {'name': 'Nov.2019', 'values': ['0.7812']}, {'name': 'Dic.2019', 'values': ['1.9445']}, {'name': 'Ene.2020', 'values': ['0.5353']}, {'name': 'Feb.2020', 'values': ['7.77685']}, {'name': 'Mar.2020', 'values': ['26.569836']}, {'name': 'Abr.2020', 'values': ['63.034885']}, {'name': 'May.2020', 'values': ['86.216846']}, {'name': 'Jun.2020', 'values': ['89.537682']}, {'name': 'Jul.2020', 'values': ['59.068632']}, {'name': 'Ago.2020', 'values': ['29.312454']}, {'name': 'Sep.2020', 'values': ['10.57506']}, {'name': 'Oct.2020', 'values': ['3.060039']}, {'name': 'Nov.2020', 'values': ['0.591']}, {'name': 'Dic.2020', 'values': ['0.4463']}]}

In [128]:
for key in response_json.keys():
    print(key)

config
periods

In [129]:
print(response_json["config"])

{'title': 'ProducciÃ³n agropecuaria (miles de toneladas)', 'series': [{'name': 'ProducciÃ³n agropecuaria (miles de toneladas) - AgrÃ\xadcola - CafÃ©', 'dec': '1'}]}

In [130]:
# llamar a los valores
print(response_json["periods"])

[{'name': 'Ene.2007', 'values': ['0.45595']}, {'name': 'Feb.2007', 'values': ['5.09665']}, {'name': 'Mar.2007', 'values': ['17.748072']}, {'name': 'Abr.2007', 'values': ['39.014465']}, {'name': 'May.2007', 'values': ['52.576826']}, {'name': 'Jun.2007', 'values': ['49.370498']}, {'name': 'Jul.2007', 'values': ['33.474251']}, {'name': 'Ago.2007', 'values': ['15.858764']}, {'name': 'Sep.2007', 'values': ['8.245569']}, {'name': 'Oct.2007', 'values': ['3.945049']}, {'name': 'Nov.2007', 'values': ['0.11732']}, {'name': 'Dic.2007', 'values': ['0.08866']}, {'name': 'Ene.2008', 'values': ['1.776759']}, {'name': 'Feb.2008', 'values': ['7.60438']}, {'name': 'Mar.2008', 'values': ['19.334975']}, {'name': 'Abr.2008', 'values': ['45.26946']}, {'name': 'May.2008', 'values': ['68.289961']}, {'name': 'Jun.2008', 'values': ['69.945439']}, {'name': 'Jul.2008', 'values': ['39.761479']}, {'name': 'Ago.2008', 'values': ['15.243975']}, {'name': 'Sep.2008', 'values': ['3.945924']}, {'name': 'Oct.2008', 'values': ['2.359569']}, {'name': 'Nov.2008', 'values': ['0.147096']}, {'name': 'Dic.2008', 'values': ['0.100849']}, {'name': 'Ene.2009', 'values': ['1.435619']}, {'name': 'Feb.2009', 'values': ['4.331799']}, {'name': 'Mar.2009', 'values': ['20.613647']}, {'name': 'Abr.2009', 'values': ['41.313119']}, {'name': 'May.2009', 'values': ['57.401169']}, {'name': 'Jun.2009', 'values': ['61.058603']}, {'name': 'Jul.2009', 'values': ['36.353867']}, {'name': 'Ago.2009', 'values': ['13.847318']}, {'name': 'Sep.2009', 'values': ['4.258857']}, {'name': 'Oct.2009', 'values': ['2.523783']}, {'name': 'Nov.2009', 'values': ['0.236281']}, {'name': 'Dic.2009', 'values': ['0.10462']}, {'name': 'Ene.2010', 'values': ['1.377018']}, {'name': 'Feb.2010', 'values': ['5.21694']}, {'name': 'Mar.2010', 'values': ['21.040949']}, {'name': 'Abr.2010', 'values': ['47.33963']}, {'name': 'May.2010', 'values': ['65.02474']}, {'name': 'Jun.2010', 'values': ['66.789966']}, {'name': 'Jul.2010', 'values': ['46.63275']}, {'name': 'Ago.2010', 'values': ['17.289066']}, {'name': 'Sep.2010', 'values': ['5.288997']}, {'name': 'Oct.2010', 'values': ['2.432979']}, {'name': 'Nov.2010', 'values': ['0.467019']}, {'name': 'Dic.2010', 'values': ['0.299048']}, {'name': 'Ene.2011', 'values': ['0.639761']}, {'name': 'Feb.2011', 'values': ['4.747388']}, {'name': 'Mar.2011', 'values': ['22.752399']}, {'name': 'Abr.2011', 'values': ['57.944959']}, {'name': 'May.2011', 'values': ['77.091024']}, {'name': 'Jun.2011', 'values': ['85.094505']}, {'name': 'Jul.2011', 'values': ['53.172935']}, {'name': 'Ago.2011', 'values': ['19.397588']}, {'name': 'Sep.2011', 'values': ['6.013216']}, {'name': 'Oct.2011', 'values': ['3.572239']}, {'name': 'Nov.2011', 'values': ['0.641459']}, {'name': 'Dic.2011', 'values': ['0.479119']}, {'name': 'Ene.2012', 'values': ['0.90517']}, {'name': 'Feb.2012', 'values': ['5.98167']}, {'name': 'Mar.2012', 'values': ['21.401212']}, {'name': 'Abr.2012', 'values': ['54.432618']}, {'name': 'May.2012', 'values': ['79.396547']}, {'name': 'Jun.2012', 'values': ['76.83046']}, {'name': 'Jul.2012', 'values': ['45.89007']}, {'name': 'Ago.2012', 'values': ['22.258574']}, {'name': 'Sep.2012', 'values': ['8.106877']}, {'name': 'Oct.2012', 'values': ['3.565428']}, {'name': 'Nov.2012', 'values': ['0.840799']}, {'name': 'Dic.2012', 'values': ['0.554138']}, {'name': 'Ene.2013', 'values': ['0.831619']}, {'name': 'Feb.2013', 'values': ['4.772567']}, {'name': 'Mar.2013', 'values': ['17.982427']}, {'name': 'Abr.2013', 'values': ['44.293189']}, {'name': 'May.2013', 'values': ['63.227705']}, {'name': 'Jun.2013', 'values': ['64.720511']}, {'name': 'Jul.2013', 'values': ['36.343205']}, {'name': 'Ago.2013', 'values': ['16.058734']}, {'name': 'Sep.2013', 'values': ['4.538546']}, {'name': 'Oct.2013', 'values': ['2.162171']}, {'name': 'Nov.2013', 'values': ['0.441753']}, {'name': 'Dic.2013', 'values': ['0.522978']}, {'name': 'Ene.2014', 'values': ['0.2672']}, {'name': 'Feb.2014', 'values': ['2.69052']}, {'name': 'Mar.2014', 'values': ['16.01616']}, {'name': 'Abr.2014', 'values': ['38.311414']}, {'name': 'May.2014', 'values': ['52.666798']}, {'name': 'Jun.2014', 'values': ['59.558164']}, {'name': 'Jul.2014', 'values': ['31.716744']}, {'name': 'Ago.2014', 'values': ['13.434955']}, {'name': 'Sep.2014', 'values': ['5.52718']}, {'name': 'Oct.2014', 'values': ['1.75035']}, {'name': 'Nov.2014', 'values': ['0.02477']}, {'name': 'Dic.2014', 'values': ['0.08276']}, {'name': 'Ene.2015', 'values': ['0.39385']}, {'name': 'Feb.2015', 'values': ['4.086979']}, {'name': 'Mar.2015', 'values': ['17.373294']}, {'name': 'Abr.2015', 'values': ['44.439873']}, {'name': 'May.2015', 'values': ['62.228993']}, {'name': 'Jun.2015', 'values': ['64.736542']}, {'name': 'Jul.2015', 'values': ['34.424454']}, {'name': 'Ago.2015', 'values': ['15.847435']}, {'name': 'Sep.2015', 'values': ['6.426358']}, {'name': 'Oct.2015', 'values': ['1.627554']}, {'name': 'Nov.2015', 'values': ['0.156629000000009']}, {'name': 'Dic.2015', 'values': ['0.196458000000007']}, {'name': 'Ene.2016', 'values': ['0.3703']}, {'name': 'Feb.2016', 'values': ['4.804758']}, {'name': 'Mar.2016', 'values': ['14.640632']}, {'name': 'Abr.2016', 'values': ['50.940269']}, {'name': 'May.2016', 'values': ['67.122627']}, {'name': 'Jun.2016', 'values': ['70.391214']}, {'name': 'Jul.2016', 'values': ['42.267273']}, {'name': 'Ago.2016', 'values': ['20.547947']}, {'name': 'Sep.2016', 'values': ['7.485028']}, {'name': 'Oct.2016', 'values': ['2.04469899999998']}, {'name': 'Nov.2016', 'values': ['0.182549999999992']}, {'name': 'Dic.2016', 'values': ['0.181100000000015']}, {'name': 'Ene.2017', 'values': ['0.37474']}, {'name': 'Feb.2017', 'values': ['4.569835']}, {'name': 'Mar.2017', 'values': ['18.966701']}, {'name': 'Abr.2017', 'values': ['58.338177']}, {'name': 'May.2017', 'values': ['76.925586']}, {'name': 'Jun.2017', 'values': ['86.728858']}, {'name': 'Jul.2017', 'values': ['54.803766']}, {'name': 'Ago.2017', 'values': ['23.207107']}, {'name': 'Sep.2017', 'values': ['9.41684']}, {'name': 'Oct.2017', 'values': ['3.264248']}, {'name': 'Nov.2017', 'values': ['0.50635']}, {'name': 'Dic.2017', 'values': ['0.22816']}, {'name': 'Ene.2018', 'values': ['0.3758']}, {'name': 'Feb.2018', 'values': ['6.318199']}, {'name': 'Mar.2018', 'values': ['24.219365']}, {'name': 'Abr.2018', 'values': ['60.700057']}, {'name': 'May.2018', 'values': ['87.021987']}, {'name': 'Jun.2018', 'values': ['92.451526']}, {'name': 'Jul.2018', 'values': ['54.881377']}, {'name': 'Ago.2018', 'values': ['29.364834']}, {'name': 'Sep.2018', 'values': ['10.393698']}, {'name': 'Oct.2018', 'values': ['3.241329']}, {'name': 'Nov.2018', 'values': ['0.4196']}, {'name': 'Dic.2018', 'values': ['0.23422']}, {'name': 'Ene.2019', 'values': ['0.4721']}, {'name': 'Feb.2019', 'values': ['7.235939']}, {'name': 'Mar.2019', 'values': ['23.106201']}, {'name': 'Abr.2019', 'values': ['58.697454']}, {'name': 'May.2019', 'values': ['75.945853']}, {'name': 'Jun.2019', 'values': ['91.592383']}, {'name': 'Jul.2019', 'values': ['61.000966']}, {'name': 'Ago.2019', 'values': ['29.892406']}, {'name': 'Sep.2019', 'values': ['9.459399']}, {'name': 'Oct.2019', 'values': ['3.191187']}, {'name': 'Nov.2019', 'values': ['0.7812']}, {'name': 'Dic.2019', 'values': ['1.9445']}, {'name': 'Ene.2020', 'values': ['0.5353']}, {'name': 'Feb.2020', 'values': ['7.77685']}, {'name': 'Mar.2020', 'values': ['26.569836']}, {'name': 'Abr.2020', 'values': ['63.034885']}, {'name': 'May.2020', 'values': ['86.216846']}, {'name': 'Jun.2020', 'values': ['89.537682']}, {'name': 'Jul.2020', 'values': ['59.068632']}, {'name': 'Ago.2020', 'values': ['29.312454']}, {'name': 'Sep.2020', 'values': ['10.57506']}, {'name': 'Oct.2020', 'values': ['3.060039']}, {'name': 'Nov.2020', 'values': ['0.591']}, {'name': 'Dic.2020', 'values': ['0.4463']}]

In [131]:
periodos=response_json.get("periods")
prod_café=[]
for i in periodos:
    valores_list=i["values"]
    for w in valores_list:
        w=str(w)
        prod_café.append(w)
        
print(prod_café)

['0.45595', '5.09665', '17.748072', '39.014465', '52.576826', '49.370498', '33.474251', '15.858764', '8.245569', '3.945049', '0.11732', '0.08866', '1.776759', '7.60438', '19.334975', '45.26946', '68.289961', '69.945439', '39.761479', '15.243975', '3.945924', '2.359569', '0.147096', '0.100849', '1.435619', '4.331799', '20.613647', '41.313119', '57.401169', '61.058603', '36.353867', '13.847318', '4.258857', '2.523783', '0.236281', '0.10462', '1.377018', '5.21694', '21.040949', '47.33963', '65.02474', '66.789966', '46.63275', '17.289066', '5.288997', '2.432979', '0.467019', '0.299048', '0.639761', '4.747388', '22.752399', '57.944959', '77.091024', '85.094505', '53.172935', '19.397588', '6.013216', '3.572239', '0.641459', '0.479119', '0.90517', '5.98167', '21.401212', '54.432618', '79.396547', '76.83046', '45.89007', '22.258574', '8.106877', '3.565428', '0.840799', '0.554138', '0.831619', '4.772567', '17.982427', '44.293189', '63.227705', '64.720511', '36.343205', '16.058734', '4.538546', '2.162171', '0.441753', '0.522978', '0.2672', '2.69052', '16.01616', '38.311414', '52.666798', '59.558164', '31.716744', '13.434955', '5.52718', '1.75035', '0.02477', '0.08276', '0.39385', '4.086979', '17.373294', '44.439873', '62.228993', '64.736542', '34.424454', '15.847435', '6.426358', '1.627554', '0.156629000000009', '0.196458000000007', '0.3703', '4.804758', '14.640632', '50.940269', '67.122627', '70.391214', '42.267273', '20.547947', '7.485028', '2.04469899999998', '0.182549999999992', '0.181100000000015', '0.37474', '4.569835', '18.966701', '58.338177', '76.925586', '86.728858', '54.803766', '23.207107', '9.41684', '3.264248', '0.50635', '0.22816', '0.3758', '6.318199', '24.219365', '60.700057', '87.021987', '92.451526', '54.881377', '29.364834', '10.393698', '3.241329', '0.4196', '0.23422', '0.4721', '7.235939', '23.106201', '58.697454', '75.945853', '91.592383', '61.000966', '29.892406', '9.459399', '3.191187', '0.7812', '1.9445', '0.5353', '7.77685', '26.569836', '63.034885', '86.216846', '89.537682', '59.068632', '29.312454', '10.57506', '3.060039', '0.591', '0.4463']

In [132]:
fechas=[]
for i in periodos:
    nombres=i["name"]
    fechas.append(nombres)
print(fechas)

['Ene.2007', 'Feb.2007', 'Mar.2007', 'Abr.2007', 'May.2007', 'Jun.2007', 'Jul.2007', 'Ago.2007', 'Sep.2007', 'Oct.2007', 'Nov.2007', 'Dic.2007', 'Ene.2008', 'Feb.2008', 'Mar.2008', 'Abr.2008', 'May.2008', 'Jun.2008', 'Jul.2008', 'Ago.2008', 'Sep.2008', 'Oct.2008', 'Nov.2008', 'Dic.2008', 'Ene.2009', 'Feb.2009', 'Mar.2009', 'Abr.2009', 'May.2009', 'Jun.2009', 'Jul.2009', 'Ago.2009', 'Sep.2009', 'Oct.2009', 'Nov.2009', 'Dic.2009', 'Ene.2010', 'Feb.2010', 'Mar.2010', 'Abr.2010', 'May.2010', 'Jun.2010', 'Jul.2010', 'Ago.2010', 'Sep.2010', 'Oct.2010', 'Nov.2010', 'Dic.2010', 'Ene.2011', 'Feb.2011', 'Mar.2011', 'Abr.2011', 'May.2011', 'Jun.2011', 'Jul.2011', 'Ago.2011', 'Sep.2011', 'Oct.2011', 'Nov.2011', 'Dic.2011', 'Ene.2012', 'Feb.2012', 'Mar.2012', 'Abr.2012', 'May.2012', 'Jun.2012', 'Jul.2012', 'Ago.2012', 'Sep.2012', 'Oct.2012', 'Nov.2012', 'Dic.2012', 'Ene.2013', 'Feb.2013', 'Mar.2013', 'Abr.2013', 'May.2013', 'Jun.2013', 'Jul.2013', 'Ago.2013', 'Sep.2013', 'Oct.2013', 'Nov.2013', 'Dic.2013', 'Ene.2014', 'Feb.2014', 'Mar.2014', 'Abr.2014', 'May.2014', 'Jun.2014', 'Jul.2014', 'Ago.2014', 'Sep.2014', 'Oct.2014', 'Nov.2014', 'Dic.2014', 'Ene.2015', 'Feb.2015', 'Mar.2015', 'Abr.2015', 'May.2015', 'Jun.2015', 'Jul.2015', 'Ago.2015', 'Sep.2015', 'Oct.2015', 'Nov.2015', 'Dic.2015', 'Ene.2016', 'Feb.2016', 'Mar.2016', 'Abr.2016', 'May.2016', 'Jun.2016', 'Jul.2016', 'Ago.2016', 'Sep.2016', 'Oct.2016', 'Nov.2016', 'Dic.2016', 'Ene.2017', 'Feb.2017', 'Mar.2017', 'Abr.2017', 'May.2017', 'Jun.2017', 'Jul.2017', 'Ago.2017', 'Sep.2017', 'Oct.2017', 'Nov.2017', 'Dic.2017', 'Ene.2018', 'Feb.2018', 'Mar.2018', 'Abr.2018', 'May.2018', 'Jun.2018', 'Jul.2018', 'Ago.2018', 'Sep.2018', 'Oct.2018', 'Nov.2018', 'Dic.2018', 'Ene.2019', 'Feb.2019', 'Mar.2019', 'Abr.2019', 'May.2019', 'Jun.2019', 'Jul.2019', 'Ago.2019', 'Sep.2019', 'Oct.2019', 'Nov.2019', 'Dic.2019', 'Ene.2020', 'Feb.2020', 'Mar.2020', 'Abr.2020', 'May.2020', 'Jun.2020', 'Jul.2020', 'Ago.2020', 'Sep.2020', 'Oct.2020', 'Nov.2020', 'Dic.2020']

In [133]:
diccionario11= {"Fechas":fechas, "Valores":prod_café}
print(diccionario11)

{'Fechas': ['Ene.2007', 'Feb.2007', 'Mar.2007', 'Abr.2007', 'May.2007', 'Jun.2007', 'Jul.2007', 'Ago.2007', 'Sep.2007', 'Oct.2007', 'Nov.2007', 'Dic.2007', 'Ene.2008', 'Feb.2008', 'Mar.2008', 'Abr.2008', 'May.2008', 'Jun.2008', 'Jul.2008', 'Ago.2008', 'Sep.2008', 'Oct.2008', 'Nov.2008', 'Dic.2008', 'Ene.2009', 'Feb.2009', 'Mar.2009', 'Abr.2009', 'May.2009', 'Jun.2009', 'Jul.2009', 'Ago.2009', 'Sep.2009', 'Oct.2009', 'Nov.2009', 'Dic.2009', 'Ene.2010', 'Feb.2010', 'Mar.2010', 'Abr.2010', 'May.2010', 'Jun.2010', 'Jul.2010', 'Ago.2010', 'Sep.2010', 'Oct.2010', 'Nov.2010', 'Dic.2010', 'Ene.2011', 'Feb.2011', 'Mar.2011', 'Abr.2011', 'May.2011', 'Jun.2011', 'Jul.2011', 'Ago.2011', 'Sep.2011', 'Oct.2011', 'Nov.2011', 'Dic.2011', 'Ene.2012', 'Feb.2012', 'Mar.2012', 'Abr.2012', 'May.2012', 'Jun.2012', 'Jul.2012', 'Ago.2012', 'Sep.2012', 'Oct.2012', 'Nov.2012', 'Dic.2012', 'Ene.2013', 'Feb.2013', 'Mar.2013', 'Abr.2013', 'May.2013', 'Jun.2013', 'Jul.2013', 'Ago.2013', 'Sep.2013', 'Oct.2013', 'Nov.2013', 'Dic.2013', 'Ene.2014', 'Feb.2014', 'Mar.2014', 'Abr.2014', 'May.2014', 'Jun.2014', 'Jul.2014', 'Ago.2014', 'Sep.2014', 'Oct.2014', 'Nov.2014', 'Dic.2014', 'Ene.2015', 'Feb.2015', 'Mar.2015', 'Abr.2015', 'May.2015', 'Jun.2015', 'Jul.2015', 'Ago.2015', 'Sep.2015', 'Oct.2015', 'Nov.2015', 'Dic.2015', 'Ene.2016', 'Feb.2016', 'Mar.2016', 'Abr.2016', 'May.2016', 'Jun.2016', 'Jul.2016', 'Ago.2016', 'Sep.2016', 'Oct.2016', 'Nov.2016', 'Dic.2016', 'Ene.2017', 'Feb.2017', 'Mar.2017', 'Abr.2017', 'May.2017', 'Jun.2017', 'Jul.2017', 'Ago.2017', 'Sep.2017', 'Oct.2017', 'Nov.2017', 'Dic.2017', 'Ene.2018', 'Feb.2018', 'Mar.2018', 'Abr.2018', 'May.2018', 'Jun.2018', 'Jul.2018', 'Ago.2018', 'Sep.2018', 'Oct.2018', 'Nov.2018', 'Dic.2018', 'Ene.2019', 'Feb.2019', 'Mar.2019', 'Abr.2019', 'May.2019', 'Jun.2019', 'Jul.2019', 'Ago.2019', 'Sep.2019', 'Oct.2019', 'Nov.2019', 'Dic.2019', 'Ene.2020', 'Feb.2020', 'Mar.2020', 'Abr.2020', 'May.2020', 'Jun.2020', 'Jul.2020', 'Ago.2020', 'Sep.2020', 'Oct.2020', 'Nov.2020', 'Dic.2020'], 'Valores': ['0.45595', '5.09665', '17.748072', '39.014465', '52.576826', '49.370498', '33.474251', '15.858764', '8.245569', '3.945049', '0.11732', '0.08866', '1.776759', '7.60438', '19.334975', '45.26946', '68.289961', '69.945439', '39.761479', '15.243975', '3.945924', '2.359569', '0.147096', '0.100849', '1.435619', '4.331799', '20.613647', '41.313119', '57.401169', '61.058603', '36.353867', '13.847318', '4.258857', '2.523783', '0.236281', '0.10462', '1.377018', '5.21694', '21.040949', '47.33963', '65.02474', '66.789966', '46.63275', '17.289066', '5.288997', '2.432979', '0.467019', '0.299048', '0.639761', '4.747388', '22.752399', '57.944959', '77.091024', '85.094505', '53.172935', '19.397588', '6.013216', '3.572239', '0.641459', '0.479119', '0.90517', '5.98167', '21.401212', '54.432618', '79.396547', '76.83046', '45.89007', '22.258574', '8.106877', '3.565428', '0.840799', '0.554138', '0.831619', '4.772567', '17.982427', '44.293189', '63.227705', '64.720511', '36.343205', '16.058734', '4.538546', '2.162171', '0.441753', '0.522978', '0.2672', '2.69052', '16.01616', '38.311414', '52.666798', '59.558164', '31.716744', '13.434955', '5.52718', '1.75035', '0.02477', '0.08276', '0.39385', '4.086979', '17.373294', '44.439873', '62.228993', '64.736542', '34.424454', '15.847435', '6.426358', '1.627554', '0.156629000000009', '0.196458000000007', '0.3703', '4.804758', '14.640632', '50.940269', '67.122627', '70.391214', '42.267273', '20.547947', '7.485028', '2.04469899999998', '0.182549999999992', '0.181100000000015', '0.37474', '4.569835', '18.966701', '58.338177', '76.925586', '86.728858', '54.803766', '23.207107', '9.41684', '3.264248', '0.50635', '0.22816', '0.3758', '6.318199', '24.219365', '60.700057', '87.021987', '92.451526', '54.881377', '29.364834', '10.393698', '3.241329', '0.4196', '0.23422', '0.4721', '7.235939', '23.106201', '58.697454', '75.945853', '91.592383', '61.000966', '29.892406', '9.459399', '3.191187', '0.7812', '1.9445', '0.5353', '7.77685', '26.569836', '63.034885', '86.216846', '89.537682', '59.068632', '29.312454', '10.57506', '3.060039', '0.591', '0.4463']}

In [134]:
df11=pd.DataFrame(diccionario11)
df11

       Fechas    Valores
0    Ene.2007    0.45595
1    Feb.2007    5.09665
2    Mar.2007  17.748072
3    Abr.2007  39.014465
4    May.2007  52.576826
..        ...        ...
163  Ago.2020  29.312454
164  Sep.2020   10.57506
165  Oct.2020   3.060039
166  Nov.2020      0.591
167  Dic.2020     0.4463

[168 rows x 2 columns]

In [135]:
df11.rename(columns={'Valores':'Café'}, inplace=True)
df11.head()

     Fechas       Café
0  Ene.2007    0.45595
1  Feb.2007    5.09665
2  Mar.2007  17.748072
3  Abr.2007  39.014465
4  May.2007  52.576826

In [ ]:
# DATOS DE PRODUCCIÓN AGRÍCOLA DE CAÑA DE AZÚCAR

In [136]:
url_base="https://estadisticas.bcrp.gob.pe/estadisticas/series/api/"
cod_ser="PN01790AM"
formato="/json"
per="/2003-1/2020-12"
url=url_base+cod_ser+formato+per
print(url)

https://estadisticas.bcrp.gob.pe/estadisticas/series/api/PN01790AM/json/2003-1/2020-12

In [137]:
import requests
response=requests.get(url)
print(response)

<Response [200]>

In [138]:
# extraer en formato json
response_json=response.json()
print(response_json)

{'config': {'title': 'ProducciÃ³n agropecuaria (miles de toneladas)', 'series': [{'name': 'ProducciÃ³n agropecuaria (miles de toneladas) - AgrÃ\xadcola - CaÃ±a de AzÃºcar', 'dec': '1'}]}, 'periods': [{'name': 'Ene.2007', 'values': ['653.65969']}, {'name': 'Feb.2007', 'values': ['577.153718295517']}, {'name': 'Mar.2007', 'values': ['529.53147']}, {'name': 'Abr.2007', 'values': ['329.611459']}, {'name': 'May.2007', 'values': ['582.68222']}, {'name': 'Jun.2007', 'values': ['763.955922']}, {'name': 'Jul.2007', 'values': ['772.001908']}, {'name': 'Ago.2007', 'values': ['831.362911']}, {'name': 'Sep.2007', 'values': ['766.045178']}, {'name': 'Oct.2007', 'values': ['852.60092']}, {'name': 'Nov.2007', 'values': ['761.283162']}, {'name': 'Dic.2007', 'values': ['808.73481255436']}, {'name': 'Ene.2008', 'values': ['749.339106']}, {'name': 'Feb.2008', 'values': ['602.225889']}, {'name': 'Mar.2008', 'values': ['621.857592']}, {'name': 'Abr.2008', 'values': ['643.09511']}, {'name': 'May.2008', 'values': ['656.3939']}, {'name': 'Jun.2008', 'values': ['789.755519']}, {'name': 'Jul.2008', 'values': ['831.460129']}, {'name': 'Ago.2008', 'values': ['891.651318']}, {'name': 'Sep.2008', 'values': ['894.059291']}, {'name': 'Oct.2008', 'values': ['944.060746']}, {'name': 'Nov.2008', 'values': ['878.348126']}, {'name': 'Dic.2008', 'values': ['893.712317']}, {'name': 'Ene.2009', 'values': ['827.66655']}, {'name': 'Feb.2009', 'values': ['836.013145842']}, {'name': 'Mar.2009', 'values': ['848.890026']}, {'name': 'Abr.2009', 'values': ['708.376767']}, {'name': 'May.2009', 'values': ['647.121366']}, {'name': 'Jun.2009', 'values': ['669.487113']}, {'name': 'Jul.2009', 'values': ['878.939209']}, {'name': 'Ago.2009', 'values': ['886.731603']}, {'name': 'Sep.2009', 'values': ['828.751989']}, {'name': 'Oct.2009', 'values': ['944.5372702']}, {'name': 'Nov.2009', 'values': ['943.565881']}, {'name': 'Dic.2009', 'values': ['916.863898']}, {'name': 'Ene.2010', 'values': ['815.435659']}, {'name': 'Feb.2010', 'values': ['642.067142']}, {'name': 'Mar.2010', 'values': ['777.233558']}, {'name': 'Abr.2010', 'values': ['730.081485']}, {'name': 'May.2010', 'values': ['679.08658']}, {'name': 'Jun.2010', 'values': ['814.783493']}, {'name': 'Jul.2010', 'values': ['844.296772']}, {'name': 'Ago.2010', 'values': ['943.576825']}, {'name': 'Sep.2010', 'values': ['892.094841']}, {'name': 'Oct.2010', 'values': ['860.417649']}, {'name': 'Nov.2010', 'values': ['934.081035']}, {'name': 'Dic.2010', 'values': ['924.699607']}, {'name': 'Ene.2011', 'values': ['798.121859']}, {'name': 'Feb.2011', 'values': ['648.203156']}, {'name': 'Mar.2011', 'values': ['877.140732']}, {'name': 'Abr.2011', 'values': ['716.297238']}, {'name': 'May.2011', 'values': ['738.21526991']}, {'name': 'Jun.2011', 'values': ['671.287789']}, {'name': 'Jul.2011', 'values': ['775.445627']}, {'name': 'Ago.2011', 'values': ['953.747189']}, {'name': 'Sep.2011', 'values': ['847.744096']}, {'name': 'Oct.2011', 'values': ['924.8626644']}, {'name': 'Nov.2011', 'values': ['951.930081']}, {'name': 'Dic.2011', 'values': ['981.940607']}, {'name': 'Ene.2012', 'values': ['822.576389']}, {'name': 'Feb.2012', 'values': ['734.735766']}, {'name': 'Mar.2012', 'values': ['808.6860627']}, {'name': 'Abr.2012', 'values': ['690.625409']}, {'name': 'May.2012', 'values': ['684.752056']}, {'name': 'Jun.2012', 'values': ['673.287666']}, {'name': 'Jul.2012', 'values': ['833.736682']}, {'name': 'Ago.2012', 'values': ['1026.393395']}, {'name': 'Sep.2012', 'values': ['1042.703843']}, {'name': 'Oct.2012', 'values': ['1018.739248']}, {'name': 'Nov.2012', 'values': ['1069.29479']}, {'name': 'Dic.2012', 'values': ['963.335131']}, {'name': 'Ene.2013', 'values': ['887.6442834']}, {'name': 'Feb.2013', 'values': ['856.311766']}, {'name': 'Mar.2013', 'values': ['781.55458']}, {'name': 'Abr.2013', 'values': ['908.678925']}, {'name': 'May.2013', 'values': ['924.512282']}, {'name': 'Jun.2013', 'values': ['810.928907']}, {'name': 'Jul.2013', 'values': ['713.86344']}, {'name': 'Ago.2013', 'values': ['955.883083']}, {'name': 'Sep.2013', 'values': ['1059.277679']}, {'name': 'Oct.2013', 'values': ['1034.891328']}, {'name': 'Nov.2013', 'values': ['1022.380629']}, {'name': 'Dic.2013', 'values': ['1036.313395']}, {'name': 'Ene.2014', 'values': ['937.674121']}, {'name': 'Feb.2014', 'values': ['927.4590181']}, {'name': 'Mar.2014', 'values': ['927.372818']}, {'name': 'Abr.2014', 'values': ['945.441172']}, {'name': 'May.2014', 'values': ['945.496013']}, {'name': 'Jun.2014', 'values': ['763.459765']}, {'name': 'Jul.2014', 'values': ['722.4939193']}, {'name': 'Ago.2014', 'values': ['1033.122122']}, {'name': 'Sep.2014', 'values': ['1057.653484']}, {'name': 'Oct.2014', 'values': ['1067.155711']}, {'name': 'Nov.2014', 'values': ['1033.529399']}, {'name': 'Dic.2014', 'values': ['1028.759646']}, {'name': 'Ene.2015', 'values': ['848.099936']}, {'name': 'Feb.2015', 'values': ['836.3536']}, {'name': 'Mar.2015', 'values': ['807.463149']}, {'name': 'Abr.2015', 'values': ['690.159479']}, {'name': 'May.2015', 'values': ['599.2565305']}, {'name': 'Jun.2015', 'values': ['778.173559']}, {'name': 'Jul.2015', 'values': ['738.630779']}, {'name': 'Ago.2015', 'values': ['986.813148']}, {'name': 'Sep.2015', 'values': ['951.369459']}, {'name': 'Oct.2015', 'values': ['997.260528000001']}, {'name': 'Nov.2015', 'values': ['1003.262558']}, {'name': 'Dic.2015', 'values': ['975.013541300001']}, {'name': 'Ene.2016', 'values': ['923.508349']}, {'name': 'Feb.2016', 'values': ['725.6230765']}, {'name': 'Mar.2016', 'values': ['541.557752']}, {'name': 'Abr.2016', 'values': ['540.712891']}, {'name': 'May.2016', 'values': ['573.05019']}, {'name': 'Jun.2016', 'values': ['822.38104']}, {'name': 'Jul.2016', 'values': ['994.317959']}, {'name': 'Ago.2016', 'values': ['956.951961']}, {'name': 'Sep.2016', 'values': ['905.273734']}, {'name': 'Oct.2016', 'values': ['963.805002']}, {'name': 'Nov.2016', 'values': ['948.841925000001']}, {'name': 'Dic.2016', 'values': ['936.501711999999']}, {'name': 'Ene.2017', 'values': ['862.793268']}, {'name': 'Feb.2017', 'values': ['611.876711']}, {'name': 'Mar.2017', 'values': ['288.130603']}, {'name': 'Abr.2017', 'values': ['454.322005']}, {'name': 'May.2017', 'values': ['684.237753']}, {'name': 'Jun.2017', 'values': ['732.269985']}, {'name': 'Jul.2017', 'values': ['908.91931']}, {'name': 'Ago.2017', 'values': ['976.767441']}, {'name': 'Sep.2017', 'values': ['1005.03729']}, {'name': 'Oct.2017', 'values': ['1011.618621']}, {'name': 'Nov.2017', 'values': ['1002.973953']}, {'name': 'Dic.2017', 'values': ['860.670006']}, {'name': 'Ene.2018', 'values': ['814.883561']}, {'name': 'Feb.2018', 'values': ['659.542511']}, {'name': 'Mar.2018', 'values': ['600.336694']}, {'name': 'Abr.2018', 'values': ['510.918631']}, {'name': 'May.2018', 'values': ['643.581268']}, {'name': 'Jun.2018', 'values': ['892.3336777']}, {'name': 'Jul.2018', 'values': ['982.8036811961']}, {'name': 'Ago.2018', 'values': ['1013.0798879']}, {'name': 'Sep.2018', 'values': ['1028.8224001373']}, {'name': 'Oct.2018', 'values': ['1029.934445']}, {'name': 'Nov.2018', 'values': ['1101.878652']}, {'name': 'Dic.2018', 'values': ['1058.062499']}, {'name': 'Ene.2019', 'values': ['868.184771']}, {'name': 'Feb.2019', 'values': ['790.313662']}, {'name': 'Mar.2019', 'values': ['880.200599']}, {'name': 'Abr.2019', 'values': ['712.496578']}, {'name': 'May.2019', 'values': ['762.969635']}, {'name': 'Jun.2019', 'values': ['763.607321']}, {'name': 'Jul.2019', 'values': ['1074.083986']}, {'name': 'Ago.2019', 'values': ['1050.3646']}, {'name': 'Sep.2019', 'values': ['1033.944361']}, {'name': 'Oct.2019', 'values': ['1050.133411']}, {'name': 'Nov.2019', 'values': ['1007.061606']}, {'name': 'Dic.2019', 'values': ['909.54535']}, {'name': 'Ene.2020', 'values': ['839.43969']}, {'name': 'Feb.2020', 'values': ['752.577388']}, {'name': 'Mar.2020', 'values': ['637.266887']}, {'name': 'Abr.2020', 'values': ['719.264023']}, {'name': 'May.2020', 'values': ['915.35346']}, {'name': 'Jun.2020', 'values': ['927.495305']}, {'name': 'Jul.2020', 'values': ['834.344043']}, {'name': 'Ago.2020', 'values': ['853.13817']}, {'name': 'Sep.2020', 'values': ['945.559219']}, {'name': 'Oct.2020', 'values': ['1064.068581']}, {'name': 'Nov.2020', 'values': ['957.56471']}, {'name': 'Dic.2020', 'values': ['1022.72885446193']}]}

In [139]:
for key in response_json.keys():
    print(key)

config
periods

In [140]:
print(response_json["config"])

{'title': 'ProducciÃ³n agropecuaria (miles de toneladas)', 'series': [{'name': 'ProducciÃ³n agropecuaria (miles de toneladas) - AgrÃ\xadcola - CaÃ±a de AzÃºcar', 'dec': '1'}]}

In [141]:
# llamar a los valores
print(response_json["periods"])

[{'name': 'Ene.2007', 'values': ['653.65969']}, {'name': 'Feb.2007', 'values': ['577.153718295517']}, {'name': 'Mar.2007', 'values': ['529.53147']}, {'name': 'Abr.2007', 'values': ['329.611459']}, {'name': 'May.2007', 'values': ['582.68222']}, {'name': 'Jun.2007', 'values': ['763.955922']}, {'name': 'Jul.2007', 'values': ['772.001908']}, {'name': 'Ago.2007', 'values': ['831.362911']}, {'name': 'Sep.2007', 'values': ['766.045178']}, {'name': 'Oct.2007', 'values': ['852.60092']}, {'name': 'Nov.2007', 'values': ['761.283162']}, {'name': 'Dic.2007', 'values': ['808.73481255436']}, {'name': 'Ene.2008', 'values': ['749.339106']}, {'name': 'Feb.2008', 'values': ['602.225889']}, {'name': 'Mar.2008', 'values': ['621.857592']}, {'name': 'Abr.2008', 'values': ['643.09511']}, {'name': 'May.2008', 'values': ['656.3939']}, {'name': 'Jun.2008', 'values': ['789.755519']}, {'name': 'Jul.2008', 'values': ['831.460129']}, {'name': 'Ago.2008', 'values': ['891.651318']}, {'name': 'Sep.2008', 'values': ['894.059291']}, {'name': 'Oct.2008', 'values': ['944.060746']}, {'name': 'Nov.2008', 'values': ['878.348126']}, {'name': 'Dic.2008', 'values': ['893.712317']}, {'name': 'Ene.2009', 'values': ['827.66655']}, {'name': 'Feb.2009', 'values': ['836.013145842']}, {'name': 'Mar.2009', 'values': ['848.890026']}, {'name': 'Abr.2009', 'values': ['708.376767']}, {'name': 'May.2009', 'values': ['647.121366']}, {'name': 'Jun.2009', 'values': ['669.487113']}, {'name': 'Jul.2009', 'values': ['878.939209']}, {'name': 'Ago.2009', 'values': ['886.731603']}, {'name': 'Sep.2009', 'values': ['828.751989']}, {'name': 'Oct.2009', 'values': ['944.5372702']}, {'name': 'Nov.2009', 'values': ['943.565881']}, {'name': 'Dic.2009', 'values': ['916.863898']}, {'name': 'Ene.2010', 'values': ['815.435659']}, {'name': 'Feb.2010', 'values': ['642.067142']}, {'name': 'Mar.2010', 'values': ['777.233558']}, {'name': 'Abr.2010', 'values': ['730.081485']}, {'name': 'May.2010', 'values': ['679.08658']}, {'name': 'Jun.2010', 'values': ['814.783493']}, {'name': 'Jul.2010', 'values': ['844.296772']}, {'name': 'Ago.2010', 'values': ['943.576825']}, {'name': 'Sep.2010', 'values': ['892.094841']}, {'name': 'Oct.2010', 'values': ['860.417649']}, {'name': 'Nov.2010', 'values': ['934.081035']}, {'name': 'Dic.2010', 'values': ['924.699607']}, {'name': 'Ene.2011', 'values': ['798.121859']}, {'name': 'Feb.2011', 'values': ['648.203156']}, {'name': 'Mar.2011', 'values': ['877.140732']}, {'name': 'Abr.2011', 'values': ['716.297238']}, {'name': 'May.2011', 'values': ['738.21526991']}, {'name': 'Jun.2011', 'values': ['671.287789']}, {'name': 'Jul.2011', 'values': ['775.445627']}, {'name': 'Ago.2011', 'values': ['953.747189']}, {'name': 'Sep.2011', 'values': ['847.744096']}, {'name': 'Oct.2011', 'values': ['924.8626644']}, {'name': 'Nov.2011', 'values': ['951.930081']}, {'name': 'Dic.2011', 'values': ['981.940607']}, {'name': 'Ene.2012', 'values': ['822.576389']}, {'name': 'Feb.2012', 'values': ['734.735766']}, {'name': 'Mar.2012', 'values': ['808.6860627']}, {'name': 'Abr.2012', 'values': ['690.625409']}, {'name': 'May.2012', 'values': ['684.752056']}, {'name': 'Jun.2012', 'values': ['673.287666']}, {'name': 'Jul.2012', 'values': ['833.736682']}, {'name': 'Ago.2012', 'values': ['1026.393395']}, {'name': 'Sep.2012', 'values': ['1042.703843']}, {'name': 'Oct.2012', 'values': ['1018.739248']}, {'name': 'Nov.2012', 'values': ['1069.29479']}, {'name': 'Dic.2012', 'values': ['963.335131']}, {'name': 'Ene.2013', 'values': ['887.6442834']}, {'name': 'Feb.2013', 'values': ['856.311766']}, {'name': 'Mar.2013', 'values': ['781.55458']}, {'name': 'Abr.2013', 'values': ['908.678925']}, {'name': 'May.2013', 'values': ['924.512282']}, {'name': 'Jun.2013', 'values': ['810.928907']}, {'name': 'Jul.2013', 'values': ['713.86344']}, {'name': 'Ago.2013', 'values': ['955.883083']}, {'name': 'Sep.2013', 'values': ['1059.277679']}, {'name': 'Oct.2013', 'values': ['1034.891328']}, {'name': 'Nov.2013', 'values': ['1022.380629']}, {'name': 'Dic.2013', 'values': ['1036.313395']}, {'name': 'Ene.2014', 'values': ['937.674121']}, {'name': 'Feb.2014', 'values': ['927.4590181']}, {'name': 'Mar.2014', 'values': ['927.372818']}, {'name': 'Abr.2014', 'values': ['945.441172']}, {'name': 'May.2014', 'values': ['945.496013']}, {'name': 'Jun.2014', 'values': ['763.459765']}, {'name': 'Jul.2014', 'values': ['722.4939193']}, {'name': 'Ago.2014', 'values': ['1033.122122']}, {'name': 'Sep.2014', 'values': ['1057.653484']}, {'name': 'Oct.2014', 'values': ['1067.155711']}, {'name': 'Nov.2014', 'values': ['1033.529399']}, {'name': 'Dic.2014', 'values': ['1028.759646']}, {'name': 'Ene.2015', 'values': ['848.099936']}, {'name': 'Feb.2015', 'values': ['836.3536']}, {'name': 'Mar.2015', 'values': ['807.463149']}, {'name': 'Abr.2015', 'values': ['690.159479']}, {'name': 'May.2015', 'values': ['599.2565305']}, {'name': 'Jun.2015', 'values': ['778.173559']}, {'name': 'Jul.2015', 'values': ['738.630779']}, {'name': 'Ago.2015', 'values': ['986.813148']}, {'name': 'Sep.2015', 'values': ['951.369459']}, {'name': 'Oct.2015', 'values': ['997.260528000001']}, {'name': 'Nov.2015', 'values': ['1003.262558']}, {'name': 'Dic.2015', 'values': ['975.013541300001']}, {'name': 'Ene.2016', 'values': ['923.508349']}, {'name': 'Feb.2016', 'values': ['725.6230765']}, {'name': 'Mar.2016', 'values': ['541.557752']}, {'name': 'Abr.2016', 'values': ['540.712891']}, {'name': 'May.2016', 'values': ['573.05019']}, {'name': 'Jun.2016', 'values': ['822.38104']}, {'name': 'Jul.2016', 'values': ['994.317959']}, {'name': 'Ago.2016', 'values': ['956.951961']}, {'name': 'Sep.2016', 'values': ['905.273734']}, {'name': 'Oct.2016', 'values': ['963.805002']}, {'name': 'Nov.2016', 'values': ['948.841925000001']}, {'name': 'Dic.2016', 'values': ['936.501711999999']}, {'name': 'Ene.2017', 'values': ['862.793268']}, {'name': 'Feb.2017', 'values': ['611.876711']}, {'name': 'Mar.2017', 'values': ['288.130603']}, {'name': 'Abr.2017', 'values': ['454.322005']}, {'name': 'May.2017', 'values': ['684.237753']}, {'name': 'Jun.2017', 'values': ['732.269985']}, {'name': 'Jul.2017', 'values': ['908.91931']}, {'name': 'Ago.2017', 'values': ['976.767441']}, {'name': 'Sep.2017', 'values': ['1005.03729']}, {'name': 'Oct.2017', 'values': ['1011.618621']}, {'name': 'Nov.2017', 'values': ['1002.973953']}, {'name': 'Dic.2017', 'values': ['860.670006']}, {'name': 'Ene.2018', 'values': ['814.883561']}, {'name': 'Feb.2018', 'values': ['659.542511']}, {'name': 'Mar.2018', 'values': ['600.336694']}, {'name': 'Abr.2018', 'values': ['510.918631']}, {'name': 'May.2018', 'values': ['643.581268']}, {'name': 'Jun.2018', 'values': ['892.3336777']}, {'name': 'Jul.2018', 'values': ['982.8036811961']}, {'name': 'Ago.2018', 'values': ['1013.0798879']}, {'name': 'Sep.2018', 'values': ['1028.8224001373']}, {'name': 'Oct.2018', 'values': ['1029.934445']}, {'name': 'Nov.2018', 'values': ['1101.878652']}, {'name': 'Dic.2018', 'values': ['1058.062499']}, {'name': 'Ene.2019', 'values': ['868.184771']}, {'name': 'Feb.2019', 'values': ['790.313662']}, {'name': 'Mar.2019', 'values': ['880.200599']}, {'name': 'Abr.2019', 'values': ['712.496578']}, {'name': 'May.2019', 'values': ['762.969635']}, {'name': 'Jun.2019', 'values': ['763.607321']}, {'name': 'Jul.2019', 'values': ['1074.083986']}, {'name': 'Ago.2019', 'values': ['1050.3646']}, {'name': 'Sep.2019', 'values': ['1033.944361']}, {'name': 'Oct.2019', 'values': ['1050.133411']}, {'name': 'Nov.2019', 'values': ['1007.061606']}, {'name': 'Dic.2019', 'values': ['909.54535']}, {'name': 'Ene.2020', 'values': ['839.43969']}, {'name': 'Feb.2020', 'values': ['752.577388']}, {'name': 'Mar.2020', 'values': ['637.266887']}, {'name': 'Abr.2020', 'values': ['719.264023']}, {'name': 'May.2020', 'values': ['915.35346']}, {'name': 'Jun.2020', 'values': ['927.495305']}, {'name': 'Jul.2020', 'values': ['834.344043']}, {'name': 'Ago.2020', 'values': ['853.13817']}, {'name': 'Sep.2020', 'values': ['945.559219']}, {'name': 'Oct.2020', 'values': ['1064.068581']}, {'name': 'Nov.2020', 'values': ['957.56471']}, {'name': 'Dic.2020', 'values': ['1022.72885446193']}]

In [142]:
periodos=response_json.get("periods")
prod_caña_azúcar=[]
for i in periodos:
    valores_list=i["values"]
    for w in valores_list:
        w=str(w)
        prod_caña_azúcar.append(w)
        
print(prod_caña_azúcar)

['653.65969', '577.153718295517', '529.53147', '329.611459', '582.68222', '763.955922', '772.001908', '831.362911', '766.045178', '852.60092', '761.283162', '808.73481255436', '749.339106', '602.225889', '621.857592', '643.09511', '656.3939', '789.755519', '831.460129', '891.651318', '894.059291', '944.060746', '878.348126', '893.712317', '827.66655', '836.013145842', '848.890026', '708.376767', '647.121366', '669.487113', '878.939209', '886.731603', '828.751989', '944.5372702', '943.565881', '916.863898', '815.435659', '642.067142', '777.233558', '730.081485', '679.08658', '814.783493', '844.296772', '943.576825', '892.094841', '860.417649', '934.081035', '924.699607', '798.121859', '648.203156', '877.140732', '716.297238', '738.21526991', '671.287789', '775.445627', '953.747189', '847.744096', '924.8626644', '951.930081', '981.940607', '822.576389', '734.735766', '808.6860627', '690.625409', '684.752056', '673.287666', '833.736682', '1026.393395', '1042.703843', '1018.739248', '1069.29479', '963.335131', '887.6442834', '856.311766', '781.55458', '908.678925', '924.512282', '810.928907', '713.86344', '955.883083', '1059.277679', '1034.891328', '1022.380629', '1036.313395', '937.674121', '927.4590181', '927.372818', '945.441172', '945.496013', '763.459765', '722.4939193', '1033.122122', '1057.653484', '1067.155711', '1033.529399', '1028.759646', '848.099936', '836.3536', '807.463149', '690.159479', '599.2565305', '778.173559', '738.630779', '986.813148', '951.369459', '997.260528000001', '1003.262558', '975.013541300001', '923.508349', '725.6230765', '541.557752', '540.712891', '573.05019', '822.38104', '994.317959', '956.951961', '905.273734', '963.805002', '948.841925000001', '936.501711999999', '862.793268', '611.876711', '288.130603', '454.322005', '684.237753', '732.269985', '908.91931', '976.767441', '1005.03729', '1011.618621', '1002.973953', '860.670006', '814.883561', '659.542511', '600.336694', '510.918631', '643.581268', '892.3336777', '982.8036811961', '1013.0798879', '1028.8224001373', '1029.934445', '1101.878652', '1058.062499', '868.184771', '790.313662', '880.200599', '712.496578', '762.969635', '763.607321', '1074.083986', '1050.3646', '1033.944361', '1050.133411', '1007.061606', '909.54535', '839.43969', '752.577388', '637.266887', '719.264023', '915.35346', '927.495305', '834.344043', '853.13817', '945.559219', '1064.068581', '957.56471', '1022.72885446193']

In [143]:
fechas=[]
for i in periodos:
    nombres=i["name"]
    fechas.append(nombres)
print(fechas)

['Ene.2007', 'Feb.2007', 'Mar.2007', 'Abr.2007', 'May.2007', 'Jun.2007', 'Jul.2007', 'Ago.2007', 'Sep.2007', 'Oct.2007', 'Nov.2007', 'Dic.2007', 'Ene.2008', 'Feb.2008', 'Mar.2008', 'Abr.2008', 'May.2008', 'Jun.2008', 'Jul.2008', 'Ago.2008', 'Sep.2008', 'Oct.2008', 'Nov.2008', 'Dic.2008', 'Ene.2009', 'Feb.2009', 'Mar.2009', 'Abr.2009', 'May.2009', 'Jun.2009', 'Jul.2009', 'Ago.2009', 'Sep.2009', 'Oct.2009', 'Nov.2009', 'Dic.2009', 'Ene.2010', 'Feb.2010', 'Mar.2010', 'Abr.2010', 'May.2010', 'Jun.2010', 'Jul.2010', 'Ago.2010', 'Sep.2010', 'Oct.2010', 'Nov.2010', 'Dic.2010', 'Ene.2011', 'Feb.2011', 'Mar.2011', 'Abr.2011', 'May.2011', 'Jun.2011', 'Jul.2011', 'Ago.2011', 'Sep.2011', 'Oct.2011', 'Nov.2011', 'Dic.2011', 'Ene.2012', 'Feb.2012', 'Mar.2012', 'Abr.2012', 'May.2012', 'Jun.2012', 'Jul.2012', 'Ago.2012', 'Sep.2012', 'Oct.2012', 'Nov.2012', 'Dic.2012', 'Ene.2013', 'Feb.2013', 'Mar.2013', 'Abr.2013', 'May.2013', 'Jun.2013', 'Jul.2013', 'Ago.2013', 'Sep.2013', 'Oct.2013', 'Nov.2013', 'Dic.2013', 'Ene.2014', 'Feb.2014', 'Mar.2014', 'Abr.2014', 'May.2014', 'Jun.2014', 'Jul.2014', 'Ago.2014', 'Sep.2014', 'Oct.2014', 'Nov.2014', 'Dic.2014', 'Ene.2015', 'Feb.2015', 'Mar.2015', 'Abr.2015', 'May.2015', 'Jun.2015', 'Jul.2015', 'Ago.2015', 'Sep.2015', 'Oct.2015', 'Nov.2015', 'Dic.2015', 'Ene.2016', 'Feb.2016', 'Mar.2016', 'Abr.2016', 'May.2016', 'Jun.2016', 'Jul.2016', 'Ago.2016', 'Sep.2016', 'Oct.2016', 'Nov.2016', 'Dic.2016', 'Ene.2017', 'Feb.2017', 'Mar.2017', 'Abr.2017', 'May.2017', 'Jun.2017', 'Jul.2017', 'Ago.2017', 'Sep.2017', 'Oct.2017', 'Nov.2017', 'Dic.2017', 'Ene.2018', 'Feb.2018', 'Mar.2018', 'Abr.2018', 'May.2018', 'Jun.2018', 'Jul.2018', 'Ago.2018', 'Sep.2018', 'Oct.2018', 'Nov.2018', 'Dic.2018', 'Ene.2019', 'Feb.2019', 'Mar.2019', 'Abr.2019', 'May.2019', 'Jun.2019', 'Jul.2019', 'Ago.2019', 'Sep.2019', 'Oct.2019', 'Nov.2019', 'Dic.2019', 'Ene.2020', 'Feb.2020', 'Mar.2020', 'Abr.2020', 'May.2020', 'Jun.2020', 'Jul.2020', 'Ago.2020', 'Sep.2020', 'Oct.2020', 'Nov.2020', 'Dic.2020']

In [144]:
diccionario12= {"Fechas":fechas, "Valores":prod_caña_azúcar}
print(diccionario12)

{'Fechas': ['Ene.2007', 'Feb.2007', 'Mar.2007', 'Abr.2007', 'May.2007', 'Jun.2007', 'Jul.2007', 'Ago.2007', 'Sep.2007', 'Oct.2007', 'Nov.2007', 'Dic.2007', 'Ene.2008', 'Feb.2008', 'Mar.2008', 'Abr.2008', 'May.2008', 'Jun.2008', 'Jul.2008', 'Ago.2008', 'Sep.2008', 'Oct.2008', 'Nov.2008', 'Dic.2008', 'Ene.2009', 'Feb.2009', 'Mar.2009', 'Abr.2009', 'May.2009', 'Jun.2009', 'Jul.2009', 'Ago.2009', 'Sep.2009', 'Oct.2009', 'Nov.2009', 'Dic.2009', 'Ene.2010', 'Feb.2010', 'Mar.2010', 'Abr.2010', 'May.2010', 'Jun.2010', 'Jul.2010', 'Ago.2010', 'Sep.2010', 'Oct.2010', 'Nov.2010', 'Dic.2010', 'Ene.2011', 'Feb.2011', 'Mar.2011', 'Abr.2011', 'May.2011', 'Jun.2011', 'Jul.2011', 'Ago.2011', 'Sep.2011', 'Oct.2011', 'Nov.2011', 'Dic.2011', 'Ene.2012', 'Feb.2012', 'Mar.2012', 'Abr.2012', 'May.2012', 'Jun.2012', 'Jul.2012', 'Ago.2012', 'Sep.2012', 'Oct.2012', 'Nov.2012', 'Dic.2012', 'Ene.2013', 'Feb.2013', 'Mar.2013', 'Abr.2013', 'May.2013', 'Jun.2013', 'Jul.2013', 'Ago.2013', 'Sep.2013', 'Oct.2013', 'Nov.2013', 'Dic.2013', 'Ene.2014', 'Feb.2014', 'Mar.2014', 'Abr.2014', 'May.2014', 'Jun.2014', 'Jul.2014', 'Ago.2014', 'Sep.2014', 'Oct.2014', 'Nov.2014', 'Dic.2014', 'Ene.2015', 'Feb.2015', 'Mar.2015', 'Abr.2015', 'May.2015', 'Jun.2015', 'Jul.2015', 'Ago.2015', 'Sep.2015', 'Oct.2015', 'Nov.2015', 'Dic.2015', 'Ene.2016', 'Feb.2016', 'Mar.2016', 'Abr.2016', 'May.2016', 'Jun.2016', 'Jul.2016', 'Ago.2016', 'Sep.2016', 'Oct.2016', 'Nov.2016', 'Dic.2016', 'Ene.2017', 'Feb.2017', 'Mar.2017', 'Abr.2017', 'May.2017', 'Jun.2017', 'Jul.2017', 'Ago.2017', 'Sep.2017', 'Oct.2017', 'Nov.2017', 'Dic.2017', 'Ene.2018', 'Feb.2018', 'Mar.2018', 'Abr.2018', 'May.2018', 'Jun.2018', 'Jul.2018', 'Ago.2018', 'Sep.2018', 'Oct.2018', 'Nov.2018', 'Dic.2018', 'Ene.2019', 'Feb.2019', 'Mar.2019', 'Abr.2019', 'May.2019', 'Jun.2019', 'Jul.2019', 'Ago.2019', 'Sep.2019', 'Oct.2019', 'Nov.2019', 'Dic.2019', 'Ene.2020', 'Feb.2020', 'Mar.2020', 'Abr.2020', 'May.2020', 'Jun.2020', 'Jul.2020', 'Ago.2020', 'Sep.2020', 'Oct.2020', 'Nov.2020', 'Dic.2020'], 'Valores': ['653.65969', '577.153718295517', '529.53147', '329.611459', '582.68222', '763.955922', '772.001908', '831.362911', '766.045178', '852.60092', '761.283162', '808.73481255436', '749.339106', '602.225889', '621.857592', '643.09511', '656.3939', '789.755519', '831.460129', '891.651318', '894.059291', '944.060746', '878.348126', '893.712317', '827.66655', '836.013145842', '848.890026', '708.376767', '647.121366', '669.487113', '878.939209', '886.731603', '828.751989', '944.5372702', '943.565881', '916.863898', '815.435659', '642.067142', '777.233558', '730.081485', '679.08658', '814.783493', '844.296772', '943.576825', '892.094841', '860.417649', '934.081035', '924.699607', '798.121859', '648.203156', '877.140732', '716.297238', '738.21526991', '671.287789', '775.445627', '953.747189', '847.744096', '924.8626644', '951.930081', '981.940607', '822.576389', '734.735766', '808.6860627', '690.625409', '684.752056', '673.287666', '833.736682', '1026.393395', '1042.703843', '1018.739248', '1069.29479', '963.335131', '887.6442834', '856.311766', '781.55458', '908.678925', '924.512282', '810.928907', '713.86344', '955.883083', '1059.277679', '1034.891328', '1022.380629', '1036.313395', '937.674121', '927.4590181', '927.372818', '945.441172', '945.496013', '763.459765', '722.4939193', '1033.122122', '1057.653484', '1067.155711', '1033.529399', '1028.759646', '848.099936', '836.3536', '807.463149', '690.159479', '599.2565305', '778.173559', '738.630779', '986.813148', '951.369459', '997.260528000001', '1003.262558', '975.013541300001', '923.508349', '725.6230765', '541.557752', '540.712891', '573.05019', '822.38104', '994.317959', '956.951961', '905.273734', '963.805002', '948.841925000001', '936.501711999999', '862.793268', '611.876711', '288.130603', '454.322005', '684.237753', '732.269985', '908.91931', '976.767441', '1005.03729', '1011.618621', '1002.973953', '860.670006', '814.883561', '659.542511', '600.336694', '510.918631', '643.581268', '892.3336777', '982.8036811961', '1013.0798879', '1028.8224001373', '1029.934445', '1101.878652', '1058.062499', '868.184771', '790.313662', '880.200599', '712.496578', '762.969635', '763.607321', '1074.083986', '1050.3646', '1033.944361', '1050.133411', '1007.061606', '909.54535', '839.43969', '752.577388', '637.266887', '719.264023', '915.35346', '927.495305', '834.344043', '853.13817', '945.559219', '1064.068581', '957.56471', '1022.72885446193']}

In [145]:
df12=pd.DataFrame(diccionario12)
df12

       Fechas           Valores
0    Ene.2007         653.65969
1    Feb.2007  577.153718295517
2    Mar.2007         529.53147
3    Abr.2007        329.611459
4    May.2007         582.68222
..        ...               ...
163  Ago.2020         853.13817
164  Sep.2020        945.559219
165  Oct.2020       1064.068581
166  Nov.2020         957.56471
167  Dic.2020  1022.72885446193

[168 rows x 2 columns]

In [146]:
df12.rename(columns={'Valores':'Caña_azúcar'}, inplace=True)
df12.head()

     Fechas       Caña_azúcar
0  Ene.2007         653.65969
1  Feb.2007  577.153718295517
2  Mar.2007         529.53147
3  Abr.2007        329.611459
4  May.2007         582.68222

In [ ]:
# DATOS DE PRODUCCIÓN AGRÍCOLA DE ESPÁRRAGO

In [147]:
url_base="https://estadisticas.bcrp.gob.pe/estadisticas/series/api/"
cod_ser="PN01792AM"
formato="/json"
per="/2003-1/2020-12"
url=url_base+cod_ser+formato+per
print(url)

https://estadisticas.bcrp.gob.pe/estadisticas/series/api/PN01792AM/json/2003-1/2020-12

In [148]:
import requests
response=requests.get(url)
print(response)

<Response [200]>

In [149]:
# extraer en formato json
response_json=response.json()
print(response_json)

{'config': {'title': 'ProducciÃ³n agropecuaria (miles de toneladas)', 'series': [{'name': 'ProducciÃ³n agropecuaria (miles de toneladas) - AgrÃ\xadcola - EspÃ¡rrago', 'dec': '1'}]}, 'periods': [{'name': 'Ene.2007', 'values': ['19.6236']}, {'name': 'Feb.2007', 'values': ['21.2164']}, {'name': 'Mar.2007', 'values': ['21.24845']}, {'name': 'Abr.2007', 'values': ['20.9382']}, {'name': 'May.2007', 'values': ['18.985']}, {'name': 'Jun.2007', 'values': ['14.7205']}, {'name': 'Jul.2007', 'values': ['15.4742']}, {'name': 'Ago.2007', 'values': ['22.1696']}, {'name': 'Sep.2007', 'values': ['28.2739']}, {'name': 'Oct.2007', 'values': ['32.5516']}, {'name': 'Nov.2007', 'values': ['35.723568']}, {'name': 'Dic.2007', 'values': ['33.1783']}, {'name': 'Ene.2008', 'values': ['29.2222']}, {'name': 'Feb.2008', 'values': ['21.785']}, {'name': 'Mar.2008', 'values': ['23.7307']}, {'name': 'Abr.2008', 'values': ['23.94173']}, {'name': 'May.2008', 'values': ['22.40165']}, {'name': 'Jun.2008', 'values': ['21.7113']}, {'name': 'Jul.2008', 'values': ['27.9119']}, {'name': 'Ago.2008', 'values': ['26.3187']}, {'name': 'Sep.2008', 'values': ['31.5624']}, {'name': 'Oct.2008', 'values': ['36.074279']}, {'name': 'Nov.2008', 'values': ['32.86868']}, {'name': 'Dic.2008', 'values': ['30.8451']}, {'name': 'Ene.2009', 'values': ['21.76946']}, {'name': 'Feb.2009', 'values': ['18.66679']}, {'name': 'Mar.2009', 'values': ['20.3627']}, {'name': 'Abr.2009', 'values': ['23.1621']}, {'name': 'May.2009', 'values': ['21.2424']}, {'name': 'Jun.2009', 'values': ['21.4766']}, {'name': 'Jul.2009', 'values': ['25.450959']}, {'name': 'Ago.2009', 'values': ['26.0583']}, {'name': 'Sep.2009', 'values': ['29.82792']}, {'name': 'Oct.2009', 'values': ['36.4068']}, {'name': 'Nov.2009', 'values': ['34.991']}, {'name': 'Dic.2009', 'values': ['34.46467']}, {'name': 'Ene.2010', 'values': ['22.6895']}, {'name': 'Feb.2010', 'values': ['23.36415']}, {'name': 'Mar.2010', 'values': ['22.8577']}, {'name': 'Abr.2010', 'values': ['22.78428']}, {'name': 'May.2010', 'values': ['22.729239']}, {'name': 'Jun.2010', 'values': ['22.148219']}, {'name': 'Jul.2010', 'values': ['22.7204']}, {'name': 'Ago.2010', 'values': ['26.54515']}, {'name': 'Sep.2010', 'values': ['32.98895']}, {'name': 'Oct.2010', 'values': ['38.2884']}, {'name': 'Nov.2010', 'values': ['41.6345']}, {'name': 'Dic.2010', 'values': ['36.458779']}, {'name': 'Ene.2011', 'values': ['30.80188']}, {'name': 'Feb.2011', 'values': ['25.7557']}, {'name': 'Mar.2011', 'values': ['31.211599']}, {'name': 'Abr.2011', 'values': ['35.414929']}, {'name': 'May.2011', 'values': ['30.203709']}, {'name': 'Jun.2011', 'values': ['20.26131']}, {'name': 'Jul.2011', 'values': ['24.550299']}, {'name': 'Ago.2011', 'values': ['26.52469']}, {'name': 'Sep.2011', 'values': ['31.02236']}, {'name': 'Oct.2011', 'values': ['47.48895']}, {'name': 'Nov.2011', 'values': ['47.933729']}, {'name': 'Dic.2011', 'values': ['41.13699']}, {'name': 'Ene.2012', 'values': ['25.950049']}, {'name': 'Feb.2012', 'values': ['26.26332']}, {'name': 'Mar.2012', 'values': ['30.76402']}, {'name': 'Abr.2012', 'values': ['25.61188']}, {'name': 'May.2012', 'values': ['25.5231']}, {'name': 'Jun.2012', 'values': ['25.16585']}, {'name': 'Jul.2012', 'values': ['22.34019']}, {'name': 'Ago.2012', 'values': ['24.55824']}, {'name': 'Sep.2012', 'values': ['34.19388']}, {'name': 'Oct.2012', 'values': ['47.495399']}, {'name': 'Nov.2012', 'values': ['49.00122']}, {'name': 'Dic.2012', 'values': ['39.110558']}, {'name': 'Ene.2013', 'values': ['26.68537']}, {'name': 'Feb.2013', 'values': ['27.26218']}, {'name': 'Mar.2013', 'values': ['31.32231']}, {'name': 'Abr.2013', 'values': ['24.7164']}, {'name': 'May.2013', 'values': ['24.991']}, {'name': 'Jun.2013', 'values': ['25.593169']}, {'name': 'Jul.2013', 'values': ['20.91962']}, {'name': 'Ago.2013', 'values': ['25.03442']}, {'name': 'Sep.2013', 'values': ['40.227269']}, {'name': 'Oct.2013', 'values': ['47.8185']}, {'name': 'Nov.2013', 'values': ['50.18854']}, {'name': 'Dic.2013', 'values': ['39.44495']}, {'name': 'Ene.2014', 'values': ['28.75743']}, {'name': 'Feb.2014', 'values': ['28.958229']}, {'name': 'Mar.2014', 'values': ['32.38205']}, {'name': 'Abr.2014', 'values': ['27.67454']}, {'name': 'May.2014', 'values': ['26.61249']}, {'name': 'Jun.2014', 'values': ['25.3794']}, {'name': 'Jul.2014', 'values': ['20.71009']}, {'name': 'Ago.2014', 'values': ['25.76205']}, {'name': 'Sep.2014', 'values': ['34.31749']}, {'name': 'Oct.2014', 'values': ['42.27255']}, {'name': 'Nov.2014', 'values': ['45.60925']}, {'name': 'Dic.2014', 'values': ['39.2654']}, {'name': 'Ene.2015', 'values': ['27.16615']}, {'name': 'Feb.2015', 'values': ['29.70839']}, {'name': 'Mar.2015', 'values': ['32.09619']}, {'name': 'Abr.2015', 'values': ['28.37866']}, {'name': 'May.2015', 'values': ['28.880459']}, {'name': 'Jun.2015', 'values': ['27.28442']}, {'name': 'Jul.2015', 'values': ['23.65927']}, {'name': 'Ago.2015', 'values': ['26.89299']}, {'name': 'Sep.2015', 'values': ['32.50303']}, {'name': 'Oct.2015', 'values': ['37.09842']}, {'name': 'Nov.2015', 'values': ['42.36765']}, {'name': 'Dic.2015', 'values': ['34.74742']}, {'name': 'Ene.2016', 'values': ['28.90982']}, {'name': 'Feb.2016', 'values': ['29.06673']}, {'name': 'Mar.2016', 'values': ['32.49926']}, {'name': 'Abr.2016', 'values': ['29.66912']}, {'name': 'May.2016', 'values': ['31.26517']}, {'name': 'Jun.2016', 'values': ['28.50707']}, {'name': 'Jul.2016', 'values': ['23.20086']}, {'name': 'Ago.2016', 'values': ['30.265138']}, {'name': 'Sep.2016', 'values': ['36.39455']}, {'name': 'Oct.2016', 'values': ['38.40936']}, {'name': 'Nov.2016', 'values': ['37.32491']}, {'name': 'Dic.2016', 'values': ['32.7938']}, {'name': 'Ene.2017', 'values': ['31.6252']}, {'name': 'Feb.2017', 'values': ['30.9451']}, {'name': 'Mar.2017', 'values': ['30.94757']}, {'name': 'Abr.2017', 'values': ['30.37816']}, {'name': 'May.2017', 'values': ['30.90708']}, {'name': 'Jun.2017', 'values': ['28.11482']}, {'name': 'Jul.2017', 'values': ['24.08134']}, {'name': 'Ago.2017', 'values': ['27.8198']}, {'name': 'Sep.2017', 'values': ['36.03365']}, {'name': 'Oct.2017', 'values': ['37.23125']}, {'name': 'Nov.2017', 'values': ['38.54964']}, {'name': 'Dic.2017', 'values': ['36.4639']}, {'name': 'Ene.2018', 'values': ['30.04991']}, {'name': 'Feb.2018', 'values': ['27.15195']}, {'name': 'Mar.2018', 'values': ['30.0181']}, {'name': 'Abr.2018', 'values': ['29.167']}, {'name': 'May.2018', 'values': ['27.9673']}, {'name': 'Jun.2018', 'values': ['27.2853']}, {'name': 'Jul.2018', 'values': ['23.07605']}, {'name': 'Ago.2018', 'values': ['26.5026']}, {'name': 'Sep.2018', 'values': ['36.25905']}, {'name': 'Oct.2018', 'values': ['34.24605']}, {'name': 'Nov.2018', 'values': ['36.14513']}, {'name': 'Dic.2018', 'values': ['32.7617']}, {'name': 'Ene.2019', 'values': ['31.72855']}, {'name': 'Feb.2019', 'values': ['29.9641']}, {'name': 'Mar.2019', 'values': ['31.9604']}, {'name': 'Abr.2019', 'values': ['28.39354']}, {'name': 'May.2019', 'values': ['26.67629']}, {'name': 'Jun.2019', 'values': ['28.51434']}, {'name': 'Jul.2019', 'values': ['22.5203']}, {'name': 'Ago.2019', 'values': ['25.62637']}, {'name': 'Sep.2019', 'values': ['32.63173']}, {'name': 'Oct.2019', 'values': ['32.0538']}, {'name': 'Nov.2019', 'values': ['34.0748']}, {'name': 'Dic.2019', 'values': ['32.64534']}, {'name': 'Ene.2020', 'values': ['27.3325']}, {'name': 'Feb.2020', 'values': ['36.32057']}, {'name': 'Mar.2020', 'values': ['32.9288']}, {'name': 'Abr.2020', 'values': ['32.16967']}, {'name': 'May.2020', 'values': ['28.231719']}, {'name': 'Jun.2020', 'values': ['30.20518']}, {'name': 'Jul.2020', 'values': ['26.05722']}, {'name': 'Ago.2020', 'values': ['26.2223']}, {'name': 'Sep.2020', 'values': ['32.08105']}, {'name': 'Oct.2020', 'values': ['33.631']}, {'name': 'Nov.2020', 'values': ['34.4247']}, {'name': 'Dic.2020', 'values': ['30.9274']}]}

In [150]:
for key in response_json.keys():
    print(key)

config
periods

In [151]:
print(response_json["config"])

{'title': 'ProducciÃ³n agropecuaria (miles de toneladas)', 'series': [{'name': 'ProducciÃ³n agropecuaria (miles de toneladas) - AgrÃ\xadcola - EspÃ¡rrago', 'dec': '1'}]}

In [152]:
# llamar a los valores
print(response_json["periods"])

[{'name': 'Ene.2007', 'values': ['19.6236']}, {'name': 'Feb.2007', 'values': ['21.2164']}, {'name': 'Mar.2007', 'values': ['21.24845']}, {'name': 'Abr.2007', 'values': ['20.9382']}, {'name': 'May.2007', 'values': ['18.985']}, {'name': 'Jun.2007', 'values': ['14.7205']}, {'name': 'Jul.2007', 'values': ['15.4742']}, {'name': 'Ago.2007', 'values': ['22.1696']}, {'name': 'Sep.2007', 'values': ['28.2739']}, {'name': 'Oct.2007', 'values': ['32.5516']}, {'name': 'Nov.2007', 'values': ['35.723568']}, {'name': 'Dic.2007', 'values': ['33.1783']}, {'name': 'Ene.2008', 'values': ['29.2222']}, {'name': 'Feb.2008', 'values': ['21.785']}, {'name': 'Mar.2008', 'values': ['23.7307']}, {'name': 'Abr.2008', 'values': ['23.94173']}, {'name': 'May.2008', 'values': ['22.40165']}, {'name': 'Jun.2008', 'values': ['21.7113']}, {'name': 'Jul.2008', 'values': ['27.9119']}, {'name': 'Ago.2008', 'values': ['26.3187']}, {'name': 'Sep.2008', 'values': ['31.5624']}, {'name': 'Oct.2008', 'values': ['36.074279']}, {'name': 'Nov.2008', 'values': ['32.86868']}, {'name': 'Dic.2008', 'values': ['30.8451']}, {'name': 'Ene.2009', 'values': ['21.76946']}, {'name': 'Feb.2009', 'values': ['18.66679']}, {'name': 'Mar.2009', 'values': ['20.3627']}, {'name': 'Abr.2009', 'values': ['23.1621']}, {'name': 'May.2009', 'values': ['21.2424']}, {'name': 'Jun.2009', 'values': ['21.4766']}, {'name': 'Jul.2009', 'values': ['25.450959']}, {'name': 'Ago.2009', 'values': ['26.0583']}, {'name': 'Sep.2009', 'values': ['29.82792']}, {'name': 'Oct.2009', 'values': ['36.4068']}, {'name': 'Nov.2009', 'values': ['34.991']}, {'name': 'Dic.2009', 'values': ['34.46467']}, {'name': 'Ene.2010', 'values': ['22.6895']}, {'name': 'Feb.2010', 'values': ['23.36415']}, {'name': 'Mar.2010', 'values': ['22.8577']}, {'name': 'Abr.2010', 'values': ['22.78428']}, {'name': 'May.2010', 'values': ['22.729239']}, {'name': 'Jun.2010', 'values': ['22.148219']}, {'name': 'Jul.2010', 'values': ['22.7204']}, {'name': 'Ago.2010', 'values': ['26.54515']}, {'name': 'Sep.2010', 'values': ['32.98895']}, {'name': 'Oct.2010', 'values': ['38.2884']}, {'name': 'Nov.2010', 'values': ['41.6345']}, {'name': 'Dic.2010', 'values': ['36.458779']}, {'name': 'Ene.2011', 'values': ['30.80188']}, {'name': 'Feb.2011', 'values': ['25.7557']}, {'name': 'Mar.2011', 'values': ['31.211599']}, {'name': 'Abr.2011', 'values': ['35.414929']}, {'name': 'May.2011', 'values': ['30.203709']}, {'name': 'Jun.2011', 'values': ['20.26131']}, {'name': 'Jul.2011', 'values': ['24.550299']}, {'name': 'Ago.2011', 'values': ['26.52469']}, {'name': 'Sep.2011', 'values': ['31.02236']}, {'name': 'Oct.2011', 'values': ['47.48895']}, {'name': 'Nov.2011', 'values': ['47.933729']}, {'name': 'Dic.2011', 'values': ['41.13699']}, {'name': 'Ene.2012', 'values': ['25.950049']}, {'name': 'Feb.2012', 'values': ['26.26332']}, {'name': 'Mar.2012', 'values': ['30.76402']}, {'name': 'Abr.2012', 'values': ['25.61188']}, {'name': 'May.2012', 'values': ['25.5231']}, {'name': 'Jun.2012', 'values': ['25.16585']}, {'name': 'Jul.2012', 'values': ['22.34019']}, {'name': 'Ago.2012', 'values': ['24.55824']}, {'name': 'Sep.2012', 'values': ['34.19388']}, {'name': 'Oct.2012', 'values': ['47.495399']}, {'name': 'Nov.2012', 'values': ['49.00122']}, {'name': 'Dic.2012', 'values': ['39.110558']}, {'name': 'Ene.2013', 'values': ['26.68537']}, {'name': 'Feb.2013', 'values': ['27.26218']}, {'name': 'Mar.2013', 'values': ['31.32231']}, {'name': 'Abr.2013', 'values': ['24.7164']}, {'name': 'May.2013', 'values': ['24.991']}, {'name': 'Jun.2013', 'values': ['25.593169']}, {'name': 'Jul.2013', 'values': ['20.91962']}, {'name': 'Ago.2013', 'values': ['25.03442']}, {'name': 'Sep.2013', 'values': ['40.227269']}, {'name': 'Oct.2013', 'values': ['47.8185']}, {'name': 'Nov.2013', 'values': ['50.18854']}, {'name': 'Dic.2013', 'values': ['39.44495']}, {'name': 'Ene.2014', 'values': ['28.75743']}, {'name': 'Feb.2014', 'values': ['28.958229']}, {'name': 'Mar.2014', 'values': ['32.38205']}, {'name': 'Abr.2014', 'values': ['27.67454']}, {'name': 'May.2014', 'values': ['26.61249']}, {'name': 'Jun.2014', 'values': ['25.3794']}, {'name': 'Jul.2014', 'values': ['20.71009']}, {'name': 'Ago.2014', 'values': ['25.76205']}, {'name': 'Sep.2014', 'values': ['34.31749']}, {'name': 'Oct.2014', 'values': ['42.27255']}, {'name': 'Nov.2014', 'values': ['45.60925']}, {'name': 'Dic.2014', 'values': ['39.2654']}, {'name': 'Ene.2015', 'values': ['27.16615']}, {'name': 'Feb.2015', 'values': ['29.70839']}, {'name': 'Mar.2015', 'values': ['32.09619']}, {'name': 'Abr.2015', 'values': ['28.37866']}, {'name': 'May.2015', 'values': ['28.880459']}, {'name': 'Jun.2015', 'values': ['27.28442']}, {'name': 'Jul.2015', 'values': ['23.65927']}, {'name': 'Ago.2015', 'values': ['26.89299']}, {'name': 'Sep.2015', 'values': ['32.50303']}, {'name': 'Oct.2015', 'values': ['37.09842']}, {'name': 'Nov.2015', 'values': ['42.36765']}, {'name': 'Dic.2015', 'values': ['34.74742']}, {'name': 'Ene.2016', 'values': ['28.90982']}, {'name': 'Feb.2016', 'values': ['29.06673']}, {'name': 'Mar.2016', 'values': ['32.49926']}, {'name': 'Abr.2016', 'values': ['29.66912']}, {'name': 'May.2016', 'values': ['31.26517']}, {'name': 'Jun.2016', 'values': ['28.50707']}, {'name': 'Jul.2016', 'values': ['23.20086']}, {'name': 'Ago.2016', 'values': ['30.265138']}, {'name': 'Sep.2016', 'values': ['36.39455']}, {'name': 'Oct.2016', 'values': ['38.40936']}, {'name': 'Nov.2016', 'values': ['37.32491']}, {'name': 'Dic.2016', 'values': ['32.7938']}, {'name': 'Ene.2017', 'values': ['31.6252']}, {'name': 'Feb.2017', 'values': ['30.9451']}, {'name': 'Mar.2017', 'values': ['30.94757']}, {'name': 'Abr.2017', 'values': ['30.37816']}, {'name': 'May.2017', 'values': ['30.90708']}, {'name': 'Jun.2017', 'values': ['28.11482']}, {'name': 'Jul.2017', 'values': ['24.08134']}, {'name': 'Ago.2017', 'values': ['27.8198']}, {'name': 'Sep.2017', 'values': ['36.03365']}, {'name': 'Oct.2017', 'values': ['37.23125']}, {'name': 'Nov.2017', 'values': ['38.54964']}, {'name': 'Dic.2017', 'values': ['36.4639']}, {'name': 'Ene.2018', 'values': ['30.04991']}, {'name': 'Feb.2018', 'values': ['27.15195']}, {'name': 'Mar.2018', 'values': ['30.0181']}, {'name': 'Abr.2018', 'values': ['29.167']}, {'name': 'May.2018', 'values': ['27.9673']}, {'name': 'Jun.2018', 'values': ['27.2853']}, {'name': 'Jul.2018', 'values': ['23.07605']}, {'name': 'Ago.2018', 'values': ['26.5026']}, {'name': 'Sep.2018', 'values': ['36.25905']}, {'name': 'Oct.2018', 'values': ['34.24605']}, {'name': 'Nov.2018', 'values': ['36.14513']}, {'name': 'Dic.2018', 'values': ['32.7617']}, {'name': 'Ene.2019', 'values': ['31.72855']}, {'name': 'Feb.2019', 'values': ['29.9641']}, {'name': 'Mar.2019', 'values': ['31.9604']}, {'name': 'Abr.2019', 'values': ['28.39354']}, {'name': 'May.2019', 'values': ['26.67629']}, {'name': 'Jun.2019', 'values': ['28.51434']}, {'name': 'Jul.2019', 'values': ['22.5203']}, {'name': 'Ago.2019', 'values': ['25.62637']}, {'name': 'Sep.2019', 'values': ['32.63173']}, {'name': 'Oct.2019', 'values': ['32.0538']}, {'name': 'Nov.2019', 'values': ['34.0748']}, {'name': 'Dic.2019', 'values': ['32.64534']}, {'name': 'Ene.2020', 'values': ['27.3325']}, {'name': 'Feb.2020', 'values': ['36.32057']}, {'name': 'Mar.2020', 'values': ['32.9288']}, {'name': 'Abr.2020', 'values': ['32.16967']}, {'name': 'May.2020', 'values': ['28.231719']}, {'name': 'Jun.2020', 'values': ['30.20518']}, {'name': 'Jul.2020', 'values': ['26.05722']}, {'name': 'Ago.2020', 'values': ['26.2223']}, {'name': 'Sep.2020', 'values': ['32.08105']}, {'name': 'Oct.2020', 'values': ['33.631']}, {'name': 'Nov.2020', 'values': ['34.4247']}, {'name': 'Dic.2020', 'values': ['30.9274']}]

In [153]:
periodos=response_json.get("periods")
prod_espárrago=[]
for i in periodos:
    valores_list=i["values"]
    for w in valores_list:
        w=str(w)
        prod_espárrago.append(w)
        
print(prod_espárrago)

['19.6236', '21.2164', '21.24845', '20.9382', '18.985', '14.7205', '15.4742', '22.1696', '28.2739', '32.5516', '35.723568', '33.1783', '29.2222', '21.785', '23.7307', '23.94173', '22.40165', '21.7113', '27.9119', '26.3187', '31.5624', '36.074279', '32.86868', '30.8451', '21.76946', '18.66679', '20.3627', '23.1621', '21.2424', '21.4766', '25.450959', '26.0583', '29.82792', '36.4068', '34.991', '34.46467', '22.6895', '23.36415', '22.8577', '22.78428', '22.729239', '22.148219', '22.7204', '26.54515', '32.98895', '38.2884', '41.6345', '36.458779', '30.80188', '25.7557', '31.211599', '35.414929', '30.203709', '20.26131', '24.550299', '26.52469', '31.02236', '47.48895', '47.933729', '41.13699', '25.950049', '26.26332', '30.76402', '25.61188', '25.5231', '25.16585', '22.34019', '24.55824', '34.19388', '47.495399', '49.00122', '39.110558', '26.68537', '27.26218', '31.32231', '24.7164', '24.991', '25.593169', '20.91962', '25.03442', '40.227269', '47.8185', '50.18854', '39.44495', '28.75743', '28.958229', '32.38205', '27.67454', '26.61249', '25.3794', '20.71009', '25.76205', '34.31749', '42.27255', '45.60925', '39.2654', '27.16615', '29.70839', '32.09619', '28.37866', '28.880459', '27.28442', '23.65927', '26.89299', '32.50303', '37.09842', '42.36765', '34.74742', '28.90982', '29.06673', '32.49926', '29.66912', '31.26517', '28.50707', '23.20086', '30.265138', '36.39455', '38.40936', '37.32491', '32.7938', '31.6252', '30.9451', '30.94757', '30.37816', '30.90708', '28.11482', '24.08134', '27.8198', '36.03365', '37.23125', '38.54964', '36.4639', '30.04991', '27.15195', '30.0181', '29.167', '27.9673', '27.2853', '23.07605', '26.5026', '36.25905', '34.24605', '36.14513', '32.7617', '31.72855', '29.9641', '31.9604', '28.39354', '26.67629', '28.51434', '22.5203', '25.62637', '32.63173', '32.0538', '34.0748', '32.64534', '27.3325', '36.32057', '32.9288', '32.16967', '28.231719', '30.20518', '26.05722', '26.2223', '32.08105', '33.631', '34.4247', '30.9274']

In [154]:
fechas=[]
for i in periodos:
    nombres=i["name"]
    fechas.append(nombres)
print(fechas)

['Ene.2007', 'Feb.2007', 'Mar.2007', 'Abr.2007', 'May.2007', 'Jun.2007', 'Jul.2007', 'Ago.2007', 'Sep.2007', 'Oct.2007', 'Nov.2007', 'Dic.2007', 'Ene.2008', 'Feb.2008', 'Mar.2008', 'Abr.2008', 'May.2008', 'Jun.2008', 'Jul.2008', 'Ago.2008', 'Sep.2008', 'Oct.2008', 'Nov.2008', 'Dic.2008', 'Ene.2009', 'Feb.2009', 'Mar.2009', 'Abr.2009', 'May.2009', 'Jun.2009', 'Jul.2009', 'Ago.2009', 'Sep.2009', 'Oct.2009', 'Nov.2009', 'Dic.2009', 'Ene.2010', 'Feb.2010', 'Mar.2010', 'Abr.2010', 'May.2010', 'Jun.2010', 'Jul.2010', 'Ago.2010', 'Sep.2010', 'Oct.2010', 'Nov.2010', 'Dic.2010', 'Ene.2011', 'Feb.2011', 'Mar.2011', 'Abr.2011', 'May.2011', 'Jun.2011', 'Jul.2011', 'Ago.2011', 'Sep.2011', 'Oct.2011', 'Nov.2011', 'Dic.2011', 'Ene.2012', 'Feb.2012', 'Mar.2012', 'Abr.2012', 'May.2012', 'Jun.2012', 'Jul.2012', 'Ago.2012', 'Sep.2012', 'Oct.2012', 'Nov.2012', 'Dic.2012', 'Ene.2013', 'Feb.2013', 'Mar.2013', 'Abr.2013', 'May.2013', 'Jun.2013', 'Jul.2013', 'Ago.2013', 'Sep.2013', 'Oct.2013', 'Nov.2013', 'Dic.2013', 'Ene.2014', 'Feb.2014', 'Mar.2014', 'Abr.2014', 'May.2014', 'Jun.2014', 'Jul.2014', 'Ago.2014', 'Sep.2014', 'Oct.2014', 'Nov.2014', 'Dic.2014', 'Ene.2015', 'Feb.2015', 'Mar.2015', 'Abr.2015', 'May.2015', 'Jun.2015', 'Jul.2015', 'Ago.2015', 'Sep.2015', 'Oct.2015', 'Nov.2015', 'Dic.2015', 'Ene.2016', 'Feb.2016', 'Mar.2016', 'Abr.2016', 'May.2016', 'Jun.2016', 'Jul.2016', 'Ago.2016', 'Sep.2016', 'Oct.2016', 'Nov.2016', 'Dic.2016', 'Ene.2017', 'Feb.2017', 'Mar.2017', 'Abr.2017', 'May.2017', 'Jun.2017', 'Jul.2017', 'Ago.2017', 'Sep.2017', 'Oct.2017', 'Nov.2017', 'Dic.2017', 'Ene.2018', 'Feb.2018', 'Mar.2018', 'Abr.2018', 'May.2018', 'Jun.2018', 'Jul.2018', 'Ago.2018', 'Sep.2018', 'Oct.2018', 'Nov.2018', 'Dic.2018', 'Ene.2019', 'Feb.2019', 'Mar.2019', 'Abr.2019', 'May.2019', 'Jun.2019', 'Jul.2019', 'Ago.2019', 'Sep.2019', 'Oct.2019', 'Nov.2019', 'Dic.2019', 'Ene.2020', 'Feb.2020', 'Mar.2020', 'Abr.2020', 'May.2020', 'Jun.2020', 'Jul.2020', 'Ago.2020', 'Sep.2020', 'Oct.2020', 'Nov.2020', 'Dic.2020']

In [155]:
diccionario13= {"Fechas":fechas, "Valores":prod_espárrago}
print(diccionario13)

{'Fechas': ['Ene.2007', 'Feb.2007', 'Mar.2007', 'Abr.2007', 'May.2007', 'Jun.2007', 'Jul.2007', 'Ago.2007', 'Sep.2007', 'Oct.2007', 'Nov.2007', 'Dic.2007', 'Ene.2008', 'Feb.2008', 'Mar.2008', 'Abr.2008', 'May.2008', 'Jun.2008', 'Jul.2008', 'Ago.2008', 'Sep.2008', 'Oct.2008', 'Nov.2008', 'Dic.2008', 'Ene.2009', 'Feb.2009', 'Mar.2009', 'Abr.2009', 'May.2009', 'Jun.2009', 'Jul.2009', 'Ago.2009', 'Sep.2009', 'Oct.2009', 'Nov.2009', 'Dic.2009', 'Ene.2010', 'Feb.2010', 'Mar.2010', 'Abr.2010', 'May.2010', 'Jun.2010', 'Jul.2010', 'Ago.2010', 'Sep.2010', 'Oct.2010', 'Nov.2010', 'Dic.2010', 'Ene.2011', 'Feb.2011', 'Mar.2011', 'Abr.2011', 'May.2011', 'Jun.2011', 'Jul.2011', 'Ago.2011', 'Sep.2011', 'Oct.2011', 'Nov.2011', 'Dic.2011', 'Ene.2012', 'Feb.2012', 'Mar.2012', 'Abr.2012', 'May.2012', 'Jun.2012', 'Jul.2012', 'Ago.2012', 'Sep.2012', 'Oct.2012', 'Nov.2012', 'Dic.2012', 'Ene.2013', 'Feb.2013', 'Mar.2013', 'Abr.2013', 'May.2013', 'Jun.2013', 'Jul.2013', 'Ago.2013', 'Sep.2013', 'Oct.2013', 'Nov.2013', 'Dic.2013', 'Ene.2014', 'Feb.2014', 'Mar.2014', 'Abr.2014', 'May.2014', 'Jun.2014', 'Jul.2014', 'Ago.2014', 'Sep.2014', 'Oct.2014', 'Nov.2014', 'Dic.2014', 'Ene.2015', 'Feb.2015', 'Mar.2015', 'Abr.2015', 'May.2015', 'Jun.2015', 'Jul.2015', 'Ago.2015', 'Sep.2015', 'Oct.2015', 'Nov.2015', 'Dic.2015', 'Ene.2016', 'Feb.2016', 'Mar.2016', 'Abr.2016', 'May.2016', 'Jun.2016', 'Jul.2016', 'Ago.2016', 'Sep.2016', 'Oct.2016', 'Nov.2016', 'Dic.2016', 'Ene.2017', 'Feb.2017', 'Mar.2017', 'Abr.2017', 'May.2017', 'Jun.2017', 'Jul.2017', 'Ago.2017', 'Sep.2017', 'Oct.2017', 'Nov.2017', 'Dic.2017', 'Ene.2018', 'Feb.2018', 'Mar.2018', 'Abr.2018', 'May.2018', 'Jun.2018', 'Jul.2018', 'Ago.2018', 'Sep.2018', 'Oct.2018', 'Nov.2018', 'Dic.2018', 'Ene.2019', 'Feb.2019', 'Mar.2019', 'Abr.2019', 'May.2019', 'Jun.2019', 'Jul.2019', 'Ago.2019', 'Sep.2019', 'Oct.2019', 'Nov.2019', 'Dic.2019', 'Ene.2020', 'Feb.2020', 'Mar.2020', 'Abr.2020', 'May.2020', 'Jun.2020', 'Jul.2020', 'Ago.2020', 'Sep.2020', 'Oct.2020', 'Nov.2020', 'Dic.2020'], 'Valores': ['19.6236', '21.2164', '21.24845', '20.9382', '18.985', '14.7205', '15.4742', '22.1696', '28.2739', '32.5516', '35.723568', '33.1783', '29.2222', '21.785', '23.7307', '23.94173', '22.40165', '21.7113', '27.9119', '26.3187', '31.5624', '36.074279', '32.86868', '30.8451', '21.76946', '18.66679', '20.3627', '23.1621', '21.2424', '21.4766', '25.450959', '26.0583', '29.82792', '36.4068', '34.991', '34.46467', '22.6895', '23.36415', '22.8577', '22.78428', '22.729239', '22.148219', '22.7204', '26.54515', '32.98895', '38.2884', '41.6345', '36.458779', '30.80188', '25.7557', '31.211599', '35.414929', '30.203709', '20.26131', '24.550299', '26.52469', '31.02236', '47.48895', '47.933729', '41.13699', '25.950049', '26.26332', '30.76402', '25.61188', '25.5231', '25.16585', '22.34019', '24.55824', '34.19388', '47.495399', '49.00122', '39.110558', '26.68537', '27.26218', '31.32231', '24.7164', '24.991', '25.593169', '20.91962', '25.03442', '40.227269', '47.8185', '50.18854', '39.44495', '28.75743', '28.958229', '32.38205', '27.67454', '26.61249', '25.3794', '20.71009', '25.76205', '34.31749', '42.27255', '45.60925', '39.2654', '27.16615', '29.70839', '32.09619', '28.37866', '28.880459', '27.28442', '23.65927', '26.89299', '32.50303', '37.09842', '42.36765', '34.74742', '28.90982', '29.06673', '32.49926', '29.66912', '31.26517', '28.50707', '23.20086', '30.265138', '36.39455', '38.40936', '37.32491', '32.7938', '31.6252', '30.9451', '30.94757', '30.37816', '30.90708', '28.11482', '24.08134', '27.8198', '36.03365', '37.23125', '38.54964', '36.4639', '30.04991', '27.15195', '30.0181', '29.167', '27.9673', '27.2853', '23.07605', '26.5026', '36.25905', '34.24605', '36.14513', '32.7617', '31.72855', '29.9641', '31.9604', '28.39354', '26.67629', '28.51434', '22.5203', '25.62637', '32.63173', '32.0538', '34.0748', '32.64534', '27.3325', '36.32057', '32.9288', '32.16967', '28.231719', '30.20518', '26.05722', '26.2223', '32.08105', '33.631', '34.4247', '30.9274']}

In [156]:
df13=pd.DataFrame(diccionario13)
df13

       Fechas   Valores
0    Ene.2007   19.6236
1    Feb.2007   21.2164
2    Mar.2007  21.24845
3    Abr.2007   20.9382
4    May.2007    18.985
..        ...       ...
163  Ago.2020   26.2223
164  Sep.2020  32.08105
165  Oct.2020    33.631
166  Nov.2020   34.4247
167  Dic.2020   30.9274

[168 rows x 2 columns]

In [157]:
df13.rename(columns={'Valores':'Espárrago'}, inplace=True)
df13.head()

     Fechas Espárrago
0  Ene.2007   19.6236
1  Feb.2007   21.2164
2  Mar.2007  21.24845
3  Abr.2007   20.9382
4  May.2007    18.985

In [ ]:
# DATOS DE PRODUCCIÓN AGRÍCOLA DE MANGO

In [158]:
url_base="https://estadisticas.bcrp.gob.pe/estadisticas/series/api/"
cod_ser="PN01795AM"
formato="/json"
per="/2003-1/2020-12"
url=url_base+cod_ser+formato+per
print(url)

https://estadisticas.bcrp.gob.pe/estadisticas/series/api/PN01795AM/json/2003-1/2020-12

In [159]:
import requests
response=requests.get(url)
print(response)

<Response [200]>

In [160]:
# extraer en formato json
response_json=response.json()
print(response_json)

{'config': {'title': 'ProducciÃ³n agropecuaria (miles de toneladas)', 'series': [{'name': 'ProducciÃ³n agropecuaria (miles de toneladas) - AgrÃ\xadcola - Mango', 'dec': '1'}]}, 'periods': [{'name': 'Ene.2007', 'values': ['71.42508']}, {'name': 'Feb.2007', 'values': ['19.263348']}, {'name': 'Mar.2007', 'values': ['11.434269']}, {'name': 'Abr.2007', 'values': ['7.04708']}, {'name': 'May.2007', 'values': ['3.221']}, {'name': 'Jun.2007', 'values': ['0.30084']}, {'name': 'Jul.2007', 'values': ['0.1836']}, {'name': 'Ago.2007', 'values': ['0.1472']}, {'name': 'Sep.2007', 'values': ['0.77424']}, {'name': 'Oct.2007', 'values': ['9.93184']}, {'name': 'Nov.2007', 'values': ['55.432379']}, {'name': 'Dic.2007', 'values': ['115.27893']}, {'name': 'Ene.2008', 'values': ['135.619669']}, {'name': 'Feb.2008', 'values': ['75.971389']}, {'name': 'Mar.2008', 'values': ['33.3034']}, {'name': 'Abr.2008', 'values': ['6.12895']}, {'name': 'May.2008', 'values': ['3.5501']}, {'name': 'Jun.2008', 'values': ['1.1895']}, {'name': 'Jul.2008', 'values': ['0.116309']}, {'name': 'Ago.2008', 'values': ['0.1808']}, {'name': 'Sep.2008', 'values': ['1.279067']}, {'name': 'Oct.2008', 'values': ['7.334938']}, {'name': 'Nov.2008', 'values': ['24.17677']}, {'name': 'Dic.2008', 'values': ['33.87034']}, {'name': 'Ene.2009', 'values': ['34.014716']}, {'name': 'Feb.2009', 'values': ['15.58777']}, {'name': 'Mar.2009', 'values': ['13.191169']}, {'name': 'Abr.2009', 'values': ['7.379068']}, {'name': 'May.2009', 'values': ['2.0066']}, {'name': 'Jun.2009', 'values': ['0.40286']}, {'name': 'Jul.2009', 'values': ['0.12038']}, {'name': 'Ago.2009', 'values': ['0.0615']}, {'name': 'Sep.2009', 'values': ['1.8369']}, {'name': 'Oct.2009', 'values': ['9.220419']}, {'name': 'Nov.2009', 'values': ['25.04248']}, {'name': 'Dic.2009', 'values': ['58.143657']}, {'name': 'Ene.2010', 'values': ['122.279749']}, {'name': 'Feb.2010', 'values': ['96.29788']}, {'name': 'Mar.2010', 'values': ['71.119748']}, {'name': 'Abr.2010', 'values': ['8.10025']}, {'name': 'May.2010', 'values': ['2.6903']}, {'name': 'Jun.2010', 'values': ['0.0677']}, {'name': 'Jul.2010', 'values': ['0.08605']}, {'name': 'Ago.2010', 'values': ['0.073037']}, {'name': 'Sep.2010', 'values': ['2.076739']}, {'name': 'Oct.2010', 'values': ['6.753479']}, {'name': 'Nov.2010', 'values': ['26.02405']}, {'name': 'Dic.2010', 'values': ['118.760894']}, {'name': 'Ene.2011', 'values': ['139.888837']}, {'name': 'Feb.2011', 'values': ['124.194837']}, {'name': 'Mar.2011', 'values': ['39.627296']}, {'name': 'Abr.2011', 'values': ['7.490789']}, {'name': 'May.2011', 'values': ['3.148899']}, {'name': 'Jun.2011', 'values': ['0.29044']}, {'name': 'Jul.2011', 'values': ['0.293379']}, {'name': 'Ago.2011', 'values': ['0.061949']}, {'name': 'Sep.2011', 'values': ['1.225288']}, {'name': 'Oct.2011', 'values': ['6.223309']}, {'name': 'Nov.2011', 'values': ['11.685558']}, {'name': 'Dic.2011', 'values': ['17.806769']}, {'name': 'Ene.2012', 'values': ['55.881066']}, {'name': 'Feb.2012', 'values': ['39.751693']}, {'name': 'Mar.2012', 'values': ['23.113928']}, {'name': 'Abr.2012', 'values': ['7.810319']}, {'name': 'May.2012', 'values': ['3.41449']}, {'name': 'Jun.2012', 'values': ['0.06127']}, {'name': 'Jul.2012', 'values': ['0.09576']}, {'name': 'Ago.2012', 'values': ['0.11906']}, {'name': 'Sep.2012', 'values': ['1.954298']}, {'name': 'Oct.2012', 'values': ['6.5732']}, {'name': 'Nov.2012', 'values': ['13.761538']}, {'name': 'Dic.2012', 'values': ['32.645708']}, {'name': 'Ene.2013', 'values': ['198.316601']}, {'name': 'Feb.2013', 'values': ['119.862286']}, {'name': 'Mar.2013', 'values': ['57.157429']}, {'name': 'Abr.2013', 'values': ['8.91084699999999']}, {'name': 'May.2013', 'values': ['1.653139']}, {'name': 'Jun.2013', 'values': ['0.230409000000009']}, {'name': 'Jul.2013', 'values': ['0.106178']}, {'name': 'Ago.2013', 'values': ['0.38856']}, {'name': 'Sep.2013', 'values': ['4.96287']}, {'name': 'Oct.2013', 'values': ['8.71812']}, {'name': 'Nov.2013', 'values': ['22.602758']}, {'name': 'Dic.2013', 'values': ['35.861419']}, {'name': 'Ene.2014', 'values': ['219.388229']}, {'name': 'Feb.2014', 'values': ['71.63025']}, {'name': 'Mar.2014', 'values': ['40.16724']}, {'name': 'Abr.2014', 'values': ['5.034408']}, {'name': 'May.2014', 'values': ['2.34294']}, {'name': 'Jun.2014', 'values': ['0.087218']}, {'name': 'Jul.2014', 'values': ['0.103719']}, {'name': 'Ago.2014', 'values': ['0.32138']}, {'name': 'Sep.2014', 'values': ['1.82837']}, {'name': 'Oct.2014', 'values': ['2.899688']}, {'name': 'Nov.2014', 'values': ['8.074175']}, {'name': 'Dic.2014', 'values': ['24.12054']}, {'name': 'Ene.2015', 'values': ['54.55042']}, {'name': 'Feb.2015', 'values': ['122.433898']}, {'name': 'Mar.2015', 'values': ['15.669819']}, {'name': 'Abr.2015', 'values': ['6.003848']}, {'name': 'May.2015', 'values': ['1.243349']}, {'name': 'Jun.2015', 'values': ['0.05039']}, {'name': 'Jul.2015', 'values': ['0.374918']}, {'name': 'Ago.2015', 'values': ['0.665797']}, {'name': 'Sep.2015', 'values': ['1.832808']}, {'name': 'Oct.2015', 'values': ['12.720529']}, {'name': 'Nov.2015', 'values': ['23.963297']}, {'name': 'Dic.2015', 'values': ['106.469869']}, {'name': 'Ene.2016', 'values': ['160.639709']}, {'name': 'Feb.2016', 'values': ['37.59388']}, {'name': 'Mar.2016', 'values': ['9.68482']}, {'name': 'Abr.2016', 'values': ['4.471708']}, {'name': 'May.2016', 'values': ['0.875629']}, {'name': 'Jun.2016', 'values': ['0.249059']}, {'name': 'Jul.2016', 'values': ['0.261859']}, {'name': 'Ago.2016', 'values': ['0.38809']}, {'name': 'Sep.2016', 'values': ['5.325637']}, {'name': 'Oct.2016', 'values': ['12.957937']}, {'name': 'Nov.2016', 'values': ['27.061689']}, {'name': 'Dic.2016', 'values': ['114.009851']}, {'name': 'Ene.2017', 'values': ['174.467203']}, {'name': 'Feb.2017', 'values': ['61.678744']}, {'name': 'Mar.2017', 'values': ['11.844058']}, {'name': 'Abr.2017', 'values': ['2.881299']}, {'name': 'May.2017', 'values': ['1.274608']}, {'name': 'Jun.2017', 'values': ['0.153258']}, {'name': 'Jul.2017', 'values': ['0.297027']}, {'name': 'Ago.2017', 'values': ['1.197451']}, {'name': 'Sep.2017', 'values': ['4.087068']}, {'name': 'Oct.2017', 'values': ['6.448139']}, {'name': 'Nov.2017', 'values': ['18.943278']}, {'name': 'Dic.2017', 'values': ['103.586852']}, {'name': 'Ene.2018', 'values': ['146.242353']}, {'name': 'Feb.2018', 'values': ['83.904731']}, {'name': 'Mar.2018', 'values': ['19.215719']}, {'name': 'Abr.2018', 'values': ['3.771838']}, {'name': 'May.2018', 'values': ['1.119245']}, {'name': 'Jun.2018', 'values': ['0.48259']}, {'name': 'Jul.2018', 'values': ['0.320779']}, {'name': 'Ago.2018', 'values': ['0.5106']}, {'name': 'Sep.2018', 'values': ['1.55074']}, {'name': 'Oct.2018', 'values': ['8.291489']}, {'name': 'Nov.2018', 'values': ['11.631377']}, {'name': 'Dic.2018', 'values': ['101.845085']}, {'name': 'Ene.2019', 'values': ['166.047829']}, {'name': 'Feb.2019', 'values': ['67.612184']}, {'name': 'Mar.2019', 'values': ['28.103529']}, {'name': 'Abr.2019', 'values': ['5.230579']}, {'name': 'May.2019', 'values': ['1.640097']}, {'name': 'Jun.2019', 'values': ['1.052279']}, {'name': 'Jul.2019', 'values': ['0.663779']}, {'name': 'Ago.2019', 'values': ['1.91339']}, {'name': 'Sep.2019', 'values': ['4.731409']}, {'name': 'Oct.2019', 'values': ['12.188318']}, {'name': 'Nov.2019', 'values': ['27.445589']}, {'name': 'Dic.2019', 'values': ['111.224008']}, {'name': 'Ene.2020', 'values': ['184.432352']}, {'name': 'Feb.2020', 'values': ['133.085408']}, {'name': 'Mar.2020', 'values': ['52.755809']}, {'name': 'Abr.2020', 'values': ['11.0669']}, {'name': 'May.2020', 'values': ['3.0727']}, {'name': 'Jun.2020', 'values': ['0.67108']}, {'name': 'Jul.2020', 'values': ['0.6748']}, {'name': 'Ago.2020', 'values': ['0.63019']}, {'name': 'Sep.2020', 'values': ['2.489519']}, {'name': 'Oct.2020', 'values': ['11.747468']}, {'name': 'Nov.2020', 'values': ['21.70038']}, {'name': 'Dic.2020', 'values': ['91.42023']}]}

In [161]:
for key in response_json.keys():
    print(key)

config
periods

In [162]:
print(response_json["config"])

{'title': 'ProducciÃ³n agropecuaria (miles de toneladas)', 'series': [{'name': 'ProducciÃ³n agropecuaria (miles de toneladas) - AgrÃ\xadcola - Mango', 'dec': '1'}]}

In [163]:
# llamar a los valores
print(response_json["periods"])

[{'name': 'Ene.2007', 'values': ['71.42508']}, {'name': 'Feb.2007', 'values': ['19.263348']}, {'name': 'Mar.2007', 'values': ['11.434269']}, {'name': 'Abr.2007', 'values': ['7.04708']}, {'name': 'May.2007', 'values': ['3.221']}, {'name': 'Jun.2007', 'values': ['0.30084']}, {'name': 'Jul.2007', 'values': ['0.1836']}, {'name': 'Ago.2007', 'values': ['0.1472']}, {'name': 'Sep.2007', 'values': ['0.77424']}, {'name': 'Oct.2007', 'values': ['9.93184']}, {'name': 'Nov.2007', 'values': ['55.432379']}, {'name': 'Dic.2007', 'values': ['115.27893']}, {'name': 'Ene.2008', 'values': ['135.619669']}, {'name': 'Feb.2008', 'values': ['75.971389']}, {'name': 'Mar.2008', 'values': ['33.3034']}, {'name': 'Abr.2008', 'values': ['6.12895']}, {'name': 'May.2008', 'values': ['3.5501']}, {'name': 'Jun.2008', 'values': ['1.1895']}, {'name': 'Jul.2008', 'values': ['0.116309']}, {'name': 'Ago.2008', 'values': ['0.1808']}, {'name': 'Sep.2008', 'values': ['1.279067']}, {'name': 'Oct.2008', 'values': ['7.334938']}, {'name': 'Nov.2008', 'values': ['24.17677']}, {'name': 'Dic.2008', 'values': ['33.87034']}, {'name': 'Ene.2009', 'values': ['34.014716']}, {'name': 'Feb.2009', 'values': ['15.58777']}, {'name': 'Mar.2009', 'values': ['13.191169']}, {'name': 'Abr.2009', 'values': ['7.379068']}, {'name': 'May.2009', 'values': ['2.0066']}, {'name': 'Jun.2009', 'values': ['0.40286']}, {'name': 'Jul.2009', 'values': ['0.12038']}, {'name': 'Ago.2009', 'values': ['0.0615']}, {'name': 'Sep.2009', 'values': ['1.8369']}, {'name': 'Oct.2009', 'values': ['9.220419']}, {'name': 'Nov.2009', 'values': ['25.04248']}, {'name': 'Dic.2009', 'values': ['58.143657']}, {'name': 'Ene.2010', 'values': ['122.279749']}, {'name': 'Feb.2010', 'values': ['96.29788']}, {'name': 'Mar.2010', 'values': ['71.119748']}, {'name': 'Abr.2010', 'values': ['8.10025']}, {'name': 'May.2010', 'values': ['2.6903']}, {'name': 'Jun.2010', 'values': ['0.0677']}, {'name': 'Jul.2010', 'values': ['0.08605']}, {'name': 'Ago.2010', 'values': ['0.073037']}, {'name': 'Sep.2010', 'values': ['2.076739']}, {'name': 'Oct.2010', 'values': ['6.753479']}, {'name': 'Nov.2010', 'values': ['26.02405']}, {'name': 'Dic.2010', 'values': ['118.760894']}, {'name': 'Ene.2011', 'values': ['139.888837']}, {'name': 'Feb.2011', 'values': ['124.194837']}, {'name': 'Mar.2011', 'values': ['39.627296']}, {'name': 'Abr.2011', 'values': ['7.490789']}, {'name': 'May.2011', 'values': ['3.148899']}, {'name': 'Jun.2011', 'values': ['0.29044']}, {'name': 'Jul.2011', 'values': ['0.293379']}, {'name': 'Ago.2011', 'values': ['0.061949']}, {'name': 'Sep.2011', 'values': ['1.225288']}, {'name': 'Oct.2011', 'values': ['6.223309']}, {'name': 'Nov.2011', 'values': ['11.685558']}, {'name': 'Dic.2011', 'values': ['17.806769']}, {'name': 'Ene.2012', 'values': ['55.881066']}, {'name': 'Feb.2012', 'values': ['39.751693']}, {'name': 'Mar.2012', 'values': ['23.113928']}, {'name': 'Abr.2012', 'values': ['7.810319']}, {'name': 'May.2012', 'values': ['3.41449']}, {'name': 'Jun.2012', 'values': ['0.06127']}, {'name': 'Jul.2012', 'values': ['0.09576']}, {'name': 'Ago.2012', 'values': ['0.11906']}, {'name': 'Sep.2012', 'values': ['1.954298']}, {'name': 'Oct.2012', 'values': ['6.5732']}, {'name': 'Nov.2012', 'values': ['13.761538']}, {'name': 'Dic.2012', 'values': ['32.645708']}, {'name': 'Ene.2013', 'values': ['198.316601']}, {'name': 'Feb.2013', 'values': ['119.862286']}, {'name': 'Mar.2013', 'values': ['57.157429']}, {'name': 'Abr.2013', 'values': ['8.91084699999999']}, {'name': 'May.2013', 'values': ['1.653139']}, {'name': 'Jun.2013', 'values': ['0.230409000000009']}, {'name': 'Jul.2013', 'values': ['0.106178']}, {'name': 'Ago.2013', 'values': ['0.38856']}, {'name': 'Sep.2013', 'values': ['4.96287']}, {'name': 'Oct.2013', 'values': ['8.71812']}, {'name': 'Nov.2013', 'values': ['22.602758']}, {'name': 'Dic.2013', 'values': ['35.861419']}, {'name': 'Ene.2014', 'values': ['219.388229']}, {'name': 'Feb.2014', 'values': ['71.63025']}, {'name': 'Mar.2014', 'values': ['40.16724']}, {'name': 'Abr.2014', 'values': ['5.034408']}, {'name': 'May.2014', 'values': ['2.34294']}, {'name': 'Jun.2014', 'values': ['0.087218']}, {'name': 'Jul.2014', 'values': ['0.103719']}, {'name': 'Ago.2014', 'values': ['0.32138']}, {'name': 'Sep.2014', 'values': ['1.82837']}, {'name': 'Oct.2014', 'values': ['2.899688']}, {'name': 'Nov.2014', 'values': ['8.074175']}, {'name': 'Dic.2014', 'values': ['24.12054']}, {'name': 'Ene.2015', 'values': ['54.55042']}, {'name': 'Feb.2015', 'values': ['122.433898']}, {'name': 'Mar.2015', 'values': ['15.669819']}, {'name': 'Abr.2015', 'values': ['6.003848']}, {'name': 'May.2015', 'values': ['1.243349']}, {'name': 'Jun.2015', 'values': ['0.05039']}, {'name': 'Jul.2015', 'values': ['0.374918']}, {'name': 'Ago.2015', 'values': ['0.665797']}, {'name': 'Sep.2015', 'values': ['1.832808']}, {'name': 'Oct.2015', 'values': ['12.720529']}, {'name': 'Nov.2015', 'values': ['23.963297']}, {'name': 'Dic.2015', 'values': ['106.469869']}, {'name': 'Ene.2016', 'values': ['160.639709']}, {'name': 'Feb.2016', 'values': ['37.59388']}, {'name': 'Mar.2016', 'values': ['9.68482']}, {'name': 'Abr.2016', 'values': ['4.471708']}, {'name': 'May.2016', 'values': ['0.875629']}, {'name': 'Jun.2016', 'values': ['0.249059']}, {'name': 'Jul.2016', 'values': ['0.261859']}, {'name': 'Ago.2016', 'values': ['0.38809']}, {'name': 'Sep.2016', 'values': ['5.325637']}, {'name': 'Oct.2016', 'values': ['12.957937']}, {'name': 'Nov.2016', 'values': ['27.061689']}, {'name': 'Dic.2016', 'values': ['114.009851']}, {'name': 'Ene.2017', 'values': ['174.467203']}, {'name': 'Feb.2017', 'values': ['61.678744']}, {'name': 'Mar.2017', 'values': ['11.844058']}, {'name': 'Abr.2017', 'values': ['2.881299']}, {'name': 'May.2017', 'values': ['1.274608']}, {'name': 'Jun.2017', 'values': ['0.153258']}, {'name': 'Jul.2017', 'values': ['0.297027']}, {'name': 'Ago.2017', 'values': ['1.197451']}, {'name': 'Sep.2017', 'values': ['4.087068']}, {'name': 'Oct.2017', 'values': ['6.448139']}, {'name': 'Nov.2017', 'values': ['18.943278']}, {'name': 'Dic.2017', 'values': ['103.586852']}, {'name': 'Ene.2018', 'values': ['146.242353']}, {'name': 'Feb.2018', 'values': ['83.904731']}, {'name': 'Mar.2018', 'values': ['19.215719']}, {'name': 'Abr.2018', 'values': ['3.771838']}, {'name': 'May.2018', 'values': ['1.119245']}, {'name': 'Jun.2018', 'values': ['0.48259']}, {'name': 'Jul.2018', 'values': ['0.320779']}, {'name': 'Ago.2018', 'values': ['0.5106']}, {'name': 'Sep.2018', 'values': ['1.55074']}, {'name': 'Oct.2018', 'values': ['8.291489']}, {'name': 'Nov.2018', 'values': ['11.631377']}, {'name': 'Dic.2018', 'values': ['101.845085']}, {'name': 'Ene.2019', 'values': ['166.047829']}, {'name': 'Feb.2019', 'values': ['67.612184']}, {'name': 'Mar.2019', 'values': ['28.103529']}, {'name': 'Abr.2019', 'values': ['5.230579']}, {'name': 'May.2019', 'values': ['1.640097']}, {'name': 'Jun.2019', 'values': ['1.052279']}, {'name': 'Jul.2019', 'values': ['0.663779']}, {'name': 'Ago.2019', 'values': ['1.91339']}, {'name': 'Sep.2019', 'values': ['4.731409']}, {'name': 'Oct.2019', 'values': ['12.188318']}, {'name': 'Nov.2019', 'values': ['27.445589']}, {'name': 'Dic.2019', 'values': ['111.224008']}, {'name': 'Ene.2020', 'values': ['184.432352']}, {'name': 'Feb.2020', 'values': ['133.085408']}, {'name': 'Mar.2020', 'values': ['52.755809']}, {'name': 'Abr.2020', 'values': ['11.0669']}, {'name': 'May.2020', 'values': ['3.0727']}, {'name': 'Jun.2020', 'values': ['0.67108']}, {'name': 'Jul.2020', 'values': ['0.6748']}, {'name': 'Ago.2020', 'values': ['0.63019']}, {'name': 'Sep.2020', 'values': ['2.489519']}, {'name': 'Oct.2020', 'values': ['11.747468']}, {'name': 'Nov.2020', 'values': ['21.70038']}, {'name': 'Dic.2020', 'values': ['91.42023']}]

In [164]:
periodos=response_json.get("periods")
prod_mango=[]
for i in periodos:
    valores_list=i["values"]
    for w in valores_list:
        w=str(w)
        prod_mango.append(w)
        
print(prod_mango)

['71.42508', '19.263348', '11.434269', '7.04708', '3.221', '0.30084', '0.1836', '0.1472', '0.77424', '9.93184', '55.432379', '115.27893', '135.619669', '75.971389', '33.3034', '6.12895', '3.5501', '1.1895', '0.116309', '0.1808', '1.279067', '7.334938', '24.17677', '33.87034', '34.014716', '15.58777', '13.191169', '7.379068', '2.0066', '0.40286', '0.12038', '0.0615', '1.8369', '9.220419', '25.04248', '58.143657', '122.279749', '96.29788', '71.119748', '8.10025', '2.6903', '0.0677', '0.08605', '0.073037', '2.076739', '6.753479', '26.02405', '118.760894', '139.888837', '124.194837', '39.627296', '7.490789', '3.148899', '0.29044', '0.293379', '0.061949', '1.225288', '6.223309', '11.685558', '17.806769', '55.881066', '39.751693', '23.113928', '7.810319', '3.41449', '0.06127', '0.09576', '0.11906', '1.954298', '6.5732', '13.761538', '32.645708', '198.316601', '119.862286', '57.157429', '8.91084699999999', '1.653139', '0.230409000000009', '0.106178', '0.38856', '4.96287', '8.71812', '22.602758', '35.861419', '219.388229', '71.63025', '40.16724', '5.034408', '2.34294', '0.087218', '0.103719', '0.32138', '1.82837', '2.899688', '8.074175', '24.12054', '54.55042', '122.433898', '15.669819', '6.003848', '1.243349', '0.05039', '0.374918', '0.665797', '1.832808', '12.720529', '23.963297', '106.469869', '160.639709', '37.59388', '9.68482', '4.471708', '0.875629', '0.249059', '0.261859', '0.38809', '5.325637', '12.957937', '27.061689', '114.009851', '174.467203', '61.678744', '11.844058', '2.881299', '1.274608', '0.153258', '0.297027', '1.197451', '4.087068', '6.448139', '18.943278', '103.586852', '146.242353', '83.904731', '19.215719', '3.771838', '1.119245', '0.48259', '0.320779', '0.5106', '1.55074', '8.291489', '11.631377', '101.845085', '166.047829', '67.612184', '28.103529', '5.230579', '1.640097', '1.052279', '0.663779', '1.91339', '4.731409', '12.188318', '27.445589', '111.224008', '184.432352', '133.085408', '52.755809', '11.0669', '3.0727', '0.67108', '0.6748', '0.63019', '2.489519', '11.747468', '21.70038', '91.42023']

In [165]:
fechas=[]
for i in periodos:
    nombres=i["name"]
    fechas.append(nombres)
print(fechas)

['Ene.2007', 'Feb.2007', 'Mar.2007', 'Abr.2007', 'May.2007', 'Jun.2007', 'Jul.2007', 'Ago.2007', 'Sep.2007', 'Oct.2007', 'Nov.2007', 'Dic.2007', 'Ene.2008', 'Feb.2008', 'Mar.2008', 'Abr.2008', 'May.2008', 'Jun.2008', 'Jul.2008', 'Ago.2008', 'Sep.2008', 'Oct.2008', 'Nov.2008', 'Dic.2008', 'Ene.2009', 'Feb.2009', 'Mar.2009', 'Abr.2009', 'May.2009', 'Jun.2009', 'Jul.2009', 'Ago.2009', 'Sep.2009', 'Oct.2009', 'Nov.2009', 'Dic.2009', 'Ene.2010', 'Feb.2010', 'Mar.2010', 'Abr.2010', 'May.2010', 'Jun.2010', 'Jul.2010', 'Ago.2010', 'Sep.2010', 'Oct.2010', 'Nov.2010', 'Dic.2010', 'Ene.2011', 'Feb.2011', 'Mar.2011', 'Abr.2011', 'May.2011', 'Jun.2011', 'Jul.2011', 'Ago.2011', 'Sep.2011', 'Oct.2011', 'Nov.2011', 'Dic.2011', 'Ene.2012', 'Feb.2012', 'Mar.2012', 'Abr.2012', 'May.2012', 'Jun.2012', 'Jul.2012', 'Ago.2012', 'Sep.2012', 'Oct.2012', 'Nov.2012', 'Dic.2012', 'Ene.2013', 'Feb.2013', 'Mar.2013', 'Abr.2013', 'May.2013', 'Jun.2013', 'Jul.2013', 'Ago.2013', 'Sep.2013', 'Oct.2013', 'Nov.2013', 'Dic.2013', 'Ene.2014', 'Feb.2014', 'Mar.2014', 'Abr.2014', 'May.2014', 'Jun.2014', 'Jul.2014', 'Ago.2014', 'Sep.2014', 'Oct.2014', 'Nov.2014', 'Dic.2014', 'Ene.2015', 'Feb.2015', 'Mar.2015', 'Abr.2015', 'May.2015', 'Jun.2015', 'Jul.2015', 'Ago.2015', 'Sep.2015', 'Oct.2015', 'Nov.2015', 'Dic.2015', 'Ene.2016', 'Feb.2016', 'Mar.2016', 'Abr.2016', 'May.2016', 'Jun.2016', 'Jul.2016', 'Ago.2016', 'Sep.2016', 'Oct.2016', 'Nov.2016', 'Dic.2016', 'Ene.2017', 'Feb.2017', 'Mar.2017', 'Abr.2017', 'May.2017', 'Jun.2017', 'Jul.2017', 'Ago.2017', 'Sep.2017', 'Oct.2017', 'Nov.2017', 'Dic.2017', 'Ene.2018', 'Feb.2018', 'Mar.2018', 'Abr.2018', 'May.2018', 'Jun.2018', 'Jul.2018', 'Ago.2018', 'Sep.2018', 'Oct.2018', 'Nov.2018', 'Dic.2018', 'Ene.2019', 'Feb.2019', 'Mar.2019', 'Abr.2019', 'May.2019', 'Jun.2019', 'Jul.2019', 'Ago.2019', 'Sep.2019', 'Oct.2019', 'Nov.2019', 'Dic.2019', 'Ene.2020', 'Feb.2020', 'Mar.2020', 'Abr.2020', 'May.2020', 'Jun.2020', 'Jul.2020', 'Ago.2020', 'Sep.2020', 'Oct.2020', 'Nov.2020', 'Dic.2020']

In [167]:
diccionario14= {"Fechas":fechas, "Valores":prod_mango}
print(diccionario14)

{'Fechas': ['Ene.2007', 'Feb.2007', 'Mar.2007', 'Abr.2007', 'May.2007', 'Jun.2007', 'Jul.2007', 'Ago.2007', 'Sep.2007', 'Oct.2007', 'Nov.2007', 'Dic.2007', 'Ene.2008', 'Feb.2008', 'Mar.2008', 'Abr.2008', 'May.2008', 'Jun.2008', 'Jul.2008', 'Ago.2008', 'Sep.2008', 'Oct.2008', 'Nov.2008', 'Dic.2008', 'Ene.2009', 'Feb.2009', 'Mar.2009', 'Abr.2009', 'May.2009', 'Jun.2009', 'Jul.2009', 'Ago.2009', 'Sep.2009', 'Oct.2009', 'Nov.2009', 'Dic.2009', 'Ene.2010', 'Feb.2010', 'Mar.2010', 'Abr.2010', 'May.2010', 'Jun.2010', 'Jul.2010', 'Ago.2010', 'Sep.2010', 'Oct.2010', 'Nov.2010', 'Dic.2010', 'Ene.2011', 'Feb.2011', 'Mar.2011', 'Abr.2011', 'May.2011', 'Jun.2011', 'Jul.2011', 'Ago.2011', 'Sep.2011', 'Oct.2011', 'Nov.2011', 'Dic.2011', 'Ene.2012', 'Feb.2012', 'Mar.2012', 'Abr.2012', 'May.2012', 'Jun.2012', 'Jul.2012', 'Ago.2012', 'Sep.2012', 'Oct.2012', 'Nov.2012', 'Dic.2012', 'Ene.2013', 'Feb.2013', 'Mar.2013', 'Abr.2013', 'May.2013', 'Jun.2013', 'Jul.2013', 'Ago.2013', 'Sep.2013', 'Oct.2013', 'Nov.2013', 'Dic.2013', 'Ene.2014', 'Feb.2014', 'Mar.2014', 'Abr.2014', 'May.2014', 'Jun.2014', 'Jul.2014', 'Ago.2014', 'Sep.2014', 'Oct.2014', 'Nov.2014', 'Dic.2014', 'Ene.2015', 'Feb.2015', 'Mar.2015', 'Abr.2015', 'May.2015', 'Jun.2015', 'Jul.2015', 'Ago.2015', 'Sep.2015', 'Oct.2015', 'Nov.2015', 'Dic.2015', 'Ene.2016', 'Feb.2016', 'Mar.2016', 'Abr.2016', 'May.2016', 'Jun.2016', 'Jul.2016', 'Ago.2016', 'Sep.2016', 'Oct.2016', 'Nov.2016', 'Dic.2016', 'Ene.2017', 'Feb.2017', 'Mar.2017', 'Abr.2017', 'May.2017', 'Jun.2017', 'Jul.2017', 'Ago.2017', 'Sep.2017', 'Oct.2017', 'Nov.2017', 'Dic.2017', 'Ene.2018', 'Feb.2018', 'Mar.2018', 'Abr.2018', 'May.2018', 'Jun.2018', 'Jul.2018', 'Ago.2018', 'Sep.2018', 'Oct.2018', 'Nov.2018', 'Dic.2018', 'Ene.2019', 'Feb.2019', 'Mar.2019', 'Abr.2019', 'May.2019', 'Jun.2019', 'Jul.2019', 'Ago.2019', 'Sep.2019', 'Oct.2019', 'Nov.2019', 'Dic.2019', 'Ene.2020', 'Feb.2020', 'Mar.2020', 'Abr.2020', 'May.2020', 'Jun.2020', 'Jul.2020', 'Ago.2020', 'Sep.2020', 'Oct.2020', 'Nov.2020', 'Dic.2020'], 'Valores': ['71.42508', '19.263348', '11.434269', '7.04708', '3.221', '0.30084', '0.1836', '0.1472', '0.77424', '9.93184', '55.432379', '115.27893', '135.619669', '75.971389', '33.3034', '6.12895', '3.5501', '1.1895', '0.116309', '0.1808', '1.279067', '7.334938', '24.17677', '33.87034', '34.014716', '15.58777', '13.191169', '7.379068', '2.0066', '0.40286', '0.12038', '0.0615', '1.8369', '9.220419', '25.04248', '58.143657', '122.279749', '96.29788', '71.119748', '8.10025', '2.6903', '0.0677', '0.08605', '0.073037', '2.076739', '6.753479', '26.02405', '118.760894', '139.888837', '124.194837', '39.627296', '7.490789', '3.148899', '0.29044', '0.293379', '0.061949', '1.225288', '6.223309', '11.685558', '17.806769', '55.881066', '39.751693', '23.113928', '7.810319', '3.41449', '0.06127', '0.09576', '0.11906', '1.954298', '6.5732', '13.761538', '32.645708', '198.316601', '119.862286', '57.157429', '8.91084699999999', '1.653139', '0.230409000000009', '0.106178', '0.38856', '4.96287', '8.71812', '22.602758', '35.861419', '219.388229', '71.63025', '40.16724', '5.034408', '2.34294', '0.087218', '0.103719', '0.32138', '1.82837', '2.899688', '8.074175', '24.12054', '54.55042', '122.433898', '15.669819', '6.003848', '1.243349', '0.05039', '0.374918', '0.665797', '1.832808', '12.720529', '23.963297', '106.469869', '160.639709', '37.59388', '9.68482', '4.471708', '0.875629', '0.249059', '0.261859', '0.38809', '5.325637', '12.957937', '27.061689', '114.009851', '174.467203', '61.678744', '11.844058', '2.881299', '1.274608', '0.153258', '0.297027', '1.197451', '4.087068', '6.448139', '18.943278', '103.586852', '146.242353', '83.904731', '19.215719', '3.771838', '1.119245', '0.48259', '0.320779', '0.5106', '1.55074', '8.291489', '11.631377', '101.845085', '166.047829', '67.612184', '28.103529', '5.230579', '1.640097', '1.052279', '0.663779', '1.91339', '4.731409', '12.188318', '27.445589', '111.224008', '184.432352', '133.085408', '52.755809', '11.0669', '3.0727', '0.67108', '0.6748', '0.63019', '2.489519', '11.747468', '21.70038', '91.42023']}

In [168]:
df14=pd.DataFrame(diccionario14)
df14

       Fechas    Valores
0    Ene.2007   71.42508
1    Feb.2007  19.263348
2    Mar.2007  11.434269
3    Abr.2007    7.04708
4    May.2007      3.221
..        ...        ...
163  Ago.2020    0.63019
164  Sep.2020   2.489519
165  Oct.2020  11.747468
166  Nov.2020   21.70038
167  Dic.2020   91.42023

[168 rows x 2 columns]

In [169]:
df14.rename(columns={'Valores':'Mango'}, inplace=True)
df14.head()

     Fechas      Mango
0  Ene.2007   71.42508
1  Feb.2007  19.263348
2  Mar.2007  11.434269
3  Abr.2007    7.04708
4  May.2007      3.221

In [ ]:
# DATOS DE PRODUCCIÓN AGRÍCOLA DE CACAO

In [170]:
url_base="https://estadisticas.bcrp.gob.pe/estadisticas/series/api/"
cod_ser="PN01796AM"
formato="/json"
per="/2003-1/2020-12"
url=url_base+cod_ser+formato+per
print(url)

https://estadisticas.bcrp.gob.pe/estadisticas/series/api/PN01796AM/json/2003-1/2020-12

In [171]:
import requests
response=requests.get(url)
print(response)

<Response [200]>

In [172]:
# extraer en formato json
response_json=response.json()
print(response_json)

{'config': {'title': 'ProducciÃ³n agropecuaria (miles de toneladas)', 'series': [{'name': 'ProducciÃ³n agropecuaria (miles de toneladas) - AgrÃ\xadcola - Cacao', 'dec': '1'}]}, 'periods': [{'name': 'Ene.2007', 'values': ['2.13525']}, {'name': 'Feb.2007', 'values': ['2.466691']}, {'name': 'Mar.2007', 'values': ['2.520148']}, {'name': 'Abr.2007', 'values': ['3.170455']}, {'name': 'May.2007', 'values': ['4.781921']}, {'name': 'Jun.2007', 'values': ['5.406165']}, {'name': 'Jul.2007', 'values': ['4.076186']}, {'name': 'Ago.2007', 'values': ['1.947565']}, {'name': 'Sep.2007', 'values': ['1.271732']}, {'name': 'Oct.2007', 'values': ['1.192862']}, {'name': 'Nov.2007', 'values': ['1.108806']}, {'name': 'Dic.2007', 'values': ['1.308801']}, {'name': 'Ene.2008', 'values': ['1.858835']}, {'name': 'Feb.2008', 'values': ['2.253626']}, {'name': 'Mar.2008', 'values': ['2.473057']}, {'name': 'Abr.2008', 'values': ['3.417401']}, {'name': 'May.2008', 'values': ['5.3336']}, {'name': 'Jun.2008', 'values': ['5.509219']}, {'name': 'Jul.2008', 'values': ['4.164298']}, {'name': 'Ago.2008', 'values': ['2.157268']}, {'name': 'Sep.2008', 'values': ['1.745893']}, {'name': 'Oct.2008', 'values': ['1.624236']}, {'name': 'Nov.2008', 'values': ['1.693876']}, {'name': 'Dic.2008', 'values': ['1.772018']}, {'name': 'Ene.2009', 'values': ['1.9049']}, {'name': 'Feb.2009', 'values': ['2.226467']}, {'name': 'Mar.2009', 'values': ['2.566362']}, {'name': 'Abr.2009', 'values': ['3.511845']}, {'name': 'May.2009', 'values': ['5.860557']}, {'name': 'Jun.2009', 'values': ['5.982458']}, {'name': 'Jul.2009', 'values': ['4.388249']}, {'name': 'Ago.2009', 'values': ['2.519964']}, {'name': 'Sep.2009', 'values': ['2.151193']}, {'name': 'Oct.2009', 'values': ['1.718656']}, {'name': 'Nov.2009', 'values': ['1.802029']}, {'name': 'Dic.2009', 'values': ['2.170663']}, {'name': 'Ene.2010', 'values': ['2.557918']}, {'name': 'Feb.2010', 'values': ['3.034393']}, {'name': 'Mar.2010', 'values': ['3.153076']}, {'name': 'Abr.2010', 'values': ['4.098067']}, {'name': 'May.2010', 'values': ['6.543808']}, {'name': 'Jun.2010', 'values': ['6.81608']}, {'name': 'Jul.2010', 'values': ['4.703269']}, {'name': 'Ago.2010', 'values': ['3.357186']}, {'name': 'Sep.2010', 'values': ['2.931977']}, {'name': 'Oct.2010', 'values': ['2.86489']}, {'name': 'Nov.2010', 'values': ['3.212604']}, {'name': 'Dic.2010', 'values': ['3.339778']}, {'name': 'Ene.2011', 'values': ['2.982761']}, {'name': 'Feb.2011', 'values': ['3.43181']}, {'name': 'Mar.2011', 'values': ['3.8456']}, {'name': 'Abr.2011', 'values': ['5.106181']}, {'name': 'May.2011', 'values': ['7.666739']}, {'name': 'Jun.2011', 'values': ['7.897751']}, {'name': 'Jul.2011', 'values': ['6.021816']}, {'name': 'Ago.2011', 'values': ['4.531545']}, {'name': 'Sep.2011', 'values': ['3.480942']}, {'name': 'Oct.2011', 'values': ['3.488117']}, {'name': 'Nov.2011', 'values': ['3.960752']}, {'name': 'Dic.2011', 'values': ['4.085397']}, {'name': 'Ene.2012', 'values': ['3.234134']}, {'name': 'Feb.2012', 'values': ['3.655838']}, {'name': 'Mar.2012', 'values': ['3.89513']}, {'name': 'Abr.2012', 'values': ['5.348378']}, {'name': 'May.2012', 'values': ['7.750652']}, {'name': 'Jun.2012', 'values': ['8.494137']}, {'name': 'Jul.2012', 'values': ['7.269925']}, {'name': 'Ago.2012', 'values': ['5.210078']}, {'name': 'Sep.2012', 'values': ['4.218406']}, {'name': 'Oct.2012', 'values': ['4.259379']}, {'name': 'Nov.2012', 'values': ['4.209182']}, {'name': 'Dic.2012', 'values': ['4.946341']}, {'name': 'Ene.2013', 'values': ['3.844985']}, {'name': 'Feb.2013', 'values': ['4.433396']}, {'name': 'Mar.2013', 'values': ['4.55404']}, {'name': 'Abr.2013', 'values': ['6.160705']}, {'name': 'May.2013', 'values': ['9.355764']}, {'name': 'Jun.2013', 'values': ['9.516437']}, {'name': 'Jul.2013', 'values': ['7.749883']}, {'name': 'Ago.2013', 'values': ['5.474128']}, {'name': 'Sep.2013', 'values': ['4.915291']}, {'name': 'Oct.2013', 'values': ['4.686676']}, {'name': 'Nov.2013', 'values': ['5.035052']}, {'name': 'Dic.2013', 'values': ['5.765914']}, {'name': 'Ene.2014', 'values': ['4.730886']}, {'name': 'Feb.2014', 'values': ['5.267401']}, {'name': 'Mar.2014', 'values': ['5.671863']}, {'name': 'Abr.2014', 'values': ['7.478743']}, {'name': 'May.2014', 'values': ['9.958065']}, {'name': 'Jun.2014', 'values': ['10.852486']}, {'name': 'Jul.2014', 'values': ['9.155288']}, {'name': 'Ago.2014', 'values': ['6.673357']}, {'name': 'Sep.2014', 'values': ['5.373864']}, {'name': 'Oct.2014', 'values': ['5.190753']}, {'name': 'Nov.2014', 'values': ['5.230731']}, {'name': 'Dic.2014', 'values': ['6.067644']}, {'name': 'Ene.2015', 'values': ['4.983594']}, {'name': 'Feb.2015', 'values': ['6.073102']}, {'name': 'Mar.2015', 'values': ['6.510671']}, {'name': 'Abr.2015', 'values': ['8.209287']}, {'name': 'May.2015', 'values': ['11.383667']}, {'name': 'Jun.2015', 'values': ['12.603769']}, {'name': 'Jul.2015', 'values': ['9.626502']}, {'name': 'Ago.2015', 'values': ['8.032581']}, {'name': 'Sep.2015', 'values': ['7.576604']}, {'name': 'Oct.2015', 'values': ['5.531718']}, {'name': 'Nov.2015', 'values': ['5.525932']}, {'name': 'Dic.2015', 'values': ['6.534885']}, {'name': 'Ene.2016', 'values': ['5.418252']}, {'name': 'Feb.2016', 'values': ['5.830401']}, {'name': 'Mar.2016', 'values': ['7.961668']}, {'name': 'Abr.2016', 'values': ['9.995584']}, {'name': 'May.2016', 'values': ['14.235002']}, {'name': 'Jun.2016', 'values': ['14.99281']}, {'name': 'Jul.2016', 'values': ['12.136565']}, {'name': 'Ago.2016', 'values': ['9.277572']}, {'name': 'Sep.2016', 'values': ['7.289154']}, {'name': 'Oct.2016', 'values': ['6.838213']}, {'name': 'Nov.2016', 'values': ['7.058387']}, {'name': 'Dic.2016', 'values': ['6.88790400000001']}, {'name': 'Ene.2017', 'values': ['5.608959']}, {'name': 'Feb.2017', 'values': ['7.056344']}, {'name': 'Mar.2017', 'values': ['8.616464']}, {'name': 'Abr.2017', 'values': ['11.35256']}, {'name': 'May.2017', 'values': ['14.564733']}, {'name': 'Jun.2017', 'values': ['14.923985']}, {'name': 'Jul.2017', 'values': ['13.180455']}, {'name': 'Ago.2017', 'values': ['10.546646']}, {'name': 'Sep.2017', 'values': ['9.318048']}, {'name': 'Oct.2017', 'values': ['8.173281']}, {'name': 'Nov.2017', 'values': ['8.951192']}, {'name': 'Dic.2017', 'values': ['9.532615']}, {'name': 'Ene.2018', 'values': ['7.838187']}, {'name': 'Feb.2018', 'values': ['8.585068']}, {'name': 'Mar.2018', 'values': ['9.470728']}, {'name': 'Abr.2018', 'values': ['12.341194']}, {'name': 'May.2018', 'values': ['16.482533']}, {'name': 'Jun.2018', 'values': ['16.599246']}, {'name': 'Jul.2018', 'values': ['14.577901']}, {'name': 'Ago.2018', 'values': ['11.944924']}, {'name': 'Sep.2018', 'values': ['9.470742']}, {'name': 'Oct.2018', 'values': ['8.929834']}, {'name': 'Nov.2018', 'values': ['8.992492']}, {'name': 'Dic.2018', 'values': ['9.442895']}, {'name': 'Ene.2019', 'values': ['9.117956']}, {'name': 'Feb.2019', 'values': ['9.937488']}, {'name': 'Mar.2019', 'values': ['11.233724']}, {'name': 'Abr.2019', 'values': ['13.233767']}, {'name': 'May.2019', 'values': ['17.402363']}, {'name': 'Jun.2019', 'values': ['18.197408']}, {'name': 'Jul.2019', 'values': ['14.613629']}, {'name': 'Ago.2019', 'values': ['10.903507']}, {'name': 'Sep.2019', 'values': ['9.198433']}, {'name': 'Oct.2019', 'values': ['8.904117']}, {'name': 'Nov.2019', 'values': ['9.421224']}, {'name': 'Dic.2019', 'values': ['9.611636']}, {'name': 'Ene.2020', 'values': ['10.408768']}, {'name': 'Feb.2020', 'values': ['11.365271']}, {'name': 'Mar.2020', 'values': ['12.099448']}, {'name': 'Abr.2020', 'values': ['15.463488']}, {'name': 'May.2020', 'values': ['18.503215']}, {'name': 'Jun.2020', 'values': ['19.986624']}, {'name': 'Jul.2020', 'values': ['16.720281']}, {'name': 'Ago.2020', 'values': ['13.301107']}, {'name': 'Sep.2020', 'values': ['11.365343']}, {'name': 'Oct.2020', 'values': ['10.665599']}, {'name': 'Nov.2020', 'values': ['9.940045']}, {'name': 'Dic.2020', 'values': ['10.46944']}]}

In [173]:
for key in response_json.keys():
    print(key)

config
periods

In [174]:
print(response_json["config"])

{'title': 'ProducciÃ³n agropecuaria (miles de toneladas)', 'series': [{'name': 'ProducciÃ³n agropecuaria (miles de toneladas) - AgrÃ\xadcola - Cacao', 'dec': '1'}]}

In [175]:
# llamar a los valores
print(response_json["periods"])

[{'name': 'Ene.2007', 'values': ['2.13525']}, {'name': 'Feb.2007', 'values': ['2.466691']}, {'name': 'Mar.2007', 'values': ['2.520148']}, {'name': 'Abr.2007', 'values': ['3.170455']}, {'name': 'May.2007', 'values': ['4.781921']}, {'name': 'Jun.2007', 'values': ['5.406165']}, {'name': 'Jul.2007', 'values': ['4.076186']}, {'name': 'Ago.2007', 'values': ['1.947565']}, {'name': 'Sep.2007', 'values': ['1.271732']}, {'name': 'Oct.2007', 'values': ['1.192862']}, {'name': 'Nov.2007', 'values': ['1.108806']}, {'name': 'Dic.2007', 'values': ['1.308801']}, {'name': 'Ene.2008', 'values': ['1.858835']}, {'name': 'Feb.2008', 'values': ['2.253626']}, {'name': 'Mar.2008', 'values': ['2.473057']}, {'name': 'Abr.2008', 'values': ['3.417401']}, {'name': 'May.2008', 'values': ['5.3336']}, {'name': 'Jun.2008', 'values': ['5.509219']}, {'name': 'Jul.2008', 'values': ['4.164298']}, {'name': 'Ago.2008', 'values': ['2.157268']}, {'name': 'Sep.2008', 'values': ['1.745893']}, {'name': 'Oct.2008', 'values': ['1.624236']}, {'name': 'Nov.2008', 'values': ['1.693876']}, {'name': 'Dic.2008', 'values': ['1.772018']}, {'name': 'Ene.2009', 'values': ['1.9049']}, {'name': 'Feb.2009', 'values': ['2.226467']}, {'name': 'Mar.2009', 'values': ['2.566362']}, {'name': 'Abr.2009', 'values': ['3.511845']}, {'name': 'May.2009', 'values': ['5.860557']}, {'name': 'Jun.2009', 'values': ['5.982458']}, {'name': 'Jul.2009', 'values': ['4.388249']}, {'name': 'Ago.2009', 'values': ['2.519964']}, {'name': 'Sep.2009', 'values': ['2.151193']}, {'name': 'Oct.2009', 'values': ['1.718656']}, {'name': 'Nov.2009', 'values': ['1.802029']}, {'name': 'Dic.2009', 'values': ['2.170663']}, {'name': 'Ene.2010', 'values': ['2.557918']}, {'name': 'Feb.2010', 'values': ['3.034393']}, {'name': 'Mar.2010', 'values': ['3.153076']}, {'name': 'Abr.2010', 'values': ['4.098067']}, {'name': 'May.2010', 'values': ['6.543808']}, {'name': 'Jun.2010', 'values': ['6.81608']}, {'name': 'Jul.2010', 'values': ['4.703269']}, {'name': 'Ago.2010', 'values': ['3.357186']}, {'name': 'Sep.2010', 'values': ['2.931977']}, {'name': 'Oct.2010', 'values': ['2.86489']}, {'name': 'Nov.2010', 'values': ['3.212604']}, {'name': 'Dic.2010', 'values': ['3.339778']}, {'name': 'Ene.2011', 'values': ['2.982761']}, {'name': 'Feb.2011', 'values': ['3.43181']}, {'name': 'Mar.2011', 'values': ['3.8456']}, {'name': 'Abr.2011', 'values': ['5.106181']}, {'name': 'May.2011', 'values': ['7.666739']}, {'name': 'Jun.2011', 'values': ['7.897751']}, {'name': 'Jul.2011', 'values': ['6.021816']}, {'name': 'Ago.2011', 'values': ['4.531545']}, {'name': 'Sep.2011', 'values': ['3.480942']}, {'name': 'Oct.2011', 'values': ['3.488117']}, {'name': 'Nov.2011', 'values': ['3.960752']}, {'name': 'Dic.2011', 'values': ['4.085397']}, {'name': 'Ene.2012', 'values': ['3.234134']}, {'name': 'Feb.2012', 'values': ['3.655838']}, {'name': 'Mar.2012', 'values': ['3.89513']}, {'name': 'Abr.2012', 'values': ['5.348378']}, {'name': 'May.2012', 'values': ['7.750652']}, {'name': 'Jun.2012', 'values': ['8.494137']}, {'name': 'Jul.2012', 'values': ['7.269925']}, {'name': 'Ago.2012', 'values': ['5.210078']}, {'name': 'Sep.2012', 'values': ['4.218406']}, {'name': 'Oct.2012', 'values': ['4.259379']}, {'name': 'Nov.2012', 'values': ['4.209182']}, {'name': 'Dic.2012', 'values': ['4.946341']}, {'name': 'Ene.2013', 'values': ['3.844985']}, {'name': 'Feb.2013', 'values': ['4.433396']}, {'name': 'Mar.2013', 'values': ['4.55404']}, {'name': 'Abr.2013', 'values': ['6.160705']}, {'name': 'May.2013', 'values': ['9.355764']}, {'name': 'Jun.2013', 'values': ['9.516437']}, {'name': 'Jul.2013', 'values': ['7.749883']}, {'name': 'Ago.2013', 'values': ['5.474128']}, {'name': 'Sep.2013', 'values': ['4.915291']}, {'name': 'Oct.2013', 'values': ['4.686676']}, {'name': 'Nov.2013', 'values': ['5.035052']}, {'name': 'Dic.2013', 'values': ['5.765914']}, {'name': 'Ene.2014', 'values': ['4.730886']}, {'name': 'Feb.2014', 'values': ['5.267401']}, {'name': 'Mar.2014', 'values': ['5.671863']}, {'name': 'Abr.2014', 'values': ['7.478743']}, {'name': 'May.2014', 'values': ['9.958065']}, {'name': 'Jun.2014', 'values': ['10.852486']}, {'name': 'Jul.2014', 'values': ['9.155288']}, {'name': 'Ago.2014', 'values': ['6.673357']}, {'name': 'Sep.2014', 'values': ['5.373864']}, {'name': 'Oct.2014', 'values': ['5.190753']}, {'name': 'Nov.2014', 'values': ['5.230731']}, {'name': 'Dic.2014', 'values': ['6.067644']}, {'name': 'Ene.2015', 'values': ['4.983594']}, {'name': 'Feb.2015', 'values': ['6.073102']}, {'name': 'Mar.2015', 'values': ['6.510671']}, {'name': 'Abr.2015', 'values': ['8.209287']}, {'name': 'May.2015', 'values': ['11.383667']}, {'name': 'Jun.2015', 'values': ['12.603769']}, {'name': 'Jul.2015', 'values': ['9.626502']}, {'name': 'Ago.2015', 'values': ['8.032581']}, {'name': 'Sep.2015', 'values': ['7.576604']}, {'name': 'Oct.2015', 'values': ['5.531718']}, {'name': 'Nov.2015', 'values': ['5.525932']}, {'name': 'Dic.2015', 'values': ['6.534885']}, {'name': 'Ene.2016', 'values': ['5.418252']}, {'name': 'Feb.2016', 'values': ['5.830401']}, {'name': 'Mar.2016', 'values': ['7.961668']}, {'name': 'Abr.2016', 'values': ['9.995584']}, {'name': 'May.2016', 'values': ['14.235002']}, {'name': 'Jun.2016', 'values': ['14.99281']}, {'name': 'Jul.2016', 'values': ['12.136565']}, {'name': 'Ago.2016', 'values': ['9.277572']}, {'name': 'Sep.2016', 'values': ['7.289154']}, {'name': 'Oct.2016', 'values': ['6.838213']}, {'name': 'Nov.2016', 'values': ['7.058387']}, {'name': 'Dic.2016', 'values': ['6.88790400000001']}, {'name': 'Ene.2017', 'values': ['5.608959']}, {'name': 'Feb.2017', 'values': ['7.056344']}, {'name': 'Mar.2017', 'values': ['8.616464']}, {'name': 'Abr.2017', 'values': ['11.35256']}, {'name': 'May.2017', 'values': ['14.564733']}, {'name': 'Jun.2017', 'values': ['14.923985']}, {'name': 'Jul.2017', 'values': ['13.180455']}, {'name': 'Ago.2017', 'values': ['10.546646']}, {'name': 'Sep.2017', 'values': ['9.318048']}, {'name': 'Oct.2017', 'values': ['8.173281']}, {'name': 'Nov.2017', 'values': ['8.951192']}, {'name': 'Dic.2017', 'values': ['9.532615']}, {'name': 'Ene.2018', 'values': ['7.838187']}, {'name': 'Feb.2018', 'values': ['8.585068']}, {'name': 'Mar.2018', 'values': ['9.470728']}, {'name': 'Abr.2018', 'values': ['12.341194']}, {'name': 'May.2018', 'values': ['16.482533']}, {'name': 'Jun.2018', 'values': ['16.599246']}, {'name': 'Jul.2018', 'values': ['14.577901']}, {'name': 'Ago.2018', 'values': ['11.944924']}, {'name': 'Sep.2018', 'values': ['9.470742']}, {'name': 'Oct.2018', 'values': ['8.929834']}, {'name': 'Nov.2018', 'values': ['8.992492']}, {'name': 'Dic.2018', 'values': ['9.442895']}, {'name': 'Ene.2019', 'values': ['9.117956']}, {'name': 'Feb.2019', 'values': ['9.937488']}, {'name': 'Mar.2019', 'values': ['11.233724']}, {'name': 'Abr.2019', 'values': ['13.233767']}, {'name': 'May.2019', 'values': ['17.402363']}, {'name': 'Jun.2019', 'values': ['18.197408']}, {'name': 'Jul.2019', 'values': ['14.613629']}, {'name': 'Ago.2019', 'values': ['10.903507']}, {'name': 'Sep.2019', 'values': ['9.198433']}, {'name': 'Oct.2019', 'values': ['8.904117']}, {'name': 'Nov.2019', 'values': ['9.421224']}, {'name': 'Dic.2019', 'values': ['9.611636']}, {'name': 'Ene.2020', 'values': ['10.408768']}, {'name': 'Feb.2020', 'values': ['11.365271']}, {'name': 'Mar.2020', 'values': ['12.099448']}, {'name': 'Abr.2020', 'values': ['15.463488']}, {'name': 'May.2020', 'values': ['18.503215']}, {'name': 'Jun.2020', 'values': ['19.986624']}, {'name': 'Jul.2020', 'values': ['16.720281']}, {'name': 'Ago.2020', 'values': ['13.301107']}, {'name': 'Sep.2020', 'values': ['11.365343']}, {'name': 'Oct.2020', 'values': ['10.665599']}, {'name': 'Nov.2020', 'values': ['9.940045']}, {'name': 'Dic.2020', 'values': ['10.46944']}]

In [176]:
periodos=response_json.get("periods")
prod_cacao=[]
for i in periodos:
    valores_list=i["values"]
    for w in valores_list:
        w=str(w)
        prod_cacao.append(w)
        
print(prod_cacao)

['2.13525', '2.466691', '2.520148', '3.170455', '4.781921', '5.406165', '4.076186', '1.947565', '1.271732', '1.192862', '1.108806', '1.308801', '1.858835', '2.253626', '2.473057', '3.417401', '5.3336', '5.509219', '4.164298', '2.157268', '1.745893', '1.624236', '1.693876', '1.772018', '1.9049', '2.226467', '2.566362', '3.511845', '5.860557', '5.982458', '4.388249', '2.519964', '2.151193', '1.718656', '1.802029', '2.170663', '2.557918', '3.034393', '3.153076', '4.098067', '6.543808', '6.81608', '4.703269', '3.357186', '2.931977', '2.86489', '3.212604', '3.339778', '2.982761', '3.43181', '3.8456', '5.106181', '7.666739', '7.897751', '6.021816', '4.531545', '3.480942', '3.488117', '3.960752', '4.085397', '3.234134', '3.655838', '3.89513', '5.348378', '7.750652', '8.494137', '7.269925', '5.210078', '4.218406', '4.259379', '4.209182', '4.946341', '3.844985', '4.433396', '4.55404', '6.160705', '9.355764', '9.516437', '7.749883', '5.474128', '4.915291', '4.686676', '5.035052', '5.765914', '4.730886', '5.267401', '5.671863', '7.478743', '9.958065', '10.852486', '9.155288', '6.673357', '5.373864', '5.190753', '5.230731', '6.067644', '4.983594', '6.073102', '6.510671', '8.209287', '11.383667', '12.603769', '9.626502', '8.032581', '7.576604', '5.531718', '5.525932', '6.534885', '5.418252', '5.830401', '7.961668', '9.995584', '14.235002', '14.99281', '12.136565', '9.277572', '7.289154', '6.838213', '7.058387', '6.88790400000001', '5.608959', '7.056344', '8.616464', '11.35256', '14.564733', '14.923985', '13.180455', '10.546646', '9.318048', '8.173281', '8.951192', '9.532615', '7.838187', '8.585068', '9.470728', '12.341194', '16.482533', '16.599246', '14.577901', '11.944924', '9.470742', '8.929834', '8.992492', '9.442895', '9.117956', '9.937488', '11.233724', '13.233767', '17.402363', '18.197408', '14.613629', '10.903507', '9.198433', '8.904117', '9.421224', '9.611636', '10.408768', '11.365271', '12.099448', '15.463488', '18.503215', '19.986624', '16.720281', '13.301107', '11.365343', '10.665599', '9.940045', '10.46944']

In [177]:
fechas=[]
for i in periodos:
    nombres=i["name"]
    fechas.append(nombres)
print(fechas)

['Ene.2007', 'Feb.2007', 'Mar.2007', 'Abr.2007', 'May.2007', 'Jun.2007', 'Jul.2007', 'Ago.2007', 'Sep.2007', 'Oct.2007', 'Nov.2007', 'Dic.2007', 'Ene.2008', 'Feb.2008', 'Mar.2008', 'Abr.2008', 'May.2008', 'Jun.2008', 'Jul.2008', 'Ago.2008', 'Sep.2008', 'Oct.2008', 'Nov.2008', 'Dic.2008', 'Ene.2009', 'Feb.2009', 'Mar.2009', 'Abr.2009', 'May.2009', 'Jun.2009', 'Jul.2009', 'Ago.2009', 'Sep.2009', 'Oct.2009', 'Nov.2009', 'Dic.2009', 'Ene.2010', 'Feb.2010', 'Mar.2010', 'Abr.2010', 'May.2010', 'Jun.2010', 'Jul.2010', 'Ago.2010', 'Sep.2010', 'Oct.2010', 'Nov.2010', 'Dic.2010', 'Ene.2011', 'Feb.2011', 'Mar.2011', 'Abr.2011', 'May.2011', 'Jun.2011', 'Jul.2011', 'Ago.2011', 'Sep.2011', 'Oct.2011', 'Nov.2011', 'Dic.2011', 'Ene.2012', 'Feb.2012', 'Mar.2012', 'Abr.2012', 'May.2012', 'Jun.2012', 'Jul.2012', 'Ago.2012', 'Sep.2012', 'Oct.2012', 'Nov.2012', 'Dic.2012', 'Ene.2013', 'Feb.2013', 'Mar.2013', 'Abr.2013', 'May.2013', 'Jun.2013', 'Jul.2013', 'Ago.2013', 'Sep.2013', 'Oct.2013', 'Nov.2013', 'Dic.2013', 'Ene.2014', 'Feb.2014', 'Mar.2014', 'Abr.2014', 'May.2014', 'Jun.2014', 'Jul.2014', 'Ago.2014', 'Sep.2014', 'Oct.2014', 'Nov.2014', 'Dic.2014', 'Ene.2015', 'Feb.2015', 'Mar.2015', 'Abr.2015', 'May.2015', 'Jun.2015', 'Jul.2015', 'Ago.2015', 'Sep.2015', 'Oct.2015', 'Nov.2015', 'Dic.2015', 'Ene.2016', 'Feb.2016', 'Mar.2016', 'Abr.2016', 'May.2016', 'Jun.2016', 'Jul.2016', 'Ago.2016', 'Sep.2016', 'Oct.2016', 'Nov.2016', 'Dic.2016', 'Ene.2017', 'Feb.2017', 'Mar.2017', 'Abr.2017', 'May.2017', 'Jun.2017', 'Jul.2017', 'Ago.2017', 'Sep.2017', 'Oct.2017', 'Nov.2017', 'Dic.2017', 'Ene.2018', 'Feb.2018', 'Mar.2018', 'Abr.2018', 'May.2018', 'Jun.2018', 'Jul.2018', 'Ago.2018', 'Sep.2018', 'Oct.2018', 'Nov.2018', 'Dic.2018', 'Ene.2019', 'Feb.2019', 'Mar.2019', 'Abr.2019', 'May.2019', 'Jun.2019', 'Jul.2019', 'Ago.2019', 'Sep.2019', 'Oct.2019', 'Nov.2019', 'Dic.2019', 'Ene.2020', 'Feb.2020', 'Mar.2020', 'Abr.2020', 'May.2020', 'Jun.2020', 'Jul.2020', 'Ago.2020', 'Sep.2020', 'Oct.2020', 'Nov.2020', 'Dic.2020']

In [178]:
diccionario15= {"Fechas":fechas, "Valores":prod_cacao}
print(diccionario15)

{'Fechas': ['Ene.2007', 'Feb.2007', 'Mar.2007', 'Abr.2007', 'May.2007', 'Jun.2007', 'Jul.2007', 'Ago.2007', 'Sep.2007', 'Oct.2007', 'Nov.2007', 'Dic.2007', 'Ene.2008', 'Feb.2008', 'Mar.2008', 'Abr.2008', 'May.2008', 'Jun.2008', 'Jul.2008', 'Ago.2008', 'Sep.2008', 'Oct.2008', 'Nov.2008', 'Dic.2008', 'Ene.2009', 'Feb.2009', 'Mar.2009', 'Abr.2009', 'May.2009', 'Jun.2009', 'Jul.2009', 'Ago.2009', 'Sep.2009', 'Oct.2009', 'Nov.2009', 'Dic.2009', 'Ene.2010', 'Feb.2010', 'Mar.2010', 'Abr.2010', 'May.2010', 'Jun.2010', 'Jul.2010', 'Ago.2010', 'Sep.2010', 'Oct.2010', 'Nov.2010', 'Dic.2010', 'Ene.2011', 'Feb.2011', 'Mar.2011', 'Abr.2011', 'May.2011', 'Jun.2011', 'Jul.2011', 'Ago.2011', 'Sep.2011', 'Oct.2011', 'Nov.2011', 'Dic.2011', 'Ene.2012', 'Feb.2012', 'Mar.2012', 'Abr.2012', 'May.2012', 'Jun.2012', 'Jul.2012', 'Ago.2012', 'Sep.2012', 'Oct.2012', 'Nov.2012', 'Dic.2012', 'Ene.2013', 'Feb.2013', 'Mar.2013', 'Abr.2013', 'May.2013', 'Jun.2013', 'Jul.2013', 'Ago.2013', 'Sep.2013', 'Oct.2013', 'Nov.2013', 'Dic.2013', 'Ene.2014', 'Feb.2014', 'Mar.2014', 'Abr.2014', 'May.2014', 'Jun.2014', 'Jul.2014', 'Ago.2014', 'Sep.2014', 'Oct.2014', 'Nov.2014', 'Dic.2014', 'Ene.2015', 'Feb.2015', 'Mar.2015', 'Abr.2015', 'May.2015', 'Jun.2015', 'Jul.2015', 'Ago.2015', 'Sep.2015', 'Oct.2015', 'Nov.2015', 'Dic.2015', 'Ene.2016', 'Feb.2016', 'Mar.2016', 'Abr.2016', 'May.2016', 'Jun.2016', 'Jul.2016', 'Ago.2016', 'Sep.2016', 'Oct.2016', 'Nov.2016', 'Dic.2016', 'Ene.2017', 'Feb.2017', 'Mar.2017', 'Abr.2017', 'May.2017', 'Jun.2017', 'Jul.2017', 'Ago.2017', 'Sep.2017', 'Oct.2017', 'Nov.2017', 'Dic.2017', 'Ene.2018', 'Feb.2018', 'Mar.2018', 'Abr.2018', 'May.2018', 'Jun.2018', 'Jul.2018', 'Ago.2018', 'Sep.2018', 'Oct.2018', 'Nov.2018', 'Dic.2018', 'Ene.2019', 'Feb.2019', 'Mar.2019', 'Abr.2019', 'May.2019', 'Jun.2019', 'Jul.2019', 'Ago.2019', 'Sep.2019', 'Oct.2019', 'Nov.2019', 'Dic.2019', 'Ene.2020', 'Feb.2020', 'Mar.2020', 'Abr.2020', 'May.2020', 'Jun.2020', 'Jul.2020', 'Ago.2020', 'Sep.2020', 'Oct.2020', 'Nov.2020', 'Dic.2020'], 'Valores': ['2.13525', '2.466691', '2.520148', '3.170455', '4.781921', '5.406165', '4.076186', '1.947565', '1.271732', '1.192862', '1.108806', '1.308801', '1.858835', '2.253626', '2.473057', '3.417401', '5.3336', '5.509219', '4.164298', '2.157268', '1.745893', '1.624236', '1.693876', '1.772018', '1.9049', '2.226467', '2.566362', '3.511845', '5.860557', '5.982458', '4.388249', '2.519964', '2.151193', '1.718656', '1.802029', '2.170663', '2.557918', '3.034393', '3.153076', '4.098067', '6.543808', '6.81608', '4.703269', '3.357186', '2.931977', '2.86489', '3.212604', '3.339778', '2.982761', '3.43181', '3.8456', '5.106181', '7.666739', '7.897751', '6.021816', '4.531545', '3.480942', '3.488117', '3.960752', '4.085397', '3.234134', '3.655838', '3.89513', '5.348378', '7.750652', '8.494137', '7.269925', '5.210078', '4.218406', '4.259379', '4.209182', '4.946341', '3.844985', '4.433396', '4.55404', '6.160705', '9.355764', '9.516437', '7.749883', '5.474128', '4.915291', '4.686676', '5.035052', '5.765914', '4.730886', '5.267401', '5.671863', '7.478743', '9.958065', '10.852486', '9.155288', '6.673357', '5.373864', '5.190753', '5.230731', '6.067644', '4.983594', '6.073102', '6.510671', '8.209287', '11.383667', '12.603769', '9.626502', '8.032581', '7.576604', '5.531718', '5.525932', '6.534885', '5.418252', '5.830401', '7.961668', '9.995584', '14.235002', '14.99281', '12.136565', '9.277572', '7.289154', '6.838213', '7.058387', '6.88790400000001', '5.608959', '7.056344', '8.616464', '11.35256', '14.564733', '14.923985', '13.180455', '10.546646', '9.318048', '8.173281', '8.951192', '9.532615', '7.838187', '8.585068', '9.470728', '12.341194', '16.482533', '16.599246', '14.577901', '11.944924', '9.470742', '8.929834', '8.992492', '9.442895', '9.117956', '9.937488', '11.233724', '13.233767', '17.402363', '18.197408', '14.613629', '10.903507', '9.198433', '8.904117', '9.421224', '9.611636', '10.408768', '11.365271', '12.099448', '15.463488', '18.503215', '19.986624', '16.720281', '13.301107', '11.365343', '10.665599', '9.940045', '10.46944']}

In [179]:
df15=pd.DataFrame(diccionario15)
df15

       Fechas    Valores
0    Ene.2007    2.13525
1    Feb.2007   2.466691
2    Mar.2007   2.520148
3    Abr.2007   3.170455
4    May.2007   4.781921
..        ...        ...
163  Ago.2020  13.301107
164  Sep.2020  11.365343
165  Oct.2020  10.665599
166  Nov.2020   9.940045
167  Dic.2020   10.46944

[168 rows x 2 columns]

In [180]:
df15.rename(columns={'Valores':'Cacao'}, inplace=True)
df15.head()

     Fechas     Cacao
0  Ene.2007   2.13525
1  Feb.2007  2.466691
2  Mar.2007  2.520148
3  Abr.2007  3.170455
4  May.2007  4.781921

In [ ]:
# DATOS DE PRODUCCIÓN AGRÍCOLA DE PALMA ACEITERA

In [181]:
url_base="https://estadisticas.bcrp.gob.pe/estadisticas/series/api/"
cod_ser="PN01797AM"
formato="/json"
per="/2003-1/2020-12"
url=url_base+cod_ser+formato+per
print(url)

https://estadisticas.bcrp.gob.pe/estadisticas/series/api/PN01797AM/json/2003-1/2020-12

In [182]:
import requests
response=requests.get(url)
print(response)

<Response [200]>

In [183]:
# extraer en formato json
response_json=response.json()
print(response_json)

{'config': {'title': 'ProducciÃ³n agropecuaria (miles de toneladas)', 'series': [{'name': 'ProducciÃ³n agropecuaria (miles de toneladas) - AgrÃ\xadcola - Palma Aceitera', 'dec': '1'}]}, 'periods': [{'name': 'Ene.2007', 'values': ['23.1921']}, {'name': 'Feb.2007', 'values': ['19.8595']}, {'name': 'Mar.2007', 'values': ['20.9496']}, {'name': 'Abr.2007', 'values': ['15.57025']}, {'name': 'May.2007', 'values': ['18.3122']}, {'name': 'Jun.2007', 'values': ['15.22088']}, {'name': 'Jul.2007', 'values': ['16.871319']}, {'name': 'Ago.2007', 'values': ['20.0191']}, {'name': 'Sep.2007', 'values': ['20.3786']}, {'name': 'Oct.2007', 'values': ['23.1645']}, {'name': 'Nov.2007', 'values': ['22.38534']}, {'name': 'Dic.2007', 'values': ['22.5244']}, {'name': 'Ene.2008', 'values': ['22.77704']}, {'name': 'Feb.2008', 'values': ['18.9064']}, {'name': 'Mar.2008', 'values': ['19.527']}, {'name': 'Abr.2008', 'values': ['16.315']}, {'name': 'May.2008', 'values': ['19.89218']}, {'name': 'Jun.2008', 'values': ['18.1071']}, {'name': 'Jul.2008', 'values': ['18.1912']}, {'name': 'Ago.2008', 'values': ['20.0217']}, {'name': 'Sep.2008', 'values': ['22.5511']}, {'name': 'Oct.2008', 'values': ['23.72496']}, {'name': 'Nov.2008', 'values': ['23.65321']}, {'name': 'Dic.2008', 'values': ['22.7525']}, {'name': 'Ene.2009', 'values': ['22.731069']}, {'name': 'Feb.2009', 'values': ['20.23112']}, {'name': 'Mar.2009', 'values': ['18.07309']}, {'name': 'Abr.2009', 'values': ['18.83168']}, {'name': 'May.2009', 'values': ['20.43612']}, {'name': 'Jun.2009', 'values': ['19.419025']}, {'name': 'Jul.2009', 'values': ['20.996449']}, {'name': 'Ago.2009', 'values': ['24.271078']}, {'name': 'Sep.2009', 'values': ['24.08702']}, {'name': 'Oct.2009', 'values': ['25.84351']}, {'name': 'Nov.2009', 'values': ['26.417629']}, {'name': 'Dic.2009', 'values': ['26.92966']}, {'name': 'Ene.2010', 'values': ['23.998092']}, {'name': 'Feb.2010', 'values': ['19.786452']}, {'name': 'Mar.2010', 'values': ['22.455387']}, {'name': 'Abr.2010', 'values': ['23.587332']}, {'name': 'May.2010', 'values': ['26.009319']}, {'name': 'Jun.2010', 'values': ['21.737107']}, {'name': 'Jul.2010', 'values': ['25.509674']}, {'name': 'Ago.2010', 'values': ['20.006594']}, {'name': 'Sep.2010', 'values': ['26.842705']}, {'name': 'Oct.2010', 'values': ['27.50017']}, {'name': 'Nov.2010', 'values': ['27.080515']}, {'name': 'Dic.2010', 'values': ['27.288729']}, {'name': 'Ene.2011', 'values': ['27.879869']}, {'name': 'Feb.2011', 'values': ['24.892569']}, {'name': 'Mar.2011', 'values': ['29.088075']}, {'name': 'Abr.2011', 'values': ['24.993889']}, {'name': 'May.2011', 'values': ['29.624548']}, {'name': 'Jun.2011', 'values': ['27.609408']}, {'name': 'Jul.2011', 'values': ['22.950576']}, {'name': 'Ago.2011', 'values': ['27.030362']}, {'name': 'Sep.2011', 'values': ['31.15551']}, {'name': 'Oct.2011', 'values': ['37.03065']}, {'name': 'Nov.2011', 'values': ['38.121775']}, {'name': 'Dic.2011', 'values': ['39.406729']}, {'name': 'Ene.2012', 'values': ['36.16957']}, {'name': 'Feb.2012', 'values': ['36.191757']}, {'name': 'Mar.2012', 'values': ['34.57525']}, {'name': 'Abr.2012', 'values': ['36.936543']}, {'name': 'May.2012', 'values': ['42.325079']}, {'name': 'Jun.2012', 'values': ['40.2464']}, {'name': 'Jul.2012', 'values': ['40.805528']}, {'name': 'Ago.2012', 'values': ['42.36958']}, {'name': 'Sep.2012', 'values': ['47.02659']}, {'name': 'Oct.2012', 'values': ['54.26334']}, {'name': 'Nov.2012', 'values': ['54.87994']}, {'name': 'Dic.2012', 'values': ['52.34912']}, {'name': 'Ene.2013', 'values': ['51.02169']}, {'name': 'Feb.2013', 'values': ['42.652155']}, {'name': 'Mar.2013', 'values': ['41.0583']}, {'name': 'Abr.2013', 'values': ['43.574744']}, {'name': 'May.2013', 'values': ['44.879649']}, {'name': 'Jun.2013', 'values': ['29.47075']}, {'name': 'Jul.2013', 'values': ['35.173608']}, {'name': 'Ago.2013', 'values': ['43.430789']}, {'name': 'Sep.2013', 'values': ['52.81666']}, {'name': 'Oct.2013', 'values': ['61.994359']}, {'name': 'Nov.2013', 'values': ['60.738108']}, {'name': 'Dic.2013', 'values': ['58.96794']}, {'name': 'Ene.2014', 'values': ['55.01666']}, {'name': 'Feb.2014', 'values': ['52.986534']}, {'name': 'Mar.2014', 'values': ['51.960115']}, {'name': 'Abr.2014', 'values': ['49.2948']}, {'name': 'May.2014', 'values': ['53.1764']}, {'name': 'Jun.2014', 'values': ['46.01543']}, {'name': 'Jul.2014', 'values': ['42.701522']}, {'name': 'Ago.2014', 'values': ['46.869799']}, {'name': 'Sep.2014', 'values': ['51.979419']}, {'name': 'Oct.2014', 'values': ['55.133007']}, {'name': 'Nov.2014', 'values': ['56.558998']}, {'name': 'Dic.2014', 'values': ['55.940855']}, {'name': 'Ene.2015', 'values': ['56.641069']}, {'name': 'Feb.2015', 'values': ['46.991709']}, {'name': 'Mar.2015', 'values': ['51.43986']}, {'name': 'Abr.2015', 'values': ['54.99035']}, {'name': 'May.2015', 'values': ['54.965048']}, {'name': 'Jun.2015', 'values': ['52.37403']}, {'name': 'Jul.2015', 'values': ['53.015088']}, {'name': 'Ago.2015', 'values': ['56.632114']}, {'name': 'Sep.2015', 'values': ['63.11891']}, {'name': 'Oct.2015', 'values': ['62.428356']}, {'name': 'Nov.2015', 'values': ['68.337295']}, {'name': 'Dic.2015', 'values': ['63.3673']}, {'name': 'Ene.2016', 'values': ['59.02224']}, {'name': 'Feb.2016', 'values': ['55.601459']}, {'name': 'Mar.2016', 'values': ['57.336639']}, {'name': 'Abr.2016', 'values': ['56.34704']}, {'name': 'May.2016', 'values': ['53.592616']}, {'name': 'Jun.2016', 'values': ['50.89681']}, {'name': 'Jul.2016', 'values': ['47.70843']}, {'name': 'Ago.2016', 'values': ['60.890941']}, {'name': 'Sep.2016', 'values': ['72.61651']}, {'name': 'Oct.2016', 'values': ['79.522691']}, {'name': 'Nov.2016', 'values': ['68.8789400000001']}, {'name': 'Dic.2016', 'values': ['73.9304500000001']}, {'name': 'Ene.2017', 'values': ['70.847404']}, {'name': 'Feb.2017', 'values': ['61.303631']}, {'name': 'Mar.2017', 'values': ['71.705716']}, {'name': 'Abr.2017', 'values': ['62.754189']}, {'name': 'May.2017', 'values': ['65.536496']}, {'name': 'Jun.2017', 'values': ['58.667312']}, {'name': 'Jul.2017', 'values': ['61.592508']}, {'name': 'Ago.2017', 'values': ['73.208328']}, {'name': 'Sep.2017', 'values': ['77.731152']}, {'name': 'Oct.2017', 'values': ['87.460089']}, {'name': 'Nov.2017', 'values': ['77.48717']}, {'name': 'Dic.2017', 'values': ['75.108349']}, {'name': 'Ene.2018', 'values': ['73.88667']}, {'name': 'Feb.2018', 'values': ['64.351403']}, {'name': 'Mar.2018', 'values': ['70.884965']}, {'name': 'Abr.2018', 'values': ['73.131576']}, {'name': 'May.2018', 'values': ['66.420977']}, {'name': 'Jun.2018', 'values': ['60.322235']}, {'name': 'Jul.2018', 'values': ['71.49569']}, {'name': 'Ago.2018', 'values': ['86.345597']}, {'name': 'Sep.2018', 'values': ['82.445009']}, {'name': 'Oct.2018', 'values': ['92.98294']}, {'name': 'Nov.2018', 'values': ['93.989639']}, {'name': 'Dic.2018', 'values': ['84.743908']}, {'name': 'Ene.2019', 'values': ['80.31425']}, {'name': 'Feb.2019', 'values': ['67.08118']}, {'name': 'Mar.2019', 'values': ['75.550826']}, {'name': 'Abr.2019', 'values': ['74.480699']}, {'name': 'May.2019', 'values': ['70.41711']}, {'name': 'Jun.2019', 'values': ['62.187409']}, {'name': 'Jul.2019', 'values': ['62.454355']}, {'name': 'Ago.2019', 'values': ['76.5147']}, {'name': 'Sep.2019', 'values': ['81.7684']}, {'name': 'Oct.2019', 'values': ['101.034723']}, {'name': 'Nov.2019', 'values': ['94.542713']}, {'name': 'Dic.2019', 'values': ['85.863924']}, {'name': 'Ene.2020', 'values': ['81.04207']}, {'name': 'Feb.2020', 'values': ['72.81881']}, {'name': 'Mar.2020', 'values': ['72.66144']}, {'name': 'Abr.2020', 'values': ['60.458185']}, {'name': 'May.2020', 'values': ['66.65684']}, {'name': 'Jun.2020', 'values': ['55.09682']}, {'name': 'Jul.2020', 'values': ['65.44279']}, {'name': 'Ago.2020', 'values': ['82.04908']}, {'name': 'Sep.2020', 'values': ['88.468859']}, {'name': 'Oct.2020', 'values': ['92.93685']}, {'name': 'Nov.2020', 'values': ['84.56977']}, {'name': 'Dic.2020', 'values': ['76.27922']}]}

In [184]:
for key in response_json.keys():
    print(key)

config
periods

In [185]:
print(response_json["config"])

{'title': 'ProducciÃ³n agropecuaria (miles de toneladas)', 'series': [{'name': 'ProducciÃ³n agropecuaria (miles de toneladas) - AgrÃ\xadcola - Palma Aceitera', 'dec': '1'}]}

In [186]:
# llamar a los valores
print(response_json["periods"])

[{'name': 'Ene.2007', 'values': ['23.1921']}, {'name': 'Feb.2007', 'values': ['19.8595']}, {'name': 'Mar.2007', 'values': ['20.9496']}, {'name': 'Abr.2007', 'values': ['15.57025']}, {'name': 'May.2007', 'values': ['18.3122']}, {'name': 'Jun.2007', 'values': ['15.22088']}, {'name': 'Jul.2007', 'values': ['16.871319']}, {'name': 'Ago.2007', 'values': ['20.0191']}, {'name': 'Sep.2007', 'values': ['20.3786']}, {'name': 'Oct.2007', 'values': ['23.1645']}, {'name': 'Nov.2007', 'values': ['22.38534']}, {'name': 'Dic.2007', 'values': ['22.5244']}, {'name': 'Ene.2008', 'values': ['22.77704']}, {'name': 'Feb.2008', 'values': ['18.9064']}, {'name': 'Mar.2008', 'values': ['19.527']}, {'name': 'Abr.2008', 'values': ['16.315']}, {'name': 'May.2008', 'values': ['19.89218']}, {'name': 'Jun.2008', 'values': ['18.1071']}, {'name': 'Jul.2008', 'values': ['18.1912']}, {'name': 'Ago.2008', 'values': ['20.0217']}, {'name': 'Sep.2008', 'values': ['22.5511']}, {'name': 'Oct.2008', 'values': ['23.72496']}, {'name': 'Nov.2008', 'values': ['23.65321']}, {'name': 'Dic.2008', 'values': ['22.7525']}, {'name': 'Ene.2009', 'values': ['22.731069']}, {'name': 'Feb.2009', 'values': ['20.23112']}, {'name': 'Mar.2009', 'values': ['18.07309']}, {'name': 'Abr.2009', 'values': ['18.83168']}, {'name': 'May.2009', 'values': ['20.43612']}, {'name': 'Jun.2009', 'values': ['19.419025']}, {'name': 'Jul.2009', 'values': ['20.996449']}, {'name': 'Ago.2009', 'values': ['24.271078']}, {'name': 'Sep.2009', 'values': ['24.08702']}, {'name': 'Oct.2009', 'values': ['25.84351']}, {'name': 'Nov.2009', 'values': ['26.417629']}, {'name': 'Dic.2009', 'values': ['26.92966']}, {'name': 'Ene.2010', 'values': ['23.998092']}, {'name': 'Feb.2010', 'values': ['19.786452']}, {'name': 'Mar.2010', 'values': ['22.455387']}, {'name': 'Abr.2010', 'values': ['23.587332']}, {'name': 'May.2010', 'values': ['26.009319']}, {'name': 'Jun.2010', 'values': ['21.737107']}, {'name': 'Jul.2010', 'values': ['25.509674']}, {'name': 'Ago.2010', 'values': ['20.006594']}, {'name': 'Sep.2010', 'values': ['26.842705']}, {'name': 'Oct.2010', 'values': ['27.50017']}, {'name': 'Nov.2010', 'values': ['27.080515']}, {'name': 'Dic.2010', 'values': ['27.288729']}, {'name': 'Ene.2011', 'values': ['27.879869']}, {'name': 'Feb.2011', 'values': ['24.892569']}, {'name': 'Mar.2011', 'values': ['29.088075']}, {'name': 'Abr.2011', 'values': ['24.993889']}, {'name': 'May.2011', 'values': ['29.624548']}, {'name': 'Jun.2011', 'values': ['27.609408']}, {'name': 'Jul.2011', 'values': ['22.950576']}, {'name': 'Ago.2011', 'values': ['27.030362']}, {'name': 'Sep.2011', 'values': ['31.15551']}, {'name': 'Oct.2011', 'values': ['37.03065']}, {'name': 'Nov.2011', 'values': ['38.121775']}, {'name': 'Dic.2011', 'values': ['39.406729']}, {'name': 'Ene.2012', 'values': ['36.16957']}, {'name': 'Feb.2012', 'values': ['36.191757']}, {'name': 'Mar.2012', 'values': ['34.57525']}, {'name': 'Abr.2012', 'values': ['36.936543']}, {'name': 'May.2012', 'values': ['42.325079']}, {'name': 'Jun.2012', 'values': ['40.2464']}, {'name': 'Jul.2012', 'values': ['40.805528']}, {'name': 'Ago.2012', 'values': ['42.36958']}, {'name': 'Sep.2012', 'values': ['47.02659']}, {'name': 'Oct.2012', 'values': ['54.26334']}, {'name': 'Nov.2012', 'values': ['54.87994']}, {'name': 'Dic.2012', 'values': ['52.34912']}, {'name': 'Ene.2013', 'values': ['51.02169']}, {'name': 'Feb.2013', 'values': ['42.652155']}, {'name': 'Mar.2013', 'values': ['41.0583']}, {'name': 'Abr.2013', 'values': ['43.574744']}, {'name': 'May.2013', 'values': ['44.879649']}, {'name': 'Jun.2013', 'values': ['29.47075']}, {'name': 'Jul.2013', 'values': ['35.173608']}, {'name': 'Ago.2013', 'values': ['43.430789']}, {'name': 'Sep.2013', 'values': ['52.81666']}, {'name': 'Oct.2013', 'values': ['61.994359']}, {'name': 'Nov.2013', 'values': ['60.738108']}, {'name': 'Dic.2013', 'values': ['58.96794']}, {'name': 'Ene.2014', 'values': ['55.01666']}, {'name': 'Feb.2014', 'values': ['52.986534']}, {'name': 'Mar.2014', 'values': ['51.960115']}, {'name': 'Abr.2014', 'values': ['49.2948']}, {'name': 'May.2014', 'values': ['53.1764']}, {'name': 'Jun.2014', 'values': ['46.01543']}, {'name': 'Jul.2014', 'values': ['42.701522']}, {'name': 'Ago.2014', 'values': ['46.869799']}, {'name': 'Sep.2014', 'values': ['51.979419']}, {'name': 'Oct.2014', 'values': ['55.133007']}, {'name': 'Nov.2014', 'values': ['56.558998']}, {'name': 'Dic.2014', 'values': ['55.940855']}, {'name': 'Ene.2015', 'values': ['56.641069']}, {'name': 'Feb.2015', 'values': ['46.991709']}, {'name': 'Mar.2015', 'values': ['51.43986']}, {'name': 'Abr.2015', 'values': ['54.99035']}, {'name': 'May.2015', 'values': ['54.965048']}, {'name': 'Jun.2015', 'values': ['52.37403']}, {'name': 'Jul.2015', 'values': ['53.015088']}, {'name': 'Ago.2015', 'values': ['56.632114']}, {'name': 'Sep.2015', 'values': ['63.11891']}, {'name': 'Oct.2015', 'values': ['62.428356']}, {'name': 'Nov.2015', 'values': ['68.337295']}, {'name': 'Dic.2015', 'values': ['63.3673']}, {'name': 'Ene.2016', 'values': ['59.02224']}, {'name': 'Feb.2016', 'values': ['55.601459']}, {'name': 'Mar.2016', 'values': ['57.336639']}, {'name': 'Abr.2016', 'values': ['56.34704']}, {'name': 'May.2016', 'values': ['53.592616']}, {'name': 'Jun.2016', 'values': ['50.89681']}, {'name': 'Jul.2016', 'values': ['47.70843']}, {'name': 'Ago.2016', 'values': ['60.890941']}, {'name': 'Sep.2016', 'values': ['72.61651']}, {'name': 'Oct.2016', 'values': ['79.522691']}, {'name': 'Nov.2016', 'values': ['68.8789400000001']}, {'name': 'Dic.2016', 'values': ['73.9304500000001']}, {'name': 'Ene.2017', 'values': ['70.847404']}, {'name': 'Feb.2017', 'values': ['61.303631']}, {'name': 'Mar.2017', 'values': ['71.705716']}, {'name': 'Abr.2017', 'values': ['62.754189']}, {'name': 'May.2017', 'values': ['65.536496']}, {'name': 'Jun.2017', 'values': ['58.667312']}, {'name': 'Jul.2017', 'values': ['61.592508']}, {'name': 'Ago.2017', 'values': ['73.208328']}, {'name': 'Sep.2017', 'values': ['77.731152']}, {'name': 'Oct.2017', 'values': ['87.460089']}, {'name': 'Nov.2017', 'values': ['77.48717']}, {'name': 'Dic.2017', 'values': ['75.108349']}, {'name': 'Ene.2018', 'values': ['73.88667']}, {'name': 'Feb.2018', 'values': ['64.351403']}, {'name': 'Mar.2018', 'values': ['70.884965']}, {'name': 'Abr.2018', 'values': ['73.131576']}, {'name': 'May.2018', 'values': ['66.420977']}, {'name': 'Jun.2018', 'values': ['60.322235']}, {'name': 'Jul.2018', 'values': ['71.49569']}, {'name': 'Ago.2018', 'values': ['86.345597']}, {'name': 'Sep.2018', 'values': ['82.445009']}, {'name': 'Oct.2018', 'values': ['92.98294']}, {'name': 'Nov.2018', 'values': ['93.989639']}, {'name': 'Dic.2018', 'values': ['84.743908']}, {'name': 'Ene.2019', 'values': ['80.31425']}, {'name': 'Feb.2019', 'values': ['67.08118']}, {'name': 'Mar.2019', 'values': ['75.550826']}, {'name': 'Abr.2019', 'values': ['74.480699']}, {'name': 'May.2019', 'values': ['70.41711']}, {'name': 'Jun.2019', 'values': ['62.187409']}, {'name': 'Jul.2019', 'values': ['62.454355']}, {'name': 'Ago.2019', 'values': ['76.5147']}, {'name': 'Sep.2019', 'values': ['81.7684']}, {'name': 'Oct.2019', 'values': ['101.034723']}, {'name': 'Nov.2019', 'values': ['94.542713']}, {'name': 'Dic.2019', 'values': ['85.863924']}, {'name': 'Ene.2020', 'values': ['81.04207']}, {'name': 'Feb.2020', 'values': ['72.81881']}, {'name': 'Mar.2020', 'values': ['72.66144']}, {'name': 'Abr.2020', 'values': ['60.458185']}, {'name': 'May.2020', 'values': ['66.65684']}, {'name': 'Jun.2020', 'values': ['55.09682']}, {'name': 'Jul.2020', 'values': ['65.44279']}, {'name': 'Ago.2020', 'values': ['82.04908']}, {'name': 'Sep.2020', 'values': ['88.468859']}, {'name': 'Oct.2020', 'values': ['92.93685']}, {'name': 'Nov.2020', 'values': ['84.56977']}, {'name': 'Dic.2020', 'values': ['76.27922']}]

In [187]:
periodos=response_json.get("periods")
prod_palma_aceitera=[]
for i in periodos:
    valores_list=i["values"]
    for w in valores_list:
        w=str(w)
        prod_palma_aceitera.append(w)
        
print(prod_palma_aceitera)

['23.1921', '19.8595', '20.9496', '15.57025', '18.3122', '15.22088', '16.871319', '20.0191', '20.3786', '23.1645', '22.38534', '22.5244', '22.77704', '18.9064', '19.527', '16.315', '19.89218', '18.1071', '18.1912', '20.0217', '22.5511', '23.72496', '23.65321', '22.7525', '22.731069', '20.23112', '18.07309', '18.83168', '20.43612', '19.419025', '20.996449', '24.271078', '24.08702', '25.84351', '26.417629', '26.92966', '23.998092', '19.786452', '22.455387', '23.587332', '26.009319', '21.737107', '25.509674', '20.006594', '26.842705', '27.50017', '27.080515', '27.288729', '27.879869', '24.892569', '29.088075', '24.993889', '29.624548', '27.609408', '22.950576', '27.030362', '31.15551', '37.03065', '38.121775', '39.406729', '36.16957', '36.191757', '34.57525', '36.936543', '42.325079', '40.2464', '40.805528', '42.36958', '47.02659', '54.26334', '54.87994', '52.34912', '51.02169', '42.652155', '41.0583', '43.574744', '44.879649', '29.47075', '35.173608', '43.430789', '52.81666', '61.994359', '60.738108', '58.96794', '55.01666', '52.986534', '51.960115', '49.2948', '53.1764', '46.01543', '42.701522', '46.869799', '51.979419', '55.133007', '56.558998', '55.940855', '56.641069', '46.991709', '51.43986', '54.99035', '54.965048', '52.37403', '53.015088', '56.632114', '63.11891', '62.428356', '68.337295', '63.3673', '59.02224', '55.601459', '57.336639', '56.34704', '53.592616', '50.89681', '47.70843', '60.890941', '72.61651', '79.522691', '68.8789400000001', '73.9304500000001', '70.847404', '61.303631', '71.705716', '62.754189', '65.536496', '58.667312', '61.592508', '73.208328', '77.731152', '87.460089', '77.48717', '75.108349', '73.88667', '64.351403', '70.884965', '73.131576', '66.420977', '60.322235', '71.49569', '86.345597', '82.445009', '92.98294', '93.989639', '84.743908', '80.31425', '67.08118', '75.550826', '74.480699', '70.41711', '62.187409', '62.454355', '76.5147', '81.7684', '101.034723', '94.542713', '85.863924', '81.04207', '72.81881', '72.66144', '60.458185', '66.65684', '55.09682', '65.44279', '82.04908', '88.468859', '92.93685', '84.56977', '76.27922']

In [188]:
fechas=[]
for i in periodos:
    nombres=i["name"]
    fechas.append(nombres)
print(fechas)

['Ene.2007', 'Feb.2007', 'Mar.2007', 'Abr.2007', 'May.2007', 'Jun.2007', 'Jul.2007', 'Ago.2007', 'Sep.2007', 'Oct.2007', 'Nov.2007', 'Dic.2007', 'Ene.2008', 'Feb.2008', 'Mar.2008', 'Abr.2008', 'May.2008', 'Jun.2008', 'Jul.2008', 'Ago.2008', 'Sep.2008', 'Oct.2008', 'Nov.2008', 'Dic.2008', 'Ene.2009', 'Feb.2009', 'Mar.2009', 'Abr.2009', 'May.2009', 'Jun.2009', 'Jul.2009', 'Ago.2009', 'Sep.2009', 'Oct.2009', 'Nov.2009', 'Dic.2009', 'Ene.2010', 'Feb.2010', 'Mar.2010', 'Abr.2010', 'May.2010', 'Jun.2010', 'Jul.2010', 'Ago.2010', 'Sep.2010', 'Oct.2010', 'Nov.2010', 'Dic.2010', 'Ene.2011', 'Feb.2011', 'Mar.2011', 'Abr.2011', 'May.2011', 'Jun.2011', 'Jul.2011', 'Ago.2011', 'Sep.2011', 'Oct.2011', 'Nov.2011', 'Dic.2011', 'Ene.2012', 'Feb.2012', 'Mar.2012', 'Abr.2012', 'May.2012', 'Jun.2012', 'Jul.2012', 'Ago.2012', 'Sep.2012', 'Oct.2012', 'Nov.2012', 'Dic.2012', 'Ene.2013', 'Feb.2013', 'Mar.2013', 'Abr.2013', 'May.2013', 'Jun.2013', 'Jul.2013', 'Ago.2013', 'Sep.2013', 'Oct.2013', 'Nov.2013', 'Dic.2013', 'Ene.2014', 'Feb.2014', 'Mar.2014', 'Abr.2014', 'May.2014', 'Jun.2014', 'Jul.2014', 'Ago.2014', 'Sep.2014', 'Oct.2014', 'Nov.2014', 'Dic.2014', 'Ene.2015', 'Feb.2015', 'Mar.2015', 'Abr.2015', 'May.2015', 'Jun.2015', 'Jul.2015', 'Ago.2015', 'Sep.2015', 'Oct.2015', 'Nov.2015', 'Dic.2015', 'Ene.2016', 'Feb.2016', 'Mar.2016', 'Abr.2016', 'May.2016', 'Jun.2016', 'Jul.2016', 'Ago.2016', 'Sep.2016', 'Oct.2016', 'Nov.2016', 'Dic.2016', 'Ene.2017', 'Feb.2017', 'Mar.2017', 'Abr.2017', 'May.2017', 'Jun.2017', 'Jul.2017', 'Ago.2017', 'Sep.2017', 'Oct.2017', 'Nov.2017', 'Dic.2017', 'Ene.2018', 'Feb.2018', 'Mar.2018', 'Abr.2018', 'May.2018', 'Jun.2018', 'Jul.2018', 'Ago.2018', 'Sep.2018', 'Oct.2018', 'Nov.2018', 'Dic.2018', 'Ene.2019', 'Feb.2019', 'Mar.2019', 'Abr.2019', 'May.2019', 'Jun.2019', 'Jul.2019', 'Ago.2019', 'Sep.2019', 'Oct.2019', 'Nov.2019', 'Dic.2019', 'Ene.2020', 'Feb.2020', 'Mar.2020', 'Abr.2020', 'May.2020', 'Jun.2020', 'Jul.2020', 'Ago.2020', 'Sep.2020', 'Oct.2020', 'Nov.2020', 'Dic.2020']

In [190]:
diccionario16= {"Fechas":fechas, "Valores":prod_palma_aceitera}
print(diccionario16)

{'Fechas': ['Ene.2007', 'Feb.2007', 'Mar.2007', 'Abr.2007', 'May.2007', 'Jun.2007', 'Jul.2007', 'Ago.2007', 'Sep.2007', 'Oct.2007', 'Nov.2007', 'Dic.2007', 'Ene.2008', 'Feb.2008', 'Mar.2008', 'Abr.2008', 'May.2008', 'Jun.2008', 'Jul.2008', 'Ago.2008', 'Sep.2008', 'Oct.2008', 'Nov.2008', 'Dic.2008', 'Ene.2009', 'Feb.2009', 'Mar.2009', 'Abr.2009', 'May.2009', 'Jun.2009', 'Jul.2009', 'Ago.2009', 'Sep.2009', 'Oct.2009', 'Nov.2009', 'Dic.2009', 'Ene.2010', 'Feb.2010', 'Mar.2010', 'Abr.2010', 'May.2010', 'Jun.2010', 'Jul.2010', 'Ago.2010', 'Sep.2010', 'Oct.2010', 'Nov.2010', 'Dic.2010', 'Ene.2011', 'Feb.2011', 'Mar.2011', 'Abr.2011', 'May.2011', 'Jun.2011', 'Jul.2011', 'Ago.2011', 'Sep.2011', 'Oct.2011', 'Nov.2011', 'Dic.2011', 'Ene.2012', 'Feb.2012', 'Mar.2012', 'Abr.2012', 'May.2012', 'Jun.2012', 'Jul.2012', 'Ago.2012', 'Sep.2012', 'Oct.2012', 'Nov.2012', 'Dic.2012', 'Ene.2013', 'Feb.2013', 'Mar.2013', 'Abr.2013', 'May.2013', 'Jun.2013', 'Jul.2013', 'Ago.2013', 'Sep.2013', 'Oct.2013', 'Nov.2013', 'Dic.2013', 'Ene.2014', 'Feb.2014', 'Mar.2014', 'Abr.2014', 'May.2014', 'Jun.2014', 'Jul.2014', 'Ago.2014', 'Sep.2014', 'Oct.2014', 'Nov.2014', 'Dic.2014', 'Ene.2015', 'Feb.2015', 'Mar.2015', 'Abr.2015', 'May.2015', 'Jun.2015', 'Jul.2015', 'Ago.2015', 'Sep.2015', 'Oct.2015', 'Nov.2015', 'Dic.2015', 'Ene.2016', 'Feb.2016', 'Mar.2016', 'Abr.2016', 'May.2016', 'Jun.2016', 'Jul.2016', 'Ago.2016', 'Sep.2016', 'Oct.2016', 'Nov.2016', 'Dic.2016', 'Ene.2017', 'Feb.2017', 'Mar.2017', 'Abr.2017', 'May.2017', 'Jun.2017', 'Jul.2017', 'Ago.2017', 'Sep.2017', 'Oct.2017', 'Nov.2017', 'Dic.2017', 'Ene.2018', 'Feb.2018', 'Mar.2018', 'Abr.2018', 'May.2018', 'Jun.2018', 'Jul.2018', 'Ago.2018', 'Sep.2018', 'Oct.2018', 'Nov.2018', 'Dic.2018', 'Ene.2019', 'Feb.2019', 'Mar.2019', 'Abr.2019', 'May.2019', 'Jun.2019', 'Jul.2019', 'Ago.2019', 'Sep.2019', 'Oct.2019', 'Nov.2019', 'Dic.2019', 'Ene.2020', 'Feb.2020', 'Mar.2020', 'Abr.2020', 'May.2020', 'Jun.2020', 'Jul.2020', 'Ago.2020', 'Sep.2020', 'Oct.2020', 'Nov.2020', 'Dic.2020'], 'Valores': ['23.1921', '19.8595', '20.9496', '15.57025', '18.3122', '15.22088', '16.871319', '20.0191', '20.3786', '23.1645', '22.38534', '22.5244', '22.77704', '18.9064', '19.527', '16.315', '19.89218', '18.1071', '18.1912', '20.0217', '22.5511', '23.72496', '23.65321', '22.7525', '22.731069', '20.23112', '18.07309', '18.83168', '20.43612', '19.419025', '20.996449', '24.271078', '24.08702', '25.84351', '26.417629', '26.92966', '23.998092', '19.786452', '22.455387', '23.587332', '26.009319', '21.737107', '25.509674', '20.006594', '26.842705', '27.50017', '27.080515', '27.288729', '27.879869', '24.892569', '29.088075', '24.993889', '29.624548', '27.609408', '22.950576', '27.030362', '31.15551', '37.03065', '38.121775', '39.406729', '36.16957', '36.191757', '34.57525', '36.936543', '42.325079', '40.2464', '40.805528', '42.36958', '47.02659', '54.26334', '54.87994', '52.34912', '51.02169', '42.652155', '41.0583', '43.574744', '44.879649', '29.47075', '35.173608', '43.430789', '52.81666', '61.994359', '60.738108', '58.96794', '55.01666', '52.986534', '51.960115', '49.2948', '53.1764', '46.01543', '42.701522', '46.869799', '51.979419', '55.133007', '56.558998', '55.940855', '56.641069', '46.991709', '51.43986', '54.99035', '54.965048', '52.37403', '53.015088', '56.632114', '63.11891', '62.428356', '68.337295', '63.3673', '59.02224', '55.601459', '57.336639', '56.34704', '53.592616', '50.89681', '47.70843', '60.890941', '72.61651', '79.522691', '68.8789400000001', '73.9304500000001', '70.847404', '61.303631', '71.705716', '62.754189', '65.536496', '58.667312', '61.592508', '73.208328', '77.731152', '87.460089', '77.48717', '75.108349', '73.88667', '64.351403', '70.884965', '73.131576', '66.420977', '60.322235', '71.49569', '86.345597', '82.445009', '92.98294', '93.989639', '84.743908', '80.31425', '67.08118', '75.550826', '74.480699', '70.41711', '62.187409', '62.454355', '76.5147', '81.7684', '101.034723', '94.542713', '85.863924', '81.04207', '72.81881', '72.66144', '60.458185', '66.65684', '55.09682', '65.44279', '82.04908', '88.468859', '92.93685', '84.56977', '76.27922']}

In [191]:
df16=pd.DataFrame(diccionario16)
df16

       Fechas    Valores
0    Ene.2007    23.1921
1    Feb.2007    19.8595
2    Mar.2007    20.9496
3    Abr.2007   15.57025
4    May.2007    18.3122
..        ...        ...
163  Ago.2020   82.04908
164  Sep.2020  88.468859
165  Oct.2020   92.93685
166  Nov.2020   84.56977
167  Dic.2020   76.27922

[168 rows x 2 columns]

In [192]:
df16.rename(columns={'Valores':'Palma_aceitera'}, inplace=True)
df16.head()

     Fechas Palma_aceitera
0  Ene.2007        23.1921
1  Feb.2007        19.8595
2  Mar.2007        20.9496
3  Abr.2007       15.57025
4  May.2007        18.3122

In [ ]:
# DATOS DE PRODUCCIÓN AGRÍCOLA DE QUINUA

In [193]:
url_base="https://estadisticas.bcrp.gob.pe/estadisticas/series/api/"
cod_ser="PN01798AM"
formato="/json"
per="/2003-1/2020-12"
url=url_base+cod_ser+formato+per
print(url)

https://estadisticas.bcrp.gob.pe/estadisticas/series/api/PN01798AM/json/2003-1/2020-12

In [194]:
import requests
response=requests.get(url)
print(response)

<Response [200]>

In [195]:
# extraer en formato json
response_json=response.json()
print(response_json)

{'config': {'title': 'ProducciÃ³n agropecuaria (miles de toneladas)', 'series': [{'name': 'ProducciÃ³n agropecuaria (miles de toneladas) - AgrÃ\xadcola - Quinua', 'dec': '1'}]}, 'periods': [{'name': 'Ene.2007', 'values': ['0']}, {'name': 'Feb.2007', 'values': ['0']}, {'name': 'Mar.2007', 'values': ['1.86981']}, {'name': 'Abr.2007', 'values': ['20.440755']}, {'name': 'May.2007', 'values': ['6.276512']}, {'name': 'Jun.2007', 'values': ['2.21063']}, {'name': 'Jul.2007', 'values': ['0.948336']}, {'name': 'Ago.2007', 'values': ['0.0649']}, {'name': 'Sep.2007', 'values': ['0.001625']}, {'name': 'Oct.2007', 'values': ['0.0092']}, {'name': 'Nov.2007', 'values': ['0.001']}, {'name': 'Dic.2007', 'values': ['0.0011']}, {'name': 'Ene.2008', 'values': ['0']}, {'name': 'Feb.2008', 'values': ['0']}, {'name': 'Mar.2008', 'values': ['1.0625']}, {'name': 'Abr.2008', 'values': ['20.31777']}, {'name': 'May.2008', 'values': ['4.817462']}, {'name': 'Jun.2008', 'values': ['2.703718']}, {'name': 'Jul.2008', 'values': ['0.736639']}, {'name': 'Ago.2008', 'values': ['0.17538']}, {'name': 'Sep.2008', 'values': ['0.04538']}, {'name': 'Oct.2008', 'values': ['0.008098']}, {'name': 'Nov.2008', 'values': ['0']}, {'name': 'Dic.2008', 'values': ['0']}, {'name': 'Ene.2009', 'values': ['0']}, {'name': 'Feb.2009', 'values': ['0']}, {'name': 'Mar.2009', 'values': ['1.14109']}, {'name': 'Abr.2009', 'values': ['21.3819']}, {'name': 'May.2009', 'values': ['12.350016']}, {'name': 'Jun.2009', 'values': ['3.143715']}, {'name': 'Jul.2009', 'values': ['0.847244']}, {'name': 'Ago.2009', 'values': ['0.347569']}, {'name': 'Sep.2009', 'values': ['0.0945']}, {'name': 'Oct.2009', 'values': ['0']}, {'name': 'Nov.2009', 'values': ['0.0606']}, {'name': 'Dic.2009', 'values': ['0.03']}, {'name': 'Ene.2010', 'values': ['0.02866']}, {'name': 'Feb.2010', 'values': ['0.0224']}, {'name': 'Mar.2010', 'values': ['2.42795']}, {'name': 'Abr.2010', 'values': ['26.2293']}, {'name': 'May.2010', 'values': ['7.862766']}, {'name': 'Jun.2010', 'values': ['3.453285']}, {'name': 'Jul.2010', 'values': ['0.95434']}, {'name': 'Ago.2010', 'values': ['0.0466']}, {'name': 'Sep.2010', 'values': ['0.0216']}, {'name': 'Oct.2010', 'values': ['0.0156']}, {'name': 'Nov.2010', 'values': ['0']}, {'name': 'Dic.2010', 'values': ['0.016']}, {'name': 'Ene.2011', 'values': ['0.0324']}, {'name': 'Feb.2011', 'values': ['0.0902']}, {'name': 'Mar.2011', 'values': ['0.48815']}, {'name': 'Abr.2011', 'values': ['23.06709']}, {'name': 'May.2011', 'values': ['12.244348']}, {'name': 'Jun.2011', 'values': ['3.386417']}, {'name': 'Jul.2011', 'values': ['1.117949']}, {'name': 'Ago.2011', 'values': ['0.16165']}, {'name': 'Sep.2011', 'values': ['0.0596']}, {'name': 'Oct.2011', 'values': ['0.10669']}, {'name': 'Nov.2011', 'values': ['0.1752']}, {'name': 'Dic.2011', 'values': ['0.252']}, {'name': 'Ene.2012', 'values': ['0.250725']}, {'name': 'Feb.2012', 'values': ['0.078']}, {'name': 'Mar.2012', 'values': ['0.25593']}, {'name': 'Abr.2012', 'values': ['23.102905']}, {'name': 'May.2012', 'values': ['12.484406']}, {'name': 'Jun.2012', 'values': ['5.232213']}, {'name': 'Jul.2012', 'values': ['2.090701']}, {'name': 'Ago.2012', 'values': ['0.29125']}, {'name': 'Sep.2012', 'values': ['0.0755']}, {'name': 'Oct.2012', 'values': ['0.0754']}, {'name': 'Nov.2012', 'values': ['0.09882']}, {'name': 'Dic.2012', 'values': ['0.17675']}, {'name': 'Ene.2013', 'values': ['0.1516']}, {'name': 'Feb.2013', 'values': ['0.0247']}, {'name': 'Mar.2013', 'values': ['0.05078']}, {'name': 'Abr.2013', 'values': ['20.85099']}, {'name': 'May.2013', 'values': ['15.418006']}, {'name': 'Jun.2013', 'values': ['6.479102']}, {'name': 'Jul.2013', 'values': ['3.299978']}, {'name': 'Ago.2013', 'values': ['0.71565']}, {'name': 'Sep.2013', 'values': ['0.80321']}, {'name': 'Oct.2013', 'values': ['0']}, {'name': 'Nov.2013', 'values': ['1.60995']}, {'name': 'Dic.2013', 'values': ['1.81535']}, {'name': 'Ene.2014', 'values': ['1.5411']}, {'name': 'Feb.2014', 'values': ['1.57759']}, {'name': 'Mar.2014', 'values': ['2.323279']}, {'name': 'Abr.2014', 'values': ['27.176179']}, {'name': 'May.2014', 'values': ['24.493657']}, {'name': 'Jun.2014', 'values': ['15.332757']}, {'name': 'Jul.2014', 'values': ['8.981491']}, {'name': 'Ago.2014', 'values': ['6.083183']}, {'name': 'Sep.2014', 'values': ['5.129205']}, {'name': 'Oct.2014', 'values': ['7.031526']}, {'name': 'Nov.2014', 'values': ['7.938754']}, {'name': 'Dic.2014', 'values': ['7.115959']}, {'name': 'Ene.2015', 'values': ['6.838326']}, {'name': 'Feb.2015', 'values': ['3.2637']}, {'name': 'Mar.2015', 'values': ['2.89188']}, {'name': 'Abr.2015', 'values': ['33.71175']}, {'name': 'May.2015', 'values': ['24.821469']}, {'name': 'Jun.2015', 'values': ['15.105196']}, {'name': 'Jul.2015', 'values': ['5.774909']}, {'name': 'Ago.2015', 'values': ['3.210578']}, {'name': 'Sep.2015', 'values': ['2.7896']}, {'name': 'Oct.2015', 'values': ['2.478858']}, {'name': 'Nov.2015', 'values': ['2.916369']}, {'name': 'Dic.2015', 'values': ['1.86311000000001']}, {'name': 'Ene.2016', 'values': ['2.02345']}, {'name': 'Feb.2016', 'values': ['1.53891']}, {'name': 'Mar.2016', 'values': ['2.51186']}, {'name': 'Abr.2016', 'values': ['27.956959']}, {'name': 'May.2016', 'values': ['22.487418']}, {'name': 'Jun.2016', 'values': ['13.458021']}, {'name': 'Jul.2016', 'values': ['4.64238']}, {'name': 'Ago.2016', 'values': ['1.9251']}, {'name': 'Sep.2016', 'values': ['0.41395']}, {'name': 'Oct.2016', 'values': ['0.479820000000004']}, {'name': 'Nov.2016', 'values': ['0.705346000000006']}, {'name': 'Dic.2016', 'values': ['1.125592']}, {'name': 'Ene.2017', 'values': ['1.575']}, {'name': 'Feb.2017', 'values': ['1.08273']}, {'name': 'Mar.2017', 'values': ['2.29444']}, {'name': 'Abr.2017', 'values': ['25.92476']}, {'name': 'May.2017', 'values': ['25.557529']}, {'name': 'Jun.2017', 'values': ['14.024161']}, {'name': 'Jul.2017', 'values': ['5.002276']}, {'name': 'Ago.2017', 'values': ['0.962069']}, {'name': 'Sep.2017', 'values': ['0.319']}, {'name': 'Oct.2017', 'values': ['0.35012']}, {'name': 'Nov.2017', 'values': ['0.49261']}, {'name': 'Dic.2017', 'values': ['1.07229']}, {'name': 'Ene.2018', 'values': ['0.808569']}, {'name': 'Feb.2018', 'values': ['0.34566']}, {'name': 'Mar.2018', 'values': ['3.161499']}, {'name': 'Abr.2018', 'values': ['28.836209']}, {'name': 'May.2018', 'values': ['25.499778']}, {'name': 'Jun.2018', 'values': ['16.139171']}, {'name': 'Jul.2018', 'values': ['6.265666']}, {'name': 'Ago.2018', 'values': ['1.663849']}, {'name': 'Sep.2018', 'values': ['0.704449']}, {'name': 'Oct.2018', 'values': ['0.40384']}, {'name': 'Nov.2018', 'values': ['1.05696']}, {'name': 'Dic.2018', 'values': ['1.8523']}, {'name': 'Ene.2019', 'values': ['1.617705']}, {'name': 'Feb.2019', 'values': ['0.9869']}, {'name': 'Mar.2019', 'values': ['2.3826']}, {'name': 'Abr.2019', 'values': ['25.99985']}, {'name': 'May.2019', 'values': ['27.965499']}, {'name': 'Jun.2019', 'values': ['14.25093']}, {'name': 'Jul.2019', 'values': ['5.654857']}, {'name': 'Ago.2019', 'values': ['5.604549']}, {'name': 'Sep.2019', 'values': ['2.07674']}, {'name': 'Oct.2019', 'values': ['0.987699']}, {'name': 'Nov.2019', 'values': ['1.062871']}, {'name': 'Dic.2019', 'values': ['0.823394']}, {'name': 'Ene.2020', 'values': ['0.86347']}, {'name': 'Feb.2020', 'values': ['2.5565']}, {'name': 'Mar.2020', 'values': ['7.4489']}, {'name': 'Abr.2020', 'values': ['35.88559']}, {'name': 'May.2020', 'values': ['27.780047']}, {'name': 'Jun.2020', 'values': ['13.60283']}, {'name': 'Jul.2020', 'values': ['4.525169']}, {'name': 'Ago.2020', 'values': ['1.734209']}, {'name': 'Sep.2020', 'values': ['1.89175']}, {'name': 'Oct.2020', 'values': ['1.28275']}, {'name': 'Nov.2020', 'values': ['1.25053']}, {'name': 'Dic.2020', 'values': ['1.29339']}]}

In [196]:
for key in response_json.keys():
    print(key)

config
periods

In [197]:
print(response_json["config"])

{'title': 'ProducciÃ³n agropecuaria (miles de toneladas)', 'series': [{'name': 'ProducciÃ³n agropecuaria (miles de toneladas) - AgrÃ\xadcola - Quinua', 'dec': '1'}]}

In [198]:
# llamar a los valores
print(response_json["periods"])

[{'name': 'Ene.2007', 'values': ['0']}, {'name': 'Feb.2007', 'values': ['0']}, {'name': 'Mar.2007', 'values': ['1.86981']}, {'name': 'Abr.2007', 'values': ['20.440755']}, {'name': 'May.2007', 'values': ['6.276512']}, {'name': 'Jun.2007', 'values': ['2.21063']}, {'name': 'Jul.2007', 'values': ['0.948336']}, {'name': 'Ago.2007', 'values': ['0.0649']}, {'name': 'Sep.2007', 'values': ['0.001625']}, {'name': 'Oct.2007', 'values': ['0.0092']}, {'name': 'Nov.2007', 'values': ['0.001']}, {'name': 'Dic.2007', 'values': ['0.0011']}, {'name': 'Ene.2008', 'values': ['0']}, {'name': 'Feb.2008', 'values': ['0']}, {'name': 'Mar.2008', 'values': ['1.0625']}, {'name': 'Abr.2008', 'values': ['20.31777']}, {'name': 'May.2008', 'values': ['4.817462']}, {'name': 'Jun.2008', 'values': ['2.703718']}, {'name': 'Jul.2008', 'values': ['0.736639']}, {'name': 'Ago.2008', 'values': ['0.17538']}, {'name': 'Sep.2008', 'values': ['0.04538']}, {'name': 'Oct.2008', 'values': ['0.008098']}, {'name': 'Nov.2008', 'values': ['0']}, {'name': 'Dic.2008', 'values': ['0']}, {'name': 'Ene.2009', 'values': ['0']}, {'name': 'Feb.2009', 'values': ['0']}, {'name': 'Mar.2009', 'values': ['1.14109']}, {'name': 'Abr.2009', 'values': ['21.3819']}, {'name': 'May.2009', 'values': ['12.350016']}, {'name': 'Jun.2009', 'values': ['3.143715']}, {'name': 'Jul.2009', 'values': ['0.847244']}, {'name': 'Ago.2009', 'values': ['0.347569']}, {'name': 'Sep.2009', 'values': ['0.0945']}, {'name': 'Oct.2009', 'values': ['0']}, {'name': 'Nov.2009', 'values': ['0.0606']}, {'name': 'Dic.2009', 'values': ['0.03']}, {'name': 'Ene.2010', 'values': ['0.02866']}, {'name': 'Feb.2010', 'values': ['0.0224']}, {'name': 'Mar.2010', 'values': ['2.42795']}, {'name': 'Abr.2010', 'values': ['26.2293']}, {'name': 'May.2010', 'values': ['7.862766']}, {'name': 'Jun.2010', 'values': ['3.453285']}, {'name': 'Jul.2010', 'values': ['0.95434']}, {'name': 'Ago.2010', 'values': ['0.0466']}, {'name': 'Sep.2010', 'values': ['0.0216']}, {'name': 'Oct.2010', 'values': ['0.0156']}, {'name': 'Nov.2010', 'values': ['0']}, {'name': 'Dic.2010', 'values': ['0.016']}, {'name': 'Ene.2011', 'values': ['0.0324']}, {'name': 'Feb.2011', 'values': ['0.0902']}, {'name': 'Mar.2011', 'values': ['0.48815']}, {'name': 'Abr.2011', 'values': ['23.06709']}, {'name': 'May.2011', 'values': ['12.244348']}, {'name': 'Jun.2011', 'values': ['3.386417']}, {'name': 'Jul.2011', 'values': ['1.117949']}, {'name': 'Ago.2011', 'values': ['0.16165']}, {'name': 'Sep.2011', 'values': ['0.0596']}, {'name': 'Oct.2011', 'values': ['0.10669']}, {'name': 'Nov.2011', 'values': ['0.1752']}, {'name': 'Dic.2011', 'values': ['0.252']}, {'name': 'Ene.2012', 'values': ['0.250725']}, {'name': 'Feb.2012', 'values': ['0.078']}, {'name': 'Mar.2012', 'values': ['0.25593']}, {'name': 'Abr.2012', 'values': ['23.102905']}, {'name': 'May.2012', 'values': ['12.484406']}, {'name': 'Jun.2012', 'values': ['5.232213']}, {'name': 'Jul.2012', 'values': ['2.090701']}, {'name': 'Ago.2012', 'values': ['0.29125']}, {'name': 'Sep.2012', 'values': ['0.0755']}, {'name': 'Oct.2012', 'values': ['0.0754']}, {'name': 'Nov.2012', 'values': ['0.09882']}, {'name': 'Dic.2012', 'values': ['0.17675']}, {'name': 'Ene.2013', 'values': ['0.1516']}, {'name': 'Feb.2013', 'values': ['0.0247']}, {'name': 'Mar.2013', 'values': ['0.05078']}, {'name': 'Abr.2013', 'values': ['20.85099']}, {'name': 'May.2013', 'values': ['15.418006']}, {'name': 'Jun.2013', 'values': ['6.479102']}, {'name': 'Jul.2013', 'values': ['3.299978']}, {'name': 'Ago.2013', 'values': ['0.71565']}, {'name': 'Sep.2013', 'values': ['0.80321']}, {'name': 'Oct.2013', 'values': ['0']}, {'name': 'Nov.2013', 'values': ['1.60995']}, {'name': 'Dic.2013', 'values': ['1.81535']}, {'name': 'Ene.2014', 'values': ['1.5411']}, {'name': 'Feb.2014', 'values': ['1.57759']}, {'name': 'Mar.2014', 'values': ['2.323279']}, {'name': 'Abr.2014', 'values': ['27.176179']}, {'name': 'May.2014', 'values': ['24.493657']}, {'name': 'Jun.2014', 'values': ['15.332757']}, {'name': 'Jul.2014', 'values': ['8.981491']}, {'name': 'Ago.2014', 'values': ['6.083183']}, {'name': 'Sep.2014', 'values': ['5.129205']}, {'name': 'Oct.2014', 'values': ['7.031526']}, {'name': 'Nov.2014', 'values': ['7.938754']}, {'name': 'Dic.2014', 'values': ['7.115959']}, {'name': 'Ene.2015', 'values': ['6.838326']}, {'name': 'Feb.2015', 'values': ['3.2637']}, {'name': 'Mar.2015', 'values': ['2.89188']}, {'name': 'Abr.2015', 'values': ['33.71175']}, {'name': 'May.2015', 'values': ['24.821469']}, {'name': 'Jun.2015', 'values': ['15.105196']}, {'name': 'Jul.2015', 'values': ['5.774909']}, {'name': 'Ago.2015', 'values': ['3.210578']}, {'name': 'Sep.2015', 'values': ['2.7896']}, {'name': 'Oct.2015', 'values': ['2.478858']}, {'name': 'Nov.2015', 'values': ['2.916369']}, {'name': 'Dic.2015', 'values': ['1.86311000000001']}, {'name': 'Ene.2016', 'values': ['2.02345']}, {'name': 'Feb.2016', 'values': ['1.53891']}, {'name': 'Mar.2016', 'values': ['2.51186']}, {'name': 'Abr.2016', 'values': ['27.956959']}, {'name': 'May.2016', 'values': ['22.487418']}, {'name': 'Jun.2016', 'values': ['13.458021']}, {'name': 'Jul.2016', 'values': ['4.64238']}, {'name': 'Ago.2016', 'values': ['1.9251']}, {'name': 'Sep.2016', 'values': ['0.41395']}, {'name': 'Oct.2016', 'values': ['0.479820000000004']}, {'name': 'Nov.2016', 'values': ['0.705346000000006']}, {'name': 'Dic.2016', 'values': ['1.125592']}, {'name': 'Ene.2017', 'values': ['1.575']}, {'name': 'Feb.2017', 'values': ['1.08273']}, {'name': 'Mar.2017', 'values': ['2.29444']}, {'name': 'Abr.2017', 'values': ['25.92476']}, {'name': 'May.2017', 'values': ['25.557529']}, {'name': 'Jun.2017', 'values': ['14.024161']}, {'name': 'Jul.2017', 'values': ['5.002276']}, {'name': 'Ago.2017', 'values': ['0.962069']}, {'name': 'Sep.2017', 'values': ['0.319']}, {'name': 'Oct.2017', 'values': ['0.35012']}, {'name': 'Nov.2017', 'values': ['0.49261']}, {'name': 'Dic.2017', 'values': ['1.07229']}, {'name': 'Ene.2018', 'values': ['0.808569']}, {'name': 'Feb.2018', 'values': ['0.34566']}, {'name': 'Mar.2018', 'values': ['3.161499']}, {'name': 'Abr.2018', 'values': ['28.836209']}, {'name': 'May.2018', 'values': ['25.499778']}, {'name': 'Jun.2018', 'values': ['16.139171']}, {'name': 'Jul.2018', 'values': ['6.265666']}, {'name': 'Ago.2018', 'values': ['1.663849']}, {'name': 'Sep.2018', 'values': ['0.704449']}, {'name': 'Oct.2018', 'values': ['0.40384']}, {'name': 'Nov.2018', 'values': ['1.05696']}, {'name': 'Dic.2018', 'values': ['1.8523']}, {'name': 'Ene.2019', 'values': ['1.617705']}, {'name': 'Feb.2019', 'values': ['0.9869']}, {'name': 'Mar.2019', 'values': ['2.3826']}, {'name': 'Abr.2019', 'values': ['25.99985']}, {'name': 'May.2019', 'values': ['27.965499']}, {'name': 'Jun.2019', 'values': ['14.25093']}, {'name': 'Jul.2019', 'values': ['5.654857']}, {'name': 'Ago.2019', 'values': ['5.604549']}, {'name': 'Sep.2019', 'values': ['2.07674']}, {'name': 'Oct.2019', 'values': ['0.987699']}, {'name': 'Nov.2019', 'values': ['1.062871']}, {'name': 'Dic.2019', 'values': ['0.823394']}, {'name': 'Ene.2020', 'values': ['0.86347']}, {'name': 'Feb.2020', 'values': ['2.5565']}, {'name': 'Mar.2020', 'values': ['7.4489']}, {'name': 'Abr.2020', 'values': ['35.88559']}, {'name': 'May.2020', 'values': ['27.780047']}, {'name': 'Jun.2020', 'values': ['13.60283']}, {'name': 'Jul.2020', 'values': ['4.525169']}, {'name': 'Ago.2020', 'values': ['1.734209']}, {'name': 'Sep.2020', 'values': ['1.89175']}, {'name': 'Oct.2020', 'values': ['1.28275']}, {'name': 'Nov.2020', 'values': ['1.25053']}, {'name': 'Dic.2020', 'values': ['1.29339']}]

In [199]:
periodos=response_json.get("periods")
prod_quinua=[]
for i in periodos:
    valores_list=i["values"]
    for w in valores_list:
        w=str(w)
        prod_quinua.append(w)
        
print(prod_quinua)

['0', '0', '1.86981', '20.440755', '6.276512', '2.21063', '0.948336', '0.0649', '0.001625', '0.0092', '0.001', '0.0011', '0', '0', '1.0625', '20.31777', '4.817462', '2.703718', '0.736639', '0.17538', '0.04538', '0.008098', '0', '0', '0', '0', '1.14109', '21.3819', '12.350016', '3.143715', '0.847244', '0.347569', '0.0945', '0', '0.0606', '0.03', '0.02866', '0.0224', '2.42795', '26.2293', '7.862766', '3.453285', '0.95434', '0.0466', '0.0216', '0.0156', '0', '0.016', '0.0324', '0.0902', '0.48815', '23.06709', '12.244348', '3.386417', '1.117949', '0.16165', '0.0596', '0.10669', '0.1752', '0.252', '0.250725', '0.078', '0.25593', '23.102905', '12.484406', '5.232213', '2.090701', '0.29125', '0.0755', '0.0754', '0.09882', '0.17675', '0.1516', '0.0247', '0.05078', '20.85099', '15.418006', '6.479102', '3.299978', '0.71565', '0.80321', '0', '1.60995', '1.81535', '1.5411', '1.57759', '2.323279', '27.176179', '24.493657', '15.332757', '8.981491', '6.083183', '5.129205', '7.031526', '7.938754', '7.115959', '6.838326', '3.2637', '2.89188', '33.71175', '24.821469', '15.105196', '5.774909', '3.210578', '2.7896', '2.478858', '2.916369', '1.86311000000001', '2.02345', '1.53891', '2.51186', '27.956959', '22.487418', '13.458021', '4.64238', '1.9251', '0.41395', '0.479820000000004', '0.705346000000006', '1.125592', '1.575', '1.08273', '2.29444', '25.92476', '25.557529', '14.024161', '5.002276', '0.962069', '0.319', '0.35012', '0.49261', '1.07229', '0.808569', '0.34566', '3.161499', '28.836209', '25.499778', '16.139171', '6.265666', '1.663849', '0.704449', '0.40384', '1.05696', '1.8523', '1.617705', '0.9869', '2.3826', '25.99985', '27.965499', '14.25093', '5.654857', '5.604549', '2.07674', '0.987699', '1.062871', '0.823394', '0.86347', '2.5565', '7.4489', '35.88559', '27.780047', '13.60283', '4.525169', '1.734209', '1.89175', '1.28275', '1.25053', '1.29339']

In [200]:
fechas=[]
for i in periodos:
    nombres=i["name"]
    fechas.append(nombres)
print(fechas)

['Ene.2007', 'Feb.2007', 'Mar.2007', 'Abr.2007', 'May.2007', 'Jun.2007', 'Jul.2007', 'Ago.2007', 'Sep.2007', 'Oct.2007', 'Nov.2007', 'Dic.2007', 'Ene.2008', 'Feb.2008', 'Mar.2008', 'Abr.2008', 'May.2008', 'Jun.2008', 'Jul.2008', 'Ago.2008', 'Sep.2008', 'Oct.2008', 'Nov.2008', 'Dic.2008', 'Ene.2009', 'Feb.2009', 'Mar.2009', 'Abr.2009', 'May.2009', 'Jun.2009', 'Jul.2009', 'Ago.2009', 'Sep.2009', 'Oct.2009', 'Nov.2009', 'Dic.2009', 'Ene.2010', 'Feb.2010', 'Mar.2010', 'Abr.2010', 'May.2010', 'Jun.2010', 'Jul.2010', 'Ago.2010', 'Sep.2010', 'Oct.2010', 'Nov.2010', 'Dic.2010', 'Ene.2011', 'Feb.2011', 'Mar.2011', 'Abr.2011', 'May.2011', 'Jun.2011', 'Jul.2011', 'Ago.2011', 'Sep.2011', 'Oct.2011', 'Nov.2011', 'Dic.2011', 'Ene.2012', 'Feb.2012', 'Mar.2012', 'Abr.2012', 'May.2012', 'Jun.2012', 'Jul.2012', 'Ago.2012', 'Sep.2012', 'Oct.2012', 'Nov.2012', 'Dic.2012', 'Ene.2013', 'Feb.2013', 'Mar.2013', 'Abr.2013', 'May.2013', 'Jun.2013', 'Jul.2013', 'Ago.2013', 'Sep.2013', 'Oct.2013', 'Nov.2013', 'Dic.2013', 'Ene.2014', 'Feb.2014', 'Mar.2014', 'Abr.2014', 'May.2014', 'Jun.2014', 'Jul.2014', 'Ago.2014', 'Sep.2014', 'Oct.2014', 'Nov.2014', 'Dic.2014', 'Ene.2015', 'Feb.2015', 'Mar.2015', 'Abr.2015', 'May.2015', 'Jun.2015', 'Jul.2015', 'Ago.2015', 'Sep.2015', 'Oct.2015', 'Nov.2015', 'Dic.2015', 'Ene.2016', 'Feb.2016', 'Mar.2016', 'Abr.2016', 'May.2016', 'Jun.2016', 'Jul.2016', 'Ago.2016', 'Sep.2016', 'Oct.2016', 'Nov.2016', 'Dic.2016', 'Ene.2017', 'Feb.2017', 'Mar.2017', 'Abr.2017', 'May.2017', 'Jun.2017', 'Jul.2017', 'Ago.2017', 'Sep.2017', 'Oct.2017', 'Nov.2017', 'Dic.2017', 'Ene.2018', 'Feb.2018', 'Mar.2018', 'Abr.2018', 'May.2018', 'Jun.2018', 'Jul.2018', 'Ago.2018', 'Sep.2018', 'Oct.2018', 'Nov.2018', 'Dic.2018', 'Ene.2019', 'Feb.2019', 'Mar.2019', 'Abr.2019', 'May.2019', 'Jun.2019', 'Jul.2019', 'Ago.2019', 'Sep.2019', 'Oct.2019', 'Nov.2019', 'Dic.2019', 'Ene.2020', 'Feb.2020', 'Mar.2020', 'Abr.2020', 'May.2020', 'Jun.2020', 'Jul.2020', 'Ago.2020', 'Sep.2020', 'Oct.2020', 'Nov.2020', 'Dic.2020']

In [201]:
diccionario17= {"Fechas":fechas, "Valores":prod_quinua}
print(diccionario17)

{'Fechas': ['Ene.2007', 'Feb.2007', 'Mar.2007', 'Abr.2007', 'May.2007', 'Jun.2007', 'Jul.2007', 'Ago.2007', 'Sep.2007', 'Oct.2007', 'Nov.2007', 'Dic.2007', 'Ene.2008', 'Feb.2008', 'Mar.2008', 'Abr.2008', 'May.2008', 'Jun.2008', 'Jul.2008', 'Ago.2008', 'Sep.2008', 'Oct.2008', 'Nov.2008', 'Dic.2008', 'Ene.2009', 'Feb.2009', 'Mar.2009', 'Abr.2009', 'May.2009', 'Jun.2009', 'Jul.2009', 'Ago.2009', 'Sep.2009', 'Oct.2009', 'Nov.2009', 'Dic.2009', 'Ene.2010', 'Feb.2010', 'Mar.2010', 'Abr.2010', 'May.2010', 'Jun.2010', 'Jul.2010', 'Ago.2010', 'Sep.2010', 'Oct.2010', 'Nov.2010', 'Dic.2010', 'Ene.2011', 'Feb.2011', 'Mar.2011', 'Abr.2011', 'May.2011', 'Jun.2011', 'Jul.2011', 'Ago.2011', 'Sep.2011', 'Oct.2011', 'Nov.2011', 'Dic.2011', 'Ene.2012', 'Feb.2012', 'Mar.2012', 'Abr.2012', 'May.2012', 'Jun.2012', 'Jul.2012', 'Ago.2012', 'Sep.2012', 'Oct.2012', 'Nov.2012', 'Dic.2012', 'Ene.2013', 'Feb.2013', 'Mar.2013', 'Abr.2013', 'May.2013', 'Jun.2013', 'Jul.2013', 'Ago.2013', 'Sep.2013', 'Oct.2013', 'Nov.2013', 'Dic.2013', 'Ene.2014', 'Feb.2014', 'Mar.2014', 'Abr.2014', 'May.2014', 'Jun.2014', 'Jul.2014', 'Ago.2014', 'Sep.2014', 'Oct.2014', 'Nov.2014', 'Dic.2014', 'Ene.2015', 'Feb.2015', 'Mar.2015', 'Abr.2015', 'May.2015', 'Jun.2015', 'Jul.2015', 'Ago.2015', 'Sep.2015', 'Oct.2015', 'Nov.2015', 'Dic.2015', 'Ene.2016', 'Feb.2016', 'Mar.2016', 'Abr.2016', 'May.2016', 'Jun.2016', 'Jul.2016', 'Ago.2016', 'Sep.2016', 'Oct.2016', 'Nov.2016', 'Dic.2016', 'Ene.2017', 'Feb.2017', 'Mar.2017', 'Abr.2017', 'May.2017', 'Jun.2017', 'Jul.2017', 'Ago.2017', 'Sep.2017', 'Oct.2017', 'Nov.2017', 'Dic.2017', 'Ene.2018', 'Feb.2018', 'Mar.2018', 'Abr.2018', 'May.2018', 'Jun.2018', 'Jul.2018', 'Ago.2018', 'Sep.2018', 'Oct.2018', 'Nov.2018', 'Dic.2018', 'Ene.2019', 'Feb.2019', 'Mar.2019', 'Abr.2019', 'May.2019', 'Jun.2019', 'Jul.2019', 'Ago.2019', 'Sep.2019', 'Oct.2019', 'Nov.2019', 'Dic.2019', 'Ene.2020', 'Feb.2020', 'Mar.2020', 'Abr.2020', 'May.2020', 'Jun.2020', 'Jul.2020', 'Ago.2020', 'Sep.2020', 'Oct.2020', 'Nov.2020', 'Dic.2020'], 'Valores': ['0', '0', '1.86981', '20.440755', '6.276512', '2.21063', '0.948336', '0.0649', '0.001625', '0.0092', '0.001', '0.0011', '0', '0', '1.0625', '20.31777', '4.817462', '2.703718', '0.736639', '0.17538', '0.04538', '0.008098', '0', '0', '0', '0', '1.14109', '21.3819', '12.350016', '3.143715', '0.847244', '0.347569', '0.0945', '0', '0.0606', '0.03', '0.02866', '0.0224', '2.42795', '26.2293', '7.862766', '3.453285', '0.95434', '0.0466', '0.0216', '0.0156', '0', '0.016', '0.0324', '0.0902', '0.48815', '23.06709', '12.244348', '3.386417', '1.117949', '0.16165', '0.0596', '0.10669', '0.1752', '0.252', '0.250725', '0.078', '0.25593', '23.102905', '12.484406', '5.232213', '2.090701', '0.29125', '0.0755', '0.0754', '0.09882', '0.17675', '0.1516', '0.0247', '0.05078', '20.85099', '15.418006', '6.479102', '3.299978', '0.71565', '0.80321', '0', '1.60995', '1.81535', '1.5411', '1.57759', '2.323279', '27.176179', '24.493657', '15.332757', '8.981491', '6.083183', '5.129205', '7.031526', '7.938754', '7.115959', '6.838326', '3.2637', '2.89188', '33.71175', '24.821469', '15.105196', '5.774909', '3.210578', '2.7896', '2.478858', '2.916369', '1.86311000000001', '2.02345', '1.53891', '2.51186', '27.956959', '22.487418', '13.458021', '4.64238', '1.9251', '0.41395', '0.479820000000004', '0.705346000000006', '1.125592', '1.575', '1.08273', '2.29444', '25.92476', '25.557529', '14.024161', '5.002276', '0.962069', '0.319', '0.35012', '0.49261', '1.07229', '0.808569', '0.34566', '3.161499', '28.836209', '25.499778', '16.139171', '6.265666', '1.663849', '0.704449', '0.40384', '1.05696', '1.8523', '1.617705', '0.9869', '2.3826', '25.99985', '27.965499', '14.25093', '5.654857', '5.604549', '2.07674', '0.987699', '1.062871', '0.823394', '0.86347', '2.5565', '7.4489', '35.88559', '27.780047', '13.60283', '4.525169', '1.734209', '1.89175', '1.28275', '1.25053', '1.29339']}

In [202]:
df17=pd.DataFrame(diccionario17)
df17

       Fechas    Valores
0    Ene.2007          0
1    Feb.2007          0
2    Mar.2007    1.86981
3    Abr.2007  20.440755
4    May.2007   6.276512
..        ...        ...
163  Ago.2020   1.734209
164  Sep.2020    1.89175
165  Oct.2020    1.28275
166  Nov.2020    1.25053
167  Dic.2020    1.29339

[168 rows x 2 columns]

In [203]:
df17.rename(columns={'Valores':'Quinua'}, inplace=True)
df17.head()

     Fechas     Quinua
0  Ene.2007          0
1  Feb.2007          0
2  Mar.2007    1.86981
3  Abr.2007  20.440755
4  May.2007   6.276512

In [ ]:
# DATOS DE PRODUCCIÓN AGRÍCOLA DE UVA

In [204]:
url_base="https://estadisticas.bcrp.gob.pe/estadisticas/series/api/"
cod_ser="PN01793AM"
formato="/json"
per="/2003-1/2020-12"
url=url_base+cod_ser+formato+per
print(url)

https://estadisticas.bcrp.gob.pe/estadisticas/series/api/PN01793AM/json/2003-1/2020-12

In [207]:
import requests
response=requests.get(url)
print(response)

<Response [200]>

In [208]:
# extraer en formato json
response_json=response.json()
print(response_json)

{'config': {'title': 'ProducciÃ³n agropecuaria (miles de toneladas)', 'series': [{'name': 'ProducciÃ³n agropecuaria (miles de toneladas) - AgrÃ\xadcola - Uva', 'dec': '1'}]}, 'periods': [{'name': 'Ene.2007', 'values': ['26.7654']}, {'name': 'Feb.2007', 'values': ['46.227995']}, {'name': 'Mar.2007', 'values': ['30.853878']}, {'name': 'Abr.2007', 'values': ['22.520426']}, {'name': 'May.2007', 'values': ['6.11471']}, {'name': 'Jun.2007', 'values': ['4.21061']}, {'name': 'Jul.2007', 'values': ['4.0913']}, {'name': 'Ago.2007', 'values': ['4.16852']}, {'name': 'Sep.2007', 'values': ['3.8955']}, {'name': 'Oct.2007', 'values': ['6.5136']}, {'name': 'Nov.2007', 'values': ['18.19177']}, {'name': 'Dic.2007', 'values': ['23.04983']}, {'name': 'Ene.2008', 'values': ['20.84282']}, {'name': 'Feb.2008', 'values': ['35.35465']}, {'name': 'Mar.2008', 'values': ['47.092609']}, {'name': 'Abr.2008', 'values': ['30.66151']}, {'name': 'May.2008', 'values': ['8.4732']}, {'name': 'Jun.2008', 'values': ['4.2513']}, {'name': 'Jul.2008', 'values': ['4.86862']}, {'name': 'Ago.2008', 'values': ['4.8031']}, {'name': 'Sep.2008', 'values': ['3.3984']}, {'name': 'Oct.2008', 'values': ['8.7187']}, {'name': 'Nov.2008', 'values': ['25.14431']}, {'name': 'Dic.2008', 'values': ['29.7619']}, {'name': 'Ene.2009', 'values': ['43.63057']}, {'name': 'Feb.2009', 'values': ['45.16123']}, {'name': 'Mar.2009', 'values': ['49.62944']}, {'name': 'Abr.2009', 'values': ['25.486239']}, {'name': 'May.2009', 'values': ['6.48576']}, {'name': 'Jun.2009', 'values': ['4.03948']}, {'name': 'Jul.2009', 'values': ['3.85693']}, {'name': 'Ago.2009', 'values': ['4.56713']}, {'name': 'Sep.2009', 'values': ['6.195']}, {'name': 'Oct.2009', 'values': ['10.91092']}, {'name': 'Nov.2009', 'values': ['29.97124']}, {'name': 'Dic.2009', 'values': ['34.43266']}, {'name': 'Ene.2010', 'values': ['42.78158']}, {'name': 'Feb.2010', 'values': ['46.761269']}, {'name': 'Mar.2010', 'values': ['42.724849']}, {'name': 'Abr.2010', 'values': ['29.122549']}, {'name': 'May.2010', 'values': ['6.16341']}, {'name': 'Jun.2010', 'values': ['3.4292']}, {'name': 'Jul.2010', 'values': ['3.89434']}, {'name': 'Ago.2010', 'values': ['3.84077']}, {'name': 'Sep.2010', 'values': ['4.64213']}, {'name': 'Oct.2010', 'values': ['11.03395']}, {'name': 'Nov.2010', 'values': ['47.93745']}, {'name': 'Dic.2010', 'values': ['38.13645']}, {'name': 'Ene.2011', 'values': ['38.431589']}, {'name': 'Feb.2011', 'values': ['46.334564']}, {'name': 'Mar.2011', 'values': ['48.369455']}, {'name': 'Abr.2011', 'values': ['36.024423']}, {'name': 'May.2011', 'values': ['6.580049']}, {'name': 'Jun.2011', 'values': ['3.828119']}, {'name': 'Jul.2011', 'values': ['4.01427']}, {'name': 'Ago.2011', 'values': ['3.98546']}, {'name': 'Sep.2011', 'values': ['3.791159']}, {'name': 'Oct.2011', 'values': ['11.84431']}, {'name': 'Nov.2011', 'values': ['40.119229']}, {'name': 'Dic.2011', 'values': ['53.579019']}, {'name': 'Ene.2012', 'values': ['41.44486']}, {'name': 'Feb.2012', 'values': ['50.71839']}, {'name': 'Mar.2012', 'values': ['51.545385']}, {'name': 'Abr.2012', 'values': ['41.147198']}, {'name': 'May.2012', 'values': ['10.6165']}, {'name': 'Jun.2012', 'values': ['3.63567']}, {'name': 'Jul.2012', 'values': ['3.891658']}, {'name': 'Ago.2012', 'values': ['3.865119']}, {'name': 'Sep.2012', 'values': ['3.64515']}, {'name': 'Oct.2012', 'values': ['32.26856']}, {'name': 'Nov.2012', 'values': ['48.49556']}, {'name': 'Dic.2012', 'values': ['70.59582']}, {'name': 'Ene.2013', 'values': ['49.162479']}, {'name': 'Feb.2013', 'values': ['46.555008']}, {'name': 'Mar.2013', 'values': ['54.613578']}, {'name': 'Abr.2013', 'values': ['40.74908']}, {'name': 'May.2013', 'values': ['12.70191']}, {'name': 'Jun.2013', 'values': ['3.47639899999999']}, {'name': 'Jul.2013', 'values': ['3.4111']}, {'name': 'Ago.2013', 'values': ['3.6136']}, {'name': 'Sep.2013', 'values': ['4.36444']}, {'name': 'Oct.2013', 'values': ['52.54442']}, {'name': 'Nov.2013', 'values': ['81.82887']}, {'name': 'Dic.2013', 'values': ['85.799219']}, {'name': 'Ene.2014', 'values': ['50.520079']}, {'name': 'Feb.2014', 'values': ['53.728808']}, {'name': 'Mar.2014', 'values': ['60.785529']}, {'name': 'Abr.2014', 'values': ['49.50618']}, {'name': 'May.2014', 'values': ['13.33718']}, {'name': 'Jun.2014', 'values': ['4.0844']}, {'name': 'Jul.2014', 'values': ['4.5952']}, {'name': 'Ago.2014', 'values': ['5.5875']}, {'name': 'Sep.2014', 'values': ['9.1833']}, {'name': 'Oct.2014', 'values': ['55.051']}, {'name': 'Nov.2014', 'values': ['133.833']}, {'name': 'Dic.2014', 'values': ['66.88503']}, {'name': 'Ene.2015', 'values': ['53.40213']}, {'name': 'Feb.2015', 'values': ['62.390129']}, {'name': 'Mar.2015', 'values': ['84.335927']}, {'name': 'Abr.2015', 'values': ['32.07014']}, {'name': 'May.2015', 'values': ['11.42543']}, {'name': 'Jun.2015', 'values': ['6.9001']}, {'name': 'Jul.2015', 'values': ['8.1775']}, {'name': 'Ago.2015', 'values': ['12.4874']}, {'name': 'Sep.2015', 'values': ['18.8692']}, {'name': 'Oct.2015', 'values': ['88.0023']}, {'name': 'Nov.2015', 'values': ['129.14713']}, {'name': 'Dic.2015', 'values': ['90.7315400000001']}, {'name': 'Ene.2016', 'values': ['74.63458']}, {'name': 'Feb.2016', 'values': ['63.216868']}, {'name': 'Mar.2016', 'values': ['79.10469']}, {'name': 'Abr.2016', 'values': ['32.52369']}, {'name': 'May.2016', 'values': ['10.77962']}, {'name': 'Jun.2016', 'values': ['5.65572']}, {'name': 'Jul.2016', 'values': ['6.82377']}, {'name': 'Ago.2016', 'values': ['14.06217']}, {'name': 'Sep.2016', 'values': ['16.1791']}, {'name': 'Oct.2016', 'values': ['105.6977']}, {'name': 'Nov.2016', 'values': ['189.4204']}, {'name': 'Dic.2016', 'values': ['91.859']}, {'name': 'Ene.2017', 'values': ['78.660987']}, {'name': 'Feb.2017', 'values': ['65.511397']}, {'name': 'Mar.2017', 'values': ['81.08841']}, {'name': 'Abr.2017', 'values': ['38.61622']}, {'name': 'May.2017', 'values': ['20.13088']}, {'name': 'Jun.2017', 'values': ['13.8395']}, {'name': 'Jul.2017', 'values': ['15.8803']}, {'name': 'Ago.2017', 'values': ['17.98955']}, {'name': 'Sep.2017', 'values': ['5.71599']}, {'name': 'Oct.2017', 'values': ['17.11543']}, {'name': 'Nov.2017', 'values': ['100.39885']}, {'name': 'Dic.2017', 'values': ['190.06482']}, {'name': 'Ene.2018', 'values': ['88.94188']}, {'name': 'Feb.2018', 'values': ['80.6064']}, {'name': 'Mar.2018', 'values': ['80.726779']}, {'name': 'Abr.2018', 'values': ['41.92292']}, {'name': 'May.2018', 'values': ['12.90132']}, {'name': 'Jun.2018', 'values': ['8.20575']}, {'name': 'Jul.2018', 'values': ['5.6643']}, {'name': 'Ago.2018', 'values': ['7.3883']}, {'name': 'Sep.2018', 'values': ['10.9901']}, {'name': 'Oct.2018', 'values': ['44.3965']}, {'name': 'Nov.2018', 'values': ['104.26581']}, {'name': 'Dic.2018', 'values': ['159.535']}, {'name': 'Ene.2019', 'values': ['112.429339']}, {'name': 'Feb.2019', 'values': ['99.0171']}, {'name': 'Mar.2019', 'values': ['72.81966']}, {'name': 'Abr.2019', 'values': ['19.86109']}, {'name': 'May.2019', 'values': ['12.2053']}, {'name': 'Jun.2019', 'values': ['6.48474']}, {'name': 'Jul.2019', 'values': ['5.0031']}, {'name': 'Ago.2019', 'values': ['7.2988']}, {'name': 'Sep.2019', 'values': ['14.1848']}, {'name': 'Oct.2019', 'values': ['50.4965']}, {'name': 'Nov.2019', 'values': ['98.3897']}, {'name': 'Dic.2019', 'values': ['141.6248']}, {'name': 'Ene.2020', 'values': ['144.5629']}, {'name': 'Feb.2020', 'values': ['98.518573']}, {'name': 'Mar.2020', 'values': ['68.44275']}, {'name': 'Abr.2020', 'values': ['17.15574']}, {'name': 'May.2020', 'values': ['9.77']}, {'name': 'Jun.2020', 'values': ['5.70505']}, {'name': 'Jul.2020', 'values': ['11.4515']}, {'name': 'Ago.2020', 'values': ['7.5145']}, {'name': 'Sep.2020', 'values': ['11.9978']}, {'name': 'Oct.2020', 'values': ['49.6003']}, {'name': 'Nov.2020', 'values': ['113.01334']}, {'name': 'Dic.2020', 'values': ['195.878009']}]}

In [209]:
for key in response_json.keys():
    print(key)

config
periods

In [210]:
print(response_json["config"])

{'title': 'ProducciÃ³n agropecuaria (miles de toneladas)', 'series': [{'name': 'ProducciÃ³n agropecuaria (miles de toneladas) - AgrÃ\xadcola - Uva', 'dec': '1'}]}

In [211]:
# llamar a los valores
print(response_json["periods"])

[{'name': 'Ene.2007', 'values': ['26.7654']}, {'name': 'Feb.2007', 'values': ['46.227995']}, {'name': 'Mar.2007', 'values': ['30.853878']}, {'name': 'Abr.2007', 'values': ['22.520426']}, {'name': 'May.2007', 'values': ['6.11471']}, {'name': 'Jun.2007', 'values': ['4.21061']}, {'name': 'Jul.2007', 'values': ['4.0913']}, {'name': 'Ago.2007', 'values': ['4.16852']}, {'name': 'Sep.2007', 'values': ['3.8955']}, {'name': 'Oct.2007', 'values': ['6.5136']}, {'name': 'Nov.2007', 'values': ['18.19177']}, {'name': 'Dic.2007', 'values': ['23.04983']}, {'name': 'Ene.2008', 'values': ['20.84282']}, {'name': 'Feb.2008', 'values': ['35.35465']}, {'name': 'Mar.2008', 'values': ['47.092609']}, {'name': 'Abr.2008', 'values': ['30.66151']}, {'name': 'May.2008', 'values': ['8.4732']}, {'name': 'Jun.2008', 'values': ['4.2513']}, {'name': 'Jul.2008', 'values': ['4.86862']}, {'name': 'Ago.2008', 'values': ['4.8031']}, {'name': 'Sep.2008', 'values': ['3.3984']}, {'name': 'Oct.2008', 'values': ['8.7187']}, {'name': 'Nov.2008', 'values': ['25.14431']}, {'name': 'Dic.2008', 'values': ['29.7619']}, {'name': 'Ene.2009', 'values': ['43.63057']}, {'name': 'Feb.2009', 'values': ['45.16123']}, {'name': 'Mar.2009', 'values': ['49.62944']}, {'name': 'Abr.2009', 'values': ['25.486239']}, {'name': 'May.2009', 'values': ['6.48576']}, {'name': 'Jun.2009', 'values': ['4.03948']}, {'name': 'Jul.2009', 'values': ['3.85693']}, {'name': 'Ago.2009', 'values': ['4.56713']}, {'name': 'Sep.2009', 'values': ['6.195']}, {'name': 'Oct.2009', 'values': ['10.91092']}, {'name': 'Nov.2009', 'values': ['29.97124']}, {'name': 'Dic.2009', 'values': ['34.43266']}, {'name': 'Ene.2010', 'values': ['42.78158']}, {'name': 'Feb.2010', 'values': ['46.761269']}, {'name': 'Mar.2010', 'values': ['42.724849']}, {'name': 'Abr.2010', 'values': ['29.122549']}, {'name': 'May.2010', 'values': ['6.16341']}, {'name': 'Jun.2010', 'values': ['3.4292']}, {'name': 'Jul.2010', 'values': ['3.89434']}, {'name': 'Ago.2010', 'values': ['3.84077']}, {'name': 'Sep.2010', 'values': ['4.64213']}, {'name': 'Oct.2010', 'values': ['11.03395']}, {'name': 'Nov.2010', 'values': ['47.93745']}, {'name': 'Dic.2010', 'values': ['38.13645']}, {'name': 'Ene.2011', 'values': ['38.431589']}, {'name': 'Feb.2011', 'values': ['46.334564']}, {'name': 'Mar.2011', 'values': ['48.369455']}, {'name': 'Abr.2011', 'values': ['36.024423']}, {'name': 'May.2011', 'values': ['6.580049']}, {'name': 'Jun.2011', 'values': ['3.828119']}, {'name': 'Jul.2011', 'values': ['4.01427']}, {'name': 'Ago.2011', 'values': ['3.98546']}, {'name': 'Sep.2011', 'values': ['3.791159']}, {'name': 'Oct.2011', 'values': ['11.84431']}, {'name': 'Nov.2011', 'values': ['40.119229']}, {'name': 'Dic.2011', 'values': ['53.579019']}, {'name': 'Ene.2012', 'values': ['41.44486']}, {'name': 'Feb.2012', 'values': ['50.71839']}, {'name': 'Mar.2012', 'values': ['51.545385']}, {'name': 'Abr.2012', 'values': ['41.147198']}, {'name': 'May.2012', 'values': ['10.6165']}, {'name': 'Jun.2012', 'values': ['3.63567']}, {'name': 'Jul.2012', 'values': ['3.891658']}, {'name': 'Ago.2012', 'values': ['3.865119']}, {'name': 'Sep.2012', 'values': ['3.64515']}, {'name': 'Oct.2012', 'values': ['32.26856']}, {'name': 'Nov.2012', 'values': ['48.49556']}, {'name': 'Dic.2012', 'values': ['70.59582']}, {'name': 'Ene.2013', 'values': ['49.162479']}, {'name': 'Feb.2013', 'values': ['46.555008']}, {'name': 'Mar.2013', 'values': ['54.613578']}, {'name': 'Abr.2013', 'values': ['40.74908']}, {'name': 'May.2013', 'values': ['12.70191']}, {'name': 'Jun.2013', 'values': ['3.47639899999999']}, {'name': 'Jul.2013', 'values': ['3.4111']}, {'name': 'Ago.2013', 'values': ['3.6136']}, {'name': 'Sep.2013', 'values': ['4.36444']}, {'name': 'Oct.2013', 'values': ['52.54442']}, {'name': 'Nov.2013', 'values': ['81.82887']}, {'name': 'Dic.2013', 'values': ['85.799219']}, {'name': 'Ene.2014', 'values': ['50.520079']}, {'name': 'Feb.2014', 'values': ['53.728808']}, {'name': 'Mar.2014', 'values': ['60.785529']}, {'name': 'Abr.2014', 'values': ['49.50618']}, {'name': 'May.2014', 'values': ['13.33718']}, {'name': 'Jun.2014', 'values': ['4.0844']}, {'name': 'Jul.2014', 'values': ['4.5952']}, {'name': 'Ago.2014', 'values': ['5.5875']}, {'name': 'Sep.2014', 'values': ['9.1833']}, {'name': 'Oct.2014', 'values': ['55.051']}, {'name': 'Nov.2014', 'values': ['133.833']}, {'name': 'Dic.2014', 'values': ['66.88503']}, {'name': 'Ene.2015', 'values': ['53.40213']}, {'name': 'Feb.2015', 'values': ['62.390129']}, {'name': 'Mar.2015', 'values': ['84.335927']}, {'name': 'Abr.2015', 'values': ['32.07014']}, {'name': 'May.2015', 'values': ['11.42543']}, {'name': 'Jun.2015', 'values': ['6.9001']}, {'name': 'Jul.2015', 'values': ['8.1775']}, {'name': 'Ago.2015', 'values': ['12.4874']}, {'name': 'Sep.2015', 'values': ['18.8692']}, {'name': 'Oct.2015', 'values': ['88.0023']}, {'name': 'Nov.2015', 'values': ['129.14713']}, {'name': 'Dic.2015', 'values': ['90.7315400000001']}, {'name': 'Ene.2016', 'values': ['74.63458']}, {'name': 'Feb.2016', 'values': ['63.216868']}, {'name': 'Mar.2016', 'values': ['79.10469']}, {'name': 'Abr.2016', 'values': ['32.52369']}, {'name': 'May.2016', 'values': ['10.77962']}, {'name': 'Jun.2016', 'values': ['5.65572']}, {'name': 'Jul.2016', 'values': ['6.82377']}, {'name': 'Ago.2016', 'values': ['14.06217']}, {'name': 'Sep.2016', 'values': ['16.1791']}, {'name': 'Oct.2016', 'values': ['105.6977']}, {'name': 'Nov.2016', 'values': ['189.4204']}, {'name': 'Dic.2016', 'values': ['91.859']}, {'name': 'Ene.2017', 'values': ['78.660987']}, {'name': 'Feb.2017', 'values': ['65.511397']}, {'name': 'Mar.2017', 'values': ['81.08841']}, {'name': 'Abr.2017', 'values': ['38.61622']}, {'name': 'May.2017', 'values': ['20.13088']}, {'name': 'Jun.2017', 'values': ['13.8395']}, {'name': 'Jul.2017', 'values': ['15.8803']}, {'name': 'Ago.2017', 'values': ['17.98955']}, {'name': 'Sep.2017', 'values': ['5.71599']}, {'name': 'Oct.2017', 'values': ['17.11543']}, {'name': 'Nov.2017', 'values': ['100.39885']}, {'name': 'Dic.2017', 'values': ['190.06482']}, {'name': 'Ene.2018', 'values': ['88.94188']}, {'name': 'Feb.2018', 'values': ['80.6064']}, {'name': 'Mar.2018', 'values': ['80.726779']}, {'name': 'Abr.2018', 'values': ['41.92292']}, {'name': 'May.2018', 'values': ['12.90132']}, {'name': 'Jun.2018', 'values': ['8.20575']}, {'name': 'Jul.2018', 'values': ['5.6643']}, {'name': 'Ago.2018', 'values': ['7.3883']}, {'name': 'Sep.2018', 'values': ['10.9901']}, {'name': 'Oct.2018', 'values': ['44.3965']}, {'name': 'Nov.2018', 'values': ['104.26581']}, {'name': 'Dic.2018', 'values': ['159.535']}, {'name': 'Ene.2019', 'values': ['112.429339']}, {'name': 'Feb.2019', 'values': ['99.0171']}, {'name': 'Mar.2019', 'values': ['72.81966']}, {'name': 'Abr.2019', 'values': ['19.86109']}, {'name': 'May.2019', 'values': ['12.2053']}, {'name': 'Jun.2019', 'values': ['6.48474']}, {'name': 'Jul.2019', 'values': ['5.0031']}, {'name': 'Ago.2019', 'values': ['7.2988']}, {'name': 'Sep.2019', 'values': ['14.1848']}, {'name': 'Oct.2019', 'values': ['50.4965']}, {'name': 'Nov.2019', 'values': ['98.3897']}, {'name': 'Dic.2019', 'values': ['141.6248']}, {'name': 'Ene.2020', 'values': ['144.5629']}, {'name': 'Feb.2020', 'values': ['98.518573']}, {'name': 'Mar.2020', 'values': ['68.44275']}, {'name': 'Abr.2020', 'values': ['17.15574']}, {'name': 'May.2020', 'values': ['9.77']}, {'name': 'Jun.2020', 'values': ['5.70505']}, {'name': 'Jul.2020', 'values': ['11.4515']}, {'name': 'Ago.2020', 'values': ['7.5145']}, {'name': 'Sep.2020', 'values': ['11.9978']}, {'name': 'Oct.2020', 'values': ['49.6003']}, {'name': 'Nov.2020', 'values': ['113.01334']}, {'name': 'Dic.2020', 'values': ['195.878009']}]

In [212]:
periodos=response_json.get("periods")
prod_uva=[]
for i in periodos:
    valores_list=i["values"]
    for w in valores_list:
        w=str(w)
        prod_uva.append(w)
        
print(prod_uva)

['26.7654', '46.227995', '30.853878', '22.520426', '6.11471', '4.21061', '4.0913', '4.16852', '3.8955', '6.5136', '18.19177', '23.04983', '20.84282', '35.35465', '47.092609', '30.66151', '8.4732', '4.2513', '4.86862', '4.8031', '3.3984', '8.7187', '25.14431', '29.7619', '43.63057', '45.16123', '49.62944', '25.486239', '6.48576', '4.03948', '3.85693', '4.56713', '6.195', '10.91092', '29.97124', '34.43266', '42.78158', '46.761269', '42.724849', '29.122549', '6.16341', '3.4292', '3.89434', '3.84077', '4.64213', '11.03395', '47.93745', '38.13645', '38.431589', '46.334564', '48.369455', '36.024423', '6.580049', '3.828119', '4.01427', '3.98546', '3.791159', '11.84431', '40.119229', '53.579019', '41.44486', '50.71839', '51.545385', '41.147198', '10.6165', '3.63567', '3.891658', '3.865119', '3.64515', '32.26856', '48.49556', '70.59582', '49.162479', '46.555008', '54.613578', '40.74908', '12.70191', '3.47639899999999', '3.4111', '3.6136', '4.36444', '52.54442', '81.82887', '85.799219', '50.520079', '53.728808', '60.785529', '49.50618', '13.33718', '4.0844', '4.5952', '5.5875', '9.1833', '55.051', '133.833', '66.88503', '53.40213', '62.390129', '84.335927', '32.07014', '11.42543', '6.9001', '8.1775', '12.4874', '18.8692', '88.0023', '129.14713', '90.7315400000001', '74.63458', '63.216868', '79.10469', '32.52369', '10.77962', '5.65572', '6.82377', '14.06217', '16.1791', '105.6977', '189.4204', '91.859', '78.660987', '65.511397', '81.08841', '38.61622', '20.13088', '13.8395', '15.8803', '17.98955', '5.71599', '17.11543', '100.39885', '190.06482', '88.94188', '80.6064', '80.726779', '41.92292', '12.90132', '8.20575', '5.6643', '7.3883', '10.9901', '44.3965', '104.26581', '159.535', '112.429339', '99.0171', '72.81966', '19.86109', '12.2053', '6.48474', '5.0031', '7.2988', '14.1848', '50.4965', '98.3897', '141.6248', '144.5629', '98.518573', '68.44275', '17.15574', '9.77', '5.70505', '11.4515', '7.5145', '11.9978', '49.6003', '113.01334', '195.878009']

In [213]:
fechas=[]
for i in periodos:
    nombres=i["name"]
    fechas.append(nombres)
print(fechas)

['Ene.2007', 'Feb.2007', 'Mar.2007', 'Abr.2007', 'May.2007', 'Jun.2007', 'Jul.2007', 'Ago.2007', 'Sep.2007', 'Oct.2007', 'Nov.2007', 'Dic.2007', 'Ene.2008', 'Feb.2008', 'Mar.2008', 'Abr.2008', 'May.2008', 'Jun.2008', 'Jul.2008', 'Ago.2008', 'Sep.2008', 'Oct.2008', 'Nov.2008', 'Dic.2008', 'Ene.2009', 'Feb.2009', 'Mar.2009', 'Abr.2009', 'May.2009', 'Jun.2009', 'Jul.2009', 'Ago.2009', 'Sep.2009', 'Oct.2009', 'Nov.2009', 'Dic.2009', 'Ene.2010', 'Feb.2010', 'Mar.2010', 'Abr.2010', 'May.2010', 'Jun.2010', 'Jul.2010', 'Ago.2010', 'Sep.2010', 'Oct.2010', 'Nov.2010', 'Dic.2010', 'Ene.2011', 'Feb.2011', 'Mar.2011', 'Abr.2011', 'May.2011', 'Jun.2011', 'Jul.2011', 'Ago.2011', 'Sep.2011', 'Oct.2011', 'Nov.2011', 'Dic.2011', 'Ene.2012', 'Feb.2012', 'Mar.2012', 'Abr.2012', 'May.2012', 'Jun.2012', 'Jul.2012', 'Ago.2012', 'Sep.2012', 'Oct.2012', 'Nov.2012', 'Dic.2012', 'Ene.2013', 'Feb.2013', 'Mar.2013', 'Abr.2013', 'May.2013', 'Jun.2013', 'Jul.2013', 'Ago.2013', 'Sep.2013', 'Oct.2013', 'Nov.2013', 'Dic.2013', 'Ene.2014', 'Feb.2014', 'Mar.2014', 'Abr.2014', 'May.2014', 'Jun.2014', 'Jul.2014', 'Ago.2014', 'Sep.2014', 'Oct.2014', 'Nov.2014', 'Dic.2014', 'Ene.2015', 'Feb.2015', 'Mar.2015', 'Abr.2015', 'May.2015', 'Jun.2015', 'Jul.2015', 'Ago.2015', 'Sep.2015', 'Oct.2015', 'Nov.2015', 'Dic.2015', 'Ene.2016', 'Feb.2016', 'Mar.2016', 'Abr.2016', 'May.2016', 'Jun.2016', 'Jul.2016', 'Ago.2016', 'Sep.2016', 'Oct.2016', 'Nov.2016', 'Dic.2016', 'Ene.2017', 'Feb.2017', 'Mar.2017', 'Abr.2017', 'May.2017', 'Jun.2017', 'Jul.2017', 'Ago.2017', 'Sep.2017', 'Oct.2017', 'Nov.2017', 'Dic.2017', 'Ene.2018', 'Feb.2018', 'Mar.2018', 'Abr.2018', 'May.2018', 'Jun.2018', 'Jul.2018', 'Ago.2018', 'Sep.2018', 'Oct.2018', 'Nov.2018', 'Dic.2018', 'Ene.2019', 'Feb.2019', 'Mar.2019', 'Abr.2019', 'May.2019', 'Jun.2019', 'Jul.2019', 'Ago.2019', 'Sep.2019', 'Oct.2019', 'Nov.2019', 'Dic.2019', 'Ene.2020', 'Feb.2020', 'Mar.2020', 'Abr.2020', 'May.2020', 'Jun.2020', 'Jul.2020', 'Ago.2020', 'Sep.2020', 'Oct.2020', 'Nov.2020', 'Dic.2020']

In [214]:
diccionario18= {"Fechas":fechas, "Valores":prod_uva}
print(diccionario18)

{'Fechas': ['Ene.2007', 'Feb.2007', 'Mar.2007', 'Abr.2007', 'May.2007', 'Jun.2007', 'Jul.2007', 'Ago.2007', 'Sep.2007', 'Oct.2007', 'Nov.2007', 'Dic.2007', 'Ene.2008', 'Feb.2008', 'Mar.2008', 'Abr.2008', 'May.2008', 'Jun.2008', 'Jul.2008', 'Ago.2008', 'Sep.2008', 'Oct.2008', 'Nov.2008', 'Dic.2008', 'Ene.2009', 'Feb.2009', 'Mar.2009', 'Abr.2009', 'May.2009', 'Jun.2009', 'Jul.2009', 'Ago.2009', 'Sep.2009', 'Oct.2009', 'Nov.2009', 'Dic.2009', 'Ene.2010', 'Feb.2010', 'Mar.2010', 'Abr.2010', 'May.2010', 'Jun.2010', 'Jul.2010', 'Ago.2010', 'Sep.2010', 'Oct.2010', 'Nov.2010', 'Dic.2010', 'Ene.2011', 'Feb.2011', 'Mar.2011', 'Abr.2011', 'May.2011', 'Jun.2011', 'Jul.2011', 'Ago.2011', 'Sep.2011', 'Oct.2011', 'Nov.2011', 'Dic.2011', 'Ene.2012', 'Feb.2012', 'Mar.2012', 'Abr.2012', 'May.2012', 'Jun.2012', 'Jul.2012', 'Ago.2012', 'Sep.2012', 'Oct.2012', 'Nov.2012', 'Dic.2012', 'Ene.2013', 'Feb.2013', 'Mar.2013', 'Abr.2013', 'May.2013', 'Jun.2013', 'Jul.2013', 'Ago.2013', 'Sep.2013', 'Oct.2013', 'Nov.2013', 'Dic.2013', 'Ene.2014', 'Feb.2014', 'Mar.2014', 'Abr.2014', 'May.2014', 'Jun.2014', 'Jul.2014', 'Ago.2014', 'Sep.2014', 'Oct.2014', 'Nov.2014', 'Dic.2014', 'Ene.2015', 'Feb.2015', 'Mar.2015', 'Abr.2015', 'May.2015', 'Jun.2015', 'Jul.2015', 'Ago.2015', 'Sep.2015', 'Oct.2015', 'Nov.2015', 'Dic.2015', 'Ene.2016', 'Feb.2016', 'Mar.2016', 'Abr.2016', 'May.2016', 'Jun.2016', 'Jul.2016', 'Ago.2016', 'Sep.2016', 'Oct.2016', 'Nov.2016', 'Dic.2016', 'Ene.2017', 'Feb.2017', 'Mar.2017', 'Abr.2017', 'May.2017', 'Jun.2017', 'Jul.2017', 'Ago.2017', 'Sep.2017', 'Oct.2017', 'Nov.2017', 'Dic.2017', 'Ene.2018', 'Feb.2018', 'Mar.2018', 'Abr.2018', 'May.2018', 'Jun.2018', 'Jul.2018', 'Ago.2018', 'Sep.2018', 'Oct.2018', 'Nov.2018', 'Dic.2018', 'Ene.2019', 'Feb.2019', 'Mar.2019', 'Abr.2019', 'May.2019', 'Jun.2019', 'Jul.2019', 'Ago.2019', 'Sep.2019', 'Oct.2019', 'Nov.2019', 'Dic.2019', 'Ene.2020', 'Feb.2020', 'Mar.2020', 'Abr.2020', 'May.2020', 'Jun.2020', 'Jul.2020', 'Ago.2020', 'Sep.2020', 'Oct.2020', 'Nov.2020', 'Dic.2020'], 'Valores': ['26.7654', '46.227995', '30.853878', '22.520426', '6.11471', '4.21061', '4.0913', '4.16852', '3.8955', '6.5136', '18.19177', '23.04983', '20.84282', '35.35465', '47.092609', '30.66151', '8.4732', '4.2513', '4.86862', '4.8031', '3.3984', '8.7187', '25.14431', '29.7619', '43.63057', '45.16123', '49.62944', '25.486239', '6.48576', '4.03948', '3.85693', '4.56713', '6.195', '10.91092', '29.97124', '34.43266', '42.78158', '46.761269', '42.724849', '29.122549', '6.16341', '3.4292', '3.89434', '3.84077', '4.64213', '11.03395', '47.93745', '38.13645', '38.431589', '46.334564', '48.369455', '36.024423', '6.580049', '3.828119', '4.01427', '3.98546', '3.791159', '11.84431', '40.119229', '53.579019', '41.44486', '50.71839', '51.545385', '41.147198', '10.6165', '3.63567', '3.891658', '3.865119', '3.64515', '32.26856', '48.49556', '70.59582', '49.162479', '46.555008', '54.613578', '40.74908', '12.70191', '3.47639899999999', '3.4111', '3.6136', '4.36444', '52.54442', '81.82887', '85.799219', '50.520079', '53.728808', '60.785529', '49.50618', '13.33718', '4.0844', '4.5952', '5.5875', '9.1833', '55.051', '133.833', '66.88503', '53.40213', '62.390129', '84.335927', '32.07014', '11.42543', '6.9001', '8.1775', '12.4874', '18.8692', '88.0023', '129.14713', '90.7315400000001', '74.63458', '63.216868', '79.10469', '32.52369', '10.77962', '5.65572', '6.82377', '14.06217', '16.1791', '105.6977', '189.4204', '91.859', '78.660987', '65.511397', '81.08841', '38.61622', '20.13088', '13.8395', '15.8803', '17.98955', '5.71599', '17.11543', '100.39885', '190.06482', '88.94188', '80.6064', '80.726779', '41.92292', '12.90132', '8.20575', '5.6643', '7.3883', '10.9901', '44.3965', '104.26581', '159.535', '112.429339', '99.0171', '72.81966', '19.86109', '12.2053', '6.48474', '5.0031', '7.2988', '14.1848', '50.4965', '98.3897', '141.6248', '144.5629', '98.518573', '68.44275', '17.15574', '9.77', '5.70505', '11.4515', '7.5145', '11.9978', '49.6003', '113.01334', '195.878009']}

In [215]:
df18=pd.DataFrame(diccionario18)
df18

       Fechas     Valores
0    Ene.2007     26.7654
1    Feb.2007   46.227995
2    Mar.2007   30.853878
3    Abr.2007   22.520426
4    May.2007     6.11471
..        ...         ...
163  Ago.2020      7.5145
164  Sep.2020     11.9978
165  Oct.2020     49.6003
166  Nov.2020   113.01334
167  Dic.2020  195.878009

[168 rows x 2 columns]

In [216]:
df18.rename(columns={'Valores':'Uva'}, inplace=True)
df18.head()

     Fechas        Uva
0  Ene.2007    26.7654
1  Feb.2007  46.227995
2  Mar.2007  30.853878
3  Abr.2007  22.520426
4  May.2007    6.11471

In [ ]:
# DATOS DE PRODUCCIÓN AGRÍCOLA DE MAÍZ AMARILLO DURO

In [217]:
url_base="https://estadisticas.bcrp.gob.pe/estadisticas/series/api/"
cod_ser="PN01791AM"
formato="/json"
per="/2003-1/2020-12"
url=url_base+cod_ser+formato+per
print(url)

https://estadisticas.bcrp.gob.pe/estadisticas/series/api/PN01791AM/json/2003-1/2020-12

In [218]:
import requests
response=requests.get(url)
print(response)

<Response [200]>

In [219]:
# extraer en formato json
response_json=response.json()
print(response_json)

{'config': {'title': 'ProducciÃ³n agropecuaria (miles de toneladas)', 'series': [{'name': 'ProducciÃ³n agropecuaria (miles de toneladas) - AgrÃ\xadcola - MaÃ\xadz Amarillo Duro', 'dec': '1'}]}, 'periods': [{'name': 'Ene.2007', 'values': ['72.384329']}, {'name': 'Feb.2007', 'values': ['93.52577']}, {'name': 'Mar.2007', 'values': ['66.258969']}, {'name': 'Abr.2007', 'values': ['59.029558']}, {'name': 'May.2007', 'values': ['83.383422']}, {'name': 'Jun.2007', 'values': ['123.813429']}, {'name': 'Jul.2007', 'values': ['129.912898']}, {'name': 'Ago.2007', 'values': ['121.62092']}, {'name': 'Sep.2007', 'values': ['79.726676']}, {'name': 'Oct.2007', 'values': ['98.309376']}, {'name': 'Nov.2007', 'values': ['98.565249']}, {'name': 'Dic.2007', 'values': ['96.387075']}, {'name': 'Ene.2008', 'values': ['80.306303']}, {'name': 'Feb.2008', 'values': ['114.17846']}, {'name': 'Mar.2008', 'values': ['82.036659']}, {'name': 'Abr.2008', 'values': ['74.196189']}, {'name': 'May.2008', 'values': ['76.894558']}, {'name': 'Jun.2008', 'values': ['143.73586']}, {'name': 'Jul.2008', 'values': ['136.520683']}, {'name': 'Ago.2008', 'values': ['119.588598']}, {'name': 'Sep.2008', 'values': ['89.982818']}, {'name': 'Oct.2008', 'values': ['89.611438']}, {'name': 'Nov.2008', 'values': ['88.417709']}, {'name': 'Dic.2008', 'values': ['136.0472']}, {'name': 'Ene.2009', 'values': ['87.069516']}, {'name': 'Feb.2009', 'values': ['136.652644']}, {'name': 'Mar.2009', 'values': ['121.759079']}, {'name': 'Abr.2009', 'values': ['92.494921']}, {'name': 'May.2009', 'values': ['86.983155']}, {'name': 'Jun.2009', 'values': ['126.778779']}, {'name': 'Jul.2009', 'values': ['138.884298']}, {'name': 'Ago.2009', 'values': ['113.960414']}, {'name': 'Sep.2009', 'values': ['80.500769']}, {'name': 'Oct.2009', 'values': ['92.397899']}, {'name': 'Nov.2009', 'values': ['104.58771']}, {'name': 'Dic.2009', 'values': ['91.873779']}, {'name': 'Ene.2010', 'values': ['95.472076']}, {'name': 'Feb.2010', 'values': ['105.485609']}, {'name': 'Mar.2010', 'values': ['104.765489']}, {'name': 'Abr.2010', 'values': ['81.283729']}, {'name': 'May.2010', 'values': ['88.12511']}, {'name': 'Jun.2010', 'values': ['140.015273']}, {'name': 'Jul.2010', 'values': ['135.66846']}, {'name': 'Ago.2010', 'values': ['120.037458']}, {'name': 'Sep.2010', 'values': ['96.69851']}, {'name': 'Oct.2010', 'values': ['117.548447']}, {'name': 'Nov.2010', 'values': ['111.418049']}, {'name': 'Dic.2010', 'values': ['87.102949']}, {'name': 'Ene.2011', 'values': ['100.888948']}, {'name': 'Feb.2011', 'values': ['106.156894']}, {'name': 'Mar.2011', 'values': ['91.698838']}, {'name': 'Abr.2011', 'values': ['71.25252']}, {'name': 'May.2011', 'values': ['83.015498']}, {'name': 'Jun.2011', 'values': ['129.996699']}, {'name': 'Jul.2011', 'values': ['119.8084']}, {'name': 'Ago.2011', 'values': ['98.719258']}, {'name': 'Sep.2011', 'values': ['76.692078']}, {'name': 'Oct.2011', 'values': ['131.296127']}, {'name': 'Nov.2011', 'values': ['160.989398']}, {'name': 'Dic.2011', 'values': ['89.608438']}, {'name': 'Ene.2012', 'values': ['103.240312']}, {'name': 'Feb.2012', 'values': ['114.568904']}, {'name': 'Mar.2012', 'values': ['95.309817']}, {'name': 'Abr.2012', 'values': ['78.488158']}, {'name': 'May.2012', 'values': ['119.013449']}, {'name': 'Jun.2012', 'values': ['153.697161']}, {'name': 'Jul.2012', 'values': ['145.729079']}, {'name': 'Ago.2012', 'values': ['108.985947']}, {'name': 'Sep.2012', 'values': ['96.553896']}, {'name': 'Oct.2012', 'values': ['101.266585']}, {'name': 'Nov.2012', 'values': ['146.72033']}, {'name': 'Dic.2012', 'values': ['129.398047']}, {'name': 'Ene.2013', 'values': ['93.460881']}, {'name': 'Feb.2013', 'values': ['113.262907']}, {'name': 'Mar.2013', 'values': ['102.585788']}, {'name': 'Abr.2013', 'values': ['90.26596']}, {'name': 'May.2013', 'values': ['89.767389']}, {'name': 'Jun.2013', 'values': ['136.120292']}, {'name': 'Jul.2013', 'values': ['156.721394']}, {'name': 'Ago.2013', 'values': ['130.333099']}, {'name': 'Sep.2013', 'values': ['84.570227']}, {'name': 'Oct.2013', 'values': ['105.912097']}, {'name': 'Nov.2013', 'values': ['145.597998']}, {'name': 'Dic.2013', 'values': ['116.431427']}, {'name': 'Ene.2014', 'values': ['97.268023']}, {'name': 'Feb.2014', 'values': ['107.628734']}, {'name': 'Mar.2014', 'values': ['101.318786']}, {'name': 'Abr.2014', 'values': ['91.783759']}, {'name': 'May.2014', 'values': ['85.842139']}, {'name': 'Jun.2014', 'values': ['132.929928']}, {'name': 'Jul.2014', 'values': ['137.581955']}, {'name': 'Ago.2014', 'values': ['97.529018']}, {'name': 'Sep.2014', 'values': ['90.786397']}, {'name': 'Oct.2014', 'values': ['87.958509']}, {'name': 'Nov.2014', 'values': ['104.989029']}, {'name': 'Dic.2014', 'values': ['91.945659']}, {'name': 'Ene.2015', 'values': ['105.565979']}, {'name': 'Feb.2015', 'values': ['110.057369']}, {'name': 'Mar.2015', 'values': ['93.330106']}, {'name': 'Abr.2015', 'values': ['96.80567']}, {'name': 'May.2015', 'values': ['117.556656']}, {'name': 'Jun.2015', 'values': ['148.268177']}, {'name': 'Jul.2015', 'values': ['131.283432']}, {'name': 'Ago.2015', 'values': ['127.225999']}, {'name': 'Sep.2015', 'values': ['128.668818']}, {'name': 'Oct.2015', 'values': ['133.989339']}, {'name': 'Nov.2015', 'values': ['134.188612']}, {'name': 'Dic.2015', 'values': ['111.622274']}, {'name': 'Ene.2016', 'values': ['97.416739']}, {'name': 'Feb.2016', 'values': ['119.330228']}, {'name': 'Mar.2016', 'values': ['90.694576']}, {'name': 'Abr.2016', 'values': ['80.792795']}, {'name': 'May.2016', 'values': ['71.915124']}, {'name': 'Jun.2016', 'values': ['138.18501']}, {'name': 'Jul.2016', 'values': ['139.339459']}, {'name': 'Ago.2016', 'values': ['127.601269']}, {'name': 'Sep.2016', 'values': ['90.657294']}, {'name': 'Oct.2016', 'values': ['104.27575']}, {'name': 'Nov.2016', 'values': ['93.014287']}, {'name': 'Dic.2016', 'values': ['79.160437']}, {'name': 'Ene.2017', 'values': ['98.280917']}, {'name': 'Feb.2017', 'values': ['99.484789']}, {'name': 'Mar.2017', 'values': ['85.72121']}, {'name': 'Abr.2017', 'values': ['48.664984']}, {'name': 'May.2017', 'values': ['59.442803']}, {'name': 'Jun.2017', 'values': ['182.687528']}, {'name': 'Jul.2017', 'values': ['156.975109']}, {'name': 'Ago.2017', 'values': ['114.631739']}, {'name': 'Sep.2017', 'values': ['93.154358']}, {'name': 'Oct.2017', 'values': ['96.88513']}, {'name': 'Nov.2017', 'values': ['104.881298']}, {'name': 'Dic.2017', 'values': ['108.790359']}, {'name': 'Ene.2018', 'values': ['117.408469']}, {'name': 'Feb.2018', 'values': ['115.028699']}, {'name': 'Mar.2018', 'values': ['94.871049']}, {'name': 'Abr.2018', 'values': ['63.372746']}, {'name': 'May.2018', 'values': ['83.190983']}, {'name': 'Jun.2018', 'values': ['130.735029']}, {'name': 'Jul.2018', 'values': ['161.912109']}, {'name': 'Ago.2018', 'values': ['122.925928']}, {'name': 'Sep.2018', 'values': ['105.017639']}, {'name': 'Oct.2018', 'values': ['87.584729']}, {'name': 'Nov.2018', 'values': ['83.199848']}, {'name': 'Dic.2018', 'values': ['100.78263']}, {'name': 'Ene.2019', 'values': ['102.658353']}, {'name': 'Feb.2019', 'values': ['107.11319']}, {'name': 'Mar.2019', 'values': ['78.037157']}, {'name': 'Abr.2019', 'values': ['61.478418']}, {'name': 'May.2019', 'values': ['75.496108']}, {'name': 'Jun.2019', 'values': ['152.411129']}, {'name': 'Jul.2019', 'values': ['207.896965']}, {'name': 'Ago.2019', 'values': ['107.506974']}, {'name': 'Sep.2019', 'values': ['93.615672']}, {'name': 'Oct.2019', 'values': ['90.07629']}, {'name': 'Nov.2019', 'values': ['81.63631']}, {'name': 'Dic.2019', 'values': ['112.830299']}, {'name': 'Ene.2020', 'values': ['107.868734']}, {'name': 'Feb.2020', 'values': ['121.156648']}, {'name': 'Mar.2020', 'values': ['71.781169']}, {'name': 'Abr.2020', 'values': ['65.830488']}, {'name': 'May.2020', 'values': ['91.815258']}, {'name': 'Jun.2020', 'values': ['120.202021']}, {'name': 'Jul.2020', 'values': ['116.454337']}, {'name': 'Ago.2020', 'values': ['94.559777']}, {'name': 'Sep.2020', 'values': ['64.409266']}, {'name': 'Oct.2020', 'values': ['70.54377']}, {'name': 'Nov.2020', 'values': ['109.639308']}, {'name': 'Dic.2020', 'values': ['93.247228']}]}

In [220]:
for key in response_json.keys():
    print(key)

config
periods

In [221]:
print(response_json["config"])

{'title': 'ProducciÃ³n agropecuaria (miles de toneladas)', 'series': [{'name': 'ProducciÃ³n agropecuaria (miles de toneladas) - AgrÃ\xadcola - MaÃ\xadz Amarillo Duro', 'dec': '1'}]}

In [222]:
# llamar a los valores
print(response_json["periods"])

[{'name': 'Ene.2007', 'values': ['72.384329']}, {'name': 'Feb.2007', 'values': ['93.52577']}, {'name': 'Mar.2007', 'values': ['66.258969']}, {'name': 'Abr.2007', 'values': ['59.029558']}, {'name': 'May.2007', 'values': ['83.383422']}, {'name': 'Jun.2007', 'values': ['123.813429']}, {'name': 'Jul.2007', 'values': ['129.912898']}, {'name': 'Ago.2007', 'values': ['121.62092']}, {'name': 'Sep.2007', 'values': ['79.726676']}, {'name': 'Oct.2007', 'values': ['98.309376']}, {'name': 'Nov.2007', 'values': ['98.565249']}, {'name': 'Dic.2007', 'values': ['96.387075']}, {'name': 'Ene.2008', 'values': ['80.306303']}, {'name': 'Feb.2008', 'values': ['114.17846']}, {'name': 'Mar.2008', 'values': ['82.036659']}, {'name': 'Abr.2008', 'values': ['74.196189']}, {'name': 'May.2008', 'values': ['76.894558']}, {'name': 'Jun.2008', 'values': ['143.73586']}, {'name': 'Jul.2008', 'values': ['136.520683']}, {'name': 'Ago.2008', 'values': ['119.588598']}, {'name': 'Sep.2008', 'values': ['89.982818']}, {'name': 'Oct.2008', 'values': ['89.611438']}, {'name': 'Nov.2008', 'values': ['88.417709']}, {'name': 'Dic.2008', 'values': ['136.0472']}, {'name': 'Ene.2009', 'values': ['87.069516']}, {'name': 'Feb.2009', 'values': ['136.652644']}, {'name': 'Mar.2009', 'values': ['121.759079']}, {'name': 'Abr.2009', 'values': ['92.494921']}, {'name': 'May.2009', 'values': ['86.983155']}, {'name': 'Jun.2009', 'values': ['126.778779']}, {'name': 'Jul.2009', 'values': ['138.884298']}, {'name': 'Ago.2009', 'values': ['113.960414']}, {'name': 'Sep.2009', 'values': ['80.500769']}, {'name': 'Oct.2009', 'values': ['92.397899']}, {'name': 'Nov.2009', 'values': ['104.58771']}, {'name': 'Dic.2009', 'values': ['91.873779']}, {'name': 'Ene.2010', 'values': ['95.472076']}, {'name': 'Feb.2010', 'values': ['105.485609']}, {'name': 'Mar.2010', 'values': ['104.765489']}, {'name': 'Abr.2010', 'values': ['81.283729']}, {'name': 'May.2010', 'values': ['88.12511']}, {'name': 'Jun.2010', 'values': ['140.015273']}, {'name': 'Jul.2010', 'values': ['135.66846']}, {'name': 'Ago.2010', 'values': ['120.037458']}, {'name': 'Sep.2010', 'values': ['96.69851']}, {'name': 'Oct.2010', 'values': ['117.548447']}, {'name': 'Nov.2010', 'values': ['111.418049']}, {'name': 'Dic.2010', 'values': ['87.102949']}, {'name': 'Ene.2011', 'values': ['100.888948']}, {'name': 'Feb.2011', 'values': ['106.156894']}, {'name': 'Mar.2011', 'values': ['91.698838']}, {'name': 'Abr.2011', 'values': ['71.25252']}, {'name': 'May.2011', 'values': ['83.015498']}, {'name': 'Jun.2011', 'values': ['129.996699']}, {'name': 'Jul.2011', 'values': ['119.8084']}, {'name': 'Ago.2011', 'values': ['98.719258']}, {'name': 'Sep.2011', 'values': ['76.692078']}, {'name': 'Oct.2011', 'values': ['131.296127']}, {'name': 'Nov.2011', 'values': ['160.989398']}, {'name': 'Dic.2011', 'values': ['89.608438']}, {'name': 'Ene.2012', 'values': ['103.240312']}, {'name': 'Feb.2012', 'values': ['114.568904']}, {'name': 'Mar.2012', 'values': ['95.309817']}, {'name': 'Abr.2012', 'values': ['78.488158']}, {'name': 'May.2012', 'values': ['119.013449']}, {'name': 'Jun.2012', 'values': ['153.697161']}, {'name': 'Jul.2012', 'values': ['145.729079']}, {'name': 'Ago.2012', 'values': ['108.985947']}, {'name': 'Sep.2012', 'values': ['96.553896']}, {'name': 'Oct.2012', 'values': ['101.266585']}, {'name': 'Nov.2012', 'values': ['146.72033']}, {'name': 'Dic.2012', 'values': ['129.398047']}, {'name': 'Ene.2013', 'values': ['93.460881']}, {'name': 'Feb.2013', 'values': ['113.262907']}, {'name': 'Mar.2013', 'values': ['102.585788']}, {'name': 'Abr.2013', 'values': ['90.26596']}, {'name': 'May.2013', 'values': ['89.767389']}, {'name': 'Jun.2013', 'values': ['136.120292']}, {'name': 'Jul.2013', 'values': ['156.721394']}, {'name': 'Ago.2013', 'values': ['130.333099']}, {'name': 'Sep.2013', 'values': ['84.570227']}, {'name': 'Oct.2013', 'values': ['105.912097']}, {'name': 'Nov.2013', 'values': ['145.597998']}, {'name': 'Dic.2013', 'values': ['116.431427']}, {'name': 'Ene.2014', 'values': ['97.268023']}, {'name': 'Feb.2014', 'values': ['107.628734']}, {'name': 'Mar.2014', 'values': ['101.318786']}, {'name': 'Abr.2014', 'values': ['91.783759']}, {'name': 'May.2014', 'values': ['85.842139']}, {'name': 'Jun.2014', 'values': ['132.929928']}, {'name': 'Jul.2014', 'values': ['137.581955']}, {'name': 'Ago.2014', 'values': ['97.529018']}, {'name': 'Sep.2014', 'values': ['90.786397']}, {'name': 'Oct.2014', 'values': ['87.958509']}, {'name': 'Nov.2014', 'values': ['104.989029']}, {'name': 'Dic.2014', 'values': ['91.945659']}, {'name': 'Ene.2015', 'values': ['105.565979']}, {'name': 'Feb.2015', 'values': ['110.057369']}, {'name': 'Mar.2015', 'values': ['93.330106']}, {'name': 'Abr.2015', 'values': ['96.80567']}, {'name': 'May.2015', 'values': ['117.556656']}, {'name': 'Jun.2015', 'values': ['148.268177']}, {'name': 'Jul.2015', 'values': ['131.283432']}, {'name': 'Ago.2015', 'values': ['127.225999']}, {'name': 'Sep.2015', 'values': ['128.668818']}, {'name': 'Oct.2015', 'values': ['133.989339']}, {'name': 'Nov.2015', 'values': ['134.188612']}, {'name': 'Dic.2015', 'values': ['111.622274']}, {'name': 'Ene.2016', 'values': ['97.416739']}, {'name': 'Feb.2016', 'values': ['119.330228']}, {'name': 'Mar.2016', 'values': ['90.694576']}, {'name': 'Abr.2016', 'values': ['80.792795']}, {'name': 'May.2016', 'values': ['71.915124']}, {'name': 'Jun.2016', 'values': ['138.18501']}, {'name': 'Jul.2016', 'values': ['139.339459']}, {'name': 'Ago.2016', 'values': ['127.601269']}, {'name': 'Sep.2016', 'values': ['90.657294']}, {'name': 'Oct.2016', 'values': ['104.27575']}, {'name': 'Nov.2016', 'values': ['93.014287']}, {'name': 'Dic.2016', 'values': ['79.160437']}, {'name': 'Ene.2017', 'values': ['98.280917']}, {'name': 'Feb.2017', 'values': ['99.484789']}, {'name': 'Mar.2017', 'values': ['85.72121']}, {'name': 'Abr.2017', 'values': ['48.664984']}, {'name': 'May.2017', 'values': ['59.442803']}, {'name': 'Jun.2017', 'values': ['182.687528']}, {'name': 'Jul.2017', 'values': ['156.975109']}, {'name': 'Ago.2017', 'values': ['114.631739']}, {'name': 'Sep.2017', 'values': ['93.154358']}, {'name': 'Oct.2017', 'values': ['96.88513']}, {'name': 'Nov.2017', 'values': ['104.881298']}, {'name': 'Dic.2017', 'values': ['108.790359']}, {'name': 'Ene.2018', 'values': ['117.408469']}, {'name': 'Feb.2018', 'values': ['115.028699']}, {'name': 'Mar.2018', 'values': ['94.871049']}, {'name': 'Abr.2018', 'values': ['63.372746']}, {'name': 'May.2018', 'values': ['83.190983']}, {'name': 'Jun.2018', 'values': ['130.735029']}, {'name': 'Jul.2018', 'values': ['161.912109']}, {'name': 'Ago.2018', 'values': ['122.925928']}, {'name': 'Sep.2018', 'values': ['105.017639']}, {'name': 'Oct.2018', 'values': ['87.584729']}, {'name': 'Nov.2018', 'values': ['83.199848']}, {'name': 'Dic.2018', 'values': ['100.78263']}, {'name': 'Ene.2019', 'values': ['102.658353']}, {'name': 'Feb.2019', 'values': ['107.11319']}, {'name': 'Mar.2019', 'values': ['78.037157']}, {'name': 'Abr.2019', 'values': ['61.478418']}, {'name': 'May.2019', 'values': ['75.496108']}, {'name': 'Jun.2019', 'values': ['152.411129']}, {'name': 'Jul.2019', 'values': ['207.896965']}, {'name': 'Ago.2019', 'values': ['107.506974']}, {'name': 'Sep.2019', 'values': ['93.615672']}, {'name': 'Oct.2019', 'values': ['90.07629']}, {'name': 'Nov.2019', 'values': ['81.63631']}, {'name': 'Dic.2019', 'values': ['112.830299']}, {'name': 'Ene.2020', 'values': ['107.868734']}, {'name': 'Feb.2020', 'values': ['121.156648']}, {'name': 'Mar.2020', 'values': ['71.781169']}, {'name': 'Abr.2020', 'values': ['65.830488']}, {'name': 'May.2020', 'values': ['91.815258']}, {'name': 'Jun.2020', 'values': ['120.202021']}, {'name': 'Jul.2020', 'values': ['116.454337']}, {'name': 'Ago.2020', 'values': ['94.559777']}, {'name': 'Sep.2020', 'values': ['64.409266']}, {'name': 'Oct.2020', 'values': ['70.54377']}, {'name': 'Nov.2020', 'values': ['109.639308']}, {'name': 'Dic.2020', 'values': ['93.247228']}]

In [223]:
periodos=response_json.get("periods")
prod_maíz=[]
for i in periodos:
    valores_list=i["values"]
    for w in valores_list:
        w=str(w)
        prod_maíz.append(w)
        
print(prod_maíz)

['72.384329', '93.52577', '66.258969', '59.029558', '83.383422', '123.813429', '129.912898', '121.62092', '79.726676', '98.309376', '98.565249', '96.387075', '80.306303', '114.17846', '82.036659', '74.196189', '76.894558', '143.73586', '136.520683', '119.588598', '89.982818', '89.611438', '88.417709', '136.0472', '87.069516', '136.652644', '121.759079', '92.494921', '86.983155', '126.778779', '138.884298', '113.960414', '80.500769', '92.397899', '104.58771', '91.873779', '95.472076', '105.485609', '104.765489', '81.283729', '88.12511', '140.015273', '135.66846', '120.037458', '96.69851', '117.548447', '111.418049', '87.102949', '100.888948', '106.156894', '91.698838', '71.25252', '83.015498', '129.996699', '119.8084', '98.719258', '76.692078', '131.296127', '160.989398', '89.608438', '103.240312', '114.568904', '95.309817', '78.488158', '119.013449', '153.697161', '145.729079', '108.985947', '96.553896', '101.266585', '146.72033', '129.398047', '93.460881', '113.262907', '102.585788', '90.26596', '89.767389', '136.120292', '156.721394', '130.333099', '84.570227', '105.912097', '145.597998', '116.431427', '97.268023', '107.628734', '101.318786', '91.783759', '85.842139', '132.929928', '137.581955', '97.529018', '90.786397', '87.958509', '104.989029', '91.945659', '105.565979', '110.057369', '93.330106', '96.80567', '117.556656', '148.268177', '131.283432', '127.225999', '128.668818', '133.989339', '134.188612', '111.622274', '97.416739', '119.330228', '90.694576', '80.792795', '71.915124', '138.18501', '139.339459', '127.601269', '90.657294', '104.27575', '93.014287', '79.160437', '98.280917', '99.484789', '85.72121', '48.664984', '59.442803', '182.687528', '156.975109', '114.631739', '93.154358', '96.88513', '104.881298', '108.790359', '117.408469', '115.028699', '94.871049', '63.372746', '83.190983', '130.735029', '161.912109', '122.925928', '105.017639', '87.584729', '83.199848', '100.78263', '102.658353', '107.11319', '78.037157', '61.478418', '75.496108', '152.411129', '207.896965', '107.506974', '93.615672', '90.07629', '81.63631', '112.830299', '107.868734', '121.156648', '71.781169', '65.830488', '91.815258', '120.202021', '116.454337', '94.559777', '64.409266', '70.54377', '109.639308', '93.247228']

In [224]:
fechas=[]
for i in periodos:
    nombres=i["name"]
    fechas.append(nombres)
print(fechas)

['Ene.2007', 'Feb.2007', 'Mar.2007', 'Abr.2007', 'May.2007', 'Jun.2007', 'Jul.2007', 'Ago.2007', 'Sep.2007', 'Oct.2007', 'Nov.2007', 'Dic.2007', 'Ene.2008', 'Feb.2008', 'Mar.2008', 'Abr.2008', 'May.2008', 'Jun.2008', 'Jul.2008', 'Ago.2008', 'Sep.2008', 'Oct.2008', 'Nov.2008', 'Dic.2008', 'Ene.2009', 'Feb.2009', 'Mar.2009', 'Abr.2009', 'May.2009', 'Jun.2009', 'Jul.2009', 'Ago.2009', 'Sep.2009', 'Oct.2009', 'Nov.2009', 'Dic.2009', 'Ene.2010', 'Feb.2010', 'Mar.2010', 'Abr.2010', 'May.2010', 'Jun.2010', 'Jul.2010', 'Ago.2010', 'Sep.2010', 'Oct.2010', 'Nov.2010', 'Dic.2010', 'Ene.2011', 'Feb.2011', 'Mar.2011', 'Abr.2011', 'May.2011', 'Jun.2011', 'Jul.2011', 'Ago.2011', 'Sep.2011', 'Oct.2011', 'Nov.2011', 'Dic.2011', 'Ene.2012', 'Feb.2012', 'Mar.2012', 'Abr.2012', 'May.2012', 'Jun.2012', 'Jul.2012', 'Ago.2012', 'Sep.2012', 'Oct.2012', 'Nov.2012', 'Dic.2012', 'Ene.2013', 'Feb.2013', 'Mar.2013', 'Abr.2013', 'May.2013', 'Jun.2013', 'Jul.2013', 'Ago.2013', 'Sep.2013', 'Oct.2013', 'Nov.2013', 'Dic.2013', 'Ene.2014', 'Feb.2014', 'Mar.2014', 'Abr.2014', 'May.2014', 'Jun.2014', 'Jul.2014', 'Ago.2014', 'Sep.2014', 'Oct.2014', 'Nov.2014', 'Dic.2014', 'Ene.2015', 'Feb.2015', 'Mar.2015', 'Abr.2015', 'May.2015', 'Jun.2015', 'Jul.2015', 'Ago.2015', 'Sep.2015', 'Oct.2015', 'Nov.2015', 'Dic.2015', 'Ene.2016', 'Feb.2016', 'Mar.2016', 'Abr.2016', 'May.2016', 'Jun.2016', 'Jul.2016', 'Ago.2016', 'Sep.2016', 'Oct.2016', 'Nov.2016', 'Dic.2016', 'Ene.2017', 'Feb.2017', 'Mar.2017', 'Abr.2017', 'May.2017', 'Jun.2017', 'Jul.2017', 'Ago.2017', 'Sep.2017', 'Oct.2017', 'Nov.2017', 'Dic.2017', 'Ene.2018', 'Feb.2018', 'Mar.2018', 'Abr.2018', 'May.2018', 'Jun.2018', 'Jul.2018', 'Ago.2018', 'Sep.2018', 'Oct.2018', 'Nov.2018', 'Dic.2018', 'Ene.2019', 'Feb.2019', 'Mar.2019', 'Abr.2019', 'May.2019', 'Jun.2019', 'Jul.2019', 'Ago.2019', 'Sep.2019', 'Oct.2019', 'Nov.2019', 'Dic.2019', 'Ene.2020', 'Feb.2020', 'Mar.2020', 'Abr.2020', 'May.2020', 'Jun.2020', 'Jul.2020', 'Ago.2020', 'Sep.2020', 'Oct.2020', 'Nov.2020', 'Dic.2020']

In [225]:
diccionario19= {"Fechas":fechas, "Valores":prod_maíz}
print(diccionario19)

{'Fechas': ['Ene.2007', 'Feb.2007', 'Mar.2007', 'Abr.2007', 'May.2007', 'Jun.2007', 'Jul.2007', 'Ago.2007', 'Sep.2007', 'Oct.2007', 'Nov.2007', 'Dic.2007', 'Ene.2008', 'Feb.2008', 'Mar.2008', 'Abr.2008', 'May.2008', 'Jun.2008', 'Jul.2008', 'Ago.2008', 'Sep.2008', 'Oct.2008', 'Nov.2008', 'Dic.2008', 'Ene.2009', 'Feb.2009', 'Mar.2009', 'Abr.2009', 'May.2009', 'Jun.2009', 'Jul.2009', 'Ago.2009', 'Sep.2009', 'Oct.2009', 'Nov.2009', 'Dic.2009', 'Ene.2010', 'Feb.2010', 'Mar.2010', 'Abr.2010', 'May.2010', 'Jun.2010', 'Jul.2010', 'Ago.2010', 'Sep.2010', 'Oct.2010', 'Nov.2010', 'Dic.2010', 'Ene.2011', 'Feb.2011', 'Mar.2011', 'Abr.2011', 'May.2011', 'Jun.2011', 'Jul.2011', 'Ago.2011', 'Sep.2011', 'Oct.2011', 'Nov.2011', 'Dic.2011', 'Ene.2012', 'Feb.2012', 'Mar.2012', 'Abr.2012', 'May.2012', 'Jun.2012', 'Jul.2012', 'Ago.2012', 'Sep.2012', 'Oct.2012', 'Nov.2012', 'Dic.2012', 'Ene.2013', 'Feb.2013', 'Mar.2013', 'Abr.2013', 'May.2013', 'Jun.2013', 'Jul.2013', 'Ago.2013', 'Sep.2013', 'Oct.2013', 'Nov.2013', 'Dic.2013', 'Ene.2014', 'Feb.2014', 'Mar.2014', 'Abr.2014', 'May.2014', 'Jun.2014', 'Jul.2014', 'Ago.2014', 'Sep.2014', 'Oct.2014', 'Nov.2014', 'Dic.2014', 'Ene.2015', 'Feb.2015', 'Mar.2015', 'Abr.2015', 'May.2015', 'Jun.2015', 'Jul.2015', 'Ago.2015', 'Sep.2015', 'Oct.2015', 'Nov.2015', 'Dic.2015', 'Ene.2016', 'Feb.2016', 'Mar.2016', 'Abr.2016', 'May.2016', 'Jun.2016', 'Jul.2016', 'Ago.2016', 'Sep.2016', 'Oct.2016', 'Nov.2016', 'Dic.2016', 'Ene.2017', 'Feb.2017', 'Mar.2017', 'Abr.2017', 'May.2017', 'Jun.2017', 'Jul.2017', 'Ago.2017', 'Sep.2017', 'Oct.2017', 'Nov.2017', 'Dic.2017', 'Ene.2018', 'Feb.2018', 'Mar.2018', 'Abr.2018', 'May.2018', 'Jun.2018', 'Jul.2018', 'Ago.2018', 'Sep.2018', 'Oct.2018', 'Nov.2018', 'Dic.2018', 'Ene.2019', 'Feb.2019', 'Mar.2019', 'Abr.2019', 'May.2019', 'Jun.2019', 'Jul.2019', 'Ago.2019', 'Sep.2019', 'Oct.2019', 'Nov.2019', 'Dic.2019', 'Ene.2020', 'Feb.2020', 'Mar.2020', 'Abr.2020', 'May.2020', 'Jun.2020', 'Jul.2020', 'Ago.2020', 'Sep.2020', 'Oct.2020', 'Nov.2020', 'Dic.2020'], 'Valores': ['72.384329', '93.52577', '66.258969', '59.029558', '83.383422', '123.813429', '129.912898', '121.62092', '79.726676', '98.309376', '98.565249', '96.387075', '80.306303', '114.17846', '82.036659', '74.196189', '76.894558', '143.73586', '136.520683', '119.588598', '89.982818', '89.611438', '88.417709', '136.0472', '87.069516', '136.652644', '121.759079', '92.494921', '86.983155', '126.778779', '138.884298', '113.960414', '80.500769', '92.397899', '104.58771', '91.873779', '95.472076', '105.485609', '104.765489', '81.283729', '88.12511', '140.015273', '135.66846', '120.037458', '96.69851', '117.548447', '111.418049', '87.102949', '100.888948', '106.156894', '91.698838', '71.25252', '83.015498', '129.996699', '119.8084', '98.719258', '76.692078', '131.296127', '160.989398', '89.608438', '103.240312', '114.568904', '95.309817', '78.488158', '119.013449', '153.697161', '145.729079', '108.985947', '96.553896', '101.266585', '146.72033', '129.398047', '93.460881', '113.262907', '102.585788', '90.26596', '89.767389', '136.120292', '156.721394', '130.333099', '84.570227', '105.912097', '145.597998', '116.431427', '97.268023', '107.628734', '101.318786', '91.783759', '85.842139', '132.929928', '137.581955', '97.529018', '90.786397', '87.958509', '104.989029', '91.945659', '105.565979', '110.057369', '93.330106', '96.80567', '117.556656', '148.268177', '131.283432', '127.225999', '128.668818', '133.989339', '134.188612', '111.622274', '97.416739', '119.330228', '90.694576', '80.792795', '71.915124', '138.18501', '139.339459', '127.601269', '90.657294', '104.27575', '93.014287', '79.160437', '98.280917', '99.484789', '85.72121', '48.664984', '59.442803', '182.687528', '156.975109', '114.631739', '93.154358', '96.88513', '104.881298', '108.790359', '117.408469', '115.028699', '94.871049', '63.372746', '83.190983', '130.735029', '161.912109', '122.925928', '105.017639', '87.584729', '83.199848', '100.78263', '102.658353', '107.11319', '78.037157', '61.478418', '75.496108', '152.411129', '207.896965', '107.506974', '93.615672', '90.07629', '81.63631', '112.830299', '107.868734', '121.156648', '71.781169', '65.830488', '91.815258', '120.202021', '116.454337', '94.559777', '64.409266', '70.54377', '109.639308', '93.247228']}

In [226]:
df19=pd.DataFrame(diccionario19)
df19

       Fechas     Valores
0    Ene.2007   72.384329
1    Feb.2007    93.52577
2    Mar.2007   66.258969
3    Abr.2007   59.029558
4    May.2007   83.383422
..        ...         ...
163  Ago.2020   94.559777
164  Sep.2020   64.409266
165  Oct.2020    70.54377
166  Nov.2020  109.639308
167  Dic.2020   93.247228

[168 rows x 2 columns]

In [227]:
df19.rename(columns={'Valores':'Maíz'}, inplace=True)
df19.head()

     Fechas       Maíz
0  Ene.2007  72.384329
1  Feb.2007   93.52577
2  Mar.2007  66.258969
3  Abr.2007  59.029558
4  May.2007  83.383422

In [ ]:
# DATOS DE PRODUCCIÓN PECUARIA DE AVE

In [228]:
url_base="https://estadisticas.bcrp.gob.pe/estadisticas/series/api/"
cod_ser="PN01800AM"
formato="/json"
per="/2003-1/2020-12"
url=url_base+cod_ser+formato+per
print(url)

https://estadisticas.bcrp.gob.pe/estadisticas/series/api/PN01800AM/json/2003-1/2020-12

In [229]:
import requests
response=requests.get(url)
print(response)

<Response [200]>

In [230]:
# extraer en formato json
response_json=response.json()
print(response_json)

{'config': {'title': 'ProducciÃ³n agropecuaria (miles de toneladas)', 'series': [{'name': 'ProducciÃ³n agropecuaria (miles de toneladas) - Pecuario - Ave', 'dec': '1'}]}, 'periods': [{'name': 'Ene.2003', 'values': ['60.4968302928755']}, {'name': 'Feb.2003', 'values': ['58.1598059600068']}, {'name': 'Mar.2003', 'values': ['56.7260205123283']}, {'name': 'Abr.2003', 'values': ['53.1825163084385']}, {'name': 'May.2003', 'values': ['59.3834375765075']}, {'name': 'Jun.2003', 'values': ['61.065194087774']}, {'name': 'Jul.2003', 'values': ['60.4091355037627']}, {'name': 'Ago.2003', 'values': ['57.7998302896348']}, {'name': 'Sep.2003', 'values': ['58.285036747825']}, {'name': 'Oct.2003', 'values': ['58.1443522337911']}, {'name': 'Nov.2003', 'values': ['59.6775607119907']}, {'name': 'Dic.2003', 'values': ['61.5351517091008']}, {'name': 'Ene.2004', 'values': ['59.2275307481538']}, {'name': 'Feb.2004', 'values': ['58.5456020161109']}, {'name': 'Mar.2004', 'values': ['58.1733825658441']}, {'name': 'Abr.2004', 'values': ['54.9590593123328']}, {'name': 'May.2004', 'values': ['59.3276619570266']}, {'name': 'Jun.2004', 'values': ['55.6775110930747']}, {'name': 'Jul.2004', 'values': ['55.2761379363938']}, {'name': 'Ago.2004', 'values': ['56.223295733212']}, {'name': 'Sep.2004', 'values': ['59.8076056991546']}, {'name': 'Oct.2004', 'values': ['61.6333338813853']}, {'name': 'Nov.2004', 'values': ['62.1268804448957']}, {'name': 'Dic.2004', 'values': ['64.7450761053046']}, {'name': 'Ene.2005', 'values': ['64.3071341049813']}, {'name': 'Feb.2005', 'values': ['64.3311503855244']}, {'name': 'Mar.2005', 'values': ['61.1247142873934']}, {'name': 'Abr.2005', 'values': ['57.678953430387']}, {'name': 'May.2005', 'values': ['65.869601817876']}, {'name': 'Jun.2005', 'values': ['63.5489619473113']}, {'name': 'Jul.2005', 'values': ['67.705727308746']}, {'name': 'Ago.2005', 'values': ['67.1832849633004']}, {'name': 'Sep.2005', 'values': ['67.0340501831382']}, {'name': 'Oct.2005', 'values': ['71.8220010327153']}, {'name': 'Nov.2005', 'values': ['71.5251918698993']}, {'name': 'Dic.2005', 'values': ['70.9129768634108']}, {'name': 'Ene.2006', 'values': ['66.1703697463601']}, {'name': 'Feb.2006', 'values': ['67.026043657899']}, {'name': 'Mar.2006', 'values': ['66.2257693712773']}, {'name': 'Abr.2006', 'values': ['63.6616097683608']}, {'name': 'May.2006', 'values': ['70.7884577029035']}, {'name': 'Jun.2006', 'values': ['69.150220559366']}, {'name': 'Jul.2006', 'values': ['75.4528841502736']}, {'name': 'Ago.2006', 'values': ['75.42427426131']}, {'name': 'Sep.2006', 'values': ['78.0155485173077']}, {'name': 'Oct.2006', 'values': ['76.803230018374']}, {'name': 'Nov.2006', 'values': ['77.4018139422392']}, {'name': 'Dic.2006', 'values': ['80.2551294199736']}, {'name': 'Ene.2007', 'values': ['79.4674717019697']}, {'name': 'Feb.2007', 'values': ['77.9244474119119']}, {'name': 'Mar.2007', 'values': ['79.6597536445092']}, {'name': 'Abr.2007', 'values': ['70.4650491883974']}, {'name': 'May.2007', 'values': ['77.6556051666744']}, {'name': 'Jun.2007', 'values': ['75.187855490889']}, {'name': 'Jul.2007', 'values': ['77.6861928176504']}, {'name': 'Ago.2007', 'values': ['78.9606979891634']}, {'name': 'Sep.2007', 'values': ['81.6882805325381']}, {'name': 'Oct.2007', 'values': ['79.358453771952']}, {'name': 'Nov.2007', 'values': ['76.784274923378']}, {'name': 'Dic.2007', 'values': ['84.7283688755925']}, {'name': 'Ene.2008', 'values': ['85.2398398643184']}, {'name': 'Feb.2008', 'values': ['80.3932436035755']}, {'name': 'Mar.2008', 'values': ['84.7048431580245']}, {'name': 'Abr.2008', 'values': ['81.4475327127645']}, {'name': 'May.2008', 'values': ['86.6354907473275']}, {'name': 'Jun.2008', 'values': ['88.0809601861706']}, {'name': 'Jul.2008', 'values': ['92.5814647244773']}, {'name': 'Ago.2008', 'values': ['88.8520929215696']}, {'name': 'Sep.2008', 'values': ['92.6273689889391']}, {'name': 'Oct.2008', 'values': ['93.5656343052889']}, {'name': 'Nov.2008', 'values': ['95.4655960816512']}, {'name': 'Dic.2008', 'values': ['100.126828983623']}, {'name': 'Ene.2009', 'values': ['93.6054721775522']}, {'name': 'Feb.2009', 'values': ['92.837832872728']}, {'name': 'Mar.2009', 'values': ['96.5689860150538']}, {'name': 'Abr.2009', 'values': ['89.6782664511309']}, {'name': 'May.2009', 'values': ['93.9769599944284']}, {'name': 'Jun.2009', 'values': ['97.2350592418211']}, {'name': 'Jul.2009', 'values': ['98.0790599694702']}, {'name': 'Ago.2009', 'values': ['103.996924883647']}, {'name': 'Sep.2009', 'values': ['104.110136173939']}, {'name': 'Oct.2009', 'values': ['102.348230205814']}, {'name': 'Nov.2009', 'values': ['97.6558658169464']}, {'name': 'Dic.2009', 'values': ['106.012995978863']}, {'name': 'Ene.2010', 'values': ['96.967139454902']}, {'name': 'Feb.2010', 'values': ['98.3389048318326']}, {'name': 'Mar.2010', 'values': ['98.4145688612799']}, {'name': 'Abr.2010', 'values': ['93.2638618808728']}, {'name': 'May.2010', 'values': ['105.396692890291']}, {'name': 'Jun.2010', 'values': ['100.249657695196']}, {'name': 'Jul.2010', 'values': ['103.309102003838']}, {'name': 'Ago.2010', 'values': ['105.825549455065']}, {'name': 'Sep.2010', 'values': ['108.786318243505']}, {'name': 'Oct.2010', 'values': ['107.6368531347']}, {'name': 'Nov.2010', 'values': ['109.845820711214']}, {'name': 'Dic.2010', 'values': ['115.789187939667']}, {'name': 'Ene.2011', 'values': ['112.672011492315']}, {'name': 'Feb.2011', 'values': ['108.711293231795']}, {'name': 'Mar.2011', 'values': ['101.801414396696']}, {'name': 'Abr.2011', 'values': ['102.850143464775']}, {'name': 'May.2011', 'values': ['110.631083415708']}, {'name': 'Jun.2011', 'values': ['111.744415130738']}, {'name': 'Jul.2011', 'values': ['108.552117971603']}, {'name': 'Ago.2011', 'values': ['106.765485481284']}, {'name': 'Sep.2011', 'values': ['109.707867650141']}, {'name': 'Oct.2011', 'values': ['114.032553831656']}, {'name': 'Nov.2011', 'values': ['117.53374147756']}, {'name': 'Dic.2011', 'values': ['117.943354715744']}, {'name': 'Ene.2012', 'values': ['117.685918440238']}, {'name': 'Feb.2012', 'values': ['117.942434014044']}, {'name': 'Mar.2012', 'values': ['114.740790408738']}, {'name': 'Abr.2012', 'values': ['110.713085530884']}, {'name': 'May.2012', 'values': ['120.618226993719']}, {'name': 'Jun.2012', 'values': ['114.995155295289']}, {'name': 'Jul.2012', 'values': ['123.188768378291']}, {'name': 'Ago.2012', 'values': ['123.081383483408']}, {'name': 'Sep.2012', 'values': ['120.566983435384']}, {'name': 'Oct.2012', 'values': ['122.889645979755']}, {'name': 'Nov.2012', 'values': ['115.158986030042']}, {'name': 'Dic.2012', 'values': ['127.035999205149']}, {'name': 'Ene.2013', 'values': ['123.145077615933']}, {'name': 'Feb.2013', 'values': ['122.179211782685']}, {'name': 'Mar.2013', 'values': ['113.473564805825']}, {'name': 'Abr.2013', 'values': ['114.847969041809']}, {'name': 'May.2013', 'values': ['119.34250777568']}, {'name': 'Jun.2013', 'values': ['124.239508340058']}, {'name': 'Jul.2013', 'values': ['124.816313189883']}, {'name': 'Ago.2013', 'values': ['119.624912250271']}, {'name': 'Sep.2013', 'values': ['123.850001098087']}, {'name': 'Oct.2013', 'values': ['126.427994434607']}, {'name': 'Nov.2013', 'values': ['127.224545920944']}, {'name': 'Dic.2013', 'values': ['127.430577550694']}, {'name': 'Ene.2014', 'values': ['130.596810002508']}, {'name': 'Feb.2014', 'values': ['121.190543866132']}, {'name': 'Mar.2014', 'values': ['137.416599121512']}, {'name': 'Abr.2014', 'values': ['129.011502578337']}, {'name': 'May.2014', 'values': ['131.652442412517']}, {'name': 'Jun.2014', 'values': ['133.270992902078']}, {'name': 'Jul.2014', 'values': ['136.28040351522']}, {'name': 'Ago.2014', 'values': ['134.587537234607']}, {'name': 'Sep.2014', 'values': ['130.426124307871']}, {'name': 'Oct.2014', 'values': ['137.500336736056']}, {'name': 'Nov.2014', 'values': ['138.847668088975']}, {'name': 'Dic.2014', 'values': ['145.835865224274']}, {'name': 'Ene.2015', 'values': ['139.25815284098']}, {'name': 'Feb.2015', 'values': ['129.959462990653']}, {'name': 'Mar.2015', 'values': ['142.852236718884']}, {'name': 'Abr.2015', 'values': ['140.940355499668']}, {'name': 'May.2015', 'values': ['145.766618600514']}, {'name': 'Jun.2015', 'values': ['146.968012178796']}, {'name': 'Jul.2015', 'values': ['150.345092401391']}, {'name': 'Ago.2015', 'values': ['145.411464716294']}, {'name': 'Sep.2015', 'values': ['143.087207190713']}, {'name': 'Oct.2015', 'values': ['149.411293836306']}, {'name': 'Nov.2015', 'values': ['147.571138787419']}, {'name': 'Dic.2015', 'values': ['154.509195389987']}, {'name': 'Ene.2016', 'values': ['146.1163873152']}, {'name': 'Feb.2016', 'values': ['136.01708985511']}, {'name': 'Mar.2016', 'values': ['140.731426601842']}, {'name': 'Abr.2016', 'values': ['144.975380872493']}, {'name': 'May.2016', 'values': ['156.361089464983']}, {'name': 'Jun.2016', 'values': ['159.464773461357']}, {'name': 'Jul.2016', 'values': ['168.722085677178']}, {'name': 'Ago.2016', 'values': ['166.241860577796']}, {'name': 'Sep.2016', 'values': ['154.922858260803']}, {'name': 'Oct.2016', 'values': ['154.922858260803']}, {'name': 'Nov.2016', 'values': ['146.728598804532']}, {'name': 'Dic.2016', 'values': ['158.908716335263']}, {'name': 'Ene.2017', 'values': ['158.935473850099']}, {'name': 'Feb.2017', 'values': ['141.526650023236']}, {'name': 'Mar.2017', 'values': ['149.230656090301']}, {'name': 'Abr.2017', 'values': ['152.717211829576']}, {'name': 'May.2017', 'values': ['149.802628691376']}, {'name': 'Jun.2017', 'values': ['155.460663177601']}, {'name': 'Jul.2017', 'values': ['173.098036748195']}, {'name': 'Ago.2017', 'values': ['170.466726727662']}, {'name': 'Sep.2017', 'values': ['166.773733786011']}, {'name': 'Oct.2017', 'values': ['166.305138874702']}, {'name': 'Nov.2017', 'values': ['161.419602716213']}, {'name': 'Dic.2017', 'values': ['168.019674320158']}, {'name': 'Ene.2018', 'values': ['161.612521155709']}, {'name': 'Feb.2018', 'values': ['145.619673048466']}, {'name': 'Mar.2018', 'values': ['164.225504373683']}, {'name': 'Abr.2018', 'values': ['169.535883439654']}, {'name': 'May.2018', 'values': ['174.586230086407']}, {'name': 'Jun.2018', 'values': ['174.047688042078']}, {'name': 'Jul.2018', 'values': ['180.456816676688']}, {'name': 'Ago.2018', 'values': ['182.905093060151']}, {'name': 'Sep.2018', 'values': ['176.322749443015']}, {'name': 'Oct.2018', 'values': ['178.182924755409']}, {'name': 'Nov.2018', 'values': ['170.243582459592']}, {'name': 'Dic.2018', 'values': ['180.37113884792']}, {'name': 'Ene.2019', 'values': ['170.53738542756']}, {'name': 'Feb.2019', 'values': ['153.047623493429']}, {'name': 'Mar.2019', 'values': ['172.086502017021']}, {'name': 'Abr.2019', 'values': ['177.565823736955']}, {'name': 'May.2019', 'values': ['182.098251072939']}, {'name': 'Jun.2019', 'values': ['182.029174133305']}, {'name': 'Jul.2019', 'values': ['188.221565352968']}, {'name': 'Ago.2019', 'values': ['191.131841160101']}, {'name': 'Sep.2019', 'values': ['183.579951377474']}, {'name': 'Oct.2019', 'values': ['185.406255487681']}, {'name': 'Nov.2019', 'values': ['176.691267201199']}, {'name': 'Dic.2019', 'values': ['187.428319627828']}, {'name': 'Ene.2020', 'values': ['175.93485805576']}, {'name': 'Feb.2020', 'values': ['158.314034739131']}, {'name': 'Mar.2020', 'values': ['177.171964165029']}, {'name': 'Abr.2020', 'values': ['181.369292757043']}, {'name': 'May.2020', 'values': ['177.80008796758']}, {'name': 'Jun.2020', 'values': ['176.85991680698']}, {'name': 'Jul.2020', 'values': ['181.48586497244']}, {'name': 'Ago.2020', 'values': ['174.546056144677']}, {'name': 'Sep.2020', 'values': ['173.593732336608']}, {'name': 'Oct.2020', 'values': ['176.95147701328']}, {'name': 'Nov.2020', 'values': ['168.69208952439']}, {'name': 'Dic.2020', 'values': ['179.106806716503']}]}

In [231]:
for key in response_json.keys():
    print(key)

config
periods

In [232]:
print(response_json["config"])

{'title': 'ProducciÃ³n agropecuaria (miles de toneladas)', 'series': [{'name': 'ProducciÃ³n agropecuaria (miles de toneladas) - Pecuario - Ave', 'dec': '1'}]}

In [233]:
# llamar a los valores
print(response_json["periods"])

[{'name': 'Ene.2003', 'values': ['60.4968302928755']}, {'name': 'Feb.2003', 'values': ['58.1598059600068']}, {'name': 'Mar.2003', 'values': ['56.7260205123283']}, {'name': 'Abr.2003', 'values': ['53.1825163084385']}, {'name': 'May.2003', 'values': ['59.3834375765075']}, {'name': 'Jun.2003', 'values': ['61.065194087774']}, {'name': 'Jul.2003', 'values': ['60.4091355037627']}, {'name': 'Ago.2003', 'values': ['57.7998302896348']}, {'name': 'Sep.2003', 'values': ['58.285036747825']}, {'name': 'Oct.2003', 'values': ['58.1443522337911']}, {'name': 'Nov.2003', 'values': ['59.6775607119907']}, {'name': 'Dic.2003', 'values': ['61.5351517091008']}, {'name': 'Ene.2004', 'values': ['59.2275307481538']}, {'name': 'Feb.2004', 'values': ['58.5456020161109']}, {'name': 'Mar.2004', 'values': ['58.1733825658441']}, {'name': 'Abr.2004', 'values': ['54.9590593123328']}, {'name': 'May.2004', 'values': ['59.3276619570266']}, {'name': 'Jun.2004', 'values': ['55.6775110930747']}, {'name': 'Jul.2004', 'values': ['55.2761379363938']}, {'name': 'Ago.2004', 'values': ['56.223295733212']}, {'name': 'Sep.2004', 'values': ['59.8076056991546']}, {'name': 'Oct.2004', 'values': ['61.6333338813853']}, {'name': 'Nov.2004', 'values': ['62.1268804448957']}, {'name': 'Dic.2004', 'values': ['64.7450761053046']}, {'name': 'Ene.2005', 'values': ['64.3071341049813']}, {'name': 'Feb.2005', 'values': ['64.3311503855244']}, {'name': 'Mar.2005', 'values': ['61.1247142873934']}, {'name': 'Abr.2005', 'values': ['57.678953430387']}, {'name': 'May.2005', 'values': ['65.869601817876']}, {'name': 'Jun.2005', 'values': ['63.5489619473113']}, {'name': 'Jul.2005', 'values': ['67.705727308746']}, {'name': 'Ago.2005', 'values': ['67.1832849633004']}, {'name': 'Sep.2005', 'values': ['67.0340501831382']}, {'name': 'Oct.2005', 'values': ['71.8220010327153']}, {'name': 'Nov.2005', 'values': ['71.5251918698993']}, {'name': 'Dic.2005', 'values': ['70.9129768634108']}, {'name': 'Ene.2006', 'values': ['66.1703697463601']}, {'name': 'Feb.2006', 'values': ['67.026043657899']}, {'name': 'Mar.2006', 'values': ['66.2257693712773']}, {'name': 'Abr.2006', 'values': ['63.6616097683608']}, {'name': 'May.2006', 'values': ['70.7884577029035']}, {'name': 'Jun.2006', 'values': ['69.150220559366']}, {'name': 'Jul.2006', 'values': ['75.4528841502736']}, {'name': 'Ago.2006', 'values': ['75.42427426131']}, {'name': 'Sep.2006', 'values': ['78.0155485173077']}, {'name': 'Oct.2006', 'values': ['76.803230018374']}, {'name': 'Nov.2006', 'values': ['77.4018139422392']}, {'name': 'Dic.2006', 'values': ['80.2551294199736']}, {'name': 'Ene.2007', 'values': ['79.4674717019697']}, {'name': 'Feb.2007', 'values': ['77.9244474119119']}, {'name': 'Mar.2007', 'values': ['79.6597536445092']}, {'name': 'Abr.2007', 'values': ['70.4650491883974']}, {'name': 'May.2007', 'values': ['77.6556051666744']}, {'name': 'Jun.2007', 'values': ['75.187855490889']}, {'name': 'Jul.2007', 'values': ['77.6861928176504']}, {'name': 'Ago.2007', 'values': ['78.9606979891634']}, {'name': 'Sep.2007', 'values': ['81.6882805325381']}, {'name': 'Oct.2007', 'values': ['79.358453771952']}, {'name': 'Nov.2007', 'values': ['76.784274923378']}, {'name': 'Dic.2007', 'values': ['84.7283688755925']}, {'name': 'Ene.2008', 'values': ['85.2398398643184']}, {'name': 'Feb.2008', 'values': ['80.3932436035755']}, {'name': 'Mar.2008', 'values': ['84.7048431580245']}, {'name': 'Abr.2008', 'values': ['81.4475327127645']}, {'name': 'May.2008', 'values': ['86.6354907473275']}, {'name': 'Jun.2008', 'values': ['88.0809601861706']}, {'name': 'Jul.2008', 'values': ['92.5814647244773']}, {'name': 'Ago.2008', 'values': ['88.8520929215696']}, {'name': 'Sep.2008', 'values': ['92.6273689889391']}, {'name': 'Oct.2008', 'values': ['93.5656343052889']}, {'name': 'Nov.2008', 'values': ['95.4655960816512']}, {'name': 'Dic.2008', 'values': ['100.126828983623']}, {'name': 'Ene.2009', 'values': ['93.6054721775522']}, {'name': 'Feb.2009', 'values': ['92.837832872728']}, {'name': 'Mar.2009', 'values': ['96.5689860150538']}, {'name': 'Abr.2009', 'values': ['89.6782664511309']}, {'name': 'May.2009', 'values': ['93.9769599944284']}, {'name': 'Jun.2009', 'values': ['97.2350592418211']}, {'name': 'Jul.2009', 'values': ['98.0790599694702']}, {'name': 'Ago.2009', 'values': ['103.996924883647']}, {'name': 'Sep.2009', 'values': ['104.110136173939']}, {'name': 'Oct.2009', 'values': ['102.348230205814']}, {'name': 'Nov.2009', 'values': ['97.6558658169464']}, {'name': 'Dic.2009', 'values': ['106.012995978863']}, {'name': 'Ene.2010', 'values': ['96.967139454902']}, {'name': 'Feb.2010', 'values': ['98.3389048318326']}, {'name': 'Mar.2010', 'values': ['98.4145688612799']}, {'name': 'Abr.2010', 'values': ['93.2638618808728']}, {'name': 'May.2010', 'values': ['105.396692890291']}, {'name': 'Jun.2010', 'values': ['100.249657695196']}, {'name': 'Jul.2010', 'values': ['103.309102003838']}, {'name': 'Ago.2010', 'values': ['105.825549455065']}, {'name': 'Sep.2010', 'values': ['108.786318243505']}, {'name': 'Oct.2010', 'values': ['107.6368531347']}, {'name': 'Nov.2010', 'values': ['109.845820711214']}, {'name': 'Dic.2010', 'values': ['115.789187939667']}, {'name': 'Ene.2011', 'values': ['112.672011492315']}, {'name': 'Feb.2011', 'values': ['108.711293231795']}, {'name': 'Mar.2011', 'values': ['101.801414396696']}, {'name': 'Abr.2011', 'values': ['102.850143464775']}, {'name': 'May.2011', 'values': ['110.631083415708']}, {'name': 'Jun.2011', 'values': ['111.744415130738']}, {'name': 'Jul.2011', 'values': ['108.552117971603']}, {'name': 'Ago.2011', 'values': ['106.765485481284']}, {'name': 'Sep.2011', 'values': ['109.707867650141']}, {'name': 'Oct.2011', 'values': ['114.032553831656']}, {'name': 'Nov.2011', 'values': ['117.53374147756']}, {'name': 'Dic.2011', 'values': ['117.943354715744']}, {'name': 'Ene.2012', 'values': ['117.685918440238']}, {'name': 'Feb.2012', 'values': ['117.942434014044']}, {'name': 'Mar.2012', 'values': ['114.740790408738']}, {'name': 'Abr.2012', 'values': ['110.713085530884']}, {'name': 'May.2012', 'values': ['120.618226993719']}, {'name': 'Jun.2012', 'values': ['114.995155295289']}, {'name': 'Jul.2012', 'values': ['123.188768378291']}, {'name': 'Ago.2012', 'values': ['123.081383483408']}, {'name': 'Sep.2012', 'values': ['120.566983435384']}, {'name': 'Oct.2012', 'values': ['122.889645979755']}, {'name': 'Nov.2012', 'values': ['115.158986030042']}, {'name': 'Dic.2012', 'values': ['127.035999205149']}, {'name': 'Ene.2013', 'values': ['123.145077615933']}, {'name': 'Feb.2013', 'values': ['122.179211782685']}, {'name': 'Mar.2013', 'values': ['113.473564805825']}, {'name': 'Abr.2013', 'values': ['114.847969041809']}, {'name': 'May.2013', 'values': ['119.34250777568']}, {'name': 'Jun.2013', 'values': ['124.239508340058']}, {'name': 'Jul.2013', 'values': ['124.816313189883']}, {'name': 'Ago.2013', 'values': ['119.624912250271']}, {'name': 'Sep.2013', 'values': ['123.850001098087']}, {'name': 'Oct.2013', 'values': ['126.427994434607']}, {'name': 'Nov.2013', 'values': ['127.224545920944']}, {'name': 'Dic.2013', 'values': ['127.430577550694']}, {'name': 'Ene.2014', 'values': ['130.596810002508']}, {'name': 'Feb.2014', 'values': ['121.190543866132']}, {'name': 'Mar.2014', 'values': ['137.416599121512']}, {'name': 'Abr.2014', 'values': ['129.011502578337']}, {'name': 'May.2014', 'values': ['131.652442412517']}, {'name': 'Jun.2014', 'values': ['133.270992902078']}, {'name': 'Jul.2014', 'values': ['136.28040351522']}, {'name': 'Ago.2014', 'values': ['134.587537234607']}, {'name': 'Sep.2014', 'values': ['130.426124307871']}, {'name': 'Oct.2014', 'values': ['137.500336736056']}, {'name': 'Nov.2014', 'values': ['138.847668088975']}, {'name': 'Dic.2014', 'values': ['145.835865224274']}, {'name': 'Ene.2015', 'values': ['139.25815284098']}, {'name': 'Feb.2015', 'values': ['129.959462990653']}, {'name': 'Mar.2015', 'values': ['142.852236718884']}, {'name': 'Abr.2015', 'values': ['140.940355499668']}, {'name': 'May.2015', 'values': ['145.766618600514']}, {'name': 'Jun.2015', 'values': ['146.968012178796']}, {'name': 'Jul.2015', 'values': ['150.345092401391']}, {'name': 'Ago.2015', 'values': ['145.411464716294']}, {'name': 'Sep.2015', 'values': ['143.087207190713']}, {'name': 'Oct.2015', 'values': ['149.411293836306']}, {'name': 'Nov.2015', 'values': ['147.571138787419']}, {'name': 'Dic.2015', 'values': ['154.509195389987']}, {'name': 'Ene.2016', 'values': ['146.1163873152']}, {'name': 'Feb.2016', 'values': ['136.01708985511']}, {'name': 'Mar.2016', 'values': ['140.731426601842']}, {'name': 'Abr.2016', 'values': ['144.975380872493']}, {'name': 'May.2016', 'values': ['156.361089464983']}, {'name': 'Jun.2016', 'values': ['159.464773461357']}, {'name': 'Jul.2016', 'values': ['168.722085677178']}, {'name': 'Ago.2016', 'values': ['166.241860577796']}, {'name': 'Sep.2016', 'values': ['154.922858260803']}, {'name': 'Oct.2016', 'values': ['154.922858260803']}, {'name': 'Nov.2016', 'values': ['146.728598804532']}, {'name': 'Dic.2016', 'values': ['158.908716335263']}, {'name': 'Ene.2017', 'values': ['158.935473850099']}, {'name': 'Feb.2017', 'values': ['141.526650023236']}, {'name': 'Mar.2017', 'values': ['149.230656090301']}, {'name': 'Abr.2017', 'values': ['152.717211829576']}, {'name': 'May.2017', 'values': ['149.802628691376']}, {'name': 'Jun.2017', 'values': ['155.460663177601']}, {'name': 'Jul.2017', 'values': ['173.098036748195']}, {'name': 'Ago.2017', 'values': ['170.466726727662']}, {'name': 'Sep.2017', 'values': ['166.773733786011']}, {'name': 'Oct.2017', 'values': ['166.305138874702']}, {'name': 'Nov.2017', 'values': ['161.419602716213']}, {'name': 'Dic.2017', 'values': ['168.019674320158']}, {'name': 'Ene.2018', 'values': ['161.612521155709']}, {'name': 'Feb.2018', 'values': ['145.619673048466']}, {'name': 'Mar.2018', 'values': ['164.225504373683']}, {'name': 'Abr.2018', 'values': ['169.535883439654']}, {'name': 'May.2018', 'values': ['174.586230086407']}, {'name': 'Jun.2018', 'values': ['174.047688042078']}, {'name': 'Jul.2018', 'values': ['180.456816676688']}, {'name': 'Ago.2018', 'values': ['182.905093060151']}, {'name': 'Sep.2018', 'values': ['176.322749443015']}, {'name': 'Oct.2018', 'values': ['178.182924755409']}, {'name': 'Nov.2018', 'values': ['170.243582459592']}, {'name': 'Dic.2018', 'values': ['180.37113884792']}, {'name': 'Ene.2019', 'values': ['170.53738542756']}, {'name': 'Feb.2019', 'values': ['153.047623493429']}, {'name': 'Mar.2019', 'values': ['172.086502017021']}, {'name': 'Abr.2019', 'values': ['177.565823736955']}, {'name': 'May.2019', 'values': ['182.098251072939']}, {'name': 'Jun.2019', 'values': ['182.029174133305']}, {'name': 'Jul.2019', 'values': ['188.221565352968']}, {'name': 'Ago.2019', 'values': ['191.131841160101']}, {'name': 'Sep.2019', 'values': ['183.579951377474']}, {'name': 'Oct.2019', 'values': ['185.406255487681']}, {'name': 'Nov.2019', 'values': ['176.691267201199']}, {'name': 'Dic.2019', 'values': ['187.428319627828']}, {'name': 'Ene.2020', 'values': ['175.93485805576']}, {'name': 'Feb.2020', 'values': ['158.314034739131']}, {'name': 'Mar.2020', 'values': ['177.171964165029']}, {'name': 'Abr.2020', 'values': ['181.369292757043']}, {'name': 'May.2020', 'values': ['177.80008796758']}, {'name': 'Jun.2020', 'values': ['176.85991680698']}, {'name': 'Jul.2020', 'values': ['181.48586497244']}, {'name': 'Ago.2020', 'values': ['174.546056144677']}, {'name': 'Sep.2020', 'values': ['173.593732336608']}, {'name': 'Oct.2020', 'values': ['176.95147701328']}, {'name': 'Nov.2020', 'values': ['168.69208952439']}, {'name': 'Dic.2020', 'values': ['179.106806716503']}]

In [234]:
periodos=response_json.get("periods")
prod_ave=[]
for i in periodos:
    valores_list=i["values"]
    for w in valores_list:
        w=str(w)
        prod_ave.append(w)
        
print(prod_ave)

['60.4968302928755', '58.1598059600068', '56.7260205123283', '53.1825163084385', '59.3834375765075', '61.065194087774', '60.4091355037627', '57.7998302896348', '58.285036747825', '58.1443522337911', '59.6775607119907', '61.5351517091008', '59.2275307481538', '58.5456020161109', '58.1733825658441', '54.9590593123328', '59.3276619570266', '55.6775110930747', '55.2761379363938', '56.223295733212', '59.8076056991546', '61.6333338813853', '62.1268804448957', '64.7450761053046', '64.3071341049813', '64.3311503855244', '61.1247142873934', '57.678953430387', '65.869601817876', '63.5489619473113', '67.705727308746', '67.1832849633004', '67.0340501831382', '71.8220010327153', '71.5251918698993', '70.9129768634108', '66.1703697463601', '67.026043657899', '66.2257693712773', '63.6616097683608', '70.7884577029035', '69.150220559366', '75.4528841502736', '75.42427426131', '78.0155485173077', '76.803230018374', '77.4018139422392', '80.2551294199736', '79.4674717019697', '77.9244474119119', '79.6597536445092', '70.4650491883974', '77.6556051666744', '75.187855490889', '77.6861928176504', '78.9606979891634', '81.6882805325381', '79.358453771952', '76.784274923378', '84.7283688755925', '85.2398398643184', '80.3932436035755', '84.7048431580245', '81.4475327127645', '86.6354907473275', '88.0809601861706', '92.5814647244773', '88.8520929215696', '92.6273689889391', '93.5656343052889', '95.4655960816512', '100.126828983623', '93.6054721775522', '92.837832872728', '96.5689860150538', '89.6782664511309', '93.9769599944284', '97.2350592418211', '98.0790599694702', '103.996924883647', '104.110136173939', '102.348230205814', '97.6558658169464', '106.012995978863', '96.967139454902', '98.3389048318326', '98.4145688612799', '93.2638618808728', '105.396692890291', '100.249657695196', '103.309102003838', '105.825549455065', '108.786318243505', '107.6368531347', '109.845820711214', '115.789187939667', '112.672011492315', '108.711293231795', '101.801414396696', '102.850143464775', '110.631083415708', '111.744415130738', '108.552117971603', '106.765485481284', '109.707867650141', '114.032553831656', '117.53374147756', '117.943354715744', '117.685918440238', '117.942434014044', '114.740790408738', '110.713085530884', '120.618226993719', '114.995155295289', '123.188768378291', '123.081383483408', '120.566983435384', '122.889645979755', '115.158986030042', '127.035999205149', '123.145077615933', '122.179211782685', '113.473564805825', '114.847969041809', '119.34250777568', '124.239508340058', '124.816313189883', '119.624912250271', '123.850001098087', '126.427994434607', '127.224545920944', '127.430577550694', '130.596810002508', '121.190543866132', '137.416599121512', '129.011502578337', '131.652442412517', '133.270992902078', '136.28040351522', '134.587537234607', '130.426124307871', '137.500336736056', '138.847668088975', '145.835865224274', '139.25815284098', '129.959462990653', '142.852236718884', '140.940355499668', '145.766618600514', '146.968012178796', '150.345092401391', '145.411464716294', '143.087207190713', '149.411293836306', '147.571138787419', '154.509195389987', '146.1163873152', '136.01708985511', '140.731426601842', '144.975380872493', '156.361089464983', '159.464773461357', '168.722085677178', '166.241860577796', '154.922858260803', '154.922858260803', '146.728598804532', '158.908716335263', '158.935473850099', '141.526650023236', '149.230656090301', '152.717211829576', '149.802628691376', '155.460663177601', '173.098036748195', '170.466726727662', '166.773733786011', '166.305138874702', '161.419602716213', '168.019674320158', '161.612521155709', '145.619673048466', '164.225504373683', '169.535883439654', '174.586230086407', '174.047688042078', '180.456816676688', '182.905093060151', '176.322749443015', '178.182924755409', '170.243582459592', '180.37113884792', '170.53738542756', '153.047623493429', '172.086502017021', '177.565823736955', '182.098251072939', '182.029174133305', '188.221565352968', '191.131841160101', '183.579951377474', '185.406255487681', '176.691267201199', '187.428319627828', '175.93485805576', '158.314034739131', '177.171964165029', '181.369292757043', '177.80008796758', '176.85991680698', '181.48586497244', '174.546056144677', '173.593732336608', '176.95147701328', '168.69208952439', '179.106806716503']

In [235]:
fechas=[]
for i in periodos:
    nombres=i["name"]
    fechas.append(nombres)
print(fechas)

['Ene.2003', 'Feb.2003', 'Mar.2003', 'Abr.2003', 'May.2003', 'Jun.2003', 'Jul.2003', 'Ago.2003', 'Sep.2003', 'Oct.2003', 'Nov.2003', 'Dic.2003', 'Ene.2004', 'Feb.2004', 'Mar.2004', 'Abr.2004', 'May.2004', 'Jun.2004', 'Jul.2004', 'Ago.2004', 'Sep.2004', 'Oct.2004', 'Nov.2004', 'Dic.2004', 'Ene.2005', 'Feb.2005', 'Mar.2005', 'Abr.2005', 'May.2005', 'Jun.2005', 'Jul.2005', 'Ago.2005', 'Sep.2005', 'Oct.2005', 'Nov.2005', 'Dic.2005', 'Ene.2006', 'Feb.2006', 'Mar.2006', 'Abr.2006', 'May.2006', 'Jun.2006', 'Jul.2006', 'Ago.2006', 'Sep.2006', 'Oct.2006', 'Nov.2006', 'Dic.2006', 'Ene.2007', 'Feb.2007', 'Mar.2007', 'Abr.2007', 'May.2007', 'Jun.2007', 'Jul.2007', 'Ago.2007', 'Sep.2007', 'Oct.2007', 'Nov.2007', 'Dic.2007', 'Ene.2008', 'Feb.2008', 'Mar.2008', 'Abr.2008', 'May.2008', 'Jun.2008', 'Jul.2008', 'Ago.2008', 'Sep.2008', 'Oct.2008', 'Nov.2008', 'Dic.2008', 'Ene.2009', 'Feb.2009', 'Mar.2009', 'Abr.2009', 'May.2009', 'Jun.2009', 'Jul.2009', 'Ago.2009', 'Sep.2009', 'Oct.2009', 'Nov.2009', 'Dic.2009', 'Ene.2010', 'Feb.2010', 'Mar.2010', 'Abr.2010', 'May.2010', 'Jun.2010', 'Jul.2010', 'Ago.2010', 'Sep.2010', 'Oct.2010', 'Nov.2010', 'Dic.2010', 'Ene.2011', 'Feb.2011', 'Mar.2011', 'Abr.2011', 'May.2011', 'Jun.2011', 'Jul.2011', 'Ago.2011', 'Sep.2011', 'Oct.2011', 'Nov.2011', 'Dic.2011', 'Ene.2012', 'Feb.2012', 'Mar.2012', 'Abr.2012', 'May.2012', 'Jun.2012', 'Jul.2012', 'Ago.2012', 'Sep.2012', 'Oct.2012', 'Nov.2012', 'Dic.2012', 'Ene.2013', 'Feb.2013', 'Mar.2013', 'Abr.2013', 'May.2013', 'Jun.2013', 'Jul.2013', 'Ago.2013', 'Sep.2013', 'Oct.2013', 'Nov.2013', 'Dic.2013', 'Ene.2014', 'Feb.2014', 'Mar.2014', 'Abr.2014', 'May.2014', 'Jun.2014', 'Jul.2014', 'Ago.2014', 'Sep.2014', 'Oct.2014', 'Nov.2014', 'Dic.2014', 'Ene.2015', 'Feb.2015', 'Mar.2015', 'Abr.2015', 'May.2015', 'Jun.2015', 'Jul.2015', 'Ago.2015', 'Sep.2015', 'Oct.2015', 'Nov.2015', 'Dic.2015', 'Ene.2016', 'Feb.2016', 'Mar.2016', 'Abr.2016', 'May.2016', 'Jun.2016', 'Jul.2016', 'Ago.2016', 'Sep.2016', 'Oct.2016', 'Nov.2016', 'Dic.2016', 'Ene.2017', 'Feb.2017', 'Mar.2017', 'Abr.2017', 'May.2017', 'Jun.2017', 'Jul.2017', 'Ago.2017', 'Sep.2017', 'Oct.2017', 'Nov.2017', 'Dic.2017', 'Ene.2018', 'Feb.2018', 'Mar.2018', 'Abr.2018', 'May.2018', 'Jun.2018', 'Jul.2018', 'Ago.2018', 'Sep.2018', 'Oct.2018', 'Nov.2018', 'Dic.2018', 'Ene.2019', 'Feb.2019', 'Mar.2019', 'Abr.2019', 'May.2019', 'Jun.2019', 'Jul.2019', 'Ago.2019', 'Sep.2019', 'Oct.2019', 'Nov.2019', 'Dic.2019', 'Ene.2020', 'Feb.2020', 'Mar.2020', 'Abr.2020', 'May.2020', 'Jun.2020', 'Jul.2020', 'Ago.2020', 'Sep.2020', 'Oct.2020', 'Nov.2020', 'Dic.2020']

In [236]:
diccionario20= {"Fechas":fechas, "Valores":prod_ave}
print(diccionario20)

{'Fechas': ['Ene.2003', 'Feb.2003', 'Mar.2003', 'Abr.2003', 'May.2003', 'Jun.2003', 'Jul.2003', 'Ago.2003', 'Sep.2003', 'Oct.2003', 'Nov.2003', 'Dic.2003', 'Ene.2004', 'Feb.2004', 'Mar.2004', 'Abr.2004', 'May.2004', 'Jun.2004', 'Jul.2004', 'Ago.2004', 'Sep.2004', 'Oct.2004', 'Nov.2004', 'Dic.2004', 'Ene.2005', 'Feb.2005', 'Mar.2005', 'Abr.2005', 'May.2005', 'Jun.2005', 'Jul.2005', 'Ago.2005', 'Sep.2005', 'Oct.2005', 'Nov.2005', 'Dic.2005', 'Ene.2006', 'Feb.2006', 'Mar.2006', 'Abr.2006', 'May.2006', 'Jun.2006', 'Jul.2006', 'Ago.2006', 'Sep.2006', 'Oct.2006', 'Nov.2006', 'Dic.2006', 'Ene.2007', 'Feb.2007', 'Mar.2007', 'Abr.2007', 'May.2007', 'Jun.2007', 'Jul.2007', 'Ago.2007', 'Sep.2007', 'Oct.2007', 'Nov.2007', 'Dic.2007', 'Ene.2008', 'Feb.2008', 'Mar.2008', 'Abr.2008', 'May.2008', 'Jun.2008', 'Jul.2008', 'Ago.2008', 'Sep.2008', 'Oct.2008', 'Nov.2008', 'Dic.2008', 'Ene.2009', 'Feb.2009', 'Mar.2009', 'Abr.2009', 'May.2009', 'Jun.2009', 'Jul.2009', 'Ago.2009', 'Sep.2009', 'Oct.2009', 'Nov.2009', 'Dic.2009', 'Ene.2010', 'Feb.2010', 'Mar.2010', 'Abr.2010', 'May.2010', 'Jun.2010', 'Jul.2010', 'Ago.2010', 'Sep.2010', 'Oct.2010', 'Nov.2010', 'Dic.2010', 'Ene.2011', 'Feb.2011', 'Mar.2011', 'Abr.2011', 'May.2011', 'Jun.2011', 'Jul.2011', 'Ago.2011', 'Sep.2011', 'Oct.2011', 'Nov.2011', 'Dic.2011', 'Ene.2012', 'Feb.2012', 'Mar.2012', 'Abr.2012', 'May.2012', 'Jun.2012', 'Jul.2012', 'Ago.2012', 'Sep.2012', 'Oct.2012', 'Nov.2012', 'Dic.2012', 'Ene.2013', 'Feb.2013', 'Mar.2013', 'Abr.2013', 'May.2013', 'Jun.2013', 'Jul.2013', 'Ago.2013', 'Sep.2013', 'Oct.2013', 'Nov.2013', 'Dic.2013', 'Ene.2014', 'Feb.2014', 'Mar.2014', 'Abr.2014', 'May.2014', 'Jun.2014', 'Jul.2014', 'Ago.2014', 'Sep.2014', 'Oct.2014', 'Nov.2014', 'Dic.2014', 'Ene.2015', 'Feb.2015', 'Mar.2015', 'Abr.2015', 'May.2015', 'Jun.2015', 'Jul.2015', 'Ago.2015', 'Sep.2015', 'Oct.2015', 'Nov.2015', 'Dic.2015', 'Ene.2016', 'Feb.2016', 'Mar.2016', 'Abr.2016', 'May.2016', 'Jun.2016', 'Jul.2016', 'Ago.2016', 'Sep.2016', 'Oct.2016', 'Nov.2016', 'Dic.2016', 'Ene.2017', 'Feb.2017', 'Mar.2017', 'Abr.2017', 'May.2017', 'Jun.2017', 'Jul.2017', 'Ago.2017', 'Sep.2017', 'Oct.2017', 'Nov.2017', 'Dic.2017', 'Ene.2018', 'Feb.2018', 'Mar.2018', 'Abr.2018', 'May.2018', 'Jun.2018', 'Jul.2018', 'Ago.2018', 'Sep.2018', 'Oct.2018', 'Nov.2018', 'Dic.2018', 'Ene.2019', 'Feb.2019', 'Mar.2019', 'Abr.2019', 'May.2019', 'Jun.2019', 'Jul.2019', 'Ago.2019', 'Sep.2019', 'Oct.2019', 'Nov.2019', 'Dic.2019', 'Ene.2020', 'Feb.2020', 'Mar.2020', 'Abr.2020', 'May.2020', 'Jun.2020', 'Jul.2020', 'Ago.2020', 'Sep.2020', 'Oct.2020', 'Nov.2020', 'Dic.2020'], 'Valores': ['60.4968302928755', '58.1598059600068', '56.7260205123283', '53.1825163084385', '59.3834375765075', '61.065194087774', '60.4091355037627', '57.7998302896348', '58.285036747825', '58.1443522337911', '59.6775607119907', '61.5351517091008', '59.2275307481538', '58.5456020161109', '58.1733825658441', '54.9590593123328', '59.3276619570266', '55.6775110930747', '55.2761379363938', '56.223295733212', '59.8076056991546', '61.6333338813853', '62.1268804448957', '64.7450761053046', '64.3071341049813', '64.3311503855244', '61.1247142873934', '57.678953430387', '65.869601817876', '63.5489619473113', '67.705727308746', '67.1832849633004', '67.0340501831382', '71.8220010327153', '71.5251918698993', '70.9129768634108', '66.1703697463601', '67.026043657899', '66.2257693712773', '63.6616097683608', '70.7884577029035', '69.150220559366', '75.4528841502736', '75.42427426131', '78.0155485173077', '76.803230018374', '77.4018139422392', '80.2551294199736', '79.4674717019697', '77.9244474119119', '79.6597536445092', '70.4650491883974', '77.6556051666744', '75.187855490889', '77.6861928176504', '78.9606979891634', '81.6882805325381', '79.358453771952', '76.784274923378', '84.7283688755925', '85.2398398643184', '80.3932436035755', '84.7048431580245', '81.4475327127645', '86.6354907473275', '88.0809601861706', '92.5814647244773', '88.8520929215696', '92.6273689889391', '93.5656343052889', '95.4655960816512', '100.126828983623', '93.6054721775522', '92.837832872728', '96.5689860150538', '89.6782664511309', '93.9769599944284', '97.2350592418211', '98.0790599694702', '103.996924883647', '104.110136173939', '102.348230205814', '97.6558658169464', '106.012995978863', '96.967139454902', '98.3389048318326', '98.4145688612799', '93.2638618808728', '105.396692890291', '100.249657695196', '103.309102003838', '105.825549455065', '108.786318243505', '107.6368531347', '109.845820711214', '115.789187939667', '112.672011492315', '108.711293231795', '101.801414396696', '102.850143464775', '110.631083415708', '111.744415130738', '108.552117971603', '106.765485481284', '109.707867650141', '114.032553831656', '117.53374147756', '117.943354715744', '117.685918440238', '117.942434014044', '114.740790408738', '110.713085530884', '120.618226993719', '114.995155295289', '123.188768378291', '123.081383483408', '120.566983435384', '122.889645979755', '115.158986030042', '127.035999205149', '123.145077615933', '122.179211782685', '113.473564805825', '114.847969041809', '119.34250777568', '124.239508340058', '124.816313189883', '119.624912250271', '123.850001098087', '126.427994434607', '127.224545920944', '127.430577550694', '130.596810002508', '121.190543866132', '137.416599121512', '129.011502578337', '131.652442412517', '133.270992902078', '136.28040351522', '134.587537234607', '130.426124307871', '137.500336736056', '138.847668088975', '145.835865224274', '139.25815284098', '129.959462990653', '142.852236718884', '140.940355499668', '145.766618600514', '146.968012178796', '150.345092401391', '145.411464716294', '143.087207190713', '149.411293836306', '147.571138787419', '154.509195389987', '146.1163873152', '136.01708985511', '140.731426601842', '144.975380872493', '156.361089464983', '159.464773461357', '168.722085677178', '166.241860577796', '154.922858260803', '154.922858260803', '146.728598804532', '158.908716335263', '158.935473850099', '141.526650023236', '149.230656090301', '152.717211829576', '149.802628691376', '155.460663177601', '173.098036748195', '170.466726727662', '166.773733786011', '166.305138874702', '161.419602716213', '168.019674320158', '161.612521155709', '145.619673048466', '164.225504373683', '169.535883439654', '174.586230086407', '174.047688042078', '180.456816676688', '182.905093060151', '176.322749443015', '178.182924755409', '170.243582459592', '180.37113884792', '170.53738542756', '153.047623493429', '172.086502017021', '177.565823736955', '182.098251072939', '182.029174133305', '188.221565352968', '191.131841160101', '183.579951377474', '185.406255487681', '176.691267201199', '187.428319627828', '175.93485805576', '158.314034739131', '177.171964165029', '181.369292757043', '177.80008796758', '176.85991680698', '181.48586497244', '174.546056144677', '173.593732336608', '176.95147701328', '168.69208952439', '179.106806716503']}

In [237]:
df20=pd.DataFrame(diccionario20)
df20

       Fechas           Valores
0    Ene.2003  60.4968302928755
1    Feb.2003  58.1598059600068
2    Mar.2003  56.7260205123283
3    Abr.2003  53.1825163084385
4    May.2003  59.3834375765075
..        ...               ...
211  Ago.2020  174.546056144677
212  Sep.2020  173.593732336608
213  Oct.2020   176.95147701328
214  Nov.2020   168.69208952439
215  Dic.2020  179.106806716503

[216 rows x 2 columns]

In [238]:
df20.rename(columns={'Valores':'Ave'}, inplace=True)
df20.head()

     Fechas               Ave
0  Ene.2003  60.4968302928755
1  Feb.2003  58.1598059600068
2  Mar.2003  56.7260205123283
3  Abr.2003  53.1825163084385
4  May.2003  59.3834375765075

In [ ]:
# DATOS DE PRODUCCIÓN PECUARIA DE VACUNO

In [239]:
url_base="https://estadisticas.bcrp.gob.pe/estadisticas/series/api/"
cod_ser="PN01801AM"
formato="/json"
per="/2003-1/2020-12"
url=url_base+cod_ser+formato+per
print(url)

https://estadisticas.bcrp.gob.pe/estadisticas/series/api/PN01801AM/json/2003-1/2020-12

In [240]:
import requests
response=requests.get(url)
print(response)

<Response [200]>

In [241]:
# extraer en formato json
response_json=response.json()
print(response_json)

{'config': {'title': 'ProducciÃ³n agropecuaria (miles de toneladas)', 'series': [{'name': 'ProducciÃ³n agropecuaria (miles de toneladas) - Pecuario - Vacuno', 'dec': '1'}]}, 'periods': [{'name': 'Ene.2003', 'values': ['20.2399351713639']}, {'name': 'Feb.2003', 'values': ['21.6589604039216']}, {'name': 'Mar.2003', 'values': ['22.5063736415686']}, {'name': 'Abr.2003', 'values': ['24.3723611823529']}, {'name': 'May.2003', 'values': ['24.2040119705882']}, {'name': 'Jun.2003', 'values': ['23.814386594549']}, {'name': 'Jul.2003', 'values': ['23.6147101862745']}, {'name': 'Ago.2003', 'values': ['23.1394714294118']}, {'name': 'Sep.2003', 'values': ['22.714939293902']}, {'name': 'Oct.2003', 'values': ['21.8248473068627']}, {'name': 'Nov.2003', 'values': ['20.9950857784314']}, {'name': 'Dic.2003', 'values': ['22.0331435931372']}, {'name': 'Ene.2004', 'values': ['21.0694599803922']}, {'name': 'Feb.2004', 'values': ['21.6766196896078']}, {'name': 'Mar.2004', 'values': ['22.887158814198']}, {'name': 'Abr.2004', 'values': ['24.9979496862745']}, {'name': 'May.2004', 'values': ['24.992282745098']}, {'name': 'Jun.2004', 'values': ['25.0377733333333']}, {'name': 'Jul.2004', 'values': ['25.6421347058824']}, {'name': 'Ago.2004', 'values': ['25.5896203137255']}, {'name': 'Sep.2004', 'values': ['24.6545392156863']}, {'name': 'Oct.2004', 'values': ['23.7020465490196']}, {'name': 'Nov.2004', 'values': ['22.8918153251942']}, {'name': 'Dic.2004', 'values': ['23.8424310588235']}, {'name': 'Ene.2005', 'values': ['20.9792121490086']}, {'name': 'Feb.2005', 'values': ['22.9620493304773']}, {'name': 'Mar.2005', 'values': ['24.2522898058439']}, {'name': 'Abr.2005', 'values': ['26.4863257227477']}, {'name': 'May.2005', 'values': ['26.4171584932901']}, {'name': 'Jun.2005', 'values': ['25.7734594313726']}, {'name': 'Jul.2005', 'values': ['26.49578746689']}, {'name': 'Ago.2005', 'values': ['25.8545934866077']}, {'name': 'Sep.2005', 'values': ['25.2791521842698']}, {'name': 'Oct.2005', 'values': ['24.4606370103184']}, {'name': 'Nov.2005', 'values': ['25.1156381852035']}, {'name': 'Dic.2005', 'values': ['26.1365271523582']}, {'name': 'Ene.2006', 'values': ['22.7707223239458']}, {'name': 'Feb.2006', 'values': ['24.3274160121281']}, {'name': 'Mar.2006', 'values': ['25.9350159402604']}, {'name': 'Abr.2006', 'values': ['28.9380782041176']}, {'name': 'May.2006', 'values': ['28.6647307260784']}, {'name': 'Jun.2006', 'values': ['28.1392077823529']}, {'name': 'Jul.2006', 'values': ['28.3779611647059']}, {'name': 'Ago.2006', 'values': ['27.4734728862745']}, {'name': 'Sep.2006', 'values': ['26.6053657784314']}, {'name': 'Oct.2006', 'values': ['25.7783021980392']}, {'name': 'Nov.2006', 'values': ['25.26552987403']}, {'name': 'Dic.2006', 'values': ['26.5043245443137']}, {'name': 'Ene.2007', 'values': ['23.2945951176471']}, {'name': 'Feb.2007', 'values': ['24.9745611960784']}, {'name': 'Mar.2007', 'values': ['26.1989977653458']}, {'name': 'Abr.2007', 'values': ['28.2258040980392']}, {'name': 'May.2007', 'values': ['28.4688909215686']}, {'name': 'Jun.2007', 'values': ['28.0224365294118']}, {'name': 'Jul.2007', 'values': ['28.3760954921569']}, {'name': 'Ago.2007', 'values': ['27.4657867647059']}, {'name': 'Sep.2007', 'values': ['26.7478958647059']}, {'name': 'Oct.2007', 'values': ['26.0946619607843']}, {'name': 'Nov.2007', 'values': ['25.5175782067736']}, {'name': 'Dic.2007', 'values': ['26.6812196309368']}, {'name': 'Ene.2008', 'values': ['23.7288955366845']}, {'name': 'Feb.2008', 'values': ['24.2736560519251']}, {'name': 'Mar.2008', 'values': ['25.9886607456863']}, {'name': 'Abr.2008', 'values': ['28.0901538441176']}, {'name': 'May.2008', 'values': ['29.2069187613726']}, {'name': 'Jun.2008', 'values': ['29.0069417794118']}, {'name': 'Jul.2008', 'values': ['29.1011604556863']}, {'name': 'Ago.2008', 'values': ['27.5681142054902']}, {'name': 'Sep.2008', 'values': ['26.7356525815686']}, {'name': 'Oct.2008', 'values': ['25.189358267451']}, {'name': 'Nov.2008', 'values': ['25.1200981180392']}, {'name': 'Dic.2008', 'values': ['26.2215541401961']}, {'name': 'Ene.2009', 'values': ['23.857587485996']}, {'name': 'Feb.2009', 'values': ['23.9786234664743']}, {'name': 'Mar.2009', 'values': ['26.0420680358177']}, {'name': 'Abr.2009', 'values': ['28.3728328325674']}, {'name': 'May.2009', 'values': ['29.6363134648148']}, {'name': 'Jun.2009', 'values': ['29.4834488438186']}, {'name': 'Jul.2009', 'values': ['29.4206580491817']}, {'name': 'Ago.2009', 'values': ['28.0755165390116']}, {'name': 'Sep.2009', 'values': ['27.0712837582616']}, {'name': 'Oct.2009', 'values': ['25.3379191883007']}, {'name': 'Nov.2009', 'values': ['25.0526398005511']}, {'name': 'Dic.2009', 'values': ['26.6192085284808']}, {'name': 'Ene.2010', 'values': ['25.1935710053073']}, {'name': 'Feb.2010', 'values': ['25.7221395190581']}, {'name': 'Mar.2010', 'values': ['27.141375147557']}, {'name': 'Abr.2010', 'values': ['29.611629813452']}, {'name': 'May.2010', 'values': ['30.6999298940906']}, {'name': 'Jun.2010', 'values': ['30.1219866715517']}, {'name': 'Jul.2010', 'values': ['30.5495269822189']}, {'name': 'Ago.2010', 'values': ['28.9016833154688']}, {'name': 'Sep.2010', 'values': ['27.6580241771638']}, {'name': 'Oct.2010', 'values': ['26.6176502722914']}, {'name': 'Nov.2010', 'values': ['26.6405483254954']}, {'name': 'Dic.2010', 'values': ['28.145137530646']}, {'name': 'Ene.2011', 'values': ['25.5378080655023']}, {'name': 'Feb.2011', 'values': ['26.351477168324']}, {'name': 'Mar.2011', 'values': ['28.6716672960998']}, {'name': 'Abr.2011', 'values': ['30.7420380391681']}, {'name': 'May.2011', 'values': ['31.7324327727438']}, {'name': 'Jun.2011', 'values': ['31.3633207384705']}, {'name': 'Jul.2011', 'values': ['31.7320218862642']}, {'name': 'Ago.2011', 'values': ['30.3496726771257']}, {'name': 'Sep.2011', 'values': ['29.3210844662037']}, {'name': 'Oct.2011', 'values': ['28.0409372539085']}, {'name': 'Nov.2011', 'values': ['27.5853515363717']}, {'name': 'Dic.2011', 'values': ['28.7337190692937']}, {'name': 'Ene.2012', 'values': ['27.0523038950743']}, {'name': 'Feb.2012', 'values': ['28.4252095906017']}, {'name': 'Mar.2012', 'values': ['30.4142104380079']}, {'name': 'Abr.2012', 'values': ['33.1176644214528']}, {'name': 'May.2012', 'values': ['33.4818744886215']}, {'name': 'Jun.2012', 'values': ['32.9727348406016']}, {'name': 'Jul.2012', 'values': ['32.9007105318428']}, {'name': 'Ago.2012', 'values': ['30.7648829306631']}, {'name': 'Sep.2012', 'values': ['30.0200183936744']}, {'name': 'Oct.2012', 'values': ['28.5227427405078']}, {'name': 'Nov.2012', 'values': ['28.7637513638856']}, {'name': 'Dic.2012', 'values': ['30.2244316198834']}, {'name': 'Ene.2013', 'values': ['27.4358394935154']}, {'name': 'Feb.2013', 'values': ['28.5009440474673']}, {'name': 'Mar.2013', 'values': ['30.1588877617147']}, {'name': 'Abr.2013', 'values': ['33.0067555495185']}, {'name': 'May.2013', 'values': ['33.9672422580555']}, {'name': 'Jun.2013', 'values': ['33.5489148667886']}, {'name': 'Jul.2013', 'values': ['33.8538082832682']}, {'name': 'Ago.2013', 'values': ['31.4778600452277']}, {'name': 'Sep.2013', 'values': ['30.8929856046255']}, {'name': 'Oct.2013', 'values': ['30.0255638261116']}, {'name': 'Nov.2013', 'values': ['29.6096201457992']}, {'name': 'Dic.2013', 'values': ['31.1867475468419']}, {'name': 'Ene.2014', 'values': ['28.8436086092111']}, {'name': 'Feb.2014', 'values': ['29.4990864347059']}, {'name': 'Mar.2014', 'values': ['30.6155375986274']}, {'name': 'Abr.2014', 'values': ['32.6977525462745']}, {'name': 'May.2014', 'values': ['34.1517169256744']}, {'name': 'Jun.2014', 'values': ['33.9748649653875']}, {'name': 'Jul.2014', 'values': ['35.0582671558824']}, {'name': 'Ago.2014', 'values': ['32.9414356426549']}, {'name': 'Sep.2014', 'values': ['32.2399902768421']}, {'name': 'Oct.2014', 'values': ['31.4666659938526']}, {'name': 'Nov.2014', 'values': ['31.1382516086438']}, {'name': 'Dic.2014', 'values': ['32.1410484777118']}, {'name': 'Ene.2015', 'values': ['29.5803148729274']}, {'name': 'Feb.2015', 'values': ['29.5711193169337']}, {'name': 'Mar.2015', 'values': ['31.1868529648416']}, {'name': 'Abr.2015', 'values': ['32.593615056322']}, {'name': 'May.2015', 'values': ['33.8626170353503']}, {'name': 'Jun.2015', 'values': ['33.3093819584675']}, {'name': 'Jul.2015', 'values': ['34.8267224299148']}, {'name': 'Ago.2015', 'values': ['33.0656703312207']}, {'name': 'Sep.2015', 'values': ['31.9689286401943']}, {'name': 'Oct.2015', 'values': ['31.0541592781481']}, {'name': 'Nov.2015', 'values': ['31.0549488974962']}, {'name': 'Dic.2015', 'values': ['32.268654175169']}, {'name': 'Ene.2016', 'values': ['27.9191938004216']}, {'name': 'Feb.2016', 'values': ['28.9084232242255']}, {'name': 'Mar.2016', 'values': ['30.3732466162549']}, {'name': 'Abr.2016', 'values': ['32.9325897904139']}, {'name': 'May.2016', 'values': ['33.9360985607549']}, {'name': 'Jun.2016', 'values': ['33.3112218038044']}, {'name': 'Jul.2016', 'values': ['33.7044447583824']}, {'name': 'Ago.2016', 'values': ['31.5384167705502']}, {'name': 'Sep.2016', 'values': ['30.6519943931968']}, {'name': 'Oct.2016', 'values': ['29.5328065103887']}, {'name': 'Nov.2016', 'values': ['29.144827775055']}, {'name': 'Dic.2016', 'values': ['31.0381888633058']}, {'name': 'Ene.2017', 'values': ['28.2732368394075']}, {'name': 'Feb.2017', 'values': ['28.8047222053241']}, {'name': 'Mar.2017', 'values': ['30.1400600170258']}, {'name': 'Abr.2017', 'values': ['32.4958410653936']}, {'name': 'May.2017', 'values': ['33.3744054864613']}, {'name': 'Jun.2017', 'values': ['32.5984747015018']}, {'name': 'Jul.2017', 'values': ['32.9350657564604']}, {'name': 'Ago.2017', 'values': ['31.4614350165645']}, {'name': 'Sep.2017', 'values': ['30.0449961504903']}, {'name': 'Oct.2017', 'values': ['29.4224343382008']}, {'name': 'Nov.2017', 'values': ['29.2410759514085']}, {'name': 'Dic.2017', 'values': ['31.2818474061624']}, {'name': 'Ene.2018', 'values': ['27.9569171922505']}, {'name': 'Feb.2018', 'values': ['28.6550583398661']}, {'name': 'Mar.2018', 'values': ['29.8057917823668']}, {'name': 'Abr.2018', 'values': ['32.2261304055884']}, {'name': 'May.2018', 'values': ['33.8671891773454']}, {'name': 'Jun.2018', 'values': ['33.0531005168549']}, {'name': 'Jul.2018', 'values': ['33.0760091131166']}, {'name': 'Ago.2018', 'values': ['31.644623820247']}, {'name': 'Sep.2018', 'values': ['31.0039294388181']}, {'name': 'Oct.2018', 'values': ['29.5364622790876']}, {'name': 'Nov.2018', 'values': ['29.840424620251']}, {'name': 'Dic.2018', 'values': ['31.3012169712862']}, {'name': 'Ene.2019', 'values': ['28.3049058090287']}, {'name': 'Feb.2019', 'values': ['29.7353755158011']}, {'name': 'Mar.2019', 'values': ['30.7807395580381']}, {'name': 'Abr.2019', 'values': ['32.8279401810297']}, {'name': 'May.2019', 'values': ['33.7476266640452']}, {'name': 'Jun.2019', 'values': ['33.9421037531742']}, {'name': 'Jul.2019', 'values': ['33.2916898142154']}, {'name': 'Ago.2019', 'values': ['32.1893751843886']}, {'name': 'Sep.2019', 'values': ['31.0485862989703']}, {'name': 'Oct.2019', 'values': ['30.4781626016707']}, {'name': 'Nov.2019', 'values': ['30.3780997462959']}, {'name': 'Dic.2019', 'values': ['31.5490933527131']}, {'name': 'Ene.2020', 'values': ['28.8347098966731']}, {'name': 'Feb.2020', 'values': ['30.4706601451392']}, {'name': 'Mar.2020', 'values': ['29.1937280411333']}, {'name': 'Abr.2020', 'values': ['30.1429175824497']}, {'name': 'May.2020', 'values': ['30.8575497585071']}, {'name': 'Jun.2020', 'values': ['30.9790514258382']}, {'name': 'Jul.2020', 'values': ['31.4764105041844']}, {'name': 'Ago.2020', 'values': ['30.3135532814412']}, {'name': 'Sep.2020', 'values': ['29.5679546898591']}, {'name': 'Oct.2020', 'values': ['28.8719229649804']}, {'name': 'Nov.2020', 'values': ['29.4274511357909']}, {'name': 'Dic.2020', 'values': ['30.5329634803766']}]}

In [242]:
for key in response_json.keys():
    print(key)

config
periods

In [243]:
print(response_json["config"])

{'title': 'ProducciÃ³n agropecuaria (miles de toneladas)', 'series': [{'name': 'ProducciÃ³n agropecuaria (miles de toneladas) - Pecuario - Vacuno', 'dec': '1'}]}

In [244]:
# llamar a los valores
print(response_json["periods"])

[{'name': 'Ene.2003', 'values': ['20.2399351713639']}, {'name': 'Feb.2003', 'values': ['21.6589604039216']}, {'name': 'Mar.2003', 'values': ['22.5063736415686']}, {'name': 'Abr.2003', 'values': ['24.3723611823529']}, {'name': 'May.2003', 'values': ['24.2040119705882']}, {'name': 'Jun.2003', 'values': ['23.814386594549']}, {'name': 'Jul.2003', 'values': ['23.6147101862745']}, {'name': 'Ago.2003', 'values': ['23.1394714294118']}, {'name': 'Sep.2003', 'values': ['22.714939293902']}, {'name': 'Oct.2003', 'values': ['21.8248473068627']}, {'name': 'Nov.2003', 'values': ['20.9950857784314']}, {'name': 'Dic.2003', 'values': ['22.0331435931372']}, {'name': 'Ene.2004', 'values': ['21.0694599803922']}, {'name': 'Feb.2004', 'values': ['21.6766196896078']}, {'name': 'Mar.2004', 'values': ['22.887158814198']}, {'name': 'Abr.2004', 'values': ['24.9979496862745']}, {'name': 'May.2004', 'values': ['24.992282745098']}, {'name': 'Jun.2004', 'values': ['25.0377733333333']}, {'name': 'Jul.2004', 'values': ['25.6421347058824']}, {'name': 'Ago.2004', 'values': ['25.5896203137255']}, {'name': 'Sep.2004', 'values': ['24.6545392156863']}, {'name': 'Oct.2004', 'values': ['23.7020465490196']}, {'name': 'Nov.2004', 'values': ['22.8918153251942']}, {'name': 'Dic.2004', 'values': ['23.8424310588235']}, {'name': 'Ene.2005', 'values': ['20.9792121490086']}, {'name': 'Feb.2005', 'values': ['22.9620493304773']}, {'name': 'Mar.2005', 'values': ['24.2522898058439']}, {'name': 'Abr.2005', 'values': ['26.4863257227477']}, {'name': 'May.2005', 'values': ['26.4171584932901']}, {'name': 'Jun.2005', 'values': ['25.7734594313726']}, {'name': 'Jul.2005', 'values': ['26.49578746689']}, {'name': 'Ago.2005', 'values': ['25.8545934866077']}, {'name': 'Sep.2005', 'values': ['25.2791521842698']}, {'name': 'Oct.2005', 'values': ['24.4606370103184']}, {'name': 'Nov.2005', 'values': ['25.1156381852035']}, {'name': 'Dic.2005', 'values': ['26.1365271523582']}, {'name': 'Ene.2006', 'values': ['22.7707223239458']}, {'name': 'Feb.2006', 'values': ['24.3274160121281']}, {'name': 'Mar.2006', 'values': ['25.9350159402604']}, {'name': 'Abr.2006', 'values': ['28.9380782041176']}, {'name': 'May.2006', 'values': ['28.6647307260784']}, {'name': 'Jun.2006', 'values': ['28.1392077823529']}, {'name': 'Jul.2006', 'values': ['28.3779611647059']}, {'name': 'Ago.2006', 'values': ['27.4734728862745']}, {'name': 'Sep.2006', 'values': ['26.6053657784314']}, {'name': 'Oct.2006', 'values': ['25.7783021980392']}, {'name': 'Nov.2006', 'values': ['25.26552987403']}, {'name': 'Dic.2006', 'values': ['26.5043245443137']}, {'name': 'Ene.2007', 'values': ['23.2945951176471']}, {'name': 'Feb.2007', 'values': ['24.9745611960784']}, {'name': 'Mar.2007', 'values': ['26.1989977653458']}, {'name': 'Abr.2007', 'values': ['28.2258040980392']}, {'name': 'May.2007', 'values': ['28.4688909215686']}, {'name': 'Jun.2007', 'values': ['28.0224365294118']}, {'name': 'Jul.2007', 'values': ['28.3760954921569']}, {'name': 'Ago.2007', 'values': ['27.4657867647059']}, {'name': 'Sep.2007', 'values': ['26.7478958647059']}, {'name': 'Oct.2007', 'values': ['26.0946619607843']}, {'name': 'Nov.2007', 'values': ['25.5175782067736']}, {'name': 'Dic.2007', 'values': ['26.6812196309368']}, {'name': 'Ene.2008', 'values': ['23.7288955366845']}, {'name': 'Feb.2008', 'values': ['24.2736560519251']}, {'name': 'Mar.2008', 'values': ['25.9886607456863']}, {'name': 'Abr.2008', 'values': ['28.0901538441176']}, {'name': 'May.2008', 'values': ['29.2069187613726']}, {'name': 'Jun.2008', 'values': ['29.0069417794118']}, {'name': 'Jul.2008', 'values': ['29.1011604556863']}, {'name': 'Ago.2008', 'values': ['27.5681142054902']}, {'name': 'Sep.2008', 'values': ['26.7356525815686']}, {'name': 'Oct.2008', 'values': ['25.189358267451']}, {'name': 'Nov.2008', 'values': ['25.1200981180392']}, {'name': 'Dic.2008', 'values': ['26.2215541401961']}, {'name': 'Ene.2009', 'values': ['23.857587485996']}, {'name': 'Feb.2009', 'values': ['23.9786234664743']}, {'name': 'Mar.2009', 'values': ['26.0420680358177']}, {'name': 'Abr.2009', 'values': ['28.3728328325674']}, {'name': 'May.2009', 'values': ['29.6363134648148']}, {'name': 'Jun.2009', 'values': ['29.4834488438186']}, {'name': 'Jul.2009', 'values': ['29.4206580491817']}, {'name': 'Ago.2009', 'values': ['28.0755165390116']}, {'name': 'Sep.2009', 'values': ['27.0712837582616']}, {'name': 'Oct.2009', 'values': ['25.3379191883007']}, {'name': 'Nov.2009', 'values': ['25.0526398005511']}, {'name': 'Dic.2009', 'values': ['26.6192085284808']}, {'name': 'Ene.2010', 'values': ['25.1935710053073']}, {'name': 'Feb.2010', 'values': ['25.7221395190581']}, {'name': 'Mar.2010', 'values': ['27.141375147557']}, {'name': 'Abr.2010', 'values': ['29.611629813452']}, {'name': 'May.2010', 'values': ['30.6999298940906']}, {'name': 'Jun.2010', 'values': ['30.1219866715517']}, {'name': 'Jul.2010', 'values': ['30.5495269822189']}, {'name': 'Ago.2010', 'values': ['28.9016833154688']}, {'name': 'Sep.2010', 'values': ['27.6580241771638']}, {'name': 'Oct.2010', 'values': ['26.6176502722914']}, {'name': 'Nov.2010', 'values': ['26.6405483254954']}, {'name': 'Dic.2010', 'values': ['28.145137530646']}, {'name': 'Ene.2011', 'values': ['25.5378080655023']}, {'name': 'Feb.2011', 'values': ['26.351477168324']}, {'name': 'Mar.2011', 'values': ['28.6716672960998']}, {'name': 'Abr.2011', 'values': ['30.7420380391681']}, {'name': 'May.2011', 'values': ['31.7324327727438']}, {'name': 'Jun.2011', 'values': ['31.3633207384705']}, {'name': 'Jul.2011', 'values': ['31.7320218862642']}, {'name': 'Ago.2011', 'values': ['30.3496726771257']}, {'name': 'Sep.2011', 'values': ['29.3210844662037']}, {'name': 'Oct.2011', 'values': ['28.0409372539085']}, {'name': 'Nov.2011', 'values': ['27.5853515363717']}, {'name': 'Dic.2011', 'values': ['28.7337190692937']}, {'name': 'Ene.2012', 'values': ['27.0523038950743']}, {'name': 'Feb.2012', 'values': ['28.4252095906017']}, {'name': 'Mar.2012', 'values': ['30.4142104380079']}, {'name': 'Abr.2012', 'values': ['33.1176644214528']}, {'name': 'May.2012', 'values': ['33.4818744886215']}, {'name': 'Jun.2012', 'values': ['32.9727348406016']}, {'name': 'Jul.2012', 'values': ['32.9007105318428']}, {'name': 'Ago.2012', 'values': ['30.7648829306631']}, {'name': 'Sep.2012', 'values': ['30.0200183936744']}, {'name': 'Oct.2012', 'values': ['28.5227427405078']}, {'name': 'Nov.2012', 'values': ['28.7637513638856']}, {'name': 'Dic.2012', 'values': ['30.2244316198834']}, {'name': 'Ene.2013', 'values': ['27.4358394935154']}, {'name': 'Feb.2013', 'values': ['28.5009440474673']}, {'name': 'Mar.2013', 'values': ['30.1588877617147']}, {'name': 'Abr.2013', 'values': ['33.0067555495185']}, {'name': 'May.2013', 'values': ['33.9672422580555']}, {'name': 'Jun.2013', 'values': ['33.5489148667886']}, {'name': 'Jul.2013', 'values': ['33.8538082832682']}, {'name': 'Ago.2013', 'values': ['31.4778600452277']}, {'name': 'Sep.2013', 'values': ['30.8929856046255']}, {'name': 'Oct.2013', 'values': ['30.0255638261116']}, {'name': 'Nov.2013', 'values': ['29.6096201457992']}, {'name': 'Dic.2013', 'values': ['31.1867475468419']}, {'name': 'Ene.2014', 'values': ['28.8436086092111']}, {'name': 'Feb.2014', 'values': ['29.4990864347059']}, {'name': 'Mar.2014', 'values': ['30.6155375986274']}, {'name': 'Abr.2014', 'values': ['32.6977525462745']}, {'name': 'May.2014', 'values': ['34.1517169256744']}, {'name': 'Jun.2014', 'values': ['33.9748649653875']}, {'name': 'Jul.2014', 'values': ['35.0582671558824']}, {'name': 'Ago.2014', 'values': ['32.9414356426549']}, {'name': 'Sep.2014', 'values': ['32.2399902768421']}, {'name': 'Oct.2014', 'values': ['31.4666659938526']}, {'name': 'Nov.2014', 'values': ['31.1382516086438']}, {'name': 'Dic.2014', 'values': ['32.1410484777118']}, {'name': 'Ene.2015', 'values': ['29.5803148729274']}, {'name': 'Feb.2015', 'values': ['29.5711193169337']}, {'name': 'Mar.2015', 'values': ['31.1868529648416']}, {'name': 'Abr.2015', 'values': ['32.593615056322']}, {'name': 'May.2015', 'values': ['33.8626170353503']}, {'name': 'Jun.2015', 'values': ['33.3093819584675']}, {'name': 'Jul.2015', 'values': ['34.8267224299148']}, {'name': 'Ago.2015', 'values': ['33.0656703312207']}, {'name': 'Sep.2015', 'values': ['31.9689286401943']}, {'name': 'Oct.2015', 'values': ['31.0541592781481']}, {'name': 'Nov.2015', 'values': ['31.0549488974962']}, {'name': 'Dic.2015', 'values': ['32.268654175169']}, {'name': 'Ene.2016', 'values': ['27.9191938004216']}, {'name': 'Feb.2016', 'values': ['28.9084232242255']}, {'name': 'Mar.2016', 'values': ['30.3732466162549']}, {'name': 'Abr.2016', 'values': ['32.9325897904139']}, {'name': 'May.2016', 'values': ['33.9360985607549']}, {'name': 'Jun.2016', 'values': ['33.3112218038044']}, {'name': 'Jul.2016', 'values': ['33.7044447583824']}, {'name': 'Ago.2016', 'values': ['31.5384167705502']}, {'name': 'Sep.2016', 'values': ['30.6519943931968']}, {'name': 'Oct.2016', 'values': ['29.5328065103887']}, {'name': 'Nov.2016', 'values': ['29.144827775055']}, {'name': 'Dic.2016', 'values': ['31.0381888633058']}, {'name': 'Ene.2017', 'values': ['28.2732368394075']}, {'name': 'Feb.2017', 'values': ['28.8047222053241']}, {'name': 'Mar.2017', 'values': ['30.1400600170258']}, {'name': 'Abr.2017', 'values': ['32.4958410653936']}, {'name': 'May.2017', 'values': ['33.3744054864613']}, {'name': 'Jun.2017', 'values': ['32.5984747015018']}, {'name': 'Jul.2017', 'values': ['32.9350657564604']}, {'name': 'Ago.2017', 'values': ['31.4614350165645']}, {'name': 'Sep.2017', 'values': ['30.0449961504903']}, {'name': 'Oct.2017', 'values': ['29.4224343382008']}, {'name': 'Nov.2017', 'values': ['29.2410759514085']}, {'name': 'Dic.2017', 'values': ['31.2818474061624']}, {'name': 'Ene.2018', 'values': ['27.9569171922505']}, {'name': 'Feb.2018', 'values': ['28.6550583398661']}, {'name': 'Mar.2018', 'values': ['29.8057917823668']}, {'name': 'Abr.2018', 'values': ['32.2261304055884']}, {'name': 'May.2018', 'values': ['33.8671891773454']}, {'name': 'Jun.2018', 'values': ['33.0531005168549']}, {'name': 'Jul.2018', 'values': ['33.0760091131166']}, {'name': 'Ago.2018', 'values': ['31.644623820247']}, {'name': 'Sep.2018', 'values': ['31.0039294388181']}, {'name': 'Oct.2018', 'values': ['29.5364622790876']}, {'name': 'Nov.2018', 'values': ['29.840424620251']}, {'name': 'Dic.2018', 'values': ['31.3012169712862']}, {'name': 'Ene.2019', 'values': ['28.3049058090287']}, {'name': 'Feb.2019', 'values': ['29.7353755158011']}, {'name': 'Mar.2019', 'values': ['30.7807395580381']}, {'name': 'Abr.2019', 'values': ['32.8279401810297']}, {'name': 'May.2019', 'values': ['33.7476266640452']}, {'name': 'Jun.2019', 'values': ['33.9421037531742']}, {'name': 'Jul.2019', 'values': ['33.2916898142154']}, {'name': 'Ago.2019', 'values': ['32.1893751843886']}, {'name': 'Sep.2019', 'values': ['31.0485862989703']}, {'name': 'Oct.2019', 'values': ['30.4781626016707']}, {'name': 'Nov.2019', 'values': ['30.3780997462959']}, {'name': 'Dic.2019', 'values': ['31.5490933527131']}, {'name': 'Ene.2020', 'values': ['28.8347098966731']}, {'name': 'Feb.2020', 'values': ['30.4706601451392']}, {'name': 'Mar.2020', 'values': ['29.1937280411333']}, {'name': 'Abr.2020', 'values': ['30.1429175824497']}, {'name': 'May.2020', 'values': ['30.8575497585071']}, {'name': 'Jun.2020', 'values': ['30.9790514258382']}, {'name': 'Jul.2020', 'values': ['31.4764105041844']}, {'name': 'Ago.2020', 'values': ['30.3135532814412']}, {'name': 'Sep.2020', 'values': ['29.5679546898591']}, {'name': 'Oct.2020', 'values': ['28.8719229649804']}, {'name': 'Nov.2020', 'values': ['29.4274511357909']}, {'name': 'Dic.2020', 'values': ['30.5329634803766']}]

In [245]:
periodos=response_json.get("periods")
prod_vacuno=[]
for i in periodos:
    valores_list=i["values"]
    for w in valores_list:
        w=str(w)
        prod_vacuno.append(w)
        
print(prod_vacuno)

['20.2399351713639', '21.6589604039216', '22.5063736415686', '24.3723611823529', '24.2040119705882', '23.814386594549', '23.6147101862745', '23.1394714294118', '22.714939293902', '21.8248473068627', '20.9950857784314', '22.0331435931372', '21.0694599803922', '21.6766196896078', '22.887158814198', '24.9979496862745', '24.992282745098', '25.0377733333333', '25.6421347058824', '25.5896203137255', '24.6545392156863', '23.7020465490196', '22.8918153251942', '23.8424310588235', '20.9792121490086', '22.9620493304773', '24.2522898058439', '26.4863257227477', '26.4171584932901', '25.7734594313726', '26.49578746689', '25.8545934866077', '25.2791521842698', '24.4606370103184', '25.1156381852035', '26.1365271523582', '22.7707223239458', '24.3274160121281', '25.9350159402604', '28.9380782041176', '28.6647307260784', '28.1392077823529', '28.3779611647059', '27.4734728862745', '26.6053657784314', '25.7783021980392', '25.26552987403', '26.5043245443137', '23.2945951176471', '24.9745611960784', '26.1989977653458', '28.2258040980392', '28.4688909215686', '28.0224365294118', '28.3760954921569', '27.4657867647059', '26.7478958647059', '26.0946619607843', '25.5175782067736', '26.6812196309368', '23.7288955366845', '24.2736560519251', '25.9886607456863', '28.0901538441176', '29.2069187613726', '29.0069417794118', '29.1011604556863', '27.5681142054902', '26.7356525815686', '25.189358267451', '25.1200981180392', '26.2215541401961', '23.857587485996', '23.9786234664743', '26.0420680358177', '28.3728328325674', '29.6363134648148', '29.4834488438186', '29.4206580491817', '28.0755165390116', '27.0712837582616', '25.3379191883007', '25.0526398005511', '26.6192085284808', '25.1935710053073', '25.7221395190581', '27.141375147557', '29.611629813452', '30.6999298940906', '30.1219866715517', '30.5495269822189', '28.9016833154688', '27.6580241771638', '26.6176502722914', '26.6405483254954', '28.145137530646', '25.5378080655023', '26.351477168324', '28.6716672960998', '30.7420380391681', '31.7324327727438', '31.3633207384705', '31.7320218862642', '30.3496726771257', '29.3210844662037', '28.0409372539085', '27.5853515363717', '28.7337190692937', '27.0523038950743', '28.4252095906017', '30.4142104380079', '33.1176644214528', '33.4818744886215', '32.9727348406016', '32.9007105318428', '30.7648829306631', '30.0200183936744', '28.5227427405078', '28.7637513638856', '30.2244316198834', '27.4358394935154', '28.5009440474673', '30.1588877617147', '33.0067555495185', '33.9672422580555', '33.5489148667886', '33.8538082832682', '31.4778600452277', '30.8929856046255', '30.0255638261116', '29.6096201457992', '31.1867475468419', '28.8436086092111', '29.4990864347059', '30.6155375986274', '32.6977525462745', '34.1517169256744', '33.9748649653875', '35.0582671558824', '32.9414356426549', '32.2399902768421', '31.4666659938526', '31.1382516086438', '32.1410484777118', '29.5803148729274', '29.5711193169337', '31.1868529648416', '32.593615056322', '33.8626170353503', '33.3093819584675', '34.8267224299148', '33.0656703312207', '31.9689286401943', '31.0541592781481', '31.0549488974962', '32.268654175169', '27.9191938004216', '28.9084232242255', '30.3732466162549', '32.9325897904139', '33.9360985607549', '33.3112218038044', '33.7044447583824', '31.5384167705502', '30.6519943931968', '29.5328065103887', '29.144827775055', '31.0381888633058', '28.2732368394075', '28.8047222053241', '30.1400600170258', '32.4958410653936', '33.3744054864613', '32.5984747015018', '32.9350657564604', '31.4614350165645', '30.0449961504903', '29.4224343382008', '29.2410759514085', '31.2818474061624', '27.9569171922505', '28.6550583398661', '29.8057917823668', '32.2261304055884', '33.8671891773454', '33.0531005168549', '33.0760091131166', '31.644623820247', '31.0039294388181', '29.5364622790876', '29.840424620251', '31.3012169712862', '28.3049058090287', '29.7353755158011', '30.7807395580381', '32.8279401810297', '33.7476266640452', '33.9421037531742', '33.2916898142154', '32.1893751843886', '31.0485862989703', '30.4781626016707', '30.3780997462959', '31.5490933527131', '28.8347098966731', '30.4706601451392', '29.1937280411333', '30.1429175824497', '30.8575497585071', '30.9790514258382', '31.4764105041844', '30.3135532814412', '29.5679546898591', '28.8719229649804', '29.4274511357909', '30.5329634803766']

In [246]:
fechas=[]
for i in periodos:
    nombres=i["name"]
    fechas.append(nombres)
print(fechas)

['Ene.2003', 'Feb.2003', 'Mar.2003', 'Abr.2003', 'May.2003', 'Jun.2003', 'Jul.2003', 'Ago.2003', 'Sep.2003', 'Oct.2003', 'Nov.2003', 'Dic.2003', 'Ene.2004', 'Feb.2004', 'Mar.2004', 'Abr.2004', 'May.2004', 'Jun.2004', 'Jul.2004', 'Ago.2004', 'Sep.2004', 'Oct.2004', 'Nov.2004', 'Dic.2004', 'Ene.2005', 'Feb.2005', 'Mar.2005', 'Abr.2005', 'May.2005', 'Jun.2005', 'Jul.2005', 'Ago.2005', 'Sep.2005', 'Oct.2005', 'Nov.2005', 'Dic.2005', 'Ene.2006', 'Feb.2006', 'Mar.2006', 'Abr.2006', 'May.2006', 'Jun.2006', 'Jul.2006', 'Ago.2006', 'Sep.2006', 'Oct.2006', 'Nov.2006', 'Dic.2006', 'Ene.2007', 'Feb.2007', 'Mar.2007', 'Abr.2007', 'May.2007', 'Jun.2007', 'Jul.2007', 'Ago.2007', 'Sep.2007', 'Oct.2007', 'Nov.2007', 'Dic.2007', 'Ene.2008', 'Feb.2008', 'Mar.2008', 'Abr.2008', 'May.2008', 'Jun.2008', 'Jul.2008', 'Ago.2008', 'Sep.2008', 'Oct.2008', 'Nov.2008', 'Dic.2008', 'Ene.2009', 'Feb.2009', 'Mar.2009', 'Abr.2009', 'May.2009', 'Jun.2009', 'Jul.2009', 'Ago.2009', 'Sep.2009', 'Oct.2009', 'Nov.2009', 'Dic.2009', 'Ene.2010', 'Feb.2010', 'Mar.2010', 'Abr.2010', 'May.2010', 'Jun.2010', 'Jul.2010', 'Ago.2010', 'Sep.2010', 'Oct.2010', 'Nov.2010', 'Dic.2010', 'Ene.2011', 'Feb.2011', 'Mar.2011', 'Abr.2011', 'May.2011', 'Jun.2011', 'Jul.2011', 'Ago.2011', 'Sep.2011', 'Oct.2011', 'Nov.2011', 'Dic.2011', 'Ene.2012', 'Feb.2012', 'Mar.2012', 'Abr.2012', 'May.2012', 'Jun.2012', 'Jul.2012', 'Ago.2012', 'Sep.2012', 'Oct.2012', 'Nov.2012', 'Dic.2012', 'Ene.2013', 'Feb.2013', 'Mar.2013', 'Abr.2013', 'May.2013', 'Jun.2013', 'Jul.2013', 'Ago.2013', 'Sep.2013', 'Oct.2013', 'Nov.2013', 'Dic.2013', 'Ene.2014', 'Feb.2014', 'Mar.2014', 'Abr.2014', 'May.2014', 'Jun.2014', 'Jul.2014', 'Ago.2014', 'Sep.2014', 'Oct.2014', 'Nov.2014', 'Dic.2014', 'Ene.2015', 'Feb.2015', 'Mar.2015', 'Abr.2015', 'May.2015', 'Jun.2015', 'Jul.2015', 'Ago.2015', 'Sep.2015', 'Oct.2015', 'Nov.2015', 'Dic.2015', 'Ene.2016', 'Feb.2016', 'Mar.2016', 'Abr.2016', 'May.2016', 'Jun.2016', 'Jul.2016', 'Ago.2016', 'Sep.2016', 'Oct.2016', 'Nov.2016', 'Dic.2016', 'Ene.2017', 'Feb.2017', 'Mar.2017', 'Abr.2017', 'May.2017', 'Jun.2017', 'Jul.2017', 'Ago.2017', 'Sep.2017', 'Oct.2017', 'Nov.2017', 'Dic.2017', 'Ene.2018', 'Feb.2018', 'Mar.2018', 'Abr.2018', 'May.2018', 'Jun.2018', 'Jul.2018', 'Ago.2018', 'Sep.2018', 'Oct.2018', 'Nov.2018', 'Dic.2018', 'Ene.2019', 'Feb.2019', 'Mar.2019', 'Abr.2019', 'May.2019', 'Jun.2019', 'Jul.2019', 'Ago.2019', 'Sep.2019', 'Oct.2019', 'Nov.2019', 'Dic.2019', 'Ene.2020', 'Feb.2020', 'Mar.2020', 'Abr.2020', 'May.2020', 'Jun.2020', 'Jul.2020', 'Ago.2020', 'Sep.2020', 'Oct.2020', 'Nov.2020', 'Dic.2020']

In [247]:
diccionario21= {"Fechas":fechas, "Valores":prod_vacuno}
print(diccionario21)

{'Fechas': ['Ene.2003', 'Feb.2003', 'Mar.2003', 'Abr.2003', 'May.2003', 'Jun.2003', 'Jul.2003', 'Ago.2003', 'Sep.2003', 'Oct.2003', 'Nov.2003', 'Dic.2003', 'Ene.2004', 'Feb.2004', 'Mar.2004', 'Abr.2004', 'May.2004', 'Jun.2004', 'Jul.2004', 'Ago.2004', 'Sep.2004', 'Oct.2004', 'Nov.2004', 'Dic.2004', 'Ene.2005', 'Feb.2005', 'Mar.2005', 'Abr.2005', 'May.2005', 'Jun.2005', 'Jul.2005', 'Ago.2005', 'Sep.2005', 'Oct.2005', 'Nov.2005', 'Dic.2005', 'Ene.2006', 'Feb.2006', 'Mar.2006', 'Abr.2006', 'May.2006', 'Jun.2006', 'Jul.2006', 'Ago.2006', 'Sep.2006', 'Oct.2006', 'Nov.2006', 'Dic.2006', 'Ene.2007', 'Feb.2007', 'Mar.2007', 'Abr.2007', 'May.2007', 'Jun.2007', 'Jul.2007', 'Ago.2007', 'Sep.2007', 'Oct.2007', 'Nov.2007', 'Dic.2007', 'Ene.2008', 'Feb.2008', 'Mar.2008', 'Abr.2008', 'May.2008', 'Jun.2008', 'Jul.2008', 'Ago.2008', 'Sep.2008', 'Oct.2008', 'Nov.2008', 'Dic.2008', 'Ene.2009', 'Feb.2009', 'Mar.2009', 'Abr.2009', 'May.2009', 'Jun.2009', 'Jul.2009', 'Ago.2009', 'Sep.2009', 'Oct.2009', 'Nov.2009', 'Dic.2009', 'Ene.2010', 'Feb.2010', 'Mar.2010', 'Abr.2010', 'May.2010', 'Jun.2010', 'Jul.2010', 'Ago.2010', 'Sep.2010', 'Oct.2010', 'Nov.2010', 'Dic.2010', 'Ene.2011', 'Feb.2011', 'Mar.2011', 'Abr.2011', 'May.2011', 'Jun.2011', 'Jul.2011', 'Ago.2011', 'Sep.2011', 'Oct.2011', 'Nov.2011', 'Dic.2011', 'Ene.2012', 'Feb.2012', 'Mar.2012', 'Abr.2012', 'May.2012', 'Jun.2012', 'Jul.2012', 'Ago.2012', 'Sep.2012', 'Oct.2012', 'Nov.2012', 'Dic.2012', 'Ene.2013', 'Feb.2013', 'Mar.2013', 'Abr.2013', 'May.2013', 'Jun.2013', 'Jul.2013', 'Ago.2013', 'Sep.2013', 'Oct.2013', 'Nov.2013', 'Dic.2013', 'Ene.2014', 'Feb.2014', 'Mar.2014', 'Abr.2014', 'May.2014', 'Jun.2014', 'Jul.2014', 'Ago.2014', 'Sep.2014', 'Oct.2014', 'Nov.2014', 'Dic.2014', 'Ene.2015', 'Feb.2015', 'Mar.2015', 'Abr.2015', 'May.2015', 'Jun.2015', 'Jul.2015', 'Ago.2015', 'Sep.2015', 'Oct.2015', 'Nov.2015', 'Dic.2015', 'Ene.2016', 'Feb.2016', 'Mar.2016', 'Abr.2016', 'May.2016', 'Jun.2016', 'Jul.2016', 'Ago.2016', 'Sep.2016', 'Oct.2016', 'Nov.2016', 'Dic.2016', 'Ene.2017', 'Feb.2017', 'Mar.2017', 'Abr.2017', 'May.2017', 'Jun.2017', 'Jul.2017', 'Ago.2017', 'Sep.2017', 'Oct.2017', 'Nov.2017', 'Dic.2017', 'Ene.2018', 'Feb.2018', 'Mar.2018', 'Abr.2018', 'May.2018', 'Jun.2018', 'Jul.2018', 'Ago.2018', 'Sep.2018', 'Oct.2018', 'Nov.2018', 'Dic.2018', 'Ene.2019', 'Feb.2019', 'Mar.2019', 'Abr.2019', 'May.2019', 'Jun.2019', 'Jul.2019', 'Ago.2019', 'Sep.2019', 'Oct.2019', 'Nov.2019', 'Dic.2019', 'Ene.2020', 'Feb.2020', 'Mar.2020', 'Abr.2020', 'May.2020', 'Jun.2020', 'Jul.2020', 'Ago.2020', 'Sep.2020', 'Oct.2020', 'Nov.2020', 'Dic.2020'], 'Valores': ['20.2399351713639', '21.6589604039216', '22.5063736415686', '24.3723611823529', '24.2040119705882', '23.814386594549', '23.6147101862745', '23.1394714294118', '22.714939293902', '21.8248473068627', '20.9950857784314', '22.0331435931372', '21.0694599803922', '21.6766196896078', '22.887158814198', '24.9979496862745', '24.992282745098', '25.0377733333333', '25.6421347058824', '25.5896203137255', '24.6545392156863', '23.7020465490196', '22.8918153251942', '23.8424310588235', '20.9792121490086', '22.9620493304773', '24.2522898058439', '26.4863257227477', '26.4171584932901', '25.7734594313726', '26.49578746689', '25.8545934866077', '25.2791521842698', '24.4606370103184', '25.1156381852035', '26.1365271523582', '22.7707223239458', '24.3274160121281', '25.9350159402604', '28.9380782041176', '28.6647307260784', '28.1392077823529', '28.3779611647059', '27.4734728862745', '26.6053657784314', '25.7783021980392', '25.26552987403', '26.5043245443137', '23.2945951176471', '24.9745611960784', '26.1989977653458', '28.2258040980392', '28.4688909215686', '28.0224365294118', '28.3760954921569', '27.4657867647059', '26.7478958647059', '26.0946619607843', '25.5175782067736', '26.6812196309368', '23.7288955366845', '24.2736560519251', '25.9886607456863', '28.0901538441176', '29.2069187613726', '29.0069417794118', '29.1011604556863', '27.5681142054902', '26.7356525815686', '25.189358267451', '25.1200981180392', '26.2215541401961', '23.857587485996', '23.9786234664743', '26.0420680358177', '28.3728328325674', '29.6363134648148', '29.4834488438186', '29.4206580491817', '28.0755165390116', '27.0712837582616', '25.3379191883007', '25.0526398005511', '26.6192085284808', '25.1935710053073', '25.7221395190581', '27.141375147557', '29.611629813452', '30.6999298940906', '30.1219866715517', '30.5495269822189', '28.9016833154688', '27.6580241771638', '26.6176502722914', '26.6405483254954', '28.145137530646', '25.5378080655023', '26.351477168324', '28.6716672960998', '30.7420380391681', '31.7324327727438', '31.3633207384705', '31.7320218862642', '30.3496726771257', '29.3210844662037', '28.0409372539085', '27.5853515363717', '28.7337190692937', '27.0523038950743', '28.4252095906017', '30.4142104380079', '33.1176644214528', '33.4818744886215', '32.9727348406016', '32.9007105318428', '30.7648829306631', '30.0200183936744', '28.5227427405078', '28.7637513638856', '30.2244316198834', '27.4358394935154', '28.5009440474673', '30.1588877617147', '33.0067555495185', '33.9672422580555', '33.5489148667886', '33.8538082832682', '31.4778600452277', '30.8929856046255', '30.0255638261116', '29.6096201457992', '31.1867475468419', '28.8436086092111', '29.4990864347059', '30.6155375986274', '32.6977525462745', '34.1517169256744', '33.9748649653875', '35.0582671558824', '32.9414356426549', '32.2399902768421', '31.4666659938526', '31.1382516086438', '32.1410484777118', '29.5803148729274', '29.5711193169337', '31.1868529648416', '32.593615056322', '33.8626170353503', '33.3093819584675', '34.8267224299148', '33.0656703312207', '31.9689286401943', '31.0541592781481', '31.0549488974962', '32.268654175169', '27.9191938004216', '28.9084232242255', '30.3732466162549', '32.9325897904139', '33.9360985607549', '33.3112218038044', '33.7044447583824', '31.5384167705502', '30.6519943931968', '29.5328065103887', '29.144827775055', '31.0381888633058', '28.2732368394075', '28.8047222053241', '30.1400600170258', '32.4958410653936', '33.3744054864613', '32.5984747015018', '32.9350657564604', '31.4614350165645', '30.0449961504903', '29.4224343382008', '29.2410759514085', '31.2818474061624', '27.9569171922505', '28.6550583398661', '29.8057917823668', '32.2261304055884', '33.8671891773454', '33.0531005168549', '33.0760091131166', '31.644623820247', '31.0039294388181', '29.5364622790876', '29.840424620251', '31.3012169712862', '28.3049058090287', '29.7353755158011', '30.7807395580381', '32.8279401810297', '33.7476266640452', '33.9421037531742', '33.2916898142154', '32.1893751843886', '31.0485862989703', '30.4781626016707', '30.3780997462959', '31.5490933527131', '28.8347098966731', '30.4706601451392', '29.1937280411333', '30.1429175824497', '30.8575497585071', '30.9790514258382', '31.4764105041844', '30.3135532814412', '29.5679546898591', '28.8719229649804', '29.4274511357909', '30.5329634803766']}

In [248]:
df21=pd.DataFrame(diccionario21)
df21

       Fechas           Valores
0    Ene.2003  20.2399351713639
1    Feb.2003  21.6589604039216
2    Mar.2003  22.5063736415686
3    Abr.2003  24.3723611823529
4    May.2003  24.2040119705882
..        ...               ...
211  Ago.2020  30.3135532814412
212  Sep.2020  29.5679546898591
213  Oct.2020  28.8719229649804
214  Nov.2020  29.4274511357909
215  Dic.2020  30.5329634803766

[216 rows x 2 columns]

In [249]:
df21.rename(columns={'Valores':'Vacuno'}, inplace=True)
df21.head()

     Fechas            Vacuno
0  Ene.2003  20.2399351713639
1  Feb.2003  21.6589604039216
2  Mar.2003  22.5063736415686
3  Abr.2003  24.3723611823529
4  May.2003  24.2040119705882

In [ ]:
# DATOS DE PRODUCCIÓN PECUARIA DE HUEVOS

In [250]:
url_base="https://estadisticas.bcrp.gob.pe/estadisticas/series/api/"
cod_ser="PN01802AM"
formato="/json"
per="/2003-1/2020-12"
url=url_base+cod_ser+formato+per
print(url)

https://estadisticas.bcrp.gob.pe/estadisticas/series/api/PN01802AM/json/2003-1/2020-12

In [251]:
import requests
response=requests.get(url)
print(response)

<Response [200]>

In [252]:
# extraer en formato json
response_json=response.json()
print(response_json)

{'config': {'title': 'ProducciÃ³n agropecuaria (miles de toneladas)', 'series': [{'name': 'ProducciÃ³n agropecuaria (miles de toneladas) - Pecuario - Huevos', 'dec': '1'}]}, 'periods': [{'name': 'Ene.2003', 'values': ['15.523881756262']}, {'name': 'Feb.2003', 'values': ['15.5250038451462']}, {'name': 'Mar.2003', 'values': ['15.582628588372']}, {'name': 'Abr.2003', 'values': ['15.7633713399981']}, {'name': 'May.2003', 'values': ['16.0274796928292']}, {'name': 'Jun.2003', 'values': ['16.3098316823085']}, {'name': 'Jul.2003', 'values': ['16.5857346049214']}, {'name': 'Ago.2003', 'values': ['16.8684881783112']}, {'name': 'Sep.2003', 'values': ['17.191168285935']}, {'name': 'Oct.2003', 'values': ['17.4959021877325']}, {'name': 'Nov.2003', 'values': ['17.5272602671252']}, {'name': 'Dic.2003', 'values': ['17.4382581247175']}, {'name': 'Ene.2004', 'values': ['17.3347516487421']}, {'name': 'Feb.2004', 'values': ['17.28161799002']}, {'name': 'Mar.2004', 'values': ['17.288030901844']}, {'name': 'Abr.2004', 'values': ['17.2182812058888']}, {'name': 'May.2004', 'values': ['17.1374888665008']}, {'name': 'Jun.2004', 'values': ['17.0355447836606']}, {'name': 'Jul.2004', 'values': ['16.9045097730874']}, {'name': 'Ago.2004', 'values': ['16.689187157616']}, {'name': 'Sep.2004', 'values': ['16.5511382422761']}, {'name': 'Oct.2004', 'values': ['16.4216949474712']}, {'name': 'Nov.2004', 'values': ['16.2129525913242']}, {'name': 'Dic.2004', 'values': ['16.2813257020717']}, {'name': 'Ene.2005', 'values': ['16.3265053079763']}, {'name': 'Feb.2005', 'values': ['16.3595217569966']}, {'name': 'Mar.2005', 'values': ['16.5851070064416']}, {'name': 'Abr.2005', 'values': ['16.8254395282061']}, {'name': 'May.2005', 'values': ['17.0391217374588']}, {'name': 'Jun.2005', 'values': ['17.3008739935121']}, {'name': 'Jul.2005', 'values': ['17.4443264310772']}, {'name': 'Ago.2005', 'values': ['17.5546028466281']}, {'name': 'Sep.2005', 'values': ['17.6799007095404']}, {'name': 'Oct.2005', 'values': ['17.8015955623828']}, {'name': 'Nov.2005', 'values': ['17.9713425785068']}, {'name': 'Dic.2005', 'values': ['18.1976912665635']}, {'name': 'Ene.2006', 'values': ['18.3018272227198']}, {'name': 'Feb.2006', 'values': ['18.7642068716676']}, {'name': 'Mar.2006', 'values': ['19.347538058162']}, {'name': 'Abr.2006', 'values': ['19.7705825909539']}, {'name': 'May.2006', 'values': ['20.1752110956124']}, {'name': 'Jun.2006', 'values': ['20.5997192520804']}, {'name': 'Jul.2006', 'values': ['20.9322512026017']}, {'name': 'Ago.2006', 'values': ['21.0791366249634']}, {'name': 'Sep.2006', 'values': ['21.3342374090355']}, {'name': 'Oct.2006', 'values': ['21.5470744134292']}, {'name': 'Nov.2006', 'values': ['21.6720194065105']}, {'name': 'Dic.2006', 'values': ['21.9272679863799']}, {'name': 'Ene.2007', 'values': ['21.9624810021868']}, {'name': 'Feb.2007', 'values': ['21.9333333819646']}, {'name': 'Mar.2007', 'values': ['21.9956709586733']}, {'name': 'Abr.2007', 'values': ['21.989894309652']}, {'name': 'May.2007', 'values': ['21.7552395319357']}, {'name': 'Jun.2007', 'values': ['21.3808967171681']}, {'name': 'Jul.2007', 'values': ['21.0363413958198']}, {'name': 'Ago.2007', 'values': ['21.0332410380749']}, {'name': 'Sep.2007', 'values': ['20.9430726027556']}, {'name': 'Oct.2007', 'values': ['21.0623839546266']}, {'name': 'Nov.2007', 'values': ['21.1442316875428']}, {'name': 'Dic.2007', 'values': ['21.384329457404']}, {'name': 'Ene.2008', 'values': ['21.6259504468757']}, {'name': 'Feb.2008', 'values': ['21.6723462993459']}, {'name': 'Mar.2008', 'values': ['21.7579568465049']}, {'name': 'Abr.2008', 'values': ['21.8595407178597']}, {'name': 'May.2008', 'values': ['22.1262074671285']}, {'name': 'Jun.2008', 'values': ['22.4101218888542']}, {'name': 'Jul.2008', 'values': ['22.4552659596175']}, {'name': 'Ago.2008', 'values': ['22.5990494672103']}, {'name': 'Sep.2008', 'values': ['22.6395967793044']}, {'name': 'Oct.2008', 'values': ['22.6195899865158']}, {'name': 'Nov.2008', 'values': ['22.4805451906716']}, {'name': 'Dic.2008', 'values': ['22.2943517199436']}, {'name': 'Ene.2009', 'values': ['22.0268396696297']}, {'name': 'Feb.2009', 'values': ['21.81702514258']}, {'name': 'Mar.2009', 'values': ['21.9945990040989']}, {'name': 'Abr.2009', 'values': ['22.0206626874528']}, {'name': 'May.2009', 'values': ['22.1726407665966']}, {'name': 'Jun.2009', 'values': ['22.3433']}, {'name': 'Jul.2009', 'values': ['22.4104172821609']}, {'name': 'Ago.2009', 'values': ['22.7116168842126']}, {'name': 'Sep.2009', 'values': ['22.7293533514']}, {'name': 'Oct.2009', 'values': ['22.8261883377071']}, {'name': 'Nov.2009', 'values': ['22.7409026317838']}, {'name': 'Dic.2009', 'values': ['22.9133919056503']}, {'name': 'Ene.2010', 'values': ['23.0037473780041']}, {'name': 'Feb.2010', 'values': ['23.1745224248762']}, {'name': 'Mar.2010', 'values': ['23.5010326006324']}, {'name': 'Abr.2010', 'values': ['23.484064315982']}, {'name': 'May.2010', 'values': ['23.5016655382472']}, {'name': 'Jun.2010', 'values': ['23.4400587321246']}, {'name': 'Jul.2010', 'values': ['23.4631524484548']}, {'name': 'Ago.2010', 'values': ['23.8130230053051']}, {'name': 'Sep.2010', 'values': ['24.0863471114567']}, {'name': 'Oct.2010', 'values': ['24.2651076879782']}, {'name': 'Nov.2010', 'values': ['24.425960133554']}, {'name': 'Dic.2010', 'values': ['24.9429619137545']}, {'name': 'Ene.2011', 'values': ['25.1304770867762']}, {'name': 'Feb.2011', 'values': ['25.5823163650721']}, {'name': 'Mar.2011', 'values': ['25.9963858910796']}, {'name': 'Abr.2011', 'values': ['26.3080530419636']}, {'name': 'May.2011', 'values': ['26.739333328151']}, {'name': 'Jun.2011', 'values': ['26.9275147784916']}, {'name': 'Jul.2011', 'values': ['26.9839174827767']}, {'name': 'Ago.2011', 'values': ['27.1073211197852']}, {'name': 'Sep.2011', 'values': ['26.972795566388']}, {'name': 'Oct.2011', 'values': ['26.9034976601739']}, {'name': 'Nov.2011', 'values': ['26.7230406307941']}, {'name': 'Dic.2011', 'values': ['26.2797582953081']}, {'name': 'Ene.2012', 'values': ['25.8934896992698']}, {'name': 'Feb.2012', 'values': ['25.7152285953129']}, {'name': 'Mar.2012', 'values': ['25.7172431312293']}, {'name': 'Abr.2012', 'values': ['25.654497348564']}, {'name': 'May.2012', 'values': ['25.7840539961181']}, {'name': 'Jun.2012', 'values': ['25.9243934567753']}, {'name': 'Jul.2012', 'values': ['26.0498693224767']}, {'name': 'Ago.2012', 'values': ['26.1925779236823']}, {'name': 'Sep.2012', 'values': ['26.2572453032744']}, {'name': 'Oct.2012', 'values': ['26.514886404484']}, {'name': 'Nov.2012', 'values': ['26.7689179901535']}, {'name': 'Dic.2012', 'values': ['27.5515062471794']}, {'name': 'Ene.2013', 'values': ['28.1824913701562']}, {'name': 'Feb.2013', 'values': ['28.466670072765']}, {'name': 'Mar.2013', 'values': ['28.8870292858565']}, {'name': 'Abr.2013', 'values': ['29.2798247366635']}, {'name': 'May.2013', 'values': ['29.4235673608133']}, {'name': 'Jun.2013', 'values': ['29.5651894568001']}, {'name': 'Jul.2013', 'values': ['29.3264546148641']}, {'name': 'Ago.2013', 'values': ['29.3956160290133']}, {'name': 'Sep.2013', 'values': ['29.3930119923775']}, {'name': 'Oct.2013', 'values': ['29.476034983093']}, {'name': 'Nov.2013', 'values': ['29.3143965344202']}, {'name': 'Dic.2013', 'values': ['29.0804965974186']}, {'name': 'Ene.2014', 'values': ['28.8396364769379']}, {'name': 'Feb.2014', 'values': ['28.9971380271183']}, {'name': 'Mar.2014', 'values': ['29.4514450995533']}, {'name': 'Abr.2014', 'values': ['29.5503735770323']}, {'name': 'May.2014', 'values': ['29.7164588829636']}, {'name': 'Jun.2014', 'values': ['29.9630681472356']}, {'name': 'Jul.2014', 'values': ['29.9664917635365']}, {'name': 'Ago.2014', 'values': ['30.1041628017411']}, {'name': 'Sep.2014', 'values': ['30.2958530521125']}, {'name': 'Oct.2014', 'values': ['30.4192613232299']}, {'name': 'Nov.2014', 'values': ['30.4865451394444']}, {'name': 'Dic.2014', 'values': ['30.8395014330005']}, {'name': 'Ene.2015', 'values': ['31.6166442859875']}, {'name': 'Feb.2015', 'values': ['31.6970857294095']}, {'name': 'Mar.2015', 'values': ['32.1589893331702']}, {'name': 'Abr.2015', 'values': ['32.3737843393782']}, {'name': 'May.2015', 'values': ['32.3573248480855']}, {'name': 'Jun.2015', 'values': ['32.2672857061286']}, {'name': 'Jul.2015', 'values': ['32.1238248204923']}, {'name': 'Ago.2015', 'values': ['32.3176723863038']}, {'name': 'Sep.2015', 'values': ['32.3667040429267']}, {'name': 'Oct.2015', 'values': ['32.3395293307319']}, {'name': 'Nov.2015', 'values': ['32.3084154285408']}, {'name': 'Dic.2015', 'values': ['32.3273755219018']}, {'name': 'Ene.2016', 'values': ['32.5005516519108']}, {'name': 'Feb.2016', 'values': ['32.7072518085207']}, {'name': 'Mar.2016', 'values': ['33.0029023927467']}, {'name': 'Abr.2016', 'values': ['33.0537612940259']}, {'name': 'May.2016', 'values': ['33.185818059824']}, {'name': 'Jun.2016', 'values': ['33.4952221873726']}, {'name': 'Jul.2016', 'values': ['33.5150946926917']}, {'name': 'Ago.2016', 'values': ['33.73152600911']}, {'name': 'Sep.2016', 'values': ['33.7959771412718']}, {'name': 'Oct.2016', 'values': ['33.7959771412717']}, {'name': 'Nov.2016', 'values': ['33.845775065171']}, {'name': 'Dic.2016', 'values': ['34.2924122521582']}, {'name': 'Ene.2017', 'values': ['34.5133704238373']}, {'name': 'Feb.2017', 'values': ['34.5852568266616']}, {'name': 'Mar.2017', 'values': ['34.7742305443359']}, {'name': 'Abr.2017', 'values': ['34.5813290536344']}, {'name': 'May.2017', 'values': ['34.5101333709272']}, {'name': 'Jun.2017', 'values': ['34.4903118002603']}, {'name': 'Jul.2017', 'values': ['34.4876991452323']}, {'name': 'Ago.2017', 'values': ['34.3748159822628']}, {'name': 'Sep.2017', 'values': ['34.4141152753778']}, {'name': 'Oct.2017', 'values': ['34.7261442501962']}, {'name': 'Nov.2017', 'values': ['34.8868836848441']}, {'name': 'Dic.2017', 'values': ['34.9922008554752']}, {'name': 'Ene.2018', 'values': ['34.8708150120799']}, {'name': 'Feb.2018', 'values': ['35.0993682177067']}, {'name': 'Mar.2018', 'values': ['35.7689788458165']}, {'name': 'Abr.2018', 'values': ['36.3724096374286']}, {'name': 'May.2018', 'values': ['37.0747558454889']}, {'name': 'Jun.2018', 'values': ['37.5759427665418']}, {'name': 'Jul.2018', 'values': ['37.7896308354988']}, {'name': 'Ago.2018', 'values': ['38.508285278336']}, {'name': 'Sep.2018', 'values': ['38.9920208220928']}, {'name': 'Oct.2018', 'values': ['39.4680224169543']}, {'name': 'Nov.2018', 'values': ['40.0664333865932']}, {'name': 'Dic.2018', 'values': ['40.6476983656651']}, {'name': 'Ene.2019', 'values': ['40.0584606318243']}, {'name': 'Feb.2019', 'values': ['40.2484875237157']}, {'name': 'Mar.2019', 'values': ['40.2395224562993']}, {'name': 'Abr.2019', 'values': ['40.299270675872']}, {'name': 'May.2019', 'values': ['40.6878414664276']}, {'name': 'Jun.2019', 'values': ['40.5234330969238']}, {'name': 'Jul.2019', 'values': ['40.4084878161746']}, {'name': 'Ago.2019', 'values': ['40.4333141361124']}, {'name': 'Sep.2019', 'values': ['40.5492446017073']}, {'name': 'Oct.2019', 'values': ['41.1340230477477']}, {'name': 'Nov.2019', 'values': ['41.8451435128125']}, {'name': 'Dic.2019', 'values': ['42.0572083929269']}, {'name': 'Ene.2020', 'values': ['40.8629293641711']}, {'name': 'Feb.2020', 'values': ['41.243429914631']}, {'name': 'Mar.2020', 'values': ['41.095162302735']}, {'name': 'Abr.2020', 'values': ['41.0455889634242']}, {'name': 'May.2020', 'values': ['41.25511931135']}, {'name': 'Jun.2020', 'values': ['41.1414493534']}, {'name': 'Jul.2020', 'values': ['41.19318399811']}, {'name': 'Ago.2020', 'values': ['41.229490818']}, {'name': 'Sep.2020', 'values': ['41.35759834']}, {'name': 'Oct.2020', 'values': ['41.9074113832042']}, {'name': 'Nov.2020', 'values': ['42.46070476']}, {'name': 'Dic.2020', 'values': ['42.73331901254']}]}

In [253]:
for key in response_json.keys():
    print(key)

config
periods

In [254]:
print(response_json["config"])

{'title': 'ProducciÃ³n agropecuaria (miles de toneladas)', 'series': [{'name': 'ProducciÃ³n agropecuaria (miles de toneladas) - Pecuario - Huevos', 'dec': '1'}]}

In [255]:
# llamar a los valores
print(response_json["periods"])

[{'name': 'Ene.2003', 'values': ['15.523881756262']}, {'name': 'Feb.2003', 'values': ['15.5250038451462']}, {'name': 'Mar.2003', 'values': ['15.582628588372']}, {'name': 'Abr.2003', 'values': ['15.7633713399981']}, {'name': 'May.2003', 'values': ['16.0274796928292']}, {'name': 'Jun.2003', 'values': ['16.3098316823085']}, {'name': 'Jul.2003', 'values': ['16.5857346049214']}, {'name': 'Ago.2003', 'values': ['16.8684881783112']}, {'name': 'Sep.2003', 'values': ['17.191168285935']}, {'name': 'Oct.2003', 'values': ['17.4959021877325']}, {'name': 'Nov.2003', 'values': ['17.5272602671252']}, {'name': 'Dic.2003', 'values': ['17.4382581247175']}, {'name': 'Ene.2004', 'values': ['17.3347516487421']}, {'name': 'Feb.2004', 'values': ['17.28161799002']}, {'name': 'Mar.2004', 'values': ['17.288030901844']}, {'name': 'Abr.2004', 'values': ['17.2182812058888']}, {'name': 'May.2004', 'values': ['17.1374888665008']}, {'name': 'Jun.2004', 'values': ['17.0355447836606']}, {'name': 'Jul.2004', 'values': ['16.9045097730874']}, {'name': 'Ago.2004', 'values': ['16.689187157616']}, {'name': 'Sep.2004', 'values': ['16.5511382422761']}, {'name': 'Oct.2004', 'values': ['16.4216949474712']}, {'name': 'Nov.2004', 'values': ['16.2129525913242']}, {'name': 'Dic.2004', 'values': ['16.2813257020717']}, {'name': 'Ene.2005', 'values': ['16.3265053079763']}, {'name': 'Feb.2005', 'values': ['16.3595217569966']}, {'name': 'Mar.2005', 'values': ['16.5851070064416']}, {'name': 'Abr.2005', 'values': ['16.8254395282061']}, {'name': 'May.2005', 'values': ['17.0391217374588']}, {'name': 'Jun.2005', 'values': ['17.3008739935121']}, {'name': 'Jul.2005', 'values': ['17.4443264310772']}, {'name': 'Ago.2005', 'values': ['17.5546028466281']}, {'name': 'Sep.2005', 'values': ['17.6799007095404']}, {'name': 'Oct.2005', 'values': ['17.8015955623828']}, {'name': 'Nov.2005', 'values': ['17.9713425785068']}, {'name': 'Dic.2005', 'values': ['18.1976912665635']}, {'name': 'Ene.2006', 'values': ['18.3018272227198']}, {'name': 'Feb.2006', 'values': ['18.7642068716676']}, {'name': 'Mar.2006', 'values': ['19.347538058162']}, {'name': 'Abr.2006', 'values': ['19.7705825909539']}, {'name': 'May.2006', 'values': ['20.1752110956124']}, {'name': 'Jun.2006', 'values': ['20.5997192520804']}, {'name': 'Jul.2006', 'values': ['20.9322512026017']}, {'name': 'Ago.2006', 'values': ['21.0791366249634']}, {'name': 'Sep.2006', 'values': ['21.3342374090355']}, {'name': 'Oct.2006', 'values': ['21.5470744134292']}, {'name': 'Nov.2006', 'values': ['21.6720194065105']}, {'name': 'Dic.2006', 'values': ['21.9272679863799']}, {'name': 'Ene.2007', 'values': ['21.9624810021868']}, {'name': 'Feb.2007', 'values': ['21.9333333819646']}, {'name': 'Mar.2007', 'values': ['21.9956709586733']}, {'name': 'Abr.2007', 'values': ['21.989894309652']}, {'name': 'May.2007', 'values': ['21.7552395319357']}, {'name': 'Jun.2007', 'values': ['21.3808967171681']}, {'name': 'Jul.2007', 'values': ['21.0363413958198']}, {'name': 'Ago.2007', 'values': ['21.0332410380749']}, {'name': 'Sep.2007', 'values': ['20.9430726027556']}, {'name': 'Oct.2007', 'values': ['21.0623839546266']}, {'name': 'Nov.2007', 'values': ['21.1442316875428']}, {'name': 'Dic.2007', 'values': ['21.384329457404']}, {'name': 'Ene.2008', 'values': ['21.6259504468757']}, {'name': 'Feb.2008', 'values': ['21.6723462993459']}, {'name': 'Mar.2008', 'values': ['21.7579568465049']}, {'name': 'Abr.2008', 'values': ['21.8595407178597']}, {'name': 'May.2008', 'values': ['22.1262074671285']}, {'name': 'Jun.2008', 'values': ['22.4101218888542']}, {'name': 'Jul.2008', 'values': ['22.4552659596175']}, {'name': 'Ago.2008', 'values': ['22.5990494672103']}, {'name': 'Sep.2008', 'values': ['22.6395967793044']}, {'name': 'Oct.2008', 'values': ['22.6195899865158']}, {'name': 'Nov.2008', 'values': ['22.4805451906716']}, {'name': 'Dic.2008', 'values': ['22.2943517199436']}, {'name': 'Ene.2009', 'values': ['22.0268396696297']}, {'name': 'Feb.2009', 'values': ['21.81702514258']}, {'name': 'Mar.2009', 'values': ['21.9945990040989']}, {'name': 'Abr.2009', 'values': ['22.0206626874528']}, {'name': 'May.2009', 'values': ['22.1726407665966']}, {'name': 'Jun.2009', 'values': ['22.3433']}, {'name': 'Jul.2009', 'values': ['22.4104172821609']}, {'name': 'Ago.2009', 'values': ['22.7116168842126']}, {'name': 'Sep.2009', 'values': ['22.7293533514']}, {'name': 'Oct.2009', 'values': ['22.8261883377071']}, {'name': 'Nov.2009', 'values': ['22.7409026317838']}, {'name': 'Dic.2009', 'values': ['22.9133919056503']}, {'name': 'Ene.2010', 'values': ['23.0037473780041']}, {'name': 'Feb.2010', 'values': ['23.1745224248762']}, {'name': 'Mar.2010', 'values': ['23.5010326006324']}, {'name': 'Abr.2010', 'values': ['23.484064315982']}, {'name': 'May.2010', 'values': ['23.5016655382472']}, {'name': 'Jun.2010', 'values': ['23.4400587321246']}, {'name': 'Jul.2010', 'values': ['23.4631524484548']}, {'name': 'Ago.2010', 'values': ['23.8130230053051']}, {'name': 'Sep.2010', 'values': ['24.0863471114567']}, {'name': 'Oct.2010', 'values': ['24.2651076879782']}, {'name': 'Nov.2010', 'values': ['24.425960133554']}, {'name': 'Dic.2010', 'values': ['24.9429619137545']}, {'name': 'Ene.2011', 'values': ['25.1304770867762']}, {'name': 'Feb.2011', 'values': ['25.5823163650721']}, {'name': 'Mar.2011', 'values': ['25.9963858910796']}, {'name': 'Abr.2011', 'values': ['26.3080530419636']}, {'name': 'May.2011', 'values': ['26.739333328151']}, {'name': 'Jun.2011', 'values': ['26.9275147784916']}, {'name': 'Jul.2011', 'values': ['26.9839174827767']}, {'name': 'Ago.2011', 'values': ['27.1073211197852']}, {'name': 'Sep.2011', 'values': ['26.972795566388']}, {'name': 'Oct.2011', 'values': ['26.9034976601739']}, {'name': 'Nov.2011', 'values': ['26.7230406307941']}, {'name': 'Dic.2011', 'values': ['26.2797582953081']}, {'name': 'Ene.2012', 'values': ['25.8934896992698']}, {'name': 'Feb.2012', 'values': ['25.7152285953129']}, {'name': 'Mar.2012', 'values': ['25.7172431312293']}, {'name': 'Abr.2012', 'values': ['25.654497348564']}, {'name': 'May.2012', 'values': ['25.7840539961181']}, {'name': 'Jun.2012', 'values': ['25.9243934567753']}, {'name': 'Jul.2012', 'values': ['26.0498693224767']}, {'name': 'Ago.2012', 'values': ['26.1925779236823']}, {'name': 'Sep.2012', 'values': ['26.2572453032744']}, {'name': 'Oct.2012', 'values': ['26.514886404484']}, {'name': 'Nov.2012', 'values': ['26.7689179901535']}, {'name': 'Dic.2012', 'values': ['27.5515062471794']}, {'name': 'Ene.2013', 'values': ['28.1824913701562']}, {'name': 'Feb.2013', 'values': ['28.466670072765']}, {'name': 'Mar.2013', 'values': ['28.8870292858565']}, {'name': 'Abr.2013', 'values': ['29.2798247366635']}, {'name': 'May.2013', 'values': ['29.4235673608133']}, {'name': 'Jun.2013', 'values': ['29.5651894568001']}, {'name': 'Jul.2013', 'values': ['29.3264546148641']}, {'name': 'Ago.2013', 'values': ['29.3956160290133']}, {'name': 'Sep.2013', 'values': ['29.3930119923775']}, {'name': 'Oct.2013', 'values': ['29.476034983093']}, {'name': 'Nov.2013', 'values': ['29.3143965344202']}, {'name': 'Dic.2013', 'values': ['29.0804965974186']}, {'name': 'Ene.2014', 'values': ['28.8396364769379']}, {'name': 'Feb.2014', 'values': ['28.9971380271183']}, {'name': 'Mar.2014', 'values': ['29.4514450995533']}, {'name': 'Abr.2014', 'values': ['29.5503735770323']}, {'name': 'May.2014', 'values': ['29.7164588829636']}, {'name': 'Jun.2014', 'values': ['29.9630681472356']}, {'name': 'Jul.2014', 'values': ['29.9664917635365']}, {'name': 'Ago.2014', 'values': ['30.1041628017411']}, {'name': 'Sep.2014', 'values': ['30.2958530521125']}, {'name': 'Oct.2014', 'values': ['30.4192613232299']}, {'name': 'Nov.2014', 'values': ['30.4865451394444']}, {'name': 'Dic.2014', 'values': ['30.8395014330005']}, {'name': 'Ene.2015', 'values': ['31.6166442859875']}, {'name': 'Feb.2015', 'values': ['31.6970857294095']}, {'name': 'Mar.2015', 'values': ['32.1589893331702']}, {'name': 'Abr.2015', 'values': ['32.3737843393782']}, {'name': 'May.2015', 'values': ['32.3573248480855']}, {'name': 'Jun.2015', 'values': ['32.2672857061286']}, {'name': 'Jul.2015', 'values': ['32.1238248204923']}, {'name': 'Ago.2015', 'values': ['32.3176723863038']}, {'name': 'Sep.2015', 'values': ['32.3667040429267']}, {'name': 'Oct.2015', 'values': ['32.3395293307319']}, {'name': 'Nov.2015', 'values': ['32.3084154285408']}, {'name': 'Dic.2015', 'values': ['32.3273755219018']}, {'name': 'Ene.2016', 'values': ['32.5005516519108']}, {'name': 'Feb.2016', 'values': ['32.7072518085207']}, {'name': 'Mar.2016', 'values': ['33.0029023927467']}, {'name': 'Abr.2016', 'values': ['33.0537612940259']}, {'name': 'May.2016', 'values': ['33.185818059824']}, {'name': 'Jun.2016', 'values': ['33.4952221873726']}, {'name': 'Jul.2016', 'values': ['33.5150946926917']}, {'name': 'Ago.2016', 'values': ['33.73152600911']}, {'name': 'Sep.2016', 'values': ['33.7959771412718']}, {'name': 'Oct.2016', 'values': ['33.7959771412717']}, {'name': 'Nov.2016', 'values': ['33.845775065171']}, {'name': 'Dic.2016', 'values': ['34.2924122521582']}, {'name': 'Ene.2017', 'values': ['34.5133704238373']}, {'name': 'Feb.2017', 'values': ['34.5852568266616']}, {'name': 'Mar.2017', 'values': ['34.7742305443359']}, {'name': 'Abr.2017', 'values': ['34.5813290536344']}, {'name': 'May.2017', 'values': ['34.5101333709272']}, {'name': 'Jun.2017', 'values': ['34.4903118002603']}, {'name': 'Jul.2017', 'values': ['34.4876991452323']}, {'name': 'Ago.2017', 'values': ['34.3748159822628']}, {'name': 'Sep.2017', 'values': ['34.4141152753778']}, {'name': 'Oct.2017', 'values': ['34.7261442501962']}, {'name': 'Nov.2017', 'values': ['34.8868836848441']}, {'name': 'Dic.2017', 'values': ['34.9922008554752']}, {'name': 'Ene.2018', 'values': ['34.8708150120799']}, {'name': 'Feb.2018', 'values': ['35.0993682177067']}, {'name': 'Mar.2018', 'values': ['35.7689788458165']}, {'name': 'Abr.2018', 'values': ['36.3724096374286']}, {'name': 'May.2018', 'values': ['37.0747558454889']}, {'name': 'Jun.2018', 'values': ['37.5759427665418']}, {'name': 'Jul.2018', 'values': ['37.7896308354988']}, {'name': 'Ago.2018', 'values': ['38.508285278336']}, {'name': 'Sep.2018', 'values': ['38.9920208220928']}, {'name': 'Oct.2018', 'values': ['39.4680224169543']}, {'name': 'Nov.2018', 'values': ['40.0664333865932']}, {'name': 'Dic.2018', 'values': ['40.6476983656651']}, {'name': 'Ene.2019', 'values': ['40.0584606318243']}, {'name': 'Feb.2019', 'values': ['40.2484875237157']}, {'name': 'Mar.2019', 'values': ['40.2395224562993']}, {'name': 'Abr.2019', 'values': ['40.299270675872']}, {'name': 'May.2019', 'values': ['40.6878414664276']}, {'name': 'Jun.2019', 'values': ['40.5234330969238']}, {'name': 'Jul.2019', 'values': ['40.4084878161746']}, {'name': 'Ago.2019', 'values': ['40.4333141361124']}, {'name': 'Sep.2019', 'values': ['40.5492446017073']}, {'name': 'Oct.2019', 'values': ['41.1340230477477']}, {'name': 'Nov.2019', 'values': ['41.8451435128125']}, {'name': 'Dic.2019', 'values': ['42.0572083929269']}, {'name': 'Ene.2020', 'values': ['40.8629293641711']}, {'name': 'Feb.2020', 'values': ['41.243429914631']}, {'name': 'Mar.2020', 'values': ['41.095162302735']}, {'name': 'Abr.2020', 'values': ['41.0455889634242']}, {'name': 'May.2020', 'values': ['41.25511931135']}, {'name': 'Jun.2020', 'values': ['41.1414493534']}, {'name': 'Jul.2020', 'values': ['41.19318399811']}, {'name': 'Ago.2020', 'values': ['41.229490818']}, {'name': 'Sep.2020', 'values': ['41.35759834']}, {'name': 'Oct.2020', 'values': ['41.9074113832042']}, {'name': 'Nov.2020', 'values': ['42.46070476']}, {'name': 'Dic.2020', 'values': ['42.73331901254']}]

In [256]:
periodos=response_json.get("periods")
prod_huevos=[]
for i in periodos:
    valores_list=i["values"]
    for w in valores_list:
        w=str(w)
        prod_huevos.append(w)
        
print(prod_huevos)

['15.523881756262', '15.5250038451462', '15.582628588372', '15.7633713399981', '16.0274796928292', '16.3098316823085', '16.5857346049214', '16.8684881783112', '17.191168285935', '17.4959021877325', '17.5272602671252', '17.4382581247175', '17.3347516487421', '17.28161799002', '17.288030901844', '17.2182812058888', '17.1374888665008', '17.0355447836606', '16.9045097730874', '16.689187157616', '16.5511382422761', '16.4216949474712', '16.2129525913242', '16.2813257020717', '16.3265053079763', '16.3595217569966', '16.5851070064416', '16.8254395282061', '17.0391217374588', '17.3008739935121', '17.4443264310772', '17.5546028466281', '17.6799007095404', '17.8015955623828', '17.9713425785068', '18.1976912665635', '18.3018272227198', '18.7642068716676', '19.347538058162', '19.7705825909539', '20.1752110956124', '20.5997192520804', '20.9322512026017', '21.0791366249634', '21.3342374090355', '21.5470744134292', '21.6720194065105', '21.9272679863799', '21.9624810021868', '21.9333333819646', '21.9956709586733', '21.989894309652', '21.7552395319357', '21.3808967171681', '21.0363413958198', '21.0332410380749', '20.9430726027556', '21.0623839546266', '21.1442316875428', '21.384329457404', '21.6259504468757', '21.6723462993459', '21.7579568465049', '21.8595407178597', '22.1262074671285', '22.4101218888542', '22.4552659596175', '22.5990494672103', '22.6395967793044', '22.6195899865158', '22.4805451906716', '22.2943517199436', '22.0268396696297', '21.81702514258', '21.9945990040989', '22.0206626874528', '22.1726407665966', '22.3433', '22.4104172821609', '22.7116168842126', '22.7293533514', '22.8261883377071', '22.7409026317838', '22.9133919056503', '23.0037473780041', '23.1745224248762', '23.5010326006324', '23.484064315982', '23.5016655382472', '23.4400587321246', '23.4631524484548', '23.8130230053051', '24.0863471114567', '24.2651076879782', '24.425960133554', '24.9429619137545', '25.1304770867762', '25.5823163650721', '25.9963858910796', '26.3080530419636', '26.739333328151', '26.9275147784916', '26.9839174827767', '27.1073211197852', '26.972795566388', '26.9034976601739', '26.7230406307941', '26.2797582953081', '25.8934896992698', '25.7152285953129', '25.7172431312293', '25.654497348564', '25.7840539961181', '25.9243934567753', '26.0498693224767', '26.1925779236823', '26.2572453032744', '26.514886404484', '26.7689179901535', '27.5515062471794', '28.1824913701562', '28.466670072765', '28.8870292858565', '29.2798247366635', '29.4235673608133', '29.5651894568001', '29.3264546148641', '29.3956160290133', '29.3930119923775', '29.476034983093', '29.3143965344202', '29.0804965974186', '28.8396364769379', '28.9971380271183', '29.4514450995533', '29.5503735770323', '29.7164588829636', '29.9630681472356', '29.9664917635365', '30.1041628017411', '30.2958530521125', '30.4192613232299', '30.4865451394444', '30.8395014330005', '31.6166442859875', '31.6970857294095', '32.1589893331702', '32.3737843393782', '32.3573248480855', '32.2672857061286', '32.1238248204923', '32.3176723863038', '32.3667040429267', '32.3395293307319', '32.3084154285408', '32.3273755219018', '32.5005516519108', '32.7072518085207', '33.0029023927467', '33.0537612940259', '33.185818059824', '33.4952221873726', '33.5150946926917', '33.73152600911', '33.7959771412718', '33.7959771412717', '33.845775065171', '34.2924122521582', '34.5133704238373', '34.5852568266616', '34.7742305443359', '34.5813290536344', '34.5101333709272', '34.4903118002603', '34.4876991452323', '34.3748159822628', '34.4141152753778', '34.7261442501962', '34.8868836848441', '34.9922008554752', '34.8708150120799', '35.0993682177067', '35.7689788458165', '36.3724096374286', '37.0747558454889', '37.5759427665418', '37.7896308354988', '38.508285278336', '38.9920208220928', '39.4680224169543', '40.0664333865932', '40.6476983656651', '40.0584606318243', '40.2484875237157', '40.2395224562993', '40.299270675872', '40.6878414664276', '40.5234330969238', '40.4084878161746', '40.4333141361124', '40.5492446017073', '41.1340230477477', '41.8451435128125', '42.0572083929269', '40.8629293641711', '41.243429914631', '41.095162302735', '41.0455889634242', '41.25511931135', '41.1414493534', '41.19318399811', '41.229490818', '41.35759834', '41.9074113832042', '42.46070476', '42.73331901254']

In [257]:
fechas=[]
for i in periodos:
    nombres=i["name"]
    fechas.append(nombres)
print(fechas)

['Ene.2003', 'Feb.2003', 'Mar.2003', 'Abr.2003', 'May.2003', 'Jun.2003', 'Jul.2003', 'Ago.2003', 'Sep.2003', 'Oct.2003', 'Nov.2003', 'Dic.2003', 'Ene.2004', 'Feb.2004', 'Mar.2004', 'Abr.2004', 'May.2004', 'Jun.2004', 'Jul.2004', 'Ago.2004', 'Sep.2004', 'Oct.2004', 'Nov.2004', 'Dic.2004', 'Ene.2005', 'Feb.2005', 'Mar.2005', 'Abr.2005', 'May.2005', 'Jun.2005', 'Jul.2005', 'Ago.2005', 'Sep.2005', 'Oct.2005', 'Nov.2005', 'Dic.2005', 'Ene.2006', 'Feb.2006', 'Mar.2006', 'Abr.2006', 'May.2006', 'Jun.2006', 'Jul.2006', 'Ago.2006', 'Sep.2006', 'Oct.2006', 'Nov.2006', 'Dic.2006', 'Ene.2007', 'Feb.2007', 'Mar.2007', 'Abr.2007', 'May.2007', 'Jun.2007', 'Jul.2007', 'Ago.2007', 'Sep.2007', 'Oct.2007', 'Nov.2007', 'Dic.2007', 'Ene.2008', 'Feb.2008', 'Mar.2008', 'Abr.2008', 'May.2008', 'Jun.2008', 'Jul.2008', 'Ago.2008', 'Sep.2008', 'Oct.2008', 'Nov.2008', 'Dic.2008', 'Ene.2009', 'Feb.2009', 'Mar.2009', 'Abr.2009', 'May.2009', 'Jun.2009', 'Jul.2009', 'Ago.2009', 'Sep.2009', 'Oct.2009', 'Nov.2009', 'Dic.2009', 'Ene.2010', 'Feb.2010', 'Mar.2010', 'Abr.2010', 'May.2010', 'Jun.2010', 'Jul.2010', 'Ago.2010', 'Sep.2010', 'Oct.2010', 'Nov.2010', 'Dic.2010', 'Ene.2011', 'Feb.2011', 'Mar.2011', 'Abr.2011', 'May.2011', 'Jun.2011', 'Jul.2011', 'Ago.2011', 'Sep.2011', 'Oct.2011', 'Nov.2011', 'Dic.2011', 'Ene.2012', 'Feb.2012', 'Mar.2012', 'Abr.2012', 'May.2012', 'Jun.2012', 'Jul.2012', 'Ago.2012', 'Sep.2012', 'Oct.2012', 'Nov.2012', 'Dic.2012', 'Ene.2013', 'Feb.2013', 'Mar.2013', 'Abr.2013', 'May.2013', 'Jun.2013', 'Jul.2013', 'Ago.2013', 'Sep.2013', 'Oct.2013', 'Nov.2013', 'Dic.2013', 'Ene.2014', 'Feb.2014', 'Mar.2014', 'Abr.2014', 'May.2014', 'Jun.2014', 'Jul.2014', 'Ago.2014', 'Sep.2014', 'Oct.2014', 'Nov.2014', 'Dic.2014', 'Ene.2015', 'Feb.2015', 'Mar.2015', 'Abr.2015', 'May.2015', 'Jun.2015', 'Jul.2015', 'Ago.2015', 'Sep.2015', 'Oct.2015', 'Nov.2015', 'Dic.2015', 'Ene.2016', 'Feb.2016', 'Mar.2016', 'Abr.2016', 'May.2016', 'Jun.2016', 'Jul.2016', 'Ago.2016', 'Sep.2016', 'Oct.2016', 'Nov.2016', 'Dic.2016', 'Ene.2017', 'Feb.2017', 'Mar.2017', 'Abr.2017', 'May.2017', 'Jun.2017', 'Jul.2017', 'Ago.2017', 'Sep.2017', 'Oct.2017', 'Nov.2017', 'Dic.2017', 'Ene.2018', 'Feb.2018', 'Mar.2018', 'Abr.2018', 'May.2018', 'Jun.2018', 'Jul.2018', 'Ago.2018', 'Sep.2018', 'Oct.2018', 'Nov.2018', 'Dic.2018', 'Ene.2019', 'Feb.2019', 'Mar.2019', 'Abr.2019', 'May.2019', 'Jun.2019', 'Jul.2019', 'Ago.2019', 'Sep.2019', 'Oct.2019', 'Nov.2019', 'Dic.2019', 'Ene.2020', 'Feb.2020', 'Mar.2020', 'Abr.2020', 'May.2020', 'Jun.2020', 'Jul.2020', 'Ago.2020', 'Sep.2020', 'Oct.2020', 'Nov.2020', 'Dic.2020']

In [258]:
diccionario22= {"Fechas":fechas, "Valores":prod_huevos}
print(diccionario22)

{'Fechas': ['Ene.2003', 'Feb.2003', 'Mar.2003', 'Abr.2003', 'May.2003', 'Jun.2003', 'Jul.2003', 'Ago.2003', 'Sep.2003', 'Oct.2003', 'Nov.2003', 'Dic.2003', 'Ene.2004', 'Feb.2004', 'Mar.2004', 'Abr.2004', 'May.2004', 'Jun.2004', 'Jul.2004', 'Ago.2004', 'Sep.2004', 'Oct.2004', 'Nov.2004', 'Dic.2004', 'Ene.2005', 'Feb.2005', 'Mar.2005', 'Abr.2005', 'May.2005', 'Jun.2005', 'Jul.2005', 'Ago.2005', 'Sep.2005', 'Oct.2005', 'Nov.2005', 'Dic.2005', 'Ene.2006', 'Feb.2006', 'Mar.2006', 'Abr.2006', 'May.2006', 'Jun.2006', 'Jul.2006', 'Ago.2006', 'Sep.2006', 'Oct.2006', 'Nov.2006', 'Dic.2006', 'Ene.2007', 'Feb.2007', 'Mar.2007', 'Abr.2007', 'May.2007', 'Jun.2007', 'Jul.2007', 'Ago.2007', 'Sep.2007', 'Oct.2007', 'Nov.2007', 'Dic.2007', 'Ene.2008', 'Feb.2008', 'Mar.2008', 'Abr.2008', 'May.2008', 'Jun.2008', 'Jul.2008', 'Ago.2008', 'Sep.2008', 'Oct.2008', 'Nov.2008', 'Dic.2008', 'Ene.2009', 'Feb.2009', 'Mar.2009', 'Abr.2009', 'May.2009', 'Jun.2009', 'Jul.2009', 'Ago.2009', 'Sep.2009', 'Oct.2009', 'Nov.2009', 'Dic.2009', 'Ene.2010', 'Feb.2010', 'Mar.2010', 'Abr.2010', 'May.2010', 'Jun.2010', 'Jul.2010', 'Ago.2010', 'Sep.2010', 'Oct.2010', 'Nov.2010', 'Dic.2010', 'Ene.2011', 'Feb.2011', 'Mar.2011', 'Abr.2011', 'May.2011', 'Jun.2011', 'Jul.2011', 'Ago.2011', 'Sep.2011', 'Oct.2011', 'Nov.2011', 'Dic.2011', 'Ene.2012', 'Feb.2012', 'Mar.2012', 'Abr.2012', 'May.2012', 'Jun.2012', 'Jul.2012', 'Ago.2012', 'Sep.2012', 'Oct.2012', 'Nov.2012', 'Dic.2012', 'Ene.2013', 'Feb.2013', 'Mar.2013', 'Abr.2013', 'May.2013', 'Jun.2013', 'Jul.2013', 'Ago.2013', 'Sep.2013', 'Oct.2013', 'Nov.2013', 'Dic.2013', 'Ene.2014', 'Feb.2014', 'Mar.2014', 'Abr.2014', 'May.2014', 'Jun.2014', 'Jul.2014', 'Ago.2014', 'Sep.2014', 'Oct.2014', 'Nov.2014', 'Dic.2014', 'Ene.2015', 'Feb.2015', 'Mar.2015', 'Abr.2015', 'May.2015', 'Jun.2015', 'Jul.2015', 'Ago.2015', 'Sep.2015', 'Oct.2015', 'Nov.2015', 'Dic.2015', 'Ene.2016', 'Feb.2016', 'Mar.2016', 'Abr.2016', 'May.2016', 'Jun.2016', 'Jul.2016', 'Ago.2016', 'Sep.2016', 'Oct.2016', 'Nov.2016', 'Dic.2016', 'Ene.2017', 'Feb.2017', 'Mar.2017', 'Abr.2017', 'May.2017', 'Jun.2017', 'Jul.2017', 'Ago.2017', 'Sep.2017', 'Oct.2017', 'Nov.2017', 'Dic.2017', 'Ene.2018', 'Feb.2018', 'Mar.2018', 'Abr.2018', 'May.2018', 'Jun.2018', 'Jul.2018', 'Ago.2018', 'Sep.2018', 'Oct.2018', 'Nov.2018', 'Dic.2018', 'Ene.2019', 'Feb.2019', 'Mar.2019', 'Abr.2019', 'May.2019', 'Jun.2019', 'Jul.2019', 'Ago.2019', 'Sep.2019', 'Oct.2019', 'Nov.2019', 'Dic.2019', 'Ene.2020', 'Feb.2020', 'Mar.2020', 'Abr.2020', 'May.2020', 'Jun.2020', 'Jul.2020', 'Ago.2020', 'Sep.2020', 'Oct.2020', 'Nov.2020', 'Dic.2020'], 'Valores': ['15.523881756262', '15.5250038451462', '15.582628588372', '15.7633713399981', '16.0274796928292', '16.3098316823085', '16.5857346049214', '16.8684881783112', '17.191168285935', '17.4959021877325', '17.5272602671252', '17.4382581247175', '17.3347516487421', '17.28161799002', '17.288030901844', '17.2182812058888', '17.1374888665008', '17.0355447836606', '16.9045097730874', '16.689187157616', '16.5511382422761', '16.4216949474712', '16.2129525913242', '16.2813257020717', '16.3265053079763', '16.3595217569966', '16.5851070064416', '16.8254395282061', '17.0391217374588', '17.3008739935121', '17.4443264310772', '17.5546028466281', '17.6799007095404', '17.8015955623828', '17.9713425785068', '18.1976912665635', '18.3018272227198', '18.7642068716676', '19.347538058162', '19.7705825909539', '20.1752110956124', '20.5997192520804', '20.9322512026017', '21.0791366249634', '21.3342374090355', '21.5470744134292', '21.6720194065105', '21.9272679863799', '21.9624810021868', '21.9333333819646', '21.9956709586733', '21.989894309652', '21.7552395319357', '21.3808967171681', '21.0363413958198', '21.0332410380749', '20.9430726027556', '21.0623839546266', '21.1442316875428', '21.384329457404', '21.6259504468757', '21.6723462993459', '21.7579568465049', '21.8595407178597', '22.1262074671285', '22.4101218888542', '22.4552659596175', '22.5990494672103', '22.6395967793044', '22.6195899865158', '22.4805451906716', '22.2943517199436', '22.0268396696297', '21.81702514258', '21.9945990040989', '22.0206626874528', '22.1726407665966', '22.3433', '22.4104172821609', '22.7116168842126', '22.7293533514', '22.8261883377071', '22.7409026317838', '22.9133919056503', '23.0037473780041', '23.1745224248762', '23.5010326006324', '23.484064315982', '23.5016655382472', '23.4400587321246', '23.4631524484548', '23.8130230053051', '24.0863471114567', '24.2651076879782', '24.425960133554', '24.9429619137545', '25.1304770867762', '25.5823163650721', '25.9963858910796', '26.3080530419636', '26.739333328151', '26.9275147784916', '26.9839174827767', '27.1073211197852', '26.972795566388', '26.9034976601739', '26.7230406307941', '26.2797582953081', '25.8934896992698', '25.7152285953129', '25.7172431312293', '25.654497348564', '25.7840539961181', '25.9243934567753', '26.0498693224767', '26.1925779236823', '26.2572453032744', '26.514886404484', '26.7689179901535', '27.5515062471794', '28.1824913701562', '28.466670072765', '28.8870292858565', '29.2798247366635', '29.4235673608133', '29.5651894568001', '29.3264546148641', '29.3956160290133', '29.3930119923775', '29.476034983093', '29.3143965344202', '29.0804965974186', '28.8396364769379', '28.9971380271183', '29.4514450995533', '29.5503735770323', '29.7164588829636', '29.9630681472356', '29.9664917635365', '30.1041628017411', '30.2958530521125', '30.4192613232299', '30.4865451394444', '30.8395014330005', '31.6166442859875', '31.6970857294095', '32.1589893331702', '32.3737843393782', '32.3573248480855', '32.2672857061286', '32.1238248204923', '32.3176723863038', '32.3667040429267', '32.3395293307319', '32.3084154285408', '32.3273755219018', '32.5005516519108', '32.7072518085207', '33.0029023927467', '33.0537612940259', '33.185818059824', '33.4952221873726', '33.5150946926917', '33.73152600911', '33.7959771412718', '33.7959771412717', '33.845775065171', '34.2924122521582', '34.5133704238373', '34.5852568266616', '34.7742305443359', '34.5813290536344', '34.5101333709272', '34.4903118002603', '34.4876991452323', '34.3748159822628', '34.4141152753778', '34.7261442501962', '34.8868836848441', '34.9922008554752', '34.8708150120799', '35.0993682177067', '35.7689788458165', '36.3724096374286', '37.0747558454889', '37.5759427665418', '37.7896308354988', '38.508285278336', '38.9920208220928', '39.4680224169543', '40.0664333865932', '40.6476983656651', '40.0584606318243', '40.2484875237157', '40.2395224562993', '40.299270675872', '40.6878414664276', '40.5234330969238', '40.4084878161746', '40.4333141361124', '40.5492446017073', '41.1340230477477', '41.8451435128125', '42.0572083929269', '40.8629293641711', '41.243429914631', '41.095162302735', '41.0455889634242', '41.25511931135', '41.1414493534', '41.19318399811', '41.229490818', '41.35759834', '41.9074113832042', '42.46070476', '42.73331901254']}

In [259]:
df22=pd.DataFrame(diccionario22)
df22

       Fechas           Valores
0    Ene.2003   15.523881756262
1    Feb.2003  15.5250038451462
2    Mar.2003   15.582628588372
3    Abr.2003  15.7633713399981
4    May.2003  16.0274796928292
..        ...               ...
211  Ago.2020      41.229490818
212  Sep.2020       41.35759834
213  Oct.2020  41.9074113832042
214  Nov.2020       42.46070476
215  Dic.2020    42.73331901254

[216 rows x 2 columns]

In [260]:
df22.rename(columns={'Valores':'Huevos'}, inplace=True)
df22.head()

     Fechas            Huevos
0  Ene.2003   15.523881756262
1  Feb.2003  15.5250038451462
2  Mar.2003   15.582628588372
3  Abr.2003  15.7633713399981
4  May.2003  16.0274796928292

In [ ]:
# DATOS DE PRODUCCIÓN PECUARIA DE PORCINO

In [261]:
url_base="https://estadisticas.bcrp.gob.pe/estadisticas/series/api/"
cod_ser="PN01803AM"
formato="/json"
per="/2003-1/2020-12"
url=url_base+cod_ser+formato+per
print(url)

https://estadisticas.bcrp.gob.pe/estadisticas/series/api/PN01803AM/json/2003-1/2020-12

In [262]:
import requests
response=requests.get(url)
print(response)

<Response [200]>

In [263]:
# extraer en formato json
response_json=response.json()
print(response_json)

{'config': {'title': 'ProducciÃ³n agropecuaria (miles de toneladas)', 'series': [{'name': 'ProducciÃ³n agropecuaria (miles de toneladas) - Pecuario - Porcino', 'dec': '1'}]}, 'periods': [{'name': 'Ene.2003', 'values': ['9.93583302']}, {'name': 'Feb.2003', 'values': ['10.0848254666667']}, {'name': 'Mar.2003', 'values': ['10.4238877573333']}, {'name': 'Abr.2003', 'values': ['10.3221136224']}, {'name': 'May.2003', 'values': ['10.4820623517333']}, {'name': 'Jun.2003', 'values': ['10.3674184']}, {'name': 'Jul.2003', 'values': ['10.5010870450168']}, {'name': 'Ago.2003', 'values': ['10.1070323693333']}, {'name': 'Sep.2003', 'values': ['9.82544411997333']}, {'name': 'Oct.2003', 'values': ['9.82819100466667']}, {'name': 'Nov.2003', 'values': ['10.1235390466667']}, {'name': 'Dic.2003', 'values': ['11.6496761741333']}, {'name': 'Ene.2004', 'values': ['10.6005667905333']}, {'name': 'Feb.2004', 'values': ['10.26004515']}, {'name': 'Mar.2004', 'values': ['10.5558971272667']}, {'name': 'Abr.2004', 'values': ['10.7879251093333']}, {'name': 'May.2004', 'values': ['10.790757122']}, {'name': 'Jun.2004', 'values': ['10.5536519733333']}, {'name': 'Jul.2004', 'values': ['10.8536880225333']}, {'name': 'Ago.2004', 'values': ['10.7308414146667']}, {'name': 'Sep.2004', 'values': ['10.6953505533333']}, {'name': 'Oct.2004', 'values': ['10.8445777370667']}, {'name': 'Nov.2004', 'values': ['11.0132759066667']}, {'name': 'Dic.2004', 'values': ['12.930350188']}, {'name': 'Ene.2005', 'values': ['10.4757559308944']}, {'name': 'Feb.2005', 'values': ['10.5619419609445']}, {'name': 'Mar.2005', 'values': ['11.0358104778321']}, {'name': 'Abr.2005', 'values': ['11.1569692179104']}, {'name': 'May.2005', 'values': ['11.453840926102']}, {'name': 'Jun.2005', 'values': ['11.1971943699695']}, {'name': 'Jul.2005', 'values': ['11.6506499548401']}, {'name': 'Ago.2005', 'values': ['11.6265240760727']}, {'name': 'Sep.2005', 'values': ['11.5892569624613']}, {'name': 'Oct.2005', 'values': ['11.7419056433317']}, {'name': 'Nov.2005', 'values': ['11.5171015014939']}, {'name': 'Dic.2005', 'values': ['13.197588209498']}, {'name': 'Ene.2006', 'values': ['11.2166337274267']}, {'name': 'Feb.2006', 'values': ['11.1271797564533']}, {'name': 'Mar.2006', 'values': ['11.2642011715467']}, {'name': 'Abr.2006', 'values': ['11.86826486656']}, {'name': 'May.2006', 'values': ['12.21866608592']}, {'name': 'Jun.2006', 'values': ['11.9831817448333']}, {'name': 'Jul.2006', 'values': ['12.414076084']}, {'name': 'Ago.2006', 'values': ['12.3730823066667']}, {'name': 'Sep.2006', 'values': ['12.3087512197333']}, {'name': 'Oct.2006', 'values': ['12.3833681403733']}, {'name': 'Nov.2006', 'values': ['11.9877129923253']}, {'name': 'Dic.2006', 'values': ['13.7258666765413']}, {'name': 'Ene.2007', 'values': ['11.4934253653333']}, {'name': 'Feb.2007', 'values': ['11.3939218986667']}, {'name': 'Mar.2007', 'values': ['11.9728222755556']}, {'name': 'Abr.2007', 'values': ['12.3572664746667']}, {'name': 'May.2007', 'values': ['12.7412889866667']}, {'name': 'Jun.2007', 'values': ['12.7813547253333']}, {'name': 'Jul.2007', 'values': ['13.4315991266667']}, {'name': 'Ago.2007', 'values': ['12.851162992']}, {'name': 'Sep.2007', 'values': ['12.503036012']}, {'name': 'Oct.2007', 'values': ['13.2966782133333']}, {'name': 'Nov.2007', 'values': ['12.54328136']}, {'name': 'Dic.2007', 'values': ['15.3275289333333']}, {'name': 'Ene.2008', 'values': ['11.790277914']}, {'name': 'Feb.2008', 'values': ['11.4867293633333']}, {'name': 'Mar.2008', 'values': ['11.9160676866667']}, {'name': 'Abr.2008', 'values': ['12.3612490733333']}, {'name': 'May.2008', 'values': ['12.6017961933333']}, {'name': 'Jun.2008', 'values': ['12.813302994']}, {'name': 'Jul.2008', 'values': ['13.5459134846667']}, {'name': 'Ago.2008', 'values': ['12.7289827746667']}, {'name': 'Sep.2008', 'values': ['12.62746332']}, {'name': 'Oct.2008', 'values': ['13.4261082466667']}, {'name': 'Nov.2008', 'values': ['12.7670775966667']}, {'name': 'Dic.2008', 'values': ['15.5300698466667']}, {'name': 'Ene.2009', 'values': ['11.7996827075611']}, {'name': 'Feb.2009', 'values': ['11.7822867361506']}, {'name': 'Mar.2009', 'values': ['11.930942716523']}, {'name': 'Abr.2009', 'values': ['12.391947739191']}, {'name': 'May.2009', 'values': ['12.1835890880889']}, {'name': 'Jun.2009', 'values': ['12.3291958000774']}, {'name': 'Jul.2009', 'values': ['13.1292533910195']}, {'name': 'Ago.2009', 'values': ['12.5694086030214']}, {'name': 'Sep.2009', 'values': ['12.6032165476114']}, {'name': 'Oct.2009', 'values': ['13.6642567008559']}, {'name': 'Nov.2009', 'values': ['12.8688822073961']}, {'name': 'Dic.2009', 'values': ['15.7049170808138']}, {'name': 'Ene.2010', 'values': ['12.1133412375396']}, {'name': 'Feb.2010', 'values': ['11.9331138853945']}, {'name': 'Mar.2010', 'values': ['12.2977066201421']}, {'name': 'Abr.2010', 'values': ['12.3540895172229']}, {'name': 'May.2010', 'values': ['12.7079800295163']}, {'name': 'Jun.2010', 'values': ['12.762534664718']}, {'name': 'Jul.2010', 'values': ['13.2651345172009']}, {'name': 'Ago.2010', 'values': ['12.8257139583724']}, {'name': 'Sep.2010', 'values': ['12.7764305892107']}, {'name': 'Oct.2010', 'values': ['12.9849793465657']}, {'name': 'Nov.2010', 'values': ['12.9437665723401']}, {'name': 'Dic.2010', 'values': ['15.3442551232132']}, {'name': 'Ene.2011', 'values': ['12.5790262464671']}, {'name': 'Feb.2011', 'values': ['12.2284476937753']}, {'name': 'Mar.2011', 'values': ['12.5210167581822']}, {'name': 'Abr.2011', 'values': ['12.8044498864797']}, {'name': 'May.2011', 'values': ['13.2571958785713']}, {'name': 'Jun.2011', 'values': ['13.1272285209127']}, {'name': 'Jul.2011', 'values': ['13.5460334963678']}, {'name': 'Ago.2011', 'values': ['12.9420371280764']}, {'name': 'Sep.2011', 'values': ['12.5810594036748']}, {'name': 'Oct.2011', 'values': ['12.7742490176767']}, {'name': 'Nov.2011', 'values': ['12.8300431337543']}, {'name': 'Dic.2011', 'values': ['15.3002233521235']}, {'name': 'Ene.2012', 'values': ['13.3860804121627']}, {'name': 'Feb.2012', 'values': ['13.0888031206254']}, {'name': 'Mar.2012', 'values': ['13.2886293984366']}, {'name': 'Abr.2012', 'values': ['13.5688812942339']}, {'name': 'May.2012', 'values': ['14.2961587382492']}, {'name': 'Jun.2012', 'values': ['14.0602954271249']}, {'name': 'Jul.2012', 'values': ['14.560209324814']}, {'name': 'Ago.2012', 'values': ['13.913924623923']}, {'name': 'Sep.2012', 'values': ['13.6791629443653']}, {'name': 'Oct.2012', 'values': ['13.8472432380362']}, {'name': 'Nov.2012', 'values': ['13.8943159474793']}, {'name': 'Dic.2012', 'values': ['16.7189279210187']}, {'name': 'Ene.2013', 'values': ['14.210239910949']}, {'name': 'Feb.2013', 'values': ['13.827768169928']}, {'name': 'Mar.2013', 'values': ['13.6088194846667']}, {'name': 'Abr.2013', 'values': ['13.7455188416667']}, {'name': 'May.2013', 'values': ['14.5305947666667']}, {'name': 'Jun.2013', 'values': ['14.1552333816667']}, {'name': 'Jul.2013', 'values': ['14.8150795533333']}, {'name': 'Ago.2013', 'values': ['14.1235054815333']}, {'name': 'Sep.2013', 'values': ['13.8826407286667']}, {'name': 'Oct.2013', 'values': ['14.005484443']}, {'name': 'Nov.2013', 'values': ['13.9154788813333']}, {'name': 'Dic.2013', 'values': ['16.5706431066667']}, {'name': 'Ene.2014', 'values': ['14.4076992622545']}, {'name': 'Feb.2014', 'values': ['14.1017536486728']}, {'name': 'Mar.2014', 'values': ['14.2298268323063']}, {'name': 'Abr.2014', 'values': ['14.49700722']}, {'name': 'May.2014', 'values': ['15.1333050047263']}, {'name': 'Jun.2014', 'values': ['15.0612127599685']}, {'name': 'Jul.2014', 'values': ['15.8203634641333']}, {'name': 'Ago.2014', 'values': ['15.2274011242']}, {'name': 'Sep.2014', 'values': ['14.9259750535938']}, {'name': 'Oct.2014', 'values': ['14.9250255946967']}, {'name': 'Nov.2014', 'values': ['14.8911122269738']}, {'name': 'Dic.2014', 'values': ['17.2991586415345']}, {'name': 'Ene.2015', 'values': ['15.384507103932']}, {'name': 'Feb.2015', 'values': ['15.0783101019062']}, {'name': 'Mar.2015', 'values': ['15.4373040586489']}, {'name': 'Abr.2015', 'values': ['15.5416199810455']}, {'name': 'May.2015', 'values': ['15.8989873735011']}, {'name': 'Jun.2015', 'values': ['16.0146513275094']}, {'name': 'Jul.2015', 'values': ['16.7831227540912']}, {'name': 'Ago.2015', 'values': ['15.8525708944146']}, {'name': 'Sep.2015', 'values': ['15.4115158204093']}, {'name': 'Oct.2015', 'values': ['15.6551636501469']}, {'name': 'Nov.2015', 'values': ['15.3661333249708']}, {'name': 'Dic.2015', 'values': ['18.1431931226163']}, {'name': 'Ene.2016', 'values': ['15.5349940689393']}, {'name': 'Feb.2016', 'values': ['15.0601757207594']}, {'name': 'Mar.2016', 'values': ['15.8413472275309']}, {'name': 'Abr.2016', 'values': ['16.1040003453572']}, {'name': 'May.2016', 'values': ['16.6588382684763']}, {'name': 'Jun.2016', 'values': ['16.6283356676503']}, {'name': 'Jul.2016', 'values': ['17.909162902097']}, {'name': 'Ago.2016', 'values': ['16.742111356184']}, {'name': 'Sep.2016', 'values': ['16.3850586861348']}, {'name': 'Oct.2016', 'values': ['16.5280823463268']}, {'name': 'Nov.2016', 'values': ['16.3884676068531']}, {'name': 'Dic.2016', 'values': ['19.4183591729375']}, {'name': 'Ene.2017', 'values': ['16.8700228890814']}, {'name': 'Feb.2017', 'values': ['16.3613901548183']}, {'name': 'Mar.2017', 'values': ['16.8692665218104']}, {'name': 'Abr.2017', 'values': ['17.1733223593699']}, {'name': 'May.2017', 'values': ['17.7815018489307']}, {'name': 'Jun.2017', 'values': ['17.6754431935425']}, {'name': 'Jul.2017', 'values': ['18.8434666079867']}, {'name': 'Ago.2017', 'values': ['17.6767950981858']}, {'name': 'Sep.2017', 'values': ['17.2033316868251']}, {'name': 'Oct.2017', 'values': ['17.074013045142']}, {'name': 'Nov.2017', 'values': ['16.8827994223834']}, {'name': 'Dic.2017', 'values': ['19.9135198831097']}, {'name': 'Ene.2018', 'values': ['17.5504649093293']}, {'name': 'Feb.2018', 'values': ['16.6974074091262']}, {'name': 'Mar.2018', 'values': ['17.3948165685736']}, {'name': 'Abr.2018', 'values': ['17.8721023586618']}, {'name': 'May.2018', 'values': ['18.1681407855755']}, {'name': 'Jun.2018', 'values': ['18.6213935012403']}, {'name': 'Jul.2018', 'values': ['20.036554078559']}, {'name': 'Ago.2018', 'values': ['18.6412505406428']}, {'name': 'Sep.2018', 'values': ['17.9554699976186']}, {'name': 'Oct.2018', 'values': ['18.0981133354298']}, {'name': 'Nov.2018', 'values': ['17.8211840154702']}, {'name': 'Dic.2018', 'values': ['21.0777413559143']}, {'name': 'Ene.2019', 'values': ['18.1630060773832']}, {'name': 'Feb.2019', 'values': ['17.8265232456075']}, {'name': 'Mar.2019', 'values': ['18.2499919332821']}, {'name': 'Abr.2019', 'values': ['18.3916245589968']}, {'name': 'May.2019', 'values': ['18.6766843927909']}, {'name': 'Jun.2019', 'values': ['19.9449543238395']}, {'name': 'Jul.2019', 'values': ['21.358977636102']}, {'name': 'Ago.2019', 'values': ['19.6790321623841']}, {'name': 'Sep.2019', 'values': ['19.1154393593972']}, {'name': 'Oct.2019', 'values': ['18.9443508713111']}, {'name': 'Nov.2019', 'values': ['18.7641592225769']}, {'name': 'Dic.2019', 'values': ['21.8968072124619']}, {'name': 'Ene.2020', 'values': ['19.2318969116228']}, {'name': 'Feb.2020', 'values': ['18.596660063499']}, {'name': 'Mar.2020', 'values': ['18.3800210284609']}, {'name': 'Abr.2020', 'values': ['18.0418718539865']}, {'name': 'May.2020', 'values': ['17.7640472591755']}, {'name': 'Jun.2020', 'values': ['18.0587400143386']}, {'name': 'Jul.2020', 'values': ['19.6383179986154']}, {'name': 'Ago.2020', 'values': ['18.9262807883526']}, {'name': 'Sep.2020', 'values': ['18.7881699225435']}, {'name': 'Oct.2020', 'values': ['18.4193432527238']}, {'name': 'Nov.2020', 'values': ['18.8016915126182']}, {'name': 'Dic.2020', 'values': ['21.8930947024']}]}

In [264]:
for key in response_json.keys():
    print(key)

config
periods

In [265]:
print(response_json["config"])

{'title': 'ProducciÃ³n agropecuaria (miles de toneladas)', 'series': [{'name': 'ProducciÃ³n agropecuaria (miles de toneladas) - Pecuario - Porcino', 'dec': '1'}]}

In [266]:
# llamar a los valores
print(response_json["periods"])

[{'name': 'Ene.2003', 'values': ['9.93583302']}, {'name': 'Feb.2003', 'values': ['10.0848254666667']}, {'name': 'Mar.2003', 'values': ['10.4238877573333']}, {'name': 'Abr.2003', 'values': ['10.3221136224']}, {'name': 'May.2003', 'values': ['10.4820623517333']}, {'name': 'Jun.2003', 'values': ['10.3674184']}, {'name': 'Jul.2003', 'values': ['10.5010870450168']}, {'name': 'Ago.2003', 'values': ['10.1070323693333']}, {'name': 'Sep.2003', 'values': ['9.82544411997333']}, {'name': 'Oct.2003', 'values': ['9.82819100466667']}, {'name': 'Nov.2003', 'values': ['10.1235390466667']}, {'name': 'Dic.2003', 'values': ['11.6496761741333']}, {'name': 'Ene.2004', 'values': ['10.6005667905333']}, {'name': 'Feb.2004', 'values': ['10.26004515']}, {'name': 'Mar.2004', 'values': ['10.5558971272667']}, {'name': 'Abr.2004', 'values': ['10.7879251093333']}, {'name': 'May.2004', 'values': ['10.790757122']}, {'name': 'Jun.2004', 'values': ['10.5536519733333']}, {'name': 'Jul.2004', 'values': ['10.8536880225333']}, {'name': 'Ago.2004', 'values': ['10.7308414146667']}, {'name': 'Sep.2004', 'values': ['10.6953505533333']}, {'name': 'Oct.2004', 'values': ['10.8445777370667']}, {'name': 'Nov.2004', 'values': ['11.0132759066667']}, {'name': 'Dic.2004', 'values': ['12.930350188']}, {'name': 'Ene.2005', 'values': ['10.4757559308944']}, {'name': 'Feb.2005', 'values': ['10.5619419609445']}, {'name': 'Mar.2005', 'values': ['11.0358104778321']}, {'name': 'Abr.2005', 'values': ['11.1569692179104']}, {'name': 'May.2005', 'values': ['11.453840926102']}, {'name': 'Jun.2005', 'values': ['11.1971943699695']}, {'name': 'Jul.2005', 'values': ['11.6506499548401']}, {'name': 'Ago.2005', 'values': ['11.6265240760727']}, {'name': 'Sep.2005', 'values': ['11.5892569624613']}, {'name': 'Oct.2005', 'values': ['11.7419056433317']}, {'name': 'Nov.2005', 'values': ['11.5171015014939']}, {'name': 'Dic.2005', 'values': ['13.197588209498']}, {'name': 'Ene.2006', 'values': ['11.2166337274267']}, {'name': 'Feb.2006', 'values': ['11.1271797564533']}, {'name': 'Mar.2006', 'values': ['11.2642011715467']}, {'name': 'Abr.2006', 'values': ['11.86826486656']}, {'name': 'May.2006', 'values': ['12.21866608592']}, {'name': 'Jun.2006', 'values': ['11.9831817448333']}, {'name': 'Jul.2006', 'values': ['12.414076084']}, {'name': 'Ago.2006', 'values': ['12.3730823066667']}, {'name': 'Sep.2006', 'values': ['12.3087512197333']}, {'name': 'Oct.2006', 'values': ['12.3833681403733']}, {'name': 'Nov.2006', 'values': ['11.9877129923253']}, {'name': 'Dic.2006', 'values': ['13.7258666765413']}, {'name': 'Ene.2007', 'values': ['11.4934253653333']}, {'name': 'Feb.2007', 'values': ['11.3939218986667']}, {'name': 'Mar.2007', 'values': ['11.9728222755556']}, {'name': 'Abr.2007', 'values': ['12.3572664746667']}, {'name': 'May.2007', 'values': ['12.7412889866667']}, {'name': 'Jun.2007', 'values': ['12.7813547253333']}, {'name': 'Jul.2007', 'values': ['13.4315991266667']}, {'name': 'Ago.2007', 'values': ['12.851162992']}, {'name': 'Sep.2007', 'values': ['12.503036012']}, {'name': 'Oct.2007', 'values': ['13.2966782133333']}, {'name': 'Nov.2007', 'values': ['12.54328136']}, {'name': 'Dic.2007', 'values': ['15.3275289333333']}, {'name': 'Ene.2008', 'values': ['11.790277914']}, {'name': 'Feb.2008', 'values': ['11.4867293633333']}, {'name': 'Mar.2008', 'values': ['11.9160676866667']}, {'name': 'Abr.2008', 'values': ['12.3612490733333']}, {'name': 'May.2008', 'values': ['12.6017961933333']}, {'name': 'Jun.2008', 'values': ['12.813302994']}, {'name': 'Jul.2008', 'values': ['13.5459134846667']}, {'name': 'Ago.2008', 'values': ['12.7289827746667']}, {'name': 'Sep.2008', 'values': ['12.62746332']}, {'name': 'Oct.2008', 'values': ['13.4261082466667']}, {'name': 'Nov.2008', 'values': ['12.7670775966667']}, {'name': 'Dic.2008', 'values': ['15.5300698466667']}, {'name': 'Ene.2009', 'values': ['11.7996827075611']}, {'name': 'Feb.2009', 'values': ['11.7822867361506']}, {'name': 'Mar.2009', 'values': ['11.930942716523']}, {'name': 'Abr.2009', 'values': ['12.391947739191']}, {'name': 'May.2009', 'values': ['12.1835890880889']}, {'name': 'Jun.2009', 'values': ['12.3291958000774']}, {'name': 'Jul.2009', 'values': ['13.1292533910195']}, {'name': 'Ago.2009', 'values': ['12.5694086030214']}, {'name': 'Sep.2009', 'values': ['12.6032165476114']}, {'name': 'Oct.2009', 'values': ['13.6642567008559']}, {'name': 'Nov.2009', 'values': ['12.8688822073961']}, {'name': 'Dic.2009', 'values': ['15.7049170808138']}, {'name': 'Ene.2010', 'values': ['12.1133412375396']}, {'name': 'Feb.2010', 'values': ['11.9331138853945']}, {'name': 'Mar.2010', 'values': ['12.2977066201421']}, {'name': 'Abr.2010', 'values': ['12.3540895172229']}, {'name': 'May.2010', 'values': ['12.7079800295163']}, {'name': 'Jun.2010', 'values': ['12.762534664718']}, {'name': 'Jul.2010', 'values': ['13.2651345172009']}, {'name': 'Ago.2010', 'values': ['12.8257139583724']}, {'name': 'Sep.2010', 'values': ['12.7764305892107']}, {'name': 'Oct.2010', 'values': ['12.9849793465657']}, {'name': 'Nov.2010', 'values': ['12.9437665723401']}, {'name': 'Dic.2010', 'values': ['15.3442551232132']}, {'name': 'Ene.2011', 'values': ['12.5790262464671']}, {'name': 'Feb.2011', 'values': ['12.2284476937753']}, {'name': 'Mar.2011', 'values': ['12.5210167581822']}, {'name': 'Abr.2011', 'values': ['12.8044498864797']}, {'name': 'May.2011', 'values': ['13.2571958785713']}, {'name': 'Jun.2011', 'values': ['13.1272285209127']}, {'name': 'Jul.2011', 'values': ['13.5460334963678']}, {'name': 'Ago.2011', 'values': ['12.9420371280764']}, {'name': 'Sep.2011', 'values': ['12.5810594036748']}, {'name': 'Oct.2011', 'values': ['12.7742490176767']}, {'name': 'Nov.2011', 'values': ['12.8300431337543']}, {'name': 'Dic.2011', 'values': ['15.3002233521235']}, {'name': 'Ene.2012', 'values': ['13.3860804121627']}, {'name': 'Feb.2012', 'values': ['13.0888031206254']}, {'name': 'Mar.2012', 'values': ['13.2886293984366']}, {'name': 'Abr.2012', 'values': ['13.5688812942339']}, {'name': 'May.2012', 'values': ['14.2961587382492']}, {'name': 'Jun.2012', 'values': ['14.0602954271249']}, {'name': 'Jul.2012', 'values': ['14.560209324814']}, {'name': 'Ago.2012', 'values': ['13.913924623923']}, {'name': 'Sep.2012', 'values': ['13.6791629443653']}, {'name': 'Oct.2012', 'values': ['13.8472432380362']}, {'name': 'Nov.2012', 'values': ['13.8943159474793']}, {'name': 'Dic.2012', 'values': ['16.7189279210187']}, {'name': 'Ene.2013', 'values': ['14.210239910949']}, {'name': 'Feb.2013', 'values': ['13.827768169928']}, {'name': 'Mar.2013', 'values': ['13.6088194846667']}, {'name': 'Abr.2013', 'values': ['13.7455188416667']}, {'name': 'May.2013', 'values': ['14.5305947666667']}, {'name': 'Jun.2013', 'values': ['14.1552333816667']}, {'name': 'Jul.2013', 'values': ['14.8150795533333']}, {'name': 'Ago.2013', 'values': ['14.1235054815333']}, {'name': 'Sep.2013', 'values': ['13.8826407286667']}, {'name': 'Oct.2013', 'values': ['14.005484443']}, {'name': 'Nov.2013', 'values': ['13.9154788813333']}, {'name': 'Dic.2013', 'values': ['16.5706431066667']}, {'name': 'Ene.2014', 'values': ['14.4076992622545']}, {'name': 'Feb.2014', 'values': ['14.1017536486728']}, {'name': 'Mar.2014', 'values': ['14.2298268323063']}, {'name': 'Abr.2014', 'values': ['14.49700722']}, {'name': 'May.2014', 'values': ['15.1333050047263']}, {'name': 'Jun.2014', 'values': ['15.0612127599685']}, {'name': 'Jul.2014', 'values': ['15.8203634641333']}, {'name': 'Ago.2014', 'values': ['15.2274011242']}, {'name': 'Sep.2014', 'values': ['14.9259750535938']}, {'name': 'Oct.2014', 'values': ['14.9250255946967']}, {'name': 'Nov.2014', 'values': ['14.8911122269738']}, {'name': 'Dic.2014', 'values': ['17.2991586415345']}, {'name': 'Ene.2015', 'values': ['15.384507103932']}, {'name': 'Feb.2015', 'values': ['15.0783101019062']}, {'name': 'Mar.2015', 'values': ['15.4373040586489']}, {'name': 'Abr.2015', 'values': ['15.5416199810455']}, {'name': 'May.2015', 'values': ['15.8989873735011']}, {'name': 'Jun.2015', 'values': ['16.0146513275094']}, {'name': 'Jul.2015', 'values': ['16.7831227540912']}, {'name': 'Ago.2015', 'values': ['15.8525708944146']}, {'name': 'Sep.2015', 'values': ['15.4115158204093']}, {'name': 'Oct.2015', 'values': ['15.6551636501469']}, {'name': 'Nov.2015', 'values': ['15.3661333249708']}, {'name': 'Dic.2015', 'values': ['18.1431931226163']}, {'name': 'Ene.2016', 'values': ['15.5349940689393']}, {'name': 'Feb.2016', 'values': ['15.0601757207594']}, {'name': 'Mar.2016', 'values': ['15.8413472275309']}, {'name': 'Abr.2016', 'values': ['16.1040003453572']}, {'name': 'May.2016', 'values': ['16.6588382684763']}, {'name': 'Jun.2016', 'values': ['16.6283356676503']}, {'name': 'Jul.2016', 'values': ['17.909162902097']}, {'name': 'Ago.2016', 'values': ['16.742111356184']}, {'name': 'Sep.2016', 'values': ['16.3850586861348']}, {'name': 'Oct.2016', 'values': ['16.5280823463268']}, {'name': 'Nov.2016', 'values': ['16.3884676068531']}, {'name': 'Dic.2016', 'values': ['19.4183591729375']}, {'name': 'Ene.2017', 'values': ['16.8700228890814']}, {'name': 'Feb.2017', 'values': ['16.3613901548183']}, {'name': 'Mar.2017', 'values': ['16.8692665218104']}, {'name': 'Abr.2017', 'values': ['17.1733223593699']}, {'name': 'May.2017', 'values': ['17.7815018489307']}, {'name': 'Jun.2017', 'values': ['17.6754431935425']}, {'name': 'Jul.2017', 'values': ['18.8434666079867']}, {'name': 'Ago.2017', 'values': ['17.6767950981858']}, {'name': 'Sep.2017', 'values': ['17.2033316868251']}, {'name': 'Oct.2017', 'values': ['17.074013045142']}, {'name': 'Nov.2017', 'values': ['16.8827994223834']}, {'name': 'Dic.2017', 'values': ['19.9135198831097']}, {'name': 'Ene.2018', 'values': ['17.5504649093293']}, {'name': 'Feb.2018', 'values': ['16.6974074091262']}, {'name': 'Mar.2018', 'values': ['17.3948165685736']}, {'name': 'Abr.2018', 'values': ['17.8721023586618']}, {'name': 'May.2018', 'values': ['18.1681407855755']}, {'name': 'Jun.2018', 'values': ['18.6213935012403']}, {'name': 'Jul.2018', 'values': ['20.036554078559']}, {'name': 'Ago.2018', 'values': ['18.6412505406428']}, {'name': 'Sep.2018', 'values': ['17.9554699976186']}, {'name': 'Oct.2018', 'values': ['18.0981133354298']}, {'name': 'Nov.2018', 'values': ['17.8211840154702']}, {'name': 'Dic.2018', 'values': ['21.0777413559143']}, {'name': 'Ene.2019', 'values': ['18.1630060773832']}, {'name': 'Feb.2019', 'values': ['17.8265232456075']}, {'name': 'Mar.2019', 'values': ['18.2499919332821']}, {'name': 'Abr.2019', 'values': ['18.3916245589968']}, {'name': 'May.2019', 'values': ['18.6766843927909']}, {'name': 'Jun.2019', 'values': ['19.9449543238395']}, {'name': 'Jul.2019', 'values': ['21.358977636102']}, {'name': 'Ago.2019', 'values': ['19.6790321623841']}, {'name': 'Sep.2019', 'values': ['19.1154393593972']}, {'name': 'Oct.2019', 'values': ['18.9443508713111']}, {'name': 'Nov.2019', 'values': ['18.7641592225769']}, {'name': 'Dic.2019', 'values': ['21.8968072124619']}, {'name': 'Ene.2020', 'values': ['19.2318969116228']}, {'name': 'Feb.2020', 'values': ['18.596660063499']}, {'name': 'Mar.2020', 'values': ['18.3800210284609']}, {'name': 'Abr.2020', 'values': ['18.0418718539865']}, {'name': 'May.2020', 'values': ['17.7640472591755']}, {'name': 'Jun.2020', 'values': ['18.0587400143386']}, {'name': 'Jul.2020', 'values': ['19.6383179986154']}, {'name': 'Ago.2020', 'values': ['18.9262807883526']}, {'name': 'Sep.2020', 'values': ['18.7881699225435']}, {'name': 'Oct.2020', 'values': ['18.4193432527238']}, {'name': 'Nov.2020', 'values': ['18.8016915126182']}, {'name': 'Dic.2020', 'values': ['21.8930947024']}]

In [267]:
periodos=response_json.get("periods")
prod_porcino=[]
for i in periodos:
    valores_list=i["values"]
    for w in valores_list:
        w=str(w)
        prod_porcino.append(w)
        
print(prod_porcino)

['9.93583302', '10.0848254666667', '10.4238877573333', '10.3221136224', '10.4820623517333', '10.3674184', '10.5010870450168', '10.1070323693333', '9.82544411997333', '9.82819100466667', '10.1235390466667', '11.6496761741333', '10.6005667905333', '10.26004515', '10.5558971272667', '10.7879251093333', '10.790757122', '10.5536519733333', '10.8536880225333', '10.7308414146667', '10.6953505533333', '10.8445777370667', '11.0132759066667', '12.930350188', '10.4757559308944', '10.5619419609445', '11.0358104778321', '11.1569692179104', '11.453840926102', '11.1971943699695', '11.6506499548401', '11.6265240760727', '11.5892569624613', '11.7419056433317', '11.5171015014939', '13.197588209498', '11.2166337274267', '11.1271797564533', '11.2642011715467', '11.86826486656', '12.21866608592', '11.9831817448333', '12.414076084', '12.3730823066667', '12.3087512197333', '12.3833681403733', '11.9877129923253', '13.7258666765413', '11.4934253653333', '11.3939218986667', '11.9728222755556', '12.3572664746667', '12.7412889866667', '12.7813547253333', '13.4315991266667', '12.851162992', '12.503036012', '13.2966782133333', '12.54328136', '15.3275289333333', '11.790277914', '11.4867293633333', '11.9160676866667', '12.3612490733333', '12.6017961933333', '12.813302994', '13.5459134846667', '12.7289827746667', '12.62746332', '13.4261082466667', '12.7670775966667', '15.5300698466667', '11.7996827075611', '11.7822867361506', '11.930942716523', '12.391947739191', '12.1835890880889', '12.3291958000774', '13.1292533910195', '12.5694086030214', '12.6032165476114', '13.6642567008559', '12.8688822073961', '15.7049170808138', '12.1133412375396', '11.9331138853945', '12.2977066201421', '12.3540895172229', '12.7079800295163', '12.762534664718', '13.2651345172009', '12.8257139583724', '12.7764305892107', '12.9849793465657', '12.9437665723401', '15.3442551232132', '12.5790262464671', '12.2284476937753', '12.5210167581822', '12.8044498864797', '13.2571958785713', '13.1272285209127', '13.5460334963678', '12.9420371280764', '12.5810594036748', '12.7742490176767', '12.8300431337543', '15.3002233521235', '13.3860804121627', '13.0888031206254', '13.2886293984366', '13.5688812942339', '14.2961587382492', '14.0602954271249', '14.560209324814', '13.913924623923', '13.6791629443653', '13.8472432380362', '13.8943159474793', '16.7189279210187', '14.210239910949', '13.827768169928', '13.6088194846667', '13.7455188416667', '14.5305947666667', '14.1552333816667', '14.8150795533333', '14.1235054815333', '13.8826407286667', '14.005484443', '13.9154788813333', '16.5706431066667', '14.4076992622545', '14.1017536486728', '14.2298268323063', '14.49700722', '15.1333050047263', '15.0612127599685', '15.8203634641333', '15.2274011242', '14.9259750535938', '14.9250255946967', '14.8911122269738', '17.2991586415345', '15.384507103932', '15.0783101019062', '15.4373040586489', '15.5416199810455', '15.8989873735011', '16.0146513275094', '16.7831227540912', '15.8525708944146', '15.4115158204093', '15.6551636501469', '15.3661333249708', '18.1431931226163', '15.5349940689393', '15.0601757207594', '15.8413472275309', '16.1040003453572', '16.6588382684763', '16.6283356676503', '17.909162902097', '16.742111356184', '16.3850586861348', '16.5280823463268', '16.3884676068531', '19.4183591729375', '16.8700228890814', '16.3613901548183', '16.8692665218104', '17.1733223593699', '17.7815018489307', '17.6754431935425', '18.8434666079867', '17.6767950981858', '17.2033316868251', '17.074013045142', '16.8827994223834', '19.9135198831097', '17.5504649093293', '16.6974074091262', '17.3948165685736', '17.8721023586618', '18.1681407855755', '18.6213935012403', '20.036554078559', '18.6412505406428', '17.9554699976186', '18.0981133354298', '17.8211840154702', '21.0777413559143', '18.1630060773832', '17.8265232456075', '18.2499919332821', '18.3916245589968', '18.6766843927909', '19.9449543238395', '21.358977636102', '19.6790321623841', '19.1154393593972', '18.9443508713111', '18.7641592225769', '21.8968072124619', '19.2318969116228', '18.596660063499', '18.3800210284609', '18.0418718539865', '17.7640472591755', '18.0587400143386', '19.6383179986154', '18.9262807883526', '18.7881699225435', '18.4193432527238', '18.8016915126182', '21.8930947024']

In [268]:
fechas=[]
for i in periodos:
    nombres=i["name"]
    fechas.append(nombres)
print(fechas)

['Ene.2003', 'Feb.2003', 'Mar.2003', 'Abr.2003', 'May.2003', 'Jun.2003', 'Jul.2003', 'Ago.2003', 'Sep.2003', 'Oct.2003', 'Nov.2003', 'Dic.2003', 'Ene.2004', 'Feb.2004', 'Mar.2004', 'Abr.2004', 'May.2004', 'Jun.2004', 'Jul.2004', 'Ago.2004', 'Sep.2004', 'Oct.2004', 'Nov.2004', 'Dic.2004', 'Ene.2005', 'Feb.2005', 'Mar.2005', 'Abr.2005', 'May.2005', 'Jun.2005', 'Jul.2005', 'Ago.2005', 'Sep.2005', 'Oct.2005', 'Nov.2005', 'Dic.2005', 'Ene.2006', 'Feb.2006', 'Mar.2006', 'Abr.2006', 'May.2006', 'Jun.2006', 'Jul.2006', 'Ago.2006', 'Sep.2006', 'Oct.2006', 'Nov.2006', 'Dic.2006', 'Ene.2007', 'Feb.2007', 'Mar.2007', 'Abr.2007', 'May.2007', 'Jun.2007', 'Jul.2007', 'Ago.2007', 'Sep.2007', 'Oct.2007', 'Nov.2007', 'Dic.2007', 'Ene.2008', 'Feb.2008', 'Mar.2008', 'Abr.2008', 'May.2008', 'Jun.2008', 'Jul.2008', 'Ago.2008', 'Sep.2008', 'Oct.2008', 'Nov.2008', 'Dic.2008', 'Ene.2009', 'Feb.2009', 'Mar.2009', 'Abr.2009', 'May.2009', 'Jun.2009', 'Jul.2009', 'Ago.2009', 'Sep.2009', 'Oct.2009', 'Nov.2009', 'Dic.2009', 'Ene.2010', 'Feb.2010', 'Mar.2010', 'Abr.2010', 'May.2010', 'Jun.2010', 'Jul.2010', 'Ago.2010', 'Sep.2010', 'Oct.2010', 'Nov.2010', 'Dic.2010', 'Ene.2011', 'Feb.2011', 'Mar.2011', 'Abr.2011', 'May.2011', 'Jun.2011', 'Jul.2011', 'Ago.2011', 'Sep.2011', 'Oct.2011', 'Nov.2011', 'Dic.2011', 'Ene.2012', 'Feb.2012', 'Mar.2012', 'Abr.2012', 'May.2012', 'Jun.2012', 'Jul.2012', 'Ago.2012', 'Sep.2012', 'Oct.2012', 'Nov.2012', 'Dic.2012', 'Ene.2013', 'Feb.2013', 'Mar.2013', 'Abr.2013', 'May.2013', 'Jun.2013', 'Jul.2013', 'Ago.2013', 'Sep.2013', 'Oct.2013', 'Nov.2013', 'Dic.2013', 'Ene.2014', 'Feb.2014', 'Mar.2014', 'Abr.2014', 'May.2014', 'Jun.2014', 'Jul.2014', 'Ago.2014', 'Sep.2014', 'Oct.2014', 'Nov.2014', 'Dic.2014', 'Ene.2015', 'Feb.2015', 'Mar.2015', 'Abr.2015', 'May.2015', 'Jun.2015', 'Jul.2015', 'Ago.2015', 'Sep.2015', 'Oct.2015', 'Nov.2015', 'Dic.2015', 'Ene.2016', 'Feb.2016', 'Mar.2016', 'Abr.2016', 'May.2016', 'Jun.2016', 'Jul.2016', 'Ago.2016', 'Sep.2016', 'Oct.2016', 'Nov.2016', 'Dic.2016', 'Ene.2017', 'Feb.2017', 'Mar.2017', 'Abr.2017', 'May.2017', 'Jun.2017', 'Jul.2017', 'Ago.2017', 'Sep.2017', 'Oct.2017', 'Nov.2017', 'Dic.2017', 'Ene.2018', 'Feb.2018', 'Mar.2018', 'Abr.2018', 'May.2018', 'Jun.2018', 'Jul.2018', 'Ago.2018', 'Sep.2018', 'Oct.2018', 'Nov.2018', 'Dic.2018', 'Ene.2019', 'Feb.2019', 'Mar.2019', 'Abr.2019', 'May.2019', 'Jun.2019', 'Jul.2019', 'Ago.2019', 'Sep.2019', 'Oct.2019', 'Nov.2019', 'Dic.2019', 'Ene.2020', 'Feb.2020', 'Mar.2020', 'Abr.2020', 'May.2020', 'Jun.2020', 'Jul.2020', 'Ago.2020', 'Sep.2020', 'Oct.2020', 'Nov.2020', 'Dic.2020']

In [269]:
diccionario23= {"Fechas":fechas, "Valores":prod_porcino}
print(diccionario23)

{'Fechas': ['Ene.2003', 'Feb.2003', 'Mar.2003', 'Abr.2003', 'May.2003', 'Jun.2003', 'Jul.2003', 'Ago.2003', 'Sep.2003', 'Oct.2003', 'Nov.2003', 'Dic.2003', 'Ene.2004', 'Feb.2004', 'Mar.2004', 'Abr.2004', 'May.2004', 'Jun.2004', 'Jul.2004', 'Ago.2004', 'Sep.2004', 'Oct.2004', 'Nov.2004', 'Dic.2004', 'Ene.2005', 'Feb.2005', 'Mar.2005', 'Abr.2005', 'May.2005', 'Jun.2005', 'Jul.2005', 'Ago.2005', 'Sep.2005', 'Oct.2005', 'Nov.2005', 'Dic.2005', 'Ene.2006', 'Feb.2006', 'Mar.2006', 'Abr.2006', 'May.2006', 'Jun.2006', 'Jul.2006', 'Ago.2006', 'Sep.2006', 'Oct.2006', 'Nov.2006', 'Dic.2006', 'Ene.2007', 'Feb.2007', 'Mar.2007', 'Abr.2007', 'May.2007', 'Jun.2007', 'Jul.2007', 'Ago.2007', 'Sep.2007', 'Oct.2007', 'Nov.2007', 'Dic.2007', 'Ene.2008', 'Feb.2008', 'Mar.2008', 'Abr.2008', 'May.2008', 'Jun.2008', 'Jul.2008', 'Ago.2008', 'Sep.2008', 'Oct.2008', 'Nov.2008', 'Dic.2008', 'Ene.2009', 'Feb.2009', 'Mar.2009', 'Abr.2009', 'May.2009', 'Jun.2009', 'Jul.2009', 'Ago.2009', 'Sep.2009', 'Oct.2009', 'Nov.2009', 'Dic.2009', 'Ene.2010', 'Feb.2010', 'Mar.2010', 'Abr.2010', 'May.2010', 'Jun.2010', 'Jul.2010', 'Ago.2010', 'Sep.2010', 'Oct.2010', 'Nov.2010', 'Dic.2010', 'Ene.2011', 'Feb.2011', 'Mar.2011', 'Abr.2011', 'May.2011', 'Jun.2011', 'Jul.2011', 'Ago.2011', 'Sep.2011', 'Oct.2011', 'Nov.2011', 'Dic.2011', 'Ene.2012', 'Feb.2012', 'Mar.2012', 'Abr.2012', 'May.2012', 'Jun.2012', 'Jul.2012', 'Ago.2012', 'Sep.2012', 'Oct.2012', 'Nov.2012', 'Dic.2012', 'Ene.2013', 'Feb.2013', 'Mar.2013', 'Abr.2013', 'May.2013', 'Jun.2013', 'Jul.2013', 'Ago.2013', 'Sep.2013', 'Oct.2013', 'Nov.2013', 'Dic.2013', 'Ene.2014', 'Feb.2014', 'Mar.2014', 'Abr.2014', 'May.2014', 'Jun.2014', 'Jul.2014', 'Ago.2014', 'Sep.2014', 'Oct.2014', 'Nov.2014', 'Dic.2014', 'Ene.2015', 'Feb.2015', 'Mar.2015', 'Abr.2015', 'May.2015', 'Jun.2015', 'Jul.2015', 'Ago.2015', 'Sep.2015', 'Oct.2015', 'Nov.2015', 'Dic.2015', 'Ene.2016', 'Feb.2016', 'Mar.2016', 'Abr.2016', 'May.2016', 'Jun.2016', 'Jul.2016', 'Ago.2016', 'Sep.2016', 'Oct.2016', 'Nov.2016', 'Dic.2016', 'Ene.2017', 'Feb.2017', 'Mar.2017', 'Abr.2017', 'May.2017', 'Jun.2017', 'Jul.2017', 'Ago.2017', 'Sep.2017', 'Oct.2017', 'Nov.2017', 'Dic.2017', 'Ene.2018', 'Feb.2018', 'Mar.2018', 'Abr.2018', 'May.2018', 'Jun.2018', 'Jul.2018', 'Ago.2018', 'Sep.2018', 'Oct.2018', 'Nov.2018', 'Dic.2018', 'Ene.2019', 'Feb.2019', 'Mar.2019', 'Abr.2019', 'May.2019', 'Jun.2019', 'Jul.2019', 'Ago.2019', 'Sep.2019', 'Oct.2019', 'Nov.2019', 'Dic.2019', 'Ene.2020', 'Feb.2020', 'Mar.2020', 'Abr.2020', 'May.2020', 'Jun.2020', 'Jul.2020', 'Ago.2020', 'Sep.2020', 'Oct.2020', 'Nov.2020', 'Dic.2020'], 'Valores': ['9.93583302', '10.0848254666667', '10.4238877573333', '10.3221136224', '10.4820623517333', '10.3674184', '10.5010870450168', '10.1070323693333', '9.82544411997333', '9.82819100466667', '10.1235390466667', '11.6496761741333', '10.6005667905333', '10.26004515', '10.5558971272667', '10.7879251093333', '10.790757122', '10.5536519733333', '10.8536880225333', '10.7308414146667', '10.6953505533333', '10.8445777370667', '11.0132759066667', '12.930350188', '10.4757559308944', '10.5619419609445', '11.0358104778321', '11.1569692179104', '11.453840926102', '11.1971943699695', '11.6506499548401', '11.6265240760727', '11.5892569624613', '11.7419056433317', '11.5171015014939', '13.197588209498', '11.2166337274267', '11.1271797564533', '11.2642011715467', '11.86826486656', '12.21866608592', '11.9831817448333', '12.414076084', '12.3730823066667', '12.3087512197333', '12.3833681403733', '11.9877129923253', '13.7258666765413', '11.4934253653333', '11.3939218986667', '11.9728222755556', '12.3572664746667', '12.7412889866667', '12.7813547253333', '13.4315991266667', '12.851162992', '12.503036012', '13.2966782133333', '12.54328136', '15.3275289333333', '11.790277914', '11.4867293633333', '11.9160676866667', '12.3612490733333', '12.6017961933333', '12.813302994', '13.5459134846667', '12.7289827746667', '12.62746332', '13.4261082466667', '12.7670775966667', '15.5300698466667', '11.7996827075611', '11.7822867361506', '11.930942716523', '12.391947739191', '12.1835890880889', '12.3291958000774', '13.1292533910195', '12.5694086030214', '12.6032165476114', '13.6642567008559', '12.8688822073961', '15.7049170808138', '12.1133412375396', '11.9331138853945', '12.2977066201421', '12.3540895172229', '12.7079800295163', '12.762534664718', '13.2651345172009', '12.8257139583724', '12.7764305892107', '12.9849793465657', '12.9437665723401', '15.3442551232132', '12.5790262464671', '12.2284476937753', '12.5210167581822', '12.8044498864797', '13.2571958785713', '13.1272285209127', '13.5460334963678', '12.9420371280764', '12.5810594036748', '12.7742490176767', '12.8300431337543', '15.3002233521235', '13.3860804121627', '13.0888031206254', '13.2886293984366', '13.5688812942339', '14.2961587382492', '14.0602954271249', '14.560209324814', '13.913924623923', '13.6791629443653', '13.8472432380362', '13.8943159474793', '16.7189279210187', '14.210239910949', '13.827768169928', '13.6088194846667', '13.7455188416667', '14.5305947666667', '14.1552333816667', '14.8150795533333', '14.1235054815333', '13.8826407286667', '14.005484443', '13.9154788813333', '16.5706431066667', '14.4076992622545', '14.1017536486728', '14.2298268323063', '14.49700722', '15.1333050047263', '15.0612127599685', '15.8203634641333', '15.2274011242', '14.9259750535938', '14.9250255946967', '14.8911122269738', '17.2991586415345', '15.384507103932', '15.0783101019062', '15.4373040586489', '15.5416199810455', '15.8989873735011', '16.0146513275094', '16.7831227540912', '15.8525708944146', '15.4115158204093', '15.6551636501469', '15.3661333249708', '18.1431931226163', '15.5349940689393', '15.0601757207594', '15.8413472275309', '16.1040003453572', '16.6588382684763', '16.6283356676503', '17.909162902097', '16.742111356184', '16.3850586861348', '16.5280823463268', '16.3884676068531', '19.4183591729375', '16.8700228890814', '16.3613901548183', '16.8692665218104', '17.1733223593699', '17.7815018489307', '17.6754431935425', '18.8434666079867', '17.6767950981858', '17.2033316868251', '17.074013045142', '16.8827994223834', '19.9135198831097', '17.5504649093293', '16.6974074091262', '17.3948165685736', '17.8721023586618', '18.1681407855755', '18.6213935012403', '20.036554078559', '18.6412505406428', '17.9554699976186', '18.0981133354298', '17.8211840154702', '21.0777413559143', '18.1630060773832', '17.8265232456075', '18.2499919332821', '18.3916245589968', '18.6766843927909', '19.9449543238395', '21.358977636102', '19.6790321623841', '19.1154393593972', '18.9443508713111', '18.7641592225769', '21.8968072124619', '19.2318969116228', '18.596660063499', '18.3800210284609', '18.0418718539865', '17.7640472591755', '18.0587400143386', '19.6383179986154', '18.9262807883526', '18.7881699225435', '18.4193432527238', '18.8016915126182', '21.8930947024']}

In [270]:
df23=pd.DataFrame(diccionario23)
df23

       Fechas           Valores
0    Ene.2003        9.93583302
1    Feb.2003  10.0848254666667
2    Mar.2003  10.4238877573333
3    Abr.2003     10.3221136224
4    May.2003  10.4820623517333
..        ...               ...
211  Ago.2020  18.9262807883526
212  Sep.2020  18.7881699225435
213  Oct.2020  18.4193432527238
214  Nov.2020  18.8016915126182
215  Dic.2020     21.8930947024

[216 rows x 2 columns]

In [271]:
df23.rename(columns={'Valores':'Porcino'}, inplace=True)
df23.head()

     Fechas           Porcino
0  Ene.2003        9.93583302
1  Feb.2003  10.0848254666667
2  Mar.2003  10.4238877573333
3  Abr.2003     10.3221136224
4  May.2003  10.4820623517333

In [ ]:
# DATOS DE PRODUCCIÓN PECUARIA DE LECHE

In [272]:
url_base="https://estadisticas.bcrp.gob.pe/estadisticas/series/api/"
cod_ser="PN01804AM"
formato="/json"
per="/2003-1/2020-12"
url=url_base+cod_ser+formato+per
print(url)

https://estadisticas.bcrp.gob.pe/estadisticas/series/api/PN01804AM/json/2003-1/2020-12

In [273]:
import requests
response=requests.get(url)
print(response)

<Response [200]>

In [274]:
# extraer en formato json
response_json=response.json()
print(response_json)

{'config': {'title': 'ProducciÃ³n agropecuaria (miles de toneladas)', 'series': [{'name': 'ProducciÃ³n agropecuaria (miles de toneladas) - Pecuario - Leche', 'dec': '1'}]}, 'periods': [{'name': 'Ene.2003', 'values': ['99.8725152088296']}, {'name': 'Feb.2003', 'values': ['99.7786528823267']}, {'name': 'Mar.2003', 'values': ['107.618680146983']}, {'name': 'Abr.2003', 'values': ['107.057547715502']}, {'name': 'May.2003', 'values': ['106.565050843249']}, {'name': 'Jun.2003', 'values': ['102.582744311122']}, {'name': 'Jul.2003', 'values': ['101.538599895408']}, {'name': 'Ago.2003', 'values': ['99.936596185305']}, {'name': 'Sep.2003', 'values': ['98.7055773906519']}, {'name': 'Oct.2003', 'values': ['100.588139288273']}, {'name': 'Nov.2003', 'values': ['98.9629611952148']}, {'name': 'Dic.2003', 'values': ['101.066865779215']}, {'name': 'Ene.2004', 'values': ['103.829474646411']}, {'name': 'Feb.2004', 'values': ['102.24008948628']}, {'name': 'Mar.2004', 'values': ['108.801917132957']}, {'name': 'Abr.2004', 'values': ['109.42748757995']}, {'name': 'May.2004', 'values': ['110.278422915']}, {'name': 'Jun.2004', 'values': ['107.8700917588']}, {'name': 'Jul.2004', 'values': ['106.95299974']}, {'name': 'Ago.2004', 'values': ['105.43720878754']}, {'name': 'Sep.2004', 'values': ['102.22390708']}, {'name': 'Oct.2004', 'values': ['103.72129019']}, {'name': 'Nov.2004', 'values': ['103.24284539']}, {'name': 'Dic.2004', 'values': ['105.454896217']}, {'name': 'Ene.2005', 'values': ['110.608958169406']}, {'name': 'Feb.2005', 'values': ['108.382865811063']}, {'name': 'Mar.2005', 'values': ['116.516358217313']}, {'name': 'Abr.2005', 'values': ['115.526937539957']}, {'name': 'May.2005', 'values': ['115.844957960439']}, {'name': 'Jun.2005', 'values': ['112.315845204328']}, {'name': 'Jul.2005', 'values': ['111.155083246087']}, {'name': 'Ago.2005', 'values': ['109.553781541151']}, {'name': 'Sep.2005', 'values': ['106.510996251563']}, {'name': 'Oct.2005', 'values': ['107.800458463637']}, {'name': 'Nov.2005', 'values': ['106.166676359739']}, {'name': 'Dic.2005', 'values': ['108.952043958197']}, {'name': 'Ene.2006', 'values': ['120.913017871']}, {'name': 'Feb.2006', 'values': ['118.46474360284']}, {'name': 'Mar.2006', 'values': ['133.182572761']}, {'name': 'Abr.2006', 'values': ['132.46564704']}, {'name': 'May.2006', 'values': ['131.820991933']}, {'name': 'Jun.2006', 'values': ['127.640806235']}, {'name': 'Jul.2006', 'values': ['125.4055629135']}, {'name': 'Ago.2006', 'values': ['121.45298391662']}, {'name': 'Sep.2006', 'values': ['115.8922724228']}, {'name': 'Oct.2006', 'values': ['117.32396185584']}, {'name': 'Nov.2006', 'values': ['115.641280914']}, {'name': 'Dic.2006', 'values': ['122.719620404744']}, {'name': 'Ene.2007', 'values': ['128.841911626']}, {'name': 'Feb.2007', 'values': ['128.041882861007']}, {'name': 'Mar.2007', 'values': ['140.3666492936']}, {'name': 'Abr.2007', 'values': ['139.067561461764']}, {'name': 'May.2007', 'values': ['139.48749663982']}, {'name': 'Jun.2007', 'values': ['134.726501332']}, {'name': 'Jul.2007', 'values': ['132.7129503266']}, {'name': 'Ago.2007', 'values': ['129.6366743569']}, {'name': 'Sep.2007', 'values': ['125.2225297107']}, {'name': 'Oct.2007', 'values': ['126.18211952412']}, {'name': 'Nov.2007', 'values': ['126.034492142641']}, {'name': 'Dic.2007', 'values': ['129.513676072745']}, {'name': 'Ene.2008', 'values': ['127.267672511488']}, {'name': 'Feb.2008', 'values': ['127.185198040595']}, {'name': 'Mar.2008', 'values': ['138.210541930028']}, {'name': 'Abr.2008', 'values': ['139.526370623894']}, {'name': 'May.2008', 'values': ['139.213364266161']}, {'name': 'Jun.2008', 'values': ['136.173177333496']}, {'name': 'Jul.2008', 'values': ['133.254095682376']}, {'name': 'Ago.2008', 'values': ['129.130265703482']}, {'name': 'Sep.2008', 'values': ['122.996077003466']}, {'name': 'Oct.2008', 'values': ['123.805524776227']}, {'name': 'Nov.2008', 'values': ['121.94993428388']}, {'name': 'Dic.2008', 'values': ['126.815984972846']}, {'name': 'Ene.2009', 'values': ['134.240586746915']}, {'name': 'Feb.2009', 'values': ['135.174853213385']}, {'name': 'Mar.2009', 'values': ['148.466414208198']}, {'name': 'Abr.2009', 'values': ['149.041131093687']}, {'name': 'May.2009', 'values': ['148.689839181076']}, {'name': 'Jun.2009', 'values': ['143.499615373874']}, {'name': 'Jul.2009', 'values': ['140.390017286329']}, {'name': 'Ago.2009', 'values': ['135.382611910227']}, {'name': 'Sep.2009', 'values': ['128.9140426196']}, {'name': 'Oct.2009', 'values': ['129.264390966427']}, {'name': 'Nov.2009', 'values': ['127.75272901402']}, {'name': 'Dic.2009', 'values': ['131.296090218531']}, {'name': 'Ene.2010', 'values': ['138.550241135044']}, {'name': 'Feb.2010', 'values': ['136.894192954858']}, {'name': 'Mar.2010', 'values': ['150.217205802633']}, {'name': 'Abr.2010', 'values': ['151.997021174445']}, {'name': 'May.2010', 'values': ['154.531245142705']}, {'name': 'Jun.2010', 'values': ['146.873774858744']}, {'name': 'Jul.2010', 'values': ['141.575160542516']}, {'name': 'Ago.2010', 'values': ['136.226744554304']}, {'name': 'Sep.2010', 'values': ['131.124637268001']}, {'name': 'Oct.2010', 'values': ['131.274596077993']}, {'name': 'Nov.2010', 'values': ['127.243626668236']}, {'name': 'Dic.2010', 'values': ['131.863644413744']}, {'name': 'Ene.2011', 'values': ['142.646173019941']}, {'name': 'Feb.2011', 'values': ['143.343456923899']}, {'name': 'Mar.2011', 'values': ['157.267034724766']}, {'name': 'Abr.2011', 'values': ['159.69395370901']}, {'name': 'May.2011', 'values': ['160.834987890283']}, {'name': 'Jun.2011', 'values': ['151.048891479227']}, {'name': 'Jul.2011', 'values': ['147.399809373692']}, {'name': 'Ago.2011', 'values': ['141.520964608873']}, {'name': 'Sep.2011', 'values': ['135.460648636374']}, {'name': 'Oct.2011', 'values': ['135.449246936659']}, {'name': 'Nov.2011', 'values': ['133.155423163807']}, {'name': 'Dic.2011', 'values': ['137.708065747742']}, {'name': 'Ene.2012', 'values': ['146.327531285341']}, {'name': 'Feb.2012', 'values': ['148.557847665851']}, {'name': 'Mar.2012', 'values': ['161.580362618803']}, {'name': 'Abr.2012', 'values': ['165.394632894585']}, {'name': 'May.2012', 'values': ['163.90924733265']}, {'name': 'Jun.2012', 'values': ['156.181954653913']}, {'name': 'Jul.2012', 'values': ['151.704922227562']}, {'name': 'Ago.2012', 'values': ['144.955983046294']}, {'name': 'Sep.2012', 'values': ['138.376350206113']}, {'name': 'Oct.2012', 'values': ['138.540517426018']}, {'name': 'Nov.2012', 'values': ['136.468359409608']}, {'name': 'Dic.2012', 'values': ['141.421942535027']}, {'name': 'Ene.2013', 'values': ['148.89832041978']}, {'name': 'Feb.2013', 'values': ['148.782951524618']}, {'name': 'Mar.2013', 'values': ['162.525105652169']}, {'name': 'Abr.2013', 'values': ['166.190900054303']}, {'name': 'May.2013', 'values': ['163.491267029501']}, {'name': 'Jun.2013', 'values': ['156.721413086202']}, {'name': 'Jul.2013', 'values': ['153.093819796117']}, {'name': 'Ago.2013', 'values': ['146.972665275274']}, {'name': 'Sep.2013', 'values': ['140.389417180753']}, {'name': 'Oct.2013', 'values': ['139.965589999188']}, {'name': 'Nov.2013', 'values': ['138.878628932167']}, {'name': 'Dic.2013', 'values': ['144.131222441031']}, {'name': 'Ene.2014', 'values': ['152.352971268845']}, {'name': 'Feb.2014', 'values': ['152.179973831997']}, {'name': 'Mar.2014', 'values': ['166.695114232689']}, {'name': 'Abr.2014', 'values': ['170.5105364266']}, {'name': 'May.2014', 'values': ['167.060887468659']}, {'name': 'Jun.2014', 'values': ['159.264715290915']}, {'name': 'Jul.2014', 'values': ['155.357869921921']}, {'name': 'Ago.2014', 'values': ['148.438082028266']}, {'name': 'Sep.2014', 'values': ['141.931810985657']}, {'name': 'Oct.2014', 'values': ['139.974730733047']}, {'name': 'Nov.2014', 'values': ['140.585368806241']}, {'name': 'Dic.2014', 'values': ['145.873935292393']}, {'name': 'Ene.2015', 'values': ['155.361791432021']}, {'name': 'Feb.2015', 'values': ['155.635934661071']}, {'name': 'Mar.2015', 'values': ['169.617083837336']}, {'name': 'Abr.2015', 'values': ['170.175567290423']}, {'name': 'May.2015', 'values': ['169.898193924621']}, {'name': 'Jun.2015', 'values': ['163.292528380031']}, {'name': 'Jul.2015', 'values': ['159.643937466303']}, {'name': 'Ago.2015', 'values': ['156.154849187757']}, {'name': 'Sep.2015', 'values': ['147.997682678199']}, {'name': 'Oct.2015', 'values': ['152.244973961076']}, {'name': 'Nov.2015', 'values': ['150.645006424838']}, {'name': 'Dic.2015', 'values': ['152.509176360972']}, {'name': 'Ene.2016', 'values': ['155.83320178973']}, {'name': 'Feb.2016', 'values': ['160.768221656596']}, {'name': 'Mar.2016', 'values': ['173.380635564146']}, {'name': 'Abr.2016', 'values': ['174.757690947249']}, {'name': 'May.2016', 'values': ['174.502311577975']}, {'name': 'Jun.2016', 'values': ['167.935003087233']}, {'name': 'Jul.2016', 'values': ['166.539595505394']}, {'name': 'Ago.2016', 'values': ['164.832635708914']}, {'name': 'Sep.2016', 'values': ['155.048368946129']}, {'name': 'Oct.2016', 'values': ['154.525270720936']}, {'name': 'Nov.2016', 'values': ['151.276748109209']}, {'name': 'Dic.2016', 'values': ['154.832057555249']}, {'name': 'Ene.2017', 'values': ['163.574874898189']}, {'name': 'Feb.2017', 'values': ['160.623274009741']}, {'name': 'Mar.2017', 'values': ['176.141087634659']}, {'name': 'Abr.2017', 'values': ['178.067088727032']}, {'name': 'May.2017', 'values': ['183.276605749471']}, {'name': 'Jun.2017', 'values': ['175.544021758159']}, {'name': 'Jul.2017', 'values': ['169.970885431735']}, {'name': 'Ago.2017', 'values': ['165.333746570632']}, {'name': 'Sep.2017', 'values': ['159.702969983132']}, {'name': 'Oct.2017', 'values': ['160.187867930092']}, {'name': 'Nov.2017', 'values': ['159.0176073047']}, {'name': 'Dic.2017', 'values': ['162.233688297984']}, {'name': 'Ene.2018', 'values': ['171.351292915338']}, {'name': 'Feb.2018', 'values': ['167.509213734592']}, {'name': 'Mar.2018', 'values': ['180.573917810868']}, {'name': 'Abr.2018', 'values': ['183.206483287013']}, {'name': 'May.2018', 'values': ['189.488098775152']}, {'name': 'Jun.2018', 'values': ['177.514533757896']}, {'name': 'Jul.2018', 'values': ['174.922292081142']}, {'name': 'Ago.2018', 'values': ['169.232472889946']}, {'name': 'Sep.2018', 'values': ['161.681360458497']}, {'name': 'Oct.2018', 'values': ['164.48452831401']}, {'name': 'Nov.2018', 'values': ['161.873270181779']}, {'name': 'Dic.2018', 'values': ['165.30504230096']}, {'name': 'Ene.2019', 'values': ['175.74628288618']}, {'name': 'Feb.2019', 'values': ['171.137401419005']}, {'name': 'Mar.2019', 'values': ['183.858990379999']}, {'name': 'Abr.2019', 'values': ['190.047593810316']}, {'name': 'May.2019', 'values': ['194.640611390219']}, {'name': 'Jun.2019', 'values': ['184.681322112474']}, {'name': 'Jul.2019', 'values': ['179.032612318968']}, {'name': 'Ago.2019', 'values': ['171.441969647387']}, {'name': 'Sep.2019', 'values': ['166.23924607661']}, {'name': 'Oct.2019', 'values': ['168.249438470409']}, {'name': 'Nov.2019', 'values': ['166.489726594319']}, {'name': 'Dic.2019', 'values': ['169.800657114616']}, {'name': 'Ene.2020', 'values': ['177.635863474891']}, {'name': 'Feb.2020', 'values': ['174.738176471524']}, {'name': 'Mar.2020', 'values': ['187.870909709003']}, {'name': 'Abr.2020', 'values': ['189.155946620694']}, {'name': 'May.2020', 'values': ['191.436530225709']}, {'name': 'Jun.2020', 'values': ['183.530374534544']}, {'name': 'Jul.2020', 'values': ['178.732122873612']}, {'name': 'Ago.2020', 'values': ['176.201711944121']}, {'name': 'Sep.2020', 'values': ['167.812124958664']}, {'name': 'Oct.2020', 'values': ['169.14659069114']}, {'name': 'Nov.2020', 'values': ['166.931149394565']}, {'name': 'Dic.2020', 'values': ['172.689819931736']}]}

In [275]:
for key in response_json.keys():
    print(key)

config
periods

In [276]:
print(response_json["config"])

{'title': 'ProducciÃ³n agropecuaria (miles de toneladas)', 'series': [{'name': 'ProducciÃ³n agropecuaria (miles de toneladas) - Pecuario - Leche', 'dec': '1'}]}

In [277]:
# llamar a los valores
print(response_json["periods"])

[{'name': 'Ene.2003', 'values': ['99.8725152088296']}, {'name': 'Feb.2003', 'values': ['99.7786528823267']}, {'name': 'Mar.2003', 'values': ['107.618680146983']}, {'name': 'Abr.2003', 'values': ['107.057547715502']}, {'name': 'May.2003', 'values': ['106.565050843249']}, {'name': 'Jun.2003', 'values': ['102.582744311122']}, {'name': 'Jul.2003', 'values': ['101.538599895408']}, {'name': 'Ago.2003', 'values': ['99.936596185305']}, {'name': 'Sep.2003', 'values': ['98.7055773906519']}, {'name': 'Oct.2003', 'values': ['100.588139288273']}, {'name': 'Nov.2003', 'values': ['98.9629611952148']}, {'name': 'Dic.2003', 'values': ['101.066865779215']}, {'name': 'Ene.2004', 'values': ['103.829474646411']}, {'name': 'Feb.2004', 'values': ['102.24008948628']}, {'name': 'Mar.2004', 'values': ['108.801917132957']}, {'name': 'Abr.2004', 'values': ['109.42748757995']}, {'name': 'May.2004', 'values': ['110.278422915']}, {'name': 'Jun.2004', 'values': ['107.8700917588']}, {'name': 'Jul.2004', 'values': ['106.95299974']}, {'name': 'Ago.2004', 'values': ['105.43720878754']}, {'name': 'Sep.2004', 'values': ['102.22390708']}, {'name': 'Oct.2004', 'values': ['103.72129019']}, {'name': 'Nov.2004', 'values': ['103.24284539']}, {'name': 'Dic.2004', 'values': ['105.454896217']}, {'name': 'Ene.2005', 'values': ['110.608958169406']}, {'name': 'Feb.2005', 'values': ['108.382865811063']}, {'name': 'Mar.2005', 'values': ['116.516358217313']}, {'name': 'Abr.2005', 'values': ['115.526937539957']}, {'name': 'May.2005', 'values': ['115.844957960439']}, {'name': 'Jun.2005', 'values': ['112.315845204328']}, {'name': 'Jul.2005', 'values': ['111.155083246087']}, {'name': 'Ago.2005', 'values': ['109.553781541151']}, {'name': 'Sep.2005', 'values': ['106.510996251563']}, {'name': 'Oct.2005', 'values': ['107.800458463637']}, {'name': 'Nov.2005', 'values': ['106.166676359739']}, {'name': 'Dic.2005', 'values': ['108.952043958197']}, {'name': 'Ene.2006', 'values': ['120.913017871']}, {'name': 'Feb.2006', 'values': ['118.46474360284']}, {'name': 'Mar.2006', 'values': ['133.182572761']}, {'name': 'Abr.2006', 'values': ['132.46564704']}, {'name': 'May.2006', 'values': ['131.820991933']}, {'name': 'Jun.2006', 'values': ['127.640806235']}, {'name': 'Jul.2006', 'values': ['125.4055629135']}, {'name': 'Ago.2006', 'values': ['121.45298391662']}, {'name': 'Sep.2006', 'values': ['115.8922724228']}, {'name': 'Oct.2006', 'values': ['117.32396185584']}, {'name': 'Nov.2006', 'values': ['115.641280914']}, {'name': 'Dic.2006', 'values': ['122.719620404744']}, {'name': 'Ene.2007', 'values': ['128.841911626']}, {'name': 'Feb.2007', 'values': ['128.041882861007']}, {'name': 'Mar.2007', 'values': ['140.3666492936']}, {'name': 'Abr.2007', 'values': ['139.067561461764']}, {'name': 'May.2007', 'values': ['139.48749663982']}, {'name': 'Jun.2007', 'values': ['134.726501332']}, {'name': 'Jul.2007', 'values': ['132.7129503266']}, {'name': 'Ago.2007', 'values': ['129.6366743569']}, {'name': 'Sep.2007', 'values': ['125.2225297107']}, {'name': 'Oct.2007', 'values': ['126.18211952412']}, {'name': 'Nov.2007', 'values': ['126.034492142641']}, {'name': 'Dic.2007', 'values': ['129.513676072745']}, {'name': 'Ene.2008', 'values': ['127.267672511488']}, {'name': 'Feb.2008', 'values': ['127.185198040595']}, {'name': 'Mar.2008', 'values': ['138.210541930028']}, {'name': 'Abr.2008', 'values': ['139.526370623894']}, {'name': 'May.2008', 'values': ['139.213364266161']}, {'name': 'Jun.2008', 'values': ['136.173177333496']}, {'name': 'Jul.2008', 'values': ['133.254095682376']}, {'name': 'Ago.2008', 'values': ['129.130265703482']}, {'name': 'Sep.2008', 'values': ['122.996077003466']}, {'name': 'Oct.2008', 'values': ['123.805524776227']}, {'name': 'Nov.2008', 'values': ['121.94993428388']}, {'name': 'Dic.2008', 'values': ['126.815984972846']}, {'name': 'Ene.2009', 'values': ['134.240586746915']}, {'name': 'Feb.2009', 'values': ['135.174853213385']}, {'name': 'Mar.2009', 'values': ['148.466414208198']}, {'name': 'Abr.2009', 'values': ['149.041131093687']}, {'name': 'May.2009', 'values': ['148.689839181076']}, {'name': 'Jun.2009', 'values': ['143.499615373874']}, {'name': 'Jul.2009', 'values': ['140.390017286329']}, {'name': 'Ago.2009', 'values': ['135.382611910227']}, {'name': 'Sep.2009', 'values': ['128.9140426196']}, {'name': 'Oct.2009', 'values': ['129.264390966427']}, {'name': 'Nov.2009', 'values': ['127.75272901402']}, {'name': 'Dic.2009', 'values': ['131.296090218531']}, {'name': 'Ene.2010', 'values': ['138.550241135044']}, {'name': 'Feb.2010', 'values': ['136.894192954858']}, {'name': 'Mar.2010', 'values': ['150.217205802633']}, {'name': 'Abr.2010', 'values': ['151.997021174445']}, {'name': 'May.2010', 'values': ['154.531245142705']}, {'name': 'Jun.2010', 'values': ['146.873774858744']}, {'name': 'Jul.2010', 'values': ['141.575160542516']}, {'name': 'Ago.2010', 'values': ['136.226744554304']}, {'name': 'Sep.2010', 'values': ['131.124637268001']}, {'name': 'Oct.2010', 'values': ['131.274596077993']}, {'name': 'Nov.2010', 'values': ['127.243626668236']}, {'name': 'Dic.2010', 'values': ['131.863644413744']}, {'name': 'Ene.2011', 'values': ['142.646173019941']}, {'name': 'Feb.2011', 'values': ['143.343456923899']}, {'name': 'Mar.2011', 'values': ['157.267034724766']}, {'name': 'Abr.2011', 'values': ['159.69395370901']}, {'name': 'May.2011', 'values': ['160.834987890283']}, {'name': 'Jun.2011', 'values': ['151.048891479227']}, {'name': 'Jul.2011', 'values': ['147.399809373692']}, {'name': 'Ago.2011', 'values': ['141.520964608873']}, {'name': 'Sep.2011', 'values': ['135.460648636374']}, {'name': 'Oct.2011', 'values': ['135.449246936659']}, {'name': 'Nov.2011', 'values': ['133.155423163807']}, {'name': 'Dic.2011', 'values': ['137.708065747742']}, {'name': 'Ene.2012', 'values': ['146.327531285341']}, {'name': 'Feb.2012', 'values': ['148.557847665851']}, {'name': 'Mar.2012', 'values': ['161.580362618803']}, {'name': 'Abr.2012', 'values': ['165.394632894585']}, {'name': 'May.2012', 'values': ['163.90924733265']}, {'name': 'Jun.2012', 'values': ['156.181954653913']}, {'name': 'Jul.2012', 'values': ['151.704922227562']}, {'name': 'Ago.2012', 'values': ['144.955983046294']}, {'name': 'Sep.2012', 'values': ['138.376350206113']}, {'name': 'Oct.2012', 'values': ['138.540517426018']}, {'name': 'Nov.2012', 'values': ['136.468359409608']}, {'name': 'Dic.2012', 'values': ['141.421942535027']}, {'name': 'Ene.2013', 'values': ['148.89832041978']}, {'name': 'Feb.2013', 'values': ['148.782951524618']}, {'name': 'Mar.2013', 'values': ['162.525105652169']}, {'name': 'Abr.2013', 'values': ['166.190900054303']}, {'name': 'May.2013', 'values': ['163.491267029501']}, {'name': 'Jun.2013', 'values': ['156.721413086202']}, {'name': 'Jul.2013', 'values': ['153.093819796117']}, {'name': 'Ago.2013', 'values': ['146.972665275274']}, {'name': 'Sep.2013', 'values': ['140.389417180753']}, {'name': 'Oct.2013', 'values': ['139.965589999188']}, {'name': 'Nov.2013', 'values': ['138.878628932167']}, {'name': 'Dic.2013', 'values': ['144.131222441031']}, {'name': 'Ene.2014', 'values': ['152.352971268845']}, {'name': 'Feb.2014', 'values': ['152.179973831997']}, {'name': 'Mar.2014', 'values': ['166.695114232689']}, {'name': 'Abr.2014', 'values': ['170.5105364266']}, {'name': 'May.2014', 'values': ['167.060887468659']}, {'name': 'Jun.2014', 'values': ['159.264715290915']}, {'name': 'Jul.2014', 'values': ['155.357869921921']}, {'name': 'Ago.2014', 'values': ['148.438082028266']}, {'name': 'Sep.2014', 'values': ['141.931810985657']}, {'name': 'Oct.2014', 'values': ['139.974730733047']}, {'name': 'Nov.2014', 'values': ['140.585368806241']}, {'name': 'Dic.2014', 'values': ['145.873935292393']}, {'name': 'Ene.2015', 'values': ['155.361791432021']}, {'name': 'Feb.2015', 'values': ['155.635934661071']}, {'name': 'Mar.2015', 'values': ['169.617083837336']}, {'name': 'Abr.2015', 'values': ['170.175567290423']}, {'name': 'May.2015', 'values': ['169.898193924621']}, {'name': 'Jun.2015', 'values': ['163.292528380031']}, {'name': 'Jul.2015', 'values': ['159.643937466303']}, {'name': 'Ago.2015', 'values': ['156.154849187757']}, {'name': 'Sep.2015', 'values': ['147.997682678199']}, {'name': 'Oct.2015', 'values': ['152.244973961076']}, {'name': 'Nov.2015', 'values': ['150.645006424838']}, {'name': 'Dic.2015', 'values': ['152.509176360972']}, {'name': 'Ene.2016', 'values': ['155.83320178973']}, {'name': 'Feb.2016', 'values': ['160.768221656596']}, {'name': 'Mar.2016', 'values': ['173.380635564146']}, {'name': 'Abr.2016', 'values': ['174.757690947249']}, {'name': 'May.2016', 'values': ['174.502311577975']}, {'name': 'Jun.2016', 'values': ['167.935003087233']}, {'name': 'Jul.2016', 'values': ['166.539595505394']}, {'name': 'Ago.2016', 'values': ['164.832635708914']}, {'name': 'Sep.2016', 'values': ['155.048368946129']}, {'name': 'Oct.2016', 'values': ['154.525270720936']}, {'name': 'Nov.2016', 'values': ['151.276748109209']}, {'name': 'Dic.2016', 'values': ['154.832057555249']}, {'name': 'Ene.2017', 'values': ['163.574874898189']}, {'name': 'Feb.2017', 'values': ['160.623274009741']}, {'name': 'Mar.2017', 'values': ['176.141087634659']}, {'name': 'Abr.2017', 'values': ['178.067088727032']}, {'name': 'May.2017', 'values': ['183.276605749471']}, {'name': 'Jun.2017', 'values': ['175.544021758159']}, {'name': 'Jul.2017', 'values': ['169.970885431735']}, {'name': 'Ago.2017', 'values': ['165.333746570632']}, {'name': 'Sep.2017', 'values': ['159.702969983132']}, {'name': 'Oct.2017', 'values': ['160.187867930092']}, {'name': 'Nov.2017', 'values': ['159.0176073047']}, {'name': 'Dic.2017', 'values': ['162.233688297984']}, {'name': 'Ene.2018', 'values': ['171.351292915338']}, {'name': 'Feb.2018', 'values': ['167.509213734592']}, {'name': 'Mar.2018', 'values': ['180.573917810868']}, {'name': 'Abr.2018', 'values': ['183.206483287013']}, {'name': 'May.2018', 'values': ['189.488098775152']}, {'name': 'Jun.2018', 'values': ['177.514533757896']}, {'name': 'Jul.2018', 'values': ['174.922292081142']}, {'name': 'Ago.2018', 'values': ['169.232472889946']}, {'name': 'Sep.2018', 'values': ['161.681360458497']}, {'name': 'Oct.2018', 'values': ['164.48452831401']}, {'name': 'Nov.2018', 'values': ['161.873270181779']}, {'name': 'Dic.2018', 'values': ['165.30504230096']}, {'name': 'Ene.2019', 'values': ['175.74628288618']}, {'name': 'Feb.2019', 'values': ['171.137401419005']}, {'name': 'Mar.2019', 'values': ['183.858990379999']}, {'name': 'Abr.2019', 'values': ['190.047593810316']}, {'name': 'May.2019', 'values': ['194.640611390219']}, {'name': 'Jun.2019', 'values': ['184.681322112474']}, {'name': 'Jul.2019', 'values': ['179.032612318968']}, {'name': 'Ago.2019', 'values': ['171.441969647387']}, {'name': 'Sep.2019', 'values': ['166.23924607661']}, {'name': 'Oct.2019', 'values': ['168.249438470409']}, {'name': 'Nov.2019', 'values': ['166.489726594319']}, {'name': 'Dic.2019', 'values': ['169.800657114616']}, {'name': 'Ene.2020', 'values': ['177.635863474891']}, {'name': 'Feb.2020', 'values': ['174.738176471524']}, {'name': 'Mar.2020', 'values': ['187.870909709003']}, {'name': 'Abr.2020', 'values': ['189.155946620694']}, {'name': 'May.2020', 'values': ['191.436530225709']}, {'name': 'Jun.2020', 'values': ['183.530374534544']}, {'name': 'Jul.2020', 'values': ['178.732122873612']}, {'name': 'Ago.2020', 'values': ['176.201711944121']}, {'name': 'Sep.2020', 'values': ['167.812124958664']}, {'name': 'Oct.2020', 'values': ['169.14659069114']}, {'name': 'Nov.2020', 'values': ['166.931149394565']}, {'name': 'Dic.2020', 'values': ['172.689819931736']}]

In [278]:
periodos=response_json.get("periods")
prod_leche=[]
for i in periodos:
    valores_list=i["values"]
    for w in valores_list:
        w=str(w)
        prod_leche.append(w)
        
print(prod_leche)

['99.8725152088296', '99.7786528823267', '107.618680146983', '107.057547715502', '106.565050843249', '102.582744311122', '101.538599895408', '99.936596185305', '98.7055773906519', '100.588139288273', '98.9629611952148', '101.066865779215', '103.829474646411', '102.24008948628', '108.801917132957', '109.42748757995', '110.278422915', '107.8700917588', '106.95299974', '105.43720878754', '102.22390708', '103.72129019', '103.24284539', '105.454896217', '110.608958169406', '108.382865811063', '116.516358217313', '115.526937539957', '115.844957960439', '112.315845204328', '111.155083246087', '109.553781541151', '106.510996251563', '107.800458463637', '106.166676359739', '108.952043958197', '120.913017871', '118.46474360284', '133.182572761', '132.46564704', '131.820991933', '127.640806235', '125.4055629135', '121.45298391662', '115.8922724228', '117.32396185584', '115.641280914', '122.719620404744', '128.841911626', '128.041882861007', '140.3666492936', '139.067561461764', '139.48749663982', '134.726501332', '132.7129503266', '129.6366743569', '125.2225297107', '126.18211952412', '126.034492142641', '129.513676072745', '127.267672511488', '127.185198040595', '138.210541930028', '139.526370623894', '139.213364266161', '136.173177333496', '133.254095682376', '129.130265703482', '122.996077003466', '123.805524776227', '121.94993428388', '126.815984972846', '134.240586746915', '135.174853213385', '148.466414208198', '149.041131093687', '148.689839181076', '143.499615373874', '140.390017286329', '135.382611910227', '128.9140426196', '129.264390966427', '127.75272901402', '131.296090218531', '138.550241135044', '136.894192954858', '150.217205802633', '151.997021174445', '154.531245142705', '146.873774858744', '141.575160542516', '136.226744554304', '131.124637268001', '131.274596077993', '127.243626668236', '131.863644413744', '142.646173019941', '143.343456923899', '157.267034724766', '159.69395370901', '160.834987890283', '151.048891479227', '147.399809373692', '141.520964608873', '135.460648636374', '135.449246936659', '133.155423163807', '137.708065747742', '146.327531285341', '148.557847665851', '161.580362618803', '165.394632894585', '163.90924733265', '156.181954653913', '151.704922227562', '144.955983046294', '138.376350206113', '138.540517426018', '136.468359409608', '141.421942535027', '148.89832041978', '148.782951524618', '162.525105652169', '166.190900054303', '163.491267029501', '156.721413086202', '153.093819796117', '146.972665275274', '140.389417180753', '139.965589999188', '138.878628932167', '144.131222441031', '152.352971268845', '152.179973831997', '166.695114232689', '170.5105364266', '167.060887468659', '159.264715290915', '155.357869921921', '148.438082028266', '141.931810985657', '139.974730733047', '140.585368806241', '145.873935292393', '155.361791432021', '155.635934661071', '169.617083837336', '170.175567290423', '169.898193924621', '163.292528380031', '159.643937466303', '156.154849187757', '147.997682678199', '152.244973961076', '150.645006424838', '152.509176360972', '155.83320178973', '160.768221656596', '173.380635564146', '174.757690947249', '174.502311577975', '167.935003087233', '166.539595505394', '164.832635708914', '155.048368946129', '154.525270720936', '151.276748109209', '154.832057555249', '163.574874898189', '160.623274009741', '176.141087634659', '178.067088727032', '183.276605749471', '175.544021758159', '169.970885431735', '165.333746570632', '159.702969983132', '160.187867930092', '159.0176073047', '162.233688297984', '171.351292915338', '167.509213734592', '180.573917810868', '183.206483287013', '189.488098775152', '177.514533757896', '174.922292081142', '169.232472889946', '161.681360458497', '164.48452831401', '161.873270181779', '165.30504230096', '175.74628288618', '171.137401419005', '183.858990379999', '190.047593810316', '194.640611390219', '184.681322112474', '179.032612318968', '171.441969647387', '166.23924607661', '168.249438470409', '166.489726594319', '169.800657114616', '177.635863474891', '174.738176471524', '187.870909709003', '189.155946620694', '191.436530225709', '183.530374534544', '178.732122873612', '176.201711944121', '167.812124958664', '169.14659069114', '166.931149394565', '172.689819931736']

In [279]:
fechas=[]
for i in periodos:
    nombres=i["name"]
    fechas.append(nombres)
print(fechas)

['Ene.2003', 'Feb.2003', 'Mar.2003', 'Abr.2003', 'May.2003', 'Jun.2003', 'Jul.2003', 'Ago.2003', 'Sep.2003', 'Oct.2003', 'Nov.2003', 'Dic.2003', 'Ene.2004', 'Feb.2004', 'Mar.2004', 'Abr.2004', 'May.2004', 'Jun.2004', 'Jul.2004', 'Ago.2004', 'Sep.2004', 'Oct.2004', 'Nov.2004', 'Dic.2004', 'Ene.2005', 'Feb.2005', 'Mar.2005', 'Abr.2005', 'May.2005', 'Jun.2005', 'Jul.2005', 'Ago.2005', 'Sep.2005', 'Oct.2005', 'Nov.2005', 'Dic.2005', 'Ene.2006', 'Feb.2006', 'Mar.2006', 'Abr.2006', 'May.2006', 'Jun.2006', 'Jul.2006', 'Ago.2006', 'Sep.2006', 'Oct.2006', 'Nov.2006', 'Dic.2006', 'Ene.2007', 'Feb.2007', 'Mar.2007', 'Abr.2007', 'May.2007', 'Jun.2007', 'Jul.2007', 'Ago.2007', 'Sep.2007', 'Oct.2007', 'Nov.2007', 'Dic.2007', 'Ene.2008', 'Feb.2008', 'Mar.2008', 'Abr.2008', 'May.2008', 'Jun.2008', 'Jul.2008', 'Ago.2008', 'Sep.2008', 'Oct.2008', 'Nov.2008', 'Dic.2008', 'Ene.2009', 'Feb.2009', 'Mar.2009', 'Abr.2009', 'May.2009', 'Jun.2009', 'Jul.2009', 'Ago.2009', 'Sep.2009', 'Oct.2009', 'Nov.2009', 'Dic.2009', 'Ene.2010', 'Feb.2010', 'Mar.2010', 'Abr.2010', 'May.2010', 'Jun.2010', 'Jul.2010', 'Ago.2010', 'Sep.2010', 'Oct.2010', 'Nov.2010', 'Dic.2010', 'Ene.2011', 'Feb.2011', 'Mar.2011', 'Abr.2011', 'May.2011', 'Jun.2011', 'Jul.2011', 'Ago.2011', 'Sep.2011', 'Oct.2011', 'Nov.2011', 'Dic.2011', 'Ene.2012', 'Feb.2012', 'Mar.2012', 'Abr.2012', 'May.2012', 'Jun.2012', 'Jul.2012', 'Ago.2012', 'Sep.2012', 'Oct.2012', 'Nov.2012', 'Dic.2012', 'Ene.2013', 'Feb.2013', 'Mar.2013', 'Abr.2013', 'May.2013', 'Jun.2013', 'Jul.2013', 'Ago.2013', 'Sep.2013', 'Oct.2013', 'Nov.2013', 'Dic.2013', 'Ene.2014', 'Feb.2014', 'Mar.2014', 'Abr.2014', 'May.2014', 'Jun.2014', 'Jul.2014', 'Ago.2014', 'Sep.2014', 'Oct.2014', 'Nov.2014', 'Dic.2014', 'Ene.2015', 'Feb.2015', 'Mar.2015', 'Abr.2015', 'May.2015', 'Jun.2015', 'Jul.2015', 'Ago.2015', 'Sep.2015', 'Oct.2015', 'Nov.2015', 'Dic.2015', 'Ene.2016', 'Feb.2016', 'Mar.2016', 'Abr.2016', 'May.2016', 'Jun.2016', 'Jul.2016', 'Ago.2016', 'Sep.2016', 'Oct.2016', 'Nov.2016', 'Dic.2016', 'Ene.2017', 'Feb.2017', 'Mar.2017', 'Abr.2017', 'May.2017', 'Jun.2017', 'Jul.2017', 'Ago.2017', 'Sep.2017', 'Oct.2017', 'Nov.2017', 'Dic.2017', 'Ene.2018', 'Feb.2018', 'Mar.2018', 'Abr.2018', 'May.2018', 'Jun.2018', 'Jul.2018', 'Ago.2018', 'Sep.2018', 'Oct.2018', 'Nov.2018', 'Dic.2018', 'Ene.2019', 'Feb.2019', 'Mar.2019', 'Abr.2019', 'May.2019', 'Jun.2019', 'Jul.2019', 'Ago.2019', 'Sep.2019', 'Oct.2019', 'Nov.2019', 'Dic.2019', 'Ene.2020', 'Feb.2020', 'Mar.2020', 'Abr.2020', 'May.2020', 'Jun.2020', 'Jul.2020', 'Ago.2020', 'Sep.2020', 'Oct.2020', 'Nov.2020', 'Dic.2020']

In [280]:
diccionario24= {"Fechas":fechas, "Valores":prod_leche}
print(diccionario24)

{'Fechas': ['Ene.2003', 'Feb.2003', 'Mar.2003', 'Abr.2003', 'May.2003', 'Jun.2003', 'Jul.2003', 'Ago.2003', 'Sep.2003', 'Oct.2003', 'Nov.2003', 'Dic.2003', 'Ene.2004', 'Feb.2004', 'Mar.2004', 'Abr.2004', 'May.2004', 'Jun.2004', 'Jul.2004', 'Ago.2004', 'Sep.2004', 'Oct.2004', 'Nov.2004', 'Dic.2004', 'Ene.2005', 'Feb.2005', 'Mar.2005', 'Abr.2005', 'May.2005', 'Jun.2005', 'Jul.2005', 'Ago.2005', 'Sep.2005', 'Oct.2005', 'Nov.2005', 'Dic.2005', 'Ene.2006', 'Feb.2006', 'Mar.2006', 'Abr.2006', 'May.2006', 'Jun.2006', 'Jul.2006', 'Ago.2006', 'Sep.2006', 'Oct.2006', 'Nov.2006', 'Dic.2006', 'Ene.2007', 'Feb.2007', 'Mar.2007', 'Abr.2007', 'May.2007', 'Jun.2007', 'Jul.2007', 'Ago.2007', 'Sep.2007', 'Oct.2007', 'Nov.2007', 'Dic.2007', 'Ene.2008', 'Feb.2008', 'Mar.2008', 'Abr.2008', 'May.2008', 'Jun.2008', 'Jul.2008', 'Ago.2008', 'Sep.2008', 'Oct.2008', 'Nov.2008', 'Dic.2008', 'Ene.2009', 'Feb.2009', 'Mar.2009', 'Abr.2009', 'May.2009', 'Jun.2009', 'Jul.2009', 'Ago.2009', 'Sep.2009', 'Oct.2009', 'Nov.2009', 'Dic.2009', 'Ene.2010', 'Feb.2010', 'Mar.2010', 'Abr.2010', 'May.2010', 'Jun.2010', 'Jul.2010', 'Ago.2010', 'Sep.2010', 'Oct.2010', 'Nov.2010', 'Dic.2010', 'Ene.2011', 'Feb.2011', 'Mar.2011', 'Abr.2011', 'May.2011', 'Jun.2011', 'Jul.2011', 'Ago.2011', 'Sep.2011', 'Oct.2011', 'Nov.2011', 'Dic.2011', 'Ene.2012', 'Feb.2012', 'Mar.2012', 'Abr.2012', 'May.2012', 'Jun.2012', 'Jul.2012', 'Ago.2012', 'Sep.2012', 'Oct.2012', 'Nov.2012', 'Dic.2012', 'Ene.2013', 'Feb.2013', 'Mar.2013', 'Abr.2013', 'May.2013', 'Jun.2013', 'Jul.2013', 'Ago.2013', 'Sep.2013', 'Oct.2013', 'Nov.2013', 'Dic.2013', 'Ene.2014', 'Feb.2014', 'Mar.2014', 'Abr.2014', 'May.2014', 'Jun.2014', 'Jul.2014', 'Ago.2014', 'Sep.2014', 'Oct.2014', 'Nov.2014', 'Dic.2014', 'Ene.2015', 'Feb.2015', 'Mar.2015', 'Abr.2015', 'May.2015', 'Jun.2015', 'Jul.2015', 'Ago.2015', 'Sep.2015', 'Oct.2015', 'Nov.2015', 'Dic.2015', 'Ene.2016', 'Feb.2016', 'Mar.2016', 'Abr.2016', 'May.2016', 'Jun.2016', 'Jul.2016', 'Ago.2016', 'Sep.2016', 'Oct.2016', 'Nov.2016', 'Dic.2016', 'Ene.2017', 'Feb.2017', 'Mar.2017', 'Abr.2017', 'May.2017', 'Jun.2017', 'Jul.2017', 'Ago.2017', 'Sep.2017', 'Oct.2017', 'Nov.2017', 'Dic.2017', 'Ene.2018', 'Feb.2018', 'Mar.2018', 'Abr.2018', 'May.2018', 'Jun.2018', 'Jul.2018', 'Ago.2018', 'Sep.2018', 'Oct.2018', 'Nov.2018', 'Dic.2018', 'Ene.2019', 'Feb.2019', 'Mar.2019', 'Abr.2019', 'May.2019', 'Jun.2019', 'Jul.2019', 'Ago.2019', 'Sep.2019', 'Oct.2019', 'Nov.2019', 'Dic.2019', 'Ene.2020', 'Feb.2020', 'Mar.2020', 'Abr.2020', 'May.2020', 'Jun.2020', 'Jul.2020', 'Ago.2020', 'Sep.2020', 'Oct.2020', 'Nov.2020', 'Dic.2020'], 'Valores': ['99.8725152088296', '99.7786528823267', '107.618680146983', '107.057547715502', '106.565050843249', '102.582744311122', '101.538599895408', '99.936596185305', '98.7055773906519', '100.588139288273', '98.9629611952148', '101.066865779215', '103.829474646411', '102.24008948628', '108.801917132957', '109.42748757995', '110.278422915', '107.8700917588', '106.95299974', '105.43720878754', '102.22390708', '103.72129019', '103.24284539', '105.454896217', '110.608958169406', '108.382865811063', '116.516358217313', '115.526937539957', '115.844957960439', '112.315845204328', '111.155083246087', '109.553781541151', '106.510996251563', '107.800458463637', '106.166676359739', '108.952043958197', '120.913017871', '118.46474360284', '133.182572761', '132.46564704', '131.820991933', '127.640806235', '125.4055629135', '121.45298391662', '115.8922724228', '117.32396185584', '115.641280914', '122.719620404744', '128.841911626', '128.041882861007', '140.3666492936', '139.067561461764', '139.48749663982', '134.726501332', '132.7129503266', '129.6366743569', '125.2225297107', '126.18211952412', '126.034492142641', '129.513676072745', '127.267672511488', '127.185198040595', '138.210541930028', '139.526370623894', '139.213364266161', '136.173177333496', '133.254095682376', '129.130265703482', '122.996077003466', '123.805524776227', '121.94993428388', '126.815984972846', '134.240586746915', '135.174853213385', '148.466414208198', '149.041131093687', '148.689839181076', '143.499615373874', '140.390017286329', '135.382611910227', '128.9140426196', '129.264390966427', '127.75272901402', '131.296090218531', '138.550241135044', '136.894192954858', '150.217205802633', '151.997021174445', '154.531245142705', '146.873774858744', '141.575160542516', '136.226744554304', '131.124637268001', '131.274596077993', '127.243626668236', '131.863644413744', '142.646173019941', '143.343456923899', '157.267034724766', '159.69395370901', '160.834987890283', '151.048891479227', '147.399809373692', '141.520964608873', '135.460648636374', '135.449246936659', '133.155423163807', '137.708065747742', '146.327531285341', '148.557847665851', '161.580362618803', '165.394632894585', '163.90924733265', '156.181954653913', '151.704922227562', '144.955983046294', '138.376350206113', '138.540517426018', '136.468359409608', '141.421942535027', '148.89832041978', '148.782951524618', '162.525105652169', '166.190900054303', '163.491267029501', '156.721413086202', '153.093819796117', '146.972665275274', '140.389417180753', '139.965589999188', '138.878628932167', '144.131222441031', '152.352971268845', '152.179973831997', '166.695114232689', '170.5105364266', '167.060887468659', '159.264715290915', '155.357869921921', '148.438082028266', '141.931810985657', '139.974730733047', '140.585368806241', '145.873935292393', '155.361791432021', '155.635934661071', '169.617083837336', '170.175567290423', '169.898193924621', '163.292528380031', '159.643937466303', '156.154849187757', '147.997682678199', '152.244973961076', '150.645006424838', '152.509176360972', '155.83320178973', '160.768221656596', '173.380635564146', '174.757690947249', '174.502311577975', '167.935003087233', '166.539595505394', '164.832635708914', '155.048368946129', '154.525270720936', '151.276748109209', '154.832057555249', '163.574874898189', '160.623274009741', '176.141087634659', '178.067088727032', '183.276605749471', '175.544021758159', '169.970885431735', '165.333746570632', '159.702969983132', '160.187867930092', '159.0176073047', '162.233688297984', '171.351292915338', '167.509213734592', '180.573917810868', '183.206483287013', '189.488098775152', '177.514533757896', '174.922292081142', '169.232472889946', '161.681360458497', '164.48452831401', '161.873270181779', '165.30504230096', '175.74628288618', '171.137401419005', '183.858990379999', '190.047593810316', '194.640611390219', '184.681322112474', '179.032612318968', '171.441969647387', '166.23924607661', '168.249438470409', '166.489726594319', '169.800657114616', '177.635863474891', '174.738176471524', '187.870909709003', '189.155946620694', '191.436530225709', '183.530374534544', '178.732122873612', '176.201711944121', '167.812124958664', '169.14659069114', '166.931149394565', '172.689819931736']}

In [281]:
df24=pd.DataFrame(diccionario24)
df24

       Fechas           Valores
0    Ene.2003  99.8725152088296
1    Feb.2003  99.7786528823267
2    Mar.2003  107.618680146983
3    Abr.2003  107.057547715502
4    May.2003  106.565050843249
..        ...               ...
211  Ago.2020  176.201711944121
212  Sep.2020  167.812124958664
213  Oct.2020   169.14659069114
214  Nov.2020  166.931149394565
215  Dic.2020  172.689819931736

[216 rows x 2 columns]

In [282]:
df24.rename(columns={'Valores':'Leche'}, inplace=True)
df24.head()

     Fechas             Leche
0  Ene.2003  99.8725152088296
1  Feb.2003  99.7786528823267
2  Mar.2003  107.618680146983
3  Abr.2003  107.057547715502
4  May.2003  106.565050843249

### Unión de datas

In [283]:
import pandas as pd
datafinal1=pd.merge(df1,df2, how='inner', on=["Fechas"])
datafinal1.head()

     Fechas        Papa       Arroz
0  Ene.2007  190.592479   153.07147
1  Feb.2007  241.405607  100.276492
2  Mar.2007  330.847567   179.56764
3  Abr.2007  657.989855   191.46439
4  May.2007  651.058632  511.391719

In [284]:
datafinal2=pd.merge(datafinal1,df3, how='inner', on=["Fechas"])
datafinal2.head()

     Fechas        Papa       Arroz    Cebolla
0  Ene.2007  190.592479   153.07147  53.090134
1  Feb.2007  241.405607  100.276492  42.734335
2  Mar.2007  330.847567   179.56764   43.04086
3  Abr.2007  657.989855   191.46439  41.027424
4  May.2007  651.058632  511.391719  35.703073

In [285]:
datafinal3=pd.merge(datafinal2,df4, how='inner', on=["Fechas"])
datafinal3.head()

     Fechas        Papa       Arroz    Cebolla  Mandarina
0  Ene.2007  190.592479   153.07147  53.090134   4.524879
1  Feb.2007  241.405607  100.276492  42.734335    7.47609
2  Mar.2007  330.847567   179.56764   43.04086   18.02925
3  Abr.2007  657.989855   191.46439  41.027424  24.538329
4  May.2007  651.058632  511.391719  35.703073   30.12295

In [286]:
datafinal4=pd.merge(datafinal3,df5, how='inner', on=["Fechas"])
datafinal4.head()

     Fechas        Papa       Arroz    Cebolla  Mandarina    Naranja
0  Ene.2007  190.592479   153.07147  53.090134   4.524879  18.475969
1  Feb.2007  241.405607  100.276492  42.734335    7.47609  17.634188
2  Mar.2007  330.847567   179.56764   43.04086   18.02925  21.262089
3  Abr.2007  657.989855   191.46439  41.027424  24.538329   27.36261
4  May.2007  651.058632  511.391719  35.703073   30.12295   36.60221

In [287]:
datafinal5=pd.merge(datafinal4,df6, how='inner', on=["Fechas"])
datafinal5.head()

,Fechas,Papa,Arroz,Cebolla,Mandarina,Naranja,Alfalfa
0,Ene.2007,190.592479,153.07147,53.090134,4.524879,18.475969,506.227757
1,Feb.2007,241.405607,100.276492,42.734335,7.47609,17.634188,510.469859
2,Mar.2007,330.847567,179.56764,43.04086,18.02925,21.262089,534.578727
3,Abr.2007,657.989855,191.46439,41.027424,24.538329,27.36261,571.195966
4,May.2007,651.058632,511.391719,35.703073,30.12295,36.60221,510.757404

In [288]:
datafinal6=pd.merge(datafinal5,df7, how='inner', on=["Fechas"])
datafinal6.head()

,Fechas,Papa,Arroz,Cebolla,Mandarina,Naranja,Alfalfa,Tomate
0,Ene.2007,190.592479,153.07147,53.090134,4.524879,18.475969,506.227757,21.07759
1,Feb.2007,241.405607,100.276492,42.734335,7.47609,17.634188,510.469859,19.876109
2,Mar.2007,330.847567,179.56764,43.04086,18.02925,21.262089,534.578727,15.60233
3,Abr.2007,657.989855,191.46439,41.027424,24.538329,27.36261,571.195966,13.049857
4,May.2007,651.058632,511.391719,35.703073,30.12295,36.60221,510.757404,9.775942

In [289]:
datafinal7=pd.merge(datafinal6,df8, how='inner', on=["Fechas"])
datafinal7.head()

,Fechas,Papa,Arroz,Cebolla,Mandarina,Naranja,Alfalfa,Tomate,Plátano
0,Ene.2007,190.592479,153.07147,53.090134,4.524879,18.475969,506.227757,21.07759,147.371159
1,Feb.2007,241.405607,100.276492,42.734335,7.47609,17.634188,510.469859,19.876109,152.182556
2,Mar.2007,330.847567,179.56764,43.04086,18.02925,21.262089,534.578727,15.60233,160.790619
3,Abr.2007,657.989855,191.46439,41.027424,24.538329,27.36261,571.195966,13.049857,157.293118
4,May.2007,651.058632,511.391719,35.703073,30.12295,36.60221,510.757404,9.775942,164.338878

In [290]:
datafinal8=pd.merge(datafinal7,df9, how='inner', on=["Fechas"])
datafinal8.head()

,Fechas,Papa,Arroz,Cebolla,Mandarina,Naranja,Alfalfa,Tomate,Plátano,Yuca
0,Ene.2007,190.592479,153.07147,53.090134,4.524879,18.475969,506.227757,21.07759,147.371159,86.6089
1,Feb.2007,241.405607,100.276492,42.734335,7.47609,17.634188,510.469859,19.876109,152.182556,94.842272
2,Mar.2007,330.847567,179.56764,43.04086,18.02925,21.262089,534.578727,15.60233,160.790619,84.385113
3,Abr.2007,657.989855,191.46439,41.027424,24.538329,27.36261,571.195966,13.049857,157.293118,84.254877
4,May.2007,651.058632,511.391719,35.703073,30.12295,36.60221,510.757404,9.775942,164.338878,86.391763

In [291]:
datafinal9=pd.merge(datafinal8,df10, how='inner', on=["Fechas"])
datafinal9.head()

,Fechas,Papa,Arroz,Cebolla,Mandarina,Naranja,Alfalfa,Tomate,Plátano,Yuca,Limón
0,Ene.2007,190.592479,153.07147,53.090134,4.524879,18.475969,506.227757,21.07759,147.371159,86.6089,28.661039
1,Feb.2007,241.405607,100.276492,42.734335,7.47609,17.634188,510.469859,19.876109,152.182556,94.842272,29.989099
2,Mar.2007,330.847567,179.56764,43.04086,18.02925,21.262089,534.578727,15.60233,160.790619,84.385113,32.599127
3,Abr.2007,657.989855,191.46439,41.027424,24.538329,27.36261,571.195966,13.049857,157.293118,84.254877,25.433921
4,May.2007,651.058632,511.391719,35.703073,30.12295,36.60221,510.757404,9.775942,164.338878,86.391763,25.01862

In [292]:
datafinal10=pd.merge(datafinal9,df11, how='inner', on=["Fechas"])
datafinal10.head()

,Fechas,Papa,Arroz,Cebolla,Mandarina,Naranja,Alfalfa,Tomate,Plátano,Yuca,Limón,Café
0,Ene.2007,190.592479,153.07147,53.090134,4.524879,18.475969,506.227757,21.07759,147.371159,86.6089,28.661039,0.45595
1,Feb.2007,241.405607,100.276492,42.734335,7.47609,17.634188,510.469859,19.876109,152.182556,94.842272,29.989099,5.09665
2,Mar.2007,330.847567,179.56764,43.04086,18.02925,21.262089,534.578727,15.60233,160.790619,84.385113,32.599127,17.748072
3,Abr.2007,657.989855,191.46439,41.027424,24.538329,27.36261,571.195966,13.049857,157.293118,84.254877,25.433921,39.014465
4,May.2007,651.058632,511.391719,35.703073,30.12295,36.60221,510.757404,9.775942,164.338878,86.391763,25.01862,52.576826

In [293]:
datafinal11=pd.merge(datafinal10,df12, how='inner', on=["Fechas"])
datafinal11.head()

,Fechas,Papa,Arroz,Cebolla,Mandarina,Naranja,Alfalfa,Tomate,Plátano,Yuca,Limón,Café,Caña_azúcar
0,Ene.2007,190.592479,153.07147,53.090134,4.524879,18.475969,506.227757,21.07759,147.371159,86.6089,28.661039,0.45595,653.65969
1,Feb.2007,241.405607,100.276492,42.734335,7.47609,17.634188,510.469859,19.876109,152.182556,94.842272,29.989099,5.09665,577.153718295517
2,Mar.2007,330.847567,179.56764,43.04086,18.02925,21.262089,534.578727,15.60233,160.790619,84.385113,32.599127,17.748072,529.53147
3,Abr.2007,657.989855,191.46439,41.027424,24.538329,27.36261,571.195966,13.049857,157.293118,84.254877,25.433921,39.014465,329.611459
4,May.2007,651.058632,511.391719,35.703073,30.12295,36.60221,510.757404,9.775942,164.338878,86.391763,25.01862,52.576826,582.68222

In [294]:
datafinal12=pd.merge(datafinal11,df13, how='inner', on=["Fechas"])
datafinal12.head()

,Fechas,Papa,Arroz,Cebolla,Mandarina,Naranja,Alfalfa,Tomate,Plátano,Yuca,Limón,Café,Caña_azúcar,Espárrago
0,Ene.2007,190.592479,153.07147,53.090134,4.524879,18.475969,506.227757,21.07759,147.371159,86.6089,28.661039,0.45595,653.65969,19.6236
1,Feb.2007,241.405607,100.276492,42.734335,7.47609,17.634188,510.469859,19.876109,152.182556,94.842272,29.989099,5.09665,577.153718295517,21.2164
2,Mar.2007,330.847567,179.56764,43.04086,18.02925,21.262089,534.578727,15.60233,160.790619,84.385113,32.599127,17.748072,529.53147,21.24845
3,Abr.2007,657.989855,191.46439,41.027424,24.538329,27.36261,571.195966,13.049857,157.293118,84.254877,25.433921,39.014465,329.611459,20.9382
4,May.2007,651.058632,511.391719,35.703073,30.12295,36.60221,510.757404,9.775942,164.338878,86.391763,25.01862,52.576826,582.68222,18.985

In [295]:
datafinal13=pd.merge(datafinal12,df14, how='inner', on=["Fechas"])
datafinal13.head()

,Fechas,Papa,Arroz,Cebolla,Mandarina,Naranja,Alfalfa,Tomate,Plátano,Yuca,Limón,Café,Caña_azúcar,Espárrago,Mango
0,Ene.2007,190.592479,153.07147,53.090134,4.524879,18.475969,506.227757,21.07759,147.371159,86.6089,28.661039,0.45595,653.65969,19.6236,71.42508
1,Feb.2007,241.405607,100.276492,42.734335,7.47609,17.634188,510.469859,19.876109,152.182556,94.842272,29.989099,5.09665,577.153718295517,21.2164,19.263348
2,Mar.2007,330.847567,179.56764,43.04086,18.02925,21.262089,534.578727,15.60233,160.790619,84.385113,32.599127,17.748072,529.53147,21.24845,11.434269
3,Abr.2007,657.989855,191.46439,41.027424,24.538329,27.36261,571.195966,13.049857,157.293118,84.254877,25.433921,39.014465,329.611459,20.9382,7.04708
4,May.2007,651.058632,511.391719,35.703073,30.12295,36.60221,510.757404,9.775942,164.338878,86.391763,25.01862,52.576826,582.68222,18.985,3.221

In [296]:
datafinal14=pd.merge(datafinal13,df15, how='inner', on=["Fechas"])
datafinal14.head()

,Fechas,Papa,Arroz,Cebolla,Mandarina,Naranja,Alfalfa,Tomate,Plátano,Yuca,Limón,Café,Caña_azúcar,Espárrago,Mango,Cacao
0,Ene.2007,190.592479,153.07147,53.090134,4.524879,18.475969,506.227757,21.07759,147.371159,86.6089,28.661039,0.45595,653.65969,19.6236,71.42508,2.13525
1,Feb.2007,241.405607,100.276492,42.734335,7.47609,17.634188,510.469859,19.876109,152.182556,94.842272,29.989099,5.09665,577.153718295517,21.2164,19.263348,2.466691
2,Mar.2007,330.847567,179.56764,43.04086,18.02925,21.262089,534.578727,15.60233,160.790619,84.385113,32.599127,17.748072,529.53147,21.24845,11.434269,2.520148
3,Abr.2007,657.989855,191.46439,41.027424,24.538329,27.36261,571.195966,13.049857,157.293118,84.254877,25.433921,39.014465,329.611459,20.9382,7.04708,3.170455
4,May.2007,651.058632,511.391719,35.703073,30.12295,36.60221,510.757404,9.775942,164.338878,86.391763,25.01862,52.576826,582.68222,18.985,3.221,4.781921

In [297]:
datafinal15=pd.merge(datafinal14,df16, how='inner', on=["Fechas"])
datafinal15.head()

,Fechas,Papa,Arroz,Cebolla,Mandarina,Naranja,Alfalfa,Tomate,Plátano,Yuca,Limón,Café,Caña_azúcar,Espárrago,Mango,Cacao,Palma_aceitera
0,Ene.2007,190.592479,153.07147,53.090134,4.524879,18.475969,506.227757,21.07759,147.371159,86.6089,28.661039,0.45595,653.65969,19.6236,71.42508,2.13525,23.1921
1,Feb.2007,241.405607,100.276492,42.734335,7.47609,17.634188,510.469859,19.876109,152.182556,94.842272,29.989099,5.09665,577.153718295517,21.2164,19.263348,2.466691,19.8595
2,Mar.2007,330.847567,179.56764,43.04086,18.02925,21.262089,534.578727,15.60233,160.790619,84.385113,32.599127,17.748072,529.53147,21.24845,11.434269,2.520148,20.9496
3,Abr.2007,657.989855,191.46439,41.027424,24.538329,27.36261,571.195966,13.049857,157.293118,84.254877,25.433921,39.014465,329.611459,20.9382,7.04708,3.170455,15.57025
4,May.2007,651.058632,511.391719,35.703073,30.12295,36.60221,510.757404,9.775942,164.338878,86.391763,25.01862,52.576826,582.68222,18.985,3.221,4.781921,18.3122

In [298]:
datafinal16=pd.merge(datafinal15,df17, how='inner', on=["Fechas"])
datafinal16.head()

,Fechas,Papa,Arroz,Cebolla,Mandarina,Naranja,Alfalfa,Tomate,Plátano,Yuca,Limón,Café,Caña_azúcar,Espárrago,Mango,Cacao,Palma_aceitera,Quinua
0,Ene.2007,190.592479,153.07147,53.090134,4.524879,18.475969,506.227757,21.07759,147.371159,86.6089,28.661039,0.45595,653.65969,19.6236,71.42508,2.13525,23.1921,0
1,Feb.2007,241.405607,100.276492,42.734335,7.47609,17.634188,510.469859,19.876109,152.182556,94.842272,29.989099,5.09665,577.153718295517,21.2164,19.263348,2.466691,19.8595,0
2,Mar.2007,330.847567,179.56764,43.04086,18.02925,21.262089,534.578727,15.60233,160.790619,84.385113,32.599127,17.748072,529.53147,21.24845,11.434269,2.520148,20.9496,1.86981
3,Abr.2007,657.989855,191.46439,41.027424,24.538329,27.36261,571.195966,13.049857,157.293118,84.254877,25.433921,39.014465,329.611459,20.9382,7.04708,3.170455,15.57025,20.440755
4,May.2007,651.058632,511.391719,35.703073,30.12295,36.60221,510.757404,9.775942,164.338878,86.391763,25.01862,52.576826,582.68222,18.985,3.221,4.781921,18.3122,6.276512

In [299]:
datafinal17=pd.merge(datafinal16,df18, how='inner', on=["Fechas"])
datafinal17.head()

,Fechas,Papa,Arroz,Cebolla,Mandarina,Naranja,Alfalfa,Tomate,Plátano,Yuca,Limón,Café,Caña_azúcar,Espárrago,Mango,Cacao,Palma_aceitera,Quinua,Uva
0,Ene.2007,190.592479,153.07147,53.090134,4.524879,18.475969,506.227757,21.07759,147.371159,86.6089,28.661039,0.45595,653.65969,19.6236,71.42508,2.13525,23.1921,0,26.7654
1,Feb.2007,241.405607,100.276492,42.734335,7.47609,17.634188,510.469859,19.876109,152.182556,94.842272,29.989099,5.09665,577.153718295517,21.2164,19.263348,2.466691,19.8595,0,46.227995
2,Mar.2007,330.847567,179.56764,43.04086,18.02925,21.262089,534.578727,15.60233,160.790619,84.385113,32.599127,17.748072,529.53147,21.24845,11.434269,2.520148,20.9496,1.86981,30.853878
3,Abr.2007,657.989855,191.46439,41.027424,24.538329,27.36261,571.195966,13.049857,157.293118,84.254877,25.433921,39.014465,329.611459,20.9382,7.04708,3.170455,15.57025,20.440755,22.520426
4,May.2007,651.058632,511.391719,35.703073,30.12295,36.60221,510.757404,9.775942,164.338878,86.391763,25.01862,52.576826,582.68222,18.985,3.221,4.781921,18.3122,6.276512,6.11471

In [300]:
datafinal18=pd.merge(datafinal17,df19, how='inner', on=["Fechas"])
datafinal18.head()

,Fechas,Papa,Arroz,Cebolla,Mandarina,Naranja,Alfalfa,Tomate,Plátano,Yuca,Limón,Café,Caña_azúcar,Espárrago,Mango,Cacao,Palma_aceitera,Quinua,Uva,Maíz
0,Ene.2007,190.592479,153.07147,53.090134,4.524879,18.475969,506.227757,21.07759,147.371159,86.6089,28.661039,0.45595,653.65969,19.6236,71.42508,2.13525,23.1921,0,26.7654,72.384329
1,Feb.2007,241.405607,100.276492,42.734335,7.47609,17.634188,510.469859,19.876109,152.182556,94.842272,29.989099,5.09665,577.153718295517,21.2164,19.263348,2.466691,19.8595,0,46.227995,93.52577
2,Mar.2007,330.847567,179.56764,43.04086,18.02925,21.262089,534.578727,15.60233,160.790619,84.385113,32.599127,17.748072,529.53147,21.24845,11.434269,2.520148,20.9496,1.86981,30.853878,66.258969
3,Abr.2007,657.989855,191.46439,41.027424,24.538329,27.36261,571.195966,13.049857,157.293118,84.254877,25.433921,39.014465,329.611459,20.9382,7.04708,3.170455,15.57025,20.440755,22.520426,59.029558
4,May.2007,651.058632,511.391719,35.703073,30.12295,36.60221,510.757404,9.775942,164.338878,86.391763,25.01862,52.576826,582.68222,18.985,3.221,4.781921,18.3122,6.276512,6.11471,83.383422

In [301]:
datafinal19=pd.merge(datafinal18,df20, how='inner', on=["Fechas"])
datafinal19.head()

,Fechas,Papa,Arroz,Cebolla,Mandarina,Naranja,Alfalfa,Tomate,Plátano,Yuca,...,Café,Caña_azúcar,Espárrago,Mango,Cacao,Palma_aceitera,Quinua,Uva,Maíz,Ave
0,Ene.2007,190.592479,153.07147,53.090134,4.524879,18.475969,506.227757,21.07759,147.371159,86.6089,...,0.45595,653.65969,19.6236,71.42508,2.13525,23.1921,0,26.7654,72.384329,79.4674717019697
1,Feb.2007,241.405607,100.276492,42.734335,7.47609,17.634188,510.469859,19.876109,152.182556,94.842272,...,5.09665,577.153718295517,21.2164,19.263348,2.466691,19.8595,0,46.227995,93.52577,77.9244474119119
2,Mar.2007,330.847567,179.56764,43.04086,18.02925,21.262089,534.578727,15.60233,160.790619,84.385113,...,17.748072,529.53147,21.24845,11.434269,2.520148,20.9496,1.86981,30.853878,66.258969,79.6597536445092
3,Abr.2007,657.989855,191.46439,41.027424,24.538329,27.36261,571.195966,13.049857,157.293118,84.254877,...,39.014465,329.611459,20.9382,7.04708,3.170455,15.57025,20.440755,22.520426,59.029558,70.4650491883974
4,May.2007,651.058632,511.391719,35.703073,30.12295,36.60221,510.757404,9.775942,164.338878,86.391763,...,52.576826,582.68222,18.985,3.221,4.781921,18.3122,6.276512,6.11471,83.383422,77.6556051666744

In [302]:
datafinal20=pd.merge(datafinal19,df21, how='inner', on=["Fechas"])
datafinal20.head()

,Fechas,Papa,Arroz,Cebolla,Mandarina,Naranja,Alfalfa,Tomate,Plátano,Yuca,...,Caña_azúcar,Espárrago,Mango,Cacao,Palma_aceitera,Quinua,Uva,Maíz,Ave,Vacuno
0,Ene.2007,190.592479,153.07147,53.090134,4.524879,18.475969,506.227757,21.07759,147.371159,86.6089,...,653.65969,19.6236,71.42508,2.13525,23.1921,0,26.7654,72.384329,79.4674717019697,23.2945951176471
1,Feb.2007,241.405607,100.276492,42.734335,7.47609,17.634188,510.469859,19.876109,152.182556,94.842272,...,577.153718295517,21.2164,19.263348,2.466691,19.8595,0,46.227995,93.52577,77.9244474119119,24.9745611960784
2,Mar.2007,330.847567,179.56764,43.04086,18.02925,21.262089,534.578727,15.60233,160.790619,84.385113,...,529.53147,21.24845,11.434269,2.520148,20.9496,1.86981,30.853878,66.258969,79.6597536445092,26.1989977653458
3,Abr.2007,657.989855,191.46439,41.027424,24.538329,27.36261,571.195966,13.049857,157.293118,84.254877,...,329.611459,20.9382,7.04708,3.170455,15.57025,20.440755,22.520426,59.029558,70.4650491883974,28.2258040980392
4,May.2007,651.058632,511.391719,35.703073,30.12295,36.60221,510.757404,9.775942,164.338878,86.391763,...,582.68222,18.985,3.221,4.781921,18.3122,6.276512,6.11471,83.383422,77.6556051666744,28.4688909215686

In [303]:
datafinal21=pd.merge(datafinal20,df22, how='inner', on=["Fechas"])
datafinal21.head()

,Fechas,Papa,Arroz,Cebolla,Mandarina,Naranja,Alfalfa,Tomate,Plátano,Yuca,...,Espárrago,Mango,Cacao,Palma_aceitera,Quinua,Uva,Maíz,Ave,Vacuno,Huevos
0,Ene.2007,190.592479,153.07147,53.090134,4.524879,18.475969,506.227757,21.07759,147.371159,86.6089,...,19.6236,71.42508,2.13525,23.1921,0,26.7654,72.384329,79.4674717019697,23.2945951176471,21.9624810021868
1,Feb.2007,241.405607,100.276492,42.734335,7.47609,17.634188,510.469859,19.876109,152.182556,94.842272,...,21.2164,19.263348,2.466691,19.8595,0,46.227995,93.52577,77.9244474119119,24.9745611960784,21.9333333819646
2,Mar.2007,330.847567,179.56764,43.04086,18.02925,21.262089,534.578727,15.60233,160.790619,84.385113,...,21.24845,11.434269,2.520148,20.9496,1.86981,30.853878,66.258969,79.6597536445092,26.1989977653458,21.9956709586733
3,Abr.2007,657.989855,191.46439,41.027424,24.538329,27.36261,571.195966,13.049857,157.293118,84.254877,...,20.9382,7.04708,3.170455,15.57025,20.440755,22.520426,59.029558,70.4650491883974,28.2258040980392,21.989894309652
4,May.2007,651.058632,511.391719,35.703073,30.12295,36.60221,510.757404,9.775942,164.338878,86.391763,...,18.985,3.221,4.781921,18.3122,6.276512,6.11471,83.383422,77.6556051666744,28.4688909215686,21.7552395319357

In [304]:
datafinal22=pd.merge(datafinal21,df23, how='inner', on=["Fechas"])
datafinal22.head()

,Fechas,Papa,Arroz,Cebolla,Mandarina,Naranja,Alfalfa,Tomate,Plátano,Yuca,...,Mango,Cacao,Palma_aceitera,Quinua,Uva,Maíz,Ave,Vacuno,Huevos,Porcino
0,Ene.2007,190.592479,153.07147,53.090134,4.524879,18.475969,506.227757,21.07759,147.371159,86.6089,...,71.42508,2.13525,23.1921,0,26.7654,72.384329,79.4674717019697,23.2945951176471,21.9624810021868,11.4934253653333
1,Feb.2007,241.405607,100.276492,42.734335,7.47609,17.634188,510.469859,19.876109,152.182556,94.842272,...,19.263348,2.466691,19.8595,0,46.227995,93.52577,77.9244474119119,24.9745611960784,21.9333333819646,11.3939218986667
2,Mar.2007,330.847567,179.56764,43.04086,18.02925,21.262089,534.578727,15.60233,160.790619,84.385113,...,11.434269,2.520148,20.9496,1.86981,30.853878,66.258969,79.6597536445092,26.1989977653458,21.9956709586733,11.9728222755556
3,Abr.2007,657.989855,191.46439,41.027424,24.538329,27.36261,571.195966,13.049857,157.293118,84.254877,...,7.04708,3.170455,15.57025,20.440755,22.520426,59.029558,70.4650491883974,28.2258040980392,21.989894309652,12.3572664746667
4,May.2007,651.058632,511.391719,35.703073,30.12295,36.60221,510.757404,9.775942,164.338878,86.391763,...,3.221,4.781921,18.3122,6.276512,6.11471,83.383422,77.6556051666744,28.4688909215686,21.7552395319357,12.7412889866667

In [305]:
data_produccion_agropecuaria=pd.merge(datafinal22,df24, how='inner', on=["Fechas"])
data_produccion_agropecuaria.head()

,Fechas,Papa,Arroz,Cebolla,Mandarina,Naranja,Alfalfa,Tomate,Plátano,Yuca,...,Cacao,Palma_aceitera,Quinua,Uva,Maíz,Ave,Vacuno,Huevos,Porcino,Leche
0,Ene.2007,190.592479,153.07147,53.090134,4.524879,18.475969,506.227757,21.07759,147.371159,86.6089,...,2.13525,23.1921,0,26.7654,72.384329,79.4674717019697,23.2945951176471,21.9624810021868,11.4934253653333,128.841911626
1,Feb.2007,241.405607,100.276492,42.734335,7.47609,17.634188,510.469859,19.876109,152.182556,94.842272,...,2.466691,19.8595,0,46.227995,93.52577,77.9244474119119,24.9745611960784,21.9333333819646,11.3939218986667,128.041882861007
2,Mar.2007,330.847567,179.56764,43.04086,18.02925,21.262089,534.578727,15.60233,160.790619,84.385113,...,2.520148,20.9496,1.86981,30.853878,66.258969,79.6597536445092,26.1989977653458,21.9956709586733,11.9728222755556,140.3666492936
3,Abr.2007,657.989855,191.46439,41.027424,24.538329,27.36261,571.195966,13.049857,157.293118,84.254877,...,3.170455,15.57025,20.440755,22.520426,59.029558,70.4650491883974,28.2258040980392,21.989894309652,12.3572664746667,139.067561461764
4,May.2007,651.058632,511.391719,35.703073,30.12295,36.60221,510.757404,9.775942,164.338878,86.391763,...,4.781921,18.3122,6.276512,6.11471,83.383422,77.6556051666744,28.4688909215686,21.7552395319357,12.7412889866667,139.48749663982

In [306]:
# Verificar si hay valores nulos
data_produccion_agropecuaria1=data_produccion_agropecuaria.isnull()
data_produccion_agropecuaria1

,Fechas,Papa,Arroz,Cebolla,Mandarina,Naranja,Alfalfa,Tomate,Plátano,Yuca,...,Cacao,Palma_aceitera,Quinua,Uva,Maíz,Ave,Vacuno,Huevos,Porcino,Leche
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
164,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
165,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
166,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
167,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [307]:
# Exportar los datos en formato csv 
data_produccion_agropecuaria.to_csv('Data_produccion_agropecuaria.csv', index = True)

### FUENTES:

* https://estadisticas.bcrp.gob.pe/estadisticas/series/
* https://siea.midagri.gob.pe/portal/siea_bi/index.html